extends ../../bootstrap_base
block title
  title 提现中心
  +includeCSS('/account/finance/finance.css')
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-8.col-md-offset-2.box-shadow-panel
        #data.hidden= objToStr({mainScore: data.mainScore, countToday: data.countToday, withdrawSettings: data.withdrawSettings, userMainScore: data.userMainScore, alipayAccounts: data.alipayAccounts, bankAccounts: data.bankAccounts})
        div#app(v-cloak)
          .row(v-if="succeed").text-center.m-t-4
            //include ../../publicModules/icon-success
            //h3 提现成功
            //h5 你已成功提现
            //  strong.text-danger &nbsp;{{succeedMoney/100}}&nbsp;
            //  |个科创币，当前科创币剩余
            //  strong.text-danger &nbsp;{{user.kcb/100}}&nbsp;
            //  |个
            //a(onclick=`NKC.methods.visitUrl('/u/${data.user.uid}/profile/finance?t=payout')`).m-r-1 查看记录
            //a(onclick="NKC.methods.visitUrl('/account/finance/withdraw')") 再次提现
          .row(v-else )
            .col-xs-12.col-xs-12
              -const targetUserScores = data.userScores;
              include ./nav
              include ../../account/finance/rechargeNav
            .col-xs-12.col-xs-12.m-t-1
              h5.text-danger 注意事项：
              ul
                li 可提现的时间段为
                  strong.text-danger &nbsp;{{timeBegin}}&nbsp;
                  |到
                  strong.text-danger &nbsp;{{timeEnd}}&nbsp;
                li 单笔提现金额不能低于
                  strong.text-danger &nbsp;{{withdrawSettings.min/100}}&nbsp;
                  |元，不能超过
                  strong.text-danger &nbsp;{{withdrawSettings.max/100}}&nbsp;
                  |元
                li 每天有
                  strong.text-danger &nbsp;{{withdrawSettings.countOneDay}}&nbsp;
                  |次提现机会，你今天还有
                  strong.text-danger &nbsp;{{withdrawSettings.countOneDay - countToday < 0?0:withdrawSettings.countOneDay - countToday}}&nbsp;
                  |次提现机会
            .col-xs-12.col-xs-12.text-center.h4.m-t-5.m-b-5(v-if="!withdrawSettings.enabled") 提现功能已关闭
            .col-xs-12.col-xs-12.text-center.h4.m-t-5.m-b-5(v-else-if="outTime")
              span 暂未开放，允许提现的时间段为：
                strong.text-danger {{timeBegin}} 到 {{timeEnd}}
            .col-xs-12.col-xs-12.text-center.h4.m-t-5.m-b-5(v-else-if="withdrawSettings.countOneDay - countToday <= 0")
              span 你今日的提现次数已用完，请明天再试
            .col-xs-12.col-xs-12(v-else)
              .m-t-1
                h4 提现到
                .row
                  .col-xs-4.col-md-2(v-for="p in payments")
                    .payment-panel(:class="{'active': payment === p.type}" @click='selectPayment(p.type)')
                      .pointer(v-if='payment === p.type')
                        .fa.fa-check
                      span {{p.name}}
                  .col-xs-12.m-t-05
                    span.fee-info {{payInfo}}
              .m-t-1
                h4 选择支付宝账户
                h5.text-danger(v-if="!alipayAccounts.length") 你未添加支付宝账号，
                  a(onclick=`NKC.methods.visitUrl('/u/${data.user.uid}/settings/transaction')`) 去添加
                .row(v-else)
                  .col-xs-12.col-md-4.m-b-1(v-for="alipay in alipayAccounts" @click="selectAccount(alipay)")
                    .payment-panel(:class="{'active': selectedAccount.account === alipay.account}")
                      .default(v-if="alipay.default") 默认
                      .pointer(v-if='selectedAccount.account === alipay.account')
                        .fa.fa-check
                      span {{alipay.account}} {{alipay.name}}
                  .col-xs-12.m-t-1
                    a(onclick=`NKC.methods.visitUrl('/u/${data.user.uid}/settings/transaction')`) 其他账号
              .m-t-1
                h4 输入需要提现的{{mainScore.name}}数额&nbsp;
                  small 当前账户剩余{{mainScore.name}}：
                    strong.text-danger {{userMainScore/100}}&nbsp;
                    | {{mainScore.unit}}
                .row
                  .col-xs-12.col-md-12
                    .row
                      .col-xs-12.col-md-4
                        input.form-control(type="text" v-model.number="money" @change='onInputMoney')
                      .col-xs-12.col-md-12
                        h5.fee-info(v-if="money && payment") 手续费
                          strong.text-danger &nbsp;{{(paymentMoney - effectiveMoney) / 100}}&nbsp;
                          |元，你的账户实际将到账
                          strong.text-danger &nbsp;{{effectiveMoney / 100}}&nbsp;
                          |元
              .m-t-1
                h4 输入短信验证码
                if data.user.authLevel < 1
                  h5.text-danger 你未绑定手机号，
                    a(onclick=`NKC.methods.visitUrl('/u/${data.user.uid}/settings/security')`) 去绑定
                else
                  .row
                    .col-xs-12.col-md-2
                      input.form-control(type="text" v-model="code")
                    .col-xs-12.col-md-3
                      button.btn.btn-default(v-if="!timeLimit" @click="sendMessage") 发送验证码
                      button(v-else).btn.btn-default.disabled 发送验证码({{timeLimit}})
              .m-t-1
                h4 输入登录密码
                .row
                  .col-xs-12.col-md-4
                    input.form-control(type="password" v-model="password" autocomplete="new-password")
              .m-t-1
                hr
                .text-center
                  h4.text-danger(v-if='error') {{error}}
                  h4.text-success(v-if='info') {{info}}
                  button.pay.cp(@click='submit' v-if="!submitted") 提交
                  button.pay.cp(v-else) 提交中...




block scripts
  +includeJS('/account/finance/withdraw.js')
