extends ../../../../bootstrap_base
block title
  title 弱密码检测结果
  +includeCSS('/experimental/index.css')
  +includeCSS("/experimental/settings/safe/weakPasswordCheck/weakPasswordCheck.css")
  
block content
  .container-fluid.max-width
    #app.row(v-cloak)
      include ../../../nav
      .col-xs-12.col-md-12
        h4 弱密码检测结果
      .col-xs-12.col-md-12
        include ../../../../publicModules/paging/paging
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th 用户
                th 弱密码
                th 检测时间
            tbody
              if data.list.length
                for person in data.list
                  tr
                    td
                      .user
                        .user-avatar(style=`background-image: url(${tools.getUrl("userAvatar", person.userinfo.avatar)})`)
                        a.username(href=tools.getUrl("userHome", person.uid) data-float-uid=person.uid)= person.userinfo.username
                    td= person.password? person.password : "未知" 
                    td= person.toc? format("YYYY/MM/DD HH:mm:ss", new Date(person.toc)) : "无记录"
              else
                tr
                  td(colspan="3")
                    center 无


block scripts
  +includeJS("/experimental/settings/safe/weakPasswordCheck/weakPasswordCheck.js")
  include ../../../../publicModules/subscribeTypes/subscribeTypes.pug
  include ../../../../publicModules/floatUserPanel/floatUserPanel.2.pug
