//- 专栏管理面板 专栏管理员、专栏主
  @param data.contributeCount 待处理的投稿数

-var canManagement = permission("column_single_disabled");
.hidden#data=objToStr({columnId: data.column._id, color: data.column.color})
if canManagement
  .m-b-1.column-tool-container(style=columnToolStyle)
    .column-management
      .column-header
        .fa.fa-shield &nbsp;管理
      .row.m-t-1
        if data.column.disabled
          h4.text-danger.col-xs-12.text-center 专栏已屏蔽
        else if data.column.closed
          h4.text-danger.col-xs-12.text-center 专栏已关闭

        //- 热门专栏
        if permission("homeHotColumn")
          if data.homeHotColumn
            a(onclick=`pushToHome(${data.column._id}, 'unPush')` title="取消设为热门专栏").col-xs-4
              .fa.fa-fire
              .name 取消热门专栏
          else
            a(onclick=`pushToHome(${data.column._id}, 'push')` title="设为热门专栏").col-xs-4
              .fa.fa-fire
              .name 设为热门专栏
        //- 专栏制定
        if permission("homeToppedColumn")
          if data.homeToppedColumn
            a(onclick=`toppedColumn(${data.column._id}, 'unPush')` title="取消置顶专栏").col-xs-4
              .fa.fa-level-up
              .name 取消置顶专栏
          else
            a(onclick=`toppedColumn(${data.column._id}, 'push')` title="置顶专栏").col-xs-4
              .fa.fa-level-up
              .name 置顶专栏
        if !data.column.disabled
          a(onclick=`managementColumn(${data.column._id}, 'column', true)`).col-xs-4
            .fa.fa-ban
            .name 屏蔽专栏
        else
          a(onclick=`managementColumn(${data.column._id}, 'column', false)`).col-xs-4
            .fa.fa-ban
            .name 解除屏蔽
        a(onclick=`managementColumn(${data.column._id}, 'logo', true)`).col-xs-4
          .fa.fa-picture-o
          .name 删除logo
        a(onclick=`managementColumn(${data.column._id}, 'banner', true)`).col-xs-4
          .fa.fa-picture-o
          .name 删除banner
        a(onclick=`managementColumn(${data.column._id}, 'name', true)`).col-xs-4
          .fa.fa-align-center
          .name 删除专栏名
        a(onclick=`managementColumn(${data.column._id}, 'abbr', true)`).col-xs-4
          .fa.fa-align-center
          .name 删除简介
if data.user && data.user.uid === data.column.uid
  .m-b-1.column-tool-container(style=columnToolStyle)
    .column-management
      a(
        href=`/m/${data.column._id}/status`
        target="_blank"
        ).column-management-entrance
      //.row.m-t-1

        a(href=`/m/${data.column._id}/status` target="_blank").col-xs-4
          .fa.fa-pie-chart
          .name 统计
        a(href=`/m/${data.column._id}/settings/contribute` target='_blank').col-xs-4
          .fa.fa-bell-o
          .name 投稿通知
          if data.contributeCount > 0
            .contribute-count=data.contributeCount
        a(href=`/m/${data.column._id}/settings` target='_blank').col-xs-4
          .fa.fa-wrench
          .name 专栏设置
      .row.m-t-1.text-center.column-fast-set-btn
        .col-xs-6(onclick="showSetDom()")
          span 快捷设置&nbsp;
          .fa.fa-caret-down
        .col-xs-6(onclick="showShareDom()")
          span 专栏分享&nbsp;
          .fa.fa-caret-down
      .column-share-body.m-t-1.m-b-1
        include ../../publicModules/share/columnPromotion
      .form.column-fast-set-body
        .form-group
          label 专栏背景
          input.form-control(data-control="selectColor" id="columnColor" value=data.column.color)
          label 文章列表背景
          input.form-control(data-control="selectColor" id="listColor" value=data.column.listColor)
          label 工具栏背景
          input.form-control(data-control="selectColor" id="toolColor" value=data.column.toolColor)
        .form-group
          button.btn.btn-block.btn-primary(onclick="saveSettings()") 保存
