extends bootstrap_base
block title
  title=`身份认证`
  -let defaultImg = '/default/photo_setting.jpg'
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-default
          .panel-heading
            span=`身份认证1`
          .panel-body
              if data.level === 1
              p 认证说明：
                span.text-info 绑定手机号即可完成身份认证
              h5 认证状态：
                if data.user.authLevel >= 1
                  span.text-success 已通过
                else
                  span.text-danger 未通过
                  br
                  br
                  a.btn.btn-primary(href=`/u/${data.user.uid}/settings/security` target="_blank") 绑定手机号
        .panel.panel-default
          .panel-heading
            span=`身份认证2`
          .panel-body
            -let status; // 5,4,3,2,1(过期，通过，未通过，等待审核，未提交)
            if data.idCardB && data.idCardA
              if data.idCardA.status === 'outdated' || data.idCardB.status === 'outdated'
                -status = 5;
              else if data.idCardA.status === 'passed' && data.idCardB.status === 'passed'
                -status = 4;
              else if data.submittedAuth
                -status = 2;
              else if data.idCardA.status === null || data.idCardB.status === null
                -status = 1;
              else
                -status = 3;
            else
              -status = 1;
            p 认证说明：
              span.text-info 上传身份证正反照片完成认证
            p 注意：
              span.text-danger 请横向摆放，使用手机拍摄，保留周围背景，不要使用扫描件，大小不超过20M，并且只能为.jpg、.jpeg、.png格式。
            if data.idCardB && [4, 5].includes(status)
              if status === 4
                h5=`过期时间：${data.idCardB.expiryDate.toLocaleDateString()}`
              else
                h5
                  span 过期时间：
                  span.text-danger= data.idCardB.expiryDate.toLocaleDateString()
            h5 认证状态：
              if status === 4
                span.text-success 已通过
              else if status === 5
                span.text-danger 已过期
              else if status === 2
                span 等待审核
              else if status === 1
                span 暂未提交
              else
                span.text-danger 未通过
            if status === 3
              span 原因：
              span.text-danger= data.idCardB.description || data.idCardA.description
            .row
              .col-xs-12.col-md-6.text-center
                h5 身份证正面
                -let src;
                if !data.idCardA
                  -src = defaultImg;
                else
                  -src = `/photo_small/${data.idCardA._id}`;
                img(src=src style='max-width: 100%;').center-block
                if ![4, 2].includes(status)
                  br
                  input.hidden(type='file' accept="image/*")#idCardA
                  button.btn.btn-primary(onclick='$("#idCardA").click();') 选择图片
              .col-xs-12.col-md-6.text-center
                h5 身份证背面
                if !data.idCardB
                  -src = defaultImg;
                else
                  -src = `/photo_small/${data.idCardB._id}`;
                img(src=src style='max-width: 100%;').center-block
                if ![4, 2].includes(status)
                  br
                  input.hidden(type='file' accept="image/*")#idCardB
                  button.btn.btn-primary(onclick='$("#idCardB").click();') 选择图片
              .col-xs-12.col-md-12.text-center
                br
                br
                if ![2, 4].includes(status)
                  button.btn.btn-primary(onclick=`submitAuth("${data.user.uid}", 2)`) 申请审核
                if status === 2
                  button.btn.btn-primary(onclick=`unSubmitAuth("${data.user.uid}", 2)`) 撤销审核
        .panel.panel-default
          .panel-heading
            span=`身份认证3`
          .panel-body
            -let status3; // 5,4,3,2,1(过期，通过，未通过，等待审核，未提交)
            -const handheldIdCard = data.handheldIdCard;
            if !handheldIdCard
              -status3 = 1;
            else
              if handheldIdCard.status === 'outdated'
                -status3 = 5;
              else if handheldIdCard.status === 'passed'
                -status3 = 4;
              else if data.submittedAuth
                -status3 = 2
              else if handheldIdCard.status === null
                -status3 = 1;
              else
                -status3 = 3;
            p 认证说明：
              span.text-info 上传手持身份证照片完成认证
            p 注意：
              span.text-danger 请使用手机拍摄，保留周围背景，且保证身份证上的内容清晰可见，不要使用扫描件，大小不超过20M，并且只能为.jpg、.jpeg、.png格式。
            if handheldIdCard && [4, 5].includes(status3)
              if status3 === 4
                h5=`过期时间：${handheldIdCard.expiryDate.toLocaleDateString()}`
              else
                h5
                  span 过期时间：
                  span.text-danger= handheldIdCard.expiryDate.toLocaleDateString()
            h5 认证状态：
              if status3 === 4
                span.text-success 已通过
              else if status3 === 5
                span.text-danger 已过期
              else if status3 === 2
                span 等待审核
              else if status3 === 1
                span 暂未提交
              else
                span.text-danger 未通过
            if status3 === 3
              span 原因：
              span.text-danger= handheldIdCard.description
            .row
              .col-xs-12.col-md-6.text-center
                h5 手持身份证
                -let src3;
                if !handheldIdCard
                  -src3 = defaultImg;
                else
                  -src3 = `/photo_small/${handheldIdCard._id}`;
                img(src=src3 style='max-width: 100%;').center-block
                br
                if ![4, 2].includes(status3)
                  input.hidden(type='file' accept="image/*")#handheldIdCard
                  button.btn.btn-primary(onclick='$("#handheldIdCard").click();') 选择图片
                if ![2, 4].includes(status3)
                  button.btn.btn-primary(onclick=`submitAuth("${data.user.uid}", 3)`) 申请审核
                if status3 === 2
                  button.btn.btn-primary(onclick=`unSubmitAuth("${data.user.uid}", 3)`) 撤销审核

block scripts
  +includeJS("/interface_user_settings_verify.js")
