extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title= `科创基金`
block content
  -const mainContainer1400 = true
  -const {from, to, fid, tid, id} = data;
  -const abstractArr = ['拨款', '划拨', '赞助', '支取'];
  .container-fluid.max-width
    include interface_fund_nav
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-md-6.col-md-offset-3
            h3.text-center 基金账单
            h5= `交易时间${data.bill?`已选择时间：${data.bill.toc.toLocaleString()}`: ''}：`
            input.form-control#time(type='datetime-local' time=data.bill?data.bill.toc.getTime(): '')
            br
            h5 摘要：
            span 快速输入&nbsp;
            -for(let a of abstractArr)
              a(onclick=`inputAbstract("${a}")` style='margin-right: 0.5rem;cursor: pointer;text-decoration: none;')= a
            input.form-control#abstract(type='text' value=data.bill?data.bill.abstract: '' placeholder='')
            br
            h5 来自于:
            label.radio-inline
              input(type="radio" name='from' checked=(!data.bill || data.bill.from.type === 'user'))
              h5 用户
            label.radio-inline
              input(type="radio" name='from' checked=(data.bill && data.bill.from.type === 'fund'))
              h5 基金项目
            label.radio-inline
              input(type="radio" name='from' checked=(data.bill && data.bill.from.type === 'fundPool'))
              h5 资金池
            label.radio-inline
              input(type="radio" name='from' checked=(data.bill && data.bill.from.type === 'other'))
              h5 其他
            #fromOther(style='display: none;')
              input.form-control#fromOtherInfo(type='text' value=data.bill && data.bill.from.type === 'other' ? data.bill.from.id : '' placeholder='其他途径')
            #fromUser(style=!data.bill || data.bill.from.type === 'user'? '': 'display: none;')
              .row
                .col-xs-12.col-md-12
                  span 匿名：
                  label.radio-inline
                    input(type="radio" name='fromAnonymous' checked=(data.bill && data.bill.from.anonymous))
                    h5 是
                  label.radio-inline
                    input(type="radio" name='fromAnonymous' checked=(!data.bill || !data.bill.from.anonymous))
                    h5 否
                .col-xs-12.col-md-10
                  input.form-control#fromUid(type='text' value=data.bill && data.bill.from.type === 'user' ? data.bill.from.id : '' placeholder='用户UID')
                .col-xs-12.col-md-2
                  button.btn.btn-default(onclick='getUser("from")') 检测
                .col-xs-12.col-md-12#fromUserInfo
            #fromFund(style=data.bill && data.bill.from.type === 'fund'? '': 'display: none;')
              -for(let f of data.funds)
                label.radio-inline
                  input(type="radio" name='fromFund' checked=data.bill && data.bill.from.type === 'fund' && data.bill.from.id === f._id fundId= f._id)
                  h5= f.name

            br
            h5 作用于:
            label.radio-inline
              input(type="radio" name='to' checked=(!data.bill || data.bill.to.type === 'user'))
              h5 用户
            label.radio-inline
              input(type="radio" name='to' checked=(data.bill && data.bill.to.type === 'fund'))
              h5 基金项目
            label.radio-inline
              input(type="radio" name='to' checked=(data.bill && data.bill.to.type === 'fundPool'))
              h5 资金池
            label.radio-inline
              input(type="radio" name='to' checked=(data.bill && data.bill.to.type === 'other'))
              h5 其他
            #toOther(style=data.bill && data.bill.to.type === 'other'? '': 'display: none;')
              input.form-control#toOtherInfo(type='text' value=data.bill && data.bill.to.type === 'other' ? data.bill.to.id : '' placeholder='其他途径')
            #toUser(style=!data.bill || data.bill.to.type === 'user'? '': 'display: none;')
              .row
                .col-xs-12.col-md-12
                  span 匿名：
                  label.radio-inline
                    input(type="radio" name='toAnonymous' checked=(data.bill && data.bill.to.anonymous))
                    h5 是
                  label.radio-inline
                    input(type="radio" name='toAnonymous' checked=(!data.bill || !data.bill.to.anonymous))
                    h5 否
                .col-xs-12.col-md-10
                  input.form-control#toUid(type='text' value=data.bill && data.bill.to.type === 'user' ? data.bill.to.id : '' placeholder='用户UID')
                .col-xs-12.col-md-2
                  button.btn.btn-default(onclick='getUser("to")') 检测
                .col-xs-12.col-md-12#toUserInfo
            #toFund(style=data.bill && data.bill.to.type === 'fund'? '': 'display: none;')
              -for(let f of data.funds)
                label.radio-inline
                  input(type="radio" name='toFund' checked=data.bill && data.bill.to.type === 'fund' && data.bill.to.id === f._id fundId= f._id)
                  h5= f.name
            br
            h5 金额（元）：
            input.form-control#money(type='number' value=data.bill?data.bill.money: '')
            br
            h5 备注：
            textarea#notes.form-control(rows='5')= data.bill?data.bill.notes: ''
            br

            h5 其他信息：
            -const {transactionNumber, paymentType, account, name} = data.bill?data.bill.otherInfo:{}
            h5 交易平台
            input#paymentType(value=paymentType)
            h5=`${paymentType || ''}平台交易编号`
            input#transactionNumber(value=transactionNumber)
            h5 交易账号
            input#account(value=account)
            h5 户名
            input#name(value=name)
            br
            br
            span 已验证：
            label.radio-inline
              input(type="radio" name='verify' checked=(data.bill && data.bill.verify))
              h5 是
            label.radio-inline
              input(type="radio" name='verify' checked=(!data.bill || !data.bill.verify))
              h5 否
            br
            .text-center
              button.btn.btn-info(onclick=`submit(${data.bill ? data.bill._id : ''})`) &nbsp;&nbsp;提交&nbsp;&nbsp;
              //if data.bill
              //  button.btn.btn-danger(onclick=`deleteBill(${data.bill._id})`) &nbsp;&nbsp;删除&nbsp;&nbsp;





block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_bill.js')