extends bootstrap_base
block title
  -const mainContainer1400 = true
  -const applicationForm = data.applicationForm;
  -const {applicant, fixedMoney} = applicationForm;
  -const fund = applicationForm.fund;
  -const type = data.type;
  title= `科创基金-${fund.name}`
  link(rel='stylesheet' href='/fund.css')
  include ./publicModules/plyr/plyr.css.pug
block content
  .container-fluid.max-width
    include interface_fund_nav
    .row
      if type === 'project'
        .col-xs-12.col-md-12
          .row
            // 身份审核
            .col-xs-12.col-md-12
              h3 申请人信息
            .col-xs-12.col-md-8
              .panel.panel-default
                .panel-body
                  h5=`账号ID：`
                    a(href=`/u/${applicant.uid}` target="_blank")=`${applicant.user.username}`
                  h5=`专栏：`
                    a(href=`/m/${applicant.uid}` target="_blank")=`去查看`
                  h5=`真实姓名：${applicant.name}`
                  if applicant.idCardNumber
                    h5=`联系电话：${applicant.mobile}`
                    h5= `身份证号码：${applicationForm.applicant.idCardNumber || '暂未输入'}`
                    h5= `联系方式：${applicationForm.applicant.mobile || '暂未输入'}`
                    -let paymentType;
                    if applicationForm.account.paymentType === 'alipay'
                      -paymentType = '支付宝';
                    else if applicationForm.account.paymentType === 'bankCard'
                      -paymentType = '银行卡';
                    else
                      -paymentType = '暂未选择';
                    h5= `收款方式：${paymentType}`
                    if paymentType === '银行卡'
                      h5= `银行全称：${applicationForm.account.bankName || '暂未填写'}`
                      h5= `户名：${applicationForm.account.name || '暂未填写'}`
                    h5= `收款账号：${applicationForm.account.number || '暂未输入'}`
                  h5=`生活照：`
                  .row
                    .col-xs-12.col-md-12
                      -for(let photo of applicationForm.applicant.lifePhotos)
                        a(href=`/photo/${photo._id}` target='_blank')
                            img(src=`/photo_small/${photo._id}` style='width: 50%; padding: 0.5rem')
                  h5=`自我介绍：${applicant.description}`
                  if applicationForm.from === 'team'
                    h5= `申请方式：团队`
                    h5= `组员ID（已确认的）：`
                    -for(let m of applicationForm.members)
                      if m.agree
                        span &nbsp;&nbsp;
                        a(href=`/u/${m.uid}` target='_blank')= m.user.username
                  else
                    h5= `申请方式：个人`
            -let obj = {};
            if data.expertAudit.length !== 0
              -for(let r of data.expertAudit)
                if !r.support
                  -obj[r.type] = r.c;

            .col-xs-12.col-md-4
              if obj.userInfoAudit
                h5 上一次未通过审核的原因：
                  span.redFontColor= obj.userInfoAudit
              textarea.form-control#userInfoComment(rows='12' placeholder='审核评语')
              label.radio-inline
                input(type='radio' name='userInfoAudit' checked=false)
                h5 合格
              label.radio-inline
                input(type='radio' name='userInfoAudit' checked=true)
                h5 不合格
            //项目信息审核
            .col-xs-12.col-md-12
              h3 项目内容
            .col-xs-12.col-md-8
              .panel.panel-default
                .panel-body
                  -const project = applicationForm.project
                  h2.text-center#projectTitle= project.t
                  br
                  if fund.detailedProject
                    p= project.abstract
                    br
                  div#projectContent!=project.c
                  hr
                  h4= `学科分类：${applicationForm.forum.displayName}`
                  h4= `研究周期：${applicationForm.projectCycle}天`
                  if applicationForm.threads.applying.length !== 0
                    h4= `申请人曾经发表的相关文章：`
                    .selectedThreads
                      -const disagreeUsers = [];
                      -const notModifiedUsers = [];
                      -for(let u of applicationForm.members)
                        if u.agree === false
                          -disagreeUsers.push(u.uid);
                        if u.agree === null
                          -notModifiedUsers.push(u.uid);
                      -for(let i = 0; i < applicationForm.threads.applying.length; i++)
                        -const thread = applicationForm.threads.applying[i];
                        -const firstPost = thread.firstPost;
                        -let postString = {tid: firstPost.tid, uid: firstPost.uid, username: firstPost.user?firstPost.user.username:anonymousInfo.username, t: firstPost.t, toc: firstPost.toc.toLocaleString(), pid: firstPost.pid};
                        -postString = JSON.stringify(postString);
                        .threadList
                          .col-xs-10.col-md-10
                            .displayNone.postString= postString
                            span 文号：
                            span.threadNumber!= `${firstPost.pid}&nbsp;&nbsp;`
                            if firstPost.anonymous
                              span=anonymousInfo.username
                            else
                              a(href=`/u/${firstPost.uid}` target="_blank")= firstPost.user.username
                            if notModifiedUsers.includes(thread.uid)
                              span(style='color: #aaa;') （未处理邀请）
                            if disagreeUsers.includes(thread.uid)
                              span.redFontColor （已拒绝邀请）
                            span!= `&nbsp;发表于 ${firstPost.toc.toLocaleString()}`
                            br
                            a(href=`/t/${thread.tid}` target="_blank")= firstPost.t
            .col-xs-12.col-md-4
              if obj.projectAudit
                h5 上一次未通过审核的原因：
                  span.redFontColor= obj.projectAudit
              textarea.form-control#projectComment(rows='12' placeholder='审核评语')
              label.radio-inline
                input(type='radio' name='projectAudit' checked=false)
                h5 合格
              label.radio-inline
                input(type='radio' name='projectAudit' checked=true)
                h5 不合格
            // 其他信息审核
            .col-xs-12.col-md-12
              h3 资金预算
            .col-xs-12.col-md-8
              .panel.panel-default
                .panel-body
                  if fund.money.max === null && typeof applicationForm.budgetMoney === 'string'
                    p= applicationForm.budgetMoney
                  else if typeof applicationForm.budgetMoney !== 'string' && applicationForm.budgetMoney !== null
                    -let aggregate = 0;
                    #budgetMoney
                      .fund-money-list.head.projectAudit
                        .purpose 用途
                        .count 数量
                        .money 单价(元)
                        .total 合计(元)
                        div 审查员建议(元)
                        div 实际
                      -for(let p of applicationForm.budgetMoney)
                        -const total = p.count*p.money;
                        -aggregate += total;
                        .fund-money-list.projectAudit
                          .purpose= p.purpose
                          .count= p.count
                          .money= p.money
                          .total= total
                          div(contenteditable=true).suggestMoney= 0
                    h3=`总计：`
                      span#total= `${aggregate}`
                      span=`元`
                    h3=`审查员建议：`
                      span#suggestMoney=`${aggregate}`
                      span=`元`
                    p#projectAuditInfo.redFontColor
            .col-xs-12.col-md-4
              if obj.moneyAudit
                h5 上一次未通过审核的原因：
                  span.redFontColor= obj.moneyAudit
              textarea.form-control#moneyComment(rows='12' placeholder='审核评语')
              label.radio-inline
                input(type='radio' name='moneyAudit' checked=false)
                h5 合格
              label.radio-inline
                input(type='radio' name='moneyAudit' checked=true)
                h5 不合格
            .col-xs-12.col-md-12.text-center
              button.btn.btn-info#submit(onclick=`submitProjectAudit(${applicationForm._id})`) 提交
              button.btn.btn-danger(onclick=`submitProjectAudit(${applicationForm._id}, true)`) 彻底拒绝

      else
        .col-xs-12.col-md-12
          h3 申请人信息
        .col-xs-12.col-md-8
          .panel.panel-default
            .panel-body
              h5=`账号ID：`
                a(href=`/u/${applicant.uid}` target="_blank")=`${applicant.user.username}`
              h5=`专栏：`
                a(href=`/m/${applicant.uid}` target="_blank")=`去查看`
              h5=`真实姓名：${applicant.name}`
              h5=`联系电话：${applicant.mobile}`
              h5= `身份证号码：${applicationForm.applicant.idCardNumber || '暂未输入'}`
              h5= `联系方式：${applicationForm.applicant.mobile || '暂未输入'}`
              -let paymentType;
              if applicationForm.account.paymentType === 'alipay'
                -paymentType = '支付宝';
              else if applicationForm.account.paymentType === 'bankCard'
                -paymentType = '银行卡';
              else
                -paymentType = '暂未选择';
              h5= `收款方式：${paymentType}`
              if paymentType === '银行卡'
                h5= `银行全称：${applicationForm.account.bankName || '暂未填写'}`
                h5= `户名：${applicationForm.account.name || '暂未填写'}`
              h5= `收款账号：${applicationForm.account.number || '暂未输入'}`
              h5=`生活照：`
              .row
                .col-xs-12.col-md-12
                  -for(let photo of applicationForm.applicant.lifePhotos)
                    a(href=`/photo/${photo._id}` target='_blank')
                      img(src=`/photo_small/${photo._id}` style='width: 50%; padding: 0.5rem')
              h5=`自我介绍：${applicant.description}`
              if applicationForm.from === 'team'
                h5= `申请方式：团队`
                h5= `组员ID（已确认的）：`
                -for(let m of applicationForm.members)
                  if m.agree
                    h5 &nbsp;&nbsp;
                    a(href=`/u/${m.uid}` target='_blank')= m.user.username
              else
                h5= `申请方式：个人`
        .col-xs-12.col-md-12
          h3 项目内容
        .col-xs-12.col-md-8
          .panel.panel-default
            .panel-body
              -const project = applicationForm.project
              h2.text-center#projectTitle= project.t
              br
              if fund.detailedProject
                p= project.abstract
                br
              div#projectContent!=project.c
              hr
              h4= `学科分类：${applicationForm.forum.displayName}`
              h4= `研究周期：${applicationForm.projectCycle}天`
              if applicationForm.threads.applying.length !== 0
                h4= `申请人曾经发表的相关文章：`
                .selectedThreads
                  -const disagreeUsers = [];
                  -const notModifiedUsers = [];
                  -for(let u of applicationForm.members)
                    if u.agree === false
                      -disagreeUsers.push(u.uid);
                    if u.agree === null
                      -notModifiedUsers.push(u.uid);
                  -for(let i = 0; i < applicationForm.threads.applying.length; i++)
                    -const thread = applicationForm.threads.applying[i];
                    -const firstPost = thread.firstPost;
                    -let postString = {tid: firstPost.tid, uid: firstPost.uid, username: firstPost.user?firstPost.user.username:anonymousInfo.username, t: firstPost.t, toc: firstPost.toc.toLocaleString(), pid: firstPost.pid};
                    -postString = JSON.stringify(postString);
                    .threadList
                      .col-xs-10.col-md-10
                        .displayNone.postString= postString
                        span 文号：
                        span.threadNumber!= `${firstPost.pid}&nbsp;&nbsp;`
                        if firstPost.anonymous
                          span=anonymousInfo.username
                        else
                          a(href=`/u/${firstPost.uid}` target="_blank")= firstPost.user.username
                        if notModifiedUsers.includes(thread.uid)
                          span(style='color: #aaa;') （未处理邀请）
                        if disagreeUsers.includes(thread.uid)
                          span.redFontColor （已拒绝邀请）
                        span!= `&nbsp;发表于 ${firstPost.toc.toLocaleString()}`
                        br
                        a(href=`/t/${thread.tid}` target="_blank")= firstPost.t
        if fixedMoney
          .col-xs-12.col-md-12
            h3 资金用途
          .col-xs-12.col-md-8
            .panel.panel-default
              .panel-body
                p= applicationForm.budgetMoney
        else
          .col-xs-12.col-md-12
            h3 资金预算
          .col-xs-12.col-md-8
            .panel.panel-default
              .panel-body
                if fund.money.max === null && typeof applicationForm.budgetMoney === 'string'
                  p= applicationForm.budgetMoney
                else if typeof applicationForm.budgetMoney !== 'string' && applicationForm.budgetMoney !== null
                  -let aggregate = 0, suggest = 0;
                  #budgetMoney
                    .fund-money-list.head.adminAudit
                      .purpose 用途
                      .count 数量
                      .money 单价(元)
                      .total 合计(元)
                      div 审查员建议(元)
                      div 实际
                    -for(let p of applicationForm.budgetMoney)
                      -const total = p.count*p.money;
                      -aggregate += total;
                      -suggest += p.suggest
                      .fund-money-list.adminAudit
                        .purpose= p.purpose
                        .count= p.count
                        .money= p.money
                        .total= total
                        div= p.suggest? p.suggest: total
                        div.factMoney(contenteditable=true)= p.suggest? p.suggest: total
                  h3=`总计：`
                    span#total= `${aggregate}`
                    span=`元`
                  h3=`管理员建议：`
                    span#suggestMoney=`${suggest || aggregate}`
                    span=`元`
                  h3=`实际：`
                    span#factMoney=`${suggest}`
                    span=`元`
                  p#adminAuditInfo.redFontColor
        .col-xs-12.col-md-4
          if data.adminAudit && !data.adminAudit.support
            h5 上一次未通过审核的原因：
              span.redFontColor= data.adminAudit.c
          textarea.form-control#adminComment(rows='12' placeholder='审核评语')
          label.radio-inline
            input(type='radio' name='adminSupport' checked=true)
            h5 合格
          label.radio-inline
            input(type='radio' name='adminSupport' checked=false)
            h5 不合格
        if !fixedMoney
          .col-xs-12.col-md-12
            h3 分期拨款
          .col-xs-12.col-md-8
            .panel.panel-default
              .panel-body
                h4=`剩余：`
                  span#remainder
                  span=`元`
                br
                span 输入分期数（默认分为1期）：
                input#remittanceCount(type="number")
                button#enterBtn 确定
                #remittanceList
          .col-xs-12.col-md-4
            h3 拨款依据
            span 附带文章
            label.radio-inline
              input(type='radio' name='needThreads' checked=true)
              h5 是
            label.radio-inline
              input(type='radio' name='needThreads' checked=false)
              h5 否
        .col-xs-12.col-md-12.text-center
          button.btn.btn-info#adminSubmit(onclick=`submitAdminAudit(${applicationForm._id})`) 提交
          button.btn.btn-danger(onclick=`submitAdminAudit(${applicationForm._id}, true)`) 彻底拒绝

block scripts
  include ./publicModules/lazySizes
  include ./publicModules/plyr/plyr.js.pug
  include ./publicModules/imageViewer
  include  ./publicModules/sticker/sticker
  +includeJS('/interface_fund_audit.js')
