extends ./index.pug
block title
  -const myStore = data.myStore
  -const productParam = data.productParam
block name
  .row    
    .col-xs-12.col-md-12
      .col-xs-12
        a.btn.btn-info(href=`/shop/manage/${myStore.storeId}/goodslist`)
          span.fa.fa-backward
          | &nbsp;返回
    .col-md-12.col-sm-12.col-xs-12
      .col-xs-12
        p 
          span 商品名称：
          span!=`${productParam.product.name}`
        p 
          span 商品规格：
          span!=`${productParam.name}`
      .col-xs-12
        .panel.panel-info
          .panel-heading
            | 商品规格信息
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 原始价格
                .col-sm-5
                  input.form-control#originPrice(type="number", maxlength="100" value=`${productParam.originPrice/100}`)
              .form-group
                label.col-sm-2.control-label 折后价格
                .col-sm-5
                  input.form-control#price(type="number", maxlength="100" value=`${productParam.price/100}`)
              .form-group
                label.col-sm-2.control-label 总库存
                .col-sm-5
                  input.form-control#stocksTotal(type="number", maxlength="100" value=`${productParam.stocksTotal}`)
                  p(style="color:red;font-size:12px") 系统会自动计算剩余库存
              .form-group
                label.col-sm-2.control-label
                .col-sm-8
                  button.btn.btn-primary.radius(onclick=`paramToEdit("${myStore.storeId}","${productParam._id}")`, type='submit')
                    i.fa.fa-save
                    | &nbsp;提交修改
block manageScripts
  +includeJS("/shop/manage/goodslist.js")
