extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  -const hiddenFooter = true;
  link(rel='stylesheet' href=`/external_pkgs/etalage/css/etalage.css?v=${startTime}`)
  
  title 商品
  style.
    .title {
      text-align: left;
      font-size: 12px;
      margin: 0 19px 0 10px;
      color: #999;
    }
    .location {
      margin-right:6px
    }
    .buy {
      overflow: hidden;
      float: left;
      width: 152px;
      border-radius: 2px;
      background-color: #f8f7f3;
      color: #22258c;
      cursor: pointer;
      border: 1px solid #22258c;
      margin-right: 18px;
    }
    .addCart {
      overflow: hidden;
      float: left;
      width: 160px;
      margin-top: -1px;
      border-radius: 2px;
      color: #fff;
      cursor: pointer;
      background-color: #22258c;
    }
    .item {
      margin-bottom:20px
    }
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-12
        nav.navbar.navbar-default
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Brand
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#')
                    | Link 
                    span.sr-only (current)
                li
                  a(href='#') Link
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Dropdown 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li
                      a(href='#') Separated link
                    li.divider(role='separator')
                    li
                      a(href='#') One more separated link
              form.navbar-form.navbar-left
                .form-group
                  input.form-control(type='text', placeholder='Search Shop')
                button.btn.btn-default(type='submit') Submit
              ul.nav.navbar-nav.navbar-right
                li
                  a.fa.fa-shopping-cart(href='#') Cart
                    span.badge(style="background-color:#d9534f") 14
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | My Account 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li
                      a(href='#') Separated link

      .col-xs-12.col-md-12(style="margin-bottom:30px")
        .col-xs-12.col-md-4
          ul#etalage
            -for(let rid of data.productInfo.imgIntroductions)
              li
                img.etalage_thumb_image(src=`/r/${rid}`)
                img.etalage_source_image(src=`/r/${rid}`)

        .col-xs-12.col-md-7
          h3.item=`${data.productInfo.productName}`
          p.item=`${data.productInfo.productDescription}`
          div.item(style="background:#c7fff8")
            div(style="padding:7px 0;color:#333")
              p
                span.title 价格
                -if(data.productInfo.useRebate)
                  span
                    del=`${data.productInfo.productOriginalPrice}`
                -else
                  span=`${data.productInfo.productOriginalPrice}`
              -if(data.productInfo.useRebate)
                p
                  span.title 促销价
                  span(style="color:orangered;font-size:x-large;font-family:fantasy")=`${data.productInfo.productFinalPrice}`
          div.item
            p
              span.title 支付方式
              -if(data.productInfo.productPayMethod == "kcb")
                span(style="font-weight:bolder") 科创币
              -else if(data.productInfo.productPayMethod == "rmb")
                span(style="font-weight:bolder") 人民币
              -else if(data.productInfo.productPayMethod == "kar")
                span(style="font-weight:bolder") 混合付款:&nbsp;
                span 科创币
                span(style="font-weight:bolder;color:red")=`${data.productInfo.priceKCB}`
                span &nbsp;&nbsp;人民币
                span(style="font-weight:bolder;color:red")=`${data.productInfo.priceRMB}`
          div.item(style="border-bottom: 1px solid #e5e5e5")
            p
              span.title Freight
              span.location Place of origin
              span.location TO
              span.location Place of receipt
              span.location 快递
              sapn.location ￥12.00
          div.item
            p
              span.title Add time
              span.location 2018-10-23
          div.item
            p
              span.title Number Of Products
              span
                input(type="number", name="", value="1")
              span.title 库存
              span=`${data.productInfo.stockTotalCount}`
              span.title 件
          div.item
            a.btn.btn.buy(href='#', role='button') Buy
            a.btn.btn.addCart(href='#', role='button') 
              span.fa.fa-shopping-cart  Add To Cart
        .col-xs-1.col-md-1 

      //- .col-xs-12.col-md-12
      //-   ul.nav.nav-tabs
      //-     li.active(role='presentation')
      //-       a(href='#') Product Details
      //-     li(role='presentation')
      //-       a(href='#') Cumulative Evaluation
      //-     li(role='presentation')
      //-       a(href='#') Messages
      .col-xs-12.col-md-12
        .col-xs-12.col-md-3
          .col-xs-12.col-md-12(style="margin-bottom:20px")
            .input-group
              input.form-control(type='text', placeholder='Search for...')
              span.input-group-btn
                button.btn.btn-default(type='button') Search
          .col-xs-12.col-md-12
            .panel.panel-default
              .panel-heading
                h3.panel-title 店铺信息
              .panel-body
                | Panel content
          .col-xs-12.col-md-12
            .panel.panel-default
              .panel-heading
                h3.panel-title 商品推荐
              ul.list-group
                -for(var i=0;i<9;i++)
                  li.list-group-item
                    a(href="#") 
                      img(src="/default/shop1.jpg" style="width:32px;height:auto;float:right")
                      span(style="display:block;font-weight:700;color:#666") KC901S 3GHz Handheld Network Analyzer multi RF-meter
                    span $ 12.00
                    div(style="float:right")
                      span.fa.fa-star(style="color:red")
                      span.fa.fa-star(style="color:red")
                      span.fa.fa-star(style="color:red")
                      span.fa.fa-star(style="color:red")
                      span.fa.fa-star(style="color:red")
        .col-xs-12.col-md-9
          .col-xs-12.col-xs-12
            // Nav tabs
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Description
              li(role='presentation')
                a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab')
                  | Reviewa 
                  span.badge(style="background-color:#22258c") 12
              li(role='presentation')
                a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
            // Tab panes
            .tab-content
              #home.tab-pane.active(role='tabpanel')
                div(style="clear: both;border: 1px solid #e6e6e6;margin-bottom: 10px;")
                  h3(style="text-align:center") 商品详细描述
                  div(style="padding:20px")!=data.productInfo.productDetails
              #profile.tab-pane(role='tabpanel')
                //- div(style="clear: both;border: 1px solid #e6e6e6;margin-bottom: 10px;")
                div
                  .panel.panel-default
                    // Default panel contents
                    .panel-heading 
                      .radio
                        label
                          input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                          | 好评
                        label
                          input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                          | 中评
                        label
                          input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                          | 差评
                        label(style="float:right")
                          input#haveContent(type="checkbox", name="haveContent") 
                          | 显示内容
                      //- .check
                      //-   label
                      //-     input#haveContent(type="checkbox", name="haveContent") 
                      //-     | 显示内容
                    //- .panel-body
                    ul.list-group
                      -for(var l=0;l<9;l++)
                        li.list-group-item 
                          .media
                            .media-left.media-middle
                              a(href='#')
                                img.media-object(src='/avatar/74847', alt='...', style="width:64px")
                            .media-body
                              p(style="font-size:large").media-heading 
                              | Kris
                              span.fa.fa-graduation-cap(style="color:blue") &nbsp;&nbsp;
                              span(style="font-size:xx-small;color:#ddd") 2020.01.01 12:12:12
                              p 我觉得行 
              #messages.tab-pane(role='tabpanel')
                div(style="clear: both;border: 1px solid #e6e6e6;border-top: none;margin-bottom: 10px;")
                  div(style='display: block;padding:8px 20px 10px;margin-bottom:10px')
                    div
                      | Drand Name：
                      b(target='_blank') 科创仪表局
                  p(style="padding:5px 20px")
                    em(style="font-style:normal;color:#b7b7b7") 产品基本参数：
                  .row(style="padding:0 20px 18px")
                    -for(var a=0;a<16;a++)
                      .col-sm-6.col-md-4
                        p parameter: value
          //- .col-xs-12.col-md-12
          //-   div(style="clear: both;border: 1px solid #e6e6e6;margin-bottom: 10px;")
          //-     h3(style="text-align:center") 商品详细描述
          //-     div(style="padding:20px")!=data.productInfo.productDetails
          //- .col-xs-12.col-md-12
          //-   //- div(style="clear: both;border: 1px solid #e6e6e6;margin-bottom: 10px;")
          //-   div
          //-     .panel.panel-default
          //-       // Default panel contents
          //-       .panel-heading 
          //-         .radio
          //-           label
          //-             input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
          //-             | 好评
          //-           label
          //-             input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
          //-             | 中评
          //-           label
          //-             input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
          //-             | 差评
          //-           label(style="float:right")
          //-             input#haveContent(type="checkbox", name="haveContent") 
          //-             | 显示内容
          //-         //- .check
          //-         //-   label
          //-         //-     input#haveContent(type="checkbox", name="haveContent") 
          //-         //-     | 显示内容
          //-       //- .panel-body
          //-       ul.list-group
          //-         -for(var l=0;l<9;l++)
          //-           li.list-group-item 
          //-             .media
          //-               .media-left.media-middle
          //-                 a(href='#')
          //-                   img.media-object(src='/avatar/74847', alt='...', style="width:64px")
          //-               .media-body
          //-                 p(style="font-size:large").media-heading 
          //-                 | Kris
          //-                 span.fa.fa-graduation-cap(style="color:blue") &nbsp;&nbsp;
          //-                 span(style="font-size:xx-small;color:#ddd") 2020.01.01 12:12:12
          //-                 p 我觉得行 
block scripts
  +includeJS('/external_pkgs/jquery/jquery-1.11.1.js')
  +includeJS('/external_pkgs/etalage/js/jquery.etalage.min.js')
  script.
    $(document).ready(function(){
      $('#etalage').etalage({
        thumb_image_width: 350,
        thumb_image_height: 350,
        source_image_width: 900,
        source_image_height: 900,
        small_thumbs:5,
      });
    });