extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  -const hiddenFooter = true;
  -const product = data.product;
  -let paraId = data.paraId;
  -if(!paraId) paraId = product.productParams[0]._id + ""
  -const paId = data.paId;
  meta(name='description' content=`${product.post.abstract}`)
  link(rel='stylesheet' href='/external_pkgs/citySet/citySet.css')
  link(rel='stylesheet' href=`/external_pkgs/etalage/css/etalage.css?v=${startTime}`)
  
  title 商品
  style.
    .title {
      text-align: left;
      font-size: 12px;
      margin: 0 19px 0 10px;
      color: #999;
    }
    .location {
      margin-right:6px
    }
    .buy {
      overflow: hidden;
      float: left;
      width: 50%;
      border-radius: 2px;
      background-color: #f8f7f3;
      color: #22258c;
      cursor: pointer;
      border: 1px solid #22258c;
      margin-right: 18px;
    }
    .addCart {
      overflow: hidden;
      float: left;
      width: 30%;
      margin-top: -1px;
      border-radius: 2px;
      color: #fff;
      cursor: pointer;
      background-color: #22258c;
    }
    .item {
      margin-bottom:15px
    }
    .shopdsr-item{
      float: left;
      color: #999;
      width: 36px;
      height: 36px;
      margin: 5px 7px 0 0;
      position: relative;
    }
    .shopdsr-title {
      text-align: center;
      font-family: "\5b8b\4f53";
    }
    .shopdsr-score.shopdsr-score-up-ctrl {
      color: #ff0036;
      padding-left: 5px;
      height: 18px;
      width: 31px;
      position: relative;
      overflow: hidden;
    }
    .shopdsr-score-up {
      color: #ff0036;
      background: 0 0;
      text-decoration: none;
      height: 9px;
      width: 8px;
      right: 2px;
      top: 5px;
      position: absolute;
    }
    .activeIndex {
      padding: 2px 9px;
      border: 2px solid #FF0036;
      font-size:small;
      cursor: pointer;
      background: cornsilk;
    }
    .normalIndex {
      padding: 2px 9px;
      border: 2px solid #e2e1e3;
      font-size:small;
      cursor: pointer;
    }
    .del{
      text-decoration: line-through;
    }
block content

  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12(style="margin-bottom:30px")
        .col-xs-12.col-md-4(style="padding-top:20px")
          ul#etalage
            -for(let rid of product.imgIntroductions)
              li
                img.etalage_thumb_image(src=`/r/${rid}`)
                img.etalage_source_image(src=`/r/${rid}`)

        .col-xs-12.col-md-7
          h3.item=`${product.post.t}`
          p.item=`${product.post.abstract}`
          if product.productStatus == "stopsale"
            p 商品停售中
          esle
            if product.attentions && product.attentions.length > 0
              ul(style="background-color: antiquewhite;list-style: none;padding:10px;color:red;font-size:11px")
                for attStr in product.attentions
                  li!=`* ${attStr}`
            div.item(style="background:#c7fff8")
              div(style="padding:7px 0;color:#333")
                if !data.user
                  span.title 价格
                  span(style="color:orangered") 登录可见
                else
                  p
                    span.title 价格
                    span#originPrice.del #{numToFloatTwo(product.productParams[paId].originPrice)}
                  p
                    span.title 优惠价
                    span#newPrice(style="color:orangered;font-size:x-large;font-family:fantasy") #{numToFloatTwo(product.productParams[paId].price)}
            div.item
              p
                span.title 快递
                span.location(style="font-size:small") #{getProvinceCity(product.store.address)}
                span.location(style="font-size:small") 至
                input#city.input(name='', type='text', placeholder='请选择收货地址', autocomplete='off', readonly='true',value=`${data.userAddress}` )
            div.item(style="border-bottom: 1px solid #e5e5e5")
              if !data.user
                span.title 价格
                span(style="color:orangered") 登录可见
              else
                p
                  span.title 运费
                  if product.isFreePost
                    span#freightPrice 免邮
                    input#isFreePost(type="text" value="freePost" style="display:none")
                  else
                    span#freightPrice #{numToFloatTwo(product.freightPrice.firstFreightPrice)}
                    span#addFreightPrice(style="display:none") #{numToFloatTwo(product.freightPrice.addFreightPrice)}
                    input#isFreePost(type="text" value="payPost" style="display:none")
            div.item
              p
                span.title 数量
                span(style="display: inline-flex;margin-right:5px")
                  button(onclick=`delStock()`) -
                  input#buyCount(style='width: 3rem;' value="1")
                  button(onclick=`addStock()`) +
                span.location(style="font-size:12px") 库存
                span#stockCount=`${product.productParams[paId].stocksSurplus}`
                span.location(style="font-size:12px") 件
            .item
              .row
                span.title.col-xs-1(style="padding-right:0;margin-bottom:15px") 规格
                span.col-xs-12(style="margin: 0 19px 0 10px")
                  for para in product.productParams
                    span(class=para._id == paraId?"activeIndex":"normalIndex", href='#',style="margin-right:5px;margin-bottom:5px" onclick=`choiceProductParams(this,"${product.productId}")` paraId=`${para._id}`)
                      span=para.name.join()
            div.item
              div(style="display:none")#paraId!=`${paraId}`
              a.btn.btn.buy(role='button' onclick=`submitProductToBill()` style="margin-left:10px") 立即购买
              a.btn.btn.addCart(role='button' onclick=`addProductToCart()`) 
                span.fa.fa-shopping-cart  加入购物车
        .col-xs-1.col-md-1 

      .col-xs-12.col-md-12
        //- .col-xs-12.col-md-3
        //-   .col-xs-12.col-md-12(style="margin-bottom:20px")
        //-     .input-group
        //-       input.form-control(type='text', placeholder='Search for...')
        //-       span.input-group-btn
        //-         button.btn.btn-default(type='button') Search
        //-   .col-xs-12.col-md-12
        //-     .panel.panel-default
        //-       .panel-heading
        //-         a(href=`/shop/store/${product.store.storeId}`, target='_blank' style="color: #333;font-size: 12px;font-weight:bold")!=`${product.store.storeName}`
        //-       .panel-body
        //-         .row
        //-           .col-xs-12.col-md-12(style="margin-bottom:10px")
        //-             div(style="overflow: hidden;margin: 0 auto;cursor: pointer;position: relative;display:table")
        //-               .shopdsr-item
        //-                 .shopdsr-title 描 述
        //-                 .shopdsr-score.shopdsr-score-up-ctrl
        //-                   span.shopdsr-score-con 4.9
        //-                   s.shopdsr-score-up
        //-               .shopdsr-item
        //-                 .shopdsr-title 服 务
        //-                 .shopdsr-score.shopdsr-score-up-ctrl
        //-                   span.shopdsr-score-con 4.9
        //-                   s.shopdsr-score-up
        //-               .shopdsr-item
        //-                 .shopdsr-title 物 流
        //-                 .shopdsr-score.shopdsr-score-up-ctrl
        //-                   span.shopdsr-score-con 4.9
        //-                   s.shopdsr-score-up
        //-               a(target='_blank', href=`/shop/store/${product.store.storeId}`, style='z-index: 1;display: block; position: absolute; width: 100%;height: 100%;')
        //-           .col-xs-12.col-md-12(style="text-align:center")
        //-             a.btn.btn-info.btn-sm(href=`/shop/store/${product.store.storeId}`, style="background-color:#041567;margin-right:10px", target='_blank') 进店逛逛
        //-             a.btn.btn-default.btn-sm(style="color:#041567") 收藏店铺
        //-   .col-xs-12.col-md-12
        //-     .panel.panel-default
        //-       .panel-heading
        //-         h3.panel-title 商品推荐
        //-       ul.list-group
        //-         -for(var i=0;i<9;i++)
        //-           li.list-group-item
        //-             a(href="#") 
        //-               img(src="/default/shop1.jpg" style="width:32px;height:auto;float:right")
        //-               span(style="display:block;font-weight:700;color:#666") KC901S 3GHz Handheld Network Analyzer multi RF-meter
        //-             span $ 12.00
        //-             div(style="float:right")
        //-               span.fa.fa-star(style="color:red")
        //-               span.fa.fa-star(style="color:red")
        //-               span.fa.fa-star(style="color:red")
        //-               span.fa.fa-star(style="color:red")
        //-               span.fa.fa-star(style="color:red")
        .col-xs-12.col-md-12
          .col-xs-12.col-xs-12
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#home', aria-controls='home', role='tab', data-toggle='tab') 产品描述
              li(role='presentation')
                a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab')
                  | 讨论
                  span.badge(style="background-color:#ddd;color:#22258c;margin-left:3px")!=`${data.posts.length}`
              //- li(role='presentation')
              //-   a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
            .tab-content
              #home.tab-pane.active(role='tabpanel')
                div(style="clear: both;border: 1px solid #e6e6e6;margin-bottom: 10px;")
                  div(style="padding:20px")!=experimental_render(product.post)
              #profile.tab-pane(role='tabpanel')
                .panel.panel-default
                  div(style="width:100%;text-align:center;display: block;margin: 20px 0;")
                    a(href=`/t/${product.tid}#ReplyContent` style="color:black;font-weight:bold") 前往讨论区
                      span.fa.fa-hand-o-right 
                  ul.list-group
                    -for(let post of data.posts)
                      li.list-group-item 
                        .media
                          .media-left.media-middle
                            a(href='#')
                              img.media-object(src=`/avatar/${post.user.avatar}`, alt='...', style="width:64px")
                          .media-body
                            a(href=`/u/${post.uid}` style="font-size:large").media-heading!=`${post.user.username}`
                            //- span.fa.fa-graduation-cap(style="color:blue") &nbsp;&nbsp;
                            span(style="font-size:12px;color:#ccc;margin-left:20px")=post.toc.toLocaleString()
                            p=delAllCode(post.c)
  #shareButton(style="height: 86px;position: fixed;top: 128px;right: 0;width: 35px;background: url(/default/share.png) no-repeat 0 0;cursor:pointer")
  #shareBox(style="background: #ccc;width:150px;position: fixed;right: -999px;top: 128px;")
    .ThreadTitle22(style='border: 1px solid #ddd;border-radius: 10px;overflow: hidden;padding: 3px 3px 0 3px;background:#FFFFFF')
      .changeDis(style='width:100%')
        p.lighttext.airnum1#hideShare(style='font-size:21px;text-align:end;margin-top:0px;margin-bottom:10px;') 
          a.btn.btn-default.btn-sm(style="padding:0") 收起
        .hrdiv(style='width:80%;height:1px;background-color:#ddd;margin:0 auto;')
      .changeDisNone.text-center(style='width: 100%;')
        .col-xs-12.col-md-12
          .col-xs-3.col-md-3(style='padding:0px')
            a.btn-block(style='display:inline-block', href='javascript:void(0);', onclick=`shareTo('product', 'qq', window.location.origin+window.location.pathname, '${product.post.t}', '${product.productId}')`)
              img(src='/default/QQ.png')
          .col-xs-3.col-md-3(style='padding:0px')
            a.btn-block(style='display:inline-block', href='javascript:void(0);', onclick=`shareTo('product', 'qzone', window.location.origin+window.location.pathname, '${product.post.t}', '${product.productId}')`)
              img(src='/default/qzone.png')
          .col-xs-3.col-md-3(style='padding:0px')
            a.btn-block(style='display:inline-block', href='javascript:void(0);', onclick=`shareTo('product', 'weibo', window.location.origin+window.location.pathname, '${product.post.t}', '${product.productId}')`)
              img(src='/default/weibo.png')
          .col-xs-3.col-md-3(style='padding:0px')
            a.btn-block(style='display:inline-block', href='javascript:void(0);', onclick=`shareTo('product', 'weChat', window.location.origin+window.location.pathname, '${product.post.t}', '${product.productId}')`)
              img(src='/default/weChat.png')
        .col-xs-12.col-md-12
          a.btn-block(style='display:inline-block', href='javascript:void(0);', onclick=`shareTo('product', 'link', window.location.origin+window.location.pathname, '${product.post.t}', '${product.productId}')`) 获取分享链接
        .col-xs-12.col-md-12(id=`copyArea${product.productId}` style="display:none")
          input(type="text", id=`copyLink${product.productId}`, name=`copyLink${product.productId}` style="width:inherit")
          button(onclick=`copyLink('${product.productId}')` id=`copyButton${product.productId}`) 复制
        canvas#threadQrcode.inline-block(style='display:none')

block scripts
  +includeJS('/external_pkgs/jquery/jquery-1.11.1.js')
  +includeJS('/external_pkgs/etalage/js/jquery.etalage.min.js')
  +includeJS('/external_pkgs/citySet/city.json.js')
  +includeJS('/external_pkgs/citySet/citySet.js')
  +includeJS('/shop/product/product.js')
  +includeJS('/shop/shop.js')
  script.
    $(document).ready(function(){
      $('#etalage').etalage({
        thumb_image_width: 420,
        thumb_image_height: 420,
        source_image_width: 900,
        source_image_height: 900,
        small_thumbs:5,
      });
    });
    $("#city").click(function (e) {
      SelCity(this,e);
    });
    $("s").click(function (e) {
      SelCity(document.getElementById("city"),e);
    });