+includeCSS("/publicModules/library/library.css")
#moduleLibrary(v-cloak)
  .lib-tools
    .lib-nav
      .lib-nav-body
        .lib-nav-li(v-for="(s, index) in nav" @click="selectNavFolder(s)")
          img(:src="getUrl('fileCover', 'folder')")
          | {{s.name}}
          .fa.fa-pencil(
            v-if="index !== 0 && index + 1 === nav.length && (per('modifyOtherLibrary') || (uid && uid === s.uid))"
            @click.stop="editFolder(s)"
          )
      .lib-nav-description {{folder.description || "暂无简介"}}
    div(v-if="pageType === 'list'")
      .m-b-05.p-a-05.bg-warning.text-warning(v-if='libraryTip.tipShow') {{libraryTip.tipShow}}
      //div.updateTip {{libraryTip.tipShow}}
      .options-button
        a(@click="back" :class="{'disabled': !lastFolder || mark}")
          .fa.fa-arrow-left &nbsp;
          | 后退
        a(@click="createFolder" :class="{'disabled': mark}" v-if="per('modifyOtherLibrary') || per('createFolder')")
          .fa.fa-plus &nbsp;
          | 新建文件夹
        .display-i-b(v-if="per('modifyOtherLibrary')")
          a(@click="markLibrary")
            .fa.fa-dot-circle-o &nbsp;
              span(v-if="!mark") 多选
              span(v-else) 取消
          span(v-if="mark")
            a(@click="markAll")
              .fa.fa-square &nbsp;
              | 全选
            span(v-if="selectedLibrariesId.length")
              a(@click="moveFolders")
                .fa.fa-arrows &nbsp;
                | 移动
              a(@click="deleteFolders")
                .fa.fa-trash &nbsp;
                | 删除
      .options-button(v-if="per('modifyOtherLibrary') || per('createFile')")
        a(@click="toUpload" :class="{'disabled': mark}").active
          .fa.fa-cloud-upload &nbsp;
          | 上传文件
      .options-button
        .checkbox
          label.m-r-05(v-for="c in categories")
            input(type="checkbox" :value="c.id" v-model="listCategories" :disabled="!!mark")
            span {{c.name}}
          label(v-if="uid")
            input(type="checkbox" value="own" v-model="listCategories" :disabled="!!mark")
            span 我发布的
  .lib-list(v-if="pageType === 'list'")
    .null(v-if="!folderList.length") 空空如也~
    .lib-list-li(v-for="f in folderList" :class="{'mark': !!tLid && tLid === f._id}")
      .list-checkbox(v-if="mark")
        .checkbox
          label
            input(type="checkbox" v-model="selectedLibrariesId" :value="f._id")
      .list-cover(@click="selectFolder(f, true)" :title="f.description")
        div(v-if="f.type === 'folder'")
          img(:src="getUrl('fileCover', 'folder')")
        div(v-else)
          img(:src="getUrl('fileCover', f.ext)" v-if="!f.cover")
          img(:src="getUrl('cover', f.cover)" v-else)
      .list-body(@click="selectFolder(f, true)" :title="f.description")
        .list-name {{f.name}}
        .list-info(v-if="f.type === 'folder'")
          .time {{format('YYYY/MM/DD', f.tlm)}}
          .time {{f.fileCount}}个文件
        .list-info(v-else)
          .user.hidden-xs.hidden-sm
            img(:src="getUrl('userAvatar', f.resourceUser.avatar)")
            a(@click.stop="visitUrl('/u/' + f.rUid, true)") {{f.resourceUser.username}}
          .time {{format('YYYY/MM/DD', f.tlm)}}
          .size {{(f.ext||"未知").toUpperCase()}} {{getSize(f.size)}}
        //-.list-description {{f.description || "暂无简介"}}
        .list-options(@click.stop)
          span(v-if="per('modifyOtherLibrary') || (uid && f.uid === uid)")
            //:href="getUrl('pdf', resource.rid)" v-if="resource.ext === 'pdf'" target="_blank"
            .list-options-link(
              title="举报"
              @click="complain(f._id)"
            )
              .fa.fa-thumbs-down
            .list-options-link(
              v-if="f.ext === 'pdf'"
              title="预览"
              @click="visitUrl(getUrl('previewPDF', f.rid), true)"
            )
              .fa.fa-eye
            .list-options-link(
              v-if="(per('deleteFile') && f.type === 'file') || (per('deleteFolder') && f.type === 'folder')"
              title="删除"
              @click="deleteFolder(f._id)"
            )
              .fa.fa-trash
            .list-options-link(
              v-if="(per('moveFile') && f.type === 'file') || (per('moveFolder') && f.type === 'folder')"
              title="移动"
              @click="moveFolder(f._id)"
            )
              .fa.fa-arrows
            .list-options-link(
              v-if="(per('modifyFile') && f.type === 'file') || (per('modifyFolder') && f.type === 'folder')"
              title="编辑"
              @click="editFolder(f)"
            )
              .fa.fa-edit
          .list-options-link(v-if="f.type === 'file'" :onclick="'NKC.methods.openFilePanel(\"'+f.rid+'\")'"  :title="'点击下载（共被下载' + f.resource.hits + '次）'")
            .fa.fa-cloud-download

          //-.folder-info.fa.fa-ellipsis-v
            ul
              li(@click.stop="visitUrl('/r/' + f.rid, true)" v-if="f.type === 'file'")
                .fa.fa-cloud-download
                | &nbsp;下载
              span(v-if="per('modifyOtherLibrary') || (uid && f.uid === uid)")
                li(@click.stop="editFolder(f)" v-if="per('modifyOtherLibrary') || (f.type === 'file' && per('modifyFile')) || (f.type === 'folder' && per('modifyFolder'))")
                  .fa.fa-edit
                  | &nbsp;编辑
                li(@click.stop="moveFolder(f._id)" v-if="per('modifyOtherLibrary') || (f.type === 'file' && per('moveFile')) || (f.type === 'folder' && per('moveFolder'))")
                  .fa.fa-arrows
                  | &nbsp;移动
                li(@click.stop="deleteFolder(f._id)" v-if="per('modifyOtherLibrary') || (f.type === 'file' && per('deleteFile')) || (f.type === 'folder' && per('deleteFolder'))")
                  .fa.fa-trash(style="padding-left: 2px;")
                  | &nbsp;删除

  div(v-else)
    .m-b-05.p-a-05.bg-warning.text-warning(v-if='libraryTip.tipUpload') {{libraryTip.tipUpload}}
    .lib-uploader
      .options-button
        a(@click="toList")
          .fa.fa-arrow-left &nbsp; 返回文件列表
        a(@click="createFolder" :class="{'disabled': mark}" v-if="per('modifyOtherLibrary') || per('createFolder')")
          .fa.fa-plus &nbsp;
          | 新建文件夹
        a(@click="clearUploaded" v-if="uploadedCount")
          .fa.fa-trash-o &nbsp;
          | 清空已上传
        a(@click="clearUnUploaded" v-if="unUploadedCount")
          .fa.fa-trash-o &nbsp;
          | 清空未上传
        input.hidden#moduleLibraryInput(type="file" multiple="multiple" @change="selectedLocalFiles")
        a.active(onclick="$('#moduleLibraryInput').click();")
          .fa.fa-save &nbsp;选择本地文件
        a.active(@click="selectOnlineFiles")
          .fa.fa-cloud &nbsp;选择已上传文件
      .mark-category(v-if="selectedFiles.length")
        span 批量设置：文件类型
        select(v-model="selectedCategory")
          option(value="book") 图书
          option(value="paper") 论文
          option(value="program") 程序
          option(value="media") 媒体
          option(value="other") 其他
        .options-button
          a.active(@click="markCategory") 执行
        span 文件目录
        .mark-folder(v-if="selectedFolder") {{selectedFolderPath}}
        .options-button
          a.active(@click="selectFilesFolder") 选择目录
          a.active(@click="markFolder" v-if="selectedFolderPath") 执行
      .lib-files(v-if="!selectedFiles.length")
        .null 空空如也~
      .lib-files(v-else)
        .lib-file(v-for="(f, index) in selectedFiles" :class="{'disabled': f.disabled, 'error': f.error || !f.category, 'success': f.status === 'uploaded'}")
          .lib-file-index {{index + 1}}
          .lib-file-close.fa.fa-remove(@click="removeFile(index)")
          .lib-file-name {{f.name}}
          .lib-file-time {{format('YYYY/MM/DD HH:mm:ss', f.toc)}}&nbsp;
          .lib-file-size {{getSize(f.size)}}
          .form(v-if="!f.disabled && f.status !== 'uploaded'")
            .form-group
              .row
                .col-xs-12.col-md-6
                  h5 文件分类(
                    span.text-danger 必选
                    |)
                  .radio
                    label.m-r-1
                      input(type="radio" value="book" v-model="f.category")
                      span 图书
                    label.m-r-1
                      input(type="radio" value="paper" v-model="f.category")
                      span 论文
                    label.m-r-1
                      input(type="radio" value="program" v-model="f.category")
                      span 程序
                    label.m-r-1
                      input(type="radio" value="media" v-model="f.category")
                      span 媒体
                    label.m-r-1
                      input(type="radio" value="other" v-model="f.category")
                      span 其他
                .col-xs-12.col-md-6(v-if="f.type !== 'modify'")
                  .options-button
                    a.active(@click="selectPath(f)") 选择目录
                    span(v-if="f.folderPath") 上传到目录：
                  .file-path(v-if="f.folderPath") {{f.folderPath}}

            .form-group
              h5 文件名称(
                span.text-danger 必填
                |)
              input.form-control(type="text" v-model.trim="f.name")
            .form-group
              h5 文件说明
              textarea.form-control(rows=3 v-model.trim="f.description")


          .lib-file-upload
            .lib-file-error(v-if="f.error") {{f.error}}
            .lib-file-error(v-else-if="!f.category") 未选择文件分类
            .lib-file-success(v-if="f.status === 'uploaded'") 文件已成功上传至目录：{{f.folderPath}}
            .lib-file-progress(v-if="f.status === 'uploading'")
              span(v-if="f.progress === 100") 处理中...
              span(v-else) 上传中...{{f.progress}}%
        .m-t-1(v-if="selectedFiles.length")
          .checkbox
            label
              input(type="checkbox" :value="true" v-model="protocol")
              span 我已阅读并同意遵守与本次上传相关的全部协议。
              a(href="/protocol" target="_blank") 查看协议
          .options-button.p-r-0
            a.active.m-r-05(@click="startUpload" :class="{'disabled': !protocol}") 立即上传
            span.uploading-status(v-if="uploading") 文件上传中...
              .fa.fa-spinner.fa-spin
include ../complaint/complaintBox

