extends ../bootstrap_base
block title
  title 信息
  -const hiddenFooter = true;
  link(rel='stylesheet' href="/message/message.css")
block content

  // 私信内容
  mixin messageContent
    transition(name='fade')
      .ms-loading-info {{info}}
    .ms-single(v-for="message in messages")
      .ms-withdrawn.text-center(v-if='message.withdrawn')
        div(v-if='message.s === user.uid') 您撤回了一条信息
        div(v-else) 对方撤回了一条信息
      //- 对方发来的信息
      .ms-single-left(v-else-if="message.s !== user.uid")
        .ms-single-img
          a(:href="'/u/' + message.s" target="_blank")
            img(:src="'/avatar/' + message.s")
        .ms-single-content-div
          .ms-single-time {{format('YYYY-MM-DD HH:mm:ss', message.tc)}}
          .ms-single-content
            .arrow
            div(v-if="!message.c.ty" v-html="message.html")
            div.ms-single-content-image(v-if="message.c.ty === 'img'")
              a(:href="'/message/resource/' + message.c.id" target="_blank")
                img(:src="message.c.src?message.c.src:'/message/resource/' + message.c.id + '?type=sm'")
            div.ms-single-content-file(v-if="message.c.ty === 'file'")
              span 附件【
              a(:href="'/message/resource/' + message.c.id" target="_blank" title='点击下载')
                span &nbsp;{{message.c.na}}
              span 】
      // 自己发出的信息
      .ms-single-right(v-else)
        .ms-single-content-div
          .ms-single-time {{format('YYYY-MM-DD HH:mm:ss', message.tc)}}
          .ms-single-content
            .status(v-if="message.status && !message.c.ty")
              i.fa.fa-exclamation-circle(title='点击重发' v-if="message.status === 'failed'" @click="sendToUser(message)")
              i.fa.fa-circle-o-notch.fa-spin.fa-fw(v-else-if="message.status === 'sending'")
            .status(v-if="message.status && message.c.ty")
              i.fa.fa-exclamation-circle(title='点击重发' v-if="message.status === 'failed'" @click="uploadResource(message, 'true')")
              span(v-else-if="message.status === 'sending'")
                span(style='font-size: 1rem;') {{message.loaded}}%
                i.fa.fa-circle-o-notch.fa-spin.fa-fw
            .status(v-if="message.canWithdrawn")
              i.fa.fa-trash(title='点击撤回' @click="withdrawn(message)")
            .arrow
            div(v-if="!message.c.ty" v-html="message.html")
            div.ms-single-content-image(v-if="message.c.ty === 'img'")
              a(:href="'/message/resource/' + message.c.id" target="_blank")
                img(:src="message.c.src?message.c.src:'/message/resource/' + message.c.id + '?type=sm'")
            div.ms-single-content-file(v-if="message.c.ty === 'file'")
              span(v-if="!message.c.id") {{message.c.na}}
              span(v-else)
                span 附件【
                a(:href="'/message/resource/' + message.c.id" target="_blank" title='点击下载')
                  span {{message.c.na}}
                span 】
        .ms-single-img
          a(href=`/u/${data.user.uid}/settings` target="_blank")
            img(:src="'/avatar/' + message.s")

  // 系统通知内容
  mixin noticeContent
    transition(name='fade')
      .ms-loading-info {{info}}
    .ms-notice-body(v-for="message in messages")
      .ms-notice-time {{format('YYYY/MM/DD HH:mm:ss', message.tc)}}
      .ms-notice-content {{message.c}}

  // 系统提醒内容
  mixin reminderContent
    transition(name='fade')
      .ms-loading-info {{info}}
    .ms-notice-body(v-for="message in messages")
      .ms-notice-time {{format('YYYY/MM/DD HH:mm:ss', message.tc)}}
      .ms-notice-content
        div(v-if="message.c.type === 'replyThread'")
          a.remind-link(:href="'/u/' + message.targetUser.uid" target='_blank')
            img.remind-user-avatar(:src='"/avatar/" + message.targetUser.uid')
            span {{message.targetUser.username}}
          span 在您的文章
          a.remind-link(:href="'/t/' + message.post.tid" target='_blank')
            span 《{{message.post.t}}》
          span 下发表了如下回复：
          a.remind-link.remind-content(:href="'/t/' + message.post.tid + '?page=' + message.targetPost.page + '&highlight=' + message.targetPost.pid + '#' + message.targetPost.pid" target='_blank') {{message.targetPost.c}}
        div(v-else-if="message.c.type === 'replyPost'")
          a.remind-link(:href="'/u/' + message.targetUser.uid" target='_blank')
            img.remind-user-avatar(:src='"/avatar/" + message.targetUser.uid')
            span {{message.targetUser.username}}
          span 在文章
          a.remind-link(:href="'/t/' + message.firstPost.tid" target='_blank')
            span 《{{message.firstPost.t}}》
          span 下发表了如下回复：
          a.remind-link.remind-content(:href="'/t/' + message.targetPost.tid + '?page=' + message.targetPost.page + '&highlight=' + message.targetPost.pid + '#' + message.targetPost.pid" target='_blank') {{message.targetPost.c}}
        div(v-else-if="message.c.type === 'digestThread'")
          span 您的文章
          a.remind-link(:href="'/t/' + message.post.tid" target='_blank')
            span 《{{message.post.t}}》
          span 已被列入精选。
        div(v-else-if="message.c.type === 'digestPost'")
          span 您的回复
            a.remind-link(:href="'/t/' + message.post.tid + '?page=' + message.post.page + '&highlight=' + message.post.pid + '#' + message.post.pid" target='_blank')
              span {{message.post.c}}
            span 已被列入精选。
        div(v-else-if="message.c.type === 'bannedPost'")
          span 您在文章标题为
          a(:href="'/t/' + message.firstPost.tid" target="_blank") &nbsp;{{message.firstPost.t}}&nbsp;
          span 下的回复由于
          strong &nbsp;{{message.reason}}&nbsp;
          span 等原因，已被屏蔽。该操作不可恢复，也不接受申诉。请您在下次发表时，认真对照国家法律法规、论坛规章，确保标题和内容清晰详细，品质优良。请勿发表没有营养的内容。
        div(v-else-if="message.c.type === 'postWasReturned'")
          span 您在文章标题为
          a(:href="'/t/' + message.firstPost.tid" target="_blank") &nbsp;{{message.firstPost.t}}&nbsp;
          span 下的回复由于
          strong &nbsp;{{message.reason}}&nbsp;
          span 等原因，已被退回，目前只有您自己可以查看。请您在 72 小时之内
          span(style="color: red;") （{{message.timeLimit}}）
          span 修改文章内容，消除存在的问题，并确保符合论坛规章。点击
          a(:href="'/editor?type=post&id=' + message.post.pid" target="_blank") &nbsp;这里&nbsp;
          span 进行修改。
          br
          span 逾期未修改，文章将被彻底屏蔽，不可恢复，届时不再另行通知。
        div(v-else-if="message.c.type === 'bannedThread'")
          span 您的标题为
          a(:href="'/t/' + message.firstPost.tid" target="_blank") &nbsp;{{message.firstPost.t}}&nbsp;
          span 的文章由于
          strong &nbsp;{{message.reason}}&nbsp;
          span 等原因，已被屏蔽。该操作不可恢复，也不接受申诉。请您在下次发表时，认真对照国家法律法规、论坛规章，确保标题和内容清晰详细，品质优良。请勿发表常识性问题。
        div(v-else-if="message.c.type === 'threadWasReturned'")
          span 您的标题为
          a(:href="'/t/' + message.firstPost.tid" target="_blank") &nbsp;{{message.firstPost.t}}&nbsp;
          span 的文章由于
          strong &nbsp;{{message.reason}}&nbsp;
          span 等原因，已被退回，目前只有您自己可以查看。请您在 72 小时之内
          span(style="color: red;") （{{message.timeLimit}}）
          span 修改文章内容，消除存在的问题，并确保符合论坛规章。点击
          a(:href="'/editor?type=post&id=' + message.firstPost.pid" target="_blank") &nbsp;这里&nbsp;
          span 进行修改。
          br
          span 逾期未修改，文章将被彻底屏蔽，不可恢复，届时不再另行通知。
        div(v-else-if="message.c.type === '@'")
          a.remind-link(:href="'/u/' + message.targetUser.uid" target='_blank')
            img.remind-user-avatar(:src='"/avatar/" + message.targetUser.uid')
            span {{message.targetUser.username}}
          span 在回复中@了你，
          a.remind-link(:href="'/t/' + message.targetPost.tid + '?page=' + message.targetPost.page + '&highlight=' + message.targetPost.pid + '#' + message.targetPost.pid" target='_blank')
            span 立即查看


  // 设置
  mixin settings
    .ms-settings-header(v-if='!mobile')
      span 设置
      .fa.fa-remove(@click="showSettings = false")
    .ms-settings-options
      .ms-settings-options-name 声音提醒：
      .ms-settings-options-content
        div
          input(type="checkbox" value="usersMessage" v-model="beep")
          span &nbsp;私信
        div
          input(type="checkbox" value="systemInfo" v-model="beep")
          span &nbsp;系统通知
        div
          input(type="checkbox" value="reminder" v-model="beep")
          span &nbsp;系统提醒
    .ms-settings-button
      button.btn.btn-default(@click='saveMessageSettings') 保存

  // 用户列表
  mixin userList
    div(v-if='userList.length === 0')
      .text-center(style='margin:1rem 0;color: #aaaaaa;') 加载中..
    div(v-for="item in userList" @click="selectUser(item)")
      //- 私信
      .ms-list-body(v-if="item.type === 'UTU'" :class="{'active': target === 'user' && item.user && item.user.uid === targetUser.uid}")
        .ms-list-left
          .ms-list-img
            .ms-point(:class="{online: item.user.online}")
            img.ms-list-avatar(:src="'/avatar/'+item.user.uid")
        .ms-list-center
          .ms-list-title {{item.user.username}}
          .ms-list-content(v-if="item.message.withdrawn")
            div(v-if='item.message.r === user.uid') 对方撤回了一条信息
            div(v-else) 您撤回了一条信息
          .ms-list-content(v-else-if="!item.message.c.ty") {{item.message.c}}
          .ms-list-content(v-else-if="item.message.c.ty === 'img'") 图片
          .ms-list-content(v-else-if="item.message.c.ty === 'file'") 文件
        .ms-list-right
          .ms-list-time {{format('MM/DD HH:mm', item.message.tc)}}
          .ms-list-number(v-if="item.count") {{'未读' + item.count}}

      //- 系统通知
      .ms-list-body(v-else-if="item.type === 'STE'" :class="{'active': target === 'notice' && item.type === 'STE'}")
        .ms-list-left.notice
          .ms-list-img
            .ms-list-avatar.fa.fa-bullhorn
        .ms-list-center
          .ms-list-title 系统通知
          .ms-list-content {{item.message?item.message.c: '暂无通知'}}
        .ms-list-right
          .ms-list-time {{item.message?format('MM/DD HH:mm', item.message.tc):''}}
          .ms-list-number(v-if="item.count > 0") {{'未读' + item.count}}

      //- 系统提醒
      .ms-list-body(v-else-if="item.type === 'STU'" :class="{'active': target === 'reminder' && item.type === 'STU'}")
        .ms-list-left.remind
          .ms-list-img
            .ms-list-avatar.fa.fa-bullhorn
        .ms-list-center
          .ms-list-title 系统提醒
          .ms-list-content {{extendReminder(item.message) || '暂无提醒'}}
        .ms-list-right
          .ms-list-time {{item.message?format('MM/DD HH:mm', item.message.tc):''}}
          .ms-list-number(v-if="item.count > 0") {{'未读' + item.count}}


  .hidden#data=JSON.stringify({targetUser: data.targetUser})
  .container-fluid(style='max-width: 1400px;height: 100%;' v-cloak )#app
    //input.hidden#imgInput(type='file' multiple="multiple" accept="image/*" @change="uploadResource")
    input.hidden#fileInput(type='file' multiple="multiple" @change="uploadResource")
    //- 宽屏
    div.computer(v-if='!mobile')
      .ms.center-block
        // 设置页
        transition(name="fade")
          .ms-settings(v-if="showSettings")
            .ms-settings-body
              +settings
        // 查找用户
        transition(name="fade")
          .ms-settings(v-if="showSearch")
            .ms-settings-body
              .ms-settings-header
                span 查找用户
                .fa.fa-remove(@click="showSearch = false")
              .ms-settings-options
                .row
                  .col-xs-9
                    .form-group
                      input.form-control(placeholder='用户名或用户ID' v-model="searchText" @keyup.enter='searchUser')
                  .col-xs-3(style='padding-left: 0;')
                    .form-group
                      button.btn.btn-default.btn-block(@click='searchUser') 搜索
                  .col-xs-12
                    .ms-list-body(v-for="user in searchUsers" @click="selectUser({user: user, type: 'UTU'})")
                      .ms-list-left
                        .ms-list-img
                          .ms-point(:class="{online: user.online}")
                          img.ms-list-avatar(:src="'/avatar/'+user.uid")
                      .ms-list-center
                        .ms-list-title {{user.username}}
                        .ms-list-content {{user.description || '暂未填写个人简介'}}

        //- 左侧用户列表
        .ms-left
          .ms-user-panel
            .ms-connect-info {{socketInfo.text}}
            .ms-user-bg
              //img(src=`/u/${data.user.uid}/banner`)
            .ms-user-info
              .ms-user-avatar
                .ms-point(class='online')
                img(src=`/avatar/${data.user.uid}`)
              div.ms-user-username= data.user.username
          .ms-options
            span.fa.fa-cog(@click='showSettings = true') 设置
            span.fa.fa-search(@click='showSearch = true') 查找用户

          //- 用户列表外层div
          .ms-list

            +userList


        //- 聊天内容
        .ms-right

          //- 未选择用户
          div(v-if="!target")
            .noSelectUser
              .fa.fa-user
              div Chat v1.0.0

          // 选择的系统通知
          div(v-if="target === 'notice'")
            div(style="height: 100%;")
              .ms-header 系统通知
              .ms-notice(ref='content')
                +noticeContent


          // 选择的系统提醒
          div(v-if="target === 'reminder'" )
            div(style="height: 100%;")
              .ms-header 系统提醒
              .ms-notice(ref='content')
                +reminderContent


          //- 选择了用户
          div(v-if="target === 'user'")
            .ms-header {{targetUser.username || '加载中...'}}
            .ms-right-body.new-content-body(@click="showEmoji = false" ref='content')
              +messageContent
            .ms-right-input(v-if='target === "user"')
              transition(name='fade')
                .upload-info(v-if='uploadInfo') {{uploadInfo}}
              textarea(placeholder='请输入聊天内容' @keyup.ctrl.enter='sendToUser()' @click='showEmoji = false' ref='input' v-model='userInput[targetUser.uid]' @input='saveUserInputToLocal')
              .ms-right-input-button
                .expressions(v-show="showEmoji")
                  a(v-for="tmj in twemoji")
                    img.emoji(:src="'/twemoji/2/svg/' + tmj + '.svg'" @click="selectExpression(tmj)")
                .text-left
                  .fa.fa-smile-o(title='发送表情' @click='showEmoji = !showEmoji')
                  //.fa.fa-picture-o(title='发送图片' onclick='$("#imgInput").click();')
                  .fa.fa-file-o(title='发送文件' onclick='$("#fileInput").val("");$("#fileInput").click();')
                  span(style='margin-left: 2rem;font-size: 1.2rem;') ctrl+enter 快捷发送
                .text-right(style='float: right;margin-right: 2rem;')
                  button.btn.btn-default.btn-sm(@click="sendToUser()") 发送



    div.mobile.row(v-else)
      .ms-mask(v-if="socketInfo" :class="{'hide': socketInfo.text==='已连接'}") {{socketInfo.text}}
      .mobile-settings(v-if="showMobileSettings")
        +settings
      .mobile-footer(v-if="showMobileNavbar")
        .col-xs-6(:class="{active: showMobileList}" @click="openMobileList")
          .fa.fa-list-ul
          .bar-name 列表
        .col-xs-6(:class="{active: showMobileSettings}" @click="openMobileSettings")
          .fa.fa-cog
          .bar-name 设置
      .mobile-user-list(v-if="showMobileList")
        div.search-user
          input.form-control(placeholder='用户名、uid' v-model.trim="searchText" @keyup.enter="searchUser")
          .button.fa.fa-search(@click="searchUser")
        div(v-if="searchUsers.length !== 0")
          h5.ms-list-info 根据 “{{searchText}}” 所找到的用户
          .ms-list-body(v-for="searchUser in searchUsers" @click="selectUser({type: 'UTU', user: searchUser})")
            .ms-list-left
              .ms-list-img
                .ms-point(:class="{online: searchUser.online}")
                img.ms-list-avatar(:src="'/avatar/' + searchUser.uid")
            .ms-list-center
              .ms-list-title {{searchUser.username}}
                .ms-list-content {{searchUser.description || '暂未填写个人简介'}}
        h5.ms-list-info 已创建的聊天
        +userList
      transition(name="slide-fade")
        .mobile-messages(v-if="target" :style="!targetUser?'padding-bottom:0':''")
          // 聊天窗口 header
          .mobile-message-header
            div
              span(v-if='target === "user"') {{targetUser?targetUser.username:'加载中...'}}
              span(v-if='target === "reminder"') 系统提醒
              span(v-if='target === "notice"') 系统通知
              .left.fa.fa-angle-left(@click="initialization")
          // 聊天窗口 footer
          .mobile-footer-input-div(v-if='target === "user"')
            transition(name='fade')
              .upload-info(v-if='uploadInfo') {{uploadInfo}}
            .mobile-footer-button
              .fa.fa-smile-o(title='发送表情' @click='showEmoji = !showEmoji')
              //.fa.fa-picture-o(title='发送图片' onclick='$("#imgInput").click();')
              .fa.fa-file-o(title='发送文件' onclick='$("#fileInput").val("");$("#fileInput").click();')
            .mobile-footer-input
              .expressions(v-show="showEmoji")
                a(v-for="tmj in twemoji")
                  img.emoji(:src="'/twemoji/2/svg/' + tmj + '.svg'" @click="selectExpression(tmj)")
              .input
                textarea(placeholder='请输入聊天内容' @keyup.ctrl.enter='sendToUser()' @click='showEmoji = false' ref='input' v-model='userInput[targetUser.uid]' @input='saveUserInputToLocal')
              .button
                button(@click="sendToUser()") 发送
          .mobile-messages-body(v-if="target === 'reminder'" ref='content')
            .noSelectUser(v-if='messages.length === 0')
              .fa(style='font-size: 1.5rem;') 暂无系统提醒
            div(style='padding: 1rem;' v-else)
              +reminderContent
          .mobile-messages-body(v-if="target === 'notice'" ref='content')
            .noSelectUser(v-if='messages.length === 0')
              .fa(style='font-size: 1.5rem;') 暂无系统通知
            div(style='padding: 1rem;' v-else)
              +noticeContent
          .mobile-messages-body(v-if="target === 'user'" ref='content' @click='showEmoji = false')
            +messageContent


block scripts
  script(src=`/moment/moment.js?v=${global.NKC.startTime}`)
  script(src=`/moment/locale/zh-cn.js?v=${global.NKC.startTime}`)
  script(src=`/xss/dist/xss.js?v=${global.NKC.startTime}`)
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/message/message.js?v=${global.NKC.startTime}`)
