extends ../bootstrap_base
block title
  title 信息
  -const hiddenFooter = true;
  link(rel='stylesheet' href="/message/message.css")
block content
  .hidden#data=JSON.stringify({targetUid: data.targetUid})
  .container-fluid(style='max-width: 1400px;height: 100%;' v-cloak )#app

    //- 宽屏
    div.computer(v-if='!mobile')
      .ms.center-block

        //- 左侧用户列表
        .ms-left
          .ms-user-panel
            .ms-connect-info {{socketInfo.text}}
            .ms-user-bg
              //img(src=`/u/${data.user.uid}/banner`)
            .ms-user-info
              .ms-user-avatar
                .ms-point(class=data.user.online?'online': '')
                img(src=`/avatar/${data.user.uid}`)
              div.ms-user-username= data.user.username

          //- 用户列表外层div
          .ms-list

            div(v-for="item in userList" @click="selectUser(item)" :class="{active: (target === 'notice' && item.type === 'STE') || (target === 'reminder' && item.type === 'reminder') || (target === 'user' && item.user && item.user.uid === targetUser.uid)}")

              //- 私信
              .ms-list-body(v-if="item.type === 'UTU'")
                .ms-list-left
                  .ms-list-img
                    .ms-point(:class="{online: item.user.online}")
                    img.ms-list-avatar(:src="'/avatar/'+item.user.uid")
                .ms-list-center
                  .ms-list-title {{item.user.username}}
                  .ms-list-content(v-if="!item.message.c.ty") {{item.message.c}}
                  .ms-list-content(v-else-if="item.message.c.ty === 'img'") 图片
                  .ms-list-content(v-else-if="item.message.c.ty === 'file'") 文件
                .ms-list-right
                  .ms-list-time {{format('MM/DD HH:mm', item.message.tc)}}
                  .ms-list-number(v-if="item.count") {{'未读' + item.count}}

              //- 系统通知
              .ms-list-body(v-else-if="item.type === 'STE'")
                .ms-list-left.notice
                  .ms-list-img
                    .ms-list-avatar.fa.fa-bullhorn
                .ms-list-center
                  .ms-list-title 系统通知
                  .ms-list-content {{item.message?item.message.c: '暂无通知'}}
                .ms-list-right
                  .ms-list-time {{item.message?format('MM/DD HH:mm', item.message.tc):''}}
                  .ms-list-number(v-if="item.count > 0") {{'未读' + item.count}}

              //- 系统提醒
              .ms-list-body(v-else-if="item.type === 'STU'")
                .ms-list-left.remind
                  .ms-list-img
                    .ms-list-avatar.fa.fa-bullhorn
                .ms-list-center
                  .ms-list-title 系统提醒
                  .ms-list-content {{item.message?item.message.c: '暂无提醒'}}
                .ms-list-right
                  .ms-list-time {{item.message?format('MM/DD HH:mm', item.message.tc):''}}
                  .ms-list-number(v-if="item.count > 0") {{'未读' + item.count}}

block scripts
  script(src=`/moment/moment.js?v=${global.NKC.startTime}`)
  script(src=`/moment/locale/zh-cn.js?v=${global.NKC.startTime}`)
  script(src=`/xss/dist/xss.js?v=${global.NKC.startTime}`)
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/message/message.js?v=${global.NKC.startTime}`)
