//- 字段详情/pages/thread/singlePost/singlePost.pug
if !isIncluded('singlePostTop')
  mixin singlePostTop(props)
    -var {pid, username, toc, uid, avatar, home, gradeId, gradeName, banned} = props;
    -var {reason, reviewed, isAuthor, floor, digest, tlm} = props;
    -var {cancelTopped} = props;
    .single-post-top
      .single-post-avatar(
        data-float-uid=uid
        )
        img(src=avatar class=banned?'user-banned-avatar':'')
      .single-post-user
        .single-post-username
          a(
            data-anonymous=!uid
            href=tools.getUrl('userHome', uid)
            target='_blank'
            data-float-uid=uid
          )=username
          if !banned
            include ../../user/grade
            +userGrade(gradeId, gradeName)
          if digest
            span.post-digest.fa.fa-star(title='精选内容')
          if isAuthor
            span 作者
          if cancelTopped
            span.single-post-cancel-topped(onclick=`topPost('${pid}', false)`) 取消置顶
        .single-post-toc
          +fromNow(toc)
          if tlm
            | &nbsp;修改于&nbsp;
            +fromNow(tlm)
      .single-post-floor
        a(href=tools.getUrl('post', pid))=floor + '楼'
        .single-post-checkbox
          label
            input(type='checkbox' data-pid=pid)
