extends ./latestBase
block communityTitle
  title=data.pageTitle
block communityContent
  div
    include ./nav
    +renderCommunityNav('community')
    .paging-button
      a.button.radius-left(
        href=`/n/community`
        class=data.t !== 'thread'? 'active': ''
        ) 回复
      a.button.radius-right(
        href=`/n/community?t=thread`
        class=data.t === 'thread'? 'active': ''
        ) 文章

    .paging-button
      a.button.radius-left(
        href=`/n/community?t=${data.t}&s=tlm`
        class=data.s !== 'toc'? 'active': ''
        ) 复序
      a.button.radius-right(
        href=`/n/community?t=${data.t}&s=toc`
        class=data.s === 'toc'? 'active': ''
        ) 贴序

    include ../publicModules/paging/paging

    if data.t === data.communityTypes.post
      //- 回复
      if !data.posts || data.posts.length === 0
        .p-t-5.p-b-5.text-center 空空如也~
      else
        include ../home/postlatest
          for a in data.posts
            +postlatest(a)

    else if data.t === data.communityTypes.thread
      // - 文章

      // 社区最新页置顶
      if data.toppedArticlesData && data.toppedArticlesData.length > 0
        include ../publicModules/articlePanel/articlePanel
        +ArticlesPanel(data.toppedArticlesData, data.latestCommunityToppedArticlePanelStyle)
        .topped-thread-header - 以上是置顶 -
      // 社区最新文章
      if data.articlesData && data.articlesData.length > 0
        include ../publicModules/articlePanel/articlePanel
        +ArticlesPanel(data.articlesData, data.latestCommunityArticlePanelStyle)
      else
        .p-t-5.p-b-5.text-center 空空如也~
    if data.paging.buttonValue.length > 0
      .m-t-1
        include ../publicModules/paging/paging_input

      //-
        if data.threads.length && !data.latestToppedThreads.length
          .p-t-5.p-b-5.text-center
            h4
              b 空空如也~
        else
          if data.t === 'column'
            -showPagingSortButton = false;
          else if data.t === 'thread'
            -showPagingSortButton = true;
          include ../publicModules/paging/paging

          if data.t === 'thread' && data.paging.page === 0 && data.latestToppedThreads.length > 0
            -const defaultThreadListStyle = {type: 'minimalist'}
            for thread in data.latestToppedThreads
              include ../publicModules/thread_panel/thread_panel
            div.topped-thread-header - 以上是置顶 -

          for thread in data.threads
            include ../publicModules/thread_panel/thread_panel
          -showPagingSortButton = false;
          -showHomeButton = false;
          if canManagement
            .paging-button
              a.button.radius-left.radius-right(onclick="managementThreads()") 管理
            .paging-button.management-thread-panel
              a.button.radius-left(onclick="selectAll()") 全选
              a.button(onclick="moveSelectedThreads()") 移动
              a.button.radius-right(onclick="disabledSelectedPosts()") 删除或退修
          include ../publicModules/paging/paging_input
