//-

  @param {Object} post 文章主体信息
  @param {Object} column 文章专栏信息
  @param {Array} mainCategory 文章主分类
  @param {Array} auxiliaryCategory 文章辅分类
  @param {Object} thread 文章文号 浏览数 回复数等
  @param {Number}} collectedCount 文章收藏数
extends ../../bootstrap_base
block title
  -var {post, column, mainCategory, auxiliaryCategory, thread, collectedCount, userAvatar} = data.columnPost
  -var {_id, name} = column
  -var {hits, count, oc} = thread
  -var {authorInfos, uid, originState, toc, t, abstractCn, abstractEn, keyWordsCn, keyWordsEn, c} = post
  title=t
  //- 与post隐藏相关的设置
  include ../../thread/hidePostContentSettings
    +hidePostContentSettings(data.postHeight)
  +includeCSS('/columns/article/article.css')
block content
  mixin thread
    .m-b-1
      include ./nav
      +nav({_id, name, hits, count, oc, mainCategory, auxiliaryCategory, collectedCount})
      include ./setUp
      //- 文章管理员操作
      +setUp()
      include ./title
      +title({t, authorInfos, uid, userAvatar, toc, originState, name, _id})
      include ./abstract
      +abstract({abstractCn, abstractEn, keyWordsCn, keyWordsEn})
      include ./content
      +content(c)
      include ./articleEditTime
      +articleEditTime(data.article.document.tlm)
      //- 文章用户操作
      .single-post-bottom
        a.single-comment-bottom-item(href="#container")
          .fa.fa-comment-o.reply-icon
          span 回复
        .single-comment-bottom-item(data-type="articleOption" data-aid=data.article._id title="其他操作" data-direction="down")
          .fa.fa-sliders.option-icon
  .hidden#data=objToStr({comments: data.comments, comment: data.comment, article: data.article})
  .container-fluid.max-width
    .article-common.col-xs-12.col-md-9.m-b-1.box-shadow-panel
      .row
        if data.articleStatus !== 'normal'
          if data.articleStatus === 'faulty'
            .col-xs-12.col-md-12(style=`margin: 0.5rem 0 0 0;${data.articleStatus === 'faulty' ? 'border: 1px solid #ff5a0b;padding: 0.5rem;border-radius: 5px;background-color: #fafafa;' : ''}`)
              .h4.text-center(style='color: #ff5a0b;') 本文已被退回修改，请作者点击编辑按钮进入编辑界面
              p.text-center(style='border-bottom: 1px solid #ff5a0b; padding-bottom: 1rem;color: #ff5a0b;')= `退修原因：${data.article.reason}`
              +thread
          else if data.articleStatus === 'disabled'
            .col-xs-12.col-md-12(style=`margin: 0.5rem 0 0 0;${data.articleStatus === 'disabled' ? 'border: 1px solid #666;padding: 0.5rem;border-radius: 5px;background-color: #fff;' : ''}`)
              .h4.text-center(style='color: #666;') 本文已被封禁，不可查看
              if permission('review')
                .text-center
                  a(onclick="") 点击解封
              p.text-center(style='border-bottom: 1px solid #666; padding-bottom: 1rem;color: #666;')= `封禁原因：${data.article.reason}`
              if permission('review')
                +thread
          else if data.articleStatus === 'unknown'
            -let reviewData  = data.article
            include ./module_review
            +thread
        else
          +thread
    .article-common.col-xs-12.col-md-9.m-b-1.box-shadow-panel#comment-content
      .row
        include ../../publicModules/commentCenter/comment
    .col-xs-12.col-md-3.box-shadow-panel#rightDom
      //- 滚动到页头页脚
      include ../../module_scrollTo.pug
  //- 显示作者联系信息
  include ./authorInfo.pug
  +authorInfo()
  //- include ../../publicModules/floatForumNav
  include ../../publicModules/nkcSource

  //- 下拉后左边显示的所属专业 上级专业 同级专业
  //- +floatForumNav({forums: thread.forums, categories: floatCategories, parentForums: floatParentForums, sameLevelForums: data.sameLevelForums})
block scripts
  +includeDeferJS('/columns/article/article.js', false)
  +includeDeferJS('/publicModules/articleCenter/articleOption/options.js', false)
  include ../../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../../publicModules/articleCenter/articleOption/options
  include ../../publicModules/disabledPost/disabledPost

