//- 页头的文章导航路径和右边文号,浏览数,回复,收藏设置
  @params {String} _id 专栏id
  @params {String} name 专栏名称
  @params {Number} hits 浏览数
  @params {Number} count 回复数
  @params {String} oc 文号
  @params {Array} mainCategory 主分类
  @params {Array} auxiliaryCategory 辅分类
  @params {Number} collectedCount 收藏数

include ../../publicModules/docNumber
mixin nav(data)
  -var {_id, name, hits, count, docNumber, oc, mainCategory, auxiliaryCategory, collectedCount, collected, type, url, showManagement, user} = data
  +includeCSS('/columns/article/nav.css')
  header
    -var mainCategoryId = '';
    if mainCategory && mainCategory.length
      p.path-navigation.hidden-xs
        //- a.jump(href=`/m`) 专栏
        //- span.nav-common >
        a.article-common-nav(href=`/m/${_id}`)=name
        span.nav-common /
        for category,i in mainCategory
          -mainCategoryId = category._id;
          a.article-common-nav(href=`/m/${_id}?c=${category._id}`)=category.name
          if mainCategory.length !== i+1
            span.nav-common /
      //- else
      //-   a.jump(href=`/m/${_id}`) 全部
    if mainCategory && auxiliaryCategory.length && mainCategoryId
      p.path-navigation.m-l-5.hidden-xs
        span.article-common-nav  辅分类:
        for category,i in auxiliaryCategory
          a.article-common-nav(href=`/m/${_id}?c=${mainCategoryId}-${category._id}`)=category.name
          if auxiliaryCategory.length !== i+1
            span.m-a-0.nav-common 、

    .info-list
      .info-list-item.m-r-05
        +docNumber(docNumber)
      .info-list-item(title="浏览数")
        .fa.fa-eye=` ${hits || 0}`
      .info-list-item.pointer(title='回复数' onclick="window.location.href='#container'")
        .fa.fa-comment=` ${count || 0}`
      .info-list-item.pointer
        if data.user
          if type === 'article'
            span(titlt='收藏数' onclick='collectArticle()')
              span=`${collected ? '已收藏' : '收藏'}${collectedCount ? `(${collectedCount})` : ''}`
          else
            span(titlt='收藏数' onclick='collectThread()')
              span=`${collected?'已收藏': '收藏'}${collectedCount ? `(${collectedCount})` : ''}`
        else
          span(titlt='收藏数' onclick="RootApp.openLoginPanel('login')")
            span=`收藏${collectedCount ? `(${collectedCount})` : ''}`
      if showManagement
        .info-list-item.fa.fa-cog.pointer(onclick="showSetUp()")

