//- 页头的文章导航路径和右边文号,浏览数,回复,收藏设置
  @params {String} _id 专栏id
  @params {String} name 专栏名称
  @params {Number} hits 浏览数
  @params {Number} count 回复数
  @params {String} oc 文号
  @params {Array} mainCategory 主分类
  @params {Array} auxiliaryCategory 辅分类
  @params {Number} collectedCount 收藏数

mixin nav(data)
  -var {_id, name, hits, count, oc, mainCategory, auxiliaryCategory, collectedCount, collected, type, url, showManagement, user} = data
  +includeCSS('/columns/article/nav.css')
  header
    if mainCategory.length
      p.path-navigation.hidden-xs
        //- a.jump(href=`/m`) 专栏
        //- span.nav-common >
        a.article-common-nav(href=`/m/${_id}`)=name
        span.nav-common /
        for category,i in mainCategory
          a.article-common-nav(href=`/m/${_id}?c=${category._id}`)=category.name
          if mainCategory.length !== i+1
            span.nav-common /
      //- else
      //-   a.jump(href=`/m/${_id}`) 全部
    if auxiliaryCategory.length
      p.path-navigation.m-l-5.hidden-xs
        span.article-common-nav  辅分类:
        for category,i in auxiliaryCategory
          a.article-common-nav(href=`/m/${_id}?c=${category._id}`)=category.name
          if auxiliaryCategory.length !== i+1
            span.m-l-1.nav-common ,

    p.info-list
      if oc
        span.m-r-1
          span 文号
          span=oc

      span.m-r-1.fa.fa-eye(title="浏览数")=hits || 0
      span.m-r-1.fa.fa-comment(title='回复数' onclick="window.location.href='#container'")=count || 0
      if data.user
        if type === 'article'
          span.m-r-1(titlt='收藏数' onclick='collectArticle()')
            span=`${collected ? '已收藏' : '收藏'}${collectedCount ? `(${collectedCount})` : ''}`
        else
          span.m-r-1(titlt='收藏数' onclick='collectThread()')
            span=`${collected?'已收藏': '收藏'}${collectedCount ? `(${collectedCount})` : ''}`
      else
        span.m-r-1(titlt='收藏数' onclick="RootApp.openLoginPanel('login')")
          span=`收藏${collectedCount ? `(${collectedCount})` : ''}`
      if showManagement
        span.fa.fa-cog.m-r-1(onclick="showSetUp()")

