//-  文章的标题,作者等
  @params {String} t 文章标题
  @params {Array} authorInfos 文章作者
  @params {String} uid 用户id
  @params {String} userAvatar
  @params {String} toc  文章创建时间
  @params {String} originState  文章源
  @params {String} name 专栏名
  @params {String} _id 专栏ID
  @params {String} type 文章类型
mixin title(data)
  -var {t, authorInfos, uid, toc, originState, name, _id, user ,type, article} = data;
  if authorInfos && authorInfos.length  && type !== "product"
    -var agencyIndex = 1;
    -var agencyArray = [];
    -var agencyAddArray = [];
    -for(var i=0;i<authorInfos.length;i++) {
      -if(authorInfos[i].agency){
        -if(agencyArray.indexOf(authorInfos[i].agency) == -1){
          -agencyArray.push(authorInfos[i].agency);
          -if(authorInfos[i].agencyCountry && authorInfos[i].agencyCountry.length > 0){
            -authorInfos[i].agencyAdd = authorInfos[i].agencyAdd.replace(/\//igm, " ");
            -agencyAddArray.push(authorInfos[i].agency+"，"+authorInfos[i].agencyCountry+" "+authorInfos[i].agencyAdd);
          -}else if(authorInfos[i].agencyAdd){
            -agencyAddArray.push(authorInfos[i].agency+"，" + authorInfos[i].agencyAdd);
          -}else{
            -agencyAddArray.push(authorInfos[i].agency);
          -}
          -authorInfos[i].agencyIndex = agencyIndex;
          -agencyIndex++;
        -}else{
          -authorInfos[i].agencyIndex = agencyArray.indexOf(authorInfos[i].agency)+1;
        -}
      -}
    -}
  +includeCSS('/columns/article/title.css')
  .common-article-head
    //-  hover显示作者信息
    h1.common-article-title=t
    p
      if authorInfos && authorInfos.length
        for authorInfo in authorInfos
          if authorInfo.kcid.length
            span.common-article-author-name(style="cursor: pointer;" onclick=`turnUser(${authorInfo.kcid})`)!=`${authorInfo.name}`
          else
            span.common-article-author-name!=`${authorInfo.name}`
          if authorInfos.length > 1 && authorInfo.agencyIndex && agencyAddArray.length > 1
            sup!=`${authorInfo.agencyIndex}`
          //- span.common-article-author-name=authorInfo.name
          if authorInfo.isContract && authorInfo.contractObj && authorInfo.contractObj.contractEmail
            span.common-article-author.fa.fa-envelope-open-o(onclick="displayAuthor('"+objToStr(authorInfo.contractObj)+"')")
    p
      if authorInfos && authorInfos.length
        if authorInfos.length > 1
          for agad,index in agencyAddArray
            span.common-article-author!=`${index+1}.${agad}`
        if authorInfos.length <= 1
          for agad,index in agencyAddArray
            span.common-article-author!=`${agad}`
    .common-article-info
      a.common-article-author.jump.m-r-05(href=`/u/${uid}` target="_blank"
        data-global-mouseover="showUserPanel"
        data-global-mouseout="hideUserPanel"
        data-global-data=objToStr({uid})
      )
        img(src=tools.getUrl('userAvatar', user.avatar, 'sm') style='width: 1.5rem;height: 1.5rem;border-radius:50%;')
        //- if authorInfos && authorInfos[0]
        span.kcid=user.username
      span.modify-time.m-r-05(title=tools.timeFormat(new Date(toc)))=format('YYYY-MM-DD', new Date(toc))
      if ['3','4','5','6'].includes(String(originState))
        span.m-r-1.origin.fa.fa-caret-square-o-down.origin-icon.dropdown() 原创
          .dropdown-menu(aria-labelledby='dropdown-level')
            span(style="padding:5px")!=`${getOriginLevel(originState)}`
      if _id
        a.column.jump.m-r-1(href=`/m/${_id}` target="_blank")=name
      if article
        span=` IP:${article.document? article.document.addr: article.addr}`
