extends ../index.pug
block title
  title 退款申请处理 | 商城设置
  +includeCSS('/shop/shop.css')
block shopSettings

  mixin userInfo(u) 
    .m-b-3
      h5 用户名：
        a(href=`/u/${u.uid}` target="_blank")= u.username
        | &nbsp;
        a(target="_blank" href=`/message?uid=${u.uid}`) 发私信
      h5=`文章：${u.threadCount}，回复：${u.postCount}，学术分：${u.xsf}，科创币：${u.kcb/100}`
      h5=`手机号：${u.nationCode?"+"+u.nationCode+" ":""}${u.mobile}`
      h5=`邮箱：${u.email? u.email: "未绑定"}`
      h5=`说明：${u.reason}`
      h5 凭证：
      if u.refundCerts && u.refundCerts.length
        div
          for cert in u.refundCerts
            .pointer.shop-cert(title=cert.name onclick=`app.viewCert({_id: ${cert._id}})`)
              if cert.ext === "jpg"
                img(src=`/shop/cert/${cert._id}?type=sm` style='width: 100%;')
              else  
                .text-center.shop-cert-file.p-t-2
                  span.fa.fa-file &nbsp;
                  span=cert.name

  .col-xs-12.col-sm-10.col-md-10(style='margin-bottom: 1rem;padding:1rem')
    a.btn.btn-primary(href=`/e/settings/shop/refunds`) 返回申请列表
    .hidden#data= JSON.stringify({order: data.order, user: data.user, refund: data.refund, refunds: data.refunds})
    .row#app(v-cloak)   
      div(v-if='order')
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-6
              h4 订单信息
              h5 订单ID：{{order.orderId}}
              h5 订单状态：{{order.status}}
              h5 订单总价：
                strong.text-danger {{order.orderPrice/100 + order.orderFreightPrice/100}}
                | 元 （商品总价：{{orderOriginPrice/100}}元，邮费：{{order.orderFreightPrice/100}}元
                span(v-if="order.refundMoney > 0") ，已退款：{{order.refundMoney/100}}元
                | ）
              h5 商品列表
              div(v-for="p in params")
                img.m-r-1(:src="'/rt/' + p.product.imgMaster" style='height: 4rem;width: 4rem;vertical-align:top;')
                div.display-i-b
                  a(:href="'/shop/product/'+p.product.productId" target='_blank' :title="p.product.abstract") {{p.product.name}} ({{p.productParam.name.join('+')}})
                  h5 商品ID：{{p.costId}}，商品总价：
                    strong.text-danger {{p.productPrice/100}}
                    | 元（{{p.count}}件）
                    strong.text-danger(v-if="p.refundStatus==='success'") 【已退款{{p.refundMoney?p.refundMoney/100+"元":""}}】

              a.m-r-1(:href="'/shop/manage/'+user.uid+'/order/detail?orderId=' + order.orderId" target="_blank") 订单详情
              a(:href="'/message?uid=' + order.buyUid" target="_blank") 联系买家
              hr
              .m-t-1(v-if='refund && order.status !== "finish" && !order.closeStatus')
                h4 退款中的商品
                div(v-if='param')
                  img.m-r-1(:src="'/rt/' + param.product.imgMaster" style='height: 4rem;width: 4rem;vertical-align:top;')
                  div.display-i-b
                    a(:href="'/shop/product/'+param.product.productId" target='_blank' :title="param.product.abstract") {{param.product.name}} ({{param.productParam.name.join('+')}})
                    h5 商品总价：
                      strong.text-danger {{param.productPrice/100}}
                      | 元（{{param.count}}件）
                div(v-else)
                  div(v-for="p in order.params" v-if="p.refundStatus === 'ing'")
                    img.m-r-1(:src="'/rt/' +p.product.imgMaster" style='height: 4rem;width: 4rem;vertical-align:top;')
                    div.display-i-b
                      a(:href="'/shop/product/' + p.product.productId" target='_blank' :title="p.product.abstract") {{p.product.name}} ({{p.productParam.name.join('+')}})
                      h5 商品总价：
                        strong.text-danger {{p.productPrice/100}}
                        | 元（{{p.count}}件）
                h5 类型：{{refundType(refund.type)}}
                h5 进度：{{status.description}}
              .m-t-3
                include ../../../shop/order/refundStatus.pug
            .col-xs-12.col-md-6(v-if="refund")

              .m-t-1
                h4 买家
                hr
                +userInfo(data.buyer)
                h4 卖家
                hr
                +userInfo(data.seller)
                   


              div(v-if='order.refundStatus === "ing" && refund.status === "P_APPLY_RM"')  
                .form
                  .form-group
                    h4.text-danger 用户申请只退款
                    div 
                      <label class="radio-inline">
                        <input type="radio" :value="true" v-model="agree"> 同意，系统随即打款
                      </label>
                      br
                      <label class="radio-inline">
                        <input type="radio" :value="false" v-model="agree"> 拒绝
                      </label>  
                  .form-group(v-if="agree === false")
                    h5 理由（不超过1000字节）：
                    textarea.form-control(rows="8" v-model="reason")
                  .form-group(v-else-if="agree === true")
                    h5 请输入登录密码
                    input.form-control(type="password" v-model="password")
                  .form-group
                    h5.text-danger(v-if="error") {{error}}
                    h5.text-success(v-if="info") {{info}}
                    button.btn.btn-primary.btn-block(@click="submit") 提交

block shopSettingScripts
  //- +includeJS("/experimental/shop/applys.js")
  +includeJS("/experimental/shop/refund/refundDetail.js")