extends ../publicModules/mdui_base
block title
  title= `${data.category.name} | 科创考试`
  link(rel='stylesheet' href=`/exam/exam.css?v=${startTime}`)
block content
  .mdui-container.mdui-typo#app(v-cloak).mdui-p-b-5
    .mdui-row.mdui-m-t-3
      .mdui-col-xs-12.mdui-col-md-12
        span 所有考试科目：
        span(v-for='c in categories' style='margin-right: 1rem;')
          a.mdui-text-color-theme(:href='"/exam/category/" + c._id') {{c.name}}
      .mdui-col-xs-12.mdui-col-md-8
        div
          h3.mdui-text-color-theme(style='line-height: 2rem!important;')= data.category.name
            small.mdui-m-l-2(style='font-size: 1.2rem;')
              | A卷：
              if data.category.disabledA
                | 已屏蔽
              else
                | 已启用
              | &nbsp;&nbsp;&nbsp;&nbsp;B卷：
              if data.category.disabledB
                | 已屏蔽
              else
                | 已启用

          p= data.category.description
          if permission('postQuestion')
            button.mdui-btn.mdui-color-theme-400.mdui-btn-dense(@click='toEditor') 添加考试题
          if permission('visitExamSettings')
            button.mdui-btn.mdui-color-theme-400.mdui-btn-dense(@click='visitSettings(category)') 设置
          button.mdui-btn.mdui-color-theme-400.mdui-btn-dense(@click='filterFunc') 筛选
            <i class="mdui-icon material-icons">arrow_drop_down</i>
          div(v-if='displayFilter').mdui-p-t-2.mdui-p-b-2
            <label class="mdui-checkbox mdui-m-r-3">
            <input type="checkbox" value='A' v-model='filter'>
            <i class="mdui-checkbox-icon"></i>
            | A卷
            </label>
            <label class="mdui-checkbox">
            <input type="checkbox" value='B' v-model='filter'>
            <i class="mdui-checkbox-icon"></i>
            | B卷
            </label>
            br
            <label class="mdui-checkbox mdui-m-r-3">
            <input type="checkbox" value='enabled' v-model='filter'>
            <i class="mdui-checkbox-icon"></i>
            | 未屏蔽
            </label>
            <label class="mdui-checkbox">
            <input type="checkbox" value='disabled' v-model='filter'>
            <i class="mdui-checkbox-icon"></i>
            | 已屏蔽
            </label>
            br
            <label class="mdui-checkbox mdui-m-r-3">
            <input type="checkbox" value='authTrue' v-model='filter'>
            <i class="mdui-checkbox-icon"></i>
            | 审核通过
            </label>
            <label class="mdui-checkbox mdui-m-r-3">
            <input type="checkbox" value='authFalse' v-model='filter'>
            <i class="mdui-checkbox-icon"></i>
            | 审核未通过
            </label>
            <label class="mdui-checkbox">
            <input type="checkbox" value='authNull' v-model='filter'>
            <i class="mdui-checkbox-icon"></i>
            | 未审核
            </label>
            br
            button.mdui-btn-dense.mdui-btn.mdui-color-theme-100(@click='toPage(0)') 确定
          div(v-for='q in questions' v-if='!q.hide').question-panel
            span.question-option
              img.question-user-avatar(:src='"/avatar/" + q.uid' style='height: 1.5rem;width: 1.5rem;border-radius: 50%;')
              a(:href="'/u/' + q.uid" target='_blank') {{q.user.username}}
            span.question-option.question-time {{fromNow(q.toc)}}
            span.question-option.question-type {{q.type==='ch4'?'单项选择题':'问答题'}}
            span.question-option {{q.volume}}卷
            a(:href='"/exam/editor?qid=" + q._id' target='_blank' v-if='q.auth === true')
              span.question-option(style='cursor: pointer') 编辑
            span.question-option(v-if='q.auth === false').mdui-text-color-red 审核未通过
            span.question-option(v-else-if='q.auth === true') 审核已通过
            a(v-else='!q.auth'  :href='"/exam/editor?qid=" + q._id' target='_blank')
              span.question-option(style='cursor: pointer;').mdui-text-color-red 去审核
            span.question-option.mdui-text-color-red(v-if='q.disabled && q.auth === true' style='cursor: pointer' @click='disabledQuestion(q, false)') 解除屏蔽
            span.question-option(v-if='!q.disabled && q.auth === true' style='cursor: pointer' @click='disabledQuestion(q, true)') 屏蔽
            .question-content(v-html='q.content_')
            a(:href="'/exam/question/' + q._id + '/image'" target='_blank' v-if='q.hasImage')
              img(:src="'/exam/question/'+q._id+'/image' + (q.t?'?t=' + q.t: '')")
            div.question-answer
              div.question-content(style='display: table-cell; width: 4rem;') 答案：
              div(style='display: table-cell')
                div(v-for='a, index in q.answer_' :class='{"mdui-text-color-green": index === 0, "mdui-text-color-red": index !== 0}' v-html='a')
        include ../publicModules/paging_button_vue
      .mdui-col-xs-12.mdui-col-md-3.mdui-col-offset-md-1

block scripts
  script(src=`/xss/dist/xss.js?v=${startTime}`)
  script(src=`/markdown-it/dist/markdown-it.js?v=${startTime}`)
  script(src=`/exam/category.js?v=${startTime}`)
  include ../MathJax