extends ../bootstrap_base
block title
  title 新建考卷
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width
    include ./nav
    .hidden#data=JSON.stringify({roles: data.roles, category: data.category,tag:data.tag})
    .row#app(v-cloak)
      .col-xs-12.col-md-6
        .form-horizontal
          .form-group
            label(class="col-sm-2 control-label") 考卷名称
            .col-sm-10
              input(class="form-control" placeholder="请输入考卷名称，50字以内" v-model='category.name')
          .form-group
            label(class="col-sm-2 control-label") 考卷介绍
            .col-sm-10
              textarea(class="form-control" placeholder="请输入考卷介绍，500字以内" v-model='category.description' style='min-height: 9rem;')
          .form-group
            label(class="col-sm-2 control-label") 考卷难度
            .col-sm-10
              h5(v-if='category._id') {{{'1': '基础级', '2': '专业级'}[category.level.toString()]}}
              div(v-else)
                <label class="radio-inline">
                  <input type="radio" :value="1" v-model='category.level'> 基础级
                </label>
                <label class="radio-inline">
                  <input type="radio" :value="2" v-model='category.level'> 专业级
                </label>
          .form-group
            label(class='col-sm-2 control-label') 考卷类型
            .col-sm-10
              div
                label.radio-inline
                  input(type='radio' value="AD" v-model="category.volume")
                  | 入学培训
                label.radio-inline
                  input(type='radio' value="A" v-model="category.volume")
                  | A卷考试
                label.radio-inline
                  input(type='radio' value="B" v-model="category.volume")
                  | B卷考试
          .form-group
            label(class="col-sm-2 control-label") 颁发证书
            .col-sm-10
              .checkbox
                label(v-for='role in roles').m-r-1
                  input(type="checkbox" :value='role._id' v-model='category.rolesId')
                  | {{role.displayName}}
          .form-group
            label(class="col-sm-2 control-label") 考试形式
            .col-sm-10
              div(v-if='!category._id')
                label.radio-inline
                  input(type="radio" value="secret" v-model='category.type')
                  | 闭卷
                label.radio-inline
                  input(type="radio" value="public" v-model='category.type')
                  | 开卷
                .text-danger.m-t-05(v-if='category.type === "public"') 开卷考试会公开试题答案，请谨慎选择。
              h5(v-else) {{{'public':'开卷','secret':'闭卷'}[category.type]}}
          .form-group
            label(class="col-sm-2 control-label") 试题来源
            .col-sm-10
              div(v-if='category.from.length === 0')
                h5.text-danger 暂未选择任何领域标签
              div(v-else)
                h5 已选择的专业领域 试题总数：{{questionsCount}}
                table.table.table-bordered
                  thead
                    tr
                      th 标签名
                      th 抽取数目
                      th
                  tbody
                    tr(v-for='tag in category.from')
                      th {{tag.name}}
                      th
                        input(type='number' style="width:80%"  v-model.number='tag.count' min="1")
                      th
                        button(@click='removeTag(tag)') 移除
              button.btn.btn-default.btn-sm(@click='showForums = !showForums') 全部领域标签
              div(v-if='showForums').m-t-1
                table.table.table-bordered
                  thead
                    tr
                      th 标签名
                      th {{category.level === 1?'基础题数':'专业题数'}}
                  tbody
                    tr(v-for='A in allTag.tagA' v-if="category.level === 1" )
                      th {{A.name}}
                      th {{A.count}}
                      th
                        button(@click='addTag(A)') 添加
                    tr(v-for="B in allTag.tagB" v-if="category.level === 2" )
                      th {{B.name}}
                      th {{B.count}}
                      th
                        button(@click='addTag(B)') 添加
          .form-group
            label(class="col-sm-2 control-label") 及格分数
            .col-sm-10
              input(class="form-control" placeholder="请输入及格分数，不能大于试题总数且不能小于1" v-model.number='category.passScore')
          .form-group
            label(class="col-sm-2 control-label") 答题时间
            .col-sm-10
              input(class="form-control" placeholder="请输入答题时间，单位分钟" v-model.number='category.time')
          .form-group
            label(class="col-sm-2 control-label") 是否屏蔽
            .col-sm-10
              <label class="radio-inline">
                <input type="radio" value="true" v-model='category.disabled'> 是
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" v-model='category.disabled'> 否
              </label>
          .form-group
            label(class="col-sm-2 control-label")
            .col-sm-10
              button.btn.btn-primary.btn-block(@click='save') 提交
      .col-xs-12.col-md-4.col-md-offset-2
        h3 已创建的考卷
        hr
        for c in data.categories
          h5
            span=`【${c.name}】`
            span=`${{'AD': '【入学培训】', 'A': "【A卷考试】", 'B': "【B卷考试】"}[c.volume]}${c.disabled?'【已屏蔽】':''}`
            a(href=`/exam/categories/editor?cid=${c._id}`) 编辑
block scripts
  +includeJS('/exam/editCategory.js')
