extends ../publicModules/mdui_base
block title
  title 科创考试
  -const mainContainer1400 = true;
  link(rel='stylesheet' href=`/exam/exam.css?v=${startTime}`)
block content
  .mdui-container.mdui-m-t-2.mdui-typo
    .row
      .mdui-col-sm-12
        img(src='/resources/site_specific/kclogo_misaka1.png' style='max-width:100%')

      .mdui-col-sm-12
        div(style='line-height:1.8;')
          :markdown
            # 参与考试获得证书

            ### 说明
            - 通过A卷考试可获得普通证书，可以参加所有普通话题的交流。
            - 通过B卷考试可获得高级证书，可参与特种科技爱好话题的交流。
            - 通过A卷考试的用户将来可以再参加B卷考试获取高级证书。
      .mdui-col-sm-12
        .mdui.row
          .mdui-col-xs-12.mdui-col-md-6
            h3.mdui-text-center A卷考试

            for category in data.examsCategories
              if !category.disabledA
                a(style='font-size: 2rem;' href=`/exam/paper?cid=${category._id}&volume=A`)=`【${category.name}】`
          .mdui-col-xs-12.mdui-col-md-6
            h3.mdui-text-center B卷考试
            for category in data.examsCategories
              if !category.disabledB
                a(style='font-size: 2rem;' href=`/exam/paper?cid=${category._id}&volume=B`)=`【${category.name}】`
          //for category in data.examsCategories
            h3= `参加 `
              if permission('visitExamsCategory')
                a(href=`/exam/category/${category._id}`)= `【${category.name}】`
              else
                span= `【${category.name}】`
              | &nbsp;测试
              if !category.disabledA
                a(href=`/exam/paper?cid=${category._id}&volume=A`) 【A卷】
              if !category.disabledB
                a(href=`/exam/paper?cid=${category._id}&volume=B`) 【B卷】
            //.mdui-col-xs-12.mdui-col-sm-6.mdui-col-md-4
              .mdui-p-a-2.mdui-text-center
                .category-name
                  if !permission('visitExamsCategory')
                    span= category.name
                  else
                    a(href=`/exam/category/${category._id}`)= category.name
                .category-description= category.description
                .mdui-p-t-2
                  a.mdui-m-r-3(href=`/exam/paper?cid=${category._id}&volume=A`) A卷
                  a(href=`/exam/paper?cid=${category._id}&volume=B`) B卷
block scripts
  script(src=`/mdui/js/mdui.min.js?v=${global.NKC.startTime}`)