extends ../bootstrap_base
block title 
  title=`${data.serverSettings.websiteName} | 考试系统`
  -const {countOneDay, count, waitingTime} = data.examSettings;
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-8
        h2.m-b-2 参与考试获得证书
        ul
          li 
            h5 通过A卷考试可获得普通证书，可以参加所有普通话题的交流。
          li 
            h5 通过B卷考试可获得高级证书，可参与相应特种科技爱好话题的交流。
          li 
            h5 通过A卷考试的用户将来可以再参加B卷考试。
          li 
            h5=`同一用户每天最多进行 ${countOneDay} 次考试。`
          li 
            h5=`同一用户的考试次数累计达到 ${count} 次时，在${waitingTime} 天之内将无法再次参加考试。`  
        .row.m-t-2 
          .col-xs-12.col-md-12
                
        .row.m-t-2
          .col-xs-12.col-md-6
            +listHeader('A卷（基础级）')
            for category in data.examsCategories
              if category.volume === 'A'
                span.h4.m-r-1(style='display: inline-block;')
                  a(href=`/exam/paper?cid=${category._id}`)=`【${category.name}】`
                  //-p=category.description
          .col-xs-12.col-md-6
            +listHeader('B卷（专业级）')
            for category in data.examsCategories
              if category.volume === 'B'
                  span.h4.m-r-1(style='display: inline-block;')
                    a(href=`/exam/paper?cid=${category._id}`)=`【${category.name}】`
                  //-p=category.description
      .col-xs-12.col-md-3.col-md-offset-1
        if permission('visitEditQuestion')
          a.m-t-1.exam-add-question-btn(href=`/exam/editor`) 参与出题
          a.m-t-1.btn.btn-default.btn-block(href=`/exam/record/question`) 出题记录
            if data.unViewedCount > 0
              span=`(${data.unViewedCount})`
        else 
          a.m-t-1.exam-add-question-btn(style='background-color: #aaa;') 参与出题
          p 科创题库暂时只允许拥有学者证书的会员参与出题，发表优质的内容将有机会获得学者证书。
        a.m-t-1.btn.btn-default.btn-block(href=`/exam/record/paper?t=self`) 考试记录
        if permission('addExamsCategory') || permission('visitExamsQuestionAuth') || permission('visitExamsQuestionAuth')
          .p-t-2  
          +listHeader('管理操作')
          if permission('addExamsCategory')
            a.m-t-1.btn.btn-default.btn-block(href=`/exam/categories/editor`) 考卷管理
          if permission('visitExamQuestionManagement')  
            a.m-t-1.btn.btn-default.btn-block(href=`/exam/questions`) 试题管理  
          if permission('visitExamsQuestionAuth')  
            a.m-t-1.btn.btn-default.btn-block(href=`/exam/auth`)
              if data.unauthCount
                span= `试题审核(${data.unauthCount})`
              else
                | 试题审核          
        .p-t-2        
        +listHeader('最新考试记录')      
        for paper in data.papers
          .m-t-1
            span=fromNow(paper.tlm)
            //- img(src=`/avatar/${paper.user.uid}` target='_blank').user-list-avatar
            | &nbsp;
            a(href=`/u/${paper.user.uid}` target='_blank')= paper.user.username || `用户${paper.user.uid}`
            | &nbsp;
            | 通过了【
            span=paper.category.name
            | 】
            if paper.category.volume === 'A'
              span 基础级
            else 
              span 专业级
        .p-t-2  
        +listHeader('命题人')
        for li in data.usersList  
          a(href=`/u/${li.user.uid}` target='_blank' style='display:inline-block;')
            - var navbarDesc = li.user.navbarDesc;
            - var title = `${navbarDesc.username}\n`+`学术分 ${navbarDesc.xsf}\n`+`科创币 ${navbarDesc.kcb}\n`+`${navbarDesc.cs}`;
            img.user-list-avatar(src=`/avatar_small/${li.user.uid}`  title=title)