extends ../bootstrap_base
block title
  title 试题管理
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width
    include ./nav
    .row
      .col-xs-12.col-md-12
        h5.text-danger 提示：为了不影响已创建的考卷和考试，编辑试题时将不对原试题做任何修改。点击提交后系统会根据提交的数据创建新的试题，请自行将原试题做屏蔽处理。        
      .col-xs-12.col-md-3
        .list-group
          a.btn.list-group-item(href=`/exam/questions`)
            .text-left 全部
              .pull-right=`总共：${data.allCount}, 可用：${data.count}`
          a.btn.list-group-item(href='/exam/questions?t=pub')
            .text-left 公共题库
              .pull-right=`总共：${data.allPubCount}, 可用：${data.pubCount}`      
          for forum in data.forums
            a.btn.list-group-item(href=`/exam/questions?t=pro&fid=${forum.fid}`)
              .text-left=forum.displayName
                .pull-right=`总共：${forum.allCount}, 可用：${forum.count}`
      
      .col-xs-12.col-md-9
        include ../interface_navigation_paging
        for question in data.questions
          div.m-b-2(style='padding: 1rem;background-color: #efefef;')
            span.m-r-1=format('YYYY/MM/DD HH:mm:ss', question.toc)
            if question.disabled
              span.m-r-1.text-danger 已被屏蔽
            else  
              if question.auth === null
                span.m-r-1 等待审核
              else if question.auth === true
                span.text-success.m-r-1 审核已通过
              else 
                span.text-danger.m-r-1 审核未通过
            a(href=`/exam/editor?qid=${question._id}`).m-r-1 编辑
            if !question.disabled
              a(href=`javascript:disabledQuestion(${question._id})`).m-r-1 屏蔽
            else   
              a(href=`javascript:enabledQuestion(${question._id})`).m-r-1 解除屏蔽
            if question.auth === false || question.disabled
              h5.text-danger 原因：
                span= question.reason    
            div!=`${markdown('问：' + question.content)}`
            if question.hasImage
              img(src=`/exam/question/${question._id}/image` style='max-width: 100%;')
            for a, index in question.answer
              -let c=[], i = ['A：', 'B：', 'C：', 'D：'];
              if index === 0
                -c.push('text-success');
              else   
                -c.push('text-danger');
              h5(class=c)!= markdown(i[index] + a)    
        include ../interface_navigation_paging  
block scripts
  +includeJS('/exam/questions.js')        