doctype html
html(lang='zh-CN')
  head
    title=data.config.name
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href=`/bootstrap/css/bootstrap.css?t=${data.time}`)
    link(rel="stylesheet" href=`/font-awesome/css/font-awesome.css?t=${data.time}`)
    link(rel="stylesheet" href=`/index.css?t=${data.time}`)
  body
    .container#app(v-cloak)
      .site-name=data.config.name
      .content
        .from.success(v-if="success")
          | 安装完成！
          pre.text-left
            | // 执行以下命令启动网站
            | # pm2 start pm2.config.js
        .from(v-else)
          .form-horizontal
            .form-group
              .col-sm-3
              .col-sm-8
                .title 网站服务
            .form-group
              .name.col-sm-3.control-label 地址
              .col-sm-8
                input.form-control(type='text' v-model.trim='server.address')
            .form-group
              .name.col-sm-3.control-label 端口
              .col-sm-8
                input.form-control(type='text' v-model.trim='server.port')
          .form-horizontal
            .form-group
              .col-sm-3
              .col-sm-8
                .title 管理员
            .form-group
              .name.col-sm-3.control-label 用户名
              .col-sm-8
                input.form-control(type='text' v-model.trim='account.username')
            .form-group
              .name.col-sm-3.control-label 密码
              .col-sm-8
                input.form-control(type='password' v-model.trim='account.password' placeholder="请输入管理员密码")
            .form-group
              .name.col-sm-3.control-label 重复密码
              .col-sm-8
                input.form-control(type='password' v-model.trim='account.password2' placeholder="请输入管理员密码")
          .form-horizontal
            .form-group
              .col-sm-3
              .col-sm-8
                .title MongoDB
            .form-group
              .name.col-sm-3.control-label 地址
              .col-sm-8
                input.form-control(type='text' v-model.trim='mongodb.address')
            .form-group
              .name.col-sm-3.control-label 端口
              .col-sm-8
                input.form-control(type='text' v-model.trim='mongodb.port')
            .form-group
              .name.col-sm-3.control-label 数据库名
              .col-sm-8
                input.form-control(type='text' v-model.trim='mongodb.databaseName')
                .radio
                  span 存在同名数据库时：
                  label.m-r-1
                    input(type='radio' :value='false' v-model='mongodb.drop')
                    span 阻止安装
                  label
                    input(type='radio' :value='true' v-model='mongodb.drop')
                    span 清空后安装
            .form-group
              .name.col-sm-3.control-label 用户名
              .col-sm-8
                input.form-control(type='text' v-model.trim='mongodb.username' placeholder="无需验证可不填写")

            .form-group
              .name.col-sm-3.control-label 密码
              .col-sm-8
                input.form-control(type='password' v-model.trim='mongodb.password' placeholder="无需验证可不填写")
          .form-horizontal
            .form-group
              .col-sm-3
              .col-sm-8
                .title Elasticsearch
            .form-group
              .name.col-sm-3.control-label 地址
              .col-sm-8
                input.form-control(type='text' v-model.trim='elasticSearch.address')
            .form-group
              .name.col-sm-3.control-label 端口
              .col-sm-8
                input.form-control(type='text' v-model.trim='elasticSearch.port')
            .form-group
              .name.col-sm-3.control-label 索引名
              .col-sm-8
                input.form-control(type='text' v-model.trim='elasticSearch.indexName')
            .form-group
              .name.col-sm-3.control-label 用户名
              .col-sm-8
                input.form-control(type='text' v-model.trim='elasticSearch.username' placeholder="无需验证可不填写")
            .form-group
              .name.col-sm-3.control-label 密码
              .col-sm-8
                input.form-control(type='password' v-model.trim='elasticSearch.password' placeholder="无需验证可不填写")
          .form-horizontal
            .form-group
              .col-sm-3
              .col-sm-8
                .title Redis
            .form-group
              .name.col-sm-3.control-label 地址
              .col-sm-8
                input.form-control(type='text' v-model.trim='redis.address')
            .form-group
              .name.col-sm-3.control-label 端口
              .col-sm-8
                input.form-control(type='text' v-model.trim='redis.port')
            .form-group
              .name.col-sm-3.control-label 密码
              .col-sm-8
                input.form-control(type='password' v-model.trim='redis.password' placeholder="无需验证可不填写")
          .form-horizontal
            .form-group(v-if='error')
              .col-sm-3
              .col-sm-8
                code {{error}}
            .form-group
              .col-sm-3
              .col-sm-8
                button.btn.btn.btn-default.btn-block.btn-lg(v-if='!saving' @click='save') 立即安装
                button.btn.btn.btn-default.btn-block.btn-lg(v-else)
                  .fa.fa-spinner.fa-spin
                  | &nbsp;&nbsp;安装中...
    script(src=`/vue/dist/vue.js?t=${data.time}`)
    script(src=`/jquery/dist/jquery.min.js?t=${data.time}`)
    script(src=`/Promise/promise.min.js?t=${data.time}`)
    script(src=`/interface_common.js?t=${data.time}`)
    script(src=`/index.js?t=${data.time}`)

