extends ../../experimental
block eTitle
  title 内容发表设置
  +includeCSS('/experimental/settings/publish/publish.css')
block eContent
  .hidden#data=objToStr({keywordsGroup: data.keywordsGroup, roleList: data.roleList, publishSettings: data.publishSettings, sources: data.sources})
  .container-fluid.max-width
    .row#app(v-cloak)
      .col-xs-12.col-md-2
        .source-list
          .source-item(
            v-for='source in sources'
            @click='selectSource(source.type)'
            :class='{"active": source.type === selectSourceType}'
            )
            span {{source.name}}
            .fa.fa-angle-right
        //div {{settings}}
      .col-xs-12.col-md-10(v-if='settings')
        h2 目录
        ul
          li.h4
            a(href='#postPermission') 发表权限设置
          li.h4
            a(href='#postReview') 内容审核设置
        #postPermission.p-t-4
          h3.m-b-2 发表权限设置
          .form.form-horizontal
            .form-group
              label.col-sm-2.control-label 最小认证等级
              .col-sm-10
                .radio
                  for item in [[0,  '已注册'], [1, '绑定手机号'], [2, '身份证正反面'], [3, '视频认证']]
                    label.m-r-1
                      input(type='radio' :value=item[0] v-model.number='settings.postPermission.authLevelMin')
                      span=`等级 ${item[0]}（${item[1]}）`

            .form-group
              label.col-sm-2.control-label 考试限制
              .col-sm-10(style='padding-top: 0.7rem;')
                .m-b-1
                  strong 功能状态
                  .radio
                    label.m-r-1
                      input(type='radio' :value='true' v-model='settings.postPermission.examEnabled')
                      span 开启
                    label
                      input(type='radio' :value='false' v-model='settings.postPermission.examEnabled')
                      span 关闭
                .m-b-1
                  strong 通过下面哪些考试均可绕过限制？
                  .checkbox
                    label.m-r-1
                      input(type='checkbox' :value='true' v-model='settings.postPermission.examVolumeAD')
                      span 入学考试
                    label.m-r-1
                      input(type='checkbox' :value='true' v-model='settings.postPermission.examVolumeA')
                      span A 卷
                    label
                      input(type='checkbox' :value='true' v-model='settings.postPermission.examVolumeB')
                      span B 卷
                  .m-t-05.text-danger(v-if='!settings.postPermission.examVolumeAD && !settings.postPermission.examVolumeA && !settings.postPermission.examVolumeB')
                    | 请至少勾选一种考试
                .m-b-1
                  strong 是否允许未考试用户发表？
                  .radio
                    label.m-r-1
                      input(type='radio' :value='true' v-model='settings.postPermission.examNotPass.status')
                      span 允许
                    label
                      input(type='radio' :value='false' v-model='settings.postPermission.examNotPass.status')
                      span 禁止
                .m-b-1
                  strong 是否限制未考试用户的发表条数？
                  .radio
                    label.m-r-1
                      input(type='radio' :value='false' v-model='settings.postPermission.examNotPass.limited')
                      span 无限制
                    label.m-r-05
                      input(type='radio' :value='true' v-model='settings.postPermission.examNotPass.limited')
                      span 限制
                    input.m-r-05.exam-count(
                      style='max-width: 5rem;'
                      type='text'
                      v-model.number='settings.postPermission.examNotPass.count'
                      )
                    span 条/天
            .form-group
              label.col-sm-2.control-label 发表间隔限制
              .col-sm-10
                h5.text-danger 满足多条配置时，间隔时间取最小值
                .table-responsive
                  table.table.table-bordered.nkc-table.m-b-05
                    thead
                      tr
                        th 角色
                        th 最小间隔时间（分钟）
                        th 其他
                    tbody
                      tr
                        th 默认
                        th
                          .radio
                            label.m-r-1
                              input(
                                type='radio'
                                :value='false'
                                v-model='settings.postPermission.defaultInterval.limited'
                                )
                              span 无限制
                            label.m-r-05
                              input(
                                type='radio'
                                :value='true'
                                v-model='settings.postPermission.defaultInterval.limited'
                                )
                              span 限制
                          .m-t-05
                            input.m-r-05.exam-count(
                              type='text'
                              v-model.number='settings.postPermission.defaultInterval.interval'
                              :disabled='!settings.postPermission.defaultInterval.limited'
                              )
                        th
                      tr(v-for='(item, index) in settings.postPermission.intervalLimit')
                        th
                          select(v-model='item.id')
                            option(v-for='role in roleList' :value='role.type') {{role.name}}
                        th
                          .radio
                            label.m-r-1
                              input(
                                type='radio'
                                :value='false'
                                v-model='item.limited'
                              )
                              span 无限制
                            label.m-r-05
                              input(
                                type='radio'
                                :value='true'
                                v-model='item.limited'
                              )
                              span 限制
                          .m-t-05
                            input.m-r-05.exam-count(
                              type='text'
                              v-model.number='item.interval'
                              :disabled='!item.limited'
                              )
                        th
                          button.btn.btn-xs.btn-default(@click='removeItem(settings.postPermission.intervalLimit, index)') 删除
                div
                  button.btn.btn-default.btn-sm(@click='addItem(settings.postPermission.intervalLimit)') 添加
            .form-group
              label.col-sm-2.control-label 发表条数限制
              .col-sm-10
                h5.text-danger 满足多条配置时，发表条数取最大值
                .table-responsive
                  table.table.table-bordered.nkc-table
                    thead
                      tr
                        th 角色
                        th 每天最大条数
                        th 其他
                    tbody
                      tr
                        th 默认
                        th
                          .radio
                            label.m-r-1
                              input(
                                type='radio'
                                :value='false'
                                v-model='settings.postPermission.defaultCount.limited'
                              )
                              span 无限制
                            label.m-r-05
                              input(
                                type='radio'
                                :value='true'
                                v-model='settings.postPermission.defaultCount.limited'
                              )
                              span 限制
                          .m-t-05
                            input.m-r-05.exam-count(
                              type='text'
                              v-model.number='settings.postPermission.defaultCount.count'
                              :disabled='!settings.postPermission.defaultCount.limited'
                            )
                        th
                      tr(v-for='(item, index) in settings.postPermission.countLimit')
                        th
                          select(v-model='item.id')
                            option(v-for='role in roleList' :value='role.type') {{role.name}}
                        th
                          .radio
                            label.m-r-1
                              input(
                                type='radio'
                                :value='false'
                                v-model='item.limited'
                              )
                              span 无限制
                            label.m-r-05
                              input(
                                type='radio'
                                :value='true'
                                v-model='item.limited'
                              )
                              span 限制
                          .m-t-05
                            input.m-r-05.exam-count(
                              type='text'
                              v-model.number='item.count'
                              :disabled='!item.limited'
                            )
                        th
                          button.btn.btn-xs.btn-default(@click='removeItem(settings.postPermission.countLimit, index)') 删除
                div
                  button.btn.btn-default.btn-sm(@click='addItem(settings.postPermission.countLimit)') 添加
        #postReview.p-t-4
          h3.m-b-2 内容审核设置
          .form.form-horizontal
            .form-group
              label.control-label.col-sm-2 白名单
              .col-sm-10
                .checkbox
                  label.m-r-2(v-for='r in roleList')
                    input(type='checkbox' :value='r.type' v-model='settings.postReview.whitelist')
                    span {{r.name}}
            .form-group
              label.control-label.col-sm-2 审核条数
              .col-sm-10
                .table-responsive
                  table.table.table-bordered.nkc-table
                    thead
                      tr
                        th 角色
                        th 审核
                        th 其他
                    tbody
                      tr
                        th
                          span 非以下国际区号手机注册的用户
                          div
                            select.exam-count(v-model='settings.postReview.foreign.nationCode')
                              option(v-for='item in nationCodes' :value='item.code') +{{item.code}} {{item.chineseName}}
                        th
                          .radio
                            label.m-r-1
                              input(type='radio' value='none' v-model='settings.postReview.foreign.type')
                              span 无需审核
                          .radio
                            label.m-r-1
                              input(type='radio' value='all' v-model='settings.postReview.foreign.type')
                              span 所有必审
                          .radio
                            label.m-r-1
                              input(type='radio' value='count' v-model='settings.postReview.foreign.type')
                              span 前 {{settings.postReview.foreign.count}} 次必审
                          .m-t-05
                            input.exam-count(
                              type='text'
                              v-model.number='settings.postReview.foreign.count'
                              :disabled='settings.postReview.foreign.type !== "count"'
                            )
                      tr
                        th 未通过入学考试
                        th
                          .radio
                            label.m-r-1
                              input(type='radio' value='none' v-model='settings.postReview.notPassVolumeAD.type')
                              span 无需审核
                          .radio
                            label.m-r-1
                              input(type='radio' value='all' v-model='settings.postReview.notPassVolumeAD.type')
                              span 所有必审
                          .radio
                            label.m-r-1
                              input(type='radio' value='count' v-model='settings.postReview.notPassVolumeAD.type')
                              span 前 {{settings.postReview.notPassVolumeAD.count}} 次必审
                          .m-t-05
                            input.exam-count(
                              type='text'
                              v-model.number='settings.postReview.notPassVolumeAD.count'
                              :disabled='settings.postReview.notPassVolumeAD.type !== "count"'
                            )
                      tr
                        th 未通过 A 卷考试
                        th
                          .radio
                            label.m-r-1
                              input(type='radio' value='none' v-model='settings.postReview.notPassVolumeA.type')
                              span 无需审核
                          .radio
                            label.m-r-1
                              input(type='radio' value='all' v-model='settings.postReview.notPassVolumeA.type')
                              span 所有必审
                          .radio
                            label.m-r-1
                              input(type='radio' value='count' v-model='settings.postReview.notPassVolumeA.type')
                              span 前 {{settings.postReview.notPassVolumeA.count}} 次必审
                          .m-t-05
                            input.exam-count(
                              type='text'
                              v-model.number='settings.postReview.notPassVolumeA.count'
                              :disabled='settings.postReview.notPassVolumeA.type !== "count"'
                            )
                      tr(v-for='(l, index) in settings.postReview.blacklist')
                        th
                          select.exam-count(v-model='l.id')
                            option(v-for='role in roleList' :value='role.type') {{role.name}}
                        th
                          .radio
                            label
                              input(type='radio' value='none' v-model='l.type')
                              span 无需审核
                          .radio
                            label
                              input(type='radio' value='all' v-model='l.type')
                              span 所有必审
                          .radio
                            label
                              input(type='radio' value='count' v-model='l.type')
                              span 前 {{l.count}} 条必审
                          .m-t-05
                            input.exam-count(
                              type='text'
                              v-model.number='l.count'
                              :disabled='l.type !== "count"'
                            )
                        th
                          button.btn.btn-xs.btn-default(@click='removeItem(settings.postReview.blacklist, index)') 删除
                div
                  button.btn.btn-sm.btn-default(@click='addReviewItem()') 添加
            .form-group
              label.control-label.col-sm-2 敏感词组
              .checkbox
                label.m-r-1(v-for='g in keywordsGroup')
                  input(type='checkbox' :value='g.id' v-model='settings.postReview.keywordGroupId')
                  span {{g.name}}

        .m-t-1
          button.btn.btn-primary.btn-block(@click='submit') 保存
block scripts
  +includeJS('/nationCodes/nationCodes.js')
  +includeJS('/experimental/settings/publish/publish.js')