extends ../modules/mdui_base
block title
  title 首页测试
block content
  .mdui-container
    .mdui-row.mdui-m-t-1
      .mdui-col-md-2
        include ../modules/forums_nav
      .mdui-col-md-7
        for r, index in data.results
          //h5= r.t.toLocaleString()
          -const type = r.type;
          .panel.panel-default
            .panel-body
              if type === 'thread'
                -const {thread} = r;
                include ../modules/thread_panel
                //- h3.text-center 【文章】
                  h4= `文章ID:${r.thread.tid}`
                  h4= `文章标题:${r.thread.firstPost.t}`
                  p= `文章最新回复：${r.thread.lastPost.c.slice(0, 200)}`
              else if type === 'message'
                h3.text-center= `【好友私信】`
                p
                  if r.message.c.type
                    if r.message.c.type === 'file'
                      span 文件
                    else if r.message.c.type === 'img'
                      span 图片
                  else
                    span= r.message.c
              else if type === 'forum'
                h3.text-center 【专业】
                h4= `专业名：${r.forum.displayName}`
                h4= `文章ID:${r.latestThread.tid}`
                h4= `文章标题：${r.latestThread.firstPost.t}`
                p= `文章最新回复：${r.latestThread.lastPost.c.slice(0, 200)}`
              else if type === 'latest'
                h3.text-center 【最新】
                h4= `文章ID:${r.thread.tid}`
                h4= `文章标题：${r.thread.firstPost.t}`
                p= `文章最新回复：${r.thread.lastPost.c.slice(0, 200)}`
              else if type === 'digest'
                h3.text-center 【精选】
                h4= `文章标题：${r.thread.firstPost.t}`
                h4= `文章ID:${r.thread.tid}`
                p= `文章最新回复：${r.thread.lastPost.c.slice(0, 200)}`
        include ../interface_navigation_paging
      .mdui-col-md-3