extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-9
        .fullwidthpanel.ThreadBox.nkcpanel
      .col-xs-12.col-md-3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam explicabo cumque tempore, nesciunt id ex cum quidem. Dolorem aspernatur facere quam optio cum. Asperiores quisquam dolorem tempore facilis velit iste!
        #pdf_page
        <iframe src="/external_pkgs/pdf/web/viewer.html?file=http://192.168.11.114:9000/external_pkgs/pdf/web/compressed.tracemonkey-pldi-09.pdf" width="100%" height="800"></iframe>
        canvas(id="page_count")
        a.media(href="/external_pkgs/pdf/web/compressed.tracemonkey-pldi-09.pdf")
block scripts
  //- script(src=`/external_pkgs/pdf/build/pdf.js?v=${global.NKC.startTime}`)
  //- script(src=`/external_pkgs/pdf/build/pdf.worker.js?v=${global.NKC.startTime}`)
  //- script(src=`/external_pkgs/pdf/web/viewer.js?v=${global.NKC.startTime}`)
  //- script(src=`/external_pkgs/pdf/jquery.min.js?v=${global.NKC.startTime}`)
  script(src=`/external_pkgs/pdf/jquery.media.js?v=${global.NKC.startTime}`)
  +includeJS("/test/test.js")