footer.footer
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        .row
          .col-xs-6.col-md-2
            .footer-header 关于
            ul.footer-link
              li
                a(href="/f" target="_blank") 专业地图
              li
                a(href="/t/25436" target="_blank") 关于科创
              li
                a(href="/t/36782" target="_blank") 提问须知
              li
                a(href="/t/66350" target="_blank") 禁止事项
              li
                a(href="/t/79481" target="_blank") 建设指南
              li
                a(href="/page/faq" target="_blank") FAQ
          .col-xs-6.col-md-2
            .footer-header 应用
            ul.footer-link
              li
                a(href="https://www.kechuang.org/tools/index.htm" target="_blank") 计算工具
              li
                a(href="/fund" target="_blank") 科创基金
              li
                a(href="/shop" target="_blank") 科创商城
              li
                a(href="/exam" target="_blank") 考试系统
              li
                a(href="/activity" target="_blank") 活动
          .col-xs-6.col-md-2
            .footer-header 友情链接
            ul.footer-link
              li
                a(href='http://gyhj.org' target="_blank") 故园怀旧
              li
                a(href='http://www.5csf.com/' target="_blank") 5C科幻协会
              li
                a(href='https://www.hellocq.net/forum/' target="_blank") 哈罗CQ火腿社区
              li
                a(href='http://www.moz8.com/' target="_blank") 模友之吧
          .col-xs-6.col-md-2
            .footer-header 其他
            ul.footer-link
              li
                a(href="/problem/add")
                  span(style="font-size: 1.4rem;").fa.fa-bug
                  span(style="font-size: 1.2rem;") &nbsp;上报问题
              li
                a
                  span(style="font-size: 1.5rem;").fa.fa-phone-square
                  span(style="font-size: 1.2rem;")=` ${data.serverSettings.telephone}`
              li
                a(href=data.serverSettings.github target="_blank")
                  span(style="font-size: 1.5rem;").fa.fa-github
                  span(style="font-size: 1.2rem;") &nbsp;Github

          .col-xs-6.col-md-2
            .footer-header.text-center 手机访问
            ul.footer-link
              li.text-center
                canvas.qrcode-canvas(data-path="/")
          .col-xs-6.col-md-2
            .footer-header.text-center 安卓客户端
            ul.footer-link
              li.text-center
                a(href='/app')
                  canvas.qrcode-canvas(data-path="/app")
                  span(style='display: block;font-size: 1rem;color: #555555;margin-top: 0.3rem;') 点击下载

      .col-xs-12.col-md-12
        .website-name
          h5=`${data.serverSettings.brief}`
          h5=`${data.serverSettings.copyright}`
          h5=`${data.serverSettings.record}`

          //h5=`${data.serverSettings.websiteName}`
