.mdui-hidden-sm-down
  .forums-nav-header.mdui-m-t-2
    <i class="mdui-icon material-icons">&#xe8d2;</i>
    | 专业分类
  ul.mdui-list.mdui-list-dense.forums-nav#forumsNav(
    v-cloak
    @mouseleave='forumsList = [];forumsIdList=[];'
  )
    .hidden(ref='forums')= JSON.stringify(data.forums)
    li.mdui-list-item.mdui-ripple(
      v-for='forum in forums'
      @click='openForum(forum)'
      @mouseenter='displayChildForums(forum, 0)'
      :class="{'select-forum': forumsIdList.indexOf(forum.fid) >= 0}"
    )
      .mdui-list-item-avatar
        img(:src='"/forum_avatar/" + forum.fid')
      .mdui-list-item-content
        span {{forum.displayName}}
        div.icon
          i.mdui-icon.material-icons &#xe5cc;
    transition(name='fade')
      .child-forums-nav(v-if='forumsList.length !== 0')
        div(
          v-for='(f, index) in forumsList'
          :style='"width:" + width + "px;left:" + (index+1)*width + "px;min-height:" + height + "px"'
          :class="{'child-forums-nav-div': f.childrenForums && f.childrenForums.length !== 0}"
        )
          ul.mdui-list.mdui-list-dense.forums-nav
            li.mdui-list-item.mdui-ripple(
              v-if="f.childrenForums"
              v-for='forum in f.childrenForums'
              @click='openForum(forum)'
              @mouseenter='displayChildForums(forum, index + 1)'
              :class="{'select-forum': forumsIdList.indexOf(forum.fid) >= 0}"
            )
              .mdui-list-item-avatar
                img(v-if='forum.iconFileName' :src='"/forum_avatar/" + forum.fid')
                div(v-else :style='"background-color: " + forum.color')
              .mdui-list-item-content
                span {{forum.displayName}}
                div.icon(v-if='forum.childrenForums && forum.childrenForums.length !== 0')
                  i.mdui-icon.material-icons &#xe5cc;