div(class="mdui-appbar mdui-appbar-fixed mdui-color-white mdui-shadow-0 mdui-header mdui-appbar-scroll-hide")
  .mdui-container
    .mdui-toolbar
      <a href="javascript:;" class="mdui-header-menu mdui-typo-title mdui-hidden-md-up" mdui-drawer="{target: '#left-drawer'}">
        <i class="mdui-icon material-icons">menu</i>
      </a>
      a(href="/" class="mdui-typo-headline mdui-text-color-blue mdui-header-name") 科创论坛
      <a href="/" class="mdui-typo-title mdui-hidden-sm-down">最新</a>
      <a href="/message" class="mdui-typo-title mdui-hidden-sm-down">消息</a>
      <a href="/fund" class="mdui-typo-title mdui-hidden-sm-down">基金</a>
      <div class="mdui-toolbar-spacer"></div>
      .mdui-header-search
        .mdui-textfield.mdui-textfield-expandable.mdui-float-right.mdui-hidden-xs-down
          button(class="mdui-textfield-icon mdui-btn mdui-btn-icon")
            i(class="mdui-icon material-icons") search
          input(class="mdui-textfield-input" type="text" placeholder="关键词、文号、用户")
          button(class="mdui-textfield-close mdui-btn mdui-btn-icon")
            i(class="mdui-icon material-icons") close
      if !data.user
        <a href="javascript:;" class="mdui-btn mdui-btn-icon">登录</a>
      else
        img.mdui-img-circle.mdui-header-avatar(src=`/avatar/${data.user.uid}` mdui-drawer="{target: '#left-drawer'}")
        .mdui-header-username.mdui-hidden-sm-down(mdui-menu="{target:'#headerMenu'}")= data.user.username
        ul.mdui-menu#headerMenu
          li.mdui-menu-item
            a(href=`/u/${data.user.uid}` class="mdui-ripple")
              i(class="mdui-menu-item-icon mdui-icon material-icons") &#xe7fd;
              | 个人名片
          li.mdui-menu-item
            a(href=`/m/${data.user.uid}` class="mdui-ripple")
              i(class="mdui-menu-item-icon mdui-icon material-icons") &#xe02f;
              | 专栏
          li.mdui-menu-item
            a(href=`/message` class="mdui-ripple")
              i(class="mdui-menu-item-icon mdui-icon material-icons") &#xe0b7;
              | 信息
          li.mdui-menu-item
            a(href=`/u/${data.user.uid}/collections/unclassified` class="mdui-ripple")
              i(class="mdui-menu-item-icon mdui-icon material-icons") &#xe3b6;
              | 收藏
          li.mdui-menu-item
            a(href=`/u/${data.user.uid}/drafts` class="mdui-ripple")
              i(class="mdui-menu-item-icon mdui-icon material-icons") &#xe151;
              | 草稿箱
          li.mdui-divider
          li.mdui-menu-item
            a(href=`/u/${data.user.uid}/settings` class="mdui-ripple")
              i(class="mdui-menu-item-icon mdui-icon material-icons") &#xe3c9;
              | 编辑资料
          li.mdui-divider
          li.mdui-menu-item
            a(href=`/logout` class="mdui-ripple")
              i(class="mdui-menu-item-icon mdui-icon material-icons") &#xe879;
              | 退出

.mdui-drawer.mdui-hidden-md-up#left-drawer
  .avatar
    img(src=`/avatar/${data.user.uid}`)
  .username= data.user.username || `用户${data.user.uid}`

  ul.mdui-list
    li
      a.mdui-list-item.mdui-ripple(href=`/editor`)
        i.mdui-list-item-icon.mdui-icon.material-icons.send-color &#xe163;
        .mdui-list-item-content 发表文章
    li.mdui-divider
    li
      a.mdui-list-item.mdui-ripple(href=`/subscription`)
        i.mdui-list-item-icon.mdui-icon.material-icons.latest-color &#xe192;
        .mdui-list-item-content 最新
    li
      a.mdui-list-item.mdui-ripple(href=`/f`)
        i.mdui-list-item-icon.mdui-icon.material-icons.forums-color &#xe8d2;
        .mdui-list-item-content 专业
    li
      a.mdui-list-item.mdui-ripple(href=`/fund`)
        i.mdui-list-item-icon.mdui-icon.material-icons.money-color &#xe263;
        .mdui-list-item-content 科创基金
    li
      a.mdui-list-item.mdui-ripple(href=`/search`)
        i.mdui-list-item-icon.mdui-icon.material-icons.search-color &#xe8b6;
        .mdui-list-item-content 搜索
    li.mdui-divider
    li
      a.mdui-list-item.mdui-ripple(href=`/u/${data.user.uid}`)
        i.mdui-list-item-icon.mdui-icon.material-icons.user-color &#xe7fd;
        .mdui-list-item-content 个人名片
    li
      a.mdui-list-item.mdui-ripple(href=`/m/${data.user.uid}`)
        i.mdui-list-item-icon.mdui-icon.material-icons.forums-color &#xe02f;
        .mdui-list-item-content 专栏
    li
      a.mdui-list-item.mdui-ripple(href=`/message`)
        i.mdui-list-item-icon.mdui-icon.material-icons.message-color &#xe0b7;
        .mdui-list-item-content 信息
    li
      a.mdui-list-item.mdui-ripple(href=`/u/${data.user.uid}/collections/unclassified`)
        i.mdui-list-item-icon.mdui-icon.material-icons.collection-color &#xe3b6;
        .mdui-list-item-content 收藏
    li
      a.mdui-list-item.mdui-ripple(href=`/u/${data.user.uid}/drafts`)
        i.mdui-list-item-icon.mdui-icon.material-icons.draft-color &#xe151;
        .mdui-list-item-content 草稿箱
    li.mdui-divider
    li
      a.mdui-list-item.mdui-ripple(href=`/u/${data.user.uid}/settings`)
        i.mdui-list-item-icon.mdui-icon.material-icons.edit-color &#xe3c9;
        .mdui-list-item-content 编辑资料
    li
      a.mdui-list-item.mdui-ripple(href=`/logout`)
        i.mdui-list-item-icon.mdui-icon.material-icons.quit-color &#xe879;
        .mdui-list-item-content 退出




