if data.user
  -let reg = new RegExp(`^${state.serverSettings.websiteCode}-`);
  -const unsetUsername = reg.test(data.user.username) || !data.user.username;
  if unsetUsername || !data.user.setPassword || !data.user.boundEmail || !data.user.boundMobile || !data.user.avatar || !data.user.banner || !data.user.description || data.needVerifyPhoneNumber
    .improve.m-t-1.m-b-1
      .panel-header 完善资料
      p 由于你还未完善以下资料，可能无法使用网站的全部功能。
      if unsetUsername
        .improve-info
          .fa.fa-exclamation-circle
          span 未修改默认用户名
          .pull-right
            a(href=`/u/${data.user.uid}/settings` target="_blank") 去修改
      if !data.user.setPassword
        .improve-info
          .fa.fa-exclamation-circle
          span 未设置密码
          .pull-right
            a(href=`/u/${data.user.uid}/settings/security` target="_blank") 去设置
      if !data.user.avatar
        .improve-info
          .fa.fa-exclamation-circle
          span 未上传头像
          .pull-right
            a(href=`/u/${data.user.uid}/settings` target="_blank") 去上传
      if !data.user.banner
        .improve-info
          .fa.fa-exclamation-circle
          span 未上传个人名片背景图
          .pull-right
            a(href=`/u/${data.user.uid}/settings` target="_blank") 去上传
      if !data.user.description
        .improve-info
          .fa.fa-exclamation-circle
          span 未填写个人简介
          .pull-right
            a(href=`/u/${data.user.uid}/settings` target="_blank") 去填写
      if !data.user.boundMobile
        .improve-info
          .fa.fa-exclamation-circle
          span 未绑定手机号
          .pull-right
            a(href=`/u/${data.user.uid}/settings/security` target="_blank") 去绑定
      if !data.user.boundEmail
        .improve-info
          .fa.fa-exclamation-circle
          span 未绑定邮箱
          .pull-right
            a(href=`/u/${data.user.uid}/settings/security` target="_blank") 去绑定
      if data.needVerifyPhoneNumber
        .improve-info
          .fa.fa-exclamation-circle
          span 请定期验证手机号
          .pull-right
            a(href=`/u/${data.user.uid}/settings/security` target="_self") 去验证
        script
          include ./lib/verifyPhoneNumber.js


