+includeCSS('/publicModules/side_thread_notice.css')
if !isIncluded('publicModules/side_thread_notice.pug')
  mixin sideThreadNotice(noticeContent,threadHistory)
    if noticeContent
      div.m-b-1
        .panel-header 更新记录
        .thread-notice-content
          for notice in noticeContent
            .thread-notice-content.m-t-05.notice-clearfix
              div(
                data-global-mouseover="showUserPanel"
                data-global-mouseout="hideUserPanel"
                data-global-data=objToStr({uid: notice.user.uid })
                )
                img.notice-user-banned.m-r-05(src=notice.user.avatar )
                span.renderedTime=notice.renderedTime
                if threadHistory !== null && notice.hid
                  a.notice-float(href=`/p/${notice.pid}/history?t=detail&c=${notice.hid}`) 查看详情
              div
                span=notice.noticeContent


