if !isIncluded('publicModules/side_thread_list.pug')
  mixin sideThreadsPanel(sideThreads, sideThreadsHeader, sideThreadsHideInfo)
    if sideThreads && sideThreads.length > 0
      .side-thread-list.m-b-1
        .box-shadow-header=sideThreadsHeader
        for t in sideThreads
          .side-thread
            a(href=`/t/${t.tid}`).side-thread-title= t.firstPost.t
            if !sideThreadsHideInfo
              .side-thread-info
                a(href=`/f/${t.forums[0].fid}`
                  data-global-mouseover="showForumPanel"
                  data-global-mouseout="hideForumPanel"
                  data-global-data=objToStr({fid: t.forums[0].fid})
                )= t.forums[0].displayName
                if !t.firstPost.anonymous
                  a(
                    href=`/u/${t.uid}`
                    data-global-mouseover="showUserPanel"
                    data-global-mouseout="hideUserPanel"
                    data-global-data=objToStr({uid: t.uid})
                    )=t.firstPost.user.username
                  //-a(href=`/u/${t.uid}`
                    data-global-mouseover="showUserPanel"
                    data-global-mouseout="hideUserPanel"
                    data-global-data=objToStr({uid: t.firstPost.user.uid})
                  //)= t.firstPost.user.username
                else
                  span=anonymousInfo.username
                +fromNow(t.toc)
