.side-thread-list
  .side-thread-header= sideThreadsHeader
  for t in sideThreads
    .side-thread
      a(href=`/t/${t.tid}`).side-thread-title= t.firstPost.t
      if !sideThreadsHideInfo
        .side-thread-info
          a(href=`/f/${t.forums[0].fid}`)= t.forums[0].displayName
          if !t.firstPost.anonymous
            a(href=`/u/${t.uid}` onmouseover=`floatUserPanel.open(this, '${t.firstPost.user.uid}')`)= t.firstPost.user.username
          else
            span=anonymousInfo.username
          span=fromNow(t.toc)
