.side-user-list
  .side-user-content
    for u, index in sideUsers
      if index < 8
        .side-user(
          data-global-mouseover="showUserPanel"
          data-global-mouseout="hideUserPanel"
          data-global-data=objToStr({uid: u.uid})
        )
          a(href=`/u/${u.uid}` target="_blank")
            img(src=u.avatar)
