div.thread-panel
  .thread-panel-info
    .mdui-chip
      img(class="mdui-chip-icon" src=`/avatar/${thread.uid}`)
      span(class="mdui-chip-title")= thread.firstPost.user.username
    //-if thread.forum.parentForum
      a.thread-panel-forum-name(style={
        'color': '#555555'
      } href=`/f/${thread.forum.parentForum.fid}`)= thread.forum.parentForum.displayName
    a.thread-panel-forum-name(href=`/f/${thread.fid}`)= thread.forum.displayName
    span.thread-panel-time= fromNow(thread.toc)
    if thread.type
      span.thread-panel-from
        if thread.type === 'own'
          span 来自自己的文章
        else if thread.type === 'subscribeForum'
          span 来自关注的专业
        else if thread.type === 'subscribeFriend'
          span 来自好友
        else
          span 来自关注的文章
  .thread-panel-title
    a(href=`/t/${thread.tid}`)= thread.firstPost.t
  .thread-panel-flex
    div.thread-panel-content
      .thread-panel-abstract= thread.firstPost.c.slice(0, 200)
    if thread.hasCover
      .thread-panel-cover
        img(src=`/cover/${thread.tid}`)
  if thread.oc !== thread.lm
    .thread-panel-last-post
      .mdui-chip
        img(class="mdui-chip-icon" src=`/avatar/${thread.lastPost.uid}`)
        span(class="mdui-chip-title")= thread.lastPost.user.username
      .thread-panel-last-post-content
        span.time= fromNow(thread.lastPost.toc)
        span= thread.lastPost.c

