.user-panel
  .text-center
    a(href=`/avatar/${userPanel.uid}?t=lg` target="_blank").user-panel-avatar
      img(src=`/avatar/${userPanel.uid}`)
    .user-panel-username
      a(href=`/u/${userPanel.uid}`)=userPanel.username
      -const targetUser = userPanel
      .user-panel-grade
        include ../user/module_user_grade
  .user-panel-cert=userPanel.info.certsName
  .user-panel-number-div
    .col-xs-3
      .user-panel-number=userPanel.threadCount
      .user-panel-title 文章
    .col-xs-3
      .user-panel-number=userPanel.postCount
      .user-panel-title 回复
    .col-xs-3
      .user-panel-number=userPanel.xsf
      .user-panel-title 学术分
    .col-xs-3
      .user-panel-number=userPanel.kcb/100
      .user-panel-title 科创币
  .user-panel-description!=markdown(userPanel.description || "")
