if targetUserScores
  .nkc-scores
    for s in targetUserScores
      .nkc-score(title=`${s.name}: ${s.number/100}`)
        img(src=tools.getUrl('scoreIcon', s.icon))
        span=s.number / 100
    if targetUserXSF !== undefined
      .nkc-score(title=`学术分：${targetUserXSF}`)
        img(src=tools.getUrl('defaultFile', 'xsf.png'))
        span=targetUserXSF
