//- 左侧专业导航
  @param {[Object]} state.subForums 用户关注的专业对象所组成的数组
  @param {[Object]} state.forumsTree 专业树状结构数组 通过方法ForumModel.getForumsTree获取
  @author pengxiguaa 2019-7-8
style.
    #parentForums>.panel-header{
      background: #9baec8;
      color: #fff;
    }

    #sameLevelForums > .panel-header {
        background: #9baec8;
        color: #fff;
    }
    .home-topic-item-div.bread-crumb a{
      vertical-align: middle;
    }
    .home-topic-item-div.bread-crumb span{
      vertical-align: middle;
    }

mixin renderForums(forums)
  for forum in forums
    .forum-block.hide-children
      .forum-block-info(class=data.forum && data.forum.fid === forum.fid?"active": "")
        //- 暂时调整 去掉专业导航中的专业图标
          if forum.iconFileName
            img.forum-block-icon(src=`/forum_avatar/${forum.fid}`)
          else
            .forum-block-icon(style=`background-color: ${forum.color}`)
        a(href=`/f/${forum.fid}` class=(!forum.childrenForums || !forum.childrenForums.length)?"child":"parent").forum-block-name
          span(
            data-global-mouseover="showForumPanel"
            data-global-mouseout="hideForumPanel"
            data-global-data=objToStr({fid: forum.fid})
          )=forum.displayName
      if forum.childrenForums && forum.childrenForums.length
        -let inside = false;
        if data.forum && forum.childrenForums
          for ff in forum.childrenForums
            if ff.fid === data.forum.fid
              -inside = true;
              -break;
        if !forum.parentsId.length || inside
          .fa.fa-angle-up(onclick=`switchChildren("${forum.fid}", this)`)
          .forum-block-children(data-fid=forum.fid)
            +renderForums(forum.childrenForums)
        else
          .fa.fa-angle-down(onclick=`switchChildren("${forum.fid}", this)`)
          .forum-block-children(data-fid=forum.fid style="display: none")
              +renderForums(forum.childrenForums)
mixin renderSimpleForums(forums)
  for forum in forums
    .forum-simple
      a.forum-parent(href=`/f/${forum.fid}`
        data-global-mouseover="showForumPanel"
        data-global-mouseout="hideForumPanel"
        data-global-data=objToStr({fid: forum.fid})
      )=forum.displayName
      for cf, index in forum.childrenForums
        if index === 0
          span ：
        else
          span |
        a.forum-child(href=`/f/${cf.fid}`
          data-global-mouseover="showForumPanel"
          data-global-mouseout="hideForumPanel"
          data-global-data=objToStr({fid: cf.fid})
          style=`background-color: ${hexToRgba(cf.color, 0.1)}`)=cf.displayName

mixin renderSubscribeForums(forums)
  if forums && forums.length > 0
    .m-b-1
      .panel-header 关注的专业
        .panel-header-right-button
          a(href=`/u/${data.user.uid}/profile/subscribe/forum` target="_blank") 管理
      .home-topic-item-div
        for forum in forums
          a.forum-inline-name.forum-block-name(href=`/f/${forum.fid}`
            data-global-mouseover="showForumPanel"
            data-global-mouseout="hideForumPanel"
            data-global-data=objToStr({fid: forum.fid})
          )=forum.displayName

mixin renderVisitedForums(forums)
  if forums && forums.length > 0
    .m-b-1
      .panel-header 最近访问
      .home-topic-item-div
        for forum in forums
          a(href=`/f/${forum.fid}`
            data-global-mouseover="showForumPanel"
            data-global-mouseout="hideForumPanel"
            data-global-data=objToStr({fid: forum.fid})
          ).forum-inline-name.forum-block-name=forum.displayName

mixin renderCategoryForums(categoryForums)
  if categoryForums
    for fc in categoryForums
      if fc.forums.length
        .m-b-1
          .panel-header(title=fc.description)=fc.name
          if 1 || fc.displayStyle === 'simple'
            +renderSimpleForums(fc.forums)
          else
            +renderForums(fc.forums)


mixin renderForumsPanel(name, forums)
  if forums && forums.length
    .m-b-1
      .panel-header=name
      .home-topic-item-div
        for forum in forums
          a(href=`/f/${forum.fid}` data-float-fid=forum.fid).forum-inline-name.forum-block-name=forum.displayName


mixin renderForumsBreadcrumb(name, forums)
  if forums && forums.length
    .m-b-1
      .panel-header=name
      .home-topic-item-div.bread-crumb
        a.forum-block-name.forum-inline-name(href='/?t=home' title=remoteState.serverSettings.brief) 主页
        for n in forums
          -var {fid, name, cid} = n;
          span.m-r-05 /
          a.forum-block-name.forum-inline-name(href=`/f/${fid}${cid !== undefined ? `?cat=${cid}` : ''}` data-float-fid=fid)= name
