.forum-block
  .forum-block-info
    if forumData.logo
      img.forum-block-icon(src=tools.getUrl('forumLogo', forumData.logo)
        data-global-mouseover="showForumPanel"
        data-global-mouseout="hideForumPanel"
        data-global-data=objToStr({fid: forumData.fid})
      )
    else
      .forum-block-icon(style=`background-color: ${forumData.color}`
        data-global-mouseover="showUserPanel"
        data-global-mouseout="hideUserPanel"
        data-global-data=objToStr({fid: forumData.fid})
      )
    a(href=`/f/${forumData.fid}`
      data-global-mouseover="showUserPanel"
      data-global-mouseout="hideUserPanel"
      data-global-data=objToStr({fid: forumData.fid})
    ).forum-block-name=forumData.displayName
