//- 左侧专业导航
  @param {[Object]} state.subForums 用户关注的专业对象所组成的数组
  @param {[Object]} state.forumsTree 专业树状结构数组 通过方法ForumModel.getForumsTree获取
  @author pengxiguaa 2019-7-8

-let topics = [], disciplines = [];
for forum in state.forumsTree
  if forum.forumType === "topic"
    -topics.push(forum);
  else
    -disciplines.push(forum);

mixin renderForums(forums)
  for forum in forums
    .forum-block.hide-children
      .forum-block-info(data-float-fid=forum.fid class=data.forum && data.forum.fid === forum.fid?"active": "")
        //- 暂时调整 去掉专业导航中的专业图标
          if forum.iconFileName
            img.forum-block-icon(src=`/forum_avatar/${forum.fid}`)
          else
            .forum-block-icon(style=`background-color: ${forum.color}`)
        a(href=`/f/${forum.fid}` class=(!forum.childrenForums || !forum.childrenForums.length)?"child":"parent").forum-block-name=forum.displayName
      if forum.childrenForums && forum.childrenForums.length
        -let inside = false;
        if data.forum && forum.childrenForums
          for ff in forum.childrenForums
            if ff.fid === data.forum.fid
              -inside = true;
              -break;
        if !forum.parentsId.length || inside
          .fa.fa-angle-up(onclick=`switchChildren("${forum.fid}", this)`)
          .forum-block-children(data-fid=forum.fid)
            +renderForums(forum.childrenForums)
        else
          .fa.fa-angle-down(onclick=`switchChildren("${forum.fid}", this)`)
          .forum-block-children(data-fid=forum.fid style="display: none")
              +renderForums(forum.childrenForums)

if data.user && state.subForums && state.subForums.length >0
  .m-b-1
    .panel-header 我关注的
    .home-topic-item-div
      for forum in state.subForums
        .forum-block
          .forum-block-info(data-float-fid=forum.fid)
            //-
              if forum.iconFileName
                img.forum-block-icon(src=`/forum_avatar/${forum.fid}`)
              else
                .forum-block-icon(style=`background-color: ${forum.color}`)
            a(href=`/f/${forum.fid}`).forum-block-name=forum.displayName
if data.forum && data.visitedForums && data.visitedForums.length
  .m-b-1
    .panel-header 最近访问
    .home-topic-item-div
      for forum in data.visitedForums
        .forum-block
          .forum-block-info(data-float-fid=forum.fid)
            //-
              if forum.iconFileName
                img.forum-block-icon(src=`/forum_avatar/${forum.fid}`)
              else
                .forum-block-icon(style=`background-color: ${forum.color}`)
            a(href=`/f/${forum.fid}`).forum-block-name=forum.displayName
.m-b-1
  .panel-header 文章汇总
  .home-topic-item-div
    .forum-block
      .forum-block-info
        a(href=`/?t=latest`).forum-block-name 最新文章
for fc in state.categoryForums
  if fc.forums.length
    .m-b-1
      .panel-header(title=fc.description)=fc.name
      +renderForums(fc.forums)
//-
  .m-b-1
    .panel-header 话题
    +renderForums(topics)
  .m-b-1
    .panel-header 学科
    +renderForums(disciplines)
