.home-topic-item-div
  for f in forumsItem
    a(
      href=`/f/${f.fid}`
      style=`background-color: ${f.color || '#808080'}`
      title=f.description
    ).topic-item
      if f.logo
        img(src=tools.getUrl('forumLogo', f.logo))
      span=f.displayName
