extends ../../bootstrap_base
block title
  title=data.document.title || "未填写标题"
  style.
    body{
      display: none;
    }
  +includeCSS('/document/preview/preview.css')
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-9.book-content-container
        include ../../columns/article/nav
        +nav({})
        //- .thread-nav-right
        //-   .nav-count(title=`浏览数`)
        //-     .fa.fa-eye
        //-     span 0
        //-   .nav-count(title=`回复数`)
        //-     .fa.fa-comment
        //-     span 0
        //-   .nav-count.pointer
        //-     span 收藏
        //-   .nav-count
        //-     .fa.fa-cog
        -var {uid, origin: originState, dt, title: t, type, authorInfos, user} = data.document
        include ../../columns/article/title
        +title({uid, originState, dt, t, type, authorInfos, user})
        if data.type !== "draft"
          if (data.document.abstract.length || data.document.abstractEN.length)
            .abstract(style="margin-top:1rem; word-break: break-all;")
              if data.document.abstract.length
                .panel.panel-default(style="border:0;margin-bottom:0")
                  .panel-heading.paperHeader 中文摘要
                  .panel-body!=LineFeedConversion(data.document.abstract)
              if data.document.abstractEN.length
                .panel.panel-default(style="border:0;margin-bottom:0")
                  .panel-heading.paperHeader Abstract
                  .panel-body!=LineFeedConversion(data.document.abstractEN)
          if (data.document.keywords.length || data.document.keywordsEN.length)
            .keyWords(style="margin-top:1rem;")
              .panel.panel-default(style="border:0;margin-bottom:0")
                .panel-heading.paperHeader 关键词
                .panel-body(style="padding:5px")
                  if data.document.keywords.length
                    div
                      for keyCn in data.document.keywords
                        span.keyWordstagCn(style="cursor:pointer")!=keyCn
                  if data.document.keywordsEN.length
                    div(style="margin-top:5px")
                      for keyEn in data.document.keywordsEN
                        span.keyWordstagEn(style="cursor:pointer")!=keyEn
        .book-content-content!=data.document.content
        include ../../columns/article/authorInfo.pug
        +authorInfo()
        include ../../publicModules/floatUserPanel/floatUserPanel.2.pug

block scripts
  include ../../publicModules/nkcSource
  +includeJS('/document/preview/preview.js')
