extends ../bootstrap_base
block title
  +includeCSS("/shop/shop-less.css")
  block shopTitle
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2.box-shadow-panel
        .shop-navs
          //.shop-nav-body
            a.shop-nav(href=`/shop`) 总览
              .fa.fa-angle-right
          .shop-nav-body
            a.shop-nav(href=`/shop/cart` class=data.navType==="cart"?"active":"") 购物车
              .fa.fa-angle-right
          .shop-nav-body
            a.shop-nav(href=`/shop/order` class=data.navType==="order"?"active":"") 我的订单
              .fa.fa-angle-right
          .shop-nav-body
            a.shop-nav(href=`/shop/manage/home` class=data.navType ==="manage"?"active":"") 我出售的
              .fa.fa-angle-right
            .shop-nav-body
              a.shop-nav(href=`/shop/manage/shelf` class=data.navType ==="shelf"?"active":"") 上架商品
                .fa.fa-angle-right
              a.shop-nav(href=`/shop/manage/goods` class=data.navType ==="goods"?"active":"") 商品管理
                .fa.fa-angle-right
              a.shop-nav(href=`/shop/manage/order` class=data.navType === "manageOrder"?"active":"") 订单管理
                .fa.fa-angle-right
              a.shop-nav(href=`/shop/manage/settings` class=data.navType==="settings"?"active":"") 交易设置
                .fa.fa-angle-right
      .col-xs-12.col-md-10.box-shadow-panel
        block shopContent
block scripts
  block shopScripts