//- input(type="text" name="_prevent_auto_complete_name" autocomplete="off" readonly="readonly" style="display: none !important;")
//- input(type="password" name="_prevent_auto_complete_pass" autocomplete="new-password" readonly="readonly" style="display: none !important;")

//- 链接背景高亮判断
- var navbar = data.navbar || {}
-var navbar_highlight = data.navbar_highlight||navbar.highlight
if data.user
  //- 新信息条数
  -var newMessage = data.user.newMessage;
  -var messageSum = (newMessage.newReminderCount || 0) + (newMessage.newSystemInfoCount || 0) + (newMessage.newUsersMessagesCount || 0) + (newMessage.newApplicationsCount || 0);
nav.navbar.navbar-default.navbar-fixed-top.nkcshade(style="min-height: 45px;margin-bottom: 15px;")

  .container-fluid.max-width
    .navbar-header
      button.navbar-toggle.collapsed(onclick="toggleNKCDrawer('left')")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.website-logo(href="/" )= state.serverSettings.websiteName

      .navbar-search.hidden-lg.hidden-md.hidden-sm.inline-block.form-inline
        input.inline-block.form-control(type='text' id="navSearchInputSM" placeholder='关键词 文号 用户')
        button.btn.btn-default(onclick=`NKC.methods.search("navSearchInputSM")`)
          .fa.fa-search

      if data.user
        //- 已登录状态 显示头像
        .navbar-brand.userInfo-m
          .userInfo-m-point.message-switch.message-count(class="hidden")
          img(
            src=tools.getUrl('userAvatar', data.user.avatar)
            onclick="toggleNKCDrawer('right')"
          )
      else
        .navbar-brand.userInfo-m
          a(onclick="Login.open()" title='还记得密码吗？') 登录
          span &nbsp
          a(onclick="Login.open('register')" title='恭喜！\n你发现了世界上\n最难注册的论坛') 注册






    //- 电脑屏幕
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.navbar-md
        li(class=navbar_highlight === 'latest' || navbar_highlight === 'column' || navbar_highlight === 'recommend' ? 'active' : '')
          a(href='/?t=latest') 最新
        li(class=navbar_highlight === 'subscribe' ? 'active' : '')
          if data.user
            a(href='/?t=subscribe') 关注
          else
            a.pointer(onclick='NKC.methods.toLogin()') 关注
        li(class=navbar_highlight === 'columns' ? 'active' : '')
          a(href=`/m`) 专栏

      ul.nav.navbar-nav.navbar-right.nav-font-color.navbar-md
        if data.user
          - var title = `${data.user.username}\n`+`学术分 ${data.user.xsf}\n`+`${data.user.info.certsName}`;
          li
            -let editorHref = "/editor";
            if data.forum
              -editorHref = `/editor?type=forum&id=${data.forum.fid}`;
            a(href=editorHref target='_blank') 发表文章
          li.new-message.message-switch.pointer.message-count-container(class="hidden" onclick='messageApp.toChat()')
            span 消息
            .nav-user-avatar-count.message-switch.message-count(class="hidden")

          li.dropdown.userInfo.nav-user(onmousover="displayOwnInfo()")
            .nav-user-content
              div
                .nav-user-banner
                  img(src=tools.getUrl('userBanner', data.user.banner))
                .nav-user-other
                  .nav-user-info
                    .nav-user-avatar
                      img(src=tools.getUrl('userAvatar', data.user.avatar))
                    .nav-user-name=data.user.username
                    .nav-user-level
                      span.user-grade(style=`color: ${data.user.grade.color};`)
                        span= data.user.grade.displayName
                        img.grade-icon(src=tools.getUrl("gradeIcon", data.user.grade._id) title=data.user.grade.displayName)
                    .nav-user-certs=data.user.info.certsName
                    .nav-user-count
                      -const targetUserScores = state.userScores
                      -const targetUserXSF = data.user.xsf;
                      include ../../publicModules/userScores
                  .nav-user-links
                    a(href=`/u/${data.user.uid}/profile` target='_blank').col-xs-6.nav-user-link
                      .fa.fa-user-circle
                      | 我的主页
                    -let showColumnLink = true;
                    if state.userColumn
                      a(href=`/m/${state.userColumn._id}` target='_blank').col-xs-6.nav-user-link
                        .fa.fa-columns
                        | 我的专栏
                    else if data.user && state.columnPermission
                      a(href=`/column/apply` target='_blank').col-xs-6.nav-user-link
                        .fa.fa-columns
                        | 开设专栏
                    else
                      -showColumnLink = false;
                    .col-xs-6.nav-user-link(onclick='messageApp.toChat()')
                      .fa.fa-envelope-o
                      | 消息中心
                      .count.message-switch.message-count(class="hidden")
                    a(href=`/u/${data.user.uid}/profile/draft` target='_blank').col-xs-6.nav-user-link
                      .fa.fa-inbox
                      | 我的草稿
                      .count(class=data.user.draftCount?"":"hidden")=data.user.draftCount
                    a(href=`/u/${data.user.uid}/settings` target='_blank').col-xs-6.nav-user-link
                      .fa.fa-cog
                      | 资料设置
                    a(href=`/u/${data.user.uid}/profile/finance?t=all` target='_blank').col-xs-6.nav-user-link
                      .fa.fa-file-text-o
                      | 我的账单
                    a(href=`/shop/order` target='_blank').col-xs-6.nav-user-link
                      .fa.fa-file-text-o
                      | 我的订单
                    a(href=`/shop/manage/order` target='_blank').col-xs-6.nav-user-link
                      .fa.fa-archive
                      | 我出售的
                    a(href=`/shop/cart` target='_blank').col-xs-6.nav-user-link
                      .fa.fa-shopping-cart
                      | 购物车
                    a(onclick="NKC.methods.logout()" title='不，不要走！' class=showColumnLink?"col-xs-6":"col-xs-12").nav-user-link
                      .fa.fa-sign-out
                      | 退出登录
            img.nav-user-avatar-sm(src=tools.getUrl('userAvatar', data.user.avatar))
        else
          li.userInfo
            a(onclick="Login.open()" title='还记得密码吗？') 登录
          li.userInfo
            a(onclick="Login.open('register')" title='恭喜！\n你发现了世界上\n最难注册的论坛') 注册

      .navbar-md.navbar-search.hidden-xs.inline-block.form-inline
        input.inline-block.form-control(type='text' id='navSearchInputMD' placeholder='关键词 文号 用户')
        button.btn.btn-default(onclick=`NKC.methods.search("navSearchInputMD")`)
          .fa.fa-search

//- 侧滑抽屉
.nkc-drawer-left
  .nkc-drawer-left-mask(onclick="closeNKCDrawer('left')")
  .nkc-drawer-left-body
    .m-a-1
      include ../post_button

    .navbar-link
      .col-xs-4
        a(href='/?t=home') 最新
      .col-xs-4
        if data.user
          a(href='/?t=subscribe') 关注
        else
          a(onclick="Login.open()") 关注
      .col-xs-4
        a(href=`/m`) 专栏
    .m-a-1#navbar_custom_dom

    .m-a-1
      include ../management/management
      //-include ../subscribeTypes/subscribeTypesPanel
      include ../apps/apps
      include ../forums_nav/forums_tree
.nkc-drawer-right
  .nkc-drawer-right-mask(onclick="closeNKCDrawer('right')")
  .nkc-drawer-right-body
    if data.user
      .nkc-drawer-header
      .nkc-drawer-avatar
        img(src=tools.getUrl('userAvatar', data.user.avatar))
      .nkc-drawer-username= data.user.username
      .nkc-drawer-certs= data.user.info.certsName
      div
        -const targetUserScores = state.userScores;
        include ../../publicModules/userScores
      .nkc-drawer-count
        .col-xs-4
          .nkc-drawer-count-number=data.user.threadCount - data.user.disabledThreadsCount
          .nkc-drawer-count-title 文章
        .col-xs-4
          .nkc-drawer-count-number=data.user.postCount - data.user.disabledPostsCount
          .nkc-drawer-count-title 回复
        .col-xs-4
          .nkc-drawer-count-number=data.user.xsf
          .nkc-drawer-count-title 学术分
    else
      .nkc-drawer-header
      .nkc-drawer-visitor
        .col-xs-12
          .fa.fa-user-circle
        .col-xs-4.col-xs-offset-2
          a(onclick="Login.open()") 登录
        .col-xs-4
          a(onlick="Login.open('register')") 注册
    ul.nkc-drawer-list
    if data.user
      ul.nkc-drawer-list
        li
          a(href=`/u/${data.user.uid}/profile`)
            span.fa.fa-user-circle-o &nbsp;个人主页
            span.pull-right.fa.fa-angle-right
        if state.userColumn
          li
            a(href=`/m/${state.userColumn._id}`)
              span.fa.fa-columns &nbsp;专栏
              span.pull-right.fa.fa-angle-right
        else if data.user && state.columnPermission
          li
            a(href=`/column/apply`)
              span.fa.fa-columns &nbsp;开设专栏
              span.pull-right.fa.fa-angle-right
        li
          a(onclick='messageApp.toChat()')
            span.fa.fa-envelope-o &nbsp;消息中心
              span.nkc-drawer-message.nkc-drawer-link.message-switch-div.message-count-container(class="hidden" )
                span.message-switch.message-count(class="hidden")
            span.pull-right.fa.fa-angle-right

        li
          a(href=`/u/${data.user.uid}/profile/draft`)
            span.fa.fa-inbox &nbsp;我的草稿
              if data.user && data.user.draftCount > 0
                span=`(${data.user.draftCount})`
            span.pull-right.fa.fa-angle-right
        li
          a(href=`/u/${data.user.uid}/profile/finance?t=all`)
            span.fa.fa-file-text-o &nbsp;我的账单
            span.pull-right.fa.fa-angle-right
      ul.nkc-drawer-list
        li
          a(href=`/u/${data.user.uid}/settings`)
            span.fa.fa-cog &nbsp;设置
            span.pull-right.fa.fa-angle-right
      ul.nkc-drawer-list
        li
          a(href=`/shop/order`)
            span.fa.fa-file-text-o &nbsp;我的订单
            span.pull-right.fa.fa-angle-right
        li
          a(href=`/shop/manage/order`)
            span.fa.fa-archive &nbsp;我出售的
            span.pull-right.fa.fa-angle-right
        li
          a(href=`/shop/cart`)
            span.fa.fa-shopping-cart &nbsp;购物车
            span.pull-right.fa.fa-angle-right


      a(onclick="NKC.methods.logout()").nkc-drawer-exit 退出登录
