//- 链接背景高亮判断
- var navbar = data.navbar || {}
-var navbar_highlight = data.navbar_highlight||navbar.highlight
nav.navbar.navbar-default.navbar-fixed-top.nkcshade(style="min-height: 45px;margin-bottom: 15px;")

  .container-fluid(class=remoteState.navbar === 'standard'? 'max-width':'')
    .navbar-header
      button.navbar-toggle.collapsed(onclick="window.RootApp.openDraw('left')")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.website-logo(href="/" )= remoteState.serverSettings.websiteName

      .navbar-search.hidden-lg.hidden-md.hidden-sm.inline-block.form-inline
        input.inline-block.form-control(type='text' id="navSearchInputSM" placeholder='关键词 文号 用户')
        button.btn.btn-default(onclick=`NKC.methods.search("navSearchInputSM")`)
          .fa.fa-search

      if remoteState.uid
        //- 已登录状态 显示头像
        .navbar-brand.userInfo-m
          .userInfo-m-point.message-switch.message-count(class="hidden")
          img(
            src=remoteState.userInfo.avatar
            onclick="window.RootApp.openDraw('right')"
          )
      else
        .navbar-brand.userInfo-m
          a(onclick="RootApp.openLoginPanel()" title='还记得密码吗？') 登录
          span &nbsp
          a(onclick="RootApp.openLoginPanel('register')" title='恭喜！\n你发现了世界上\n最难注册的论坛') 注册

    //- 电脑屏幕
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.navbar-md
        li(class=navbar_highlight === 'latest' || navbar_highlight === 'reply' || navbar_highlight === 'column' || navbar_highlight === 'thread' ? 'active' : '')
          a(href='/n') 最新
        li(class=navbar_highlight === 'subscribe' ? 'active' : '')
          if remoteState.uid
            a(href='/g/moment') 关注
          else
            a.pointer(onclick='RootApp.openLoginPanel()') 关注
        li(class=navbar_highlight === 'columns' ? 'active' : '')
          a(href=`/m`) 专栏
        li(class=navbar_highlight === 'community' ? 'active' : '')
          a(href=`/c`) 社区


      ul.nav.navbar-nav.navbar-right.nav-font-color.navbar-md
        if remoteState.uid
          li
            a(href='/creation' target="_blank") 创作中心
          li.new-message.message-switch.pointer.message-count-container(class="hidden" onclick="RootApp.openChatPanel()")
            span 消息
            .nav-user-avatar-count.message-switch.message-count(class="hidden")

          li.dropdown.userInfo.nav-user
            .nav-user-content
              #userNavContainer
                #userNav
                  user-panel(ref="userPanel")
            img.nav-user-avatar-sm#userNavAvatar(src=remoteState.userInfo.avatar)
        else
          li.userInfo
            a(onclick="RootApp.openLoginPanel()" title='还记得密码吗？') 登录
          li.userInfo
            a(onclick="RootApp.openLoginPanel('register')" title='恭喜！\n你发现了世界上\n最难注册的论坛') 注册

      .navbar-md.navbar-search.hidden-xs.inline-block.form-inline
        input.inline-block.form-control(type='text' id='navSearchInputMD' placeholder='关键词 文号 用户')
        button.btn.btn-default(onclick=`NKC.methods.search("navSearchInputMD")`)
          .fa.fa-search




