//- 链接背景高亮判断
- var navbar = data.navbar || {}
-var navbar_highlight = data.navbar_highlight||navbar.highlight
if data.user
  //- 新信息条数
  -var newMessage = data.user.newMessage;
  -var messageSum = (newMessage.newReminderCount || 0) + (newMessage.newSystemInfoCount || 0) + (newMessage.newUsersMessagesCount || 0);
//- 侧滑抽屉
.nkc-drawer-left
  .nkc-drawer-left-mask(onclick="closeNKCDrawer('left')")
  .nkc-drawer-left-body(style="padding-top:0")
    if data.user
      .m-a-1
        include ../post_button
      .navbar-link
        if data.user
          .col-xs-4
            a(href='/?t=subscribe') 关注
        .col-xs-4
          a(href='/?t=recommend') 推荐
        .col-xs-4
          a(href='/?t=latest') 最新
      .m-a-1#navbar_custom_dom

    .m-a-1
      include ../management/management
      //include ../subscribeTypes/subscribeTypesPanel
      include ../apps/apps
    if data.user && state.subForums && state.subForums.length > 0
      .m-a-1
        +listHeader("我关注的")
        .home-topic-item-div
          for forum in state.subForums
            .forum-block
              .forum-block-info
                if forum.logo
                  img.forum-block-icon(src=tools.getUrl('forumAvatar', forum.logo))
                else
                  .forum-block-icon(style=`background-color: ${forum.color}`)
                a(href=`/f/${forum.fid}` title=`${forum.description}`).forum-block-name=forum.displayName
    .m-a-1
      .forums-nav-header
        +listHeader("话题")
      for pf in state.forumsTree
        if pf.forumType === "topic"
          .forum-block
            .forum-block-info
              if pf.logo
                img.forum-block-icon(src=tools.getUrl('forumAvatar', pf.logo))
              else
                .forum-block-icon(style=`background-color: ${pf.color}`)
              a(href=`/f/${pf.fid}` title=`${pf.description}`).forum-block-name=pf.displayName
            .fa.fa-angle-down(onclick=`switchChildren("${pf.fid}", this)`)
            if pf.childrenForums && pf.childrenForums.length
              .forum-block-children(data-fid=pf.fid)
                for cf in pf.childrenForums
                  .forum-block.hide-children
                    .forum-block-info
                      if cf.logo
                        img.forum-block-icon(src=tools.getUrl('forumAvatar', cf.fid))
                      else
                        .forum-block-icon(style=`background-color: ${cf.color}`)
                      a(href=`/f/${cf.fid}` title=`${cf.description}`).forum-block-name=cf.displayName
      .forums-nav-header
        +listHeader("学科")
      for pf in state.forumsTree
        if pf.forumType === "discipline"
          .forum-block
            .forum-block-info
              if pf.logo
                img.forum-block-icon(src=tools.getUrl('forumAvatar', pf.logo))
              else
                .forum-block-icon(style=`background-color: ${pf.color}`)
              a(href=`/f/${pf.fid}` title=`${pf.description}`).forum-block-name=pf.displayName
            .fa.fa-angle-down(onclick=`switchChildren("${pf.fid}", this)`)
            if pf.childrenForums && pf.childrenForums.length
              .forum-block-children(data-fid=pf.fid)
                for cf in pf.childrenForums
                  .forum-block.hide-children
                    .forum-block-info
                      if cf.logo
                        img.forum-block-icon(src=tools.getUrl('forumAvatar', cf.logo))
                      else
                        .forum-block-icon(style=`background-color: ${cf.color}`)
                      a(href=`/f/${cf.fid}` title=`${cf.description}`).forum-block-name=cf.displayName
