extends ../bootstrap_base
block title
  meta(name='description' content=`${data.activity.address}` || '暂无活动介绍')
  title!=`科创活动 - ${data.activity.activityTitle}`

  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/bootstrap/css/bootstrap-chinese-region.min.css' media="screen" rel='stylesheet')
  link(rel="stylesheet", href="/external_pkgs/cropper/css/cropper.css")
  link(rel='stylesheet' href='/external_pkgs/citySet/citySet.css')
  +includeCSS("/fund.css")
  style.
    .description img {
      max-width: 100%
    }
block content
  .container-fluid.max-width
      include activityNav.pug
      -if(!data.type)
        .row
          .col-xs-12.col-md-8.box-shadow-panel
            div(style="padding:2rem")
              .applicationForm
                if data.activity.isBlock
                  .row.m-b-4.m-t-1(style="text-align:center;background-color:#f39e59")
                    span(style="font-weight:500px") 当前活动已被屏蔽
                .row.m-b-4.m-t-1
                  .col-xs-12.col-md-12
                    .id.text-center!=`${data.activity.activityTitle}`
                .row.m-b-4
                  .col-xs-12.col-md-12
                    .applicationForm-header 活动信息
                    hr
                  .col-xs-12.col-md-6
                    h5 
                      span 活动时间：
                      span=` ${data.activity.holdStartTime.toLocaleString()} ~ ${data.activity.holdEndTime.toLocaleString()}`
                    h5 
                      span 报名时间：
                      span=` ${data.activity.enrollStartTime.toLocaleString()} ~ ${data.activity.enrollEndTime.toLocaleString()}`
                    h5
                      span 举办地点：
                      span=` ${data.activity.address}`
                    h5
                      span 报名人数：
                      -if(data.activity.limitNum == 0)
                        span=` 已报名${data.activity.signUser.length}人 (不限人数)`
                      -else
                        span=` 已报名${data.activity.signUser.length}人 (限制${data.activity.limitNum}人数)`
                    h5
                      span 主办单位：
                      span=` ${data.activity.sponsor}`
                    h5
                      span 联系电话：
                      span=` ${data.activity.contactNum}`
                  .col-xs-12.col-md-6
                    p 活动海报
                    img(src=`${'/poster/'+data.activity.posterId}` style="width:100%")
                  .col-xs-12.col-md-12(style="margin-top: 5px")
                    -if(data.user && data.activity.signUser.includes(data.user.uid))
                      button.btn.btn-default(disabled) 已报名
                      button.btn.btn-warning(onclick=`cancelApply(${data.activity.acid})`) 取消报名
                      button.btn.btn-info(onclick=`changeToEdit(this)` id="editButton" formShow="hide") 修改报名
                    -else if(data.activity.limitNum !==0 && data.activity.signUser.length >= data.activity.limitNum && data.activity.continueTofull == false)
                      button.btn.btn-default(disabled) 报名人数已达上限
                    -else if(parseInt(new Date(data.activity.enrollStartTime).getTime()) > parseInt(new Date().getTime()))
                      button.btn.btn-default(disabled) 报名尚未开始
                    -else if(parseInt(new Date(data.activity.enrollEndTime).getTime()) < parseInt(new Date().getTime()))
                      button.btn.btn-default(disabled) 报名已结束
                    -else if(parseInt(new Date(data.activity.holdEndTime).getTime()) < parseInt(new Date().getTime()))
                      button.btn.btn-default(disabled) 活动已结束
                    -else
                      if !data.activity.isBlock
                        -if(data.user)
                          button.btn.btn-primary(onclick="changeToApply(this)" id="applyButton" formShow="hide") 我要报名
                        -else
                          button.btn.btn-primary(onclick="Login.open('login')" id="applyButton") 我要报名
                if data.user && data.activity.signUser.includes(data.user.uid)
                  .row.m-b-4.m-t-1#edit(style="display: none")
                    .col-xs-12.col-md-12
                      .applicationForm-header 报名表单
                      hr
                    .col-xs-12.col-md-12
                      if data.applyInfo
                        .hidden#infoJSON= JSON.stringify(data.applyInfo.enrollInfo)
                      .hidden#contionJSON= JSON.stringify(data.activity.conditions)
                      include ../publicModules/customForm/customForm.pug
                      .col-sm-10(style="margin-top: 5px;padding:unset")
                        input(type="checkbox" checked)#agreement
                        sapn 我已阅读并同意
                          a(href="/protocol") 《科创网及论坛统一服务协议》
                        button.btn.btn-primary#onedit(onclick=`onedit(${data.activity.acid})`) 提交
                else
                  .row.m-b-4.m-t-1#apply(style="display: none")
                    .col-xs-12.col-md-12
                      .applicationForm-header 报名表单
                      hr
                    .col-xs-12.col-md-12
                      .hidden#userJSON= JSON.stringify(data.defaultInfo)
                      .hidden#contionJSON= JSON.stringify(data.activity.conditions)
                      include ../publicModules/customForm/customForm.pug
                      .col-sm-10(style="margin-top: 5px;padding:unset")
                        input(type="checkbox" checked)#agreement
                        sapn 我已阅读并同意
                          a(href="/protocol") 《科创网及论坛统一服务协议》
                        button.btn.btn-primary#onpost(onclick=`onpost(${data.activity.acid})`) 提交
                .row.m-b-4.m-t-1
                  .col-xs-12.col-md-12
                    .applicationForm-header 活动详情
                    hr
                  .col-xs-12.col-md-12.description
                    .form-group
                      - let post = {c: data.activity.description,l: "html"}
                      div.thread-content.ThreadPostBody#ThreadPostBody!= experimental_render(post)
                -if(!data.type)
                  .row.m-b-4.m-t-1
                    .col-xs-12.col-md-12
                      .applicationForm-header 全部评论
                      hr
                    .col-xs-12.col-md-12
                      -for(let post of data.activity.posts)
                        hr(style="border:0.5px dashed;" color="#DDDDDD") 
                        a(href=`/u/${post.uid}`)= post.user.username
                        span!=` 发表于 ${post.toc.toLocaleString()}`
                        div!=`${post.commentContent}`
                  .row.m-b-4.m-t-1
                    .col-xs-12.col-md-12
                      .applicationForm-header 发表评论
                      hr
                    .col-xs-12.col-md-12
                      textarea.form-control#commentContent(rows="8", placeholder="填写评论")
                      br
                      button.btn.btn-default(onclick=`submitComment(${data.activity.acid})`) 发表
          .col-xs-12.col-md-3
            .list-group
              span
                b
                  a.list-group-item.text-center(href=`/activity/single/${data.activity.acid}`) 当前版本
              .dropdown
                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                -for(var i in data.activity.historys)
                  li
                    a.list-group-item(href=`/activity/single/${data.activity.acid}?type=history&hid=${data.activity.historys[i]._id}`)!=data.activity.historys[i].toc.toLocaleString()
            .text-center(style="width:100%")
              .row
                .col-xs-10.col-md-10.col-xs-offset-1.col-md-offset-1
                  .col-xs-3.col-md-3(style="padding:0px")
                    a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('activity', 'qq', window.location.origin+window.location.pathname, '活动：${data.activity.activityTitle}', '${data.activity.acid}')`)
                      img(src="/default/QQ.png" style="")
                  .col-xs-3.col-md-3(style="padding:0px")
                    a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('activity', 'qzone', window.location.origin+window.location.pathname, '活动：${data.activity.activityTitle}', '${data.activity.acid}')`)
                      img(src="/default/qzone.png" style="")
                  .col-xs-3.col-md-3(style="padding:0px")
                    a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('activity', 'weibo', window.location.origin+window.location.pathname, '活动：${data.activity.activityTitle}', '${data.activity.acid}')`)
                      img(src="/default/weibo.png" style="")
                  .col-xs-3.col-md-3(style="padding:0px")
                    a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('activity', 'weChat', window.location.origin+window.location.pathname, '活动：${data.activity.activityTitle}', '${data.activity.acid}')`)
                      img(src="/default/weChat.png" style="")
                .col-xs-12.col-md-12.m-t-1
                  a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('activity', 'link', window.location.origin+window.location.pathname, '活动：${data.activity.activityTitle}', '${data.activity.acid}')`) 获取分享链接
                .col-xs-12.col-md-12(id=`copyArea${data.activity.acid}` style="display:none")
                  input(type="text", id=`copyLink${data.activity.acid}`, name=`copyLink${data.activity.acid}` style="width:inherit")
                  button(onclick=`copyLink('${data.activity.acid}')` id=`copyButton${data.activity.acid}`) 复制
                .col-xs-12.col-md-12.m-t-1
                  canvas#activityQrcode(style="display:none")
            .row.m-b-4.m-t-1
              .col-xs-12.col-md-12(style="text-align:center")
                if permission('blockCurrentActivity')
                  if !data.activity.isBlock
                    button.btn.btn-danger.btn-sm(onclick=`blockCurrentActivity(${data.activity.acid})`) 屏蔽当前活动
                  else
                    button.btn.btn-warning.btn-sm(onclick=`unBlockCurrentActivity(${data.activity.acid})`) 解除活动屏蔽
      -else
        .row
          .col-xs-12.col-md-8.box-shadow-panel
            div(style="padding:2rem")
              .applicationForm
                .row.m-b-4.m-t-1
                  .col-xs-12.col-md-12
                    .id.text-center!=`${data.history.activityTitle}`
                .row.m-b-4
                  .col-xs-12.col-md-12
                    .applicationForm-header 活动信息
                    hr
                  .col-xs-12.col-md-6
                    h5 
                      span 活动时间：
                      span=` ${data.history.holdStartTime.toLocaleString()} ~ ${data.history.holdEndTime.toLocaleString()}`
                    h5 
                      span 报名时间：
                      span=` ${data.history.enrollStartTime.toLocaleString()} ~ ${data.history.enrollEndTime.toLocaleString()}`
                    h5
                      span 举办地点：
                      span=` ${data.history.address}`
                    h5
                      span 主办单位：
                      span=` ${data.history.sponsor}`
                    h5
                      span 联系电话：
                      span=` ${data.history.contactNum}`
                  .col-xs-12.col-md-6
                    p 活动海报
                    img(src=`${'/poster/'+data.history.posterId}` style="width:100%")
                .row.m-b-4.m-t-1
                  .col-xs-12.col-md-12
                    .applicationForm-header 活动详情
                    hr
                  .col-xs-12.col-md-12.description
                    .form-group
                      - let post = {c: data.history.description,l: "html"}
                      div.thread-content.ThreadPostBody#ThreadPostBody!= experimental_render(post)
          .col-xs-12.col-md-3
            .list-group
              span
                b
                  a.list-group-item.text-center(href=`/activity/single/${data.activity.acid}`) 当前版本
              .dropdown
                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                -for(var i in data.activity.historys)
                  li
                    a.list-group-item(href=`/activity/single/${data.activity.acid}?type=history&hid=${data.activity.historys[i]._id}`)!=data.activity.historys[i].toc.toLocaleString()



block scripts
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/jquery/jquery-1.11.1.js?v=${global.NKC.startTime}`)
  script(src=`/qrcode/build/qrcode.js?v=${global.NKC.startTime}`)
  +includeJS("/publicModules/customForm/customForm.js")
  script(src=`/activity/activityCommon.js?v=${global.NKC.startTime}`)
  script(src=`/activity/activitySingle.js?v=${global.NKC.startTime}`)
  +includeJS('/external_pkgs/citySet/agency.json.js')
  +includeJS('/external_pkgs/citySet/citySet.js')