extends ../bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创活动

  -const mainContainer1400 = true
  link(href='../bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='../bootstrap/css/bootstrap-chinese-region.min.css' media="screen" rel='stylesheet')
  link(rel="stylesheet", href="../external_pkgs/cropper/css/cropper.css")
block content
  .container-fluid(style='max-width: 1400px;')
      include activityNav.pug
      .row
        .col-xs-12.col-md-10
          .panel.panel-primary(style="border-color:#FFF")
            .panel-heading
              span 基本信息
            .panel-body
              .form-horizontal

                .form-group
                  label.col-sm-2.control-label 活动标题：
                  .col-sm-8
                    input.form-control#activityTitle(placeholder='建议标题字数不少于5个字，最多50个字')
                    span#titleErr(style='color:red')

                .form-group
                  label.col-sm-2.control-label 报名时间：
                  .col-sm-4
                    .input-group
                      input.form-control.time#enrollStartTime(readonly size="16" type="text")
                      span.input-group-addon
                        i.fa.fa-calendar
                    span#enrollStartTimeErr(style='color:red')
                  .col-sm-4
                    .input-group
                      input.form-control.time#enrollEndTime(readonly size="16" type="text")
                      span.input-group-addon
                        i.fa.fa-calendar
                    span#enrollEndTimeErr(style='color:red')

                .form-group
                  label.col-sm-2.control-label 举办时间：
                  .col-sm-4
                    .input-group
                      input.form-control.time#holdStartTime(readonly size="16" type="text")
                      span.input-group-addon
                        i.fa.fa-calendar
                    span#holdStartTimeErr(style='color:red')
                  .col-sm-4
                    .input-group
                      input.form-control.time#holdEndTime(readonly size="16" type="text")
                      span.input-group-addon
                        i.fa.fa-calendar
                    span#holdEndTimeErr(style='color:red')

                .form-group
                  label.col-sm-2.control-label 所在地区：
                  .col-sm-8
                    .bs-chinese-region.flat.dropdown(data-submit-type="id", data-min-level="0", data-max-level="4")
                      input#location.form-control(type="text", name="address", placeholder="选择你的地区", data-toggle="dropdown", readonly="")
                      .dropdown-menu(role="menu", aria-labelledby="dLabel")
                        div
                          ul.nav.nav-tabs(role="tablist")
                            li#countryLi.active(role="presentation")
                              a(href="#country", data-next="province", role="tab", data-toggle="tab") 国家
                            li(role="presentation")
                              a(href="#province", data-next="city", role="tab", data-toggle="tab") 省份
                            li(role="presentation")
                              a(href="#city", data-next="district", role="tab", data-toggle="tab") 城市
                            li(role="presentation")
                              a(href="#district", data-next="street", role="tab", data-toggle="tab") 县区
                          .tab-content
                            #country.tab-pane.active(role="tabpanel") --
                            #province.tab-pane(role="tabpanel") --
                            #city.tab-pane(role="tabpanel") --
                            #district.tab-pane(role="tabpanel") --
                    span#locationErr(style='color:red')

                .form-group
                  label.col-sm-2.control-label 详细地址：
                  .col-sm-8
                    input.form-control#address(placeholder='详细地址')
                    span#addressErr(style='color:red')
                
                .form-group
                  label.col-sm-2.control-label 活动海报：
                  .col-sm-3
                    .col-sm-6
                      button.btn.btn-primary#inputImage(onclick=`$("#inputFile").click();`) 选择海报
                    //- .col-sm-6
                    //-   button.btn.btn-primary#savePoster(onclick=`savePoster()`) 上传
                      div#hahaha
                    .col-sm-12
                      p
                    .col-sm-12
                      p(style='color:#33CC33') 注意事项：
                    .col-sm-12
                      p 1、海报尺寸 1080*640，.jpg 或 .png格式，不超过 4M
                    .col-sm-12 
                      p 2、精美海报有助于吸引吃瓜群众围观，增加报名量！
                    .col-sm-12 
                      p 3、选定海报后一定要确认上传
                  .col-sm-5
                    .row
                      .col-xs-12.col-md-12.user-settings-img-dev#exampleImg
                        img.poster#poster(src=`/default/singleLogosoutheast.jpg` style='width: 100%;' srcs='')
                      span#posterErr(style='color:red')

                //- .form-group
                //-   label.col-sm-2.control-label 活动要求：
                //-   .col-sm-8
                //-     textarea.form-control#activityRequire(rows=6 placeholder='请输入活动要求')
                .form-group
                  label.col-sm-2.control-label 主办方：
                  .col-sm-8
                    input.form-control.quantity-count#sponsor(placeholder='活动主要负责单位，其余主办方可填写至活动详情')
                    span#sponsorErr(style='color:red')

                .form-group
                  label.col-sm-2.control-label 联系电话：
                  .col-sm-8
                    input.form-control.quantity-count#contactNum(placeholder='请填写真实的联系电话')
                    span#contactNumErr(style='color:red')

                .form-group
                  label.col-sm-2.control-label 活动人数：
                  .col-sm-4
                    input.form-control.quantity-count#activityPartNum(placeholder='若人数无限制，请填写：0')
                    span#activityPartNumErr(style='color:red')
                  .col-sm-4
                    input(type="checkbox")#continueTofull
                    span 到达人数上限时是否允许继续报名
      .row
        .col-xs-12.col-md-10
          .panel.panel-primary(style="border-color:#FFF")
            .panel-heading
              span 报名表单
            .panel-body
              .form-horizontal
                .col-sm-8.col-md-8#conditions.text-center
                  .form-inline
                    input.form-control(id="infoName" type="text" value="姓名" disabled)
                    input.form-control(id="infoDesc" type="text" value="报名用户的真实姓名" disabled)
                    button.btn.btn-default(onclick="delOneForm(this)")
                      i.fa.fa-trash
                  .form-inline
                    input.form-control(id="infoName" type="text" value="手机" disabled)
                    input.form-control(id="infoDesc" type="text" value="报名用户的手机号码" disabled)
                    button.btn.btn-default(onclick="delOneForm(this)")
                      i.fa.fa-trash
                  .form-inline
                    input.form-control(id="infoName" type="text" value="昵称" disabled)
                    input.form-control(id="infoDesc" type="text" value="报名用户的在论坛的昵称" disabled) 
                    button.btn.btn-default(onclick="delOneForm(this)")
                      i.fa.fa-trash
                .col-sm-4.col-md-4
                  .form-inline
                    .col-sm-4.col-md-4
                    .col-sm-4.col-md-4
                      span.btn.btn-default.btn-lg.btn-block(style="margin:5px" onclick="addOneForm()")
                        i.fa.fa-plus
                    .col-sm-4.col-md-4
                    
                    
      .row
        .col-xs-12.col-md-10
          .panel.panel-primary(style="border-color:#FFF")
            .panel-heading
              span 活动详情
            .panel-body
              .form-horizontal
                .form-group
                  //- label.col-sm-2.control-label 活动详情：
                  //- .col-sm-8
                  div#ReplyContent
                  .checkbox-inline(style="display:none")
                    label
                      input#ParseURL(type='checkbox' checked)
                      | 处理URL
                  .form-group
                  .nkcpanel(id='file-uploading' target='/r')
                    //uploader section
                    include ../interface_attachment_uploader_uploader.pug

                  .panel.panel-default
                    .panel-heading 我的附件（点击插入帖子）
                    .panel-body(id='list-container')

                      
                .form-group
                  label.col-sm-2.control-label
                  .col-sm-5
                    button.btn.btn-primary#save(onclick=`submitRelease()`) 发布
            input#inputFile(type='file' accept="image/*").hidden

      //- .row
      //-   .col-xs-12.col-md-10
      //-     .panel.panel-primary
      //-       .panel-heading
      //-         span 活动详情
      //-       .panel-body
      //-         .form-horizontal

      //-           .form-inline
      //-             div#ReplyContent
      //-           .form-inline

      //-             .checkbox-inline(style="display:none")
      //-               label
      //-                 input#ParseURL(type='checkbox' checked)
      //-                 | 处理URL

      //-           .form-group
      //-           .nkcpanel(id='file-uploading' target='/r')
      //-             //uploader section
      //-             include ../interface_attachment_uploader_uploader.pug

      //-           .panel.panel-default
      //-             .panel-heading 我的附件（点击插入帖子）
      //-             .panel-body(id='list-container')
block scripts
  script(src="/jquery-ui-1.10.4.custom.js")
  script(src='../interface_common.js')
  script(src="../bootstrap/js/bootstrap-datetimepicker.min.js" charset="UTF-8")
  script(src="../bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8")
  script(src='../bootstrap/js/bootstrap-chinese-region.min.js' charset="UTF-8")
  script(src='../external_pkgs/cropper/js/cropper.js', charset="UTF-8")
  script(src=`../interface_common.js?v=${global.NKC.startTime}`)
  script(src='../commonmark/dist/commonmark.js')
  script(src='../xbbcode-parser/xbbcode.js')
  script(src='../xss/dist/xss.js')  
  script(src='../external_pkgs/react/react.min.js')
  script(src='../external_pkgs/react/JSXTransformer.js')
  script(src=`../nkc_render.js?v=${global.NKC.startTime}`)
  script(src=`../interface_attachment_uploader.js?v=${global.NKC.startTime}`)
  script(type='text/jsx;harmony=true' src=`../interface_attachment_list_display_test.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`../wangEditor.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`./activityNewEditor.js?v=${global.NKC.startTime}`)
  script(src=`./activityRelease.js?v=${global.NKC.startTime}` charset="UTF-8")
  script(src=`./activityCommon.js?v=${global.NKC.startTime}` charset="UTF-8")