extends ../bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创活动

  -const mainContainer1400 = true
  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/bootstrap/css/bootstrap-chinese-region.min.css' media="screen" rel='stylesheet')
  link(rel="stylesheet", href="/external_pkgs/cropper/css/cropper.css")
block content
  .container-fluid(style='max-width: 1400px;')
      include activityNav.pug
      .row
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-2
            .col-xs-12.col-md-8
              .form-group
                .col-sm-6
                  img(src=`${'/poster/'+data.activity.posterId}` style="width:100%")
                .col-sm-5
                  .col-sm-12
                    .form-group
                      span(style='font-size:18px')=`${data.activity.activityTitle}`
                  .col-sm-12
                    .form-group
                      span.fa.fa-calendar=` ${data.activity.holdStartTime} ~ ${data.activity.holdEndTime}`
                  .col-sm-12
                    .form-group
                      span.fa.fa-location-arrow=` ${data.activity.address}`
                  .col-sm-12
                    .form-group
                      -if(data.activity.limitNum == 0)
                        span.fa.fa-users=` 不限人数(已报名${data.activity.signUser.length}人)`
                      -else
                        span.fa.fa-users=` 限制${data.activity.limitNum}人数(已报名${data.activity.signUser.length}人)`
                  .col-sm-12
                    .form-group
                      span=`主办方: ${data.activity.sponsor}`
                  .col-sm-12
                    -if(data.user && data.activity.signUser.includes(data.user.uid))
                      button.btn.btn-default(disabled) 已报名
                      button.btn.btn-warning(onclick=`cancelApply(${data.activity.acid})`) 取消报名
                    -else if(data.activity.limitNum !==0 && data.activity.signUser.length >= data.activity.limitNum && data.activity.continueTofull == false)
                      button.btn.btn-default(disabled) 报名人数已达上限
                    -else if(parseInt(new Date(data.activity.enrollStartTime).getTime()) > parseInt(new Date().getTime()))
                      button.btn.btn-default(disabled) 报名尚未开始
                    -else if(parseInt(new Date(data.activity.enrollEndTime).getTime()) < parseInt(new Date().getTime()))
                      button.btn.btn-default(disabled) 报名已结束
                    -else if(parseInt(new Date(data.activity.holdEndTime).getTime()) < parseInt(new Date().getTime()))
                      button.btn.btn-default(disabled) 活动已结束
                    -else
                      button.btn.btn-primary(onclick="changeToApply()") 我要报名
                    //- .col-sm-6
                    //-   button.btn.btn-primary 关注
            .col-xs-12.col-md-2

      .row
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-2
            .col-xs-12.col-md-7#description(style="display:")
              hr
              .form-group
                div!= data.activity.description
            .col-xs-12.col-md-7#apply(style="display:none")
              hr
              .form-horizontal
                .form-group
                  label.col-sm-2.control-label!=('<span style="color:red">*</span>真实姓名：')
                  .col-sm-10
                    input.form-control#realName(placeholder='请填写您本人的真实姓名')
                    span#realNameErr(style='color:red')
                .form-group
                  label.col-sm-2.control-label!=('<span style="color:red">*</span>手机：')
                  .col-sm-10
                    input.form-control#mobile(placeholder='请输入手机号码' value=data.activity.userPersonal ? data.activity.userPersonal.mobile : '')
                    span#mobileErr(style='color:red')
                .form-group
                  label.col-sm-2.control-label!=('论坛昵称：')
                  .col-sm-10
                    input.form-control#kcName(placeholder='' value=data.activity.user ? data.activity.user.username : '')
                    span#kcNameErr(style='color:red')
                .form-group
                  label.col-sm-2.control-label!=('邮箱：')
                  .col-sm-10
                    input.form-control#email(placeholder='' value=data.activity.userPersonal ? data.activity.userPersonal.email : '')
                    span#emailErr(style='color:red')
              hr
              .form-horizontal
                .form-group
                  label.col-sm-2.control-label!=(data.activity.conditions.includes('wxn')?'<span style="color:red">*</span>微信：':'微信：')
                  .col-sm-10
                    input.form-control#wxNum(placeholder='请填写您的微信号')
                    span#wxNumErr(style='color:red')
                .form-group
                  label.col-sm-2.control-label!=(data.activity.conditions.includes('qqn')?'<span style="color:red">*</span>QQ：':'QQ：')
                  .col-sm-10
                    input.form-control#qqNum(placeholder='请填写您的QQ号')
                    span#qqNumErr(style='color:red')
                .form-group
                  label.col-sm-2.control-label!=(data.activity.conditions.includes('age')?'<span style="color:red">*</span>年龄：':'年龄：')
                  .col-sm-10
                    input.form-control#age(placeholder='请输入您的真实年龄')
                    span#ageErr(style='color:red')
                .form-group
                  label.col-sm-2.control-label!=(data.activity.conditions.includes('edu')?'<span style="color:red">*</span>学历：':'学历：')
                  .col-sm-10
                    input.form-control#education(placeholder='')
                    span#educationErr(style='color:red')
                .form-group
                  label.col-sm-2.control-label!=(data.activity.conditions.includes('wor')?'<span style="color:red">*</span>单位(院校)：':'单位(院校)：')
                  .col-sm-10
                    input.form-control#wordUnit(placeholder='')
                    span#wordUnitErr(style='color:red')
              .col-sm-2
              .col-sm-10
                input(type="checkbox" checked)#agreement
                sapn 我已阅读并同意
                  a(href="/") 《科创网及论坛统一服务协议》
                button.btn.btn-primary#onpost(onclick=`onpost(${data.activity.acid})`) 提交
                button.btn.btn-warning(onclick="changeToDescription()") 取消报名
            .col-xs-12.col-md-3

      .row
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-2
            .col-xs-12.col-md-7
              hr
              h4 全部评论
              -for(let post of data.activity.posts)
                hr(style="border:0.5px dashed;" color="#DDDDDD") 
                a(href=`/u/${post.uid}`)= post.user.username
                span!=` 发表于 ${post.toc.toLocaleString()}`
                div!=`${post.commentContent}`
            .col-xs-12.col-md-3

      .row
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-2
            .col-xs-12.col-md-7
              hr
              h4 发表评论
              textarea.form-control#commentContent(rows="8", placeholder="填写评论")
              br
              button.btn.btn-default(onclick=`submitComment(${data.activity.acid})`) 发表
            .col-xs-12.col-md-3

block scripts
  script(src='/interface_common.js')
  script(src="/activity/activityCommon.js")
  script(src="/activity/activitySingle.js")