extends ../bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创活动
  link(rel='stylesheet' href=`/mdui/css/mdui.css?v=${global.NKC.startTime}`)

  -const mainContainer1400 = true
  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/bootstrap/css/bootstrap-chinese-region.min.css' media="screen" rel='stylesheet')
  link(rel="stylesheet", href="/external_pkgs/cropper/css/cropper.css")
block content
  .container-fluid.max-width
      include activityNav.pug
      .col-xs-12.col-md-2
        .list-group
          a.list-group-item(class=!data.modifyType || data.modifyType==='modify'?'active': '' href=`/activity/modify/${data.activity.acid}?modifyType=modify`) 修改
          a.list-group-item(class=data.modifyType==='manage'?'active': '' href=`/activity/modify/${data.activity.acid}?modifyType=manage`) 管理
      .col-xs-12.col-md-10
        -if(!data.modifyType || data.modifyType == 'modify')
          .row
            .col-xs-12.col-md-12
              .panel.panel-primary
                .panel-heading
                  span 活动修改
                .panel-body
                  .form-horizontal

                    .form-group
                      label.col-sm-2.control-label 活动标题：
                      .col-sm-10
                        input.form-control#activityTitle(value=`${data.activity.activityTitle}`)
                        span#titleErr(style='color:red')

                    .form-group
                      label.col-sm-2.control-label 报名时间：
                      .col-sm-5
                        .input-group
                          input.form-control.time#enrollStartTime(readonly size="16" type="text" value=`${data.activity.enrollStartTime.toLocaleString()}`)
                          span.input-group-addon
                            i.fa.fa-calendar
                        span#enrollStartTimeErr(style='color:red')
                      .col-sm-5
                        .input-group
                          input.form-control.time#enrollEndTime(readonly size="16" type="text" value=`${data.activity.enrollEndTime.toLocaleString()}`)
                          span.input-group-addon
                            i.fa.fa-calendar
                        span#enrollEndTimeErr(style='color:red')

                    .form-group
                      label.col-sm-2.control-label 举办时间：
                      .col-sm-5
                        .input-group
                          input.form-control.time#holdStartTime(readonly size="16" type="text" value=`${data.activity.holdStartTime.toLocaleString()}`)
                          span.input-group-addon
                            i.fa.fa-calendar
                        span#holdStartTimeErr(style='color:red')
                      .col-sm-5
                        .input-group
                          input.form-control.time#holdEndTime(readonly size="16" type="text" value=`${data.activity.holdEndTime.toLocaleString()}`)
                          span.input-group-addon
                            i.fa.fa-calendar
                        span#holdEndTimeErr(style='color:red')

                    .form-group
                      label.col-sm-2.control-label 详细地址：
                      .col-sm-10
                        input.form-control#address(value=`${data.activity.address}`)
                        span#addressErr(style='color:red')
                    
                    .form-group
                      label.col-sm-2.control-label 活动海报：
                      .col-sm-4
                        .col-sm-6
                          button.btn.btn-primary#inputImage(onclick=`$("#inputFile").click();`) 选择海报
                        //- .col-sm-6
                        //-   button.btn.btn-primary#savePoster(onclick=`savePoster()`) 上传
                          div#hahaha
                        .col-sm-12
                          p
                        .col-sm-12
                          p(style='color:#33CC33') 注意事项：
                        .col-sm-12
                          p 1、海报尺寸 1080*640，.jpg 或 .png格式，不超过 4M
                        .col-sm-12 
                          p 2、精美海报有助于吸引吃瓜群众围观，增加报名量！
                      .col-sm-6
                        .row
                          .col-xs-12.col-md-12.user-settings-img-dev#exampleImg
                            img.poster#poster(src=`/poster/${data.activity.posterId}` srcs=`${data.activity.posterId}` style='width: 100%;')
                          span#posterErr(style='color:red')

                    .form-group
                      label.col-sm-2.control-label 主办方：
                      .col-sm-10
                        input.form-control.quantity-count#sponsor(value=`${data.activity.sponsor}`)
                        span#sponsorErr(style='color:red')

                    .form-group
                      label.col-sm-2.control-label 联系电话：
                      .col-sm-10
                        input.form-control.quantity-count#contactNum(value=`${data.activity.contactNum}`)
                        span#contactNumErr(style='color:red')

                    .form-group
                      label.col-sm-2.control-label 活动人数：
                      .col-sm-5
                        input.form-control.quantity-count#activityPartNum(value=`${data.activity.limitNum}`)
                        span#activityPartNumErr(style='color:red')
                      .col-sm-5
                        -if(data.activity.continueTofull == true)
                          input(type="checkbox" checked=true)#continueTofull
                          span 到达人数上限时是否允许继续报名
                        -else
                          input(type="checkbox")#continueTofull
                          span 到达人数上限时是否允许继续报名

                    .form-group
                      label.col-sm-2.control-label 报名表单：
                      .col-sm-10
                        .hidden#contionJSON= JSON.stringify(data.activity.conditions)
                        include ../publicModules/customForm/customForm.pug

                    .form-group
                      label.col-sm-2.control-label 活动详情：
                      .col-sm-10
                        #editor
                        div#replyxxx(style="display:none")=data.activity.description
                    .form-group
                      label.col-sm-2.control-label 通知内容：
                      .col-sm-10
                        textarea.form-control#noticeContent(rows="8")=`因变更了。。。所以。。。`
                    .form-group
                      label.col-sm-2.control-label
                      .col-sm-10
                        input(type="checkbox" checked=false)#isnotice
                        span 活动变更后是否通知报名者
                    hr

                    .form-group
                      label.col-sm-3.control-label
                      .col-sm-3
                        button.btn.btn-primary#save(onclick=`submitredit(${data.activity.acid})`) 保存修改
                      .col-sm-3
                        button.btn.btn-primary#save(onclick=`closeActivity(${data.activity.acid})`) 关闭活动
                      .col-sm-3
                        button.btn.btn-primary#save(onclick=`sendMessage(${data.activity.acid})`) 发送通知
                input#inputFile(type='file' accept="image/*").hidden

        -if(data.modifyType == 'manage')
          .row
            .col-xs-12.col-md-12
              a.btn-primary.btn.btn-sm#outExc 导出Excel
              .paging-button
                a(href=`/activity/modify/${data.activity.acid}?modifyType=manage` class=!data.status?"active":"").button 全部报名
                a(href=`/activity/modify/${data.activity.acid}?modifyType=manage&status=success` class=data.status&&data.status==='success'?"active":"").button 报名成功
                a(href=`/activity/modify/${data.activity.acid}?modifyType=manage&status=cancel` class=data.status&&data.status==='cancel'?"active":"").button 已取消
              .table-responsive
                table.table.table-striped#tabExc(border="1")
                  thead
                    tr
                      th 报名者
                      th 报名状态
                      -let idArr = []
                      -for(var a=0;a < data.activity.conditions.length;a++)
                        th!=data.activity.conditions[a].infoName
                        -idArr.push(data.activity.conditions[a].infoId)
                  tbody
                    -for(let apply of data.activityApplyList)
                      tr
                        th 
                          a(href=`/u/${apply.user.uid}`)!=apply.user.username
                        if apply.applyStatus === "success"
                          th 成功
                        else
                          th 已取消
                        -for(var b=0;b < idArr.length;b++)
                          -let enValue;
                          -for(var a=0;a < apply.enrollInfo.length; a++)
                            -if(apply.enrollInfo[a] && apply.enrollInfo[a].id === idArr[b])
                              -enValue = apply.enrollInfo[a].value
                          -if(enValue)
                            th!=enValue
                          -else
                            th
block scripts
  -if(!data.modifyType || data.modifyType === 'modify')
    script(src="/bootstrap/js/bootstrap-datetimepicker.min.js" charset="UTF-8")
    script(src="/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8")
    script(src='/bootstrap/js/bootstrap-chinese-region.min.js' charset="UTF-8")
    script(src='/external_pkgs/cropper/js/cropper.js', charset="UTF-8")
    script(src='/commonmark/dist/commonmark.js')
    script(src='/xbbcode-parser/xbbcode.js')
    script(src='/xss/dist/xss.js')
    +includeJS("/publicModules/customForm/customForm.js")
    include ../publicModules/selectDraft/selectDraft
    include ../publicModules/selectResource/selectResource
    include ../publicModules/sticker/selectSticker
    include ../ueditor/ueditorBase
    script(src=`/activity/activityCommon.js?v=${global.NKC.startTime}` charset="UTF-8")
    include ../publicModules/crop/crop
    script(src=`/activity/activityModify.js?v=${global.NKC.startTime}` charset="UTF-8")
  if data.modifyType === "manage"
    +includeJS("/activity/activityManage.js")