extends ../bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创活动-我的发布
  -const nowTimeStamp = new Date().getTime()
  +includeCSS('/bootstrap/css/bootstrap-datetimepicker.min.css')
  +includeCSS('/bootstrap/css/bootstrap-chinese-region.min.css')
  +includeCSS('/external_pkgs/cropper/css/cropper.css')
  +includeCSS('/fund.css')
block content
  .container-fluid.max-width
      include activityNav.pug
      .row
        .col-xs-12.col-md-12
          .col-xs-12.col-md-12
            .panel.panel-default
              .panel-body
                .table-responsive
                  table.table.table-striped
                    thead
                      tr
                        th 活动标题
                        th 报名截止
                        th 活动截止
                        th 参加人数
                        th 活动状态
                        th 操作
                    tbody
                      -for(let release of data.releases)
                        tr
                          th!=release.activityTitle
                          th!=release.enrollEndTime.toLocaleString()
                          th!=release.holdEndTime.toLocaleString()
                          th!=release.signUser.length
                          -if(release.activityType == "close")
                            th 已关闭
                          -else if(nowTimeStamp < parseInt(new Date(release.holdStartTime).getTime() ))
                            th 未开始
                          -else if(nowTimeStamp > parseInt(new Date(release.holdEndTime).getTime() ))
                            th 已结束
                          -else
                            th 进行中
                          th.text-align 
                            a(href=`/activity/modify/${release.acid}?modifyType=modify`) 修改  
                            a(href=`/activity/modify/${release.acid}?modifyType=manage`) 管理
block scripts
  +includeJS('/interface_common.js')
  +includeJS('/activity/activityCommon.js')