extends ../bootstrap_base
block title
  title 个人中心
  +includeCSS("/css/account.css")
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-3.box-shadow-panel
        .account-nav
          .account-user-banner
            a(href=`/banner/${data.user.banner}?t=lg` target="_blank")
              img(src=`/banner/${data.user.banner}`)
          .account-user-avatar
            a(href=`/avatar/${data.user.avatar}?t=lg` target="_blank")
              img(src=`/avatar/${data.user.avatar}`)
          .account-user-name=data.user.username
          .account-user-level
            span.user-grade(style=`color: ${data.user.grade.color};`)
              span= data.user.grade.displayName
              img.grade-icon(src=`/default/v${data.user.grade._id}l.png` title=data.user.grade.displayName)
          .account-user-certs=data.user.info.certsName
          .account-user-description!=markdown_safe(data.user.description)
          .account-user-kcb
            .col-xs-6
              img(src="/statics/kcb.png")
              span=data.user.kcb/100
            .col-xs-6
              img(src="/statics/xsf.png")
              span=data.user.xsf
          .account-user-links
            .account-user-links
              a(href=`/u/${data.user.uid}`).col-xs-6.account-user-link
                .fa.fa-user-circle-o
                | 个人名片
              if state.userColumn
                a(href=`/m/${state.userColumn._id}`).col-xs-6.account-user-link
                  .fa.fa-columns
                  | 我的专栏
              else
                a(href=`/column/apply`).col-xs-6.account-user-link
                  .fa.fa-columns
                  | 开设专栏
              a(href="/message").col-xs-6.account-user-link
                .fa.fa-comments
                | 消息中心
              a(href=`/u/${data.user.uid}/settings`).col-xs-6.account-user-link
                .fa.fa-cog
                | 账号设置
          for navLink in data.navLinks
            .account-ul
              .account-name=navLink.name
              .account-lis
                for link in navLink.links
                  a.account-li(href=`/account?t=${link.type}` class=link.type===data.t?"active":"")
                    .name=link.name
                      span=link.count || ""
                    .fa.fa-angle-right
      .col-xs-12.col-md-7.box-shadow-panel
        .account-info
          .row
            .col-xs-6.col-md-3
              a(href=`/account?t=thread` title="点击查看全部文章")
                .account-info-value=data.user.threadCount
                .account-info-name 文章
            .col-xs-6.col-md-3
              a(href=`/account?t=post` title="点击查看回复")
                .account-info-value=data.user.threadCount
                .account-info-name 回复
            .col-xs-6.col-md-3
              a(href=`/account?t=finance` title="点击查看账单")
                .account-info-value=data.user.kcb/100
                .account-info-name 科创币
            .col-xs-6.col-md-3
              a
                .account-info-value=data.user.xsf
                .account-info-name 学术分
            .col-xs-12.col-md-12

        .account-summary
          include ../user/summary/calendar
        .account-summary
          include ../user/summary/pie
        .account-fans-body
          .account-header 最新粉丝
          .account-description 最新关注你的用户
          .account-fans
            for u in data.fans
              p=u.username
          //-.table-responsive
            table.table
              thead
                tr
                  th 时间
                  th IP
                  th PORT
              tbody
                tr
                  th 2019-01-32 27:26
                  th 103.290.42.293
                  th 45653

      .col-xs-12.col-md-2.box-shadow-panel
        div
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi assumenda at, consequuntur distinctio, dolorem dolores eligendi ex labore laborum neque, nulla officia perferendis porro quas quod soluta tempora vero?

block scripts
  include ../user/summary/summary
  +includeJS("../user/summary/calendar.js")
  +includeJS("../user/summary/pie.js")
  +includeJS("/js/account.js")