extends ../bootstrap_base
block title
  title 历史详情
  +includeCSS("/post/history.css")
  style.
    body{background-color: #f4f4f4;}
block content
  .container-fluid.max-width.history-single
    .row
      .col-xs-12.col-md-3.box-shadow-panel
        div
          for h in data.histories
            a.list-a(href=`/p/${h.pid}/history/${h._id}` class=data.targetPost._id.toString() === h._id.toString()?"active":"")=`历史版本 ${h.version}`
      .col-xs-12.col-md-9.box-shadow-panel
        div
          div!=data.targetPost.c
block scripts
  include ../publicModules/nkcSource
  include ../publicModules/NKCHighlighter/NKCHighlighter
  #data.hidden=objToStr({notes: data.notes})
  script.
    var data = NKC.methods.getDataById("data");
    NKC.oneAfter("mathJaxRendered", function (_data, next) {
      if (data.notes) {
        new NKC.modules.NKCHL({
          type: data.notes.type,
          targetId: data.notes.targetId,
          notes: data.notes.notes
        })
      }
      next();
    });