extends ../bootstrap_base
block title
  title 历史记录
  +includeCSS("/post/history.css")
block content
  #data.hidden=objToStr({notes: data.notes})
  .container-fluid.max-width.histories
    .row
      .col-xs-12.col-md-12.box-shadow-panel
        div
          div.m-b-1
            -const url = tools.getUrl("post", data.post.pid, true)
            a(href=url).btn.btn-default 查看上下文
            if data.userOperationsId.includes('disableHistories')
              if data.post.hideHistories
                button.btn.btn-danger(onclick=`disabledHistories("${data.post.pid}", false)`) 解除屏蔽
              else
                button.btn.btn-danger(onclick=`disabledHistories("${data.post.pid}", true)`) 屏蔽所有
          ul.nav.nav-tabs
            li(class=!data.t?"active":"")
              a(href=`/p/${data.post.pid}/history` data-type="reload") 仅文字
            li(class=data.t === "detail"?"active":"")
              a(href=`/p/${data.post.pid}/history?t=detail` data-type="reload") 富文本
          if !data.t
            div.history
              for h, index in data.histories
                -let c = data.histories[index + 1];
                .single-history
                  .single-history-header
                    if index === 0
                      .version=`版本号：当前版本 `
                    else
                      .version=`版本号：${h.version} `
                        span.m-r-05
                        a.btn.btn-xs.btn-primary(href=`/p/${h.pid}/history?t=detail&c=${h._id}`) 查看详情
                        button.btn.btn-xs.btn-danger(onclick=`rollback('${h.pid}', '${h._id}')`) 回滚至此版本
                    .time=`时间：${format('YYYY/MM/DD HH:mm:ss', h.tlm)}`
                    .user
                      | 发表人：
                      if h.targetUser
                        a.username(href=`/u/${h.targetUser.uid}` data-float-uid=h.targetUser.uid target="_blank")=h.targetUser.username
                      else
                        span 匿名用户
                      a.m-l-05.pointer.ip(onclick=`NKC.methods.getIpInfo('${h.iplm}')`)=` ${h.iplm}`
                  .single-history-body
                    h4.content!=htmlDiff(c ? c.t : "", h.t || "")
                    .content!=htmlDiff(c ? c.c : "", h.c)
          else
            div.history-detail
              .row
                col-xs-12.col-md-3.m-t-1
                  for h, index in data.histories
                    -let text = !index?"当前版本": `版本号：${h.version}`
                    a(href=`/p/${data.post.pid}/history?t=detail&c=${h._id}` class=data.c === h._id.toString()?"active":"").list=text
                col-xs-12.col-md-8
                  -let h;
                  for _h in data.histories
                    if _h._id.toString() === data.c.toString()
                      -h = _h;
                  .title.m-t-1=`标题：${h.t || '无'}`
                  div!=h.c

block scripts
  include ../publicModules/nkcSource
  include ../publicModules/subscribeTypes/subscribeTypes
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../publicModules/NKCHighlighter/NKCHighlighter
  script.
    var data = NKC.methods.getDataById("data");
    NKC.oneAfter("mathJaxRendered", function (_data, next) {
      if (data.notes) {
        new NKC.modules.NKCHL({
          type: data.notes.type,
          targetId: data.notes.targetId,
          notes: data.notes.notes
        })
      }
      next();
    });
    function rollback(pid, id) {
      sweetQuestion("确定要执行此操作？")
      .then(function() {
        return nkcAPI("/p/" + pid + "/history/"+id+"/rollback", "POST")
      })
      .then(function(data) {
        sweetSuccess("操作成功");
        window.location.href = data.url;
      })
      .catch(sweetError)
    }
    function disabledHistories(pid, type) {
      var obj = {};
      var text = '屏蔽成功';
      if (type === true) {
        obj.operation = 'disableHistories'
      } else {
        text = '解除屏蔽成功';
        obj.operation = 'unDisableHistories'
      }
      nkcAPI('/p/' + pid + '/history', 'PATCH', obj)
        .then(function () {
          screenTopAlert(text);
        })
        .catch(function (data) {
          screenTopWarning(data.error || data);
        })
    }