extends ../bootstrap_base
block title
  title 历史记录
  +includeCSS("/post/history.css")
block content
  .container-fluid.max-width.history
    .row
      .col-xs-12
        if data.userOperationsId.includes('disableHistories')
          if data.post.hideHistories
            button.btn.btn-danger(onclick=`disabledHistories("${data.post.pid}", false)`) 解除屏蔽
          else
            button.btn.btn-danger(onclick=`disabledHistories("${data.post.pid}", true)`) 屏蔽所有
      .col-xs-12
        for h, index in data.histories
          -let c = data.histories[index + 1];
          .single-history
            .single-history-header
              if index === 0
                .version=`版本号：当前版本 `
              else
                .version=`版本号：${h.version} `
                  span.m-r-05
                  a.btn.btn-xs.btn-primary(href=`/p/${h.pid}/history/${h._id}` target="_blank") 查看详情
                  button.btn.btn-xs.btn-danger(onclick=`rollback('${h.pid}', '${h._id}')`) 回滚至此版本
              .time=`时间：${format('YYYY/MM/DD HH:mm:ss', h.tlm)}`
              .user
                |发表人：
                if h.targetUser
                  a.username(href=`/u/${h.targetUser.uid}` data-float-uid=h.targetUser.uid target="_blank")=h.targetUser.username
                else
                  span 匿名用户
                a.m-l-05.pointer.ip(onclick=`NKC.methods.getIpInfo('${h.iplm}')`)=` ${h.iplm}`
            .single-history-body
              h4.content!=htmlDiff(c?c.t:"", h.t || "")
              .content!=htmlDiff(c?c.c:"", h.c)
block scripts
  include ../publicModules/subscribeTypes/subscribeTypes
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  script.
    function rollback(pid, id) {
      sweetQuestion("确定要执行此操作？")
      .then(function() {
        return nkcAPI("/p/" + pid + "/history/"+id+"/rollback", "POST")
      })
      .then(function(data) {
        sweetSuccess("操作成功");
        window.location.href = data.url;
      })
      .catch(sweetError)
    }
    function disabledHistories(pid, type) {
      var obj = {};
      var text = '屏蔽成功';
      if (type === true) {
        obj.operation = 'disableHistories'
      } else {
        text = '解除屏蔽成功';
        obj.operation = 'unDisableHistories'
      }
      nkcAPI('/p/' + pid + '/history', 'PATCH', obj)
        .then(function () {
          screenTopAlert(text);
        })
        .catch(function (data) {
          screenTopWarning(data.error || data);
        })
    }