extends ../bootstrap_base
block title
  -var post = data.post;
  -var title = post.thread.firstPost.t;
  -var thread = data.thread;
  -const addKcb = data.userOperationsId.includes('creditKcb')
  -const addCredit = data.userOperationsId.includes('creditXsf') && data.isModerator
  //- -const disablePost = data.userOperationsId.includes('disabledPost') || data.userOperationsId.includes('moveDraft')
  -const disablePost = permission('moveThread');
  -const digestPost = data.userOperationsId.includes('digestPost') && data.isModerator;

  -let modifyPostTimeLimit = 0;
  -for(let i = 0; i < data.userRoles.length; i++)
    -const r = data.userRoles[i];
    if r.modifyPostTimeLimit > modifyPostTimeLimit
      -modifyPostTimeLimit = r.modifyPostTimeLimit
    if r.modifyPostTimeLimit === -1
      -modifyPostTimeLimit = -1;
      -break;

  - var ownership = data.userOperationsId.includes('modifyOtherPosts')
  - ownership = ownership?true:(data.user && data.user.uid===post.uid)
  title=`${title} - 科创`
  -var processed = post.c.replace(/<blockquote cite.*?blockquote>/igm, '')
  -processed = delAllCode(processed).trim().slice(0,140);
  meta(name='description' content=`${processed}`)
  meta(name='keywords' content=`${thread.firstPost.t}`)
  link(rel='stylesheet' href=`/post/post.css?v=${global.NKC.startTime}`)
  link(rel='stylesheet' href=`/external_pkgs/imageToBig/preview.css?v=${global.NKC.startTime}`)
  +includeCSS("/external_pkgs/viewer/viewer.css")
  +includeCSS("/external_pkgs/viewer/main.css")
  +includeJS("/external_pkgs/imageToBig/preview.js")
block content
  -var mainContainer1400 = true
  .container-fluid.max-width
    include ../module_digest
    include ../module_credit
    include ../thread_to_recycle.pug
    include ../post_to_recycle.pug
    .row
      .col-xs-12.col-md-9
        .nkcpanel.fullwidthpanel.ThreadBox.post
          if !post.reviewed
            -let reviewData = {reviewPid: post.pid, reviewType: "post"}
            include ../publicModules/module_review
          .post-info
            .post-header
              .time
                if !post.anonymous
                  a(href=`/u/${post.uid}` target='_blank' onmouseover=`floatUserPanel.open(this, '${post.uid}')`)
                    img.user-avatar(src=`/avatar/${post.user.avatar}`)
                    .username= post.user.username
                else
                  img.user-avatar(src=anonymousInfo.avatar)
                  .username.anonymous-name= anonymousInfo.username
                span= fromNow(post.toc)
              .options
                -var votePost = post;
                include ../module_vote
                if addKcb && data.user && post.uid !== data.user.uid
                  .options-fa.fa.fa-cny(onclick=`credit("${post.pid}", 'kcb', ${data.user.kcb})`) &nbsp;鼓励
                if digestPost
                  if !post.digest
                    .options-fa.fa.fa-star-o(onclick=`digestPost("${post.pid}")`) &nbsp;精选
                  else
                    .options-fa.fa.fa-star(onclick=`unDigestPost("${post.pid}")`)
                      span &nbsp;取消精选
                if addCredit
                  .options-fa.fa.fa-graduation-cap(onclick=`credit("${post.pid}", 'xsf')`) &nbsp;评学术分
                if testModifyTimeLimit(modifyPostTimeLimit, ownership, post.toc)
                  if (data.user && data.user.uid === post.uid) || (data.isModerator && permission('modifyOtherPosts'))
                    .options-fa.fa.fa-edit(onclick=`openToNewLocation("/editor?type=post&id=${post.pid}")`) &nbsp;编辑
                if permission("getPostAuthor") && post.anonymous
                  .options-fa.fa.fa-user-secret(onclick=`getPostAuthor('${post.pid}')`) &nbsp;作者
                if disablePost
                  if data.thread.oc !== post.pid
                    .options-fa.fa.fa-eye-slash(onclick=`disablePostClick('${post.pid}', "post")` data-toggle="modal" data-target="#threadRecycleModal" data-whatever="@mdo") &nbsp;屏蔽
                  else
                    .options-fa.fa.fa-eye-slash(data-toggle="modal" data-target="#recycleModal" data-whatever="@mdo") &nbsp;屏蔽
                  if(post.tlm > post.toc && data.userOperationsId.includes('visitPostHistory'))
                    if !post.hideHistories || data.userOperationsId.includes('displayPostHideHistories')
                      a.options-fa(href=`/p/${post.pid}/history`)
                        span.fa.fa-history &nbsp;历史
                  -const ipoc = post.iplm || post.ipoc;
                  a.options-fa(href=ipUrl(ipoc.toString()) title=ipoc target='_blank')
                    span.fa.fa-map-marker(style='margin-left: 2px;') &nbsp;IP
            span 发表于《
            a(href=data.postUrl )= post.thread.firstPost.t
            | 》
          if post.t
            div.ThreadTitle= post.t
          div.ThreadPostBody#ThreadPostBody!= experimental_render(post)
          if post.credits && post.credits.length > 0
            .nkcpanel.ThreadPostCredits
              for c,index in post.credits
                -var username = c.fromUser.username
                -var profile = '/u/'+c.from
                .ThreadPostCreditItem
                  if c.type === "creditKcb"
                    -c.num = c.num/100;
                  span.TPCQ!= `${(c.num > 0 ? '+' : '')}${c.num} &nbsp;`
                  span.TPCType #{creditString(c.type)} &nbsp;&nbsp;
                  span.TPCIA
                    a(href=`${profile}` style='text-decoration: none;')
                      img.TPCIAI(src=`/avatar/${c.fromUser.avatar}?t=sm`)
                      span.TPCIssuer &nbsp;#{username} &nbsp;&nbsp;
                  span.TPCDate #{dateTimeString(c.toc).split(' ')[0]} &nbsp;&nbsp;
                  span.TPCReason #{c.description}
                  if c.type === 'xsf' && data.user && (c.operatorId === data.user.uid || data.userOperationsId.includes('cancelXsf'))
                    a(style='margin-left: 0.5rem;cursor: pointer;' onclick=`cancelXsf("${post.pid}", ${c._id})`) 撤销
          if post.disabled && disablePost
            a(onclick=`enablePost('${post.pid}')`) [此楼已屏蔽，点击解除]
          .m-t-1.m-b-1
            a.pointer.m-r-1(href=`/t/${post.tid}#container`) 回复
            a.pointer.m-r-1(onclick=`postComment('${post.tid}', '${post.pid}')`) 评论
          -let comment = post;
          include ../thread/postEdit

          include ../publicModules/paging/paging
          .post-comments-div
          -let comments = data.posts
          include ../thread/comments

          include ../publicModules/paging/paging_input
      .col-xs-12.col-md-3
        .nkcpanel.post-share.fullwidthpanel
          .pid=`文号 / ${post.pid}`
          hr
          if !state.apptype
            .share 分享到：
              img(src='/default/QQ.png' onclick=`shareTo('post', 'qq', window.location.origin+'/p/'+'${post.pid}', '${data.thread.firstPost.t}', '${post.pid}')`)
              img(src='/default/qzone.png' onclick=`shareTo('post', 'qzone', window.location.origin+'/p/'+'${post.pid}', '${thread.firstPost.t}', '${post.pid}')`)
              img(src='/default/weibo.png' onclick=`shareTo('post', 'weibo', window.location.origin+'/p/'+'${post.pid}', '${thread.firstPost.t}', '${post.pid}')`)
              img(src='/default/weChat.png' onclick=`shareTo('post', 'weChat', window.location.origin+'/p/'+'${post.pid}', '${thread.firstPost.t}', '${post.pid}')`)
            .share.text-center.m-t-1
              a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('post', 'link', window.location.origin+window.location.pathname, '${thread.firstPost.t}', "${post.pid}")`) 获取分享链接
            .share(id=`copyArea${post.pid}` style="display:none")
              input(type="text", id=`copyLink${post.pid}`, name=`copyLink${post.pid}` style="width:inherit")
              button(onclick=`copyLink('${post.pid}')` id=`copyButton${post.pid}`) 复制
            div(style='width: 100%; text-align: center; padding-top: 0.5rem;')
              canvas(id=`${post.pid}Qrcode` style='width: 0px; height: 0px; margin: auto;')
        if !post.anonymous
          -var user = post.user
          include ../interface_thread_userpatch.pug
        if data.voteUpUsers.length !== 0
          .nkcpanel.vote-user.fullwidthpanel
            h4 点赞的用户
            for u, index in data.voteUpUsers
              if index < 30
                a(href=`/u/${u.uid}` target='_blank' title=u.username)
                  img(src=`/avatar/${u.avatar}`)
block scripts
  include ../publicModules/complaint/complaint
  include ../publicModules/selectResource/selectResource
  +includeJS(`/module_dropdown.js`)
  +includeJS(`/post_to_recycle.js`)
  +includeJS(`/thread_to_recycle.js`)
  //include ../ueditor/ueditor
  include ../ueditor/ueditorBase
  +includeJS(`/thread/comments.js`)
  +includeJS("/external_pkgs/viewer/viewer.js")
  if permission("getPostAuthor")
    include ../publicModules/floatUserPanel/userInfo
  script.
    $(".dropdown-menu.stop-propagation").on("click",function (e) {
      e.stopPropagation();
    });
    //- var preview = new Preview({
    //-     imgWrap: 'wrap' // 指定该容器里的图片点击预览
    //- })
    var UserInfo;
    $(document).ready(function() {
      if(NKC.modules.UserInfo) UserInfo = new NKC.modules.UserInfo();
      var options = {
        navbar: false,
        title: false,
        toolbar: false,
      }
      new Viewer(document.getElementById('ThreadPostBody'), options);
      NKC.methods.markDom($(".highlight-dom>.highlight"));
      NKC.methods.scrollToDom($(".highlight-dom"));
    })

    function getPostAuthor(pid) {
      UserInfo.open({
        type: "showUserByPid",
        pid: pid
      });
    }