extends ../bootstrap_base
block title
  -var post = data.post;
  -var title = post.thread.firstPost.t;
  -var thread = data.thread;
  -const unblockPosts = permission("unblockPosts") && data.isModerator;

  title=`${title} - ${state.serverSettings.websiteName}`
  -var processed = post.c.replace(/<blockquote cite.*?blockquote>/igm, '')
  -processed = delAllCode(processed).trim().slice(0,140);
  meta(name='description' content=`${processed}`)
  meta(name='keywords' content=`${thread.firstPost.t}`)
  +includeCSS('/post/post.css')
  +includeCSS('/external_pkgs/imageToBig/preview.css')
  +includeJS("/external_pkgs/imageToBig/preview.js")
  include ../publicModules/plyr/plyr.css.pug
  include ../thread/singlePost/singlePost
block content
  .container-fluid.max-width
    include ../module_digest
    include ../module_credit
    .row
      .col-xs-12.col-md-9.box-shadow-panel
        .ThreadBox.post
          if !post.reviewed
            -let reviewData = {reviewPid: post.pid, reviewType: "post"}
            include ../publicModules/module_review
          .post-info
            .post-header
              .time
                if !post.anonymous
                  a(href=`/u/${post.uid}` target='_blank'
                    data-global-mouseover="showUserPanel"
                    data-global-mouseout="hideUserPanel"
                    data-global-data=objToStr({uid: post.uid})
                  )
                    -var banned = post.user && post.user.certs && post.user.certs.includes('banned');
                    img.user-avatar(src=tools.getUrl('userAvatar', post.user.avatar) class=banned? 'user-banned-avatar': '')
                    .username= post.user.username
                else
                  img.user-avatar(src=anonymousInfo.avatar)
                  .username.anonymous-name= anonymousInfo.username
                span
                  +fromNow(post.toc)
                span=` IP:${post.addr}`
              .options
                include ../module_vote
                +voteButtons(post, !!data.user)
                if permission('creditKcb')
                  .single-post-bottom-item(
                    data-global-click=`showCreditPanel`
                    data-global-data=objToStr({creditType: 'kcb', contentType: 'post', contentId: post.pid})
                    title='鼓励'
                    )
                    .fa.fa-cny.credit-kcb &nbsp;鼓励
                .single-post-bottom-item(
                  data-global-click='showSharePanel'
                  data-global-data=objToStr({type: 'post', id: post.pid})
                  title='分享'
                  )
                  .fa.fa-share-square-o.share-icon &nbsp;分享
                .single-post-bottom-item(data-type='postOption' data-pid=post.pid title='其他操作' data-direction='down')
                  .fa.fa-sliders.option-icon &nbsp;操作
            span 发表于《
            a(href=data.postUrl )= post.thread.firstPost.t
            | 》
          if post.t
            div.ThreadTitle= post.t
          div.ThreadPostBody#ThreadPostBody!=post.c
          if post.credits && post.credits.length > 0
            .nkcpanel.ThreadPostCredits
              for c,index in post.credits
                -var username = c.fromUser.username
                -var profile = '/u/'+c.from
                .ThreadPostCreditItem
                  if c.type === "creditKcb"
                    -c.num = c.num/100;
                  span.TPCQ!= `${(c.num > 0 ? '+' : '')}${c.num} &nbsp;`
                  span.TPCType #{creditString(c.type)} &nbsp;&nbsp;
                  span.TPCIA
                    a(href=`${profile}` style='text-decoration: none;')
                      img.TPCIAI(src=tools.getUrl('userAvatar', c.fromUser.avatar, 'sm'))
                      span.TPCIssuer &nbsp;#{username} &nbsp;&nbsp;
                  span.TPCDate #{dateTimeString(c.toc).split(' ')[0]} &nbsp;&nbsp;
                  span.TPCReason #{c.description}
                  if c.type === 'xsf' && data.user && (c.operatorId === data.user.uid || data.userOperationsId.includes('cancelXsf'))
                    a(style='margin-left: 0.5rem;cursor: pointer;' onclick=`cancelXsf("${post.pid}", ${c._id})`) 撤销
          if post.disabled
            div
              span.text-primary [此楼已屏蔽]&nbsp;
              if unblockPosts
                a(onclick=`enablePost('${post.pid}')`) [点击解除]
          .m-t-1.m-b-1
            a.pointer.m-r-1(href=`/t/${post.tid}#container`) 回复
            //if data.thread.oc !== data.post.pid
            //  //- a.pointer.m-r-1(onclick=`postComment('${post.tid}', '${post.pid}')`) 评论
            //  a.pointer.m-r-1(onclick=`NKC.methods.switchPostComment('${post.pid}')`) 评论
          if post.type === 'post'
            div
              +singlePostComment({pid: post.pid})
          -let comment = post;
          include ../thread/postEdit

          //-
            include ../publicModules/paging/paging
            .post-comments-div
            -let comments = data.posts
            include ../thread/comments

            include ../publicModules/paging/paging_input
      .col-xs-12.col-md-3.box-shadow-panel
        .m-b-1
          .pid=`文号 / ${post.pid}`
          hr
          #postShare(v-cloak)
            share(:type='"post"' :id=`'${post.pid}'`)
        if !post.anonymous
          -var user = post.user
          -var accountRegisterInfo = data.authorAccountRegisterInfo;
          include ../interface_thread_userpatch.pug
        if data.voteUpUsers.length !== 0
          .vote-user.m-b-1
            h4 点赞的用户
            for u, index in data.voteUpUsers
              if index < 30
                a(href=`/u/${u.uid}` target='_blank' title=u.username)
                  img(src=tools.getUrl('userAvatar', u.avatar))
block scripts
  .hidden#data=objToStr({firstPostId: data.thread.oc, notes: data.notes, pid: data.post.pid, page: data.page, highlight: data.highlight})
  include ../publicModules/nkcsource
  include ../publicModules/complaint/complaintBox
  include ../publicModules/selectResource/selectResource
  include ../publicModules/sticker/selectSticker
  include ../publicModules/selectDraft/selectDraft
  //include ../publicModules/plyr/plyr.js.pug
  //include ../publicModules/lazySizes
  include ../ueditor/ueditorBase
  include ../MathJax.pug
  include ../publicModules/disabledPost/disabledPost
  //include ../publicModules/highlight/highlight
  include ../publicModules/commentControl/commentControl
  include ../post/options/options
  //include ../publicModules/subscribeTypes/subscribeTypes
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../thread/singlePost/singlePost
  include ../publicModules/bulletComments/bulletComments

  //- 下载资料询问框
  //include ../publicModules/downloadResource/downloadResource.pug
  if permission("viewNote")
    include ../publicModules/NKCHighlighter/NKCHighlighter
  +includeJS(`/thread/comments.js`)
  //include ../publicModules/imageViewer
  //include ../publicModules/replaceNKCRender
  if permission("getPostAuthor")
    include ../publicModules/floatUserPanel/userInfo
  +includeJS("/post/post.js")
