extends ../bootstrap_base
block title
  -var post = data.post;
  -var title = post.thread.firstPost.t;
  -var thread = data.thread;
  -const unblockPosts = permission("unblockPosts") && data.isModerator;

  title=`${title} - ${state.serverSettings.websiteName}`
  -var processed = post.c.replace(/<blockquote cite.*?blockquote>/igm, '')
  -processed = delAllCode(processed).trim().slice(0,140);
  meta(name='description' content=`${processed}`)
  meta(name='keywords' content=`${thread.firstPost.t}`)
  +includeCSS('/post/post.css')
  +includeCSS('/external_pkgs/imageToBig/preview.css')
  +includeJS("/external_pkgs/imageToBig/preview.js")
  include ../publicModules/plyr/plyr.css.pug
  include ../thread/singlePost/singlePost
block content
  .container-fluid.max-width
    include ../module_digest
    include ../module_credit
    .row
      .col-xs-12.col-md-9.box-shadow-panel
        .fullwidthpanel.ThreadBox.post
          if !post.reviewed
            -let reviewData = {reviewPid: post.pid, reviewType: "post"}
            include ../publicModules/module_review
          .post-info
            .post-header
              .time
                if !post.anonymous
                  a(href=`/u/${post.uid}` target='_blank' onmouseover=`floatUserPanel.open(this, '${post.uid}')`)
                    img.user-avatar(src=tools.getUrl('userAvatar', post.user.avatar))
                    .username= post.user.username
                else
                  img.user-avatar(src=anonymousInfo.avatar)
                  .username.anonymous-name= anonymousInfo.username
                span
                  +fromNow(post.toc)
              .options
                include ../module_vote
                +voteButtons(post, !!data.user)
                if permission('creditKcb')
                  .single-post-bottom-item(onclick=`credit('${post.pid}', 'kcb')` title='鼓励')
                    .fa.fa-cny.credit-kcb &nbsp;鼓励
                .single-post-bottom-item(data-type='share' data-share-type='post' data-share-id=post.pid title='分享')
                  .fa.fa-share-square-o.share-icon &nbsp;分享
                .single-post-bottom-item(data-type='postOption' data-pid=post.pid title='其他操作' data-direction='down')
                  .fa.fa-sliders.option-icon &nbsp;操作
            span 发表于《
            a(href=data.postUrl )= post.thread.firstPost.t
            | 》
          if post.t
            div.ThreadTitle= post.t
          div.ThreadPostBody#ThreadPostBody!=post.c
          if post.credits && post.credits.length > 0
            .nkcpanel.ThreadPostCredits
              for c,index in post.credits
                -var username = c.fromUser.username
                -var profile = '/u/'+c.from
                .ThreadPostCreditItem
                  if c.type === "creditKcb"
                    -c.num = c.num/100;
                  span.TPCQ!= `${(c.num > 0 ? '+' : '')}${c.num} &nbsp;`
                  span.TPCType #{creditString(c.type)} &nbsp;&nbsp;
                  span.TPCIA
                    a(href=`${profile}` style='text-decoration: none;')
                      img.TPCIAI(src=tools.getUrl('userAvatar', c.fromUser.avatar, 'sm'))
                      span.TPCIssuer &nbsp;#{username} &nbsp;&nbsp;
                  span.TPCDate #{dateTimeString(c.toc).split(' ')[0]} &nbsp;&nbsp;
                  span.TPCReason #{c.description}
                  if c.type === 'xsf' && data.user && (c.operatorId === data.user.uid || data.userOperationsId.includes('cancelXsf'))
                    a(style='margin-left: 0.5rem;cursor: pointer;' onclick=`cancelXsf("${post.pid}", ${c._id})`) 撤销
          if post.disabled
            div
              span.text-primary [此楼已屏蔽]&nbsp;
              if unblockPosts
                a(onclick=`enablePost('${post.pid}')`) [点击解除]
          .m-t-1.m-b-1
            a.pointer.m-r-1(href=`/t/${post.tid}#container`) 回复
            //if data.thread.oc !== data.post.pid
            //  //- a.pointer.m-r-1(onclick=`postComment('${post.tid}', '${post.pid}')`) 评论
            //  a.pointer.m-r-1(onclick=`NKC.methods.switchPostComment('${post.pid}')`) 评论
          if post.type === 'post'
            div
              +singlePostComment({pid: post.pid})
          -let comment = post;
          include ../thread/postEdit

          //-
            include ../publicModules/paging/paging
            .post-comments-div
            -let comments = data.posts
            include ../thread/comments

            include ../publicModules/paging/paging_input
      .col-xs-12.col-md-3.box-shadow-panel
        .m-b-1
          .pid=`文号 / ${post.pid}`
          hr
          if !state.isApp
            .share 分享到：
              img(src='/default/QQ.png' onclick=`shareTo('post', 'qq', window.location.origin+'/p/'+'${post.pid}', '${data.thread.firstPost.t}', '${post.pid}')`)
              img(src='/default/qzone.png' onclick=`shareTo('post', 'qzone', window.location.origin+'/p/'+'${post.pid}', '${thread.firstPost.t}', '${post.pid}')`)
              img(src='/default/weibo.png' onclick=`shareTo('post', 'weibo', window.location.origin+'/p/'+'${post.pid}', '${thread.firstPost.t}', '${post.pid}')`)
              img(src='/default/weChat.png' onclick=`shareTo('post', 'weChat', window.location.origin+'/p/'+'${post.pid}', '${thread.firstPost.t}', '${post.pid}')`)
            .share.text-center.m-t-1
              a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('post', 'link', window.location.origin+window.location.pathname, '${thread.firstPost.t}', "${post.pid}")`) 获取分享链接
            .share(id=`copyArea${post.pid}` style="display:none")
              input(type="text", id=`copyLink${post.pid}`, name=`copyLink${post.pid}` style="width:inherit")
              button(onclick=`copyLink('${post.pid}')` id=`copyButton${post.pid}`) 复制
            div(style='width: 100%; text-align: center; padding-top: 0.5rem;')
              canvas(id=`${post.pid}Qrcode` style='width: 0px; height: 0px; margin: auto;')
        if !post.anonymous
          -var user = post.user
          include ../interface_thread_userpatch.pug
        if data.voteUpUsers.length !== 0
          .vote-user.fullwidthpanel.m-b-1
            h4 点赞的用户
            for u, index in data.voteUpUsers
              if index < 30
                a(href=`/u/${u.uid}` target='_blank' title=u.username)
                  img(src=tools.getUrl('userAvatar', u.avatar))
block scripts
  .hidden#data=objToStr({firstPostId: data.thread.oc, notes: data.notes, pid: data.post.pid, page: data.page, highlight: data.highlight})
  include ../publicModules/complaint/complaint
  include ../publicModules/selectResource/selectResource
  include ../publicModules/sticker/selectSticker
  include ../publicModules/sticker/sticker
  include ../publicModules/selectDraft/selectDraft
  include ../publicModules/plyr/plyr.js.pug
  include ../publicModules/lazySizes
  include ../ueditor/ueditorBase
  include ../MathJax.pug
  include ../publicModules/disabledPost/disabledPost
  include ../publicModules/highlight/highlight
  include ../publicModules/share/sharePanel
  include ../publicModules/commentControl/commentControl
  include ../post/options/options
  include ../publicModules/subscribeTypes/subscribeTypes
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../thread/singlePost/singlePost
  include ../publicModules/bulletComments/bulletComments
  //- 下载资料询问框
  include ../publicModules/downloadResource/downloadResource.pug
  if permission("viewNote")
    include ../publicModules/NKCHighlighter/NKCHighlighter
  +includeJS(`/thread/comments.js`)
  include ../publicModules/imageViewer
  include ../publicModules/replaceNKCUrl
  if permission("getPostAuthor")
    include ../publicModules/floatUserPanel/userInfo
  script.
    function disabledThreadPost (pid){
      NKC.methods.disabledPosts(pid);
    }
    $(".dropdown-menu.stop-propagation").on("click",function (e) {
      e.stopPropagation();
    });
    //- var preview = new Preview({
    //-     imgWrap: 'wrap' // 指定该容器里的图片点击预览
    //- })
    var UserInfo;
    $(document).ready(function() {
      if(NKC.modules.UserInfo) UserInfo = new NKC.modules.UserInfo();
      NKC.methods.markDom($(".highlight-dom>.highlight"));
      NKC.methods.scrollToDom($(".highlight-dom"));
    })

    function getPostAuthor(pid) {
      UserInfo.open({
        type: "showUserByPid",
        pid: pid
      });
    }
    var data = NKC.methods.getDataById("data");
    $(function () {

      NKC.oneAfter("mathJaxRendered", function(_data, next) {
        if (data.notes && data.notes.length) {
          for (var i = 0; i < data.notes.length; i++) {
            var n = data.notes[i];
            new NKC.modules.NKCHL({
              type: n.type,
              targetId: n.targetId,
              notes: n.notes
            });
          }
        }
      })
      NKC.methods.highlightBlockBySelector("[data-tag='nkcsource'][data-type='pre']");

      NKC.methods.showPostComment(data.pid, data.page, {highlightCommentId: data.highlight});

      if(NKC.configs.uid && socket) {
        window.bulletComments = new NKC.modules.BulletComments({
          offsetTop: NKC.configs.isApp ? 20 : 60
        });
        socket.on('connect', joinPostRoom)
        socket.on('commentMessage', function (data) {
          if (NKC.configs.uid !== data.comment.uid) {
            bulletComments.add(data.comment);
          }
          NKC.methods.insertComment(
            data.parentCommentId,
            data.parentPostId,
            data.html
          );
        });
        if (socket.connected) {
          joinPostRoom();
        }
      }

    });

    function joinPostRoom() {
      socket.emit('joinRoom', {
        type: 'post',
        data: {
          postId: data.firstPostId
        }
      });
    }

    if (NKC.configs.platform === 'reactNative') {
      window._userSelect = true;
    }
