extends ../../experimental
block eTitle
  title 访问设置
  +includeCSS('/experimental/settings/visit/visit.css')
block eContent
  .container-fluid.max-width
    .row
      -
        var dataString = objToStr({
          accessControl: data.accessControl,
          roles: data.roles,
          grades: data.grades
        })
      .hidden#data=dataString
      .col-xs-12.col-md-12#app(v-cloak)
        user-selector(ref='userSelector')
        .form-horizontal
          mixin acForm(platform)
            .form-group
              label.col-sm-2.control-label 平台
              .col-sm-10
                h5
                  strong=platform.toUpperCase()
            .form-group
              label.col-sm-2.control-label 状态
              .col-sm-10
                .radio
                  label.m-r-1
                    input(type="radio" v-model=`ac.${platform}.enabled` :value="true")
                    | 开启
                  label
                    input(type="radio" v-model=`ac.${platform}.enabled` :value="false")
                    | 关闭
            .form-group
              label.col-sm-2.control-label 白名单
              .col-sm-10
                .m-b-2
                  h5
                    strong 证书和等级
                  .checkbox
                    label.m-r-1(v-for='role in roles')
                      input(type='checkbox' v-model=`ac.${platform}.whitelist.rolesId` :value='role._id')
                      span {{role.displayName}}
                  .radio
                    label.m-r-1
                      input(type='radio' v-model=`ac.${platform}.whitelist.relation` value='and')
                      span 与
                    label
                      input(type='radio' v-model=`ac.${platform}.whitelist.relation` value='or')
                      span 或
                  .checkbox
                    label.m-r-1(v-for='grade in grades')
                      input(type='checkbox' v-model=`ac.${platform}.whitelist.gradesId` :value='grade._id')
                      span {{grade.displayName}}
                .m-b-2
                  h5
                    strong 指定用户
                  .user-item-container
                    div(v-for=`(user, index) in ac.${platform}.whitelist.users`)
                      img(:src="getUrl('userAvatar', user.avatar)")
                      a(:href='getUrl("userHome", user.uid)' target="_blank") {{user.username}}
                      .icon.fa.fa-remove(@click=`removeFormArr(ac.${platform}.whitelist.users, index)`)
                    button.btn.btn-sm.btn-default(@click.stop=`selectUser(ac.${platform}.whitelist.users)`) 选择用户
            .form-group
              label.col-sm-2.control-label 会员提示
              .col-sm-10
                textarea.form-control(rows=4 v-model=`ac.${platform}.userDesc`)
            .form-group
              label.col-sm-2.control-label 游客提示
              .col-sm-10
                textarea.form-control(rows=4 v-model=`ac.${platform}.visitorDesc`)

          div(v-for='ac in accessControl').m-b-5
            h4
              strong {{getAccessControlTitle(ac.source)}}访问控制
            .row
              .col-xs-12.col-md-6
                +acForm(`web`)
              .col-xs-12.col-md-6
                +acForm(`app`)


          .row
            .col-xs-12.col-md-6
              .form-group
                label.col-sm-2.control-label
                .col-sm-6
                  button.btn.btn-lg.btn-primary(@click="submit") 保存
block scripts
  +includeJS("/experimental/settings/visit/visit.js")
