extends ../../bootstrap_base
block title
  if !data.name
    title 主页
  else
    title=`主页 - ${data.name}`
  +includeCSS("/css/user/profile.css")
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-3.box-shadow-panel
        .account-nav
          .account-user-banner
            a(href=`/banner/${data.targetUser.banner}?t=lg` target="_blank")
              img(src=`/banner/${data.targetUser.banner}`)
          .account-user-avatar
            a(href=`/avatar/${data.targetUser.avatar}?t=lg` target="_blank")
              img(src=`/avatar/${data.targetUser.avatar}`)
          .account-user-name=data.targetUser.username
          .account-user-level
            span.user-grade(style=`color: ${data.targetUser.grade.color};`)
              span= data.targetUser.grade.displayName
              img.grade-icon(src=`/statics/grade_icon/v${data.targetUser.grade._id}l.png` title=data.targetUser.grade.displayName)
          .account-user-certs=data.targetUser.info.certsName
          .account-user-description!=markdown_safe(data.targetUser.description)
          .account-user-kcb
            .col-xs-6
              img(src="/statics/kcb.png")
              span=data.targetUser.kcb/100
            .col-xs-6
              img(src="/statics/xsf.png")
              span=data.targetUser.xsf
          .account-user-links
            .account-user-links
              a(href=`/u/${data.targetUser.uid}`).col-xs-6.account-user-link
                .fa.fa-user-circle-o
                | 访客视角
              a(href="/message").col-xs-6.account-user-link
                .fa.fa-comments
                | 消息中心
          for navLink in data.navLinks
            .account-ul
              if navLink.name
                .account-name=navLink.name
              .account-lis
                for link in navLink.links
                  a.account-li(href=link.url class=link.type===data.type?"active":"")
                    .name=link.name
                      span=link.count || ""
                    .fa.fa-angle-right
      .col-xs-12.col-md-7.box-shadow-panel
        if !data.type
          .account-info
            .row
              .col-xs-6.col-md-3
                a(href=`/u/${data.targetUser.uid}/profile/thread` title="点击查看全部文章")
                  .account-info-value=data.targetUser.threadCount
                  .account-info-name 文章
              .col-xs-6.col-md-3
                a(href=`/u/${data.targetUser.uid}/profile/post` title="点击查看回复")
                  .account-info-value=data.targetUser.postCount
                  .account-info-name 回复
              .col-xs-6.col-md-3
                a(href=`/u/${data.targetUser.uid}/profile/finance` title="点击查看账单")
                  .account-info-value=data.targetUser.kcb/100
                  .account-info-name 科创币
              .col-xs-6.col-md-3
                a
                  .account-info-value=data.targetUser.xsf
                  .account-info-name 学术分
              .col-xs-12.col-md-6
                a
                  .account-info-value=format("YYYY-MM-DD", data.targetUser.toc)
                  .account-info-name 注册时间
              .col-xs-12.col-md-6
                a
                  .account-info-value=parseInt((Date.now() - new Date(data.targetUser.toc).getTime())/(1000*60*60*24))
                  .account-info-name 注册天数

          .account-summary
            .summary-calendar(data-uid=data.targetUser.uid)
          .account-summary
            .summary-pie(data-uid=data.targetUser.uid)

        else if data.type === "thread"
          include ./thread
        else if data.type === "post"
          include ./post
        else if data.type === "draft"
          include ./draft
        else if data.type === "finance"
          include ./finance
        else if data.type === "follower"
          include ./follower
        else if data.type === "subscribe/user"
          include ./subscribe/user
        else if data.type === "subscribe/topic"
          include ./subscribe/topic
        else if data.type === "subscribe/discipline"
          include ./subscribe/discipline
        else if data.type === "subscribe/column"
          include ./subscribe/column
        else if data.type === "subscribe/thread"
          include ./subscribe/thread
        else if data.type === "subscribe/collection"
          include ./subscribe/collection
      .col-xs-12.col-md-2.box-shadow-panel
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at doloremque eligendi eum minus quam quia, quis repellendus vitae? Architecto fugiat minima officiis. Ad beatae enim quae sunt totam. Error!

  .hidden#subUsersId=objToStr({subThreadsId: data.subThreadsId, collectionThreadsId: data.collectionThreadsId, subUsersId: data.subUsersId, subForumsId: data.subForumsId, subColumnsId: data.subColumnsId, subscribes: data.subscribesObj})
block scripts
  include ../../publicModules/subscribeTypes/subscribeTypes
  if !data.type
    include ../../user/summary/calendar
    include ../../user/summary/pie
    script.
      var SummaryCalendar = new NKC.modules.SummaryCalender($(".summary-calendar")[0]);
      var SummaryPie = new NKC.modules.SummaryPie($(".summary-pie")[0]);
  +includeJS("/js/user/profile.js")
  include ../../publicModules/floatUserPanel/floatUserPanel
  include ../../publicModules/moment