extends ../nkc
block nkcTitle
  title 最新发表
  +includeCSS("/nkc/post/post.css")
block nkcContent
  -
    var dataString = tools.objToStr({
      paging: data.paging,
      posts: data.posts,
      queryData: data.queryData,
    });
  #data(class="hidden")=dataString

  #app(v-cloak)
    .mb-2 
      .checkbox 
        label.mr-2
          input(type="checkbox" value="thread" :checked="source.includes('thread')" @click="selectSource") 
          span 文章
        label.mr-2
          input(type="checkbox" value="post" :checked="source.includes('post')" @click="selectSource") 
          span 回复
        label.mr-2
          input(type="checkbox" value="comment" :checked="source.includes('comment')" @click="selectSource") 
          span 评论
        span.mx-2 |  
        label.mr-2
          input(type="checkbox" value="draft" :checked="source.includes('draft')" @click="selectSource" ) 
          span 草稿
    .mb-1
      label.font-normal
        div 起始时间：
        input(type="datetime-local" :value="formatLocalDate(timeStart)" @change="onLocalDateChange('timeStart', $event.target.value)" class="form-control w-auto")
      label.font-normal
        div 终止时间：
        input(type="datetime-local" :value="formatLocalDate(timeStop)" @change="onLocalDateChange('timeStop', $event.target.value)" class="form-control w-auto")
    .mb-2
      div 关键词：
      input(type="text" v-model="text" class="form-control d-inline-block w-auto" placeholder="uid、tid、pid")
    .mb-2 
      div 每页显示数量：
      input(type="text" v-model.number="perPage" class="form-control d-inline-block w-auto" min="1" )
    .mb-2 
      div 排序方式：
      .radio.mt-2
        label.mr-2
          input(type="radio" value="desc" v-model="order")
          span.font-normal 降序
        label.mr-2
          input(type="radio" value="asc" v-model="order")
          span.font-normal 升序 
    .mb-8
      button.mr-2.btn.btn-primary(@click="redirect(0)") 应用筛选
      a.btn.btn-default(href='/nkc/post') 重置
    .mb-2 
      paging(:pages="pageButtons" @click-button="redirect")  
    .mb-2 
      div(v-for="(post, index) in posts" :key="post.pid")
        thread(
          :post="post"
          v-if="post.type === 'thread'"
          @move-post="movePost"
          @delete-post="deletePost"
          )
        post(
          :post="post"
          v-else-if="post.type === 'post'"
          @delete-post="deletePost"
        )  
        comment(
          :post="post"
          v-else-if="post.type === 'comment'"
          @delete-post="deletePost"
        )

        draft(
          :post="post"
          v-else-if="post.type === 'draft'"
        )

 
block nkcScripts
  include ../../publicModules/subscribeTypes/subscribeTypes
  include ../../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../../publicModules/floatForumPanel/floatForumPanel
  include ../../publicModules/moveThread/moveThread
  include ../../publicModules/disabledPost/disabledPost
  +includeJS("/nkc/post/post.js")
