extends ./settings
block settingsTitle
  title 分类管理
block settingsContent
  #data.hidden=objToStr({categoryTree: data.categoryTree, minorCategories: data.minorCategories, columnId: data.column._id})
  div
    h3 分类管理
    hr
    mixin renderCategaties(categories)
      .column-categories-item-container
        for category in categories
          .column-category-item(data-id=category._id)
            .column-category-info
              .fa.fa-arrows.column-category-handle
              span.column-category-name=category.name
              if category.default
                span &nbsp;(默认)
              //.description=category.description
              .column-category-options
                if !category.default
                  button.btn.btn-xs.btn-danger(
                    onclick=`removeCategory('main', ${category._id})`
                    class=category.children && category.children.length?"hidden":''
                    ) 删除
                button.btn.btn-xs.btn-default(onclick=`editCategory(${category._id})`) 编辑
            .column-categories-container
              +renderCategaties(category.children)
    .row
      .col-xs-12#categoryForm(v-cloak).p-t-3
        button.btn.btn-default.btn-sm(onclick='createCategory()' v-if='!showForm') 添加分类
        .form.form-horizontal(v-show='showForm' :style='showForm?"padding: 1rem;background-color: #ebebeb":""').p-b-2.p-t-2
          h4(v-if='!!categoryId') # 编辑分类
          h4(v-else) # 添加分类
          .form-group
            label.col-sm-2.control-label 分类类型
            .col-sm-8
              .radio
                label.m-r-1
                  input(type='radio' value='main' v-model='type' :disabled='disableCategoryType')
                  span 主分类
                label
                  input(type='radio' value='minor' v-model='type' :disabled='disableCategoryType')
                  span 辅分类
          .form-group
            label.col-sm-2.control-label 分类名称
            .col-sm-8
              input.form-control(type='text' v-model='name' placeholder='不超过20个字符')
          .form-group
            label.col-sm-2.control-label 分类简介
            .col-sm-8
              textarea.form-control(rows=2 v-model='brief' placeholder='不超过100个字符')
          .form-group
            label.col-sm-2.control-label 分类介绍
            .col-sm-8
              #columnCategoryEditor
          .form-group
            label.col-sm-2.control-label
            .col-sm-8
              button.btn.btn-primary(@click="saveCategoryForm") 提交
              button.btn.btn-default(@click='closeCategoryForm') 取消

      .col-xs-12.col-md-6
        h5 主分类
        +renderCategaties(data.categoryTree)
      .col-xs-12.col-md-6
        h5 辅分类
        .column-categories-minor
          for c in data.minorCategories
            .column-category-minor-item(data-id=c._id)
              .column-category-info
                .fa.fa-arrows.column-category-handle
                span.column-category-name=c.name
                .column-category-options
                  button.btn.btn-xs.btn-danger(
                    onclick=`removeCategory('minor', ${c._id})`
                  ) 删除
                  button.btn.btn-xs.btn-default(onclick=`editCategory(${c._id})`) 编辑


block settingsScripts
  include ../../ueditor/ueditorBase
  include ../../publicModules/commonModal/commonModal
  +includeJS('/columns/settings/category.js')