extends ./settings
block settingsTitle
  title 分类管理
block settingsContent
  #data.hidden=objToStr({categoryTree: data.categoryTree, minorCategories: data.minorCategories, columnId: data.column._id})
  div
    h3 分类管理
    hr
    mixin renderCategaties(categories)
      .column-categories-item-container
        for category in categories
          .column-category-item(data-id=category._id)
            .column-category-info
              .fa.fa-arrows.column-category-handle
              span.column-category-name=category.name
              if category.default
                span &nbsp;(默认)
              //.description=category.description
              .column-category-options
                if !category.default
                  button.btn.btn-xs.btn-danger(
                    onclick=`removeCategory('main', ${category._id})`
                    class=category.children && category.children.length?"hidden":''
                    ) 删除
                button.btn.btn-xs.btn-default(onclick=`editCategory(${category._id})`) 编辑
            .column-categories-container
              +renderCategaties(category.children)
    .row
      .col-xs-12
        button.btn.btn-default.btn-sm(onclick='createCategory()') 添加分类
      .col-xs-12.col-md-6
        h5 主分类
        +renderCategaties(data.categoryTree)
      .col-xs-12.col-md-6
        h5 辅分类
        .column-categories-minor
          for c in data.minorCategories
            .column-category-minor-item(data-id=c._id)
              .column-category-info
                .fa.fa-arrows.column-category-handle
                span.column-category-name=c.name
                .column-category-options
                  button.btn.btn-xs.btn-danger(
                    onclick=`removeCategory('minor', ${c._id})`
                  ) 删除
                  button.btn.btn-xs.btn-default(onclick=`editCategory(${c._id})`) 编辑


block settingsScripts
  include ../../publicModules/commonModal/commonModal
  +includeJS('/columns/settings/category.js')