if !isIncluded('singleCommentTop')
  include ../../publicModules/mixin
  include ../singlePost/singlePostVote
  mixin singleCommentTop(props)
    -var {uid, username, avatar, banned} = props;
    -var {voteUp, vote, pid, toc, tlm, parentUser} = props;
    .single-comment-top
      img.single-comment-avatar(src=avatar class=banned? 'user-banned-avatar':'')
      .single-comment-user
        a.single-comment-username(
          data-anonymous=!uid
          href=tools.getUrl('userHome', uid)
          target='_blank'
          data-float-uid=uid
        )=username
        if parentUser
          span 评论
          a.single-comment-username(
            data-anonymous=!parentUser.uid
            href=tools.getUrl('userHome', parentUser.uid)
            target='_blank'
            data-float-uid=parentUser.uid
          )=parentUser.username
        span.single-comment-reply-button(onclick=`NKC.methods.switchCommentForm("${pid}")`) 回评
      .single-comment-options
        +singlePostVote(pid, vote, voteUp)
        .single-post-bottom-item.icon-item(data-type='share' data-share-type='post' data-share-id=pid title='分享')
          .fa.fa-share-square-o.share-icon.option-icon
        .single-post-bottom-item.icon-item(data-type='postOption' data-pid=pid title='其他操作')
          .fa.fa-sliders.option-icon.option-icon
