//-

  @param {Object} post 文章主体信息
  @param {Object} column 文章专栏信息
  @param {Array} mainCategory 文章主分类
  @param {Array} auxiliaryCategory 文章辅分类
  @param {Object} thread 文章文号 浏览数 回复数等
  @param {Number}} collectedCount 文章收藏数
extends ../bootstrap_base
block title
  -var {post, column, mainCategory, auxiliaryCategory, thread, collectedCount, userAvatar, type, article, user, posts, collected, vote} = data.columnPost
  -var {_id, name} = column
  -var {targetUser, categoryList, categoriesTree} = data
  -var {hits, comment: count, oc, url} = thread
  -var {uid, originState, originDesc, toc, t, abstractCn, abstractEn, keyWordsCn, keyWordsEn, c, tlm, dt, authorInfos} = post
  title=t
  -var showManagement = data.user && data.permissions.review;
  //- 与post隐藏相关的设置
  include ../thread/hidePostContentSettings
  if data.postHeight
    +hidePostContentSettings(data.postHeight)
  +includeCSS('../../columns/article/article.css')
block content
  mixin thread
    .m-b-1
      include ../columns/article/nav
      +nav({_id, name, hits, count, oc, mainCategory, auxiliaryCategory, collectedCount, collected, type, url, showManagement, user: data.user})
      include ../columns/article/setUp
      if type === 'article'
        //- 文章管理员操作
        +setUp()
      include ../columns/article/categoryWarning
      if categoryList
        +categoryWarning({categoryList})
      include ../columns/article/title
      +title({authorInfos, title: t, uid, username: user.username, avatarUrl: targetUser.avatar,
        toc: format('YYYY-MM-DD', new Date(dt)), allToc: tools.timeFormat(new Date(dt)), originState,
        columnId: _id, columnName: name, addr: article ? article.document.addr : article.addr, originDesc})
      include ../columns/article/abstract
      +abstract({abstractCn, abstractEn, keyWordsCn, keyWordsEn})
      include ../columns/article/content
      +content(c)
      include ../publicModules/articleCenter/articleCredits
      +articleCredits(article.kcb.concat(article.xsf), article._id, data.permissions)
      include ../columns/article/articleEditTime
      +articleEditTime(tlm, dt, toc)
      include ../columns/article/categoryName
      +categoryName({categoriesTree})
      include ../columns/article/articleOptions
      +articleOptions({logged: !!data.user, type, _id: article._id, tid: article.tid, collected, digest: article.digest, voteUp: article.voteUp, vote, voteDown: article.voteDown, replyCount: count || 0, vote: article.vote, permissions: data.permissions})
  .hidden#data=objToStr({allCategories: data.allCategories, comments: data.comments, comment: data.comment, article, collectedCount, type, collected, columnInfo: data.columnInfo, addedToColumn: data.addedToColumn, isLastPage: (data.paging.page + 1) === data.paging.pageCount})
  .move-article-category#moveCategoryBoxAppInZone
    move-box(
      ref='moveCategoryBox'
    )
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-9.article-common.box-shadow-panel#comment-content
        if type === 'article' && article.status !== 'normal' && article.status !== undefined
          div
            if article.status === 'faulty'
              .col-xs-12.col-md-12(style=`margin: 0.5rem 0 0 0;${article.status === 'faulty' ? 'border: 1px solid #ff5a0b;padding: 0.5rem;border-radius: 5px;background-color: #fafafa;' : ''}`)
                .h4.text-center(style='color: #ff5a0b;') 本文已被退回修改，请作者点击编辑按钮进入编辑界面
                p.text-center(style='border-bottom: 1px solid #ff5a0b; padding-bottom: 1rem;color: #ff5a0b;')= `退修原因：${article.reason}`
                +thread
            else if article.status === 'disabled'
              .col-xs-12.col-md-12(style=`margin: 0.5rem 0 0 0;${article.status === 'disabled' ? 'border: 1px solid #666;padding: 0.5rem;border-radius: 5px;background-color: #fff;' : ''}`)
                .h4.text-center(style='color: #666;') 本文已被封禁，不可查看
                if permission('review')
                  .text-center
                    a(onclick="unblock()") 点击解封
                p.text-center(style='border-bottom: 1px solid #666; padding-bottom: 1rem;color: #666;')= `封禁原因：${article.reason}`
                if permission('review')
                  +thread
            else if article.status === 'unknown'
              -let reviewData = article;
              -let permissions = data.permissions;
              include ../columns/article/module_review
              +thread
            else if article.status === 'deleted'
              .h4.text-center(style='color: #666;') 文章已被删除，不可查看
        else
          +thread
        .m-b-1
          include ../publicModules/commentCenter/comment
      .col-xs-12.col-md-3.box-shadow-panel#rightDom
        if data.targetUser
          .m-b-1
            //- .panel-header 作者
            -const author = data.targetUser;
            include ../thread/authorInfo
        //- 滚动到页头页脚
        include ../module_scrollTo.pug
  include ../publicModules/floatForumNav
  include ../publicModules/nkcSource
  include ../columns/article/authorInfo.pug
  +authorInfo()
  //- 下拉后左边显示的所属专业 上级专业 同级专业
  //- +floatForumNav({forums: thread.forums, categories: floatCategories, parentForums: floatParentForums, sameLevelForums: data.sameLevelForums})
block scripts
  +includeJS("/columns/article.js")
  +includeJS('/columns/article/setUp.js')
  +includeDeferJS('/columns/article/article.js', false)
  +includeJS("/zone/article.js")
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../publicModules/articleCenter/articleOption/articleOptions
  include ../publicModules/disabledPost/disabledPost
//-  +includeJS('/columns/article/article.js')

