extends ../bootstrap_base
block title
  title=`电波 - ${remoteState.serverSettings.websiteName}`
  +includeCSS('/zone/zone.css')
block content
  .container-fluid.max-width
    .row
      .col-md-offset-2.col-xs-12.col-md-8.min-md-p-r-0
        .box-shadow
          .btn-group.btn-group-justified.m-b-1
            .btn-group(role="group")
              a.btn.btn-default(
                class=data.tab === data.zoneTab.all? 'btn-primary': ''
                href=`/z?t=${data.type}-a`
              ) 全部
            .btn-group(role="group")
              if data.user
                a.btn.btn-default(
                  class=data.tab === data.zoneTab.subscribe? 'btn-primary': ''
                  href=`z?t=${data.type}-s`
                ) 我的关注
              else
                button.btn.btn-default(
                onclick="RootApp.openLoginPanel('login')"
                ) 我的关注

          #ZoneMomentEditor.m-b-05.p-t-05(v-cloak v-if='logged')
            moment-editor(@published='published')
          if data.type ===data.zoneTypes.moment
            -
              var dataString = objToStr({
                momentsData: data.momentsData,
                permissions: data.permissions
              });

            #ZoneMoments(v-cloak)
              include ./zone/zoneTypes
              +renderZoneTypes(data.type, data.tab, data.zoneTypes)

              include ../publicModules/paging/paging
              moments(:moments="momentsData" :permissions="permissions" v-if='momentsData.length > 0')
              .p-t-5.p-b-5.text-center(v-else) 空空如也~
            if data.paging && data.paging.buttonValue.length > 0
              .m-t-1
                include ../publicModules/paging/paging_input
            .hidden#data=dataString
            +includeJS('/zone/zone/moment.js')
          else
            .m-b-1
              include ./zone/zoneTypes
              +renderZoneTypes(data.type, data.tab, data.zoneTypes)
              include ../publicModules/paging/paging
              if data.articlesPanelData && data.articlesPanelData.length > 0
                include ../publicModules/articlePanel/articlePanel
                +ArticlesPanel(data.articlesPanelData, data.latestZoneArticlePanelStyle)
              else
                .p-t-5.p-b-5.text-center 空空如也~
              if data.paging && data.paging.buttonValue.length > 0
                .m-t-1
                include ../publicModules/paging/paging_input


block scripts
  +includeJS('/zone/zone/zone.js')
