extends ../bootstrap_base
block title
  title=data.book.name
  +includeCSS('/book/book.css')
block content
  .container-fluid.max-width.book
    .row
      .col-xs-12.col-md-6.col-md-offset-3
        .book-cover
          img(src=data.book.coverUrl)
        .book-name=data.book.name
        .book-description=data.book.description
        .book-list
          mixin bookList(data,level=0)
            for item,i in data
              a.book-list-item(href=item.url || "#"  target=item.url ? "_blank" : '' style="margin-left:"+ (level * 24) + 'px')
                .book-list-item-name
                  //- if !item.published
                  //-   span.status [未发布]
                  //- else if item.hasBeta
                  //-   span.status [编辑中]
                  span=item.title
                .book-list-item-time=item.time
              if item.child
                +bookList(item.child,level+1 )
            //- if !data.length
            //-   h3.null 暂时还没有发布的书籍
          +bookList(data.list)
block scripts
  +includeJS('/book/book.js')