extends ../bootstrap_base
block title
  title 科创活动

  -const mainContainer1400 = true
  -const {recentActivityArr, historyActivityArr} = data;
  +includeCSS("/bootstrap/css/bootstrap-datetimepicker.min.css")
  +includeCSS("/bootstrap/css/bootstrap-chinese-region.min.css")
  +includeCSS("/external_pkgs/cropper/css/cropper.css")
  +includeCSS("/fund.css")
  style.
    .form-group {
      margin-bottom: 5px
    }
    .lighttext {
      color: #333
    }
    .activityTitle {
      color: #9baec8
    }
    .activityTitle:hover {
      color: #333
    }
block content
  .container-fluid.max-width
      include activityNav.pug
      .row
        .col-xs-12.col-md-6(style="font-size: 2rem")
          | 近期活动
      br
      .row
        -for(let recent of recentActivityArr)
          if data.user
            if recent.isBlock && (permission('blockCurrentActivity') || recent.uid === data.user.uid)
              .col-xs-12.col-md-3
                .nkcpanel(style="padding:5px 16px")
                  .form-horizontal
                    a(href=`/activity/single/${recent.acid}`)
                      .form-group
                        img(src=`/poster/${recent.posterId}` style="width:100%")
                      .form-group
                        .col-md-1
                          span(style="color:#9baec8")
                            i.fa.fa-clock-o
                        .col-md-10
                          span.lighttext=`${recent.holdStartTime.toLocaleString()}`
                      .form-group
                        .col-sm-12(style="height:44px")
                          span.activityTitle=`${recent.activityTitle}`
                      .form-group
                        .col-sm-12(style="background-color:#f39e59;text-align:center;height:44px") 活动已被屏蔽
          if !recent.isBlock
            .col-xs-12.col-md-3
              .nkcpanel(style="padding:5px 16px")
                .form-horizontal
                  a(href=`/activity/single/${recent.acid}`)
                    .form-group
                      img(src=`/poster/${recent.posterId}` style="width:100%")
                    .form-group
                      .col-md-1
                        span(style="color:#9baec8")
                          i.fa.fa-clock-o
                      .col-md-10
                        span.lighttext=`${recent.holdStartTime.toLocaleString()}`
                    .form-group
                      .col-sm-12(style="height:44px")
                        span.activityTitle=`${recent.activityTitle}`
                    .form-group
                      .col-sm-1
                        span(style="color:#9baec8")
                          i.fa.fa-map-marker
                      .col-sm-10(style="height:44px")
                        span.lighttext=`${cutContent(recent.address, 28)}`
              
      hr
      .row
        .col-xs-12.col-md-3(style="font-size: 2rem")
          | 历史活动
      br
      .row
        -for(let history of historyActivityArr)
          if data.user
            if history.isBlock && (permission('blockCurrentActivity') || history.uid === data.user.uid)
              .col-xs-12.col-md-3
                .nkcpanel(style="padding:5px 16px")
                  .form-horizontal
                    a(href=`/activity/single/${history.acid}`)
                      .form-group
                        img(src=`/poster/${history.posterId}` style="width:100%")
                      .form-group
                        .col-md-1
                          span(style="color:#9baec8")
                            i.fa.fa-clock-o
                        .col-md-10
                          span.lighttext=`${history.holdStartTime.toLocaleString()}`
                      .form-group
                        .col-sm-12(style="height:44px")
                          span.activityTitle=`${history.activityTitle}`
                      .form-group
                        .col-sm-12(style="background-color:#f39e59;text-align:center;height:44px") 活动已被屏蔽
          if !history.isBlock
            .col-xs-12.col-md-3
              .nkcpanel(style="padding:5px 16px")
                .form-horizontal
                  a(href=`/activity/single/${history.acid}`)
                    .form-group
                      img(src=`/poster/${history.posterId}` style="width:100%")
                    .form-group
                      .col-md-1
                        span(style="color:#9baec8")
                          i.fa.fa-clock-o
                      .col-md-10
                        span.lighttext=`${history.holdStartTime.toLocaleString()}`
                    .form-group
                      .col-sm-12(style="height:44px")
                        span.activityTitle=`${history.activityTitle}`
                    .form-group
                      .col-sm-1
                        span(style="color:#9baec8")
                          i.fa.fa-map-marker
                      .col-sm-10(style="height:44px")
                        span.lighttext=`${cutContent(history.address, 28)}`