extends ../../bootstrap_base
block title
  //- title=data.book.name
  +includeCSS('/document/history/history.css')
  style.
    body{
      display: none;
    }
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-3.m-t-2
        .book-cover
        .book-list
          for list in data.history
            p.title-list()
              a.book-list-item(href=`/document/history/${list._id}?source=${list.source}&sid=${list.sid}` )=`${list.title || "未填写标题"}`
              span.time=`编辑于 ${format(`YYYY-MM-DD HH:mm:ss`, list.tlm)}`
      .col-xs-12.col-md-9.book-content-container
        if data.history.length
          .thread-nav-right
            .nav-count(title=`浏览数`)
              .fa.fa-eye
              span 0
            .nav-count(title=`回复数`)
              .fa.fa-comment
              span 0
            .nav-count.pointer
              span 收藏
            .nav-count
              .fa.fa-cog
          h1.book-content-title=`${data.document.title || "未填写标题"}`
          .thread-info.text-center
            if data.document.authorInfos
              for authorInfo in data.document.authorInfos
                span=authorInfo.name
                span.common-article-author.fa.fa-envelope-open-o
          .thread-info.text-center
            if data.document.authorInfos
              for authorInfo in data.document.authorInfos
                span.common-article-author=authorInfo.agency
          .thread-info.text-center
            //- 用户头像
            img(src=tools.getUrl('userAvatar', avatar, 'sm') style='width: 1.5rem;height: 1.5rem;border-radius:50%;')
            if data.document.authorInfos && data.document.authorInfos[0]
              span.kcid=data.document.authorInfos[0].kcid
            span(style='color: #555555;margin-right:5px' title=format(`YYYY-MM-DD HH:mm:ss`, data.document.toc))= ` ${format(`YYYY-MM-DD HH:mm:ss`, data.document.toc)}`
            if data.document.origin && data.document.origin !== "0"
              -var levelText = getOriginLevel(data.document.origin);
              if data.document.origin == "3" || data.document.origin == "4" || data.document.origin == "5" || data.document.origin == "6"
                span(style="color:#9baec8;margin-right:3px") 原创
          if data.type !== "draft"
            if (data.document.abstract.length || data.document.abstractEN.length) 
              .abstract(style="margin-top:1rem; word-break: break-all;")
                if data.document.abstract.length
                  .panel.panel-default(style="border:0;margin-bottom:0")
                    .panel-heading.paperHeader 中文摘要
                    .panel-body!=LineFeedConversion(data.document.abstract)
                if data.document.abstractEN.length
                  .panel.panel-default(style="border:0;margin-bottom:0")
                    .panel-heading.paperHeader Abstract
                    .panel-body!=LineFeedConversion(data.document.abstractEN)
            if (data.document.keywords.length || data.document.keywordsEN.length) 
              .keyWords(style="margin-top:1rem;")
                .panel.panel-default(style="border:0;margin-bottom:0")
                  .panel-heading.paperHeader 关键词
                  .panel-body(style="padding:5px")
                    if data.document.keywords.length
                      div
                        for keyCn in data.document.keywords
                          span.keyWordstagCn(style="cursor:pointer")!=keyCn
                    if data.document.keywordsEN.length
                      div(style="margin-top:5px")
                        for keyEn in data.document.keywordsEN
                          span.keyWordstagEn(style="cursor:pointer")!=keyEn
            //- .book-content-content!=data.document.content
          .book-content-content!=data.document.content
          .btns
            button.btn.btn-default.m-r-05(onclick=`saveArticle('${JSON.stringify(data.urlComponent)}')`) 选择当前版本进行编辑
        else
          h3 该文章还没有历史记录
block scripts
  include ../../publicModules/nkcSource
  +includeJS('/document/history/history.js')