extends ../../bootstrap_base
block title
  title 注销账号
  +includeCSS("/user/destroy/destroy.css")
  if !state.isApp
    style.
      body{
        background-color: #f6f6f6;
      }
block content
  #data.hidden=objToStr({verifyMobile: data.verifyMobile, verifyEmail: data.verifyEmail, verifyPassword: data.verifyPassword})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-6.col-md-offset-3(class=state.isApp?"":"box-shadow-panel")
        div
          h4.text-danger
            strong 注意事项
          div!=experimental_render({c: data.regSettings.noticeForDestroy})
          hr
          div#app(v-cloak)
            .form(v-if="!passed")
              .form-group(v-if="verifyPassword")
                label 验证登录密码
                .row
                  .col-xs-12.col-md-5
                    input.form-control(type="password" v-model="password" placeholder="请输入登录密码")
              .form-group(v-if="verifyMobile")
                label 验证手机
                h5=`已绑定手机 ${data.mobile}`
                .row
                  .col-xs-12.col-md-5.m-t-05
                    input.form-control(type="text" v-model="mobileCode" placeholder="短信验证码")
                  .col-xs-12.col-md-7.m-t-05
                    button.btn.btn-default(v-if="mobileTime <= 0" @click="sendMobileCode") 发送验证码
                    button.btn.btn-default(v-else disabled) 发送验证码({{mobileTime}})
              .form-group(v-if="verifyEmail")
                label 验证邮箱
                h5=`已绑定邮箱 ${data.email}`
                .row
                  .col-xs-12.col-md-5.m-t-05
                    input.form-control(type="text" v-model="emailCode" placeholder="邮件验证码")
                  .col-xs-12.col-md-7.m-t-05
                    button.btn.btn-default(v-if="emailTime <= 0" @click="sendEmailCode") 发送验证码
                    button.btn.btn-default(v-else disabled) 发送验证码({{emailTime}})
              .form-group
                button.btn.btn-theme(v-if="disableVerifyButton") 提交
                button.btn.btn-theme(@click="verify" v-else disabled) 提交
            .m-t-3.m-b-2(v-else)
              h4.text-center.text-success 验证通过，点击下方的按钮即可完成账号注销。
              .text-center.m-t-2
                button.btn.btn-theme(@click="submit") 确认注销

block scripts
  +includeJS("/nationCodes/nationCodes.js")
  +includeJS("/user/destroy/destroy.js")