if !isIncluded('report')
  style.
    .user-info img{
      height: 1.8rem;
      width: 1.8rem;
      vertical-align: top;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    .report-content{
      border-left: 1px solid #ddd;
      padding: 0.4rem 1rem;
      margin: 0.3rem 1rem;
    }
    .report-time{
      color: #888;
    }
    .user-info-avatar{
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
    .user-info-avatar img{
      height: 100%;
      width: 100%;
    }
    .user-info-name{
      display: inline-block;
      font-size: 1.2rem;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
    .user-info-header{
      font-size: 0;
      margin-bottom: 0.5rem;
    }
    .user-info-body{
      padding: 1rem 0.5rem;
      border-radius: 3px;
      background-color: #f4f4f4;
      border: 1px solid #c1c1c1;
    }
    .user-info-body.error {
      background-color: #ffe2e2;
      border: 1px solid #ffbdbd;
    }
    /*.user-info-body.success {*/
    /*  background-color: #d5ffd7;*/
    /*  border: 1px solid #9ce39b;*/
    /*}*/
    .user-info-time{
      font-size: 1.2rem;
      display: inline-block;
      vertical-align: middle;
    }
    .user-info-container{

    }
    .user-info-desc{
      margin-top: 0.5rem;
    }
    .user-info-title{
      font-size: 1.2rem;
      font-weight: 700;
    }
    .single-report-container{
      margin-bottom: 2rem;
    }
    .single-report-container.disabled{
      padding: 1rem;
      background-color: #aaa;
      border-radius: 3px;
    }
  mixin singleReport(report, form, isAdmin)
    .single-report-container(class=report.status)
      .user-info-container
        .user-info-header
          .user-info-avatar
            img(src=report.operator.avatarUrl)
          if report.operator.uid
            a.user-info-name(
              href=report.operator.homeUrl
              data-global-mouseover="showUserPanel"
              data-global-mouseout="hideUserPanel"
              data-global-data=objToStr({ uid: report.operator.uid })
              )=report.operator.name
          else
            .user-info-name=report.operator.name
          .user-info-time
            +fromNow(report.toc)
          if isAdmin
            .pull-right
              if report.status === 'disabled'
                button.btn.btn-xs.btn-success(onclick=`disabledReport(${form._id},"${report._id}",false)`) 解除屏蔽
              else
                button.btn.btn-xs.btn-default(onclick=`disabledReport(${form._id},"${report._id}",true)`) 屏蔽
        .user-info-body(class=report.notificationType)
          .user-info-title=report.title
          if report.desc
            .user-info-desc.pre-wrap=report.desc
  mixin singleReport_old(report, form, userFundRoles)
    -var {applicant} = form;
    .form-single-report
      .user-info
        if !['completedReport', 'report'].includes(report.type)
          span 系统
        else
          img(
            src=applicant.userAvatar
            data-global-mouseover="showUserPanel"
            data-global-mouseout="hideUserPanel"
            data-global-data=objToStr({uid: applicant.uid})
            )
          a(
            href=applicant.userHome
            target="_blank"
            data-global-mouseover="showUserPanel"
            data-global-mouseout="hideUserPanel"
            data-global-data=objToStr({uid: applicant.uid})
            )=applicant.user.username
        span.m-l-05.report-time
          +fromNow(report.toc)
        if userFundRoles.includes('admin')
          if report.disabled
            a.m-l-05(onclick=`disabledReport(${form._id},${report._id},false)`) 解除屏蔽
          else
            a.m-l-05(onclick=`disabledReport(${form._id},${report._id},true)`) 屏蔽
      .report-content
        if report.type === 'userInfoAudit'
          if report.support
            -report.c = `用户信息通过审核${report.c ? `。\n审核评语：${report.c}` : ''}`;
          else
            -report.c = `用户信息未通过审核，等待申请人修改。\n审核意见：${report.c}`;
        if report.type === 'projectAudit'
          if report.support
            -report.c = `项目信息通过审核${report.c ? `。\n审核评语：${report.c}` : ''}`;
          else
            -report.c = `项目信息未通过审核，等待申请人修改。\n审核意见：${report.c}`;
        if report.type === 'moneyAudit'
          if report.support
            -report.c = `资金预算通过审核${report.c ? `。\n审核评语：${report.c}` : ''}`;
          else
            -report.c = `资金预算未通过审核，等待申请人修改。\n审核意见：${report.c}`;
        if report.type === 'adminAudit'
          if report.support
            -report.c = `管理员复核通过，开始项目${report.c ? `。\n审核评语：${report.c}` : ''}`;
          else
            -report.c = `管理员复核未通过，等待申请人修改。\n审核意见：${report.c}`;
        if report.type === 'completedAudit'
          if report.support
            -report.c = `结题报告审核通过${report.c ? `。\n审核评语：${report.c}` : ''}`;
          else
            -report.c = `结题报告审核未通过，等待申请人修改。\n审核意见：${report.c}`;
        if report.type === 'vote'
          if report.support
            -report.c = `网友 ${report.user.username} 表示的支持${report.c ? `。并说：${report.c}` : ''}`;
          else
            -report.c = `网友 ${report.user.username} 表示反对。并说：${report.c}`;
        if report.type === 'remittance'
          if !report.support
            -report.c = `拨款失败：${report.c}`;
        if report.type === 'refuse'
          -report.c = `被彻底拒绝。理由：${report.c}`;
        -let klass = '';
        if report.support === false
          -klass = 'text-danger';
        else if report.support === true
          -klass = 'text-success';
        .pre-wrap(class=klass)=report.c
  mixin report(form, userFundRoles)
    .m-b-1
      .panel-header 最新进展
      .m-b-1
        for report in form.reports
          +singleReport(report, form, userFundRoles.includes('admin'))
  script.
    function disabledReport(applicationFormId, reportId, type) {
      return sweetQuestion('确定要执行当前操作吗？')
        .then(function() {
          return nkcAPI('/fund/a/' + applicationFormId + '/report/' + reportId, 'PUT', {
            disabled: !!type
          })
        })
        .then(function () {
          window.location.reload();
        })
        .catch(function (data) {
          screenTopWarning(data.error);
        })
    }
