.col-xs-12.col-md-12(style='margin-bottom: 1rem;').box-shadow-panel
  .e-nav
    //span=`${lang('ex', 'management')}`

    ul.nav.nav-pills
      if permission('visitExperimentalStatus')
        li
          a(href='/e')=lang('ex', 'status')
      if permission('visitExperimentalConsole')
        li
          a(href='/e/console')=lang('ex', 'console')


      li.dropdown

      if permission('visitSystemInfo')
        li
          a(href='/e/systemInfo')=lang('ex', 'sendSystemNotification')
      if permission('visitAuthList')
        li
          a(href='/auth')=lang('ex', 'identityReview')
      if permission('visitProblemList')
        li
          a(href='/problem/list')=lang('ex', 'problems')

      // li.dropdown(role='presentation')
        a.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
          span 特殊专业&nbsp;
          span.fa.fa-caret-down
        ul.dropdown-menu
          li
            a(href='/f/recycle') 回收站
          li
            a(href='/f/draft') 草稿箱


      li.dropdown(role='presentation')
        a.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
          span 科创基金&nbsp;
          span.fa.fa-caret-down
        ul.dropdown-menu
          li
            a(href='/fund/settings') 设置
          li
            a(href='/fund/disabled') 被屏蔽的基金
          li
            a(href='/fund/unsubmit') 基金申请



      li.dropdown(role='presentation')
        a.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
          span=`${lang('ex', 'viewRecord')} `
          span.fa.fa-caret-down
        ul.dropdown-menu
          if permission("visitMessageLogs")
            li
              a(href='/e/log/message') 短消息
          li
            a(href='/e/log/withdraw') 提现
          li
            a(href='/e/log/recharge') 充值
          li
            a(href='/e/log/kcb/diff') 异常账单用户
          li
            a(href='/e/log/exam') 考试
          li
            a(href='/e/log/kcb') 科创币
          li
            a(href='/e/log/xsf') 学术分
          li
            a(href='/e/log/score') 分值加减
          li
            a(href='/e/log/recycle') 退修文章
          li
            a(href='/e/log/warning') 修改建议
          li
            a(href='/e/log/review') 审核记录
          li
            a(href='/e/log/experimental') 管理操作
          li
            a(href='/e/log/behavior') 用户行为
          li
            a(href='/e/log/secret') 隐私修改
          li
            a(href='/e/log/info') 发表内容
          li
            a(href='/e/log/share') 分享操作日志
          li
            a(href='/e/log/public') 日志


      li.dropdown(role='presentation')
        a.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
          span=`${lang('ex', 'settings')} `
          span.fa.fa-caret-down
        ul.dropdown-menu
          if permission('visitWebBaseSettings')
            li
              a(href='/e/settings/base')=lang('ex', 'baseSettings')
            <li role="separator" class="divider"></li>
          //if permission('visitLoginSettings')
            li
              a(href='/e/settings/login')=lang('ex', 'loginSettings')
          if permission('visitSmsSettings')
            li
              a(href='/e/settings/sms')=lang('ex', 'smsSettings')
          if permission('visitExperimentalEmailSettings')
            li
              a(href='/e/settings/email')=lang('ex', 'emailSettings')
          if permission('visitEPostSettings')
            li
              a(href='/e/settings/post')=lang('ex', 'postSettings')
          if permission('visitExamSettings')
            li
              a(href='/e/settings/exam')=lang('ex', 'exam')
          if permission('experimentalSubSettings')
            li
              a(href='/e/settings/sub')=lang('ex', 'sub')
          if permission('experimentalRegisterSettings')
            li
              a(href='/e/settings/register')=lang('ex', 'registerSettings')
          <li role="separator" class="divider"></li>
          if permission('visitRoleSettings')    
            li
              a(href='/e/settings/role') 证书
          if permission('experimentalSafeSettings')
            li
              a(href='/e/settings/safe') 安全
          if permission('experimentalReviewSettings')
            li
              a(href='/e/settings/review') 审核
          if permission('experimentalUserAuth')
            li
              a(href='/e/settings/auth') 身份认证
          if permission("experimentalColumnSettings")
            li
              a(href=`/e/settings/column`) 专栏
          if permission("experimentalCacheSettings")
            li
              a(href=`/e/settings/cache`) 缓存
          if permission("experimentalLoginSettings")
            li
              a(href=`/e/settings/login`) 登录
          if permission("experimentalUsernameSettings")
            li
              a(href=`/e/settings/username`) 用户名

          <li role="separator" class="divider"></li>    
          li
            a(href='/e/settings/home/top') 网站首页
          li
            a(href='/e/settings/page') 分页设置
          li
            a(href='/e/settings/operation') 操作类型
          li
            a(href='/e/settings/user') 用户信息
          li
            a(href='/e/settings/grade') 用户等级
          li
            a(href='/e/settings/forum') 专业设置
          li
            a(href='/e/settings/exam') 考试设置
          li
            a(href='/e/settings/message') 聊天设置
          li
            a(href='/e/settings/share') 分享设置
          li
            a(href='/e/settings/red-envelope') 奖励设置
          li
            a(href='/e/settings/protocol') 协议设置
          //li
          //  a(href='/e/settings/score') 分值加减
          li
            a(href='/e/settings/kcb') 科创币
          li
            a(href='/e/settings/xsf') 学术分
          li
            a(href='/e/settings/number') 积分
          //- li
            a(href='/e/settings/upload') 上传文件
            li
              a(href='/e/settings/download') 下载附件
          li
            a(href='/e/settings/log') 日志
          li
            a(href='/e/settings/app/upload') APP
      li
        a(href='/e/settings/shop') 商城设置