if data.user && data.navbar && data.navbar.highlight === "subscribe" && data.subscribeTypes && data.subscribeTypes.length
  +listHeader("我的分类")
  //subscribeOtherCount
  .subscribe-types
    a(href=`/?t=subscribe${data.d ? `&d=${data.d}` : ""}` class=!data.c ? "active" : "").subscribe-type
      span 全部
      .pull-right=subscribeCount
    a(href=`/?t=subscribe${data.d ? `&d=${data.d}` : ""}` class=!data.c ? "active" : "").subscribe-type
      span 未分类
      .pull-right=subscribeCount
    for st in data.subscribeTypes
      a(href=`/?t=subscribe&c=${st._id}${data.d?`&d=${data.d}`:""}` class=data.c&&Number(data.c)===st._id?"active":"").subscribe-type
        span=st.name
        .pull-right=st.count
      if st.childTypes && st.childTypes.length
        for sst in st.childTypes
          a.m-l-1(href=`/?t=subscribe&c=${sst._id}${data.d ? `&d=${data.d}` : ""}` class=data.c && Number(data.c) === sst._id ? "active" : "").subscribe-type
            span=sst.name
            .pull-right=sst.count
