#vue_forums_Nav(v-cloak)
  .hidden(ref="vue_forums_nav_data")=objToStr({forums: data.forums, subForums: data.subForums})
  div(v-if="subForums && subForums.length > 0")
    .forums-nav-header
      +listHeader('我关注的')
    .home-topic-item-div
      a(
        v-for="f in subForums"
        :href="'/f/' + f.fid"
        target="_blank"
        :style="'background-color: '+f.color+';'"
        :title="f.description"
      ).topic-item
        img(
          v-if="f.iconFileName"
          :src="'/forum_avatar/'+f.fid"
        )
        span {{f.displayName}}
  .forums-nav-header
    +listHeader('话题')
  div(v-for="forum in forums" v-if='forum.forumType === "topic"' :title="forum.description")
    .home-topic-list-li
      a(:href="'/f/' + forum.fid" target="_blank")
        img(:src="'/forum_avatar/' + forum.fid"
          v-if="forum.iconFileName"
        )
        img(v-else :style="'background-color:' + forum.color + ';'")
        span {{forum.displayName}}
    .home-topic-item-div(v-if="forum.childrenForums && forum.childrenForums.length")
      a(
        v-for="f in forum.childrenForums"
        :href="'/f/' + f.fid"
        target="_blank"
        :style="'background-color: '+f.color+';'"
        :title="f.description"
      ).topic-item
        img(
          v-if="f.iconFileName"
          :src="'/forum_avatar/'+f.fid"
        )
        span {{f.displayName}}
  .forums-nav-header
    +listHeader('学科')
  ul.forums-nav(
    ref="forumNav"
    @mouseleave="reset"
  )
    .hidden(ref='forums')= JSON.stringify(data.forums)
    //@mouseleave="reset"
    li.list-item(
      v-for='forum in forums'
      v-if="forum.forumType === 'discipline'"
      :onclick='"window.open(\'/f/"+ forum.fid +"\')"'
      @mouseover='displayChildForums(forum, 0)'
      :class="{'select-forum': forumsIdList.indexOf(forum.fid) >= 0}"
      :title="forum.description"
    )
      .list-item-avatar
        img(v-if='forum.iconFileName' :src='"/forum_avatar/" + forum.fid')
        img(v-else :style="{'background-color': forum.color}")
      .list-item-content
        span {{forum.displayName}}
      .list-item-icon.fa.fa-angle-right
    transition(name='fade')
      .child-forums-nav(v-if='forumsList.length !== 0')
        div(
          v-for='(f, index) in forumsList'
          :style='"width:" + width + "px;left:" + (index+1)*width + "px;min-height:" + height + "px"'
          :class="{'child-forums-nav-div': f.childrenForums && f.childrenForums.length !== 0}"
        )
          ul.list-dense.forums-nav(:style="'min-height:' + height + 'px'")
            li.list-item(
              v-if="f.childrenForums"
              v-for='forum in f.childrenForums'
              @click='openForum(forum)'
              @mouseover='displayChildForums(forum, index + 1)'
              :class="{'select-forum': forumsIdList.indexOf(forum.fid) >= 0}"
              :title="forum.description"
            )
              .list-item-avatar
                img(v-if='forum.iconFileName' :src='"/forum_avatar/" + forum.fid')
                img(v-else :style='"background-color: " + forum.color')
              .list-item-content
                span {{forum.displayName}}
              .list-item-icon.fa.fa-angle-right(v-if='forum.childrenForums && forum.childrenForums.length !== 0')
