extends ../index.pug
block title
  title 最热商品 | 商城设置
block shopSettings
  .col-xs-12.col-sm-10.col-md-10(style='margin-bottom: 1rem;padding:1rem')
    .row
      .col-xs-12.col-md-12
        button.btn.btn-info(data-toggle="modal" data-target="#myModal")
          span.fa.fa-plus
          | &nbsp;添加最热
      .col-xs-12.col-md-12(style="margin-top:20px")
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th.text-center #
                th.text-center 商品ID
                th.text-center 商品名称
                th.text-center 店铺
                th.text-center 操作
            tbody
              for popular,index in data.popularItems
                tr
                  th.text-center(style="")=index+1
                  th.text-center=popular.productId
                  th.text-center=popular.name
                  th.text-center=popular.store.storeName
                  th.text-center 
                    a.btn.btn-warning.btn-xs(href="javascript:void(0);" onclick=`delPopular("${popular.productId}")`)
                      i.fa.fa-trash
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title 添加热门商品
            .modal-body
              .form-group
                label(for='popularLink') 商品Id
                input#popularLink.form-control(type='text', placeholder='请输入正确的商品Id')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') 取消
              button.btn.btn-primary(type='button', onclick="addPopular()") 提交
block shopSettingScripts
  +includeJS('/experimental/shop/homeSetting/homeSetting.js')