extends ../bootstrap_base
block title
  title 内容审核
  +includeCSS("/review/review.css")
  include ../publicModules/plyr/plyr.css.pug
block content
  .container-fluid.max-width
    #data.hidden=objToStr({results: data.results, reviewType: data.reviewType})
    .row#app(v-cloak)
      .col-xs-12.col-md-9
        .p-b-1
          //.paging-button.pointer
          //  a.radius-left.button(@click="selectReviewType('post')" :class="{'active': reviewType === 'post'}") post表
          //.paging-button.pointer
          //  a.radius-left.button(@click="selectReviewType('document')" :class="{'active': reviewType === 'document'}") document表
          .paging-button.pointer
            a.radius-left.button(@click="selectAll") 全选
            a.button(@click="chooseAll(true)") 通过已选
            a.button(@click="chooseAll(false)") 不通过已选
          .paging-button.pointer
            a.radius-left.radius-right.button(@click="submit") 提交已选
          include ../publicModules/paging/paging
        .review-panel-div.box-shadow-panel
          for r, resultIndex in data.results
            if r.type === 'post' || r.type === 'thread'
              .review-panel
                .review-time
                  input(type="checkbox" value=r.post.pid v-model=`selectedPid`)
                .review-info 时间：
                .review-time=`${format("YYYY/MM/DD HH:mm:ss", r.post.toc)}`
                .review-info 用户：
                .review-user
                  if r.post.anonymous
                    span=anonymousInfo.username
                  else
                    a(href=`/u/${r.user.uid}` target="_blank")=r.user.username
                if r.type === "post"
                  .review-info 类型：
                  .review-time 回复
                  .review-info 标题：
                  .review-thread-title
                    a(href=`/t/${r.thread.tid}` target="_blank" v-pre)=r.thread.firstPost.t
                  .review-info 专业：
                  .review-thread-title
                    for f, index in r.thread.forums
                      if index > 0
                        span ,
                      a(href=`/f/${f.fid}` target="_blank")=f.displayName
                  if r.reason
                    .review-info 理由：
                    span(v-pre)= r.reason
                  .review-info ，
                  .review-thread-title
                    a(href=r.link target="_blank") 查看回复
                else
                  .review-info 类型：
                  .review-time 文章
                  .review-info 标题：
                  .review-thread-title
                    a(href=`/t/${r.thread.tid}` target="_blank" v-pre)=r.thread.firstPost.t
                  .review-info 专业：
                  .review-thread-title
                    for f, index in r.thread.forums
                      if index > 0
                        span ,
                      a(href=`/f/${f.fid}` target="_blank")=f.displayName
                  if r.reason
                    .review-info 理由：
                    span(v-pre)= r.reason
                if r.post.abstractCn
                  .review-post-content(v-pre)=`中文摘要：${r.post.abstractCn}`
                if r.post.abstractEn
                  .review-post-content(v-pre)=`英文摘要：${r.post.abstractEn}`
                if r.post.keyWordsCn.length
                  .review-post-content(v-pre)=`中文关键词：${r.post.keyWordsCn.join(', ')}`
                if r.post.keyWordsEn.length
                  .review-post-content(v-pre)=`英文关键词：${r.post.keyWordsEn.join(', ')}`
                .review-post-content(v-pre)!=r.post.c
                .review-input-div(v-if=`1 || selectedPid.indexOf('${r.post.pid}') !== -1`)
                  .m-b-1
                    input(type="radio" :value="true" v-model=`review['${r.post.pid}'].pass`)
                    span.m-r-1 通过
                    input(type="radio" :value="false" v-model=`review['${r.post.pid}'].pass`)
                    span 不通过
                  div(v-if=`!review['${r.post.pid}'].pass`)
                    input(type="radio" value="toDraft" v-model=`review['${r.post.pid}'].delType`)
                    span.m-r-1 退修
                    input(type="radio" value="toRecycle" v-model=`review['${r.post.pid}'].delType`)
                    span 送回收站
                    .m-t-1
                      input(type="checkbox" :value="true" v-model=`review['${r.post.pid}'].noticeType`)
                      span.m-r-1 通知用户
                      input(type="checkbox" :value="true" v-model=`review['${r.post.pid}'].illegalType`)
                      span.m-r-1 标记为违规
                    .m-t-1
                      textarea.form-control(rows=5 placeholder="请说明理由" v-model=`review['${r.post.pid}'].reason`)
                  .m-t-1
                    button.btn.btn-sm.btn-primary(@click=`submit('${r.post.pid}', 'post')`) 提交
            else if r.type === 'document'
              .review-panel
                .review-time
                  input(type="checkbox" value=r.document._id v-model=`selectedDid`)
                .review-info 时间：
                .review-time=`${format("YYYY/MM/DD HH:mm:ss", r.document.toc)}`
                .review-info 用户：
                .review-user
                  a(href=`/u/${r.user.uid}` target="_blank")=r.user.username
                  .review-info 类型：
                    if r.document.source === 'article'
                      if r.content.source === 'column'
                        .review-time 专栏独立文章
                      else if r.content.source === 'zone'
                        .review-time 空间独立文章
                      else
                        .review-time 独立文章
                    else if r.document.source === 'moment'
                      if r.content.parent
                        .review-time 动态评论
                      else
                        .review-time 动态
                    else if r.document.source === 'comment'
                      .review-time 独立文章评论
                    else if r.document.source === 'draft'
                      .review-time 图文片段
                    else
                      .review-time 未知内容
                  if r.document.source === 'article'
                    .review-info 标题：
                      .review-thread-title
                        a(href=`${r.content.url}` target="_blank" v-pre)=r.content.title
                  else
                    .review-info 链接：
                      .review-thread-title
                        a(href=`${r.content.url}` target="_blank") 点击跳转


                if r.reason
                  .review-info 理由：
                  span(v-pre)= r.reason
                if r.document.source === 'moment'
                  .review-post-content!=r.content.content
                  if r.content.mode === 'plain'
                    moment-files(:data="results[" + resultIndex + "].content.files" v-if=`results[${resultIndex}].content.files && results[${resultIndex}].content.files.length`)
                      
                else  
                  .review-post-content!=r.document.content
                .review-input-div(v-if=`1 || selectedDid.indexOf('${r.document._id}') !== -1`)
                  .m-b-1
                    input(type="radio" :value="true" v-model=`review['${r.document._id}'].pass`)
                    span.m-r-1 通过
                    input(type="radio" :value="false" v-model=`review['${r.document._id}'].pass`)
                    span 不通过
                  div(v-if=`!review['${r.document._id}'].pass`)
                    if r.document.source === 'moment'
                      input(type="radio" value="deleted" v-model=`review['${r.document._id}'].delType`)
                      span.m-r-1 删除
                    else
                      input(type="radio" value="faulty" v-model=`review['${r.document._id}'].delType`)
                      span.m-r-1 退修
                      input(type="radio" value="disabled" v-model=`review['${r.document._id}'].delType`)
                      span 屏蔽
                    .m-t-1
                      input(type="checkbox" :value="true" v-model=`review['${r.document._id}'].noticeType`)
                      span.m-r-1 通知用户
                      input(type="checkbox" :value="true" v-model=`review['${r.document._id}'].illegalType`)
                      span.m-r-1 标记为违规
                    .m-t-1
                      textarea.form-control(rows=5 placeholder="请说明理由" v-model=`review['${r.document._id}'].reason`)
                  .m-t-1
                    button.btn.btn-sm.btn-primary(@click=`submit('${r.document._id}', 'document')`) 提交
            else if r.type === 'note'
              .review-panel
                .review-time
                  input(type='checkbox' value = r.note._id v-model=`selectedNid`)
                .review-info 时间:
                .review-time=`${format("YYYY/MM/DD HH:mm:ss", r.note.toc)}`
                .review-info 用户:
                .review-user
                  a(href=`/u/${r.user.uid}` target = "_blank")=r.user.username
                .review-info 类型:
                 .review-time 笔记
                .review-info 链接:
                  .review-thread-title
                    a(href = `${r.content.url}?n=${r.note._id}` target = '_blank' ) 点击跳转
                if r.reason
                   .review-info 理由:
                   span(v-pre)= r.reason
                .review-post-content!=r.note.content
                .review-input-div
                  .m-b-1
                    input(type='radio' :value='true' v-model=`review['${r.note._id}'].pass` )
                    span.m-r-1 通过
                    input(type='radio' :value='false' v-model=`review['${r.note._id}'].pass` )
                    span 不通过
                  div(v-if=`!review['${r.note._id}'].pass`)
                    input(type='radio' value='disabled' v-model=`review['${r.note._id}'].delType`)
                    span.m-r-1 屏蔽
                    .m-t-1
                      input(type='checkbox' :value='true' v-model=`review['${r.note._id}'].noticeType`)
                      span.m-r-1 通知用户
                      input(type='checkbox' :value='true' v-model=`review['${r.note._id}'].illegalType`)
                      span.m-r-1 标记为违规
                    .m-t-1
                      textarea.form-control(rows=5 placeholder='请说明理由' v-model=`review['${r.note._id}'].reason` )
                  .m-t-1
                    button.btn.btn-sm.btn-primary(@click=`submit('${r.note._id}','note')`,) 提交
            else if r.type === 'userAudit'
              .review-panel
                .review-time
                  input(type='checkbox' value = r.userAudit._id v-model=`selectedAid`)
                .review-info 时间:
                .review-time=`${format("YYYY/MM/DD HH:mm:ss", r.userAudit.toc)}`
                .review-info 用户:
                .review-user
                  a(href=`/u/${r.user.uid}` target = "_blank")=r.user.username
                .review-info 类型:
                 .review-time 基本资料
                .review-post-content
                  .form-audit
                    //- 头像
                    .form-item(v-if=`'${r.userAudit.avatar}'`)
                      label.control-label 头像:
                      img.avatar-img(
                        :src=`getUrl('userAvatar', '${r.userAudit.avatar}', 'sm')`
                        style="cursor:pointer;"
                        @click=`viewImage({name: 'avatar', url: getUrl('userAvatar', '${r.userAudit.avatar}', 'lg')})`
                      )

                    //- 用户背景
                    .form-item(v-if=`'${r.userAudit.banner}'`)
                      label.control-label 用户背景:
                      img.banner-img(
                        :src=`getUrl('userBanner', '${r.userAudit.banner}')`
                        style="cursor:pointer;"
                        @click=`viewImage({name: 'banner', url: getUrl('userBanner', '${r.userAudit.banner}')})`
                      )

                    //- 主页背景
                    .form-item(v-if=`'${r.userAudit.homeBanner}'`)
                      label.control-label 主页背景:
                      img.banner-img(
                        :src=`getUrl('userHomeBanner', '${r.userAudit.homeBanner}')`
                        style="cursor:pointer;"
                        @click=`viewImage({name: 'homeBanner', url: getUrl('userHomeBanner', '${r.userAudit.homeBanner}')})`
                      )

                    //- 用户名
                    .form-item(v-if=`'${r.userAudit.username}'`)
                      label.control-label 用户名:
                      span.username=r.userAudit.username

                    //- 个人简介
                    .form-item
                      label.control-label 个人简介:
                      .description(v-html=`auditDescriptionObject['${r.userAudit._id}']`)
                .review-input-div
                  .m-b-1
                    label
                      input(type='radio' :value='true' v-model=`review['${r.userAudit._id}'].pass` )
                      span.m-r-1 通过
                    label
                      input(type='radio' :value='false' v-model=`review['${r.userAudit._id}'].pass` )
                      span 不通过
                  div(v-if=`!review['${r.userAudit._id}'].pass`)
                    //- input(type='radio' value='disabled' v-model=`review['${r.userAudit._id}'].delType`)
                    //- span.m-r-1 屏蔽
                    .m-t-1
                      label
                        input(type='checkbox' :value='true' v-model=`review['${r.userAudit._id}'].noticeType`)
                        span.m-r-1 通知用户
                      label
                        input(type='checkbox' :value='true' v-model=`review['${r.userAudit._id}'].illegalType`)
                        span.m-r-1 标记为违规
                    .m-t-1
                      textarea.form-control(rows=5 placeholder='请说明理由' v-model=`review['${r.userAudit._id}'].reason` )
                  .m-t-1
                    button.btn.btn-sm.btn-primary(@click=`submit('${r.userAudit._id}','userAudit')`,) 提交
        .p-t-1
          include ../publicModules/paging/paging_input
          .paging-button.pointer
            a.radius-left.button(@click="selectAll") 全选
            a.button(@click="chooseAll(true)") 通过已选
            a.button(@click="chooseAll(false)") 不通过已选
          .paging-button.pointer
            a.radius-left.radius-right.button(@click="submit") 提交已选






block scripts
  //include ../publicModules/nkcSource
  include ../publicModules/moment
  +includeJS("/review/review.js")
