extends ../bootstrap_base
block title
  title 内容审核
  +includeCSS("/review/review.css")
  include ../publicModules/plyr/plyr.css.pug
block content
  .container-fluid.max-width
    #data.hidden=objToStr({results: data.results})
    .row#app(v-cloak)
      .col-xs-12.col-md-9
        .p-b-1
          .paging-button.pointer
            a.radius-left.button(@click="selectAll") 全选
            a.button(@click="chooseAll(true)") 通过已选
            a.button(@click="chooseAll(false)") 不通过已选
          .paging-button.pointer
            a.radius-left.radius-right.button(@click="submit") 提交已选
          include ../publicModules/paging/paging
        .review-panel-div.box-shadow-panel
          for r in data.results
            .review-panel
              .review-time
                input(type="checkbox" value=r.post.pid v-model=`selectedPid`)
              .review-info 时间：
              .review-time=`${format("YYYY/MM/DD HH:mm:ss", r.post.toc)}`
              .review-info 用户：
              .review-user
                //-img(src=`/avatar/${r.user.uid}`).review-user-avatar
                if r.post.anonymous
                  span=anonymousInfo.username
                else
                  a(href=`/u/${r.user.uid}` target="_blank")=r.user.username
              if r.type === "post"
                .review-info 类型：
                .review-time 回复
                .review-info 标题：
                .review-thread-title
                  a(href=`/t/${r.thread.tid}` target="_blank")=r.thread.firstPost.t
                .review-info 专业：
                .review-thread-title
                  for f, index in r.thread.forums
                    if index > 0
                      span ,
                    a(href=`/f/${f.fid}` target="_blank")=f.displayName

                .review-info ，
                .review-thread-title
                  a(href=r.link target="_blank") 查看回复
              else
                .review-info 类型：
                .review-time 文章
                .review-info 标题：
                .review-thread-title
                  a(href=`/t/${r.thread.tid}` target="_blank")=r.thread.firstPost.t
                .review-info 专业：
                .review-thread-title
                  for f, index in r.thread.forums
                    if index > 0
                      span ,
                    a(href=`/f/${f.fid}` target="_blank")=f.displayName
              .review-input-div(v-if=`selectedPid.indexOf('${r.post.pid}') !== -1`)
                .m-b-1
                  input(type="radio" :value="true" v-model=`review['${r.post.pid}'].pass`)
                  span.m-r-1 通过
                  input(type="radio" :value="false" v-model=`review['${r.post.pid}'].pass`)
                  span 不通过
                div(v-if=`!review['${r.post.pid}'].pass`)
                  input(type="radio" value="toDraft" v-model=`review['${r.post.pid}'].delType`)
                  span.m-r-1 退修
                  input(type="radio" value="toRecycle" v-model=`review['${r.post.pid}'].delType`)
                  span 送回收站
                  .m-t-1
                    input(type="checkbox" :value="true" v-model=`review['${r.post.pid}'].noticeType`)
                    span.m-r-1 通知用户
                    input(type="checkbox" :value="true" v-model=`review['${r.post.pid}'].illegalType`)
                    span.m-r-1 标记为违规
                  .m-t-1
                    textarea.form-control(rows=5 placeholder="请说明理由" v-model=`review['${r.post.pid}'].reason`)
                .m-t-1
                  button.btn.btn-sm.btn-primary(@click=`submit('${r.post.pid}')`) 提交
              .review-post-content!=r.post.c

        .p-t-1
          include ../publicModules/paging/paging_input
          .paging-button.pointer
            a.radius-left.button(@click="selectAll") 全选
            a.button(@click="chooseAll(true)") 通过已选
            a.button(@click="chooseAll(false)") 不通过已选
          .paging-button.pointer
            a.radius-left.radius-right.button(@click="submit") 提交已选






block scripts
  include ../publicModules/nkcSource
  include ../publicModules/moment
  +includeJS("/review/review.js")
