if !comment
  -comment = data.comment;
if !comment.reviewed
  -let reviewData = {reviewPid: comment.pid, reviewType: "post"}
  include ../publicModules/module_review
-let klass = [];
if comment.disabled
  -klass.push("disabled");
if data.highlight === comment.pid
  -klass.push("highlight-dom");
.post-comment(class=klass id=`post_comment_${comment.pid}`)
  .post-comment-body.highlight
    if !comment.anonymous
      a.post-comment-user(href=`/u/${comment.uid}` target="_blank" data-float-uid=comment.uid)
        img(src=`/avatar/${comment.user.avatar}?t=sm`)
        span=comment.user.username
    else
      span.post-comment-user
        img(src=anonymousInfo.avatar)
        span.anonymous-name=anonymousInfo.username
    //-if data.post.uid === comment.uid
      span (层主)
    if comment.parentPost
      span.m-l-05.m-r-05 评论
      if !comment.parentPost.anonymous
        a.display-i-b.post-comment-user(href=`/u/${comment.parentPost.user.uid}` target="_blank" data-float-uid=comment.parentPost.user.uid)
          //-img(src=`/avatar/${comment.parentPost.user.uid}?t=sm`)
          span=comment.parentPost.user.username
      else
        .display-i-b.post-comment-user
          span.anonymous-name=anonymousInfo.username
      //-if data.post.uid === comment.parentPost.uid
        span (层主)
    //-.post-comment-time=fromNow(comment.toc)
    if data.user
      span.comment-btn.pointer.m-l-05.m-r-05(onclick=`postComment('${comment.tid}', '${comment.pid}')`) 回评
    include ../thread/postOptions
    .inline-block.post-qrcode.pull-right
      .fa.display-b.fa-qrcode.dropdown(class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top:1px;")
      .dropdown-menu.stop-propagation(data-stopPropagation=true style='left: auto;right: 0;border: none;box-shadow: none;margin-right: 0.5rem;background: none')
        .ThreadTitle22(style="border: 1px solid #bababa;border-radius: 10px;overflow: hidden;padding: 3px 3px 0 3px;background: #ffffff;")
          div.changeDis(style='width: 100%;')
            p.lighttext.airnum1(style="font-size:21px;text-align:center;margin-top:0px;margin-bottom:0px;") 文 号
            .hrdiv(style="width:100%;height:1px;background-color:#ddd;margin:0 auto;")
            p.lighttext.airnum2(style="font-size:21px;text-align:center;color:#cdf;margin-bottom:0px;margin-top:0px;")= comment.pid
            .hrdiv(style="width:100%;height:1px;background-color:#ddd;margin:0 auto;")
          div.changeDisNone.text-center(style='width: 100%;')
            .col-xs-12.col-md-12
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('post', 'qq', window.location.origin+'${comment.url}', '${data.thread.firstPost.t}', '${comment.pid}')`)
                  img(src="/default/QQ.png" style="")
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('post', 'qzone', window.location.origin+'${comment.url}', '${data.thread.firstPost.t}', '${comment.pid}')`)
                  img(src="/default/qzone.png" style="")
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('post', 'weibo', window.location.origin+'${comment.url}', '${data.thread.firstPost.t}', '${comment.pid}')`)
                  img(src="/default/weibo.png" style="")
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('post', 'weChat', window.location.origin+'${comment.url}', '${data.thread.firstPost.t}', '${comment.pid}')`)
                  img(src="/default/weChat.png" style="")
            .col-xs-12.col-md-12
              a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('post', 'link', window.location.origin+'${comment.url}', '${data.thread.firstPost.t}', '${comment.pid}')`) 获取分享链接
            .col-xs-12.col-md-12(id=`copyArea${comment.pid}` style="display:none")
              input(type="text", id=`copyLink${comment.pid}`, name=`copyLink${comment.pid}` style="width:inherit")
              button(onclick=`copyLink('${comment.pid}')` id=`copyButton${comment.pid}`) 复制
            canvas.qrcode(id=comment.pid + "Qrcode",data-pid=comment.pid,style="display:none").inline-block
    .display-i-b.pull-right
      if comment.digest
        span.fa.fa-star.m-r-05(style='color: #ffbf16;' title='精选')
      -const votePost = comment;
      include ../module_vote
    -comment.c = hideContentByUser(comment.c, data.user, 'thread')
    .post-comment-content!=comment.c
    -let creditPost = comment;
    include ./postCredits
  div
    if comment.todraft
      div
        .text-center [本条回复已被退回修改，请作者点击编辑按钮修改]
        p.text-center.text-danger= `退修原因：${comment.reason}`
    if comment.disabled
      span.text-primary [此楼已屏蔽]&nbsp;
      if permission("unblockPosts") && data.isModerator
        a(onclick=`enablePost('${comment.pid}')`) [点击解除]


  include ./postEdit

  if comment.posts && comment.posts.length
    +renderComments(comment.posts, comment.pid)
