extends ../bootstrap_base.pug

block title
  -const thread = data.thread;
  title= `${thread.firstPost.t} - 科创论坛`
  meta#replytarget(value=`${data.replyTarget}`)

  -let modifyPostTimeLimit = 0;
  -for(let i = 0; i < data.userRoles.length; i++)
    -const r = data.userRoles[i];
    if r.modifyPostTimeLimit > modifyPostTimeLimit
      -modifyPostTimeLimit = r.modifyPostTimeLimit
    if r.modifyPostTimeLimit === -1
      -modifyPostTimeLimit = -1;
      -break;

  -const postTo = data.userOperationsId.includes('quotePost')
  -const addCredit = data.userOperationsId.includes('creditXsf') && data.isModerator
  -const addKcb = data.userOperationsId.includes('creditKcb')
  -const disablePost = data.userOperationsId.includes('disabledPost') || data.userOperationsId.includes('moveDraft')
  -const highlight = data.highlight;
  -const digestPost = data.userOperationsId.includes('digestPost') && data.isModerator;
  -const unDigestPost = data.userOperationsId.includes('unDigestPost')  && data.isModerator;
  include ../MathJax.pug

  if (thread.firstPost&&thread.firstPost.c)
    -var processed=thread.firstPost.c.replace(/\[.*?]|\#|\n|\<.*?>/gm,'').trim().slice(0,140)
    
    meta(name='description' content=`${processed}`)
    meta(name='keywords' content=`${thread.firstPost.t}`)
    link(rel='stylesheet' href=`/mdui/css/mdui.css?v=${global.NKC.startTime}`)
    link(rel='stylesheet' href=`/external_pkgs/imageToBig/css/index.css?v=${global.NKC.startTime}`)

  mixin postOptions(post, targetThread, index)
    .inline-block.highlight.post-options(style='float: right;margin-right: 0.5rem;color: #aaaaaa;')
      .dropdown(class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
        span.fa.fa-sliders
        if targetThread
          span &nbsp;操作
      //-ul.dropdown-menu.stop-propagation(style='left: auto;right: 0;' data-stopPropagation=true)
      ul.dropdown-menu(style='left: auto;right: 0;' data-stopPropagation=true)
        li
          a(href=`/p/${post.pid}`)
            span.fa.fa-newspaper-o &nbsp;
            span 详情
        if postTo && !thread.closed
          li
            a(href=`javascript:quotePost('${post.pid}', '${data.paging.start + index}', '${data.paging.page.toString()}')`)
              span.fa.fa-comment-o &nbsp;
              span 引用
        if !thread.closed
          li
            a(href=`javascript:at('${post.user.username}')`)
              span.fa.fa-at= ` ${post.user.username}`
        if targetThread && targetThread.oc === post.pid
          li
            a(href=`/t/${thread.tid}?t=author`)
              .fa.fa-filter &nbsp;只看作者

        if targetThread && targetThread.oc === post.pid && data.user && data.userOperationsId.includes('collectThread')

          li
            if data.collected
              a(href=`javascript: addColl('${thread.tid}')`)
                span.fa.fa-folder-o &nbsp;已收藏
            else
              a(href=`javascript: addColl('${thread.tid}')`)
                span.fa.fa-folder-o &nbsp;加入收藏
          li
            if data.subscribed
              a(href=`javascript: unSubThread('${thread.tid}')`)
                span.fa.fa-bookmark-o &nbsp;取消关注
            else
              a(href=`javascript: subThread('${thread.tid}')`)
                span.fa.fa-bookmark-o &nbsp;关注
        if addCredit
          li
            a(href=`javascript:credit('${post.pid}', 'xsf')`)
              span.fa.fa-graduation-cap &nbsp;
              span 评学术分
        if digestPost && !post.digest
          li
            a(href=`javascript:digestPost("${post.pid}")`)
              span.fa.fa-star-o &nbsp;设为精选
        if unDigestPost && post.digest
          li
            a(href=`javascript:unDigestPost("${post.pid}")`)
              span.fa.fa-star &nbsp;取消精选
        - var ownership = data.userOperationsId.includes('modifyOtherPosts')
        - ownership = ownership?true:(data.user.uid===post.uid)
        //-if addKcb && post.uid !== data.user.uid
          li
            a(href=`javascript: credit("${post.pid}", 'kcb', ${data.user.kcb})`)
              span.fa.fa-thumbs-o-up &nbsp;
              span 鼓励
        if permission("postWarningPost")
          li
            a(href=`javascript:openPostWarningDom("${post.pid}")`)
              span.fa.fa-ambulance &nbsp;建议修改

        if(testModifyTimeLimit(modifyPostTimeLimit, ownership, post.toc))
          
          if (data.user && data.user.uid === post.uid) || (data.isModerator && permission('modifyOtherPosts'))
            li
              a(href=`/editor?ver=ue&type=post&id=${post.pid}`)
                span.fa.fa-edit &nbsp;编辑
        if disablePost && !targetThread
          li
            a(href=`javascript:disablePostClick('${post.pid}', "${targetThread?'thread':'post'}")`)
              span.fa.fa-eye-slash &nbsp;屏蔽
        if(post.tlm > post.toc && data.userOperationsId.includes('visitPostHistory'))
          if !post.hideHistories || data.userOperationsId.includes('displayPostHideHistories')
            li
              a(href=`/p/${post.pid}/history`)
                span.fa.fa-history &nbsp;历史版本
        if data.user
          li.divider
            if targetThread && targetThread.oc === post.pid
              li
                a(href=`javascript:moduleComplaint.open("thread", "${thread.tid}")`)
                  span.fa.fa-minus-circle &nbsp;投诉
            else
              li
                a(href=`javascript:moduleComplaint.open("post", "${post.pid}")`)
                  span.fa.fa-minus-circle &nbsp;投诉
        li.divider
        li
          a
            span.fa.fa-clock-o= ` ${post.toc.toLocaleString()}`
        if disablePost
          li
            -const ipoc = post.iplm || post.ipoc;
            a(href=`http://www.ip138.com/ips138.asp?ip=${ipoc.toString()}&action=2` title=ipoc target='_blank')
              span.fa.fa-map-marker(style='margin-left: 2px;')= ` ${ipoc}`

  mixin postEditTime(post)
    if post.toc.toLocaleString() !== post.tlm.toLocaleString()
      p.lighttext [修改于 #{fromNow(post.tlm)} - #{dateString(post.tlm)}]
  mixin postCredits(post)
    if post.credits && post.credits.length > 0
      .nkcpanel.ThreadPostCredits
        for c,index in post.credits
          -var username = c.fromUser.username
          -var profile = '/u/'+c.from
          .ThreadPostCreditItem
            if c.type === "creditKcb"
              -c.num = c.num/100;
            span.TPCQ!= `${(c.num > 0 ? '+' : '')}${c.num} &nbsp;`
            span.TPCType #{creditString(c.type)} &nbsp;&nbsp;
            span.TPCIA
              a(href=`${profile}` style='text-decoration: none;')
                img.TPCIAI(src=`/avatar_small/${c.fromUser.uid}`)
                span.TPCIssuer &nbsp;#{username} &nbsp;&nbsp;
            span.TPCDate #{dateTimeString(c.toc).split(' ')[0]} &nbsp;&nbsp;
            span.TPCReason #{c.description}
            if c.type === 'xsf' && data.user && permission('cancelXsf')
              a(style='margin-left: 0.5rem;cursor: pointer;' onclick=`cancelXsf("${post.pid}", ${c._id})`) 撤销
            if c.type === 'creditKcb' && data.user && permission('modifyKcbRecordReason')
              if !c.hideDescription
                a(style='margin-left: 0.5rem;cursor: pointer;' onclick=`hideKcbRecordReason("${post.pid}", ${c._id}, true)`) 屏蔽
              else
                a(style='margin-left: 0.5rem;cursor: pointer;' onclick=`hideKcbRecordReason("${post.pid}", ${c._id}, false)`) 取消屏蔽
block content
  include ../publicModules/mobile_drawer/right_drawer
  -const moveThread = data.isModerator || data.userOperationsId.includes('moveThread');
  -const {exactPost} = data
    .container-fluid.max-width
      .hidden#threadId= data.thread.tid
      if data.step
        .hidden#quotePost= JSON.stringify({page: data.paging.page, step: data.step, pid: data.pid})
      include ../module_credit
      include ../module_digest
      .row
        .col-xs-12.col-md-9
          .fullwidthpanel.ThreadBox.nkcpanel
            .row
              .thread-div
                .col-xs-12.col-md-12
                  .thread-management
                    .title
                      for forum in thread.forums
                        a(href=`/f/${forum.fid}` style='text-decoration: none;margin-right: 0.5rem;')
                          span(style=`padding: 2px 5px;color: #ffffff;border-radius:5px;background-color: ${forum.color}`)= forum.displayName
                      //-if thread.forum.parentForum
                        a(href=`/f/${thread.forum.parentForum.fid}` style='text-decoration: none;margin-right: 0.5rem;')
                          span(style=`padding: 2px 5px;color: #ffffff;border-radius:5px;background-color: ${thread.forum.parentForum.color}`)= thread.forum.parentForum.displayName
                      if thread.forum
                        a(href=`/f/${thread.forum.fid}` style='text-decoration: none;')
                          span(style=`padding: 2px 5px;color: #ffffff;border-radius:5px;background-color: ${thread.forum.color}`)= thread.forum.displayName
                      if data.user
                        -let canManagement = false;
                        -for(let i = 0; i < data.userOperationsId.length; i++)
                          -const operationId = data.userOperationsId[i];
                          if ['moveDraft', 'moveThread', 'digestThread', 'unDigestThread', 'toppedThread', 'unToppedThread', 'homeTop', 'unHomeTop'].includes(operationId)
                            -canManagement = true;
                            -break;
                        if data.isModerator && canManagement
                          a(href=`javascript:displayManagement();` style='text-decoration: none;float: right;')
                            .highlight.fa.fa-cog
                        +postOptions(thread.firstPost, thread, 0)
                      .inline-block(style='float: right;')
                        .highlight.fa.fa-qrcode.dropdown(class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") &nbsp;分享
                        .dropdown-menu.stop-propagation(data-stopPropagation=true style='left: auto;right: 0;border: none;box-shadow: none;margin-right: 0.5rem;width:90px;background:none')
                          div(style="display:inline-block;width:100%;vertical-align:top;text-align:right;")
                            .ThreadTitle2(style="display:inline-block;max-width:100%;vertical-align:top;")
                              .ThreadTitle22(style="border: 1px solid #ddd;border-radius: 10px;overflow: hidden;padding: 3px 3px 0 3px;background:#FFFFFF")
                                div.changeDis(style="width:100%")
                                  p.lighttext.airnum1(style="font-size:21px;text-align:center;margin-top:0px;margin-bottom:0px;") 文 号
                                  .hrdiv(style="width:80%;height:1px;background-color:#ddd;margin:0 auto;")
                                  -var tpid = thread.firstPost.pid
                                  p.lighttext.airnum2(style="font-size:21px;text-align:center;color:#cdf;margin-bottom:0px;margin-top:0px;") #{tpid}
                                  .hrdiv(style="width:80%;height:1px;background-color:#ddd;margin:0 auto;")
                                  p.lighttext.airnum3(style="text-align:center;") #{(thread.count-1)?(thread.count-1)+' 回复 /':''} #{thread.hits+1} 浏览
                                div.changeDisNone.text-center(style='width: 100%;')
                                  .col-xs-12.col-md-12
                                    .col-xs-3.col-md-3(style="padding:0px")
                                      a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('thread', 'qq', window.location.origin+window.location.pathname, '${thread.firstPost.t}', "${thread.tid}")`)
                                        img(src="/default/QQ.png" style="")
                                    .col-xs-3.col-md-3(style="padding:0px")
                                      a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('thread', 'qzone', window.location.origin+window.location.pathname, '${thread.firstPost.t}', "${thread.tid}")`)
                                        img(src="/default/qzone.png" style="")
                                    .col-xs-3.col-md-3(style="padding:0px")
                                      a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('thread', 'weibo', window.location.origin+window.location.pathname, '${thread.firstPost.t}', "${thread.tid}")`)
                                        img(src="/default/weibo.png" style="")
                                    .col-xs-3.col-md-3(style="padding:0px")
                                      a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('thread', 'weChat', window.location.origin+window.location.pathname, '${thread.firstPost.t}', "${thread.tid}")`)
                                        img(src="/default/weChat.png" style="")
                                  .col-xs-12.col-md-12
                                    a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('thread', 'link', window.location.origin+window.location.pathname, '${thread.firstPost.t}', "${thread.tid}")`) 获取分享链接
                                  .col-xs-12.col-md-12(id=`copyArea${thread.tid}` style="display:none")
                                    input(type="text", id=`copyLink${thread.tid}`, name=`copyLink${thread.tid}` style="width:inherit")
                                    button(onclick="copyLink()" id=`copyButton${thread.tid}`) 复制
                                  canvas#threadQrcode.inline-block(style="display:none")
                      if addKcb && data.user && thread.firstPost.uid !== data.user.uid
                        .inline-block.post-thumbsUp(style='color: #aaa;')
                          .fa.fa-cny(title='鼓励' style='cursor:pointer;' onclick=`credit("${thread.firstPost.pid}", 'kcb', ${data.user.kcb})`) &nbsp;鼓励
                      .inline-block.post-thumbsUp
                        //span &nbsp;
                        //-const recUsers = thread.firstPost.recUsers || [];
                        //if data.user && recUsers.includes(data.user.uid)
                        //  span(data-pid=thread.firstPost.pid).thumbsUp.fa.fa-thumbs-o-up=`${recUsers.length || ''}`
                        //else
                        //  span(data-pid=thread.firstPost.pid).thumbsDown.fa.fa-thumbs-o-up=`${recUsers.length || ''}`
                        // - post = thread.firstPost;
                        - const votePost = thread.firstPost;
                        include ../module_vote
                      if thread.firstPost.digest
                        .inline-block.post-thumbsUp
                          span &nbsp;
                          span.fa.fa-star(style='color: #ffbf16;' title='精选')


                      if data.user
                        div.managementDiv(style='display: none;margin-top: 1rem;')
                          .form-inline
                            //- 设置置顶
                            if data.isModerator && data.userOperationsId.includes('toppedThread') && !thread.topped
                              button.btn.btn-default.btn-sm#threadTop(onclick=`setTopped('${data.thread.tid}')`) 专业置顶
                            if data.isModerator && data.userOperationsId.includes('unToppedThread') && thread.topped
                              button.btn.btn-default.btn-sm#threadTop(onclick=`cancelTopped('${data.thread.tid}')`) 取消专业置顶
                            if data.userOperationsId.includes('homeTop') && !data.ads.includes(data.thread.tid)
                              button.btn.btn-default.btn-sm#threadTop(onclick=`homeTop('${data.thread.tid}')`) 首页置顶
                            if data.userOperationsId.includes('unHomeTop') && data.ads.includes(data.thread.tid)
                              button.btn.btn-default.btn-sm#threadTop(onclick=`unHomeTop('${data.thread.tid}')`) 取消首页置顶
                            if data.userOperationsId.includes('closeThread') && !thread.closed
                              button.btn.btn-default.btn-sm(onclick=`closeThread('${data.thread.tid}')`) 关闭主题
                            if data.userOperationsId.includes('openThread') && thread.closed
                              button.btn.btn-default.btn-sm(onclick=`openThread('${data.thread.tid}')`) 开放主题
                          if permission('addThreadForum') || permission("removeThreadForum") || permission('moveThread') || permission("moveDraft")
                            div
                              if permission('addThreadForum') || permission("removeThreadForum")
                                div(v-if='forums.length !== 0')
                                  h5 已选择专业
                                  div
                                    for forum in thread.forums
                                      span(style=`border-radius: 4px;display: inline-block;margin-right: 0.5rem;color: #fff;padding: 0.5rem 1rem;background-color: ${forum.color}`)=`${forum.forumType === 'topic'?'(话题)':'(学科)'}${forum.displayName}`
                                        .fa.fa-remove(style='cursor: pointer;' onclick=`removeForumsId("${data.thread.tid}", "${forum.fid}")`)
                                div(style='margin-top:0.5rem;').form-inline    
                                  include ../forumlist_dropdown.pug
                                  button.btn.btn-default(onclick=`addForum("${data.thread.tid}")`) 添加  
                              if permission('moveThread') || permission("moveDraft")
                                div(style='margin-top:0.5rem;')      
                                  button.btn.btn-danger.btn-sm(type="button" class="btn btn-primary" data-toggle="modal" data-target="#recycleModal" data-whatever="@mdo") 送回收站

                .col-xs-12.col-md-12
                  .row
                    .col-xs-12.col-md-12(style=`margin: 3rem 0 1rem 0;${thread.recycleMark?'border: 1px solid #ff5a0b;padding: 0.5rem;border-radius: 5px;background-color: #fafafa;':''}`)
                      if thread.recycleMark
                        .h4.text-center(style='color: #ff5a0b;') 本文已被退回修改，请作者点击编辑按钮进入编辑界面
                        p.text-center(style='border-bottom: 1px solid #ff5a0b; padding-bottom: 1rem;color: #ff5a0b;')= `退修原因：${thread.reason}`
                      .h3.thread-title.text-center= thread.firstPost.t
                      -const post = thread.firstPost;
                      -post.c = hideContentByUser(post.c, data.user, 'thread')
                      if post.authorInfos && post.authorInfos.length > 0 && data.thread.type !== "product"
                        -var agencyIndex = 1;
                        -var agencyArray = [];
                        -var agencyAddArray = [];
                        -for(var i=0;i<post.authorInfos.length;i++) {
                          -if(post.authorInfos[i].agency){
                            -if(agencyArray.indexOf(post.authorInfos[i].agency) == -1){
                              -agencyArray.push(post.authorInfos[i].agency);
                              -if(post.authorInfos[i].agencyCountry && post.authorInfos[i].agencyCountry.length > 0){
                                -post.authorInfos[i].agencyAdd = post.authorInfos[i].agencyAdd.replace(/\//igm, " ");
                                -agencyAddArray.push(post.authorInfos[i].agency+"，"+post.authorInfos[i].agencyCountry+" "+post.authorInfos[i].agencyAdd);
                              -}else{
                                -agencyAddArray.push(post.authorInfos[i].agency);
                              -}
                              -post.authorInfos[i].agencyIndex = agencyIndex;
                              -agencyIndex++;
                            -}else{
                              -post.authorInfos[i].agencyIndex = agencyArray.indexOf(post.authorInfos[i].agency)+1;
                            -}
                          -}
                        -}
                        .thread-info.text-center(style="color:#000;margin-top:1rem")
                          if post.authorInfos.length > 1
                            for auth,index in post.authorInfos
                              span(style="margin-right:10px;font-weight: bold;")
                                if auth.kcid.length > 0
                                  span(style="cursor: pointer;" onclick=`turnUser(${auth.kcid})`)!=`${auth.name}`
                                  if auth.agencyIndex
                                    sup!=`${auth.agencyIndex}`
                                else
                                  span!=`${auth.name}`
                                  if auth.agencyIndex
                                    sup!=`${auth.agencyIndex}`
                                if auth.isContract
                                  span(class="dropdown")
                                    a(id="dropdown-up" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle")
                                      span.fa.fa-envelope-open-o(style="color:#000")
                                    ul.list-group.dropdown-menu(aria-labelledby='dropdown-up' style="padding:0")
                                      li.list-group-item(style="padding:3px")
                                        div 通信邮箱：
                                        div!=`${auth.contractObj.contractEmail}`
                                      li.list-group-item(style="padding:3px")
                                        div 电话号码：
                                        div!=`${auth.contractObj.contractTel}`
                                      li.list-group-item(style="padding:3px")
                                        div 通信地址：
                                        div!=`${auth.contractObj.contractAdd}`
                                      li.list-group-item(style="padding:3px")
                                        div 邮政编码：
                                        div!=`${auth.contractObj.contractCode}`
                                  //- span
                                  //-   span.fa.fa-envelope-open-o(onclick="originPanelShow(this)" onmouseout="originPanelClose()" data-email=`${auth.contractObj.contractEmail}` data-tel=`${auth.contractObj.contractTel}` data-add=`${auth.contractObj.contractAdd}` data-code=`${auth.contractObj.contractCode}`)
                          else
                            for auth,index in post.authorInfos
                              span(style="margin-right:10px;font-weight: bold;")
                                if auth.kcid.length > 0
                                  span(style="cursor: pointer;" onclick=`turnUser(${auth.kcid})`)!=`${auth.name}`
                                else
                                  span!=`${auth.name}`
                                if auth.isContract
                                  span(class="dropdown")
                                    a(id="dropdown-up" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle")
                                      span.fa.fa-envelope-open-o(style="color:#000")
                                    ul.list-group.dropdown-menu(aria-labelledby='dropdown-up' style="padding:0")
                                      li.list-group-item(style="padding:3px")
                                        div 通信邮箱：
                                        div!=`${auth.contractObj.contractEmail}`
                                      li.list-group-item(style="padding:3px")
                                        div 电话号码：
                                        div!=`${auth.contractObj.contractTel}`
                                      li.list-group-item(style="padding:3px")
                                        div 通信地址：
                                        div!=`${auth.contractObj.contractAdd}`
                                      li.list-group-item(style="padding:3px")
                                        div 邮政编码：
                                        div!=`${auth.contractObj.contractCode}`
                                  //- span
                                  //-   span.fa.fa-envelope-open-o(onclick="originPanelShow(this)" onmouseout="originPanelClose()" data-email=`${auth.contractObj.contractEmail}` data-tel=`${auth.contractObj.contractTel}` data-add=`${auth.contractObj.contractAdd}` data-code=`${auth.contractObj.contractCode}`)
                          //- if thread.firstPost.originState && thread.firstPost.originState !== "0"
                          //-   -var levelText = getOriginLevel(thread.firstPost.originState);
                          //-   if thread.firstPost.originState == "4" || thread.firstPost.originState == "5" || thread.firstPost.originState == "6"
                          //-     span(style="color:#9baec8;margin-right:3px") 原创
                          //-   a()
                          //-     span.fa.fa-caret-square-o-down(style="color:#b5b4b4" onclick="originTextShow(this)" onmouseout="originTextClose()" data-text=`${levelText}`)
                        .thread-info.text-center(style="color:#000;margin-top:1rem")
                          if post.authorInfos.length > 1
                            for agad,index in agencyAddArray
                              span(style="margin-right:10px")!=`${index+1}.${agad}`
                          else
                            for agad,index in agencyAddArray
                              span(style="margin-right:10px")!=`${agad}`

                      .thread-info.text-center(style="margin-top:1rem")
                        a(href=`/u/${thread.uid}`)
                          img(src=`/avatar_small/${thread.uid}` style='width: 1.5rem;height: 1.5rem;border-radius:50%;')
                          span= ` ${thread.firstPost.user.username}`
                        span(style='color: #555555;margin-right:5px')= ` ${thread.toc.toLocaleDateString()}`
                        if thread.firstPost.originState && thread.firstPost.originState !== "0"
                          -var levelText = getOriginLevel(thread.firstPost.originState);
                          if thread.firstPost.originState == "4" || thread.firstPost.originState == "5" || thread.firstPost.originState == "6"
                            span(style="color:#9baec8;margin-right:3px") 原创
                          span(class="dropdown")
                            a(id="dropdown-level" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle")
                              span.fa.fa-caret-square-o-down(style="color:#b5b4b4")
                            .dropdown-menu(aria-labelledby='dropdown-level')
                              span(style="padding:5px")!=`${levelText}`

                      //- if post.authorInfos && post.authorInfos.length > 0
                      //-   .panel.panel-default(style="border:0;margin-bottom:0")
                      //-     .panel-heading.paperHeader 作者信息
                      //-     .panel-body
                      //-       ol(style="padding-left:20px")
                      //-         for auth in post.authorInfos
                      //-           if auth
                      //-             li(style="font-weight:bold")
                      //-               span!=`${auth.name}. `
                      //-               if auth.kcid
                      //-               if auth.agency
                      //-                 span!=`${auth.agency}. `
                      //-               if auth.agencyAdd
                      //-                 span!=`${auth.agencyAdd}.   `

                      //-               if auth.isContract
                      //-                 span
                      //-                   span.fa.fa-id-card(onmouseover="originPanelShow(this)" onmouseout="originPanelClose()" data-email=`${auth.contractObj.contractEmail}` data-tel=`${auth.contractObj.contractTel}` data-add=`${auth.contractObj.contractAdd}` data-code=`${auth.contractObj.contractCode}`)
                      if (post.abstractCn.length !== 0 || post.abstractEn.length !== 0) && data.thread.type !== "product" 
                        .abstract(style="margin-top:1rem;")
                          if post.abstractCn.length !== 0
                            .panel.panel-default(style="border:0;margin-bottom:0")
                              .panel-heading.paperHeader 中文摘要
                              .panel-body!=LineFeedConversion(post.abstractCn)
                          if post.abstractEn.length !== 0
                            .panel.panel-default(style="border:0;margin-bottom:0")
                              .panel-heading.paperHeader Abstract
                              .panel-body!=LineFeedConversion(post.abstractEn)
                      if (post.keyWordsCn.length !== 0 || post.keyWordsEn.length !== 0) && data.thread.type !== "product" 
                        .keyWords(style="margin-top:1rem;")
                          .panel.panel-default(style="border:0;margin-bottom:0")
                            .panel-heading.paperHeader 关键词
                            .panel-body(style="padding:5px")
                              if post.keyWordsCn.length !== 0
                                div
                                  for keyCn in post.keyWordsCn
                                    span.keyWordstagCn(style="cursor:pointer" onclick=`turnSearch("${keyCn}")`)!=keyCn
                              if post.keyWordsEn.length !== 0
                                div(style="margin-top:5px")
                                  for keyEn in post.keyWordsEn
                                    span.keyWordstagEn(style="cursor:pointer" onclick=`turnSearch("${keyEn}")`)!=keyEn
                      if data.paging.page === 0
                        if data.thread.type == "article"
                          div.thread-content.ThreadPostBody!= experimental_render(post)
                        else if data.thread.type == "product"
                          div.thread-content.ThreadPostBody
                            include ./product/product.pug
                        +postEditTime(post)
                        +postCredits(data.posts[0])
                      else
                        div.thread-content(style='max-height: 10rem;')
                          .hiddenThreadContent
                          div.ThreadPostBody!= experimental_render(post)
                          +postEditTime(post)
                          +postCredits(data.posts[0])
                        .text-center
                          .showThreadContentBtn(onclick='showThreadContent()' hide-text='收起') 加载全文
                      if post.disabled && disablePost
                        a(href=`javascript:enablePost('${post.pid}')`) [此楼已屏蔽，点击解除]
          .fullwidthpanel.ThreadBox.nkcpanel
            .row
              .thread-div
                .col-xs-12.col-md-12
                  .row
                    .col-xs-12.col-md-12(style='margin-top: 1rem;')
                      include ../interface_navigation_paging
                      ul.pagination.NavigationPaging
                        li(class=data.t!=="author"?"active":"")
                          a(href=`/t/${thread.tid}`) 全部
                        li(class=data.t==="author"?"active":"")
                          a(href=`/t/${thread.tid}?t=author`) 只看作者
                    .col-xs-12.col-md-12(style='margin-top: 1rem;margin-bottom: 1rem;')
                      for post, index in data.posts
                        if index !== 0 || data.paging.page !== 0
                          -let previousPost;
                          if index !== 1
                            -previousPost = data.posts[index-1];
                          include single_post
                    .col-xs-12.col-md-12
                      include ../interface_navigation_paging
                    if data.user
                      .col-xs-12.col-md-12
                        - var hasMobile = data.user.authLevel > 0;
                        //- if hasMobile && data.user.volumeA

                        // 回复的输入面板
                        mixin inputPanel
                          .form-group
                            div#quoteContent
                          .form-group
                            div#quoteCancel(style='display: none')
                              button#quoteCancel.ForumThreadHasImage(style='background-color: #337ab7' onclick=`cancelQuote()`) 取消引用
                          .form-group(style="background-color:#fff;")
                            //- div#ReplyContent
                            include ../ueditor/ueditor.pug
                          .form-group
                          //- .nkcpanel(id='file-uploading' target='/r')
                          //-   //uploader section
                          //-   include ../interface_attachment_uploader_uploader.pug

                          //- .panel.panel-default
                          //-   .panel-heading 我的附件（点击插入帖子）
                          //-   .panel-body(id='list-container')
                          include ../media/media_index.pug
                          .form-inline
                            .form-group
                              button#ButtonReply.btn.btn-primary(onclick=`submit(${thread.tid})`) 回复
                              button#draft.btn.btn-primary(onclick=`saveDraft(${thread.tid},${data.user.uid})`) 保存草稿

                            .checkbox-inline
                              label
                                input#ParseURL(type='checkbox' checked)
                                | 处理URL

                            if 0
                              .form-group
                                button#WiderArea.hidden-xs.btn.btn-default(onclick='widerArea()') 拓展
                            //- include twemoji.pug
                            .form-group
                              button#GoEditor.btn.btn-default(onclick='goEditor()') 去编辑器

                        if hasMobile
                          if !thread.closed
                            if !data.user.volumeA && !data.user.volumeB
                              -const {exam} = data.postSettings.postToThread;
                              -const {unlimited, countLimit} = exam.notPass;
                              -const userPostCountToday = data.userPostCountToday;
                              if unlimited
                                +inputPanel
                              else if countLimit === 0
                                .text-danger
                                  .h4(style='margin-bottom: 0rem;')=`您还未参加考试，暂不能发表文章和回复。`
                                  .h4
                                    a(href='/exam' target='_blank') 点击这里参加考试
                              else if userPostCountToday >= countLimit
                                .text-danger
                                  .h4(style='margin-bottom: 0rem;')=`您还未参加考试，每天只能发表${countLimit}条回复，且不能发表文章。`
                                  .h4= `今日已发表${data.userPostCountToday}条回复，`
                                    a(href='/exam' target='_blank') 点击这里参加考试
                                    span ，通过后将获得更多发言权限。
                              else
                                .form-group.text-danger(style='margin-bottom: 0rem;')=`您还未参加考试，每天只能发表${countLimit}条回复，且不能发表文章。`
                                  div=`今日已发表${userPostCountToday}条回复，`
                                    a(href='/exam' target='_blank') 点击这里参加考试
                                    span ，通过后将获得更多发言权限。
                                +inputPanel
                            else
                              +inputPanel
                          else
                            .col-xs-12.col-md-12(style='margin: 2rem 0;')
                              .h4.text-center(style='color: #aaaaaa;')
                                span.fa.fa-times &nbsp;主题已关闭，暂不能发表回复


                      include ../exam_notification.pug

                    else
                      .col-xs-12.col-md-12
                        :markdown
                          想参与大家的讨论？现在就 [登录](/login) 或者 [注册](/register)。

        .col-xs-12.col-md-3
          .hidden-xs.hidden-sm#rightDom
            -var user = data.thread.firstPost.user
            if user
              include ../interface_thread_userpatch.pug
            if data.targetUserThreads && data.targetUserThreads.length !== 0
              .fullwidthpanel.ThreadBox.nkcpanel.user-threads
                .thread-aside-header 作者最新文章
                for thread, index in data.targetUserThreads
                  .thread-aside-title
                    a(href=`/t/${thread.tid}`)
                      span= index+1+'. '
                      span= thread.firstPost.t
            if data.sameThreads && data.sameThreads.length !== 0
              .fullwidthpanel.ThreadBox.nkcpanel.user-threads
                .thread-aside-header 相似文章推荐
                for thread, index in data.sameThreads
                  .thread-aside-title
                    a(href=`/t/${thread.tid}`)
                      span= index + 1 + '. '
                      span= thread.firstPost.t
            .fullwidthpanel.ThreadBox.nkcpanel.hidden-sm.hidden-xs
              ul.HomeFriendlyLink
                include ../nkc_footer_links.pug
          include ../module_scrollTo

    include ../debug_output.pug
    include ../thread_to_recycle.pug
    include ../post_to_recycle.pug
    include ../publicModules/post_warning
block scripts
  script(src=`/mdui/js/mdui.min.js?v=${global.NKC.startTime}`)
  script(src='/commonmark/dist/commonmark.js')
  script(src='/plain_escaper.js')
  script(src='/xbbcode-parser/xbbcode.js')
  script(src='/xss/dist/xss.js')
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src='/module_dropdown.js?v=3')
  script(src=`/jquery-ui-1.10.4.custom.js?v=${global.NKC.startTime}`)
  link(href=`/jquery-ui-1.10.4.custom.css?v=${global.NKC.startTime}` rel="stylesheet")
  +includeJS("/external_pkgs/imageToBig/js/index.js")
  +includeJS("/external_pkgs/imageToBig/js/jquery.rotate.min.js")
  script(src=`/thread/index.js?v=${global.NKC.startTime}`)
  script.
    common.backcolorChange("#{(data.user?data.user.color:null)||'#e4e4e4'}");
  
  script(src='/external_pkgs/react/react.min.js')
  script(src='/external_pkgs/react/JSXTransformer.js')
  script(src=`/thread/socket.js?v=${startTime}`)
  script(src=`/nkc_render.js?v=${global.NKC.startTime}`)
  script(src=`/interface_editor_reply.js?v=${global.NKC.startTime}`)
  //- script(src=`/interface_attachment_uploader.js?v=${global.NKC.startTime}`)
  //- script(type='text/jsx;harmony=true' src=`/interface_attachment_list_display_test.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`/wangEditor.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`/newEditor_reply.js?v=${global.NKC.startTime}`)
  +includeJS('/external_pkgs/etalage/js/jquery.etalage.min.js')
  +includeJS('/shop/shop.js')
  include ../publicModules/complaint/complaint
  include ../publicModules/crop/crop
  if data.user
    script(src=`/media/media_index.js?v=${startTime}`)
  script.
    //- $(function () {
    //-   $('.viewer').bootstrapViewer();
    //- })
  script.
    $(function () {
        $('[data-magnify]').Magnify({
            Toolbar: [
                'rotateLeft',
                'rotateRight',
                'zoomIn',
                'zoomOut'
            ],
            keyboard:true,
            draggable:false,
            movable:true,
            modalSize:[window.innerWidth,window.innerHeight],
            beforeOpen:function (obj,data) {
                //- console.log('beforeOpen')
            },
            opened:function (obj,data) {
                //- console.log('opened')
            },
            beforeClose:function (obj,data) {
                //- console.log('beforeClose')
            },
            closed:function (obj,data) {
                //- console.log('closed')
            },
            beforeChange:function (obj,data) {
                //- console.log('beforeChange')
            },
            changed:function (obj,data) {
                //- console.log('changed')
            }
        });

    })