.inline-block.highlight.post-options(style='float: right;margin-right: 0.5rem;color: #aaaaaa;')
  .dropdown(class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="line-height: 15px;")
    span.fa.fa-sliders
  ul.dropdown-menu(style='left: auto;right: 0;' data-stopPropagation=true)
    if comment.url
      li
        a(href=comment.url)
          span.fa.fa-newspaper-o &nbsp;
          span 详情
    if permission("getPostAuthor") && comment.anonymous
      li
        a(onclick=`NKC.methods.getPostAuthor('${comment.pid}')`)
          span.fa.fa-user-secret &nbsp;
          span 作者
    if data.userOperationsId.includes('creditXsf') && data.isModerator
      li
        a(onclick=`credit('${comment.pid}', 'xsf')`)
          span.fa.fa-graduation-cap &nbsp;
          span 评学术分
    if data.userOperationsId.includes('digestPost') && data.isModerator
      if !comment.digest
        li
          a(onclick=`digestPost("${comment.pid}")`)
            span.fa.fa-star-o &nbsp;设为精选
      else
        li
          a(onclick=`unDigestPost("${comment.pid}")`)
            span.fa.fa-star &nbsp;取消精选
    if !comment.anonymous && data.user && permission('creditKcb') && comment.uid !== data.user.uid
      li
        a(onclick=` credit("${comment.pid}", 'kcb', ${data.user.kcb})`)
          span.fa.fa-cny &nbsp;
            span 鼓励

    if permission("postWarningPost")
      li
        a(onclick=`openPostWarningDom("${comment.pid}")`)
          span.fa.fa-ambulance &nbsp;建议修改
    if data.modifyPostTimeLimit === -1 || (data.modifyPostTimeLimit * 60 * 60 * 1000 >= Date.now() - comment.toc)
      if (data.user && data.user.uid === comment.uid) || (data.isModerator && permission('modifyOtherPosts'))
        li
          a(href=`/editor?ver=ue&type=post&id=${comment.pid}`)
            span.fa.fa-edit &nbsp;编辑
    if permission("disabledPost")
      li
        a(onclick=`disablePostClick('${comment.pid}', "post")`)
          span.fa.fa-eye-slash &nbsp;退修或删除
    if !comment.hideHistories || permission('displayPostHideHistories')
      li
        a(href=`/p/${comment.pid}/history`)
          span.fa.fa-history &nbsp;历史版本
    if data.user
      li.divider
        li
          a(onclick=`moduleComplaint.open("post", "${comment.pid}")`)
            span.fa.fa-minus-circle &nbsp;投诉
    li.divider
    li
      a
        span.fa.fa-clock-o= ` ${comment.toc.toLocaleString()}`
    if permission("disabledPost")
      li
        -const ipoc = comment.iplm || comment.ipoc;
        a(href=`http://www.ip138.com/ips138.asp?ip=${ipoc.toString()}&action=2` title=ipoc target='_blank')
          span.fa.fa-map-marker(style='margin-left: 2px;')= ` ${ipoc}`
