if !post.disabled || disablePost || (data.user && data.user.uid === post.uid)
  div.single-post(style=(post.pid === highlight?'background-color: #fffbdd;padding: 0.5rem;border-radius: 5px;':''))
    if !previousPost || (post.toc - previousPost.toc) > 24*60*60*1000
      div.single-post-time
        div=post.toc.toLocaleString()
    .post-body(id= `${post.pid}` style=`${post.todraft?'border: 1px solid #ff5a0b;padding: 0.5rem;border-radius: 5px;background-color: #fafafa;':''}`)
      if post.todraft
        .h4.text-center(style='padding-bottom: 1rem; color: #ff5a0b;') 本条回复已被退回修改，请作者点击编辑按钮修改
        p.text-center(style='border-bottom: 1px solid #ff5a0b; padding-bottom: 1rem;color: #ff5a0b;')= `退修原因：${post.reason}`
      div
        .inline-block(style='margin-bottom: 0;')
          a(href=`/u/${post.uid}`)
            img(src=`/avatar/${post.uid}` style='width: 25px; height: 25px;border-radius: 50%;margin-right: 0.5rem;margin-top: -3px;')
            span= post.user.username
          -const targetUser = post.user;
          include ../user/module_user_grade_icon
          if post.digest
            span &nbsp;
            span.fa.fa-star(style='color: #ffbf16;' title='精选')
          if thread.uid === post.uid
            span(style='color: #888888;')=`（作者）`
        .inline-block(style='float: right;')
          -var floornumber = data.paging.start+index
          span.lighttext= floornumber + '楼'
        if data.user
          +postOptions(post, '',index)
        .inline-block.post-qrcode
          .fa.fa-qrcode.dropdown(class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
          .dropdown-menu.stop-propagation(data-stopPropagation=true style='left: auto;right: 0;border: none;box-shadow: none;margin-right: 0.5rem;background: none')
            .ThreadTitle22(style="border: 1px solid #bababa;border-radius: 10px;overflow: hidden;padding: 3px 3px 0 3px;background: #ffffff;")
              div.changeDis(style='width: 100%;')
                p.lighttext.airnum1(style="font-size:21px;text-align:center;margin-top:0px;margin-bottom:0px;") 文 号
                .hrdiv(style="width:100%;height:1px;background-color:#ddd;margin:0 auto;")
                p.lighttext.airnum2(style="font-size:21px;text-align:center;color:#cdf;margin-bottom:0px;margin-top:0px;")= post.pid
                .hrdiv(style="width:100%;height:1px;background-color:#ddd;margin:0 auto;")
              div.changeDisNone.text-center(style='width: 100%;')
                canvas.qrcode(data-pid=post.pid).inline-block

        .inline-block.post-thumbsUp
          -const recUsers = post.recUsers || [];
          if data.user && recUsers.includes(data.user.uid)
            span(data-pid=post.pid).thumbsUp.fa.fa-thumbs-o-up=`${recUsers.length || ''}`
          else
            span(data-pid=post.pid).thumbsDown.fa.fa-thumbs-o-up=`${recUsers.length || ''}`

        .clearfix
        if(post.t && post.t !== '' && index !== 0)
          div.dirt.ThreadPostTitle.ThreadPostBody #{post.t}
        -post.c = hideContentByUser(post.c, data.user, 'thread')
        div.ThreadPostBody(style=`${postHeight?'overflow-y:scroll;max-height:'+postHeight:''}`)!= experimental_render(post)
        if post.toc.toLocaleString() !== post.tlm.toLocaleString()
          p.lighttext [修改于 #{fromNow(post.tlm)} - #{dateString(post.tlm)}]
        if post.credits && post.credits.length > 0
          .nkcpanel.ThreadPostCredits
            each c,index in post.credits
              -var username = c.username||c.uid
              -var profile = (c.uid&&c.uid!=='0')?'/m/'+c.uid:'/user_activities_byname/'+c.username
              .ThreadPostCreditItem
                span.TPCQ #{(c.q > 0 ? '+' : '-')}#{c.q} &nbsp;
                span.TPCType #{creditString(c.type)} &nbsp;&nbsp;
                span.TPCIA
                  a(href=`${profile}`)
                    img.TPCIAI(src=`/avatar_small/${c.uid}`)
                span.TPCIssuer #{username} &nbsp;&nbsp;
                span.TPCDate #{dateTimeString(c.toc).split(' ')[0]} &nbsp;&nbsp;
                span.TPCReason #{c.reason}
        if post.disabled && disablePost
          a(href=`javascript:enablePost('${post.pid}')`) [此楼已屏蔽，点击解除]