extends ../bootstrap_base

block title
  title 资源下载

block content
  +includeCSS("/resource/download.css")
  .container-fluid.max-width(style="padding-bottom: 100px")
    .tip-wrap
      .error-list.b-s-10
        - let {ext, size, oname} = data.resource;
        - let text = (() => {
        -  let str = "";
        -  for(let score of data.myAllScore) {
        -    if(score.addNumber == 0) continue;
        -    str += score.name;
        -    str += score.addNumber * -1 / 100;
        -    str += score.unit;
        -    str += "、";
        -  }
        -  str = str.substring(0, str.length - 1);
        -  return str;
        - })()
        .resource-oname= oname
        .resource-size= `大小：${tools.getSize(size)}`
        .resource-info.m-t-1 下载或预览当前附件将花费&nbsp;
          for score, index in data.myAllScore
            if index !== 0
              span.name 、
            span.name=score.name
            strong.text-danger=score.addNumber * -1 / 100
            span.name=score.unit
          span.name 。
        .resource-info 你当前剩余&nbsp;
          for score, index in data.myAllScore
            if index !== 0
              span.name 、
            span.name=score.name
            strong.text-danger=score.number / 100
            span.name=score.unit
          span.name 。
        if !data.enough
          .error-code
            code 积分不足
        .resource-downloaded-tip.m-t-1
          span.name= `附件下载中... （${~~(data.resourceExpired / 1000 / 60)}分钟内重复下载不会扣分）`
        .error-info.m-t-1
          if data.enough
            a.m-l-0.download-button(onclick=`payForDownloadResource(${data.rid})`) 立即下载
            if data.resource.ext === "pdf"
              | &nbsp;&nbsp;&nbsp;
              a.m-l-0(onclick=`previewPDFResource(${data.rid})`) 预览
          else
            a.m-l-0(href=`/account/finance/recharge`) 充值
          | &nbsp;&nbsp;&nbsp;
          a(onclick="closePage()") 返回上一页

  +includeJS("/resource/download.js")
