-const fund = data.fund.toObject();
-const {applicationForm, s} = data;
-const mainContainer1400 = true
-const {authLevel} = fund.applicant;
-const {status, members, project, budgetMoney, projectCycle, threads, fixedMoney} = applicationForm;
-const {submitted} = status;
-let disabledSubmit = false;
-let aggregate = 0;
-const agreeIsFalse = [], agreeIsTrue = [], agreeIsNull = [];
-for(let u of members)
  if u.agree === null
    -agreeIsNull.push(u);
  else if u.agree === true
    -agreeIsTrue.push(u);
  else
    -agreeIsFalse.push(u);
-const nullLength = agreeIsNull.length, trueLength = agreeIsTrue.length, falseLength = agreeIsFalse.length;

.row
  .col-xs-12.col-md-12
    br
    br
  .col-xs-12.col-md-8.col.col-md-offset-1
    include ../../interface_fund_apply_messages
  .col-xs-12.col-md-3
    if applicationForm.from === 'team'
      h3 注意事项
      br
      p 1、如果没有好友同意你的邀请你将无法提交申请表，您可以邀请其他好友或更改申请方式为个人申请。
      p 2、提交申请表默认会移除拒绝和未处理的好友，并且会从附带的文章中移除这些好友的文章。
      br
      br
    -let n = 0;

    mixin ds(text)
      -n++;
      -disabledSubmit = true;
      if n === 1
        br
        h4 存在下列问题，请补充完善。
      h5.redFontColor= `${n}、${text}`
    -const difference = fund.modifyCount - applicationForm.modifyCount;
    h3= `当前剩余修改次数: ${difference}`
    if difference <= 0
      +ds('申请表修改次数超出限制')
    if applicationForm.from === 'team'
      if nullLength !== 0
        h3 未处理的团队成员：
        -for(let u of agreeIsNull)
          h4
            a(href=`/u/${u.uid}` target="_blank")= u.user.username
            span &nbsp;&nbsp;&nbsp;
      if falseLength !== 0
        h3 拒绝的团队成员：
        -for(let u of agreeIsFalse)
        h4
          a(href=`/u/${u.uid}` target="_blank")= u.user.username
          span &nbsp;&nbsp;&nbsp;
      if agreeIsTrue.length === 0
        +ds('暂未有团队成员接受邀请或所有成员都拒绝参加（可返回第一步修改团队成员）')
    if applicationForm.from === 'personal'
      if !fund.applicationMethod.personal
        +ds('该基金不允许个人申请')
    else
      if !fund.applicationMethod.team
        +ds('该基金不允许团队申请')
    if !applicationForm.applicant.lifePhotosId || applicationForm.applicant.lifePhotosId.length === 0
      +ds('请至少添加一张生活照')
    if !applicationForm.applicant.name
      +ds('请填写您的真实姓名')
    if !applicationForm.applicant.idCardNumber
      +ds('请填写您的身份证号码')
    if !applicationForm.applicant.mobile
      +ds('请填写您的联系电话')
    if !applicationForm.account.paymentType
      +ds('请选择收款方式')
    if !applicationForm.account.number
      +ds('请填写您的收款账号')
    if !applicationForm.applicant.description
      +ds('请填写您的自我介绍')
    if !project
      +ds('请填写项目信息')
    else
      if !project.t
        +ds('请填写项目名称')
      if !project.c
        +ds('请输入项目内容')
      if !project.abstractCn && applicationForm.fund.detailedProject
        +ds('请输入项目摘要')
    if applicationForm.projectCycle === null
      +ds('请填写研究周期')
    if fund.money.max === null
      if !applicationForm.budgetMoney
        +ds('请输入资金用途')
    else
      if !applicationForm.budgetMoney || applicationForm.budgetMoney.length === 0
        +ds('请输入资金用途')
      else
        if !applicationForm.budgetMoney || typeof applicationForm.budgetMoney === 'string'
          +ds('请输入资金用途')
        else
          -let aggregate = 0;
          -for(let b of applicationForm.budgetMoney)
            -aggregate += b.count*b.money
          if aggregate === 0
            +ds('资金预算不能为0')
          if aggregate > fund.money.max
            +ds(`资金预算金额已超过该基金项目单笔申请的最大金额（${fund.money.max}元）`)
    if fund.thread.count > applicationForm.threadsId.applying.length
      +ds(`申请人曾经发表的相关文章数未达到最低要求(至少选择${fund.thread.count}篇)`)
    if !applicationForm.category
      +ds('未选择学科分类。')
    if !disabledSubmit
      h3.greenFontColor 信息录入完整，可提交申请！