if !isIncluded('singleComment')
  include ./singleCommentQuote
  include ./singleCommentContainer
  +includeCSS("/publicModules/commentCenter/singleComment/singleComment.css")
  +includeDeferJS("/publicModules/commentCenter/singleComment/singleComment.js")
  mixin singleComment(props)
    -var {user, content, _id, order, quote, isAuthor, reason, type, status, uid, toc, tlm, docId, did} = props;
    .hidden(id=`comment_${_id}`)=objToStr({comment: props})
    .single-post-container(
      data-un-reviewed=status === 'unknown'
      data-disabled=status === 'disabled'
      data-return=status === 'faulty'
      data-highlight=data.highlight === did
      data-did=did
      data-hide=isAuthor? 'not': hide
      id=data.highlight === did? 'highlight': undefined
      )
      include ./singleCommentWarningInfo
      +singleCommentWarningInfo({status, docId, cid: _id, reason})
      include ./singleCommentTop
      +singleCommentTop(Object.assign({}, user, {_id, docId, did, isAuthor, order, reviewed: status !== 'unknown', reason, toc, tlm}))
      include ./singleCommentCenter
      +singleCommentCenter({content, aid: _id, quote})
      include ./singleCommentBottom
      +singleCommentBottom({cid: _id, docId, props, user})
