if !isIncluded('singleComment')
  include ./singleCommentQuote
  include ./singleCommentContainer
  +includeCSS("/publicModules/commentCenter/singleComment/singleComment.css")
  +includeDeferJS("/publicModules/commentCenter/singleComment/singleComment.js")
  mixin singleComment(props)
    -var {user, content, _id, order, quote, isAuthor, reason, type, status, uid, toc, tlm, docId, did, commentUrl, digest, kcb = [], xsf = [], vote, articleId} = props;
    -var {voteUp, voteDown, addr} = props
    .single-post-container(
      data-un-reviewed=status === 'unknown'
      data-disabled=status === 'disabled'
      data-return=status === 'faulty'
      data-highlight=data.highlight === _id
      data-cid=_id
      data-hide=isAuthor? 'not': hide
      id=data.highlight === _id? 'highlight': undefined
      )
      .hidden(id=`comment_${_id}`)=objToStr({comment: props})
      include ./singleCommentWarningInfo
      +singleCommentWarningInfo({status, docId, cid: _id, reason})
      include ./singleCommentTop
      +singleCommentTop(Object.assign({}, user, {_id, addr, docId, did, isAuthor, digest, order, reviewed: status !== 'unknown', reason, toc, tlm, commentUrl}))
      include ./singleCommentCenter
      +singleCommentCenter({content, cid: _id, quote, kcb, xsf})
      include ./singleCommentBottom
      +singleCommentBottom({cid: _id, docId, props, user, voteDown, voteUp, vote, articleId})
