if !isIncluded('singleCommentVote')
  mixin singleCommentVote(cid, vote, voteUp)
    .posts-vote
      .posts-vote-up(class=vote === 'up' ? 'active' : '' data-cid=cid onclick=`postsVote("${cid}", "up")`)
        .fa.fa-caret-up
        .posts-vote-number(data-cid=cid)= voteUp || ''
      .posts-vote-down(class=vote === 'down' ? 'active' : '' data-cid=cid onclick=`postsVote("${cid}", "down")`)
        .fa.fa-caret-down
