.paging-button
  -let displayHome = true
  if data.forum.valuableThreadsId.length === 0 && data.forum.basicThreadsId.length === 0 && !data.forum.declare
    -displayHome = false;
  if displayHome
    a.radius-left.button(href=`/f/${data.forum.fid}/home` class=data.type==="home"?"active": "") 专业首页
    a.button(href=`/f/${data.forum.fid}/latest` class=data.type==="latest"?"active": "") 最新
  else
    a.button.radius-left(href=`/f/${data.forum.fid}/latest` class=data.type==="latest"?"active": "") 最新
  if data.forum && data.forum.childrenForums.length === 0
    a.button(href=`/f/${data.forum.fid}/followers` class=data.type==="followers"?"active": "") 关注的人
  a.button(href=`/f/${data.forum.fid}/visitors` class=data.type==="visitors"?"active": "") 今日来访
  if data.forum.lid
    a.button.radius-right(href=`/f/${data.forum.fid}/library` class=data.type==="library"?"active": "") 文库