.paging-button
  a.radius-left.button(href=`/u/${data.targetUser.uid}` class=!data.t?"active":"") 最新动态
  a.button(href=`/u/${data.targetUser.uid}?t=thread` class=data.t==="thread"?"active":"") 文章
  a.button(href=`/u/${data.targetUser.uid}?t=follow` class=data.t === "follow" ? "active" : "") 关注
  a.radius-right.button(href=`/u/${data.targetUser.uid}?t=fans` class=data.t === "fans" ? "active" : "") 粉丝
