extends ../bootstrap_base
block title
  title=`文库 - ${data.forum.displayName} - ${state.serverSettings.websiteName}`
  +includeCSS("/library/library.css")
block content
  -const docTypes = [{t: "all",n: "全部"}, {t: "book", n: "图书"}, {t: "paper", n: "论文"}, {t: "program", n: "程序"}, {t: "media", n: "媒体"}, {t: "other", n: "其他"}];
  mixin link(r)
    a.lib-r-h(href=`/r/${r.rid}` target="_blank")
      .fa.fa-cloud-download
      | &nbsp;点击下载
      if r.hits
        span=` ${r.hits}`
    if (data.user && data.user.uid === r.rid) || permission("modifyAllResource")
      a.lib-r-h.lib-r-e(href=`/library/upload?rid=${r.rid}` target="_blank")
        .fa.fa-edit &nbsp;编辑
      a.lib-r-h.lib-r-r(onclick=`removeResourceFromLibrary('${r.rid}')`)
        .fa.fa-trash &nbsp;删除
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-9.box-shadow-panel
        div
          | 专业 /&nbsp;
          a(href=`/f/${data.forum.fid}`)=data.forum.displayName
          | &nbsp;/ 文库
        div
          .row
            .doc-types.col-xs-12.col-md-6
              ul.nav.nav-pills
                for t in docTypes
                  li(class=data.t===t.t?"active":"")
                    a(href=`/f/${data.forum.fid}/library?t=${t.t}`)=t.n
        div
          include ../publicModules/paging/paging
          .lib-rs
            if !data.resources.length
              .p-t-5.m-t-5.p-b-5.m-b-5.text-center 空空如也~
            else
              for r, index in data.resources
                if index
                  hr
                .lib-r
                  .lib-r-c
                    div
                      if r.cover
                        img(src=tools.getUrl("cover", r.cover))
                      else
                        img(src=tools.getUrl("fileCover", r.ext))
                  .lib-r-info
                    .lib-r-n(onclick=`showResource('${r.rid}')`)=r.name
                    .lib-r-de
                      .lib-r-u(onmouseover=tools.floatUserInfo(r.uid))
                        img(src=tools.getUrl('userAvatar', r.user.avatar, 'sm'))
                        a(href=`/u/${r.uid}` target="_blank")=r.user.username
                      .lib-r-t=format("YYYY/MM/DD", r.tlm || r.toc)
                      .lib-r-s=(r.ext || "未知").toUpperCase()
                      .lib-r-s=tools.getSize(r.size)
                      .display-i-b.hidden-sm.hidden-xs
                        +link(r)
                    .lib-r-ds=r.description
                    .hidden-lg.hidden-md.m-t-05
                      +link(r)
          if data.paging.pageCount > 1
            .m-t-1
              include ../publicModules/paging/paging
      .col-xs-12.col-md-3.box-shadow-panel
        .text-center
          a(href=`/library/upload?fid=${data.forum.fid}`).btn.btn-block.btn-lg.btn-success 文件上传
          h5.text-success.m-t-2 分享知识，共创...

block scripts
  include ../publicModules/resourceInfo/resourceInfo
  include ../publicModules/floatUserPanel/floatUserPanel
  +includeJS("/library/common.js")
  +includeJS("/library/library.js")
