extend ../bootstrap_base
block title
  title 文库记录
  style.
    table{
      font-size: 1rem;
    }
    .min-w-text{
      width: 12rem;
    }
    .min-w-name{
      width: 7rem;
    }
    table img{
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
    }
block content
  .container-fluid.max-width
    .row
      .hidden#data=objToStr({t: data.t, c: data.c})
      .col-xs-12.col-md-12#app(v-cloak)
        h4 按条件查询记录
        .form-inline.m-b-1
          .form-group
            select.form-control(v-model='t')
              option(value='username') 用户名
              option(value='uid') UID
          .form-group
            input.form-control(placeholder='请输入内容' v-model='c' @keyup.enter='search')
          .form-group
            button.btn.btn-primary(type='submit' @click='search') 搜索
            span &nbsp;
            a.btn.btn-default(type='submit' href='/libraries/logs') 全部
      .col-xs-12.col-md-12
        include ../publicModules/paging/paging_input
        .table-responsive
          table.table.table-striped(style="word-break: break-all;")
            thead
              tr
                th 时间
                th 用户
                //- th 类型
                th 名称
                th 简介
                th 目录
                th 详情
            tbody    
              for library in data.libraries
                tr
                  th.min-w-name=format(`YYYY/MM/DD HH:mm:ss`, library.toc)
                  th.min-w-name
                    if library.type === "file"
                      a(href=`/u/${library.uid}` target="_blank" onmouseover=tools.floatUserInfo(library.uid))=library.resourceUser.username
                    else
                      a(href=`/u/${library.uid}` target="_blank" onmouseover=tools.floatUserInfo(library.uid))=library.user.username
                  //- th={"folder": "文件夹", "file": "文件"}[library.type]
                  th.min-w-text.pointer(onclick=`showResource('${library._id}')`)
                    if library.type === "folder"
                      img(src=tools.getUrl("fileCover", "folder"))
                    else  
                      img(src=tools.getUrl("fileCover", library.ext))
                    span=library.name
                  th.min-w-text=library.description || "暂无简介"
                  th.min-w-text
                    a(href=`/f/${library.forum.fid}/library?t=nav&id=${library._id}` target="_blank")=library.path
                  th.min-w-name
                    if library.type === "file"
                      span.m-r-05=lang("library", library.category)
                      //- span.m-r-05=tools.getSize(library.size)
                    else  
                      span.m-r-05 文件夹
                    if library.closed
                      span.text-danger 【已关闭】
                    if library.deleted
                      span.text-danger 【已删除】
                    else if library.lid
                      a(onclick=`deleteLibrary(${library.lid}, ${library._id})`) 删除
                    
        .m-t-05
          include ../publicModules/paging/paging_input            
block scripts
  include ../publicModules/floatUserPanel/floatUserPanel
  include ../publicModules/resourceInfo/resourceInfo
  script.
    var ResourceInfo = new NKC.modules.ResourceInfo;
    function showResource(lid) {
      ResourceInfo.open({lid: lid});
    }
    function deleteLibrary(lid, _id) {
      sweetQuestion("确定要执行删除操作？")
        .then(function() {
          nkcAPI("/library/" + lid + "/list?lid=" + _id, "DELETE")
            .then(function(data) {
              sweetSuccess("执行成功！" + (data.ignoreCount? "忽略" + data.ignoreCount + "个项目": ""));
            })
            .catch(function(data) {
              sweetError(data);
            })
        })
        .catch(function(err) {})
      
    }

    var data = NKC.methods.getDataById("data");
    var app = new Vue({
      el: "#app",
      data: {
        t: data.t || "username", // username, uid, ip
        c: data.c || ""
      },
      methods: {
        search: function() {
          if(!this.c) return sweetError("请输入筛选内容");
          NKC.methods.visitUrl("/libraries/logs?t=" + this.t + "&c=" + this.c);
        }
      }
    });