if !isIncluded('applicationFormItem')
  +includeCSS('/fund/applicationFormItem.css')
  mixin applicationFormItem(form)
    -var {fundName, code, money, users, status, statusColor, fundId} = form;
    -var {_id, money, title, url, time} = form;
    -users = users.reverse();
    .application-form-item
      .application-form-header
        .fund-name
          span=`${time} `
          a(href=tools.getUrl('singleFundHome', fundId))=fundName
          span=` ${code}`
        .application-form-money
          span ¥
          span=money
      a(href=tools.getUrl('fundApplicationForm', _id)).application-form-title=title
      .application-form-footer
        .application-form-status(style=`color: ${statusColor}`)= status
        .applicant-users
          for u in users
            -var {username, avatar, uid} = u;
            a.applicant-user(href=tools.getUrl('userHome', uid) data-float-uid=uid target='_blank')
              img(src=tools.getUrl('userAvatar', avatar))
  mixin applicationFormList(arr)
    if arr && arr.length
      .application-form-list
        for a in arr
          +applicationFormItem(a)
    else
      .p-b-2.p-t-2.text-center 空空如也~