extends ./fundContainer
block fundTitle
  title 未提交的基金申请
block fundContent
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.box-shadow-panel
        div
          ul.nav.nav-pills.m-b-1
            li(class=data.type === 'unSubmit' ? 'active' : '')
              a(href=`/fund/unsubmit`) 未提交
            li(class=data.type === 'giveUp' ? 'active' : '')
              a(href=`/fund/giveup`) 已放弃


          div
            include ../publicModules/paging/paging
            for a in data.applicationForms
              div
                hr
                h5= `${a.toc.toLocaleString()}`
                a(href=`/u/${a.applicant.uid}`)
                  img(src=tools.getUrl('userAvatar', a.applicant.user.avatar, 'sm') style='height: 2rem;width: 2rem;border-radius: 50%;margin-right: 4px;')
                  span= a.applicant.user.username
                span &nbsp;申请&nbsp;
                a(href=`/fund/list/${a.fundId}`)
                  span= a.fund?a.fund.name:a.fundId
                span &nbsp;
                a(href=`/fund/a/${a._id}`) 查看
              div
                h5=`申请方式：${a.from==='personal'?'个人': '团队'}`
                h5=``
                h5=`项目名称：${a.project && a.project.t?a.project.t:'暂未填写'}`
                h5=`项目内容：${a.project && a.project.c?a.project.c:'暂未填写'}`
            include ../publicModules/paging/paging_input
