if data.comments
  .applicationForm-comments#applicationForm-comments
    for post in data.comments
      .applicationForm-comment
        if post.anonymous
          .form-user-info
            img(src=anonymousInfo.avatar)
            span=anonymousInfo.username
        else
          a(href=`/u/${post.uid}` target="_blank").form-user-info
            img(src=`/avatar/${post.user.avatar}?t=sm`)
            span=post.user.username
        .form-time=fromNow(post.toc)
        -post.c = hideContentByUser(post.c, data.user, 'thread')
        .form-comment-content!=experimental_render(post)