extends ./fundBase
block fundTitle
  meta(name='description' content=`科创基金 - ${data.fund.name} ${data.applicationForm.code?'- ' + data.applicationForm.code: '暂无详细介绍'}`)
  title=`科创基金 - ${data.fund.name}${data.applicationForm?" - " + data.applicationForm.code:""}`
  include ../publicModules/plyr/plyr.css.pug
block fundContent
  include ./initData
  .row
    .col-xs-12.col-md-8.box-shadow-panel
      div(style="padding: 2rem;")
        include ./form
        .m-t-3
          .applicationForm-header 评论
          include ../publicModules/paging/paging
          include ./applicationFormComments
          include ../publicModules/paging/paging
          div
            if !applicationForm.disabled && applicationForm.tid && data.user
              a.btn.btn-default(href=`/t/${applicationForm.tid}#container` target="_blank") 去评论
    .col-xs-12.col-md-3
      include ./options
      if !applicationForm.status.submitted
        -let flag = false;
        -const membersId = applicationForm.members.map(m => m.uid) || [];
        if membersId.includes(user.uid) && user.uid !== applicationForm._id
          .m-t-1.m-b-1
            h4.text-center=`来自`
              a(href=`/u/${applicationForm.uid}` target='_blank')= applicationForm.applicant.user.username
              span 组队邀请
            -for(let aUser of applicationForm.members)
              if aUser.uid === user.uid
                case aUser.agree
                  when false
                    h3.redFontColor.text-center 已拒绝
                  when true
                    h3.greenFontColor.text-center 已接受
                    p.text-center 等待申请人提交
                  when null
                    a(onclick=` agree(${applicationForm._id})`).btn.btn-info.btn-block=`立即接受`
                    a(onclick=` disagree(${applicationForm._id})`).btn.btn-danger.btn-block=`残忍拒绝`
      //投票
      if displayVote
        .panel.panel-default
          .panel-body.applicationForm
            h5.text-center 投票
            textarea.form-control#content(rows=8 placeholder='填写理由')
            br
            .row
              .col-xs-6.col-md-6
                a(onclick=` support(${applicationForm._id})`).btn.btn-info.btn-block=`支持`
              .col-xs-6.col-md-6
                a(onclick=` against(${applicationForm._id})`).btn.btn-danger.btn-block=`反对`
            br
            if applicationForm.supporters.length !== 0
              h5=`${applicationForm.supporters.length}位用户表示支持`
              -for(let user of applicationForm.supporters)
                .vote-user
                  a(href=`/u/${user.uid}`)
                    img(src=`/avatar/${user.avatar}`)
                    span= `${user.username}`
              br
              br
            if applicationForm.objectors.length !== 0 && ensureFundOperatorPermission('admin', data.user, applicationForm.fund)
              h5=`${applicationForm.objectors.length}位用户表示反对`
              -for(let user of applicationForm.objectors)
                .vote-user
                  a(href=`/u/${user.uid}`)
                    img(src=`/avatar/${user.avatar}`)
                    span.redFontColor= `${user.username}`
      .panel.panel-default
        .panel-body.applicationForm
          h5.text-center 分享
          div.changeDisNone.text-center(style='width: 100%;')
            .col-xs-12.col-md-12
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('fundapply', 'qq', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金', '${applicationForm._id}')`)
                  img(src="/default/QQ.png" style="")
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('fundapply', 'qzone', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金', '${applicationForm._id}')`)
                  img(src="/default/qzone.png" style="")
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('fundapply', 'weibo', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金', '${applicationForm._id}')`)
                  img(src="/default/weibo.png" style="")
              .col-xs-3.col-md-3(style="padding:0px")
                a.btn-block(style="" href="javascript:void(0);" onclick=`shareTo('fundapply', 'weChat', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金', '${applicationForm._id}')`)
                  img(src="/default/weChat.png" style="")
            .col-xs-12.col-md-12
              a.btn-block(style="display:inline-block" href="javascript:void(0);" onclick=`shareTo('fundapply', 'link', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金', '${applicationForm._id}')`) 获取分享链接
            .col-xs-12.col-md-12(id=`copyArea${applicationForm._id}` style="display:none")
              input(type="text", id=`copyLink${applicationForm._id}`, name=`copyLink${applicationForm._id}` style="width:inherit")
              button(onclick=`copyLink('${applicationForm._id}')` id=`copyButton${applicationForm._id}`) 复制
            canvas.qrcode#fundapplyQrcode(style="display:none")
              //- .col-xs-4.col-md-4(style="padding:5px" onclick=`shareTo('fundapply', 'qq', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金')`)
              //-   img(src="/default/QQ.png" style="width:100%")
              //- .col-xs-4.col-md-4(style="padding:5px" onclick=`shareTo('fundapply', 'qzone', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金')`)
              //-   img(src="/default/qzone.png" style="width:100%")
              //- .col-xs-4.col-md-4(style="padding:5px" onclick=`shareTo('fundapply', 'weibo', window.location.origin+window.location.pathname, '${applicationForm.project.t} - ${fund.name} - 科创基金')`)
              //-   img(src="/default/weibo.png" style="width:100%")

block fundScripts
  include ../publicModules/plyr/plyr.js.pug
  include ../publicModules/lazySizes