include ../interface_fund_apply_messages

//- 申请表状态
.row.m-t-3
  .col-xs-12.col-md-12
    .applicationForm-header 项目状态
    div
      -let displayNext = true;
      if disabled
        -displayNext = false;
        .panel.panel-default
          .panel-body.applicationForm
            h3.text-center.redFontColor 申请表已被屏蔽
      if useless === 'giveUp'
        -displayNext = false;
        .panel.panel-default
          .panel-body.applicationForm
            h4.text-center 项目已中止
            h3.text-center.redFontColor 已放弃申请
            p= data.report.c
      if useless === 'exceededModifyCount'
        -displayNext = false;
        .panel.panel-default
          .panel-body.applicationForm
            h4.text-center 项目已中止
            h3.text-center.redFontColor 超过修改次数
      if useless === 'refuse'
        -displayNext = false;
        .panel.panel-default
          .panel-body.applicationForm
            h4.text-center 项目已中止
            h3.text-center.redFontColor 被彻底拒绝
      else
      // 队员点击同意
      if !applicationForm.status.submitted
        -let flag = false;
        -const membersId = applicationForm.members.map(m => m.uid) || [];
        if membersId.includes(user.uid) && user.uid !== applicationForm._id
          duv.m-b-1.m-t-1
            h4.text-center=`来自`
            a(href=`/u/${applicationForm.uid}` target='_blank')= applicationForm.applicant.user.username
            span 组队邀请
            -for(let aUser of applicationForm.members)
              if aUser.uid === user.uid
                case aUser.agree
                  when false
                    h3.redFontColor.text-center 已拒绝
                  when true
                    h3.greenFontColor.text-center 已接受
                    p.text-center 等待申请人提交
                  when null
                    a(href=`javascript: agree(${applicationForm._id})`).btn.btn-info.btn-block=`立即接受`
                    a(href=`javascript: disagree(${applicationForm._id})`).btn.btn-danger.btn-block=`残忍拒绝`
      else
        //info
        if projectPassed === false
          .panel.panel-default
            .panel-body.applicationForm.text-danger
              if !data.user || data.user.uid !== applicationForm.uid
                p.text-center=`专家审核不通过，等待申请人修改`
              else
                p.text-center=`专家审核不通过，`
                  a(href=`/fund/a/${applicationForm._id}/settings`) 去修改
        if adminSupport === false
          .panel.panel-default
            .panel-body.applicationForm.text-danger
              if !data.user || data.user.uid !== applicationForm.uid
                p.text-center=`管理员复核不通过，等待申请人修改`
              else
                p.text-center=`管理员复核不通过，`
                  a(href=`/fund/a/${applicationForm._id}/settings`) 去修改
              p.text-center= data.auditComments.adminAudit.c
        if completed === false
          .panel.panel-default
            .panel-body.applicationForm.text-danger
              if !data.user || data.user.uid !== applicationForm.uid
                p.text-center=`结题审核不通过，等待申请人修改`
              else
                p.text-center=`结题审核不通过，`
                  a(href=`/fund/a/${applicationForm._id}/complete`) 去修改
              p.text-center= data.auditComments.completedAudit.c
        if remittanceError
          .panel.panel-default
            .panel-body.applicationForm.text-danger
              h5.text-center 拨款结果
              p.text-center=`拨款失败`
              p.text-center= remittanceError.description
        if completed
          if excellent
            .panel.panel-default
              .panel-body.applicationForm
                h1.text-center.greenFontColor 优秀项目
          if successful === false
            .panel.panel-default
              .panel-body.applicationForm
                h1.text-center.redFontColor 研究失败
          -displayNext = false;
    .fund-apply-status
      ul
        mixin pointer(s1, s2 , text, r)
          -const passed = s1? 'passed': '';
          -let info = '';
          if r
            if s1
              -info= '完成';
            else
              if r.verify
                -info= '完成';
              else
                if r.status
                  -info= '未确认';
                else
                  if r.passed
                    -info= '已申请';
                  else if r.passed === false
                    -info= '未通过'
                  else
                    if r.apply
                      -info= '已申请';
                    else
                      -info='未申请';
          li(class=passed)= text + info
          li.next.fa.fa-chevron-right
        +pointer(submitted, usersSupport, '提交申请')
        if fund.auditType === "person"
          +pointer(usersSupport, projectPassed, `网友支持${fund.supportCount?`(${fund.supportCount})`:""}`)
          //-+pointer(usersSupport, projectPassed, `网友支持`)
          +pointer(projectPassed, adminSupport,'专家审核')
          -const count = applicationForm.remittance.length;
          if count > 0
            +pointer(adminSupport, applicationForm.remittance[0].status && applicationForm.remittance[0].verify,'管理员复核')
            -for (let i = 0; i < applicationForm.remittance.length; i++)
              -const r = applicationForm.remittance[i];
              -const r2 = applicationForm.remittance[1+i];
              if r2
                +pointer(r.status && r.verify, r2.status && r2.verify, `第${i + 1}期拨款（${r.money}元）`, r)
            -const lastRemittance = applicationForm.remittance[applicationForm.remittance.length-1];
            +pointer(lastRemittance.status && lastRemittance.verify, completed, `第${count}期拨款（${lastRemittance.money}元）`, lastRemittance)
          else
            +pointer(adminSupport, remittance,'管理员复核')
            +pointer(remittance, completed, '拨款')
        else
          +pointer(usersSupport, remittance, `网友支持${fund.supportCount?`(${fund.supportCount})`:""}`)
          +pointer(remittance, completed, '拨款')
        if completed
          li.passed 结题
        else
          li 结题
//- 拨款详情
if applicationForm.remittance && applicationForm.remittance.length > 0
  .row.m-t-3
    .col-xs-12.col-md-12
      .applicationForm-header 拨款详情
      table.table.table-striped.applicationForm-table
        thead
          tr
            th 序号
            th 金额
            th 状态
        tbody
          for r, index in applicationForm.remittance
            tr
              th=`第${index+1}期`
              th=`${r.money}元`
              th
                if r.status
                  span.text-success 已拨款
                else
                  span 未拨款



//- 最新进展
if data.reports && data.reports.length && data.reports.length > 0
  .row.m-t-3
    .col-xs-12.col-md-12
      .applicationForm-header 最新进展
      .timer-shaft
        for r in data.reports
          div.time
            if r.type !== "report"
              span.applicationForm-report-icon.system 系统
            else
              span.applicationForm-report-icon
                img(src=`/avatar/${applicationForm.uid}?t=sm`)
                a(href=`/u/${applicationForm.uid}` target="_blank")=applicationForm.applicant.user.username
            span(title=r.toc.toLocaleString())=fromNow(r.toc)
            if ensureFundOperatorPermission('admin', user, data.applicationForm.fund)
              if r.disabled
                a.m-l-05(href=`javascript: disabledReport(${applicationForm._id},${r._id},false)`) 解除屏蔽
              else
                a.m-l-05(href=`javascript: disabledReport(${applicationForm._id},${r._id},true)`) 屏蔽
          if r.type === 'userInfoAudit'
            if r.support
              -r.c = `用户信息通过审核${r.c?`。审核评语：${r.c}`: ''}`;
            else
              -r.c = `用户信息未通过审核，等待申请人修改。审核意见：${r.c}`;
          if r.type === 'projectAudit'
            if r.support
              -r.c = `项目信息通过审核${r.c?`。审核评语：${r.c}`: ''}`;
            else
              -r.c = `项目信息未通过审核，等待申请人修改。审核意见：${r.c}`;
          if r.type === 'moneyAudit'
            -const str = applicationForm.fixedMoney?'资金用途': '资金预算';
            if r.support
              -r.c = `${str}通过审核${r.c?`。审核评语：${r.c}`: ''}`;
            else
              -r.c = `${str}未通过审核，等待申请人修改。审核意见：${r.c}`;
          if r.type === 'adminAudit'
            if r.support
              -r.c = `管理员复核通过，开始项目${r.c?`。审核评语：${r.c}`: ''}`;
            else
              -r.c = `管理员复核未通过，等待申请人修改。审核意见：${r.c}`;
          if r.type === 'completedAudit'
            if r.support
              -r.c = `结题报告审核通过${r.c?`。审核评语：${r.c}`: ''}`;
            else
              -r.c = `结题报告审核未通过，等待申请人修改。审核意见：${r.c}`;
          if r.type === 'vote'
            if r.support
              -r.c = `网友 ${r.user.username} 表示的支持${r.c?`。并说：${r.c}`: ''}`;
            else
              -r.c = `网友 ${r.user.username} 表示反对。并说：${r.c}`;
          if r.type === 'remittance'
            if !r.support
              -r.c = `拨款失败：${r.c}`;
          .applicationForm-report-content
            -r.c = r.c.replace(/\n/g, '<br/>');
            -r.c = r.c.replace(/\s/g, '&nbsp;');
            if r.support === false
              .text-danger!= experimental_render(r)
            else if r.support === true
              .text-success!= experimental_render(r)
            else
              div!= experimental_render(r)

        if status.completed
          div.time
            span.applicationForm-report-icon.system 系统
            span(title=applicationForm.timeOfCompleted.toLocaleString())=fromNow(applicationForm.timeOfCompleted)
          .applicationForm-report-content.text-success 完成
if applicationForm.reportThreads.length > 0
  .row.m-t-3
    .col-xs-12.col-md-12
      .applicationForm-header 与项目有关的最新文章
      .selectedThreads
        -for(let i = 0; i < applicationForm.reportThreads.length; i++)
          -const thread = applicationForm.reportThreads[i];
          -const firstPost = thread.firstPost;
          .threadList
            .col-xs-10.col-md-10
              span 文号：
              span.threadNumber!= `${firstPost.pid}&nbsp;&nbsp;`
              a(href=`/m/${firstPost.uid}` target="_blank")= firstPost.user.username
              span!= `&nbsp;发表于 ${firstPost.toc.toLocaleString()}`
              br
              a(href=`/t/${thread.tid}` target="_blank")= firstPost.t

//- 结题报告
if applicationForm.threadsId.completed && applicationForm.threadsId.completed.length > 0
  .row.m-t-3
    .col-xs-12.col-md-12
      .applicationForm-header 结题报告
      .selectedThreads
        -for(let i = 0; i < applicationForm.threads.completed.length; i++)
          -const thread = applicationForm.threads.completed[i];
          -const firstPost = thread.firstPost;
          .threadList
            .col-xs-10.col-md-10
              span 文号：
              span.threadNumber!= `${firstPost.pid}&nbsp;&nbsp;`
              a(href=`/m/${firstPost.uid}` target="_blank")= firstPost.user.username
              span!= `&nbsp;发表于 ${firstPost.toc.toLocaleString()}`
              br
              a(href=`/t/${thread.tid}` target="_blank")= firstPost.t
