extends ./fundContainer.pug
block fundTitle
  +includeCSS('/fund/home.css')
  include ./applicationFormItem
block fundContent
  #data.hidden=objToStr({donationEnabled: data.fundSettings.donation.enabled, funds: data.funds, donation: data.fundSettings.donation, donationBills: data.donationBills})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.m-t-1
        .row
          for fund in data.funds
            .col-xs-12.col-sm-6.col-md-3
              -var style = `background-color: ${fund.color};`;
              if fund.avatar
                -style += `background-image: url(${tools.getUrl('fundAvatar', fund.avatar)})`;
              .fund-item.m-b-2(
                style=style
                )
                a(href=tools.getUrl('singleFundHome', fund._id))
                  .name=fund.name
                  .money=fund.money.fixed? `单笔 ${fund.money.value} 元`: `单笔最高 ${fund.money.value} 元`
                  .description
                    span=fund.description.brief

      .col-xs-12.col-md-8.box-shadow-panel
        mixin afl(arr, name)
          if arr && arr.length
            .m-b-1.p-b-0
              .panel-header.m-b-0=name
              +applicationFormList(arr)
        +afl(data.excellent, '优秀项目')
        +afl(data.applying, '正在申请')
        +afl(data.funding, '资助中')
        +afl(data.completed, '已完成')

      .col-xs-12.col-md-4.box-shadow-panel.p-l-0#donationApp(v-cloak)
        .m-b-1
          .panel-header=`赞助${data.fundSettings.fundName}`
          .donation
            h5 赞助对象
            .donation-list
              .donation-fund(v-for='t in targets')
                span(:class="{'active': t.type === fundId}" @click='selectFund(t.type)') {{t.name}}
            h5 赞助金额
            .donation-list
              .donation-money(v-for='m in donation.defaultMoney')
                span(:class="{'active': money === m}" @click='selectMoney(m)') {{m / 100}} 元
              .donation-money
                span(:class="{'active': !!inputMoney}" @click='toInputNumber') 自定义
            .m-t-05.m-b-1(v-if='!!inputMoney')
              h5 请输入赞助金额 （元，{{donation.min / 100}} 到 {{donation.max / 100}} 之间）：
              input.form-control(type='text' v-model.number='customMoney' placeholder='请输入赞助金额' @change='formatInputMoney')
            h5 付款方式
            .donation-list
              .donation-pay(v-for='p in payment')
                span(:class="{'active': paymentType === p.type}" @click='selectPaymentType(p.type)') {{p.name}}

            .checkbox.m-t-05
              label
                input(type='checkbox' :value='true' v-model='anonymous')
                span 匿名赞助
            .payment-info {{paymentInfo}}
            .m-t-1.m-b-1
              button.payment-button(v-if='!donationEnabled' disabled) 赞助功能已关闭
              button.payment-button(v-else-if='submitting' disabled) 提交中
              button.payment-button(v-else @click='submit') 提交
            .payment-description=data.fundSettings.donationDescription
        .m-b-1(v-if='donationBills.length > 0')
          .panel-header.m-b-0 赞助人
          .donation-bills.p-t-05
            .donation-bill(v-for='b in donationBills')
              .user-avatar
                img(:src='b.user.avatarUrl')
              .user-info
                .username
                  span(v-if='!b.user.uid') {{b.user.username}}
                  a(v-else :data-float-uid='b.user.uid' :href='getUrl("userHome", b.user.uid)' target="_blank") {{b.user.username}}
                .time
                  from-now(:time='b.time')
                .fund 赞助&nbsp;
                  span(v-if='!b.fund.fundId') {{b.fund.name}}
                  a(v-else :href='getUrl("singleFundHome", b.fund.fundId)' target='_blank') {{b.fund.name}}
                .money
                  //.fa.fa-jpy
                  span {{b.money}} 元
            a(href=`/fund/bills?type=donation` target="_blank").other-info 查看更多
block fundScripts
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  +includeJS('/fund/home.js')