extends ./fundContainer.pug
block fundTitle
  +includeCSS('/fund/home.css')
  include ./applicationFormItem
block fundContent
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.m-t-1
        .row
          for fund in data.funds
            .col-xs-12.col-sm-6.col-md-3
              -var style = `background-color: ${fund.color};`;
              if fund.avatar
                -style += `background-image: url(${tools.getUrl('fundAvatar', fund.avatar)})`;
              .fund-item.m-b-2(
                style=style
                )
                a(href=tools.getUrl('singleFundHome', fund._id))
                  .name=fund.name
                  .money=fund.money.fixed? `单笔 ${fund.money.value} 元`: `单笔最高 ${fund.money.value} 元`
                  .description
                    span=fund.description.brief

      .col-xs-12.col-md-8.box-shadow-panel
        mixin applicationFormList(arr, name)
          if arr && arr.length
            .application-forms.m-b-1
              .panel-header=name
              for form in arr
                +applicationFormItem(form)
        +applicationFormList(data.excellent, '优秀项目')
        +applicationFormList(data.applying, '正在申请')
        +applicationFormList(data.funding, '资助中')
        +applicationFormList(data.completed, '已完成')

      .col-xs-12.col-md-4.box-shadow-panel
        .m-b-1 基金介绍
        .m-b-1 捐款列表