if applicationForm.status.submitted
  //申请人控制面板
  if (displayReport || displayModify || displayComplete || displayGiveUp || displayApplyRemittance) && useful
    .panel.panel-default
      .panel-body.applicationForm
        h5.text-center 控制面板
        if displayModify
          a(href=`/fund/a/${applicationForm._id}/settings`).btn.btn-info.btn-block 修改
        if displayReport
          a(href=`/fund/a/${applicationForm._id}/report`).btn.btn-info.btn-block 报告进度
        if displayApplyRemittance
          a(href=`/fund/a/${applicationForm._id}/remittance/apply`).btn.btn-info.btn-block 申请拨款/确认收款
        if displayComplete
          a(href=`/fund/a/${applicationForm._id}/complete`).btn.btn-info.btn-block 结题
        if displayGiveUp
          button(onclick=`revoked("giveUp", ${applicationForm._id})`).btn.btn-danger.btn-block= `放弃申请`
  //管理
  if ((displayAdminAudit || displayExpertAudit || displayRemittance || needReportAudit || needCompletedAudit) && useful) || isAdmin
    .panel.panel-default
      .panel-body.applicationForm
        h5.text-center 管理
        if displayExpertAudit
          a(href=`/fund/a/${applicationForm._id}/audit?type=project`).btn.btn-info.btn-block 专家审核
        if displayAdminAudit
          a(href=`/fund/a/${applicationForm._id}/audit?type=admin`).btn.btn-info.btn-block 管理员复核
        if displayRemittance
          a(href=`/fund/a/${applicationForm._id}/remittance`).btn.btn-info.btn-block 拨款
        if needReportAudit
          a(href=`/fund/a/${applicationForm._id}/report/audit`).btn.btn-info.btn-block 报告审核
        if needCompletedAudit
          a(href=`/fund/a/${applicationForm._id}/complete/audit`).btn.btn-info.btn-block 结题审核
        if displayExcellent
          if excellent
            button(onclick=`excellent(${applicationForm._id}, false)`).btn.btn-info.btn-block 取消评为优秀项目
          else
            button(onclick=`excellent(${applicationForm._id}, true)`).btn.btn-info.btn-block 评为优秀项目
        if displayRestore
          button.btn.btn-primary.btn-block(onclick=`restoreApplicationForm(${applicationForm._id})`) 恢复申请表
        if isAdmin
          if disabled
            a(onclick=` disableApplicationForm(${applicationForm._id}, false)`).btn.btn-danger.btn-block 取消屏蔽
          else
            a(onclick=` disableApplicationForm(${applicationForm._id}, true)`).btn.btn-danger.btn-block 屏蔽
