extends ../bootstrap_base
block title
  title 未提交的基金申请
block content
  -const mainContainer1400 = true;
  .container-fluid(style='max-width: 1400px')
    .row
      .col-xs-12.col-md-12
        h4 暂未提交的基金申请
      include ../interface_navigation_paging
      for a in data.applicationForms
        .col-xs-12.col-md-12
          hr
          h5= `${a.toc.toLocaleString()}`
          a(href=`/u/${a.applicant.uid}`)
            img(src=`/avatar_small/${a.applicant.uid}` style='height: 2rem;width: 2rem;border-radius: 50%;margin-right: 4px;')
            span= a.applicant.user.username
          span &nbsp;申请&nbsp;
          a(href=`/fund/list/${a.fundId}`)
            span= a.fund?a.fund.name:a.fundId
          span &nbsp;
          a(href=`/fund/a/${a._id}`) 查看
        .col-xs-12.col-md-12
          h5=`申请方式：${a.from==='personal'?'个人': '团队'}`
          h5=``
          h5=`项目名称：${a.project && a.project.t?a.project.t:'暂未填写'}`
          h5=`项目内容：${a.project && a.project.c?a.project.c:'暂未填写'}`
      include ../interface_navigation_paging