.row
  .text-center
    img(src=`/avatar_small/${targetUser.uid}` style='width: 7rem;height: 7rem;border-radius: 50%;')
  .text-center
    a(href=`/u/${targetUser.uid}`)
      h4= targetUser.username
    include module_user_grade
  p.text-center(style='color: #ff8700;')= targetUser.info.certsName
  br
  .panel.panel-default
    .panel-heading
      .text-center.panel-titlePanel 信息查看
    .list-group
      a.list-group-item(href=`/u/${targetUser.uid}/transaction`)
        span.fa.fa-usd(style='margin-left: 2px') &nbsp;&nbsp;
        span 交易信息
      //-
        a.list-group-item(href=`/u/${data.user.uid}/settings/resume`)
          span.fa.fa-id-card-o &nbsp;&nbsp;
          span 简历
        a.list-group-item(href=`/u/${data.user.uid}/settings/transaction`)
          span.fa.fa-usd(style='margin-left: 2px') &nbsp;&nbsp;
          span 交易信息
        a.list-group-item(href=`/u/${data.user.uid}/settings/social`)
          span.fa.fa-users &nbsp;&nbsp;
          span 社交账号
        a.list-group-item(href=`/u/${data.user.uid}/settings/photo`)
          span.fa.fa-photo &nbsp;&nbsp;
          span 相册
        a.list-group-item(href=`/u/${data.user.uid}/settings/cert`)
          span.fa.fa-id-badge(style='margin-left: 2px') &nbsp;&nbsp;
          span 证件