extends ../bootstrap_base
block title
  title= `${data.targetUser.username}的交易信息`
  -const mainContainer1400 = true;
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        .col-xs-12.col-md-12
          -const targetUserSubscribe = data.targetUserSubscribe;
          -const targetUser = data.targetUser;
          include module_user_message_nav
      .col-xs-12.col-md-10
        div(style='border: 1px solid #dddddd;border-radius: 5px;padding: 0.5rem 0.8rem;margin-bottom: 0.5rem;')
          h4 基本信息
          .form.form-horizontal
            .form-group
              label.col-sm-2.control-label 真实姓名：
              .col-sm-10
                h5=data.personalInfo.name
            .form-group
              label.col-sm-2.control-label 生物学性别：
              .col-sm-10
                if data.personalInfo.gender === "men"
                  h5 男
                else if  data.personalInfo.gender === "women"
                  h5 女
            .form-group
              label.col-sm-2.control-label 出生日期：
              .col-sm-10
                if data.personalInfo.birthDate
                  h5=format("YYYY/MM/DD", data.personalInfo.birthDate)
                else
                  h5
            .form-group
              label.col-sm-2.control-label 所在地区：
              .col-sm-10
                h5=data.personalInfo.location
            .form-group
              label.col-sm-2.control-label 详细地址：
              .col-sm-10
                h5=data.personalInfo.address
        -const addresses = data.addresses;
        if addresses.length === 0
          h4 暂无交易信息
        else
          for address, index in data.addresses
            div(style='border: 1px solid #dddddd;border-radius: 5px;padding: 0.5rem 0.8rem;margin-bottom: 0.5rem;')
              h4=`交易信息 ${index+1}`
              .form.form-horizontal
                .form-group
                  label.col-sm-2.control-label 收货地址：
                  .col-sm-10
                    h5= address.location+address.address
                .form-group
                  label.col-sm-2.control-label 联系电话：
                  .col-sm-10
                    h5= address.mobile
                .form-group
                  label.col-sm-2.control-label 收件人：
                  .col-sm-10
                    h5= address.username
                .form-group
                  label.col-sm-2.control-label 银行名称：
                  .col-sm-10
                    h5= address.bankName
                .form-group
                  label.col-sm-2.control-label 银行开户人姓名：
                  .col-sm-10
                    h5= address.accountHolder
                .form-group
                  label.col-sm-2.control-label 银行卡号：
                  .col-sm-10
                    h5= address.bankCardNumber
                .form-group
                  label.col-sm-2.control-label 支付宝户名：
                  .col-sm-10
                    h5= address.alipayHolder
                .form-group
                  label.col-sm-2.control-label 支付宝账号：
                  .col-sm-10
                    h5= address.alipay
