//- 字段详情/pages/thread/singlePost/singlePost.pug
if !isIncluded('singlePostTop')
  div(id='notice-dialog')
    Draggable(title='回复新版本公告' ref="noticeDialog" max-Width="40rem" )
      div(slot="content" id='notice-content')
        div(v-for="notice in postNotices" v-if="postNotices.length !==0")
          .post-notice(:class="notice.status === 'shield' ? 'shield-box': ''")
            .shield-box-span(v-if="notice.status === 'shield'" )
              span(v-if="notice.reason" ) 已屏蔽 原因：{{ notice.reason }}
              span(v-else) 已屏蔽
            .post-notice-head.m-b-05
              a(:href="`/u/${notice.user.uid}/profile/moment`")
                img.notice-user-banned.m-r-05(
                  data-global-mouseover="showUserPanel"
                  data-global-mouseout="hideUserPanel"
                  :data-global-data="getObjToStr({uid:notice.user.uid})"
                  :src="notice.user.avatar")
              From-Now(:time="notice.toc")
              .notice-float
                a.m-r-05(v-if="shieldNotice && notice.status === 'normal'" @click='disabledNotice(notice.pid, notice.nid,true)') 屏蔽
                a.m-r-05(v-if="shieldNotice && notice.status === 'shield'" @click="disabledNotice(notice.pid, notice.nid,false)") 解除屏蔽
                a.m-r-05(v-if="canEditNotice && notice.status === 'normal'" @click='editNotice(notice.pid, notice.nid,notice.noticeContent)') 编辑
                a.m-r-05(v-if="postHistory !==null && notice.hid " :href="`/p/${notice.pid}/history?t=detail&c=${notice.hid}`") 详情
            .post-notice-content
              span {{notice.noticeContent}}
        .empty(v-if="postNotices.length ===0") ~~空空如也
  include ../../publicModules/mixin.pug
    +includeJS('/thread/singlePost/singlePostNotice.js')
  mixin singlePostTop(props)
    -var {pid, docNumber, username, toc, uid, avatar, home, gradeId, gradeName, banned, userHome, gradeIconUrl ,repliesWithNotice} = props;
    -var {reason, reviewed, isAuthor, floor, digest, tlm} = props;
    -var {cancelTopped, url, addr, homeUrl} = props;
    .single-post-top
      .single-post-avatar(
        data-global-mouseover="showUserPanel"
        data-global-mouseout="hideUserPanel"
        data-global-data=objToStr({uid})
        )
        img(src=avatar class=banned?'user-banned-avatar':'')
      .single-post-user
        .single-post-username
          a(
            data-anonymous=!uid
            href=userHome
            target='_blank'
            data-global-mouseover="showUserPanel"
            data-global-mouseout="hideUserPanel"
            data-global-data=objToStr({uid})
          )=username
          if !banned
            include ../../user/grade
            +userGrade(gradeId, gradeName, gradeIconUrl)
          if digest
            span.post-digest.fa.fa-star(title='精选内容')
          if isAuthor
            span 作者
          if cancelTopped
            span.single-post-cancel-topped(onclick=`topPost('${pid}', false)`) 取消置顶
          if repliesWithNotice && repliesWithNotice.includes(pid)
            i.fa.fa-bookmark-o.new-post-notice( aria-hidden="true" title="点击查看新版本公告")
        .single-post-toc
          +fromNow(toc)
          if tlm
            | &nbsp;修改于&nbsp;
            +fromNow(tlm)
          span=` IP:${addr}`
      .single-post-floor
        .doc-number
          include ../../publicModules/docNumber
          +docNumberCore(docNumber)
        .doc-order
          a(href=homeUrl || url)=floor + '楼'
          .single-post-checkbox
            label
              input(type='checkbox' data-pid=pid)
