//- 字段详情/pages/thread/singlePost/singlePost.pug
if !isIncluded('singlePostQuote')
  mixin singlePostQuote(quote)
    -var {pid, uid, username, floor, content} = quote;
    blockquote.quote-post
      .quote-position
        | 引用
        a(
          data-anonymous=!uid
          href=tools.getUrl('userHome', uid)
          target="_blank"
          data-float-uid=uid
          )=username
        | 发表于
        a(href=tools.getUrl('post', pid, true) target="_blank")=floor
        | 楼的内容
      .quote-content=content
