//- 字段详情/pages/thread/singlePost/singlePost.pug
if !isIncluded('singlePostTop')
  mixin singlePostTop(props)
    -var {pid, username, toc, uid, avatar, home, gradeId, gradeName, banned, userHome, gradeIconUrl} = props;
    -var {reason, reviewed, isAuthor, floor, digest, tlm} = props;
    -var {cancelTopped, url, addr} = props;
    .single-post-top
      .single-post-avatar(
        data-global-mouseover="showUserPanel"
        data-global-mouseout="hideUserPanel"
        data-global-data=objToStr({uid})
        )
        img(src=avatar class=banned?'user-banned-avatar':'')
      .single-post-user
        .single-post-username
          a(
            data-anonymous=!uid
            href=userHome
            target='_blank'
            data-global-mouseover="showUserPanel"
            data-global-mouseout="hideUserPanel"
            data-global-data=objToStr({uid})
          )=username
          if !banned
            include ../../user/grade
            +userGrade(gradeId, gradeName, gradeIconUrl)
          if digest
            span.post-digest.fa.fa-star(title='精选内容')
          if isAuthor
            span 作者
          if cancelTopped
            span.single-post-cancel-topped(onclick=`topPost('${pid}', false)`) 取消置顶
        .single-post-toc
          +fromNow(toc)
          if tlm
            | &nbsp;修改于&nbsp;
            +fromNow(tlm)
          span=` IP:${addr}`
      .single-post-floor
        a(href=url)=floor + '楼'
        .single-post-checkbox
          label
            input(type='checkbox' data-pid=pid)
