extends ../../experimental
block eTitle
  title 分享设置
block eContent
  #data.hidden=objToStr({shareSettings: data.shareSettings})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12#app(v-cloak)

        mixin form(type)
          -var name = data.shareTypes[type];
          tr
            th=name
            th
              input.form-control(type='text' v-model.number=`shareSettings.${type}.countLimit`)
            th
              input.form-control(type='text' v-model.number=`shareSettings.${type}.timeLimit`)
            th
              .radio
                label.m-r-1
                  input(type='radio' :value='true' v-model=`shareSettings.${type}.status`)
                  span 开启
                label
                  input(type='radio' :value='false' v-model=`shareSettings.${type}.status`)
                  span 关闭
        h4 分享设置
        .table-responsive
          table.table.table-bordered.nkc-table
            thead
              tr
                th 类型
                th 次数限制
                th 时间限制（小时）
                th 状态

            tbody
              for type, index in data.shareSettings
                +form(index)
        div
          button.btn.btn-primary(@click='submit') 保存
block scripts
  +includeJS('/experimental/settings/share/share.js')
