extends ../../bootstrap_base
block title
  +includeCSS("/app/nav/nav.css")
block content
  -var avatarUrl = tools.getUrl('userAvatar', data.user.avatar);
  -var bannerUrl = tools.getUrl('userBanner', data.user.banner);
  .app-nav
    //.nav-header
      .nav-header-icon.nav-back(onclick='closeWin()')
        .fa.fa-arrow-left
    .nav-user
      .user-avatar
        img(
          src=avatarUrl
          data-global-click='viewImage'
          data-global-data=objToStr({name: 'avatar', url: avatarUrl})
          id="userAvatar")
      .user-info
        .user-name(id="username")=data.user.username
        .user-certs
          img(src=tools.getUrl("gradeIcon", data.user.grade._id))
          span=data.userCertsName
        .user-description(id="userDescription")=data.user.description || "未填写个人简介"
    .nav-banner-mask(data-global-click='viewImage' data-global-data=objToStr({name: 'banner', url: bannerUrl}))
    .nav-banner(style=`background-image: url(${bannerUrl})` id="userBanner")
    .nav-content
      .nav-scores
        include ../../publicModules/userScores
        +userScores(data.userScores)
      .nav-numbers
        a.nav-number(href=`/u/${data.user.uid}/profile/thread`)
          .name 文章
          .value(id="userThreadCount")=data.user.threadCount - data.user.disabledThreadsCount
        a.nav-number(href=`/u/${data.user.uid}/profile/post`)
          .name 回复
          .value(id="userPostCount")=data.user.postCount - data.user.disabledPostsCount
        a.nav-number
          .name 学术分
          .value(id="userXSF")=data.user.xsf
      .account-code=`动态码：${data.code}`
      .nav-links
        a.nav-link(href=`/u/${data.user.uid}`)
          .icon-left
            .fa.fa-user-circle
          span 我的名片
          .icon-right
            .fa.fa-angle-right
        if data.userColumn
          a.nav-link(href=`/m/${data.userColumn._id}`)
            .icon-left
              .fa.fa-columns
            span 我的专栏
            .icon-right
              .fa.fa-angle-right
        else if data.user && data.columnPermission
          a.nav-link(href=`/column/apply`)
            .icon-left
              .fa.fa-columns
            span 开设专栏
            .icon-right
              .fa.fa-angle-right
        a.nav-link(href=`/sticker`)
          .icon-left
            .fa.fa-smile-o
          span 我的表情
          .icon-right
            .fa.fa-angle-right
        if data.appsData && data.appsData.length > 0
          .nav-link-header 应用
          .nav-apps
            for a in data.appsData
              a.nav-app(href=a.url)
                img(src=a.icon)
                .name=a.name
        .nav-link-header 交易管理
        a.nav-link(href=`/shop/cart`)
          .icon-left
            .fa.fa-shopping-cart
          span 购物车
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/shop/order`)
          .icon-left
            .fa.fa-file-text-o
          span 我的订单
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/shop/manage/order`)
          .icon-left
            .fa.fa-archive
          span 我出售的
          .icon-right
            .fa.fa-angle-right
        .nav-link-header 资料设置
        a.nav-link(href=`/u/${data.user.uid}/settings/info`)
          .icon-left
            .fa.fa-list-alt
          span 基本资料
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/u/${data.user.uid}/settings/resume`)
          .icon-left
            .fa.fa-id-card-o
          span 详细资料
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/u/${data.user.uid}/settings/transaction`)
          .icon-left
            .fa.fa-usd
          span 交易信息
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/u/${data.user.uid}/profile/blacklist`)
          .icon-left
            .fa.fa-minus-circle
          span 黑名单
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/u/${data.user.uid}/settings/security`)
          .icon-left
            .fa.fa-shield
          span 账号安全
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/u/${data.user.uid}/settings/verify`)
          .icon-left
            .fa.fa-id-card
          span 身份认证
          .icon-right
            .fa.fa-angle-right
        a.nav-link(href=`/u/${data.user.uid}/settings/apps`)
          .icon-left
            .fa.fa-cubes
          span 偏好设置
          .icon-right
            .fa.fa-angle-right
        if data.managementData && data.managementData.length > 0
          .nav-link-header 网站管理
          for m in data.managementData
            a.nav-link(href=m.url target="_blank")
              .icon-left
                .fa(class=m.webIcon)
              span=m.name
              .icon-right
                if m.count
                  .icon-count=m.count
                .fa.fa-angle-right
          .nav-link-header 其他
          a.nav-link(href=`/f` target='_blank')
            .icon-left
              .fa.fa-map
            span 专业地图
            .icon-right
              .fa.fa-angle-right
          a.nav-link(href=`/problem/add` target='_blank')
            .icon-left
              .fa.fa-bug
            span 报告问题
            .icon-right
              .fa.fa-angle-right
          a.nav-link(onclick="openUpgradePage()" target='_blank')
            .icon-left
              .fa.fa-cube
            span 检查更新
            .icon-right
              .fa.fa-angle-right
      .nav-logout(onclick="logout()")
        .fa.fa-sign-out &nbsp;
        span 退出登录
    .nav-footer
block scripts
  +includeJS("/app/nav/nav.js")

