.search-result
  a(href=result.link target="_blank").clear-a-style.search-result-title!= result.title
  .search-result-info
    a.clear-a-style.search-result-author(href=`/u/${result.postUser.uid}`)
      img(src=`/avatar/${result.postUser.uid}?t=sm`)
      span=result.postUser.username
    .search-result-time=fromNow(result.postTime)
    span 发表于
    for forum in result.forums
      a.clear-a-style.search-result-forum(href=`/f/${forum.fid}`)=forum.displayName

  .search-result-abstract!= result.abstract
