.search-result
  if ["thread", "post"].includes(result.docType)
    if result.docType === "thread"
      .checkbox.thread-checkbox(style="display: inline;")
        label
          input(type="checkbox" data-thread-id=result.tid data-post-id=result.oc)
    a(href=result.link target="_blank").clear-a-style.search-result-title!= result.title
    .search-result-info
      if !result.anonymous
        a.clear-a-style.search-result-author(href=`/u/${result.postUser.uid}`)
          img(src=tools.getUrl('userAvatar', result.postUser.avatar, 'sm'))
          span=result.postUser.username
      else
        span.clear-a-style.search-result-author
          img(src=anonymousInfo.avatar)
          span.anonymous-name=anonymousInfo.username
      .search-result-time=fromNow(result.postTime)
      span=result.docType==="thread"?"发表于":"回复于"
      for forum in result.forums
        a.clear-a-style.search-result-forum(href=`/f/${forum.fid}`)=forum.displayName

    .search-result-abstract!= result.abstract
  else if result.docType === "user"
    .search-result-user-panel
      .box-shadow-panel
        div(style="max-width: 100%;width: 70rem;")
          .search-result-avatar
            a(href=`/u/${result.user.uid}` target="_blank")
              img(src=tools.getUrl('userAvatar', result.user.avatar))
          .search-result-user-info
            .display-i-b.m-r-05
              a.clear-a-style(href=`/u/${result.user.uid}` target="_blank").search-result-username!=result.username
                -let targetUser = result.user;
              .display-i-b
                include ../user/module_user_grade
              if data.user && result.user.uid !== data.user
                .display-i-b
                  if data.user.subUid.includes(result.user.uid)
                    button.btn.btn-xs.btn-default(onclick=`SubscribeTypes.subscribeUser('${result.user.uid}', false)`) 取关
                  else
                    button.btn.btn-xs.btn-default(onclick=`SubscribeTypes.subscribeUser('${result.user.uid}', true)`) 关注
                  a.m-l-05.btn.btn-xs.btn-default(href=`/message?uid=${result.user.uid}` target="_blank") 私信
              .search-result-certs=result.user.info.certsName
              .search-result-post
                div
                  .count=targetUser.threadCount - targetUser.disabledThreadsCount
                  .title 文章
                div
                  .count=targetUser.postCount - targetUser.disabledPostsCount
                  .title 回复
                div
                  .count=targetUser.xsf
                  .title 学术分
            .display-i-b
              .search-result-time
                div=`注册时间：${targetUser.toc.toLocaleString()}`
                div(title=targetUser.toc.toLocaleString())=`最后活动：${fromNow(targetUser.tlv)}`
              .search-result-description!=result.description
  else if result.docType === "column"
    .search-result-user-panel
      .box-shadow-panel
        div(style="max-width: 100%;width: 70rem;")
          .search-result-avatar
            a(href=`/m/${result.column._id}` target="_blank")
              img(src=tools.getUrl('columnAvatar', result.column.avatar))
          .search-result-user-info
            .display-i-b.m-r-1
              a.clear-a-style(href=`/m/${result.column._id}` target="_blank").search-result-username!=result.name
              -let targetUser = result.user;
              if data.user
                .display-i-b
                  if state.subColumnsId.includes(result.column._id)
                    button.btn.btn-xs.btn-default(onclick=`SubscribeTypes.subscribeColumn('${result.column._id}', false)`) 已关注
                  else
                    button.btn.btn-xs.btn-default(onclick=`SubscribeTypes.subscribeColumn('${result.column._id}', true)`) 关注
              .m-t-05 专栏主：
                a(href=`/u/${result.column.uid}` target="_blank")=result.column.user.username
              .m-t-05=`关注人数：${result.column.subCount}`
            .display-i-b
              .search-result-time
                div=`开设时间：${result.column.toc.toLocaleString()}`
              .search-result-description.m-t-05!=result.abbr

  else if result.docType === "columnPage"
    a(href=`/m/${result.page.columnId}/page/${result.page._id}` target="_blank").clear-a-style.search-result-title!= result.t
    .search-result-info
      a.clear-a-style.search-result-author(href=`/m/${result.page.columnId}`)
        img(src=tools.getUrl('columnAvatar', result.column.avatar))
        span=result.column.name
      span 专栏
      .search-result-time=fromNow(result.page.toc)
      if !result.page.t
        a(href=`/m/${result.page.columnId}/page/${result.page._id}` target="_blank")
          b 阅读原文
    .search-result-abstract!= result.c
  else if result.docType === "resource"
    a(onclick=`showResource('${result.resource._id}')`).pointer.clear-a-style.search-result-title!= result.t
    .search-result-info
      a.clear-a-style.search-result-author(href=`/u/${result.resource.uid}`)
        img(src=tools.getUrl("userAvatar", result.resource.user.avatar, "sm"))
        span=result.resource.user.username
      .search-result-time=fromNow(result.resource.tlm || result.resource.toc)
    .search-result-abstract= "文件：" + (result.c || "暂无简介")
    .search-result-info.resource
      a(href=`/r/${result.resource.rid}` target="_blank")
        .fa.fa-cloud-download &nbsp;
        | 立即下载&nbsp;
      div=`${(result.resource.ext || "未知").toUpperCase()} ${tools.getSize(result.resource.size)}`
