extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/experimental/index.css' rel='stylesheet')
  link(rel='stylesheet' href='/jquery/jquery.minicolors.css')
  link(rel='stylesheet' href='/jcrop/css/jquery.Jcrop.min.css')
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
  title 网站首页设置
block content

  .container-fluid.max-width
    .row
      include ../nav
      .col-xs-12.col-md-2
        .list-group
          a.list-group-item(class=data.type==='top'?'active': '' href=`/e/settings/home/top`) 置顶
          a.list-group-item(class=data.type==='logo'?'active': '' href=`/e/settings/home/logo`) LOGO
          a.list-group-item(class=data.type==='notice'?'active': '' href=`/e/settings/home/notice`) 网站公告
          a.list-group-item(class=data.type==='list'?'active': '' href=`/e/settings/home/list`) 首页文章列表
      .col-xs-12.col-md-10
        if data.type === 'top'
          if data.ads.length === 0
            h4 暂无首页置顶文章
          .row
            -let n = 0;
            for thread in data.ads
              -n++;
              .col-xs-6.col-sm-4.col-md-3
                .row
                  .col-xs-12.col-xs-12
                    h5(style='height: 1em;overflow:hidden;')
                      a(href=`/t/${thread.tid}` target='_blank' title=thread.firstPost.t)= thread.firstPost.t
                  .col-xs-12.col-xs-12
                    img(src=`/cover/${thread.tid}` style=`width:100%;`)
                  .col-xs-12.col-md-12
                    span 序号
                    input(style='display:inline-block;width: 5rem;margin: 0.5rem 0;padding-left: 0.8rem;' value=n data-tid=thread.tid name='threadOrder' type='number')
                    if data.userOperationsId.includes('unHomeTop')
                      button.btn.btn-default.btn-sm(onclick=`unHomeTop("${thread.tid}")`) 移除
            .col-xs-12.col-sm-12.col-md-12(style='margin-top: 1rem;')
              button.btn.btn-primary(onclick='saveAdsOrder()') 保存
        else if data.type === 'notice'
          h4 网站公告
          for thread, index in data.noticeThreads
            div(style='margin: 0.5rem 0;')
              a(href=`/t/${thread.tid}` target='_blank')= `${index+1}. ${thread.firstPost.t}`
              button.btn.btn-danger.btn-sm(onclick=`removeNotice("${thread.oc}")`) 移除

          h5 请输入文号，以英文逗号（,）分隔
          .from
            .form-group
              textarea.form-control#threadId(placeholder='文号' rows=8)= data.homeSettings.noticeThreadsId?data.homeSettings.noticeThreadsId.join(','): ''
            .form-group
              button.btn.btn-default(onclick='saveNotice()') 保存

        else if data.type === 'list'
          .hidden#data=objToStr({homeSettings: data.homeSettings})
          .row#app(v-cloak)
            .col-xs-12.col-md-12
              .form
                .form-group
                  h4 一、首页可显示文章的专业类型
                  .checkbox
                    span 话题
                    label
                      input(type='checkbox' value="topic" v-model="list")
                    span 学科
                    label
                      input(type='checkbox' value="discipline" v-model="list")
                .form-group
                  h4 二、游客首页文章列表文章来源
                  .radioBox
                    span 最新
                    label
                      input(type='radio' value="latest" v-model="homeSettings.visitorThreadList")
                    span.m-l-1 推荐
                    label
                      input(type='radio' value="recommend" v-model="homeSettings.visitorThreadList")
                .form-group.form-inline
                  h4 三、热门文章
                  h5 回复数不低于：
                    input.form-control(type="text" v-model.number="homeSettings.hotThreads.postCount")
                  h5
                    span 回复用户的总数(已去重)不低于：
                    input.form-control(type="text" v-model.number="homeSettings.hotThreads.postUserCount")
                .form-group.form-inline
                  h4 四、推荐条件
                  h5
                    span 1、
                    span 精选文章
                    label
                      input(type='checkbox' value="featuredThreads" v-model="recommend")
                  h5
                    span 2、热门文章
                    label
                      input(type='checkbox' value="hotThreads" v-model="recommend")
                  h5
                    span 3、点赞总数不低于
                    input.form-control(type='text' v-model.number='homeSettings.recommend.voteUpTotal')
                  h5
                    span 4、独立点赞数不低于
                    input.form-control(type='text' v-model.number='homeSettings.recommend.voteUpMax')
                  h5
                    span 5、鼓励次数不低于
                    input.form-control(type='text' v-model.number='homeSettings.recommend.encourageTotal')
                .form-group
                  h5.text-danger(v-if="error") {{error}}
                  h5.text-success(v-if="info") {{info}}
                  button.btn.btn-primary(@click="save") 保存

        else
          .row
            .col-xs-12.col-md-4.col-md-offset-1
              h4 默认大图
              img(src=`/logo/${data.homeSettings.logo}`)
            .col-xs-12.col-md-4.col-md-offset-2
              h4 默认小图
              img(src=`/logo/${data.homeSettings.smallLogo}`)
            .col-xs-12.col-md-12
              hr
              h4 所有
              for logoId in data.homeSettings.logos
                div(style='display:inline-block; margin-right: 1rem;margin-bottom: 2rem;').text-center
                  img(src=`/logo/${logoId}` style='height: 15rem;margin-bottom:0.5rem;')
                  div
                    button.btn.btn-sm.btn-default(onclick=`defaultLogo("${logoId}", "logo")`) 设为默认大图
                    button.btn.btn-sm.btn-default(onclick=`defaultLogo("${logoId}", "smallLogo")`) 设为默认小图
                    button.btn.btn-sm.btn-danger(onclick=`deleteLogo("${logoId}")`) 删除
            .col-xs-12.col-md-12
              hr
              .row
                .col-xs-12.col-md-4
                  h4 水印透明度
                    small &nbsp;取值范围：[ 0, 255 ]
                  .form-inline
                    .form-group
                      input.form-control#watermarkTransparency(type='number' value=data.homeSettings.watermarkTransparency)
                      button.btn.btn-primary(onclick='saveWaterMarkSettings()') 保存
            .col-xs-12.col-md-12
              hr
              input#inputFile(type='file' accept="image/*").hidden
              h5.text-danger 建议默认大图宽高分别为：170px、90px
              h5.text-danger 建议默认小图宽高分别为：30px、30px
              button.btn.btn-primary.btn-lg(onclick='$("#inputFile").click();') 上传图片




block scripts
  script(src=`/jcrop/js/jquery.Jcrop.min.js?v=${global.NKC.startTime}`)
  script(src=`/jquery/jquery.minicolors.js?v=${NKC.startTime}`)
  script(src='/icheck/icheck.js')
  script(src=`/interface_common.js?v=${NKC.startTime}`)
  script(src=`/experimental/settings/home.js?v=${NKC.startTime}`)




