.col-xs-12.col-md-2
  .list-group
    a.list-group-item(href=`/e/settings/operation` class=data.operationType?'':'active') 所有操作
      span.badge= data.operations.length
    for type in data.operationTypes
      a.list-group-item(href=`/e/settings/operation/${type._id}` type="button" class=data.operationType && data.operationType._id === type._id ? 'active' : '')= type.displayName
        if type.operationCount > 0
          span.badge= type.operationCount
  button.btn.btn-default.btn-block(onclick='addOperationType()') 新建分类
  if data.operationType
    button.btn.btn-default.btn-block(onclick=`modifyOperationType(${data.operationType?data.operationType._id:''})`) 修改当前分类名称
    button.btn.btn-danger.btn-block(onclick=`deleteOperationType(${data.operationType?data.operationType._id: ''})`) 删除当前分类
.col-xs-12.col-md-10
  -let operations;
  .hidden#data= JSON.stringify({types: data.operationTypes})
  if data.operationType
    -operations = data.operationType.operations;
    .form-inline
      button.btn.btn-default(onclick=`deleteOperations(${data.operationType._id})`) 移除已标记的操作
  else
    -operations = data.operations;
    .form-inline
      lable 将已标记的操作移动到
      select.form-control#operationSelect
        for operationType in data.operationTypes
          option= operationType.displayName
      button.btn.btn-default(onclick='moveOperations()') 移动
  table.table.table-hover
    thead
      tr
        th 序号
        th 操作名
        th 操作介绍
        th 错误提示
        th
        th
    tbody
      -let n = 0;
      for operation in operations
        -n++;
        tr
          th= n
          th= operation._id
          th= operation.description
          th= operation.errInfo
          th
            button(onclick=`editorOperation("${operation._id}", "${operation.description}", "${operation.errInfo}")`) 修改
          th
            label
              .icheckbox
                input(type='checkbox' name='selectOperation' data-operation=operation._id )
  if operations.length === 0
    div.text-center(style='padding: 3rem;font-size: 2rem;color: #aaa;') 暂无操作