extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/experimental/index.css' rel='stylesheet')
  title 协议设置
block content
  style.
    .dl-horizontal dt{
      margin-bottom: 10px;
    }
  .container-fluid.max-width
    .row
      include ../nav
      .col-xs-12.col-md-2
        #content
          .list-group
            for protocol in data.protocols
              a.list-group-item(title=protocol.protocolName href=`/e/settings/protocol/${protocol.protocolTypeId}` type="button" class=protocol.protocolTypeId === data.type ? 'active' : '')!=`${protocol.protocolTypeName}(ID: ${protocol.protocolTypeId})`
          .list-group
            a.btn.btn-default.btn-block(href='/e/settings/protocol') 新增协议
            if data.type && data.type !== "add"
              button.btn.btn-info.btn-block(onclick=`turnProtocolUpdate('${data.type}')`) 修改当前协议
              button.btn.btn-danger.btn-block(onclick=`deleteProtocol('${data.type}')`) 删除当前协议
      if data.visitType && data.visitType == "update"
        .col-xs-12.col-md-9
          .row
            .col-xs-12.col-md-12
              .form-horizontal
                .form-group
                  label.col-sm-2.control-label 协议名称
                  .col-sm-10
                    input#protocolName.form-control( placeholder='请输入协议名称，50个字以内' value=`${data.protocol.protocolName}`)    
                    h5.text-danger 请尽量精简明确。
                .form-group
                  label.col-sm-2.control-label 协议类型ID
                  .col-sm-10
                    input#protocolTypeId.form-control(data-type="type" placeholder='请输入协议ID，20个字节以内'  value=`${data.protocol.protocolTypeId}`)
                    h5.text-danger 唯一，由英文小写字母组成，不可有空格。
                .form-group
                  label.col-sm-2.control-label 协议类型名称
                  .col-sm-10
                    input#protocolTypeName.form-control( placeholder='请输入协议名称，20个字节以内'  value=`${data.protocol.protocolTypeName}`)
                    h5.text-danger 唯一，由中文组成，不可有空格。
                .form-group
                  .hidden#protocolHide= data.protocol.protocolContent
                  label.col-sm-2.control-label 协议内容
                  .col-sm-10
                    // 加载编辑器的容器
                    script#container(name='content', type='text/plain')
            .col-xs-12.col-md-12(style="text-align:end")
              button#updateEdit.btn.btn-warning.btn-sm(onclick=`updateProtocol('${data.protocol.protocolTypeId}')`) 保存修改
      else
        if !data.type || data.type == "add"
          .col-xs-12.col-md-9
            .row
              .col-xs-12.col-md-12
                .form-horizontal
                  .form-group
                    label.col-sm-2.control-label 协议名称
                    .col-sm-10
                      input#protocolName.form-control( placeholder='请输入协议名称，50个字以内' max-length)    
                      h5.text-danger 请尽量精简明确。
                  .form-group
                    label.col-sm-2.control-label 协议类型ID
                    .col-sm-10
                      input#protocolTypeId.form-control(data-type="type" placeholder='请输入协议ID，20个字节以内')
                      h5.text-danger 唯一，由英文小写字母组成，不可有空格。
                  .form-group
                    label.col-sm-2.control-label 协议类型名称
                    .col-sm-10
                      input#protocolTypeName.form-control( placeholder='请输入协议名称，20个字节以内')
                      h5.text-danger 唯一，由中文组成，不可有空格。
                  .form-group
                    label.col-sm-2.control-label 协议内容
                    .col-sm-10
                      // 加载编辑器的容器
                      script#container(name='content', type='text/plain')
              .col-xs-12.col-md-12(style="text-align:end")
                button#updateAdd.btn.btn-primary.btn-sm(onclick="addProtocol()") 保存
        else
          .col-xs-12.col-md-9
            .row
              .col-xs-12.col-md-12
                dl.dl-horizontal
                  dt 协议名称
                  dd!=`${data.protocol.protocolName}`
                  dt 协议类型ID
                  dd!=`${data.protocol.protocolTypeId}`
                  dt 协议类型名称
                  dd!=`${data.protocol.protocolTypeName}`
                  dt 协议内容
                  dd!=`${data.protocol.protocolContent}`


block scripts
  include ../../publicModules/selectResource/selectResource
  include ../../publicModules/selectDraft/selectDraft
  include ../../publicModules/sticker/selectSticker
  +includeJS("/commonmark/dist/commonmark.js")
  +includeJS("/plain_escaper.js")
  +includeJS("/xbbcode-parser/xbbcode.js")
  +includeJS("/xss/dist/xss.js")
  +includeJS("/interface_common.js")
  +includeJS("/nkc_render.js")
  include ../../ueditor/ueditorBase.pug
  script.
    var ue = UE.getEditor('container', NKC.configs.ueditor.experimentalProtocol);
  +includeJS("/experimental/settings/protocol.js")

