extends ../experimental
block eTitle
  title 奖励设置
block eContent
  .container-fluid.max-width
    #data.hidden=objToStr({redEnvelopeSettings: data.redEnvelopeSettings, draftFee: data.draftFee, share: data.share})
    .row#app(v-cloak)
      .col-xs-12.col-md-12
        h4 一、随机红包设置
        span 每天第一次发表文章或回复将获得一次抽奖机会
      .col-xs-12.col-md-12
        span 总开关：
        .checkbox(style='display:inline-block;')
          | 开
          input(type='radio' value='false' v-model='random.close')
          | &nbsp;&nbsp;&nbsp;
          | 关
          input(type='radio' value='true' v-model='random.close')
      .col-xs-12.col-md-12
        h5 弹出概率(%)：
          input(type="text" v-model.number="random.chance")
      .col-xs-12.col-md-12
        table.table.table-bordered
          //-(style='font-size:1rem;')
          thead
            tr
              th 序号
              th 奖名
              th=`奖金(${data.postRewardScore.name}/${data.postRewardScore.unit})`
              th 概率(%)
              th 正负浮动(%)
              th 其他
          tbody
            tr(v-for='(award, index) in random.awards')
              th
                span {{index + 1}}&nbsp;
              th
                input(v-model='award.name')
              th
                input(v-model.number='award.kcb')
              th
                input(v-model.number='award.chance')
              th
                input(v-model.number='award.float')
              th
                button(@click='remove(index)') 删除
                button(@click='add(index)') 添加
        button.btn.btn-default(@click='add(random.awards.length)') 添加
      .col-xs-12.col-md-12
        br
        br
        h4 二、精选稿费设置
      .col-xs-12.col-md-12
        span 总开关：
          .checkbox(style='display:inline-block;')
            | 开
            input(type='radio' value='false' v-model='draftFee.close')
            | &nbsp;&nbsp;&nbsp;
            | 关
            input(type='radio' value='true' v-model='draftFee.close')
      .col-xs-12.col-md-12.form-inline
        .form-group
          span=`红包默认数额(${data.digestRewardScore.name}/${data.digestRewardScore.unit})：`
          input.form-control(v-model='draftFee.defaultCount')
        .form-group
          span 最小值：
          input.form-control(v-model='draftFee.minCount')
        .form-group
          span 最大值：
          input.form-control(v-model='draftFee.maxCount')
      .col-xs-12.col-md-12
        br
        br
        h4 三、分享奖励设置
      .col-xs-12.col-md-12.form-inline
        table.table.table-bordered
          thead
            tr
              th 类型
              th=`单次点击奖励（${data.shareRewardScore.name}/${data.shareRewardScore.unit}）`
              th=`同一分享奖励上限（${data.shareRewardScore.name}/${data.shareRewardScore.unit}）`
              th 每天分享次数上限（超过后不给予奖励）
              th 状态
          tbody
            tr(v-for='s in share' v-if="s.name !== '注册'")
              th {{s.name}}
              th
                input(v-model.number='s.kcb')
              th
                input(v-model.number='s.maxKcb')
              th
                input(v-model.number='s.count')
              th
                div(v-if='s.status')
                  span 已开启
                  button(@click='s.status = false') 关闭
                div(v-else)
                  span 已关闭
                  button(@click='s.status = true') 打开
        h5.text-danger=`当游客点击分享链接并且发生注册行为后，系统将根据以下设置给予分享者${data.shareRewardScore.name}奖励。`
        table.table.table-bordered
          thead
            tr
              th 类型
              th=`单次注册奖励（${data.shareRewardScore.name}/${data.shareRewardScore.unit}）`
              th=`同一分享获得注册奖励上限（${data.shareRewardScore.name}/${data.shareRewardScore.unit}）`
              th=`每天获得注册奖励上限（${data.shareRewardScore.name}/${data.shareRewardScore.unit}）`
              th 状态
          tbody
            tr(v-for='s in share' v-if="s.name === '注册'")
              th {{s.name}}
              th
                input(v-model.number='s.kcb')
              th
                input(v-model.number='s.maxKcb')
              th
                input(v-model.number='s.count')
              th
                div(v-if='s.status')
                  span 已开启
                  button(@click='s.status = false') 关闭
                div(v-else)
                  span 已关闭
                  button(@click='s.status = true') 打开

      .col-xs-12.col-md-12
        br
      .col-xs-12.col-md-12
        button.btn.btn-primary(@click='save') 保存

block scripts
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/experimental/settings/redEnvelope.js?v=${global.NKC.startTime}`)




