extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(rel='stylesheet' href='/jquery/jquery.minicolors.css')
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
  link(href='/experimental/index.css' rel='stylesheet')
  title 积分设置
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      include ../nav
      .col-xs-12.col-md-2
      .col-xs-12.col-md-10
        table.table
          thead
            tr
              th 操作名
              th 每天次数
              th 科创币
              th
          tbody
            for type in data.typesOfScoreChange
              tr
                th= type.description
                th
                  input(value=type.count||0 type='number')
                th
                  input(value=type.change||0 type='number')
                th
                  if type.count === -1
                    span=`无限次数 | 每次 ${type.change > 0?'+'+type.change: type.change}`
                  else
                    span=`每天 ${type.count} 次 | 每次 ${type.change > 0 ? '+' + type.change : type.change}`
      //-
        .col-xs-12.col-md-4
          #content
            .list-group
              -let n = 0;
              mixin operationPanel(operation)
                -n++;
                -selected = data.scoreSettings.operationsId.includes(operation._id)
                a.list-group-item(href=`/e/settings/score?type=${operation._id}` type='button' class=selected ? 'list-group-item-info' : '' style='cursor: pointer;')
                  strong= `${n}. `
                  span= `${operation.description}（${operation._id}）`
                  if operation.kcb.status
                    span - 科创币 -
                  if operation.xsf.status
                    span - 学术分 -
              for operation in data.scoreOperations
                +operationPanel(operation)
              for operation in data.operations
                +operationPanel(operation)
        .col-xs-12.col-md-8
          .panel.panel-default
            .panel-heading
              span= data.operation.description
            .panel-body
              -const operation = data.operation;
              table.table
                thead
                  tr
                    th 类型
                    th 受影响的人
                    th 每天有效次数
                    th 分数变化
                    th 开启
                tbody
                  tr
                    th
                      h4 科创币
                    th
                      span 操作者
                      br
                      span 被操作者
                    th
                      input.kcb(type='number' name='count' value=operation.kcb.count)
                      br
                      input.kcb(type='number' name='targetCount' value=operation.kcb.targetCount)
                    th
                      input.kcb(type='number' name='change' value=operation.kcb.change)
                      br
                      input.kcb(type='number' name='targetChange' value=operation.kcb.targetChange)
                    th
                      label
                        .icheckbox
                          if operation.kcb.status
                            input.kcb(type='checkbox' name='selectOperation' checked=true)
                          else
                            input.kcb(type='checkbox' name='selectOperation')
                  tr
                    th
                      h4 学术分
                    th
                      span 操作者
                      br
                      span 被操作者
                    th
                      input.xsf(type='number' name='count' value=operation.xsf.count)
                      br
                      input.xsf(type='number' name='targetCount' value=operation.xsf.targetCount)
                    th
                      input.xsf(type='number' name='change' value=operation.xsf.change)
                      br
                      input.xsf(type='number' name='targetChange' value=operation.xsf.targetChange)
                    th
                      label
                        .icheckbox
                          if operation.xsf.status
                            input.xsf(type='checkbox' name='selectOperation' checked=true)
                          else
                            input.xsf(type='checkbox' name='selectOperation')

            button.btn.btn-primary(onclick=`saveOperation("${data.operation._id}")`) 保存

block scripts

  script(src='/icheck/icheck.js')
  script(src='/interface_common.js')
  script(src='/experimental/settings/score.js')




