extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/experimental/index.css' rel='stylesheet')
  if data.role
    title=`${data.role.displayName} | 用户管理`
  else
    title 用户管理
block content
  .container-fluid.max-width
    .row
      include ../nav
      .rol-xs-12.col-md-2
        .list-group
          a.pointer.list-group-item(href="/e/settings/user")
            span 普通信息管理
          a.pointer.list-group-item.active(href="/e/settings/sensitive")
            span 敏感信息管理
      .rol-xs-12.col-md-10
        .row#content
          .col-xs-12.col-md-12
            .form-inline(style='margin-bottom: 2rem;')
              .form-group
                select.form-control#searchType
                  option 用户名
                  option UID
                  option 手机号
                  option 邮箱
              .form-group
                input.form-control#searchInput(placeholder='请输入内容')
              .form-group
                button.btn.btn-primary.btn-block(type='submit' onclick='searchUser()') 搜索
          .col-xs-12.col-md-12
            table.table.table-hover(style='display: none;padding: 0.5rem;border: 1px solid #cccccc;')#searchResult
              thead
                tr
                  th 用户名
                  th 邮箱
                  th 国际区号
                  th 手机号
                  th
              tbody
          .col-xs-12.col-md-12
            include ../../interface_navigation_paging
            table.table.table-hover
              thead
                tr
                  th 用户名
                  th 邮箱
                  th 国际区号
                  th 手机号
                  th
              tbody
                for user in data.users
                  tr
                    th
                      img(src=tools.getUrl('userAvatar', user.avatar) style='width: 2rem;height: 2rem;margin-right: 0.5rem;border-radius: 50%;')
                      a(href=`/u/${user.uid}` target='_blank')= user.username || user.uid
                    th= user.email || (user.unverifiedEmail && user.unverifiedEmail + '(未验证)') || '无'
                    th= user.nationCode
                    th= user.mobile || (user.unverifiedMobile && user.unverifiedMobile + '(未验证)') || '无'
                    th
                      button.btn.btn-default.btn-sm(onclick=`editUserInfo('${user.uid}')`) 编辑
            include ../../interface_navigation_paging
block scripts
  include ../../publicModules/moment
  include ../../publicModules/modifyAccountSensitiveInfo
  +includeJS(`/experimental/settings/userSensitive.js`)


