extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/experimental/index.css' rel='stylesheet')
  if data.role
    title=`${data.role.displayName} | 用户管理`
  else
    title 用户管理
block content
  .container-fluid.max-width
    .row
      include ../nav
      .rol-xs-12.col-md-2
        .list-group
          a.pointer.list-group-item.active(href="/e/settings/user")
            span 普通信息管理
          a.pointer.list-group-item(href="/e/settings/sensitive")
            span 敏感信息管理
      .rol-xs-12.col-md-10
        .row#content
          if data.targetUser
            -const targetUser = data.targetUser;
            .col-xs-12.col-md-8.col-md-offset-2
              .row
                .form.form-horizontal
                  .form-group
                    label.col-sm-2.control-label UID
                    .col-sm-8
                      input.form-control(type='text' value=targetUser.uid disabled)
                  .form-group
                    label.col-sm-2.control-label 用户名
                    .col-sm-8
                      input.form-control#username(type='text' value=targetUser.username)
                  .form-group
                    label.col-sm-2.control-label 个人简介
                    .col-sm-8
                      textarea.form-control#description(type='text' rows=8)= targetUser.description
                  .form-group
                    label.col-sm-2.control-label 邮箱
                    .col-sm-8
                      input.form-control#email(type='text' value=targetUser.email)
                  .form-group
                    label.col-sm-2.control-label 国际区号
                    .col-sm-8
                      -const selectedNationCode = targetUser.nationCode;
                      include ../../interface_nation_code
                  .form-group
                    label.col-sm-2.control-label 手机号
                    .col-sm-8
                      input.form-control#mobile(type='text' value=targetUser.mobile)
                  .form-group
                    label.col-sm-2.control-label 角色
                    .col-sm-8
                      .col-sm-12
                        .row
                          for role in targetUser.roles
                            span(style=`display: inline-block;background-color: ${role.color};padding: 0.3rem 0.5rem;border-radius: 7px;margin: 0.5rem 0.3rem;color: #ffffff;`)= role.displayName
                      .col-sm-12
                        .form-inline
                          .form-group
                            select.form-control#removeSelect
                              for role in targetUser.roles
                                option= role.displayName
                            button.btn.btn-default(onclick=`editorRole("${targetUser.uid}", 'remove')`) 移除角色

                            select.form-control#addSelect
                              for role in data.roles
                                option= role.displayName
                            button.btn.btn-default(onclick=`editorRole("${targetUser.uid}", 'add')`) 添加角色
                  .form-group
                    label.col-sm-2.control-label
                    .col-sm-8
                      button.btn.btn-primary(type='text' onclick=`saveUserInfo(${targetUser.uid})`) 保存

          else
            .col-xs-12.col-md-12
              .form-inline(style='margin-bottom: 2rem;')
                .form-group
                  select.form-control#searchType
                    option 用户名
                    option UID
                    option 手机号
                    option 邮箱
                    option IP
                .form-group
                  input.form-control#searchInput(placeholder='请输入内容')
                .form-group
                  button.btn.btn-primary.btn-block(type='submit' onclick='searchUser()') 搜索
            .col-xs-12.col-md-12.m-b-1
              for role in data.roles
                if role._id !== 'visitor'
                  if data.t === role._id
                    span.m-r-1(style='font-size: 1.4rem;')=role.displayName
                  else
                    a.m-r-1(href=`/e/settings/user?t=${role._id}`)= role.displayName
            .col-xs-12.col-md-12
              table.table.table-hover(style='display: none;padding: 0.5rem;border: 1px solid #cccccc;')#searchResult
                thead
                  tr
                    th 用户名
                    th 文章
                    th 回复
                    th A卷
                    th B卷
                    th 注册方式
                    th 注册时间
                    th 注册IP
                    th
                tbody
            .col-xs-12.col-md-12
              include ../../interface_navigation_paging
              table.table.table-hover
                thead
                  tr
                    th 用户名
                    th 文章
                    th 回复
                    th A卷
                    th B卷（科目）
                    th 注册方式
                    th 注册时间
                    th 注册IP
                    th
                tbody
                  for user in data.users
                    tr
                      th
                        img(src=tools.getUrl('userAvatar', user.avatar) style='width: 2rem;height: 2rem;margin-right: 0.5rem;border-radius: 50%;')
                        a(href=`/u/${user.uid}` target='_blank')= user.username || user.uid
                      th= user.threadCount
                      th= user.postCount
                      th
                        if user.volumeA
                          span.text-success 通过
                        else
                          span.text-danger 未通过
                      th
                        if user.volumeB
                          if user.paperB
                            span.text-success=`通过 - ${user.paperB.name}`
                          else
                            span.text-success 通过 - 试卷丢失
                        else
                          span.text-danger 未通过
                      th= user.registerType === 'mobile'?'手机': '邮箱'
                      th= user.toc.toLocaleString()
                      th= `${user.regIP} : ${user.regPort}`
                      th
                        button.btn.btn-default.btn-sm(onclick=`editUserInfo('${user.uid}')`) 编辑
                        button.btn.btn-default.btn-sm(onclick=`showUserScores('${user.uid}')`) 查看积分
              include ../../interface_navigation_paging

block scripts
  include ../../publicModules/moment
  include ../../publicModules/modifyAccountInfo
  +includeJS(`/experimental/settings/user.js`)

  .modal.fade#myAllScoreDialog(tabindex="-1" role="dialog" aria-labelledby="myAllScoreLabel")
    .modal-dialog(role="document")
    .modal-content#myAllScoreDialogContent(style="width: 650px;margin: 0 auto;")
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true") &times;
        h5.modal-title#myAllScoreLabel 用户积分
      .modal-body#myAllScore
        | 1283u9182
      .modal-footer
        button(type="button" class="btn btn-sm btn-default" data-dismiss="modal") 确定
