//- 左侧专业导航
  @param {[Object]} data.subForums 用户关注的专业对象所组成的数组
  @param {[Object]} state.forumsTree 专业树状结构数组 通过方法ForumModel.getForumsTree获取
  @author pengxiguaa 2019-5-6


div
  if state.subForums && state.subForums.length >0
    .forums-nav-header
      +listHeader("我关注的")
    .home-topic-item-div
      for f in state.subForums
        a(
          href=`/f/${f.fid}`
          style=`background-color: ${f.color || '#808080'};`
          title=f.description
        ).topic-item
          if f.logo
            img(src=tools.getUrl('forumLogo', f.logo))
          span=f.displayName
  .forums-nav-header
    +listHeader("话题")
  for pf in state.forumsTree
    if pf.forumType === "topic"
      .home-topic-list-li
        a(
          href=`/f/${pf.fid}`
          title=pf.description
        )
          if pf.logo
            img(src=tools.getUrl('forumLogo', pf.logo))
          else
            img(style=`background-color: ${pf.color || '#808080'};`)
          span=pf.displayName
      if pf.childrenForums && pf.childrenForums.length
        .home-topic-item-div
          for cf in pf.childrenForums
            a(
              href=`/f/${cf.fid}`
              style=`background-color: ${cf.color || '#808080'}`
              title=cf.description
            ).topic-item
              if cf.logo
                img(src=tools.getUrl('forumLogo', cf.logo))
              span=cf.displayName
  .forums-nav-header
    +listHeader("学科")
  for pf in state.forumsTree
    if pf.forumType === "discipline"
      .home-topic-list-li
        a(
          href=`/f/${pf.fid}`
          title=pf.description
        )
          if pf.logo
            img(src=tools.getUrl('forumLogo', pf.logo))
          else
            img(style=`background-color: ${pf.color || '#808080'};`)
          span=pf.displayName
      if pf.childrenForums && pf.childrenForums.length
        .home-topic-item-div
          for cf in pf.childrenForums
            a(
              href=`/f/${cf.fid}`
              style=`background-color: ${cf.color || '#808080'}`
              title=cf.description
            ).topic-item
              if cf.logo
                img(src=tools.getUrl('forumLogo', cf.logo))
              span=cf.displayName
