//- 需要兼容app的呈现场景
mixin renderAudioBlock(node)
 - var visitorAccess = true;
 //-- var url = getUrl('resource', id) + '&w=' + resource.token;
 - var url = data.tools.getUrl('resource', node.attrs.id);
 - var size = data.tools.getSize(node.attrs.size);
  p
    span(data-tag="nkcsource" data-type="audio" data-id=`${node.attrs.id}` data-visitor-access=`${visitorAccess}`)
      audio.plyr-dom(preload="none" controls data-rid="${id}" data-size=`${node.attrs.size}`) 你的浏览器不支持audio标签，请升级。
        source(src=`${url}` type="audio/mp3")
      span.nkcsource-audio-title(data-type="nkcsource-audio-title")=node.attrs.name
        span.display-i-b.text-danger(style="font-weight: 700")=size
        a(data-type='downloadPanel' data-id=`${node.attrs.id}`) 立即下载