mixin renderFileBlock(node)
  - var  fileCover = data.tools.getUrl('fileCover', node.attrs.ext); 
  - var  size = data.tools.getSize(node.attrs.size);
  p
    span(data-tag="nkcsource" data-type="attachment" data-visitor-access="${visitorAccess}")
      span.article-attachment-icon
       img(src=`${fileCover}`, alt="attachment icon")
      span.article-attachment-content
       span.article-attachment-name( title=`${node.attrs.name}` data-type="downloadPanel" data-id=`${node.attrs.id}`)=node.attrs.name
       span.article-attachment-info
        span.article-attachment-size=size
        span.article-attachment-ext=node.attrs.ext.toUpperCase()
        span.article-attachment-hits=`${node.attrs.hits}次下载`
        if node.attrs.ext === 'pdf'
          span.article-attachment-reader
            a(href=`/reader/pdf/web/viewer?file=%2fr%2f${node.attrs.id}?time%3D${Date.now()}` target="_blank") 预览
            span.fa.fa-question-circle(title="预览文件已被压缩处理，并不代表真实文件质量")