extends ./pageBase
block baseColumnTitle
  title=`${data.columnPost.post.t}`
  +includeCSS('/columns/article/article.css')
block baseColumnContent
  -var {post, column, mainCategory, auxiliaryCategory, thread, collectedCount, userAvatar, type, article, user, posts, toppedPosts, collected} = data.columnPost
  -var {targetUser, categoryList, categoriesTree} = data
  -var {_id, name} = column
  -var {hits, count, oc, url} = thread
  -var {uid, originState,originDesc, toc, t, abstractCn, abstractEn, keyWordsCn, keyWordsEn, c, tlm, dt, authorInfos} = post
  -var showManagement = data.user && data.isModerator && data.permissions.showManagement;
  //- 与post隐藏相关的设置
  include ../thread/hidePostContentSettings
    +hidePostContentSettings(data.postHeight)
  mixin thread
    .m-b-1
      include ./article/nav
      +nav({_id, name, hits, count, oc, mainCategory, auxiliaryCategory, collectedCount, collected, type, url, showManagement, user: data.user})
      include ./article/setUp
      //- 文章管理员操作
      +setUp()
      include ./article/categoryWarning
      if categoryList
        +categoryWarning({categoryList})
      include ./article/title
      +title({
        authorInfos, title: t, uid: targetUser && targetUser.uid, username: targetUser && targetUser.username, avatarUrl: targetUser && targetUser.avatar,
        toc: format('YYYY-MM-DD', new Date(dt || toc)), allToc: format(new Date(dt || toc)), originState,
        columnId: _id, columnName: name, addr: article ? article.document && article.document.addr : article.addr, originDesc
      })
      include ./article/abstract
      +abstract({abstractCn, abstractEn, keyWordsCn, keyWordsEn})
      include ./article/content
      +content(c)
      include ./article/articleEditTime
      include ../publicModules/articleCenter/articleCredits
      -var {kcb = [], xsf = []} = article;
      +articleCredits(kcb.concat(xsf), article._id, data.permissions)
      +articleEditTime(tlm, dt, toc)
      include ./article/categoryName
      +categoryName({categoriesTree})
      include ../columns/article/articleOptions
      +articleOptions({
        logged: !!data.user,
        type,
        _id: article._id,
        tid: article.tid,
        threadUrl: thread.url,
        collected,
        digest: article.digest,
        voteUp: article.voteUp,
        voteDown: article.voteDown,
        replyCount: type === 'article' ? article.count : count,
        vote: article.vote,
        permissions: data.permissions,
      })
  .hidden#data=objToStr({allCategories: data.allCategories, type, comments: data.comments, comment: data.comment, article, collectedCount, type, collected, columnInfo: data.columnInfo, addedToColumn: data.addedToColumn, isLastPage: (data.paging.page + 1) === data.paging.pageCount})
  span.move-article-category#moveCategoryBoxAppInColumns(v-cloak)
    move-box(
      ref='moveCategoryBox'
    )
  .article-common.m-b-1
    div
      if type === 'article' && article.status !== 'normal' && article.status !== undefined
        if article.status === 'faulty'
          div(style=`margin: 0.5rem 0 0 0;${article.status === 'faulty' ? 'border: 1px solid #ff5a0b;padding: 0.5rem;border-radius: 5px;background-color: #fafafa;' : ''}`)
            .h4.text-center(style='color: #ff5a0b;') 本文已被退回修改，请作者点击编辑按钮进入编辑界面
            p.text-center(style='border-bottom: 1px solid #ff5a0b; padding-bottom: 1rem;color: #ff5a0b;')= `退修原因：${article.reason}`
            if permission('review')
            +thread
        else if article.status === 'disabled'
          div(style=`margin: 0.5rem 0 0 0;${article.status === 'disabled' ? 'border: 1px solid #666;padding: 0.5rem;border-radius: 5px;background-color: #fff;' : ''}`)
            .h4.text-center(style='color: #666;') 本文已被封禁，不可查看
            if permission('review')
              .text-center
                a(onclick="unblock()") 点击解封
            p.text-center(style='border-bottom: 1px solid #666; padding-bottom: 1rem;color: #666;')= `封禁原因：${article.reason}`
            if permission('review')
              +thread
        else if article.status === 'unknown'
          -let reviewData = article
          include ./article/module_review
          +thread
        else if article.status === 'deleted'
          .h4.text-center(style='color: #666;') 文章已被删除，不可查看
      else
        if type === 'thread'
          if thread.disabled
            .thread-disabled-info 文章已被封禁
          else if thread.recycleMark
            .thread-draft-info 文章已被退修
          else if !thread.reviewed
            .thread-review-info 文章未审核
        +thread
  if type !== 'article' && toppedPosts && toppedPosts.length > 0
    .article-common.m-b-1
      include ../thread/singlePost/singlePost
      .m-b-1
        .panel-header
          .fa.fa-thumb-tack &nbsp;
          | 置顶回复
        div
          for post in toppedPosts
            +singlePost(Object.assign({}, post, {hidePostBottom: true}))


  .article-common.m-b-1(style="position: relative")#comment-content
    div
      if type === 'article'
        include ../publicModules/commentCenter/comment
      else
        include ../thread/singlePost/singlePost
        div
          .m-b-1
            if !posts || posts.length === 0
              span 空空如也
            else
              include ../publicModules/paging/paging
              for post in posts
                +singlePost(Object.assign(post, {hidePostBottom: true}))
              .m-t-05
                include ../publicModules/paging/paging_input
          div
            a.btn.btn-default(href=url + '#container') 去评论
    //- .col-xs-12.col-md-3.box-shadow-panel#rightDom
    //-   //- 滚动到页头页脚
    //-   include ../module_scrollTo.pug
    //- 显示作者联系信息
  include ./article/authorInfo.pug
  +authorInfo()
  include ../publicModules/floatForumNav
  style.
    .single-post-container {
      padding: 0.9rem 0 0.9rem 0!important;
    }
block scripts
  include ../publicModules/nkcSource
  include ../publicModules/commonModal/commonModal
  include ../publicModules/selectColor
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../publicModules/disabledPost/disabledPost
  include ../publicModules/articleCenter/articleOption/articleOptions
  +includeJS("/columns/settings/page.js")
  +includeJS("/columns/column.js")
  +includeJS("/columns/management.js")
  +includeJS("/columns/article.js")
  +includeJS('/columns/article/abstract.js')
  +includeJS('/columns/article/authorInfo.js')
  +includeJS('/columns/article/setUp.js')
  +includeJS('/columns/article/title.js')
  +mixinColumnNavLinkScript()
  +includeDeferJS('/columns/article/article.js', false)
