extends ./pageBase
block baseColumnTitle
    title=`${data.columnPost.post.t}`
    +includeCSS('/columns/article/article.css')
block baseColumnContent
  -var {post, column, mainCategory, auxiliaryCategory, thread, collectedCount, userAvatar, type, article, user, posts, collected} = data.columnPost
  -var {_id, name} = column
  -var {hits, count, oc, url} = thread
  -var {uid, originState, toc, t, abstractCn, abstractEn, keyWordsCn, keyWordsEn, c, tlm} = post
  -var showManagement = data.user && data.isModerator && permission('review');
  //- 与post隐藏相关的设置
  include ../thread/hidePostContentSettings
    +hidePostContentSettings(data.postHeight)
  mixin thread
    .m-b-1
      include ./article/nav
      +nav({_id, name, hits, count, oc, mainCategory, auxiliaryCategory, collectedCount, collected, type, url})
      include ./article/setUp
      //- 文章管理员操作
      +setUp()
      include ./article/title
      +title({t, article, uid, userAvatar: user.avatar, toc, originState, name, _id})
      include ./article/abstract
      +abstract({abstractCn, abstractEn, keyWordsCn, keyWordsEn})
      include ./article/content
      +content(c)
      include ./article/articleEditTime
      +articleEditTime(tlm)
      //- 文章用户其他操作
      .single-post-bottom#articleOption
        if type === 'article'
          a.single-comment-bottom-item(href="#container")
            .fa.fa-comment-o.reply-icon
            span 回复
          .single-comment-bottom-item(data-type="articleOption" data-aid=article._id title="其他操作" data-direction="down")
            .fa.fa-sliders.option-icon
        else
          .single-comment-bottom-item(data-type="articleOption" data-tid=article.tid data-collected=`${collected}` title="其他操作" data-direction="up")
            .fa.fa-sliders.option-icon
  .hidden#data=objToStr({comments: data.comments, comment: data.comment, article, collectedCount, type, collected})
  .article-common.m-b-1.box-shadow-panel
    .row
      if type === 'article' && article.status !== 'normal' && article.status !== undefined
        if article.status === 'faulty'
          .col-xs-12.col-md-12(style=`margin: 0.5rem 0 0 0;${article.status === 'faulty' ? 'border: 1px solid #ff5a0b;padding: 0.5rem;border-radius: 5px;background-color: #fafafa;' : ''}`)
            .h4.text-center(style='color: #ff5a0b;') 本文已被退回修改，请作者点击编辑按钮进入编辑界面
            p.text-center(style='border-bottom: 1px solid #ff5a0b; padding-bottom: 1rem;color: #ff5a0b;')= `退修原因：${article.reason}`
            +thread
        else if article.status === 'disabled'
          .col-xs-12.col-md-12(style=`margin: 0.5rem 0 0 0;${article.status === 'disabled' ? 'border: 1px solid #666;padding: 0.5rem;border-radius: 5px;background-color: #fff;' : ''}`)
            .h4.text-center(style='color: #666;') 本文已被封禁，不可查看
            if permission('review')
              .text-center
                a(onclick="unblock()") 点击解封
            p.text-center(style='border-bottom: 1px solid #666; padding-bottom: 1rem;color: #666;')= `封禁原因：${article.reason}`
            if permission('review')
              +thread
        else if article.status === 'unknown'
          -let reviewData = article
          include ./article/module_review
          +thread
      else
        +thread
  .article-common.m-b-1.box-shadow-panel(style="position: relative")#comment-content
    .row
      if type === 'article'
        include ../publicModules/commentCenter/comment
      else
        include ../thread/singlePost/singlePost
        div
          .m-b-1
            if !posts || posts.length === 0
              span 空空如也
            else
              for post in posts
                +singlePost(Object.assign(post, {hidePostBottom: true}))
          div
            a.btn.btn-default(href=url + '#container') 去评论
    //- .col-xs-12.col-md-3.box-shadow-panel#rightDom
    //-   //- 滚动到页头页脚
    //-   include ../module_scrollTo.pug
    //- 显示作者联系信息
  include ./article/authorInfo.pug
  +authorInfo()
  include ../publicModules/floatForumNav
  include ../publicModules/nkcSource
block scripts
  include ../publicModules/nkcSource
  include ../publicModules/commonModal/commonModal
  include ../publicModules/selectColor
  include ../publicModules/subscribeTypes/subscribeTypes

  +includeJS("/columns/settings/page.js")
  +includeJS("/columns/column.js")
  +includeJS("/columns/management.js")
  +mixinColumnNavLinkScript()
  +includeDeferJS('/columns/article/article.js', false)
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../publicModules/disabledPost/disabledPost
  include ../publicModules/articleCenter/articleOption/articleOptions
