extends ./columnBase
block columnTitle
  title=`${data.column.name}`
block content
  .container-fluid.max-width
    .column
      .row
        .col-xs-12.col-md-12.m-b-2
          div
            img.column-banner(src=`/m/${data.column._id}/banner`)
            .column-info
              .column-avatar
                img(src=`/m/${data.column._id}/avatar`)
              .column-other-info
                div
                  .column-name=data.column.name
                  .column-abbr=data.column.abbr
                div
                  .column-sub-button
                    button 投稿
                  .column-sub-button
                    button + 订阅
                    span=data.column.subCount
          hr
        .col-xs-12.col-md-8.m-b-2
          div
            include ../publicModules/paging/paging
            for columnPost in data.columnPosts
              include ./singleColumnPost
            include ../publicModules/paging/paging_input
        .col-xs-12.col-md-3.col-md-offset-1
          div.m-b-2
            .column-user
              //-.column-header
                .fa.fa-user &nbsp;专栏主
              .column-user-avatar
                img(src=`/avatar/${data.column.uid}`)
              a(href=`/u/${data.column.uid}`).column-user-username=data.column.user.username
              if data.user && data.user.uid !== data.column.uid
                .column-user-button
                  a(href=`/message?uid=${data.column.uid}` target="_blank") 私信
                  if data.user.subUid.includes(data.column.uid)
                    a.pointer(href=`javascript:subscribeUser("${data.column.uid}", false)` target="_blank") 取关
                  else
                    a.pointer(href=`javascript:subscribeUser("${data.column.uid}", true)` target="_blank") 关注
              .column-user-description=data.column.user.description

          if data.user && data.user.uid === data.column.uid
            div.m-b-2
              .column-management
                .column-header
                  .fa.fa-cog &nbsp;专栏管理
                .row
                  a(href=`/m/${data.column._id}/settings`).col-xs-4
                    .fa.fa-wrench
                    .name 资料设置
                  a(href=`/m/${data.column._id}/settings/post`).col-xs-4
                    .fa.fa-newspaper-o
                    .name 文章管理
                  a.col-xs-4
                    .fa.fa-bell-o
                    .name 投稿通知
          div.m-b-2
            .column-threads
              .column-header
                .fa.fa-bullhorn &nbsp;公告通知
          div.m-b-2
            .column-threads
              .column-header
                .fa.fa-fire &nbsp; 栏主推荐



block scripts