extends ./columnBase
block columnTitle
  title=`${data.column.name}`
  style.
    body{
      padding-top: 0;
      background-color: #f6f6f6;
    }
  style=`body{background-color: ${data.column.color};}`
block content
  include ./modules/banner
  div.m-t-2.box-shadow-panel
    .column
      include ./modules/nav
  .container-fluid.max-width
    .column
      .row
        .col-xs-12.col-md-8.box-shadow-panel.m-t-2
          div
            if data.category
              .column-category-nav
                a(href=`/m/${data.column._id}`) 全部
                for c, index in data.categoriesNav
                  span /
                  a(href=`/m/${data.column._id}?c=${c._id}`)= c.name
                .column-category-abbr=data.category.description
            if data.paging.page === 0 && data.topped.length > 0
              .m-t-05
              for columnPost in data.topped
                include ./singleColumnPost
              if data.category
                .column-posts-body-info — 以上为分类置顶 —
              else
                .column-posts-body-info — 以上为专栏置顶 —
            div(style="margin-bottom: -0.6rem;")
              include ../publicModules/paging/paging
            .column-posts-body
              if data.columnPosts.length === 0 && data.topped.length === 0
                .text-center.p-t-5.p-b-5
                  h4 空空如也~
                  if data.user && data.user.uid === data.column.uid
                    .m-t-1
                      | 点击
                      a(href=`/m/${data.column._id}/settings/post/add` target="_blank")
                        b 添加文章
                      | ，可批量将文章推送到专栏。
              else
                for columnPost in data.columnPosts
                  if data.paging.page !== 0 || !data.toppedId.includes(columnPost._id)
                    include ./singleColumnPost
            include ../publicModules/paging/paging_input
        .col-xs-12.col-md-4.box-shadow-panel.m-t-2
          include ./modules/management
          include ./modules/info
block scripts
  include ../publicModules/commonModal/commonModal
  include ../publicModules/selectColor
  +includeJS("/columns/column.js")
  +includeJS("/columns/management.js")