extends ./columnBase
block columnTitle
  title=`${data.column.name}`
  style.
    body{
      padding-top: 0;
      background-color: #f6f6f6;
    }
    .navbar.nkcshade{
      background-color: rgba(246, 246, 246, 0.95);
    }
  style=`body{background-color: ${data.column.color};}`
block content
  -const canManagement = permission("column_single_disabled");
  .column-banner-body
    .column-banner(style=`background-image:url(/m/${data.column._id}/banner)`)
      .column
        .column-avatar
          img(src=`/m/${data.column._id}/avatar`)
        .column-info
          .column-other-info
            .column-name=data.column.name
            .column-abbr=data.column.abbr
  div.m-t-2.box-shadow-panel
    .column
      .row
        .col-xs-12.col-md-9
          ul.column-nav
            li
              a(href=`/m/${data.column._id}`) 首页
            if !data.column.navCategory
              li
                a(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 分类&nbsp;
                  .fa.fa-caret-down
                ul.dropdown-menu
                  li
                    a(href=`/m/${data.column._id}` style="overflow:hidden;")
                      span 全部
                  for c in data.categories
                    li
                      a(href=`/m/${data.column._id}?c=${c._id}` style="overflow:hidden;")
                        -for(var i = 0; i < c.level; i++)
                          span &nbsp;&nbsp;&nbsp;&nbsp;
                        span=c.name
                  //li.divider(role="separator")
            else
              for c in data.navCategories
                if c.children && c.children.length
                  li
                    a(href=`/m/${data.column._id}?c=${c._id}` style="margin-right: 0;padding-right:0")=c.name
                    a.fa.fa-caret-down(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    ul.dropdown-menu
                      for cc in c.children
                        li
                          a(href=`/m/${data.column._id}?c=${cc._id}` style="overflow:hidden")
                            -for(var i = 0; i < (cc.level - 1); i++)
                              span &nbsp;&nbsp;&nbsp;&nbsp;
                            span=cc.name
                else
                  li
                    a(href=`/m/${data.column._id}?c=${c._id}`)=c.name
            for link in data.column.links
              li
                a(title=link.url onclick=`openToNewLocation('${link.url}', '_blank')`)= link.name
        .col-xs-12.col-md-3
          .column-button
            .column-sub-button.active
              if !data.user || data.user.uid !== data.column.uid
                a(href=data.user ? `/m/${data.column._id}/contribute`: "/login" target="_blank")
                  button 投稿
              else
                a(href="/editor?toColumn=true" target="_blank")
                  button 发表
            .column-sub-button
              //(onclick=`subscribeColumn(${data.column._id}, true, this)`)
              if !data.user
                a(href="/login" target="_blank")
                  button + 订阅
              else
                if data.subscribedColumn
                  button(onclick=`subscribeColumn(${data.column._id}, false)`) 已订阅
                else
                  button(onclick=`subscribeColumn(${data.column._id}, true)`) + 订阅
              if data.column.subCount > 0
                span=data.column.subCount
  .container-fluid.max-width
    .column
      .row
        .col-xs-12.col-md-8.box-shadow-panel.m-t-2
          div
            if data.category
              .column-category-nav
                a(href=`/m/${data.column._id}`) 全部
                for c, index in data.categoriesNav
                  span /
                  a(href=`/m/${data.column._id}?c=${c._id}`)= c.name
                .column-category-abbr=data.category.description
            if data.paging.page === 0 && data.topped.length > 0
              .m-t-05
              for columnPost in data.topped
                include ./singleColumnPost
              if data.category
                .column-posts-body-info — 以上为分类置顶 —
              else
                .column-posts-body-info — 以上为专栏置顶 —
            div(style="margin-bottom: -0.6rem;")
              include ../publicModules/paging/paging
            .column-posts-body
              if data.columnPosts.length === 0 && data.topped.length === 0
                .text-center.p-t-5.p-b-5
                  h4 空空如也~
                  if data.user && data.user.uid === data.column.uid
                    .m-t-1
                      | 点击
                      a(href=`/m/${data.column._id}/settings/post/add` target="_blank")
                        b 添加文章
                      | ，可批量将文章推送到专栏。
              else
                for columnPost in data.columnPosts
                  if data.paging.page !== 0 || !data.toppedId.includes(columnPost._id)
                    include ./singleColumnPost
            include ../publicModules/paging/paging_input
        .col-xs-12.col-md-4.box-shadow-panel.m-t-2
          if canManagement
            div.m-b-2
              .column-management
                .column-header
                  .fa.fa-shield &nbsp;管理
                .row.m-t-1
                  if data.column.disabled
                    h4.text-danger.col-xs-12.text-center 专栏已屏蔽
                  else if data.column.closed
                    h4.text-danger.col-xs-12.text-center 专栏已关闭

                  if !data.column.disabled
                    a(onclick=`managementColumn(${data.column._id}, 'column', true)`).col-xs-4
                      .fa.fa-ban
                      .name 屏蔽专栏
                  else
                    a(onclick=`managementColumn(${data.column._id}, 'column', false)`).col-xs-4
                      .fa.fa-ban
                      .name 解除屏蔽
                  a(onclick=`managementColumn(${data.column._id}, 'logo', true)`).col-xs-4
                    .fa.fa-picture-o
                    .name 删除logo
                  a(onclick=`managementColumn(${data.column._id}, 'banner', true)`).col-xs-4
                    .fa.fa-picture-o
                    .name 删除banner
                  a(onclick=`managementColumn(${data.column._id}, 'name', true)`).col-xs-4
                    .fa.fa-align-center
                    .name 删除专栏名
                  a(onclick=`managementColumn(${data.column._id}, 'abbr', true)`).col-xs-4
                    .fa.fa-align-center
                    .name 删除简介

          if data.user && data.user.uid === data.column.uid
            div.m-b-2
              .column-management
                .column-header
                  .fa.fa-cog &nbsp;专栏管理
                .row.m-t-1
                  //-a(href=`/m/${data.column._id}/status` target="_blank").col-xs-4
                    .fa.fa-line-chart
                    .name 统计
                  a(href=`/m/${data.column._id}/settings/post` target="_blank").col-xs-4
                    .fa.fa-newspaper-o
                    .name 文章管理
                  a(href=`/m/${data.column._id}/settings/contribute` target="_blank").col-xs-4
                    .fa.fa-bell-o
                    .name 投稿通知
                    if data.contributeCount > 0
                      .contribute-count=data.contributeCount
                  a(href=`/m/${data.column._id}/settings/post/add` target="_blank").col-xs-4
                    .fa.fa-plus-circle
                    .name 添加文章
                  a(href=`/m/${data.column._id}/settings/category` target="_blank").col-xs-4
                    .fa.fa-list
                    .name 分类管理
                  a(href=`/m/${data.column._id}/settings` target="_blank").col-xs-4
                    .fa.fa-wrench
                    .name 专栏设置
                .column-fast-set-btn 快捷设置&nbsp;
                  .fa.fa-caret-down
                .form.column-fast-set-body
                  .form-group
                    label 专栏背景
                    input.form-control(data-control="selectColor" id="columnColor" value=data.column.color)
                  .form-group
                    button.btn.btn-block.btn-primary(onclick="saveSettings()") 保存
          div.m-b-2
            .column-user
              .column-user-avatar
                a(href=`/u/${data.column.uid}`)
                  img(src=`/avatar/${data.column.uid}`)
              a(href=`/u/${data.column.uid}`).column-user-username=data.column.user.username
              if data.user && data.user.uid !== data.column.uid
                .column-user-button
                  a(href=`/message?uid=${data.column.uid}` target="_blank") 私信
                  if data.user.subUid.includes(data.column.uid)
                    a.pointer(href=`javascript:subscribeUser("${data.column.uid}", false)` target="_blank") 取关
                  else
                    a.pointer(href=`javascript:subscribeUser("${data.column.uid}", true)` target="_blank") 关注
              if data.column.user.description
                .column-user-description=data.column.user.description
          if data.column.notice && (!data.column.noticeDisabled || canManagement)
            div.m-b-2
              .column-threads
                .column-header
                  .fa.fa-bullhorn &nbsp;公告通知
                    if canManagement
                      if data.column.noticeDisabled
                        .column-management-button.fa.fa-minus-circle(onclick=`managementColumn(${data.column._id}, 'notice', false)`) &nbsp;解除屏蔽
                      else
                        .column-management-button.fa.fa-minus-circle(onclick=`managementColumn(${data.column._id}, 'notice', true)`) &nbsp;屏蔽
                p!=markdown_safe(data.column.notice)
          div.m-b-2
            .column-management
              .column-header
                .fa.fa-list &nbsp;文章分类
              .column-categories
                a.column-category(href=`/m/${data.column._id}` class=!data.c?"active":"")
                  span 全部
                  .pull-right
                    if data.columnPostcount > 0
                      .column-category-count=data.columnPostcount
                    .fa.fa-angle-right
                for c in data.categories
                  a.column-category(href=`/m/${data.column._id}?c=${c._id}` class=Number(data.c)===c._id?"active":"")
                    -for(var i = 0; i < c.level; i++)
                      span &nbsp;&nbsp;&nbsp;&nbsp;
                    span=c.name
                    .pull-right
                      if c.count > 0
                        .column-category-count=c.count
                      .fa.fa-angle-right
          if data.timeline && data.timeline.length > 0
            div.m-b-2
              .column-management
                .column-header
                  .fa.fa-calendar &nbsp;内容统计
                .m-t-05
                  for t in data.timeline
                    .column-timeline=t.time
                      .pull-right=`${t.count} 篇`
          if !data.column.blocksDisabled || canManagement
            if canManagement || data.column.blocks.length > 0
              div.m-b-2
                .column-block
                  .column-header 自定义内容
                    if data.column.blocksDisabled
                      .column-management-button.fa.fa-minus-circle(onclick=`managementColumn(${data.column._id}, "blocks", false)`) &nbsp;解除屏蔽
                    else
                      .column-management-button.fa.fa-minus-circle(onclick=`managementColumn(${data.column._id}, "blocks", true)`) &nbsp;屏蔽
            for block, index in data.column.blocks
              if block.show
                div.m-b-2
                  .column-block
                    .column-header=block.name
                    p!=markdown_safe(block.content)
          if data.column.otherLinks && data.column.otherLinks.length > 0
            if !data.column.otherLinksDisabled || canManagement
              div.m-b-2
                .column-threads
                  .column-header
                    .fa.fa-link &nbsp;友情链接
                      if canManagement
                        if data.column.otherLinksDisabled
                          .column-management-button.fa.fa-minus-circle(onclick=`managementColumn(${data.column._id}, "otherLinks", false)`) &nbsp;解除屏蔽
                        else
                          .column-management-button.fa.fa-minus-circle(onclick=`managementColumn(${data.column._id}, "otherLinks", true)`) &nbsp;屏蔽
                  .column-links
                    for link in data.column.otherLinks
                      a(onclick=`openToNewLocation('${link.url}', '_blank')`)= link.name


  .hidden#data=objToStr({columnId: data.column._id, color: data.column.color})
block scripts
  include ../publicModules/commonModal/commonModal
  include ../publicModules/selectColor
  +includeJS("/columns/column.js")
  +includeJS("/columns/management.js")