extends ../bootstrap_base
block title
  title 专栏列表
  style.
    .columns-container{
      font-size: 0;
    }
    .column{
      border-radius: 5px;
      width: 16.4rem;
      margin: 0.6rem 1.2rem 0.6rem 0;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #eaeaea;
      overflow: hidden;
      padding: 2rem 1rem 2rem 1rem;
      text-align: center;
      transition: box-shadow 200ms;
    }
    .column:hover{
      box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    }
    .column .column-avatar{
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    .column .column-abbr{
      font-size: 1rem;
      margin-bottom: 0.6rem;
    }
    .column .column-name{
      font-size: 1.4rem;
      display: block;
      height: 2rem;
      overflow: hidden;
      margin-bottom: 0.6rem;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-decoration: none;
      color: #333;
      font-weight: 700;
    }
    .column .column-description{
      font-size: 1.2rem;
      height: 3.3rem;
      overflow: hidden;
      color: #333;
      margin-bottom: 1rem;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .column .column-subscription{

    }
    @media(max-width: 767px) {
      .column .column-avatar{
        height: 3rem;
        width: 3rem;
        margin-bottom: 0.2rem;
      }
      .column{
        width: 100%;
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
      }
      .column .column-name{
        font-size: 1.2rem;
        height: 1.6rem;
        margin-bottom: 0.5rem;
      }
      .column .column-description{
        height: 3.2rem;
      }
      .column .column-abbr{
        margin-bottom: 0.2rem;
      }
    }
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        h4 专栏列表
      .col-xs-12.col-md-12
        include ../publicModules/paging/paging
        .columns-container
          for column in data.columns
            .column(data-column-id=column._id)
              img.column-avatar(src=tools.getUrl('columnAvatar', column.avatar))
              a(href=tools.getUrl('columnHome', column._id) target="_blank").column-name=column.name
              .column-abbr
                span=`${column.subCount}人关注，${column.postCount}篇文章`
              .column-description(title=column.abbr)=column.abbr
              .column-subsription
                a.m-r-05.btn.btn-sm.btn-default(href=tools.getUrl('columnHome', column._id) target='_blank') 进入专栏
                -var subscribed = state.subColumnsId?state.subColumnsId.includes(column._id): false;
                -var klass = subscribed? 'btn-default': 'btn-primary';
                -var text = subscribed? '已关注': '关注'
                button.column-subscription.btn.btn-sm(
                  data-subscribed=subscribed?'true': 'false'
                  class=klass
                  onclick=`subscribeColumn(${column._id})`
                  )=text
        include ../publicModules/paging/paging_input
block scripts
  include ../publicModules/subscribeTypes/subscribeTypes
  script.
    if(!window.SubscribeTypes) {
      window.SubscribeTypes = new NKC.modules.SubscribeTypes();
    }
    function subscribeColumn(columnId) {
      if(!NKC.configs.uid) {
        return NKC.methods.toLogin();
      }
      var dom = $('.column[data-column-id="'+columnId+'"] .column-subscription');
      var subscribed = dom.attr('data-subscribed');
      if(subscribed === 'true') {
        // 取消关注
        SubscribeTypes.subscribeColumnPromise(columnId, false)
        .then(function() {
          dom
            .attr('data-subscribed', 'false')
            .removeClass('btn-default')
            .addClass('btn-primary')
            .text('关注');
        })
        .catch(sweetError);
      } else {
        // 关注
        SubscribeTypes.subscribeColumnPromise(columnId, true)
          .then(function () {
            dom
              .attr('data-subscribed', 'true')
              .removeClass('btn-primary')
              .addClass('btn-default')
              .text('已关注');
          })
          .catch(sweetError);
      }
    }

