extends ./pageBase
block baseColumnTitle
  if data.page.t
    title=`${data.page.t} - ${data.column.name}`
  else
    title=`${data.column.name}`
block baseColumnContent
  div
    if data.page.t
      .column-page-title=data.page.t
    .column-page-content!=data.page.c
    if data.user && data.user.uid === data.column.uid
      .m-t-1.text-right
        if data.page.hidden
          span.m-t-2.text-danger 已关闭，仅自己可见。
          button.btn.btn-xs.btn-default(onclick=`setHidden(${data.column._id}, ${data.page._id}, false)`) 开启
        else
          button.btn.btn-xs.btn-default(onclick=`setHidden(${data.column._id}, ${data.page._id}, true)`) 关闭
        a.m-l-05.btn.btn-xs.btn-default(href=`/m/${data.column._id}/settings/page?t=edit&id=${data.page._id}`) 编辑


  