-var {column, from, type, post, thread, article, mainCategories, columnId, toc} = columnPost
if thread
  -var {firstPost} = thread;
.column-posts-post
  if type === 'thread'
    if thread.disabled
      .thread-disabled-info 文章已被封禁
    else if thread.recycleMark
      .thread-draft-info 文章已被退修
    else if !thread.reviewed
      .thread-review-info 文章未审核
  else if type === 'article'
    if article.status === 'unknown'
      .thread-review-info 文章未审核
    else if article.status === 'disabled'
      .thread-disabled-info 文章已被封禁
    else if article.status === 'faulty'
      .thread-draft-info 文章已被退修
    else if article.status === 'deleted'
      .thread-deleted-info 文章已被删除
  .column-post-body(class=(thread && thread.firstPost.cover) || (article && article.document.cover)?"cover":"")
    .column-post-cover
      if thread && thread.firstPost.cover
        div(style=`background-image:url(${thread.firstPost.coverUrl})`)
      else if article && article.document.cover
        div(style=`background-image:url(${article.document.coverUrl})`)
    .column-post-abstract
      if type === "post"
        .column-post-content.post
          if !post.anonymous
            a.column-thread-author(href=`/u/${post.uid}` target="_blank"
              data-global-mouseover="showUserPanel"
              data-global-mouseout="hideUserPanel"
              data-global-data=objToStr({uid: post.uid})
            )
              span=post.user.username
          else
            span.anonymous-name=anonymousInfo.username
          | ：
          span=post.c
      .column-post-title
        if post && post.url
          a(href=post.url)=firstPost.t
        else if article
          a(href=article.url)=article.document.title
        //a(href=tools.getUrl('columnPost', data.column._id, post.pid))=firstPost.t
      if type === "thread"
        .column-post-content= post.c
      if type === "article"
        .column-post-content= article.document.content
      .column-post-info
        if type === 'thread'
          //if !data.column || data.column.uid !== post.uid
          if !thread.firstPost.anonymous
            a(href=`/u/${thread.firstPost.uid}` target="_blank"
              data-global-mouseover="showUserPanel"
              data-global-mouseout="hideUserPanel"
              data-global-data=objToStr({uid: thread.firstPost.uid})
            ).column-post-author
              img(src=thread.firstPost.user.avatarUrl)
              span=thread.firstPost.user.username
          else
            span.column-post-author
              img(src=anonymousInfo.avatar)
              span.anonymous-name=anonymousInfo.username
        else if type === 'article'
          a(href=`/u/${article.user.uid}` target="_blank"
            data-global-mouseover="showUserPanel"
            data-global-mouseout="hideUserPanel"
            data-global-data=objToStr({uid: article.user.uid})
          ).column-post-author
            img(src=article.user.avatarUrl)
            span=article.user.username
        .column-post-time
          span.m-r-05
            //-=fromNow(toc)
            +fromNow(toc)
          if data.column && from === "contribute"
            span 来自投稿
          else if type === 'thread' || type === 'post'
            span 引用自社区
          else if type === 'article' && article.source === 'zone'
            span 来自空间
        .column-post-forums
          if data.column
            -var category = "";
            for c in mainCategories
              if !category || category.level > c.level
                -category = c;
            if category
              a.column-post-forum(href=`/m/${columnId}?c=${category._id}`)= category.name
          else
            a.column-post-forum(href=`/m/${columnId}`)= column.name
