-const {type, post, thread, category, columnId} = columnPost
-const {firstPost} = thread;
.column-post
  .column-post-body(class=thread.hasCover?"cover":"")
    if thread.hasCover
      .column-post-cover
        div(style=`background-image:url(/cover/${thread.tid})`)
    .column-post-abstract
      .column-post-title
        a(href=post.url)=firstPost.t
      .column-post-content= post.c
      .column-post-info
        if data.column.uid !== post.uid
          a(href=`/u/${post.uid}` target="_blank").column-post-author
            img(src=`/avatar/${post.uid}?t=sm`)
            span=post.user.username
        .column-post-time=fromNow(post.toc)
        .column-post-forums
          a.column-post-forum(href=`/m/${columnId}?t=${category._id}`)= category.name