extends ../../experimental
block eTitle
  title 调查问卷详情
  style.  
    img{
      opacity: 0.3;
    }
    img[data-mark="true"]{
      opacity: 1;
    }
block eContent
  .hidden#data=objToStr({survey: data.survey, surveyPosts: data.surveyPosts})
  .container-fluid.max-width
    #app(v-cloak)
      div
        a(href='/e/log/survey') 问卷调查列表
        span.m-l-05.m-r-05 / 
        span {{survey._id}}
      .m-t-2
        div ID: {{survey._id}} 
        div 类型：{{translateType(survey.type)}}
        div 创建时间：{{timeFormat(`YYYY/MM/DD HH:mm:ss`, survey.toc)}}
        div 调查开始时间：{{timeFormat(`YYYY/MM/DD HH:mm:ss`, survey.st)}}
        div 调查结束时间：{{timeFormat(`YYYY/MM/DD HH:mm:ss`, survey.et)}} 
        div 介绍：{{survey.description}}
        div 已选择用户：
          img(
              @click='selectUser(uid)'
              data-global-mouseover="showUserPanel"
              data-global-mouseout="hideUserPanel"
              :data-global-data="objToStr({uid: uid})"
              v-for='uid in selectedUsersId' 
              :src='getUrl("userAvatar", uid, "sm")'
              data-mark="true"
              style="height:1.3rem;width:1.3rem;margin:0rem 0.5rem 0.5rem 0rem;"
              )
        .m-t-2
          div(v-for='option, index of survey.options')
            div {{index+1}}. {{option.content}}
            div
              a(v-for='link in option.links' :href='link' target='_blank') {{link}}
            div
              img(v-for='rid in option.resourcesId' :src='getUrl("resource", rid)')
            div 
              div(v-for='answer, answerIndex in option.answers')  
                div {{index+1}}-{{answerIndex+1}}. {{answer.content}}
                div
                  a(v-for='link in answer.links' :href='link' target='_blank') {{link}}
                div
                  img(v-for='rid in answer.resourcesId' :src='getUrl("resource", rid)')
                div
                  img(
                    @click='selectUser(uid)'
                    data-global-mouseover="showUserPanel"
                    data-global-mouseout="hideUserPanel"
                    :data-global-data="objToStr({uid: uid})"
                    v-for='uid in usersSelected[`${option._id}-${answer._id}`]' 
                    :src='getUrl("userAvatar", uid, "sm")'
                    style="height:1.3rem;width:1.3rem;margin:0rem 0.5rem 0.5rem 0rem;"
                    :data-mark="selectedUsersId.length === 0 || selectedUsersId.includes(uid)"
                    )

block scripts
  +includeJS('/experimental/log/survey/surveyDetails.js')    