extends ../experimental
block eTitle
  title= `身份认证申请列表`
  style.
    .reset > a {
      color: #333;
      text-decoration: none;
    }
block eContent
  -const mainContainer1400 = true
    #data.hidden=objToStr({searchType: data.searchType, searchContent: data.searchContent, t: data.t})
  .container-fluid.max-width#app
    .row
      .col-xs-12.col-md-8.col-md-offset-0
        .form.form-inline.m-b-1
          .form-group
            select.form-control(v-model='searchType' @change="resetInput")
              option(value='username') username
              option(value='uid') uid
          .form-group
            input.form-control(type='text' v-model.trim='searchContent' placeholder="请输入检索内容" @keyup.enter='search')
          .form-group
            button.btn.btn-default(@click='search') 搜索
            button.btn.btn-default.reset
              a(href="/e/auth") 重置
        .panel.panel-default
          .panel-heading
            span 身份认证申请
          .panel-body
            table.table.table-striped
              thead
                tr
                  th UID
                  th 用户名
                  th 认证类型
                  th 链接
              tbody
                -for(let auth of data.usersAuth)
                  -const {targetUser, authLevel} = auth;
                  tr
                    th= targetUser.uid
                    th
                      a(href=`/u/${targetUser.uid}` target='_blank')=targetUser.username
                    th= `身份认证${authLevel}`
                    th
                      a(href=`/e/auth/${targetUser.uid}`) 去处理

block scripts
  +includeJS('/interface_common.js')
  +includeJS('/experimental/auth/index.js')
