extends ../experimental
block eTitle
  title= `身份认证申请列表`
  style.
    .reset > a {
      color: #333;
      text-decoration: none;
    }
    .classification {
      display: inline-block;
      cursor: pointer;
    }
    .search  a {
      text-decoration: none;
      outline: none;
      color: inherit;
    }
    .active {
      border-bottom: #409eff 2px solid;
      color: #409eff;
    }
    .checkbox-item {
      display: inline-block;
      vertical-align: middle;
      user-select: none;
    }
    .checkbox-item .check-in {
      display: inline-block;
      margin-right: 0.3rem;
    }
    .auth .title {
      color: rgba(14, 14, 14, 0.54);
      width: 4.6rem;
      display: inline-block;
    }

    .auth .content a{
      cursor: pointer;
    }
    .paging span {
      cursor: pointer;
      display: inline-block;
      margin-right: 0.3rem;
      padding: 0 0.5rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 4px;
    }

    .paging .active {
      color: white;
      background-color: #409eff;
    }
block eContent
  -const mainContainer1400 = true
    #data.hidden=objToStr({searchType: data.searchType, searchContent: data.searchContent, t: data.t})
  .container-fluid.max-width#app
    .row
      .col-xs-12.col-md-8.col-md-offset-0
        .form.form-inline.m-b-1
          .form-group
            select.form-control(v-model='searchType' @change="resetInput")
              option(value='username') username
              option(value='uid') uid
          .form-group
            input.form-control(type='text' v-model.trim='searchContent' placeholder="请输入检索内容" @keyup.enter='search')
          .form-group
            button.btn.btn-default(@click='search') 搜索
            button.btn.btn-default.reset(@click="resetSearch") 重置
        .panel.panel-default
          .panel-heading.search
            //if data.searchContent
            //  span 搜索结果
            //else
            .waiting-review.classification.m-r-05(:class="{'active': activeWaitingReview()}")
              //a(href="/e/auth") 待审核列表
              span(@click="selectedBtn('waiting-review')") 待审核列表
            .all.classification(:class="{'active': !activeWaitingReview()}")
              //a(href="/e/auth?allFilter=auth1-2") 全部
              span(@click="selectedBtn('all')") 全部
            .filter(v-if="!activeWaitingReview()")
              label.checkbox-item.m-r-05
                input.check-in(type="checkbox" v-model="checkbox.auth1" @change="selectedCheckBox()")
                span 通过身份认证1
              label.checkbox-item.m-r-05
                input.check-in(type="checkbox" v-model="checkbox.auth2" @change="selectedCheckBox()")
                span 通过身份认证2
              label.checkbox-item.m-r-05
                input.check-in(type="checkbox" v-model="checkbox.auth3" @change="selectedCheckBox()")
                span 通过身份认证3
              -const paging = data.paging
            if paging && paging.pageCount
              .paging
                for btn in paging.buttonValue
                  span(class=`${btn.type}` @click=`paging(${btn.num})`)=btn.num !== undefined ? btn.num + 1 : '...'
          .panel-body
            table.table.table-striped
              thead
                tr
                  th 身份认证1
                  th 身份认证2
                  th 身份认证3
                  th 用户名
                  th 认证类型
                  //th 链接
                  th 其他
              tbody
                for auth in data.usersAuth
                  -const {targetUser, authLevel, auth1, auth2, auth3} = auth;
                  tr
                    th.auth.auth1
                      p
                        span.title 状态:
                        span.content=auth1.status
                    th.auth.auth2
                      p
                        span.title 状态:
                        span.content=auth2.status
                      p
                        span.title  审核时间:
                        span.content=auth2.reviewDate || '无'
                      p
                        span.title 过期时间:
                        span.content=auth2.expiryDate || '无'
                      p
                        span.title 审核人:
                        span.content
                          if auth2.reviewer.uid
                            a.user(href=`/u/${auth2.reviewer.uid}`)=auth2.reviewer.username
                          else
                            span 无

                    th.auth.auth3
                      p
                        span.title 状态:
                        span.content=auth3.status
                      p
                        span.title  审核时间:
                        span.content=auth3.reviewDate || '无'
                      p
                        span.title 过期时间:
                        span.content=auth3.expiryDate || '无'
                      p
                        span.title 审核人:
                        span.content
                          if auth3.reviewer.uid
                            a.user(href=`/u/${auth3.reviewer.uid}`)=auth3.reviewer.username
                          else
                            span 无
                    th
                      a(href=`/u/${targetUser.uid}` target='_blank')=targetUser.username
                    th= `身份认证${authLevel}`
                    th
                      a(href=`/e/auth/${targetUser.uid}`) 查看详情
            if data.usersAuth.length === 0
              .p-t-2.p-b-2.text-center 空空如也~
block scripts
  +includeJS('/interface_common.js')
  +includeJS('/experimental/auth/index.js')
