if !post.disabled || disablePost || (data.user && data.user.uid === post.uid)
  -let userBannedNotice;
  if post.user && post.user.certs.includes('banned')
    -userBannedNotice = "该会员已被开除，不能继续参与讨论";
  //- class=post.pid===highlight?"highlight-dom":""
  //- 是否高亮
  div.single-post(id=(!disabledHighlight && post.pid===highlight)?"highlight":"")
    -let showTimeStamp = false;
    if previousPost
      // 获取前一条post当天日期零点的时间戳
      -let prepostTimeStamp = new Date(previousPost.toc)
      -prepostTimeStamp.setHours(0,0,0,0)
      -let prepostTimeStampStr = prepostTimeStamp.getTime()
      // 获取post当天日期零点的时间戳
      -let postTimeStamp = new Date(post.toc)
      -postTimeStamp.setHours(0,0,0,0)
      -let postTimeStampStr = postTimeStamp.getTime()
      if postTimeStampStr > prepostTimeStampStr
        -showTimeStamp = true;
    // 如果两条评论日期时间跨度为24小时，则给第二条评论添加时间戳
    if !previousPost || (post.toc - previousPost.toc) > 24*60*60*1000
      -showTimeStamp = true;
    if hidePostTimeCount >= 4
      -showTimeStamp = true;
    if showTimeStamp
      div.single-post-time
        div=format("YYYY-MM-DD HH:mm:ss", post.toc)
      -hidePostTimeCount = 0;
    else
      -hidePostTimeCount ++;
    .post-body.highlight(
      style=`${post.todraft?'border: 1px solid #ff5a0b;padding: 0.5rem;border-radius: 5px;background-color: #fafafa;':''}`
    )
      if !post.reviewed
        -let reviewData = {reviewPid: post.pid, reviewType: "post"}
        include ../publicModules/module_review
      if post.todraft
        .h4.text-center(style='padding-bottom: 1rem; color: #ff5a0b;') 本条回复已被退回修改，请作者点击编辑按钮修改
        p.text-center(style='border-bottom: 1px solid #ff5a0b; padding-bottom: 1rem;color: #ff5a0b;')= `退修原因：${post.reason}`
      div
        .inline-block(style='margin-bottom: 0;')
          if !post.anonymous
            a(href=`/u/${post.uid}` data-float-uid=post.uid)
              img(class=userBannedNotice?"user-banned-avatar":"" src=tools.getUrl('userAvatar', post.user.avatar, 'sm') style='width: 35px; height: 35px;border-radius: 50%;margin-right: 0.5rem;margin-top: -8px;')
              span= post.user.username
            -const targetUser = post.user;
            include ../user/module_user_grade_icon
          else
            img(src=anonymousInfo.avatar style='width: 35px; height: 35px;border-radius: 50%;margin-right: 0.5rem;margin-top: -8px;')
            span.anonymous-name= anonymousInfo.username
          //-if userBannedNotice
            span.hidden-xs.hidden-sm.user-banned=userBannedNotice
          if post.digest
            span &nbsp;
            span.fa.fa-star(style='color: #ffbf16;' title='精选')
          if !thread.firstPost.anonymous && thread.uid === post.uid
            span(style='color: #888888;')=`（作者）`
        //- 隐藏楼层
        if !hidePostStep
          .inline-block(style='float: right;')
            // -var floornumber = data.paging.start+index
            span.lighttext= post.step + '楼'
            .single-post-checkbox
              input(type="checkbox" data-pid=post.pid)
        //- 显示post链接
        if showPostUrl
          .inline-block(style='float: right; font-size: 1rem;')
            if data.thread.oc !== post.pid && data.topPost
              a(onclick=`topPost('${post.pid}', false)` style="color: #aaa;") 取消置顶
              | &nbsp;&nbsp;
            a(href=post.url style="color: #aaa;") 上下文
        .clearfix
        //-if userBannedNotice
          div.hidden-sm.hidden-md.hidden-lg.user-banned=userBannedNotice
        if(post.t && post.t !== '' && index !== 0)
          div.dirt.ThreadPostTitle.ThreadPostBody #{post.t}
        div(class=!disabledHidePost?"hide-post part":"" data-pid=post.pid)
          .thread-post-mask

            if post.quotePost
              -const quotePost = post.quotePost;
              include ./quotePost
            .ThreadPostBody.m-t-1(style=`${postHeight?'overflow-y:scroll;max-height:'+postHeight:''}`)!=post.c
            +postEditTime(post.toc, post.tlm)
            -let creditPost = post;
            include ./postCredits
          if !disabledHidePost
            .hide-post-mask
        if post.disabled
          div
            span.text-primary [此楼已屏蔽]&nbsp;
            if unblockPosts
              a(onclick=`enablePost('${post.pid}')`) [点击解除]
        //- 隐藏post的操作菜单
        if !hidePostOptions
          div
            //- 评论输入框 暂且只有作者能够首先发起评论，之后该条回复的用户才能接着评论
            .single-post-options.text-right
              if !disabledHidePost
                .hide-post-button(data-pid=post.pid)
                  button(onclick=`switchPost('${post.pid}')`)
                    .fa.fa-angle-down
                    |&nbsp;
                    span 加载全文
              if permission("quotePost") && !data.thread.close
                span.pointer.m-r-05(onclick=`quotePost('${post.pid}', '${data.paging.start + index}', '${data.paging.page.toString()}')`)
                  span.fa.fa-comment-o &nbsp;
                  span 回复
              //if post.postCount > 0
              //  span.pointer.m-r-05(onclick=`viewPostComments('${post.tid}', '${post.pid}')` class=`show_comments_button_${post.pid} thread-post-comment-active`)=`评论(${post.postCount})`
              //else if data.user
              //  span.pointer.m-r-05(onclick=`viewPostComments('${post.tid}', '${post.pid}')` class=`show_comments_button_${post.pid}`)=`评论`
              //span.pointer.m-r-05(onclick=`hidePostComments('${post.pid}')` class=`display-n hide_comments_button_${post.pid}`)=`折叠评论`
              include ../module_vote
              +voteButtons(post, !!data.user)
              if !post.anonymous && addKcb && post.uid !== data.user.uid
                .inline-block.post-qrcode
                  .fa.fa-cny.pointer(title='鼓励' onclick=`credit("${post.pid}", 'kcb', ${data.user.kcb})`)
              span(data-type='share' data-share-type='post' data-share-id=post.pid)
                .fa.fa-share-square-o
              if data.user
                -let dropType = "dropup";
                span(data-type='postOption' data-pid=post.pid)
                  .fa.fa-sliders
                //-+postOptions(post, '',index, dropType)
            //.post-comments-div(id=`post_comments_${post.pid}`)
            //  .text-center 加载评论中，请稍候...
            //if data.user
            //  -var comment = post;
            //  include ./postEdit
            //.m-t-1.m-b-1.pointer.text-center(onclick=`hidePostComments('${post.pid}', true)` class=`display-n hide_comments_button_${post.pid}`)=`折叠评论 `
            //  span.fa.fa-angle-up
