extends ./index.pug
block title
  -const product = data.product
block name
  .row    
    .col-xs-12.col-md-12
      .col-xs-12
        a.btn.btn-info(href=`/shop/manage/${data.user.uid}/goodslist`)
          span.fa.fa-backward
          | &nbsp;返回
    .col-md-12.col-sm-12.col-xs-12
      .col-xs-12
        p 
          span 商品名称：
          span!=`${product.name}`
      .col-xs-12
        .panel.panel-info
          .panel-heading
            | 销售信息
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 库存计数
                .col-sm-8
                  .radio
                    label
                      input#stockMethod1(type='radio', name='stockCostMethod', value='orderReduceStock', checked=product.stockCostMethod=='orderReduceStock'?true:false)
                      |     买家拍下减库存
                      b(style="color:red")  （拍下减库存，存在恶拍风险）
                  .radio
                    label
                      input#stockMethod2(type='radio', name='stockCostMethod', value='payReduceStock' checked=product.stockCostMethod=='payReduceStock'?true:false)
                      |     买家付款减库存
                      b(style="color:red")  （付款减库存，存在超卖风险）
        .panel.panel-info
          .panel-heading
            | 购买条件
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 购买限制
                .col-sm-10
                  .checkbox
                    label
                      input#isPurchaseLimit(type='checkbox' checked=product.purchaseLimitCount>-1?true:false)
                      |  是否限购
              .form-group#purchaseLimitDom(style=product.purchaseLimitCount>-1?"":"display:none")
                label.col-sm-2.control-label 每人限购数量
                .col-sm-8
                  input.form-control#purchaseLimitCount(type="number", name="" value=product.purchaseLimitCount!==-1?product.purchaseLimitCount:"")
              .form-group
                label.col-sm-2.control-label 购买凭证
                .col-sm-10
                  .checkbox
                    label
                      input#isUploadCert(type='checkbox' checked=product.uploadCert?true:false)
                      |  是否需要上传购买凭证
              .form-group#uploadCertDom(style=product.uploadCert?"":"display:none")
                label.col-sm-2.control-label 凭证说明
                .col-sm-8
                  input.form-control#uploadCertDescription(type="text", name="" maxlength="50" placeholder="请简单说明买家需上传哪种凭证，不超过50字" value=product.uploadCert?product.uploadCertDescription:"")
        .panel.panel-info
          .panel-heading
            | 运费物流
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 运费承担
                .col-sm-8
                  label.radio-inline
                    input#freightMethod1(type='radio', name='freightMethod', value='freePost' checked=product.isFreePost?true:false)
                    |  免邮费
                  label.radio-inline
                    input#freightMethod2(type='radio', name='freightMethod', value='payPost' checked=product.isFreePost?false:true)
                    |  买家承担邮费
              //- .form-group
              //-   label.col-sm-2.control-label 首重价格
              //-   .col-sm-5
              //-     .input-group
              //-       input.form-control#freightPrice(type='number', placeholder="总运费=单件运费价格*商品数量", aria-describedby='stockQuantity')
              //-       span.input-group-addon 元
              .form-group#freightPriceDom(style=product.isFreePost?"display:none":"")
                label.col-sm-2.control-label 
                .col-sm-8
                  span 首件商品运费 
                  span 
                    input#firstFreightPrice(type="text", name="", style="width:30px" value=product.isFreePost?"":numToFloatTwo(product.freightPrice.firstFreightPrice))
                  span  元，
                  span 每增加 1 件商品，增加运费 
                  span 
                    input#addFreightPrice(type="text", name="", style="width:30px" value=product.isFreePost?"":numToFloatTwo(product.freightPrice.addFreightPrice))
                  span  元
                  //- p(style="color:red;font-size:11px") 注意:首重运费与增加运费应大于0
        .form-group
          label.col-sm-2.control-label
          .col-sm-8(style="text-align:center")
            button.btn.btn-primary.radius(onclick=`editProductShelf("${data.user.uid}","${product.productId}")`, type='submit')
              i.fa.fa-save
              | &nbsp;保存修改
block manageScripts
  +includeJS("/bootstrap/js/bootstrap-datetimepicker.min.js")
  +includeJS("/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js")
  +includeJS("/shop/manage/shelf.js")
  +includeJS("/shop/manage/goodslist.js")
