extends ../shop
block shopTitle
  title 我出售的
block shopContent
  -const statistics = data.statistics;
  //- h1.page-header
  //-   | Tabs & Panels 
  //-   small Nice tabs and panels
  .row
    .col-md-3.col-sm-12.col-xs-12
      .panel.panel-default.text-center.no-boder.bg-color-green
        .panel-body
          i.fa.fa-bar-chart-o.fa-5x
          h3!=statistics.visitCount
        .panel-footer.back-footer-green
          | 访问总量
    .col-md-3.col-sm-12.col-xs-12
      .panel.panel-default.text-center.no-boder.bg-color-blue
        .panel-body
          i.fa.fa-shopping-cart.fa-5x
          h3!=statistics.sellCount
        .panel-footer.back-footer-blue
          | 已售数量
    .col-md-3.col-sm-12.col-xs-12
      .panel.panel-default.text-center.no-boder.bg-color-red
        .panel-body
          i.fa.fa.fa-comments.fa-5x
          h3!=statistics.talkCount
        .panel-footer.back-footer-red
          | 商品讨论量
    .col-md-3.col-sm-12.col-xs-12
      .panel.panel-default.text-center.no-boder.bg-color-brown
        .panel-body
          i.fa.fa-users.fa-5x
          h3!=statistics.funsCount
        .panel-footer.back-footer-brown
          | 粉丝数量
  .row
    .col-md-12
      // Kitchen Sink
      .panel.panel-default
        .panel-heading
          span(style="font-weight:600") 统计信息
        .table-responsive
          table.table.table-striped.table-bordered.table-hover
            tbody
              tr
                td 商品总数
                td
                  a(style="color:red")!=statistics.productCount
                  | &nbsp;个
              tr
                td 在售商品数
                td
                  a(style="color:red")!=statistics.productInsaleCount
                  | &nbsp;个
              tr
                td 仓库商品数
                td
                  a(style="color:red")!=statistics.productNosaleCount
                  | &nbsp;个
              tr
                td 停售商品数
                td
                  a(style="color:red")!=statistics.productStopsaleCount
                  | &nbsp;个
              tr
                td 订单总数
                td
                  a(style="color:red")!=statistics.orderCount
                  | &nbsp;个
              tr
                td 待付款订单
                td
                  a(style="color:red")!=statistics.orderUnCostCount
                  | &nbsp;个
              tr
                td 待发货订单
                td
                  a(style="color:red")!=statistics.orderUnShipCount
                  | &nbsp;个
              tr
                td 待收货订单
                td
                  a(style="color:red")!=statistics.orderUnSignCount
                  | &nbsp;个
              tr
                td 已完成订单
                td
                  a(style="color:red")!=statistics.orderFinishCount
                  | &nbsp;个
              tr
                td 退款中订单
                td
                  a(style="color:red")!=statistics.orderRefundCount
                  | &nbsp;个
