extends ../shop
block shopTitle
  title 我出售的
block shopContent
  -const statistics = data.statistics;
  .row
    .col-md-12
      // Kitchen Sink
      .panel.panel-default
        .panel-heading
          span(style="font-weight:600") 统计信息
        .table-responsive
          table.table.table-striped.table-bordered.table-hover
            tbody
              tr
                td 商品总数
                td
                  a(style="color:red")!=statistics.productCount
                  | &nbsp;个
              tr
                td 在售商品数
                td
                  a(style="color:red")!=statistics.productInsaleCount
                  | &nbsp;个
              tr
                td 仓库商品数
                td
                  a(style="color:red")!=statistics.productNosaleCount
                  | &nbsp;个
              tr
                td 停售商品数
                td
                  a(style="color:red")!=statistics.productStopsaleCount
                  | &nbsp;个
              tr
                td 订单总数
                td
                  a(style="color:red")!=statistics.orderCount
                  | &nbsp;个
              tr
                td 待付款订单
                td
                  a(style="color:red")!=statistics.orderUnCostCount
                  | &nbsp;个
              tr
                td 待发货订单
                td
                  a(style="color:red")!=statistics.orderUnShipCount
                  | &nbsp;个
              tr
                td 待收货订单
                td
                  a(style="color:red")!=statistics.orderUnSignCount
                  | &nbsp;个
              tr
                td 已完成订单
                td
                  a(style="color:red")!=statistics.orderFinishCount
                  | &nbsp;个
              tr
                td 退款中订单
                td
                  a(style="color:red")!=statistics.orderRefundCount
                  | &nbsp;个
