extends ./index.pug
block title
  link(rel='stylesheet' href='/external_pkgs/citySet/citySet.css')
block name
  .row
    .col-md-12.col-sm-12.col-xs-12
      //- if data.store.dataPerfect
      //-   p(style="color:forestgreen") 
      //-     span.fa.fa-check-circle(style="font-size:30px") 
      //-     | 交易信息已经完善，您现在可以去发布商品了
      //- else
      //-   p(style="color:crimson") 
      //-     span.fa.fa-exclamation-circle(style="font-size:30px")
      //-     | 完善交易信息后才能发布商品
    .col-md-12.col-sm-12.col-xs-12
      .panel.panel-info
        .panel-heading
          | 交易基础设置
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 供货说明
              .col-sm-8
                textarea.form-control#dealDescription(name="dealDescription" placeholder='请输入不超过200字的简单介绍' rows='3' maxlength='200')!=`${data.dealInfo?data.dealInfo.dealDescription:""}`
                p(style="color:#ccc") 
                  span (选填)最多
                  span#dealDescriptionNum 0
                  span /200字
            .form-group
              label.col-sm-2.control-label 全局公告
              .col-sm-8
                textarea.form-control#dealAnnouncement(name="dealAnnouncement" placeholder='请填写需要告知卖家的话' rows='3' maxlength='500')!=`${data.dealInfo?data.dealInfo.dealAnnouncement:""}`
                p(style="color:#ccc") 
                  span (选填)最多
                  span#dealAnnouncementNum 0
                  span /500字
            .form-group
              label.col-sm-2.control-label 退货地址
              .col-sm-8
                input#location.input.form-control(name='', type='text', placeholder='请选择退货地址', autocomplete='off', readonly='true', value=`${data.dealInfo?data.dealInfo.location:""}`)
                input#address.form-control(type="text", name="address", style="margin-top:5px", placeholder="请输入详细地址"  value=`${data.dealInfo?data.dealInfo.address:""}`)
                //- p(style="background-color: aliceblue;border: 1px solid #70b8f7;") 最多200个字
            .form-group(style="text-align:center")
              button.btn.btn-primary(onclick=`saveToInfo(${data.user.uid})`) 保存


block manageScripts
  +includeJS('/shop/manage/info.js')
  +includeJS('/external_pkgs/citySet/city.json.js')
  +includeJS('/external_pkgs/citySet/citySet.js')
  script.
    $("#location").click(function (e) {
      console.log("123")
      SelCity(this,e);
    });