extends ./index.pug

block name
  .row
    .col-md-12.col-sm-12.col-xs-12
      .panel.panel-info
        .panel-heading
          | 基本信息
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 商品标题
              .col-sm-8
                input.form-control#productName(type="text", name="productName" placeholder="最多允许输入30个字" maxlength="30")
            //- .form-group
            //-   label.col-sm-2.control-label 商品属性
            //-   .col-sm-8
            //-       .col-sm-12
            //-         p 正确填写商品属性有利于搜索，便于销售，请认真填写.
            //-       .col-sm-12
            //-         div(style="background-color:#eee;position: relative;float: left;font-size: 12px;clear: both;padding:20px")
            //-           .col-sm-6
            //-             label.control-label 货号
            //-             input.form-control(type="text", name="")
            //-           .col-sm-6
            //-             label.control-label 材质
            //-             input.form-control(type="text", name="")
            //-           .col-sm-6
            //-             label.control-label 品牌选择
            //-             select.form-control
            //-               option 1
            //-               option 2
            //-               option 3
            //-               option 4
            //-               option 5
            //-           .col-sm-6
            //-             label.control-label 材质
            //-             input.form-control(type="text", name="")
            .form-group
              label.col-sm-2.control-label 商品描述
              .col-sm-8
                textarea.form-control#productDescription(name="productDescription" placeholder='请输入对商品的简单介绍' rows='3' maxlength='20')
                p(style="color:#ccc") 最多200个字
      .panel.panel-info
        .panel-heading
          | 销售信息
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 商品价格
              .col-sm-5
                .input-group
                  input.form-control#originalPrice(type='text', placeholder="Product's Price", aria-describedby='originalPrice' oninput="autoCalcuPrice()")
                  span.input-group-addon 元
                .input-group.input-group-sm.col-sm-7(style="margin-top:5px")
                  span.input-group-addon(style="background-color:#fff;border:0")
                    input#useRebate(type='checkbox', aria-label='...')
                  span.input-group-addon(style="background-color:#fff;border:0") 使用折扣
                  input.form-control#rebate(type='text', aria-label='Amount (to the nearest dollar)' placeholder="")
                  span.input-group-addon %
                  span.input-group-addon(style="background-color:#fff;border:0")
                    i.fa.fa-question-circle(data-trigger='hover', data-container='body', data-toggle='popover', data-placement='bottom', data-content='折扣为小于100的正整数')

            .form-group
              label.col-sm-2.control-label 库存数量
              .col-sm-5
                .input-group
                  input.form-control(type='text', placeholder="Stock's Quantity", aria-describedby='stockQuantity')
                  span#stockQuantity.input-group-addon 件
      .panel.panel-info
        .panel-heading
          | 支付信息
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 付款方式
              .col-sm-8
                label.radio-inline
                  input#paymentMethod(type='radio', name='paymentMethod', value='payOne')
                  |  科创币
                label.radio-inline
                  input#paymentMethod(type='radio', name='paymentMethod', value='payTwo')
                  |  人民币
                label.radio-inline
                  input#paymentMethod(type='radio', name='paymentMethod', value='payThree')
                  |  科创币+人民币混合付款
      .panel.panel-info
        .panel-heading
          | 图文描述
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label Product Image2
              .col-sm-8
                .upload_image_item
                  .upload_image_item_border
                    .upload_image_item_content
                      i.fa.fa-plus(style="margin: 0;display: block;text-align: center;color: #0085D7;font-size:20px")
                      p(style="font-size: 12px;line-height: 1;color: #666;text-align: center;margin: 12px 0 0;") 添加上传图片
                .upload_image_item
                  .upload_image_item_border
                    .upload_image_item_content
                      i.fa.fa-plus(style="margin: 0;display: block;text-align: center;color: #0085D7;font-size:20px")
                      p(style="font-size: 12px;line-height: 1;color: #666;text-align: center;margin: 12px 0 0;") 添加上传图片
                .upload_image_item
                  .upload_image_item_border
                    .upload_image_item_content
                      i.fa.fa-plus(style="margin: 0;display: block;text-align: center;color: #0085D7;font-size:20px")
                      p(style="font-size: 12px;line-height: 1;color: #666;text-align: center;margin: 12px 0 0;") 添加上传图片
                .upload_image_item
                  .upload_image_item_border
                    .upload_image_item_content
                      i.fa.fa-plus(style="margin: 0;display: block;text-align: center;color: #0085D7;font-size:20px")
                      p(style="font-size: 12px;line-height: 1;color: #666;text-align: center;margin: 12px 0 0;") 添加上传图片
                .upload_image_item
                  .upload_image_item_border
                    .upload_image_item_content
                      i.fa.fa-plus(style="margin: 0;display: block;text-align: center;color: #0085D7;font-size:20px")
                      p(style="font-size: 12px;line-height: 1;color: #666;text-align: center;margin: 12px 0 0;") 添加上传图片
            .form-group
              label.col-sm-2.control-label Product Details
              .col-sm-8
                div#ReplyContent
                .checkbox-inline(style="display:none")
                  label
                    input#ParseURL(type='checkbox' checked)
                    | 处理URL
                .form-group
                include ../../media/media_index.pug  
            .form-group
              label.col-sm-2.control-label
              .col-sm-8
                button.btn.btn-primary.radius(onclick='submitToShelf()', type='submit')
                  i.fa.fa-save
                  | &nbsp;保存并提交审核
                button.btn.btn-info.radius(onclick='test()', type='submit')
                  i.fa.fa-eye
                  | &nbsp;预览
        .panel-footer
          | Panel Footer
          button.btn.btn-primary(onclick="autoCalcuPrice()") test
block manageScripts
  script(src=`/mdui/js/mdui.min.js?v=${global.NKC.startTime}`)
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src='/commonmark/dist/commonmark.js')
  script(src='/xbbcode-parser/xbbcode.js')
  script(src='/xss/dist/xss.js')  
  script(src=`/nkc_render.js?v=${global.NKC.startTime}`)
  //- script(src=`/interface_attachment_uploader.js?v=${global.NKC.startTime}`)
  script(type='text/jsx;harmony=true' src=`/interface_attachment_list_display_test.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`/wangEditor.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`/shop/manage/shelfEditor.js?v=${global.NKC.startTime}`)
  script(src=`/media/media_index.js?v=${startTime}`)
  script(src=`/shop/manage/shelf.js`)
