extends ../../bootstrap_base
block title
  title 付款
  +includeCSS('/shop/pay/pay.css')
block content
  #data.hidden=objToStr({ordersId: data.ordersId, totalMoney: data.ordersInfo.totalMoney, userMainScore: data.userMainScore, mainScore: data.mainScore, rechargeSettings: data.rechargeSettings})
  .container-fluid.max-width#app(v-cloak).box-shadow-panel
    div
      .row
        .col-xs-12.col-md-12
          h3 收银台
          hr
          h5=`商品列表：`
          div(style="padding:5px")
            for title in data.ordersInfo.description
              div=title

          h5 总计：
            span.text-danger#totalPrice=data.ordersInfo.totalMoney/100
            |&nbsp;元
        .col-xs-12.col-md-6
          h5 选择支付方式
          .payments
            .payment(:class="{'active': payment === 'mainScore'}")
              .icon
                img(src=tools.getUrl('scoreIcon', data.mainScore.icon))
              .info
                .name {{mainScore.name}}
                .description 当前账户剩余{{mainScore.name}} {{userMainScore/100}} {{mainScore.unit}}，
                  a(href=`/account/finance/recharge` target='_blank') 去充值
              .selection
                label
                  input(type='radio' value='mainScore' v-model='payment')
            .payment(v-if='aliPay.enabled' :class="{'active': payment === 'aliPay'}")
              .icon.aliPay
                img(src=tools.getUrl('defaultFile', 'fund_pay.jpg'))
              .info
                .name 支付宝
                .description(v-if='aliPay.fee')
                  | 服务商（非本站）将收取 {{aliPay.fee * 100}}% 的手续费
                .description(v-else)
              .selection
                label
                  input(type='radio' value='aliPay' v-model='payment')
            .payment(v-if='weChat.enabled' :class="{'active': payment === 'weChat'}")
              .icon.aliPay.weChat
                img(src=tools.getUrl('defaultFile', 'fund_pay.jpg'))
              .info
                .name 微信支付
                .description(v-if='weChat.fee')
                  | 服务商（非本站）将收取 {{weChat.fee * 100}}% 的手续费
                .description(v-else)
              .selection
                label
                  input(type='radio' value='weChat' v-model='payment')
        .col-xs-12.col-md-12(v-if='payment === "mainScore"')
          .m-t-1
            //- 积分余额不足
            .text-danger(v-if='needRecharge') 当前{{mainScore.name}}不足，请
              a(href='/account/finance/recharge' target="_blank") 充值
              | 或选择其他支付方式。
            div(v-else)
              .m-t-2
                h4 需支付：{{mainScore.name}}
                  span.text-danger &nbsp;{{totalMoney / 100}}&nbsp;
                  | {{mainScore.unit}}
              .form(style='max-width: 20rem;')
                .form-group
                  h5 请输入登录密码
                  input.form-control(type='password' v-model.trim='password')
                .form-group
                  button.btn.btn-primary(disabled v-if='submitting') 支付中...
                  button.btn.btn-primary(@click=`submit` v-else) 确认支付
                  button.btn.btn-info(onclick=`javascript :history.back(-1);`) 返回
        .col-xs-12.col-md-12(v-else)
          .m-t-2
            h4 需支付：
              span.text-danger &nbsp;{{totalPrice / 100}}&nbsp;
              |元
              span.fee-info(v-if='fee > 0') （含手续费 {{(totalPrice - totalMoney) / 100}} 元）
            button.btn.btn-primary(disabled v-if='submitting') 支付中...
            button.btn.btn-primary(@click='useAliPay' v-else) 立即支付

block scripts
  +includeJS('/shop/pay/pay.js')
