extends ../nkc
block nkcTitle
  title 独立内容
  +includeCSS('/nkc/document/document.css')
block nkcContent
  div
    .m-b-05
      ul.nav.nav-tabs
        li(class=!data.t ? 'active' : "")
          a(href='/nkc/document') 全部
        li(class=data.t === 'article' ? 'active' : "")
          a(href='/nkc/document?t=article') 文章
        li(class=data.t === 'comment' ? 'active' : "")
          a(href='/nkc/document?t=comment') 评论
        li(class=data.t === 'moment' ? 'active' : "")
          a(href='/nkc/document?t=moment') 动态
    include ../../publicModules/paging/paging_input
    .management-posts
      for document in data.documentsInfo
        .management-post(class=document.status)
          .post-header
            .post-time=format("YYYY/MM/DD HH:mm:ss", document.toc)

            span.post-type(class=document.source)=document.from
            a(href=`/u/${document.uid}` target="_blank"
              data-global-mouseover="showUserPanel"
              data-global-mouseout="hideUserPanel"
              data-global-data=objToStr({uid: document.uid})
            ).post-user
              img(src=document.userAvatarUrl)
              span= document.username
            a.post-url(href=document.url target="_blank") 原文链接
            .post-options
              if document.status === 'deleted'
                span.status 已被删除
              if document.status === 'disabled'
                span.status 已被屏蔽
              else if document.status === 'faulty'
                span.status 已被退休

              if document.source === 'moment'
                if permission('managementMoment')
                  if document.status === 'deleted'
                    button.btn-xs.btn.btn-success(onclick=`recoveryMoment('${document.momentInfo.momentId}')`) 恢复
                  else if document.status === 'normal'
                    button.btn-xs.btn.btn-danger(onclick=`deleteMoment('${document.momentInfo.momentId}')`) 删除

              else
                if permissionsOr(["movePostsToDraft", "movePostsToRecycle"])
                  button.btn-xs.btn.btn-danger(onclick=`deleteArticle('${document._id}')`) 退修/删除
          .post-body
            .row
              .col-xs-12.col-md-6
                .post-title=`中文摘要：${document.abstract || '无'}`
              .col-xs-12.col-md-6
                .post-title=`英文摘要：${document.abstractEN || '无'}`
              .col-xs-12.col-md-6
                .post-title=`中文关键词：${document.keywords.join(', ') || '无'}`
              .col-xs-12.col-md-6
                .post-title=`英文关键词：${document.keywordsEN.join(', ') || '无'}`
            .row
              .col-xs-12
                .bg-danger.p-a-05
                  .row
                    if document.title
                      .col-xs-12.col-md-6
                        .post-title=`文章标题：`
                          a(href=document.url target='_blank')=document.title
                    if document.t
                      .col-xs-12.col-md-6
                        .post-title=`内容标题：${document.t || '无'}`
            .post-content.bg-danger.p-a-05!=`${document.content || '未填写内容'}`
            if document.source === 'moment' && document.momentInfo.files
              .post-content-source
                for file in document.momentInfo.files
                  if file.type === 'picture'
                    img.m-r-05(src=file.url data-global-click="viewImage" data-global-data=objToStr({url: file.url}))
                  else if file.type === 'video'
                    video(controls).m-r-05
                      for source in file.sources
                        source(src=source.url height=source.height)
    include ../../publicModules/paging/paging_input
block nkcScripts
  +includeJS('/nkc/document/document.js')
  include ../../publicModules/nkcSource
  include ../../publicModules/disabledPost/disabledPost

