extends ../experimental

block eTitle
  link(href='/experimental/index.css' rel='stylesheet')
  title
block eContent
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        h4 请勾选需要记日志的操作
        table.table.table-hover
          thead
            tr
              th 序号
              th 操作名
              th 操作介绍
              th 是否记录日志
          tbody
            -let n = 0;
            for operation in data.operations
              -n++;
              tr
                th= n
                th= operation._id
                th= lang("operations", operation._id)
                th
                  .checkbox
                    label
                      if data.logSettings.operationsId.includes(operation._id)
                        input(type='checkbox' name="operation" data-operation=operation._id checked=true)
                      else
                        input(type='checkbox' name="operation" data-operation=operation._id)
        button.btn.btn-primary(onclick='saveLogSettings()') 保存



block scripts
  script(src='/experimental/settings/log.js')