extends ../../bootstrap_base
block title
  title 考试记录
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        include ../nav.pug
      .col-xs-12.col-md-6
        ul.nav.nav-tabs
          li(class=data.t==='self'?'active': '')
            a(href='/exam/record/paper?t=self') 我的
          li(class=!data.t?'active': '')
            a(href='/exam/record/paper') 全部 
        .m-t-1    
          include ../../interface_navigation_paging          
        table.table.table-striped
          thead
            tr
              th 时间
              th 用户名
              th 科目
              th 题目类型
              th 状态
          tbody       
            for paper in data.papers
              tr
                th=(paper.tlm || paper.toc).toLocaleString()
                th
                  a(href=`/u/${paper.user.uid}` target='_blank')= paper.user.username || `用户${paper.user.uid}`
                th= paper.category.name
                th
                  if paper.category.volume === 'A'
                    | A(基础级)  
                  else 
                    | B(专业级)
                th  
                  if paper.timeOut
                    span.text-danger 超时    
                  else if paper.passed
                    span.text-success 通过
                  else if !paper.passed    
                    if !paper.submitted && !paper.timeOut
                      span 未结束
                        a.p-l-1(href=`/exam/paper/${paper._id}?created=true`) 继续考试
                    else  
                      span.text-danger 未通过 
        include ../../interface_navigation_paging                  