extends scratch.pug
block head

  meta(charset='UTF-8')
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="format-detection" content="telephone=no")
  meta(name="google-site-verification" content="daD64Dm9iV1usCNqLOqzBdBP_wqJYXNBr3ACy979VwY")
  if state.isApp && state.platform === 'reactNative'
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(rel='shortcut icon' href=tools.getUrl('siteIcon', state.serverSettings.siteIcon, 'ico'))
  +includeJS('/publicModules/common.js')
  if data.user
    script!=`NKC.configs.uid="${data.user.uid}";`
  if state.isApp && state.platform === 'apiCloud'
    +includeJS("/appAPi/api.js")
  +includeCSS('/bootstrap/css/bootstrap.css')
  //- 字体图标 http://www.fontawesome.com.cn/icons-ui/
  +includeCSS('/font-awesome/css/font-awesome.css')
  style=`body{background-color: ${state.serverSettings.backgroundColor}}`
  +includeCSS('/nkc_styles.css')
  if state.isApp
    style.
      body{
        padding-top: 0;
      }
  +includeCSS('/publicModules/public.css')
  block title
    meta(name="description" content="倡导科学理性，发展科技爱好")
    title bootstrap_base
  if state.isApp && state.platform === 'reactNative'
    +includeJS('/appApi/reactNative.js')

block body
  block navbar
    div
      if !state.isApp
        include ./publicModules/navbar/navbar.pug

  block content
    h1 hello world!
  if !state.isApp
    block footer
      include ./publicModules/footer/footer
  if data.user
    if data.user.generalSettings.lotterySettings.status
      include module_lottery
    -const {systemInfo, reminder, usersMessage} = data.user.generalSettings.messageSettings.beep;
    audio.hidde#beep(data-notice=`${systemInfo}`, data-reminder=`${reminder}`, data-message=`${usersMessage}`)
  +includeJS('/jquery/jquery-1.11.1.js')
  +includeJS('/jquery/jquery-ui.1.11.4.min.js')
  //-app使用的js
  if state.isApp
    script!=`NKC.configs.isApp = true;NKC.configs.appOS="${state.appOS}";NKC.configs.platform="${state.platform}"`
    if state.platform === 'apiCloud'
      +includeJS("/appAPi/app.js")
  +includeJS('/bootstrap/js/bootstrap.min.js')
  +includeJS('/twemoji/2/twemoji.min.js')
  +includeJS('/Promise/promise.min.js')
  +includeJS('/external_pkgs/polyfill/dist/polyfill.min.js')
  if NODE_ENV === "production"
    script.
      Vue.config.productionTip = false;
  //- 弹窗模块
  +includeJS("/sweetalert2/dist/sweetalert2.all.min.js")
  +includeJS('/tools.js')
  // 前后端公用 数据类型检查
  +includeJS("/checkData.js")
  //- 旧版common.js兼容旧的页面
  +includeJS('/interface_common.js')
  if data.user
    script!=`NKC.configs.selectTypesWhenSubscribe=!!${data.user.generalSettings.subscribeSettings.selectTypesWhenSubscribe};`
    script!=`NKC.configs.refererOperationId="${data.operationId}"`
    +includeJS('/socket.io-client/dist/socket.io.js')
    //- 通用socket
    if !state.isApp
      //- 接入即时通信
      +includeJS('/message/connectSocket.js')
      include ./message/chat

  if (!state.isApp || state.platform === 'reactNative') && !data.user
    include ./publicModules/login/login
  block scripts
  if !state.isApp
    //- 生成二维码 页脚
    include ./publicModules/qrcode/qrcode
    script.
      console.log('(c)2019 成都科创科学文化研究院')
      console.log('Project Repository: https://github.com/kccd/nkc')
  if state.isApp && state.platform === 'reactNative'
    script.
      document.body.style.userSelect = window._userSelect || 'none';
