select#TargetForum
  each fg in data.forumList
    if listParent
      option #{fg.fid}:#{fg.displayName} ====
    else
      option ----
    each f in fg.children || []
      -var selected = (data.forum&&data.forum.fid&&data.forum.fid===f.fid)||(data.doc&&data.doc._key===f.fid)
      if selected
        option(selected) #{f.fid}:#{f.displayName}
      else
        option #{f.fid}:#{f.displayName}
