-var p = p
.panel.panel-default
  .panel-body
    if(formerPost)
      a(href=`/p/${formerPost.pid}/history/rollback/${formerPost._id}`) 回滚至此版本
    else
      a(href=`/p/${p.pid}/history/rollback/${p._id}`) 回滚至此版本
    p.reddish #{dateTimeString(p.tlm)}
    p 作者(修改者)：
      -var uid = p.uidlm||p.uid
        a(href=`/m/${uid}`) #{uid}
    
    p 语言：#{p.l}
    
    hr.hrNarrowSpace
      
    if formerPost
      if(formerPost.t !== '')
        h1!=htmlDiff(formerPost.t, p.t)
        hr.hrNarrowSpace
      -post.c = hideContentByUser(formerPost.c, data.user, 'thread')
      div!=htmlDiff(formerPost.c, p.c)
    else
      if(p.t !== '')
        h1!=plain(p.t)
        hr.hrNarrowSpace
      div!=plain(p.c)
