extends bootstrap_base.pug

block title
  -const thread = data.thread;
  title= `${thread.firstPost.t} - 科创论坛`
  meta#replytarget(value=`${data.replyTarget}`)

  -let modifyPostTimeLimit = 0;
  -for(let i = 0; i < data.userRoles.length; i++)
    -const r = data.userRoles[i];
    if r.modifyPostTimeLimit > modifyPostTimeLimit
      -modifyPostTimeLimit = r.modifyPostTimeLimit
    if r.modifyPostTimeLimit === -1
      -modifyPostTimeLimit = -1;
      -break;
  include MathJax.pug

  if (thread.firstPost&&thread.firstPost.c)
    -var processed=thread.firstPost.c.replace(/\[.*?]|\#|\n|\<.*?>/gm,'').trim().slice(0,140)
    
    meta(name='description' content=`${processed}`)
    meta(name='keywords' content=`${thread.firstPost.t}`)
  
  
block content
  -const mainContainer1400 = true;
  -const moveThread = data.isModerator || data.userOperationsId.includes('moveThread');
  -const {exactPost} = data

    .container-fluid(style="max-width:1400px;")
      .row
        .col-xs-12.col-md-9
          .nkcpanel.fullwidthpanel.ThreadBox
            .row
              .col-xs-8.col-md-8
                .ThreadTitleAuxillaryLink
                  //- 设置精华
                  if data.user && data.userOperationsId.includes('collectThread')
                    if data.collected
                      a.highlight
                        span.fa.fa-folder-o &nbsp;已收藏
                    else
                      a(href=`javascript:addColl('${thread.tid}')`)
                        span.fa.fa-folder-o &nbsp;收藏
                  if data.isModerator || data.userOperationsId.includes('digestThread') && !thread.digest
                    a#threadDigest(href=`javascript:setDigest('${data.thread.tid}')`) 设置精华
                  if data.isModerator || data.userOperationsId.includes('unDigestThread') && thread.digest
                    a#threadDigest(href=`javascript:cancelDigest('${data.thread.tid}')`) 撤销精华
                  //- 设置置顶
                  if data.isModerator || data.userOperationsId.includes('toppedThread') && !thread.topped
                    a#threadTop(href=`javascript:setTopped('${data.thread.tid}')`) 设置置顶
                  if data.isModerator || data.userOperationsId.includes('unToppedThread') && thread.topped
                    a#threadTop(href=`javascript:cancelTopped('${data.thread.tid}')`) 撤销置顶
                  if data.userOperationsId.includes('homeTop') && !data.ads.includes(data.thread.tid)
                    a#threadTop(href=`javascript:homeTop('${data.thread.tid}')`) 首页置顶
                  if data.userOperationsId.includes('unHomeTop') && data.ads.includes(data.thread.tid)
                    a#threadTop(href=`javascript:unHomeTop('${data.thread.tid}')`) 取消首页置顶
              .col-xs-4.col-md-4
                .thread-oc
                  .text-center= `文号`
                  hr(style='margin: 5px 0;')
                  .text-center= thread.oc
                .text-right(style='color: #aaaaaa;font-size: 1.4em;')
                  span 文号：
                  span(style='color: #ccddff;')= thread.oc
              .col-xs-12.col-md-12
                .thread-div
                  .h2.text-center.thread-title= thread.firstPost.t
                  .thread-info.text-center
                    .inline-block.text-left(style='vertical-align:middle;padding-top: 0.2rem;')
                      img(src=`/avatar_small/${thread.uid}` style='width: 3em;height: 3em;border-radius:50%;')
                    .inline-block.text-left(style='vertical-align:middle;')
                      a(href=`/u/${thread.uid}` target='_blank')
                        span= ` ${thread.firstPost.user.username}`
                      if data.subscribe && data.subscribe.subscribeUsers.includes(thread.uid)
                        button.btn.btn-primary.btn-sm.thread-subscribe-button(onclick=`subscribeUser("${thread.uid}", false)`) 取消关注
                      else
                        button.btn.btn-primary.btn-sm.thread-subscribe-button(onclick=`subscribeUser("${thread.uid}", true)`) 关注
                      br
                      span= `${thread.toc.toLocaleString()} `
                      span=`阅读 ${thread.hits} 回复 ${thread.count}`

                  -const post = thread.firstPost;
                  -post.c = hideContentByUser(post.c, data.user, 'thread')
                  div.thread-content!= experimental_render(post)
        .col-sm-12.col-md-3

block scripts
  script(src='/qrcode/build/qrcode.js')
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src='/module_dropdown.js?v=3')
  script(src=`/interface_thread.js?v=${global.NKC.startTime}`)
  script.
    common.backcolorChange("#{(data.user?data.user.color:null)||'#e4e4e4'}");
  script(src="/jquery-1.10.2.js")
  script(src="/jquery-ui-1.10.4.custom.js")
  script(src='/commonmark/dist/commonmark.js')
  script(src='/plain_escaper.js')
  script(src='/xbbcode-parser/xbbcode.js')
  script(src='/xss/dist/xss.js')
  
  script(src='/external_pkgs/react/react.min.js')
  script(src='/external_pkgs/react/JSXTransformer.js')
  script(src=`/nkc_render.js?v=${global.NKC.startTime}`)
  script(src=`/interface_editor_reply.js?v=${global.NKC.startTime}`)
  script(src=`/interface_attachment_uploader.js?v=${global.NKC.startTime}`)
  script(type='text/jsx;harmony=true' src=`/interface_attachment_list_display_test.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`/wangEditor.js?v=${global.NKC.startTime}`)
  script(type="text/javascript" src=`/newEditor_reply.js?v=${global.NKC.startTime}`)