extends bootstrap_base
block title
  title= `${data.user.username}的基金申请`
  link(rel='stylesheet' href='/fund.css')
block content
  -const {applicationForm, privateInfo, member} = data;
  -const {_id, members, applicant, fund} = applicationForm;
  -const {idCard, idCardPhotos, lifePhotos, handheldIdCardPhoto} = fund.member;
  -const arr = [];
  if idCard
    -arr.push({en: 'mobile', ch: '绑定手机号码'});
  if idCardPhotos
    -arr.push({en: 'idCardPhotos', ch: '上传身份证照片'});
  if lifePhotos
    -arr.push({en: 'lifePhotos', ch: '上传生活照'});
    -console.log(`================`)
  if handheldIdCardPhoto
    -arr.push({en: 'handheldIdCardPhoto', ch: '上传手持身份证照片'});
  -const mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-8(style='margin-bottom: 1rem')
        .panel.panel-default
          .panel-body
            .row
              .col-xs-12.col-md-12
                if member
                  h3.text-center 组队邀请书
                  br
                  h4= `${data.user.username}，您好！`
                    span 用户&nbsp;
                    a(href=`/m/${applicant.uid}`)= applicant.user.username
                    span &nbsp;正在申请
                    a(href=`/fund/list/${fund._id.toLowerCase()}`)= ` 科创基金-${fund.name}`
                    span ，想要添加您为小组成员。
                  if member.agree === null
                    h4
                      a(href=`/fund/list/${fund._id.toLowerCase()}`)= ` 科创基金-${fund.name} `
                      span 要求组员必须完成：
                      -const passed = [], notPass = [];
                      -for (let n of arr)
                        if !member[n.en] || member[n.en].length === 0 || member[n.en][0] === null || member[n.en][1] === null
                          -notPass.push(n);
                        else
                          -passed.push(n);
                        span.greenColor!=`${n.ch}&nbsp;`
                    if passed.length !== 0
                      h4 您已完成：
                        -for(let n of passed)
                          span.greenColor!=`${n.ch}&nbsp;`
                    if notPass.length !== 0
                      h4 您未完成：
                        -for(let n of notPass)
                          span.redFontColor!=`${n.ch}&nbsp;`
                      h4 您可以
                        a(href='/me/settings?type=photo')= ` 点我 `
                        span 去完善资料，或
                        a(href=`javascript: disagree(${_id})`)=` 点我 `
                        span 拒绝
                        a(href=`/m/${applicant.uid}`)= ` ${applicant.user.username} `
                        span 的组队邀请
                    else
                      h4.text-center
                        br
                        a(href=`javascript: agree(${_id})`)=`立即接受`
                        span &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href=`javascript: disagree(${_id})`)=`残忍拒绝`
                  else if member.agree === true
                    .stamp.agree.text-center 已同意
                  else
                    .stamp.redFontColor.text-center 已拒绝
                else
                  h3.text-center 通知
                  h4!=`非常抱歉！用户&nbsp;`
                    a(href=`/m/${applicant.uid}`)= applicant.user.username
                    span &nbsp;已将您从
                    a(href=`/fund/list/${fund._id.toLowerCase()}`)= ` 科创基金-${fund.name}`
                    span &nbsp;的申请表组员名单中移除。
block scripts
  script(src='/interface_common.js')
  script.
    function disagree(id) {
      nkcAPI('/fund/a/'+id+'/member', 'PATCH', {agree: false})
      .then(function() {
        screenTopAlert('您已拒绝用户的邀请');
        setTimeout(function(){
          window.location.href = '/fund/a/'+id+'/member';
        }, 2000);
      })
      .catch(function(data) {
        screenTopWarning(data.error);
      })
    };
    function agree(id) {
      nkcAPI('/fund/a/'+id+'/member', 'PATCH', {agree: true})
      .then(function () {
        screenTopAlert('您已同意用户的邀请');
        setTimeout(function () {
          window.location.href = '/fund/a/' + id + '/member';
        }, 2000);
      })
      .catch(function (data) {
        screenTopWarning(data.error);
      })
    }