extends bootstrap_base
block title
  -const mainContainer1400 = true
  -const applicationForm = data.applicationForm;
  -const {remittance, project, code, submittedReport, reportNeedThreads, applicant, status} = applicationForm;
  -const fund = applicationForm.fund;
  title= `${fund.name}-${applicationForm.project.t}`
  link(rel='stylesheet' href='/fund.css')
block content
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      if !data.type
        .col-xs-12.col-md-6
          .row
            if data.user && data.user.uid === applicationForm.uid && !status.completed
              .col-xs-12.col-md-12
                .panel.panel-default
                  .panel-body
                    h3.text-center= `报告进度`
                    h4=`项目名称：${project.t}`
                    h4=`项目ID：${code}`
                    hr
                    p 此处仅用于简要说明项目进展情况，分享项目成果请前往论坛发帖。
                    textarea.form-control#content(rows=10 placeholder='项目的进展情况')
                    br
                    button.btn.btn-default(style='float: right; margin-left: 0.5rem;' onclick=`submit(${applicationForm._id})`) 提交
                    button.btn.btn-default(style='float: right; ' onclick=`window.location.href="/editor?id=${applicationForm._id}&type=application&cat=r"`) 去编辑器
            .col-xs-12.col-md-12
              .panel.panel-default
                .panel-body
                  h3.text-center= `拨款详情`
                  table.table
                    thead
                      tr
                        th #
                        th 金额
                        th 状态
                    tbody
                      -for(let i = 0; i < remittance.length; i++)
                        -const r = remittance[i];
                        tr
                          th= `第${i+1}期`
                          th= `${r.money}元`
                          if r.status
                            th.greenFontColor= `已拨款`
                          else
                            th= `未拨款`

        .col-xs-12.col-md-6
          .panel.panel-default
            .panel-body
              h3.text-center= `最新进展`
              .timer-shaft
                if status.completed
                  if applicationForm.threadsId.completed
                    h4 结题报告
                    -for(let t of applicationForm.threads.completed)
                      h4
                        a(href=`/t/${t.tid}` target='_blank')= t.firstPost.t
                  div.time!= `${fromNow(applicationForm.timeOfCompleted)}&nbsp;&nbsp;&nbsp;${applicationForm.timeOfCompleted.toLocaleString()}`
                    div(style='position: absolute;')
                  div.content=`完成`
                -const length = data.reports.length;
                -for(let i = 0; i < data.reports.length; i++)
                  -const r = data.reports[i];
                  if r.type === 'userInfoAudit'
                    if r.support
                      -r.c = `用户信息通过审核${r.c?`。审核评语：${r.c}`: ''}`;
                    else
                      -r.c = `用户信息未通过审核，等待申请人修改。审核意见：${r.c}`;
                  if r.type === 'projectAudit'
                    if r.support
                      -r.c = `项目信息通过审核${r.c?`。审核评语：${r.c}`: ''}`;
                    else
                      -r.c = `项目信息未通过审核，等待申请人修改。审核意见：${r.c}`;
                  if r.type === 'moneyAudit'
                    -const str = applicationForm.fixedMoney?'资金用途': '资金预算';
                    if r.support
                      -r.c = `${str}通过审核${r.c?`。审核评语：${r.c}`: ''}`;
                    else
                      -r.c = `${str}未通过审核，等待申请人修改。审核意见：${r.c}`;
                  if r.type === 'adminAudit'
                    if r.support
                      -r.c = `管理员复核通过，开始项目${r.c?`。审核评语：${r.c}`: ''}`;
                    else
                      -r.c = `管理员复核未通过，等待申请人修改。审核意见：${r.c}`;
                  if r.type === 'completedAudit'
                    if r.support
                      -r.c = `结题报告审核通过${r.c?`。审核评语：${r.c}`: ''}`;
                    else
                      -r.c = `结题报告审核未通过，等待申请人修改。审核意见：${r.c}`;
                  if r.type === 'vote'
                    if r.support
                      -r.c = `网友 ${r.user.username} 表示的支持${r.c?`。并说：${r.c}`: ''}`;
                    else
                      -r.c = `网友 ${r.user.username} 表示反对。并说：${r.c}`;
                  if r.type === 'remittance'
                    if !r.support
                      -r.c = `拨款失败：${r.c}`;
                  div.time!= `${fromNow(r.toc)}&nbsp;&nbsp;&nbsp;${r.toc.toLocaleString()}`
                    div(style='position: absolute;')
                    if ensureFundOperatorPermission('admin', user, data.applicationForm.fund)
                      span &nbsp;&nbsp;
                      if r.disabled
                        a(href=`javascript: disabledReport(${applicationForm._id},${r._id},false)`) 解除屏蔽
                      else
                        a(href=`javascript: disabledReport(${applicationForm._id},${r._id},true)`) 屏蔽
                  div.content(style=i === length-1?`border: none;`:'')
                    -r.c = hideContentByUser(r.c, data.user, 'thread')
                    if r.support === false
                      div.redFontColor!= experimental_render(r)
                    else if r.support === true
                      div.greenFontColor!= experimental_render(r)
                    else
                      div!= experimental_render(r)
      else if data.type === 'reportAudit'
        .col-xs-12.col-md-6
          .panel.panel-default
            .panel-body
              -let number;
              -for(let i = 0; i < remittance.length; i++)
                -const r = remittance[i];
                if !r.status
                  -needRemittance = true;
                  -number = i;
                  -break;
              h4=`项目名称：${project.t}`
              h4=`项目ID：`
                a(href=`/fund/a/${code}` target='_blank')= code
              h4=`申请人：`
                a(href=`/u/${applicant.uid}` target='_blank')= applicant.user.username
              hr
              h3.text-center=`申请第${number+1}期拨款`
              if number !== 0
                h4 提交的报告：
                -data.report.c = hideContentByUser(data.report.c, data.user, 'thread')
                div!= experimental_render(data.report)
                br
                if reportNeedThreads
                  h4 附带的帖子：
                  -for(let thread of data.threads)
                    h4
                      a(href=`/t/${thread.tid}` target='_blank')= thread.firstPost.t
              hr
              textarea.form-control#content(rows=10 placeholder='审核意见')
              br

              button.btn.btn-default(onclick=`submittedReportAudit(true, ${applicationForm._id}, ${number})`) 通过
              button.btn.btn-default(onclick=`submittedReportAudit(false, ${applicationForm._id}, ${number})`) 不通过
block scripts
  script(src="/interface_common.js")
  script(src="/interface_fund_report.js")

