if applicationForms.length === 0
  .info
    span 暂无数据
else
  table.table.table-striped
    thead
      tr
        th 状态
        th 申请时间
        th 基金类型
        th 用户名
        th 申请金额
        th 项目名称
        th 链接

    tbody
      mixin status(applicationForm)
        -const {submitted, usersSupport, projectPassed, adminSupport, remittance, completed, excellent} = applicationForm.status;
        if excellent
          th 优秀项目
        else if completed
          th 已完成
        else if remittance
          th 资助中
        else if !adminSupport
          th 审核中
      -for (let applicationForm of applicationForms)
        -const {toc, name, budgetMoney, applicant, members, _id, project} = applicationForm;
        -let money = fund.money.fixed;

        if !money
          -money = 0;
          if budgetMoney !== null && typeof budgetMoney !== 'string' && budgetMoney.length === 0
            -for(let b of budgetMoney)
              -money += (b.count*b.money);
        tr
            +status(applicationForm)
            th= toc.toLocaleString()
            th= fund.name
            th= applicant.user.username
            th=`${money}元`
            th= project.t
            th
              a(href=`/fund/a/${_id}`) 查看详情&nbsp;
              -const {status} = applicationForm;
              if status.usersSupport && !status.projectPassed && isCensor
                a(href=`/fund/a/${_id}/audit?type=project`) 项目审核&nbsp;
              if !status.adminSupport && status.projectPassed && data.userLevel >= 7
                a(href=`/fund/a/${_id}/audit?type=admin`) 管理员审核
