extends bootstrap_base.jade

block title
  title 日常 - 科创论坛
  meta(name='description' content='每天扫一眼 - 华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')
  
  meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  meta(property='og:title' content='日常 - 科创论坛')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='从这里开始你的发现之旅。华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')


block content
  .container
    .row
      .col-xs-12.col-sm-6
        .Gallery
          img#GalleryImage(src='')
          .GalleryTitle
            a#GalleryTitle
            a#GalleryAuthor
            a#GalleryForumName
          .GalleryNavigation
            span#GalleryNavigationLeft <
            span#GalleryNavigationRight >
      
      -var threadlist = data.newestThreads
      -var listtitle = '全站新帖'
      include interface_home_newest.jade

      
    .row
      -var threadlist = data.latestThreads
      -var listtitle = '最新回复'
      include interface_home_newest.jade
      
      if 1
        -var threadlist = data.newestDigestThreads
        -var listtitle = '近期精华'
        include interface_home_newest.jade
  
    br
    if 0
      h4 近期精华
      hr.hrNarrowSpace
      .row
        .col-lg-12
          -var digestThreads = data.newestDigestThreads
          include interface_panorama_single_digest.jade
    
    if data.latestReplies
      h4 回复展开
      div
        each p,index in data.latestReplies
          -var post = p
          -var title = p.thread.oc.t
          -var postHeight = '150px'
          div
            p
              a(href='/m/#{p.user._key}') #{p.user.username}
              |  在 
              a(href='/m/#{p.thread.ocuser._key}') #{p.thread.ocuser.username}
              |  的帖子 
              a(href='/t/#{p.thread._key}') #{title}
              //a(href='/user_profile/#{p.thread.ocuser._key}') #{p.thread.ocuser.username}
            include interface_thread_singlepost.jade
            
    if data.latestReplies2
      h4 最新动态
      div
        each p,index in data.latestReplies2
          -var user = p.user
          p
            a(href='/m/#{user._key}') #{user.username}
            |  回复了帖子
            a(href='/t/#{p.tid}') #{p.thread.oc.t}
            //a(href='/user_profile/#{p.thread.ocuser._key}') #{p.thread.ocuser.username}
    
    H4 全站精华
    hr.hrNarrowSpace
    .row
      .col-lg-12
        //digest part
        - var digestThreads = data.digestThreads
        include interface_panorama_single_digest.jade
            
    .row
      .col-md-12
        h4 在线网友
        hr.hrNarrowSpace
        each u in data.latestVisitUsers
          -var url = '/m/'+u._key
          -var avatar = '/avatar_small/'+u._key
          .PanoLVUList
            a(href='#{url}' title='#{fromNowAbbr(u.tlv)}')
              img.HomeThreadAvatar(src='#{avatar}')
              span #{u.username}
        
  include debug_output.jade
block scripts
  script(src='/interface_common.js')
  script(src='/gallery.js')
