- let {c, user, toc, pid, thread, t} = post
- const {firstPost, forum, tid} = thread
- if(!t) t = firstPost.t
  div(style='overflow: hidden; max-height: 10.2em;')
    .new-content-info
      span
        a(href=`/m/${user.uid}`)
          img(src=`/avatar_small/${user.uid}`)
      span
        a(href=`/m/${user.uid}`)= user.username
      span.new-content-forumAbbr(style=`background-color:${forum.color};`)
        a(href=`/f/${forum.fid}`)= forum.abbr
      span.icon-font=fromNow(toc)
    if(t)
      .new-content-title
          a.ForumThreadNormal(href=`/t/${tid}`)!= t
    if(c)
      .new-content-body
        .new-content-right
          -post.c = hideContentByUser(post.c, data.user, 'list')
          -post.c = filterQuote(post.c)
          a.div-noImg(href=`/t/${thread.tid}?&pid=${pid}#${pid}` style='text-decoration: none; color: inherit;')!= highlightString(replaceContent(experimental_render(post)), data.queryToCharRef)
  hr