extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title= `科创基金-${data.fund.name}`
block content
  -const mainContainer1400 = true
  -const {fund, bills} = data;
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      //.col-xs-12.col-md-12(style='margin-bottom: 1rem')
      //  .fund-panel
      //    .fund-panel-title(style=`background-color: ${fund ? fund.color : ''};background-image: ${fund && fund.image ? `url(/fundBanner/${fund.image})` : ''}`)
      //      .col-xs-12.col-md-12
      //        h1.fund-name=fund.name
      //        p= fund.description.brief
      .col-xs-12.col-md-9
        .panel.panel-default
          .panel-body.table-responsive
            if bills.length === 0
              .blank 暂无数据
            else
              -const url = `/fund/list/${fund._id.toLowerCase()}/bills`;
              include interface_fund_page
              include interface_fund_billList
              include interface_fund_page
      .col-xs-12.col-md-3
        .panel.panel-default
          .panel-body
            if !fund.image || !fund.image.logo
              h2.text-center(style='margin-bottom: 4rem;color: #000;')= `科创基金-${fund.name}`
            else
              img(src=`/fundLogo/${fund.image.logo}` style="width: 100%;")
              h2.text-center(style='margin-top: -4rem;margin-bottom: 4rem;color: #fff;')= `科创基金-${fund.name}`
            .row
              .col-xs-12.col-md-12
                h4.text-center 剩余金额
                h2.text-center(style='color:#ff7979;')= `￥${data.balance}`
        if data.userLevel >= 7
          .panel.panel-default
            .panel-body
              h5.text-center 从总资金转入
              hr
              span 日期选择
              input#time(type='datetime-local' style='width: 100%;').form-control
              br
              span 金额变动(元)
              input#money(type='number' placeholder = '区分正负').form-control
              br
              span 摘要
              input#abstract(type='text' placeholder = '' value='划拨').form-control
              br
              span 备注
              textarea#notes.form-control(rows='5')= `从总资金转入到基金项目 - ${data.fund.name}`
              br
              button.btn.btn-info.btn-block(onclick=`submit("${fund._id}")`) 提交
block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_bills.js')