extends bootstrap_base
block title
  title= `${data.targetUser.username}的账单`
  link(rel='stylesheet' href='/fund.css')
block content
  -const mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    mixin loadInfo(obj)
      if obj.type === 'fundPool'
        th= '资金池'
      if obj.type === 'fund'
        th
          span (基金)
          a(href=`/fund/list/${obj.fund._id.toLowerCase()}` target='_blank')= obj.fund.name
      if obj.type === 'user'
        if obj.anonymous
          th 匿名用户
        else
          th
            span (用户)
            a(href=`/m/${obj.user.uid}` target='_blank')= obj.user.username
      if obj.type === 'other'
        th= obj.id
    h4 用户：
      a(href=`/m/${data.targetUser.uid}`)= data.targetUser.username
      if data.fund
        span &nbsp;&nbsp;基金：
        a(href=`/fund/list/${data.fund._id}`)= data.fund.name
    -const url = `/u/${data.user.uid}/bills`;
    include interface_fund_page
    table.table.table-bordered
      thead
        tr
          th 时间
          th 交易编号
          th 摘要
          th 操作者
          th 来自于
          th 作用于
          th 金额（元）
          th 备注
      tbody
        -for(let b of data.bills)
          tr
            th= b.toc.toLocaleString()
            th= b._id
            th= b.abstract
            th
              if(b.user)
                a(href=`/m/${b.user.uid}`)= b.user.username
              else
                span 系统
            +loadInfo(b.fromInfo)
            +loadInfo(b.toInfo)
            th= b.money.toFixed(1)
            th= b.notes
    include interface_fund_page
