extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创基金 - 捐款
block content
  -var mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    if data.alipayReturn
      h1.greenFontColor#message(bid=data.billId) 支付成功！等待系统确认
        span.point
      h2.redFontColor#error
    else
      h2(style='margin-top: 0;') 捐款对象
      .row
        .col-xs-6.col-sm-4.col-md-3.fund-list
          a(href=`###` title='资金池' onclick=`selectFund()`)
            .fund-name(style=`padding-top: 0;`)
              div(style=`line-height: 12rem;`) 资金池
            div(style='height: 8rem;')
              .select(style='color: #5bc0de;line-height: 8rem;font-size: 3rem;font-weight: 600;')= !data.fundId ? '已选择' : ''
        -for(let fund of data.funds)
          .col-xs-6.col-sm-4.col-md-3.fund-list
            a(href=`###` title=fund.description.brief onclick=`selectFund('${fund._id}')`)
              .fund-name(style=`padding-top: 0;background-color: ${color};background-image:${fund && fund.image && fund.image.logo ? `url(/fundLogo/${fund.image.logo})` : ''}`)
                div(style=`line-height: 12rem;`)= fund.name
              div(style='height: 8rem;')
                .select(style='color: #5bc0de;line-height: 8rem;font-size: 3rem;font-weight: 600;' fundid=fund._id)= data.fundId === fund._id?'已选择': ''
      br
      h2 捐款金额
      -const arr = [200,500,1000,5000,10000];
      .row
        -for(let m of arr)
          .col-xs-6.col-sm-4.col-md-3.fund-list
            a(href=`###` title=`捐款${m}元` onclick=`selectMoney(${m})`)
              .fund-name(style=`padding-top: 0;background-color: #ffe8be;`)
                span(style=`line-height: 12rem;color: #ff6666;font-size: 4rem;font-weight:600;`)= `${m}元`
              div(style='height: 8rem;')
                .selectMoney(style='color: #ffc253;line-height: 8rem;font-size: 3rem;font-weight: 600;' money=m)= m === 200 ? '已选择' : ''
        .col-xs-6.col-sm-4.col-md-3.fund-list
          a(href=`###` title=`其他金额` onclick=`selectMoney()`)
            .fund-name(style=`padding-top: 0;background-color: #ffe8be;`)
              span(style=`line-height: 12rem;color: #ff6666;font-size: 4rem;font-weight:600;`)= `自定义`
            div(style='height: 8rem;')
              .selectMoney(style='color: #ffc253;line-height: 8rem;font-size: 3rem;font-weight: 600;')
        .col-xs-12.col-md-12#money(style=`display:none;`)
          h2 自定义捐款金额（20元 - 10000元）
          .form-inline
            .form-group
              input.form-control(type='number' placeholder='最小单位为元')
          br
          br
        br
        .col-xs-12.col-md-12
          .choose-anonymous(anonymous="true")
            .anonymous
              div
            span &nbsp;匿名捐款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          .choose-anonymous.active()
            .anonymous
              div
            span &nbsp;非匿名捐款
      h2 捐款说明
      .col-xs-12.col-md-10.col-md-offset-1
        div!= markdown_safe(data.fundSettings.donationDescription)
      .col-xs-12.col-md-2.col-md-offset-5
        br
        button#submit.btn.btn-info.btn-block.btn-lg(onclick='submit()') 提交
      a#link(href='###' target="_blank") &nbsp;
block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_donation.js')