- var url = '/t/' + thread._key
- var ocuser = thread.ocuser||{}
- var lmuser = thread.lmuser||{}
- var oc = thread.oc
- var avatar = '/avatar_small/' + oc.uid
- var uid = oc.uid
- var digest = thread.digest
-var has_file = thread.has_file
-var has_image = thread.has_image
-var topped = thread.topped
-var belong_forum = thread.forum; var pf=null
-var forumcolor = (belong_forum?belong_forum.color:null)||(pf?pf.color:null)||'#aaa'

//span #{belong_forum._key}
//span #{thread.fid}

-var threadtype = data.threadtypes?data.threadtypes.filter(k=>k._key==thread.cid)[0]:null;

.ForumThreadItem
  .parent.clearfix(id='')
    .avatar-left
      - var user = ocuser
      - var title = user?getUserDescription(user):''
      a(href='/m/#{uid}' title='#{title}')
        img.ForumThreadAvatar(src='/avatar/#{uid}')

    .content-right
      .ForumThreadTitle
        .ForumThreadTitle1(style="float:left;width:77%;")
          - var brief = oc.c.replace(/\[.*?]/g,'').trim().slice(0,100)
          //span.f12.ForumThreadDigestText [精]
          if belong_forum && (belong_forum._key!==(data.forum?data.forum._key:null))
            a.ForumThreadHasImage(style='background-color:#{forumcolor};' href='/f/#{belong_forum._key}')
              | #{belong_forum.abbr||belong_forum.display_name}

          if threadtype
            a.ForumThreadHasImage(href='/f/#{thread.fid}?cat=#{threadtype._key}' style='background-color:#{forumcolor};') #{threadtype.name}

          a(class='#{digest?"ForumThreadDigestText":"ForumThreadNormal"}' href="#{url}" title="#{brief}") #{oc.t}

          if topped
            span.ForumThreadHasImage.ForumThreadTopped 顶
          if has_image
            span.ForumThreadHasImage 图
          if has_file
            span.ForumThreadHasImage.ForumThreadHasFile 附

        .ForumThreadTitle2(style="float:right;width:21%;")
          .ForumThreadTitle22(style="float:right;")
            -var count = (thread.count_remain||thread.count)-1
            -var hits = thread.hits
            if hits
              .ForumThreadStat
                span.ThreadHits 浏览:#{thread.hits}
            if count
              .ForumThreadStat
                span.ThreadCount 回复:#{count}
            else
              .ForumThreadStat
                span.ThreadCount 回复:0

            .ForumThreadTitle3(style="display:inline-block;")
              input.ThreadCheckboxes(id='#{(item?item._key:null)||thread._key}' type='checkbox' style="#{showTicks?'':'display:none;'}")




          //span.lighttext cat#{thread.category}

          //帖子标题链接
          //span.hidden-xs.lighttext (#{oc.c.length} 字节，#{thread.hits} 点击)


      .ForumThreadCreatorInfo(style="width:50%!important;")

        if 1
          span.hidden-xs.lighttext.ForumThreadItemCreationTime #{dateTimeString(thread.toc).split(' ')[0]} from

        a.ForumThreadItemUsername(href='/m/#{ocuser._key}') #{ocuser.username}

        if Date.now()-thread.tlm<86400000
          span.lighttext.reddish #{fromNow(thread.tlm)}
        else
          span.lighttext #{fromNow(thread.tlm)}
          //帖子最后回复时间和回复者

        span.lighttext(style='margin-right:7px;')   by
        a.ForumThreadItemUsername(href='/m/#{lmuser._key}') #{lmuser.username}







if 0
  .ForumThreadItem
    .CollectionCategoryThreadActions

      input.ThreadCheckboxes(id='#{(item?item._key:null)||thread._key}' type='checkbox' style="#{showTicks?'':'display:none;'}")


    if 0
      .ForumThreadItemAvatar
        a(href='#{url}')
          img.ForumThreadAvatar(src='#{avatar}')
    .ForumThreadItemContent
      .row
        .col-lg-9.col-md-9.col-sm-8
          .ForumThreadTitle
            .tbl(style='display:table-cell;width:72px;')
              .ForumThreadItemReplyCount #{thread.count-1?(thread.count-1):''}

              if 1
                .ForumThreadItemAvatar
                  -var uurl = '/m/'+uid
                  -var avatar = '/avatar_small/'+uid
                  a(href='#{uurl}')
                    img.HomeThreadAvatar(src='#{avatar}')

            .tbl2(style='display:table-cell')
              - var brief = oc.c.replace(/\[.*?]/g,'').trim().slice(0,100)
              //span.f12.ForumThreadDigestText [精]

              if belong_forum
                span.ForumThreadHasImage(style='background-color:#{forumcolor};') #{belong_forum.abbr||belong_forum.display_name}

              if topped
                span.ForumThreadHasImage.ForumThreadTopped 顶

              a(class='#{digest?"ForumThreadDigestText":""}' href="#{url}" title="#{brief}") #{oc.t}
              if has_image
                span.ForumThreadHasImage 图
              if has_file
                span.ForumThreadHasImage.ForumThreadHasFile 附

              //帖子标题链接

              .ForumThreadCreatorInfo

                if 0
                  span.lighttext.ForumThreadItemCreationTime #{dateTimeString(thread.toc)}

                a.lighttext.ForumThreadItemUsername(href='/m/#{ocuser._key}') #{ocuser.username}
                //帖子发布时间和发布者

            //楼数

        .col-lg-3.col-md-3.col-sm-4

          .ForumThreadItemReplyInfo
            //.ForumThreadItemReplyCount #{thread.count-1?(thread.count-1) + ' 回复':''}

            if Date.now()-thread.tlm<86400000
              span.reddish #{fromNow(thread.tlm)}
            else
              span #{fromNow(thread.tlm)}
              //帖子最后回复时间和回复者

            span.ForumThreadItemUsername(href='/user_threads/#{lmuser._key}') #{lmuser.username}
