extends bootstrap_base
block title
  -const fund = data.fund;
  -let applicationForms;
  -let isCensor = true;
  -const {type} = data;
  if data.user
    -for (let cert of fund.censor.certs)
      if !data.user.certs.includes(cert) && !fund.censor.appointed.includes(data.user.uid)
        -isCensor = false;
  title= `科创基金 - ${fund.name}`
  link(rel='stylesheet' href='/fund.css')
block content
  -const mainContainer1400 = true
  -const {authLevel, threadCount, userLevel, timeToRegister, supportCount, postCount} = fund.applicant
  -const userAuthLevel = data.authLevel;
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-12(style='margin-bottom: 1rem')
        .fund-panel
          .fund-panel-title(style=`position:relative;background-color: ${fund?fund.color:''};`)
            if fund.image && fund.image.banner
              img(style='width: 100%; height: 100%;position: absolute;left: 0;' src=`/fundBanner/${fund.image.banner}`)
            .col-xs-12.col-md-12
              h1.fund-name=fund.name
              p= fund.description.brief

      .col-xs-12.col-md-9
        .panel.panel-default
          .panel-body
            ul.nav.nav-pills
              li(role="presentation" class=type === undefined ? 'active' : '')
                a(href=`/fund/list/${fund._id.toLowerCase()}${data.sort?`?sort=${data.sort}`: ''}`) 全部
              li(role="presentation" class=type === 'excellent' ? 'active' : '')
                a(href=`/fund/list/${fund._id.toLowerCase()}?type=excellent${data.sort?`&sort=${data.sort}`: ''}`) 优秀项目
              li(role="presentation" class=type === 'completed' ? 'active' : '')
                a(href=`/fund/list/${fund._id.toLowerCase()}?type=completed${data.sort?`&sort=${data.sort}`: ''}`) 已完成
              li(role="presentation" class=type === 'funding'? 'active': '')
                a(href=`/fund/list/${fund._id.toLowerCase()}?type=funding${data.sort?`&sort=${data.sort}`: ''}`) 资助中
              li(role="presentation" class=type === 'auditing'? 'active': '')
                a(href=`/fund/list/${fund._id.toLowerCase()}?type=auditing${data.sort?`&sort=${data.sort}`: ''}`) 审核中
            hr
            -applicationForms = data.applicationForms;
            -const url = `/fund/list/${fund._id.toLowerCase()}`;
            .row
              if data.paging.pageCount > 1
                .col-xs-12.col-md-4
                  include interface_fund_page
              .col-xs-12.col-md-5
                .btn-group(role="group")
                  a.btn.btn-default.btn-sm(type="button" class=data.sort !== 'tlm'? 'btn-primary': '' href=`/fund/list/${fund._id.toLowerCase()}${type?`?type=${type}`: ''}`) 按申请时间排序
                  a.btn.btn-default.btn-sm(type="button" class=data.sort === 'tlm'? 'btn-primary': '' href=`/fund/list/${fund._id.toLowerCase()}?sort=tlm${type?`&type=${type}`: ''}`) 按活动时间排序
            include interface_fund_applicationList
            include interface_fund_page
      .col-xs-12.col-md-3
        .row
          .col-xs-12.col-md-12
            a.btn.btn-default.btn-block(href=`/fund/list/${fund._id.toLowerCase()}/bills`)= `基金账单`
            if data.userLevel >= 6
              a.btn.btn-default.btn-block(href=`/fund/list/${fund._id.toLowerCase()}/settings`)= `基金设置`
            br
            .panel.panel-default
              .panel-body.fund-preconditions
                if !data.user
                  h3.text-center 未登录用户不能申请
                else
                  h3 申请条件
                  hr
                  table.table.table-condensed
                    thead
                      tr
                       th &nbsp;
                       th 最低要求
                       th 我的
                    tbody
                      -let allowed = true;
                      -const toc =   Math.ceil((Date.now() - user.toc)/(1000*60*60*24));
                      if threadCount > user.threadCount || postCount > user.postCount || timeToRegister > toc
                        -allowed = false;
                      if authLevel > userAuthLevel
                        -allowed = false;
                      tr
                        th 发帖量
                        th= threadCount
                        th= user.threadCount
                          //if threadCount <= user.threadCount
                          //  span.glyphicon.glyphicon-ok
                      tr
                        th 回帖量
                        th= postCount
                        th= user.postCount
                      tr
                        th 账号等级
                        th= 0
                        th= data.userLevel
                      tr
                        th 注册天数
                        th= timeToRegister
                        th= toc
                      tr
                        th 身份认证等级
                        th= authLevel
                        th= userAuthLevel
                  -let btnDisabled = false, link=`/fund/list/${fund._id.toLowerCase()}/add`;
                  if !allowed
                    p 您的账号未达到最低要求，无法申请该基金。
                    if authLevel > userAuthLevel
                      a.btn.btn-info.btn-block(href='/set/verify' target='_blank') 去身份认证
                    -btnDisabled = true;
                    -link = '###';
                  if data.message
                    p= data.message
                    -btnDisabled = true;
                    -link = '###';
                  a.btn.btn-info.btn-block(href=link disabled=btnDisabled) 申请该基金
          .col-xs-12.col-md-12
            .panel.panel-default
              .panel-body.fund-description
                h3 补充说明
                hr
                div!= markdown_safe(fund.description.detailed)


