extends bootstrap_base.pug
block title
  title 最新用户
  meta#replytarget(value=`${data.replytarget}`)

block content
  .container
    .rom
      .col-xs-12.col-md-12
        nav(aria-label='navigation')
          -if(data.page.pageCount > 1)
            ul.pagination
              //- 当前页数若大于4则显示首页按钮
              //- 若总的分页数小于7则不需要显示首页和尾页按钮
              -if(data.page.page > 3 && data.page.pageCount > 7)
                li
                  a(href='/e/newUsers?page=0') 首
              //- n为总共需要显示的分页按钮个数
              //- i为循环中当前生成的页数
              -var n = 7;
              -var min = data.page.pageCount - 3;
              -if(data.page.page > min)
                -min = data.page.pageCount - 6;
              -else
                -min = data.page.page - 2;
              -for(var i = min ; 1 ; i++)
                -if(n == 0)
                  -break;
                -if(i <= 0)
                  -continue;
                -if(i > data.page.pageCount)
                  -break;
                //- 生成当前所在分页按钮时，有蓝色背景，不可点击
                -if(i == data.page.page+1)
                  li.active
                    a(href='javscript:void(0)') #{i}
                -else
                  li
                    a(href=`/e/newUsers?page=${i-1}`) #{i}
                -n--;
                //- 当前页数若小于 最大分页数-3 则显示尾页按钮
              -if(data.page.page < data.page.pageCount - 3 && data.page.pageCount > 6)
                li
                  a(href=`/e/newUsers?page=${data.page.pageCount-1}`) 末
    .row
      .col-xs-12
        table.table.table-hover.table-condensed
          caption 最新注册用户
          thead
            tr
              th 用户名
              th 注册方式
              th 注册时间
              th 最近登陆时间
              th ip
              th 发帖量
              th 回复量
          tbody
            for user in data.users
              tr
                td
                  a(href=`/u/${user.uid}`) #{user.username}
                -if(user.email)
                  td 邮箱
                -else if(user.mobile)
                  td 手机
                -else
                  td 未知
                td #{(user.toc).toLocaleString()}
                td #{(user.tlv).toLocaleString()}
                -if(user.regIP || user.regPort)
                  td #{user.regIP}:#{user.regPort}
                -else
                  td 0.0.0.0:0000
                td #{user.threadCount || 0}
                td #{user.postCount || 0}
    .rom
      .col-xs-12.col-md-12
        nav(aria-label='navigation')
          -if(data.page.pageCount > 1)
            ul.pagination
              //- 当前页数若大于4则显示首页按钮
              //- 若总的分页数小于7则不需要显示首页和尾页按钮
              -if(data.page.page > 3 && data.page.pageCount > 7)
                li
                  a(href='/e/newUsers?page=0') 首
              //- n为总共需要显示的分页按钮个数
              //- i为循环中当前生成的页数
              -var n = 7;
              -var min = data.page.pageCount - 3;
              -if(data.page.page > min)
                -min = data.page.pageCount - 6;
              -else
                -min = data.page.page - 2;
              -for(var i = min ; 1 ; i++)
                -if(n == 0)
                  -break;
                -if(i <= 0)
                  -continue;
                -if(i > data.page.pageCount)
                  -break;
                //- 生成当前所在分页按钮时，有蓝色背景，不可点击
                -if(i == data.page.page+1)
                  li.active
                    a(href='javscript:void(0)') #{i}
                -else
                  li
                    a(href=`/e/newUsers?page=${i - 1}`) #{i}
                -n--;
                //- 当前页数若小于 最大分页数-3 则显示尾页按钮
              -if(data.page.page < data.page.pageCount - 3 && data.page.pageCount > 6)
                li
                  a(href=`/e/newUsers?page=${data.page.pageCount - 1}`) 末