extends interface_settings
block settings_content
  .settings-content
    .row
      -const g = data.g;
      -let passed = false;
      -let number;
      -const idCardA = data.idCardA;
      -const idCardB = data.idCardB;
      if g === 2 && idCardA && idCardA.status === 'passed' && idCardB && idCardB.status === 'passed'
        -passed = true;
      -const handheldIdCard = data.handheldIdCard;
      if g === 3 && handheldIdCard && handheldIdCard.status === 'passed'
        -passed = true;
      if g === 1 && data.mobile
        -passed = true;
      //状态判断
      -let status = '';
      -let waiting = false;
      -let color = '#555';
      -const submittedAuth = data.submittedAuth;
      -const authLevel = data.authLevel;
      if g <= authLevel
        -status = '已通过';
        -color = 'green';
      if(g > authLevel + 1)
        -status = '未提交';
      if(g === (authLevel + 1))
        if submittedAuth
          -waitting = true;
          -status = '等待审核';
        else
          if passed
            -status = '未通过';
            -color = 'red';
          else
            -status = '未提交';

      mixin outStatus(photo)
        if photo === null
          .h5.text-center 未上传
        else
          -const {status} = photo;
          if status === 'passed'
            .h5.text-center.greenFontColor 审核已通过
          else if status === 'notPassed'
            .h5.text-center.redFontColor 审核不通过
          else if status === null
            .h5.text-center 等待审核
          else if status === 'disabled'
            .h5.text-center.redFontColor 图片已被封禁
          else if status === 'outdated'
            .h5.text-center.redFontColor 已过期
          else
            .h5.text-center.redFontColor 图片信息错误
      mixin settingsImg(photoName, photoObj)
        .settings-img
          if !photoObj
            img(src=defaultImg id=`${photoName}PhotoDisplay`)
          else
            if photoObj.status !== 'passed' && submittedAuth !== true
              .settings-img-remove.glyphicon.glyphicon-remove(onclick=`removePhoto(${photoObj._id})`)
            if photoObj.status === 'disabled'
              img(id=`${photoName}PhotoDisplay` src=disabledImg)
            else
              img(id=`${photoName}PhotoDisplay` src=`/photo_small/${photoObj._id}`)
      mixin settingsPanel(photoName, photoObj)
        .settings-panel
          .row
            .col-xs-12.col-md-12
              +outStatus(photoObj)
            .col-xs-12.col-md-9
              +settingsImg(photoName, photoObj)
            .col-xs-12.col-md-3
              if submittedAuth !== true && (!photoObj || photoObj.status !== 'passed')
                input(id=`${photoName}Photo` type='file' style='display: none;' accept='image/*')
                .settings-btn.disabled(onclick=`$("#${photoName}Photo").click()`) 选择图片
                //.settings-btn(onclick=`uploadFile("#${photoName}Photo")`) 上传
                .uploadFileInfo(id=`${photoName}PhotoMessages`)
              if photoObj && photoObj.status === 'passed'
                p!= photoObj.expiryDate !== null?`过期时间：<br>${photoObj.expiryDate.toLocaleDateString()}`: '未设置有效期'
        if photoObj && photoObj.description && photoObj.status !== 'passed'
          span.redFontColor= `原因：${photoObj.description}`
      #privateInfo
        .col-xs-12.col-md-12
          h3.settings-title.text-center 身份认证
          br
        .col-xs-12.col-md-12.verify
          a(href='/set/verify?g=1' class=g===1?'active': '') 身份认证1
          a(href='/set/verify?g=2' class=g===2?'active': '') 身份认证2
          a(href='/set/verify?g=3' class=g===3?'active': '') 身份认证3
          br
        .col-xs-12.col-md-12.verify-info
          span 认证说明：
          if g === 1
            span 身份认证1需绑定手机号码，请去&nbsp;
            a(href='/me') 个人资料设置
            span &nbsp;页绑定手机号码
          if g === 2
            span 身份认证2需上传身份证正反面照片
          if g === 3
            span 身份认证3需上传手持身份证照片
        .col-xs-12.col-md-12
          span 状态：
          span(style=`color: ${color};font-size: 2rem;font-weight: 600;`)= status
        .col-xs-12.col-md-12
          br
          br
        if g === 2
          -number = 2;
          .col-xs-12.col-md-6
            h4.text-center 身份证正面
            .settings-info.text-center 请在本地选择要上传图片，大小不超过20M，并且只能为.jpg、.jpeg、.png格式。请确保图像清晰无遮挡。
              //span.settings-link#watchIdCardAPhoto 查看实例
            +settingsPanel('idCardA', idCardA)


          .col-xs-12.col-md-6
            h4.text-center 身份证背面
            .settings-info.text-center 请在本地选择要上传图片，大小不超过20M，并且只能为.jpg、.jpeg、.png格式。请确保图像清晰无遮挡。
              //span.settings-link#watchIdCardBPhoto 查看实例
            +settingsPanel('idCardB', idCardB)
        if g === 3
          -number = 3;
          .col-xs-12.col-md-6
            h4.text-center 手持身份证照片
            .settings-info.text-center 请在本地选择要上传图片，大小不超过20M，并且只能为.jpg、.jpeg、.png格式。请确保图像清晰无遮挡。
              //span.settings-link#watchHandheldIdCardPhoto 查看实例
            +settingsPanel('handheldIdCard', handheldIdCard)
        .col-xs-12.col-md-12
          br
          br
          if !passed
            .back-next
              if !waitting
                if g !== 1
                  .apply-next(onclick=`submitAuth(${number})`) 提交审核
              else
                .apply-next(onclick=`unSubmitAuth(${user.uid},${number})`) 撤销提交
          br