- var lm = thread.lm
- console.log(thread);
- if(lm)
  - var tid = thread.tid
  - var forum = thread.forum
  - var oc = thread.oc
  div(style='border-bottom: 1px solid #e2e2e2;')
    .nkc-table-row
      div(style='display: table-cell; width: 80%;')
        if(forum)
          a.ForumThreadHasImage(style=`background-color: ${forum.color}` href=`/f/${forum.fid}`)
            | #{forum.abbr || forum.displayName}
        a.ForumThreadNormal(href=`/t/${tid}`) #{oc.t}
      div(style='display: table-cell; width: 20%; text-align: right;')
        span.lighttext.reddish(style='display: inline-block;') #{fromNow(lm.toc)}
        span(style='display: inline-block; width: 100%; overflow: hidden;')
          a.forumthreaditemusername(href=`/u/${lm.user.uid}`) #{lm.user.username}
