extends bootstrap_base
block title
  title 协议
  include ./publicModules/plyr/plyr.css.pug
block content
  mixin protocolList
    .box-shadow
      .box-shadow-header
        span 协议列表
      for pro, index in data.protocols
        .m-b-05
          a(href=`/protocol?type=${pro.protocolTypeId}`)
            span=`${index + 1}.《${pro.protocolName}》`
  .container-fluid.max-width
    .row
      if data.protocol
        .col-xs-12.col-md-9.m-b-1
          .box-shadow.p-t-2
            .p-l-2.p-r-2
              if data.protocol
                p(style="text-align:center")
                  span(style="font-size:xx-large")!=`${data.protocol.protocolName}`
                div!=`${data.protocol.protocolContent}`
        .col-xs-12.col-md-3
          +protocolList
      else
        .col-xs-12.col-md-12.m-b-1
          +protocolList
block scripts
  include ./publicModules/nkcSource