extends bootstrap_base.pug

block title
  title 编辑器 - 科创论坛
  link(rel='stylesheet' href='/external_pkgs/citySet/citySet.css')
  link(href="/editor/editor.css" rel="stylesheet")
block content
  style.
    .tool_area_wrp {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: #eee;
      border-top: 1px solid #d9dadc;
      min-width: 768px;
    }
  -var mainContainer1400 = true
  .hidden#panelDatas= JSON.stringify(data.panelDatas)
  #ife.container-fluid.max-width
    .col-xs-12.col-md-12
      if !data.user
          .row
              .col-xs-12.f12
                  h1 尚未登录
                  :markdown
                      请先[登录](/login)。
      else
          .row
              .col-md-12
              include exam_notification.pug

          .row
            .form-group
                input#title.form-control(type='text' placeholder='请输入标题，50字以内，越详细越好' value=`${data.title || ''}`)
            input.hidden#lang(value=data.l)
            if data.delReason 
              .form-froup(style="border:1px solid red;font-zie:16px") 退修原因: #{data.delReason}
            .form-group(style="background-color:#fff;line-height:1.5;")
                div#quoteContent
            .form-group
              div#quoteCancel(style='display: none')
                button#quoteCancel.ForumThreadHasImage(style='background-color: #337ab7' onclick=`cancelQuote()`) 取消引用
            .form-group
              include ./ueditor/ueditor.pug
            .form-group
              #transfer 
            .form-group
              a.btn.btn-sm.btn-info(onclick="appAttachHideOrShow()" style="width:100%;color: #080808;border: 1px solid #ddd;background-color:#fff").attachButton
                span#showOrHideAttach 插入图片、媒体、文件
            #attach.attachBody
              include ./media/media_index.pug
            if !data.type || data.type === 'forum' || data.draftDelType === 'forum'
              .form-horizontal
                .form-group
                  label.col-sm-12 专业分类(必选，最多可选两个)
                  .col-sm-12
                    div#newPanelForum.form-control.move-thread-selected-forums(onclick="testThOpen()" style="height:auto;min-height:34px")
                      if data.type && data.type === "forum" && data.forum
                        .move-thread-forum-name(style=`background-color:${data.forum.color} `)
                          span.chooseForum(fid=`${data.forum.fid}`)!=`${data.forum.displayName}`
                          span.chooseCate(cid='')
                    //- input.form-control(type='text' autocomplete='off', readonly='true' onclick="testThOpen()")
            if !data.type || data.type === 'forum' || data.draftDelType === 'forum' || data.type === 'post' || data.type === 'thread'
              include ./editor/paper.pug
            .form
              .form-group
                label
                  input#parseURL(type='checkbox' checked)
                  span &nbsp;处理URL&nbsp;
                if state.userColumn && !data.addedToColumn
                  -const column = state.userColumn
                  include ./publicModules/toColumn/selectCategories
              .form-group
                button#post.btn.btn-primary(type='submit' onclick="postToThreadWithCheck()") 发表
                if !['forum_declare'].includes(data.type)
                  if !data.targetUser
                    button#draft.btn.btn-primary(type='submit' onclick="saveToThreadWithCheck()") 保存草稿
                  else if data.targetUser.uid === data.user.uid
                    button#draft.btn.btn-primary(type='submit' onclick="saveToThreadWithCheck()") 保存草稿
                  if data.user
                    a.btn.btn-default.m-l-05(href=`/u/${data.user.uid}/drafts` target='_blank') 草稿箱
            .form-group
                div#disnoneplay(style='display:none')= data.content
                div#draftNowId(style='display:none')= data.content
                div#userNowId(style='display:none')= data.user.uid
                div#draftId(style='display:none')=`${data.did || ''}`
                div#draftDelType(style='display:none')=`${data.draftDelType || ''}`
                div#draftDelTypeId(style='display:none')=`${data.draftDelTypeId || ''}`
                div#singleDarft(style='display:none')= JSON.stringify(data.singleDarft)
  
  include debug_output.pug
block scripts
  +includeJS('/commonmark/dist/commonmark.js')
  +includeJS('/plain_escaper.js')
  +includeJS('/xbbcode-parser/xbbcode.js')
  +includeJS('/xss/dist/xss.js')
  +includeJS(`/interface_common.js`)
  +includeJS(`/nkc_render.js`)
  include ./publicModules/moveThread/moveThread.pug
  +includeJS("/editor/paper.js")
  +includeJS(`/interface_editor_ue.js`)
  if state.userColumn && !data.addedToColumn
    +includeJS("/publicModules/toColumn/selectCategories.js")
  include ./publicModules/crop/crop
  +includeJS(`/media/media_index.js`)
  +includeJS('/external_pkgs/citySet/agency.json.js')
  +includeJS('/external_pkgs/citySet/citySet.js')
  script.
    setInterval("saveDraft()", 300000)
    window.onbeforeunload = function() {
      if(document.getElementById("post").disabled === false){
        return "离开前保存草稿了吗？"
      }
    }
  if data.toColumn
    script.
      $("#postToColumn").show();
