extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创基金
block content
  -const mainContainer1400 = true
  -const fund = data.fund
  -const member = fund? fund.member: '';
  -const applicant = fund? fund.applicant: '';
  -const thread = fund? fund.thread: '';
  -const paper = fund? fund.paper: '';
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-md-12
            h4 基本信息
            hr
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 基金编号
              .col-xs-12.col-md-2
                input.form-control#fundId(type="text" placeholder='大写字母' value=fund ? fund._id : '' disabled=!!fund)
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 基金名
              .col-xs-12.col-md-2
                input.form-control#fundName(type="text" placeholder='默认为 "科创基金"' value=fund?fund.name: '')
              .col-xs-12.col-md-2
                //h5#fundNameInfo
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 基金初始金额
              .col-xs-12.col-md-2
                input.form-control#initial(type="Number" placeholder='初始金额' value=fund ? fund.money.initial: '')
              .col-xs-12.col-md-2
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 申请金额
              .col-xs-12.col-md-10
                .row
                  .col-xs-12.col-md-12
                    label.radio-inline
                      input(type='radio' name='moneyFixed' checked=fund ? (fund.money.fixed) : true)
                      h5 定额
                    label.radio-inline
                      input(type='radio' name='moneyFixed' checked=fund ? (!fund.money.fixed) : false)
                      h5 不定额
                  .col-xs-12.col-md-4
                    -let text = '固定金额（人民币元，不能有小数点）';
                    if fund && !fund.money.fixed
                      -text = '最大申请金额（人民币元，不能有小数点）';
                    h5#fundMoneyText= text
                    input.form-control#fundMoney(type="number" placeholder=placeholder value=fund?fund.money.fixed || fund.money.max: '')
                  .col-xs-12.col-md-3
                    //h5#fundMoneyInfo
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 基金简介
              .col-xs-12.col-md-5
                textarea.form-control#briefDescription(type="text" placeholder="介绍一下该基金（建议50字以内）" rows=5)=fund ? fund.description.brief : ''
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 基金补充说明
              .col-xs-12.col-md-5
                textarea.form-control#detailedDescription(type="text" placeholder="基金补充说明" rows=15)=fund ? fund.description.detailed : ''
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 banner背景颜色
              .col-xs-12.col-md-2
                input.form-control#fundColor(type="text" placeholder="默认为 #7f9eb2" value=fund?fund.color: '')
              .col-xs-12.col-md-2
                #fundColorDisplay(style=`background-color: ${fund?fund.color: '#7f9eb2'};`)
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 banner图片
              .col-xs-12.col-md-2
                input#fundImage(type="file" style='display: none')
                button.btn.btn-default(onclick='$("#fundImage").click()') 上传banner图片
              .col-xs-12.col-md-2
                if fund && fund.image
                  img#fundImageDisplay(imageId= fund.image src=`/fundBGI_small/${fund.image}`)
                else
                  img#fundImageDisplay(src=`#` style='display:none;')
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 显示入口
              .col-xs-12.col-md-5
                label.radio-inline
                  input(type='radio' name='display' checked=fund?(fund.display): true)
                  h5 是
                label.radio-inline
                  input(type='radio' name='display' checked=fund?(!fund.display):false)
                  h5 否
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 接受新申请
              .col-xs-12.col-md-5
                label.radio-inline
                  input(type='radio' name='canApply' checked=fund ? (fund.canApply) : true)
                  h5 是
                label.radio-inline
                  input(type='radio' name='canApply' checked=fund ? (!fund.canApply) : false)
                  h5 否
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 设为历史基金
              .col-xs-12.col-md-5
                label.radio-inline
                  input(type='radio' name='history' checked=fund ? (fund.history) : false)
                  h5 是
                label.radio-inline
                  input(type='radio' name='history' checked=fund ? (!fund.history) : true)
                  h5 否
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 完全屏蔽
              .col-xs-12.col-md-5
                label.radio-inline
                  input(type='radio' name='disabled' checked=fund ? (fund.disabled) : false)
                  h5 是
                label.radio-inline
                  input(type='radio' name='disabled' checked=fund ? (!fund.disabled) : true)
                  h5 否
            hr
            h4 审批方式
            hr
            .fund-setting-list
              .col-xs-12.col-md-2
                label.radio-inline
                  input.censor(type='radio' name='censor' checked=fund?(fund.censor.certs.length!==0): false)
                  h5 人工
              //.col-xs-12.col-md-2
              //  input.form-control(type="number" placeholder="默认为0")
              .col-xs-10.col-md-10#certsCheckBox
                .row
                  .col-xs-12.col-md-12
                    h5 审查员资格
                    -for (let certObj of data.fundCerts)
                      if fund && fund.censor.certs.length !== 0
                        label.checkbox-inline
                          input(type='checkbox' name='cert' cert=certObj.cert checked=fund.censor.certs.includes(certObj.cert))
                          h5= certObj.displayName
                      else
                        label.checkbox-inline.disabled
                          input(type='checkbox' name='cert' cert=certObj.cert disabled=true)
                          h5= certObj.displayName
                    hr
                  .col-xs-12.col-md-5
                    h5 指定审查员(英文逗号,分隔)
                    .form-group
                      input#fundCensorAppointed.form-control(value=fund? fund.censor.appointed.join(','): '' placeholder='填入uid')
            .fund-setting-list
              .col-xs-12.col-md-2
                label.radio-inline
                  input.censor(type='radio' name='censor' checked=fund?(fund.censor.certs.length === 0): true)
                  h5 系统
            hr
            h4 申请人资格
            hr
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 账号等级
              .col-xs-12.col-md-2
                input.form-control#userLevel(type="number" placeholder="默认为0" value=applicant? applicant.userLevel: '')
              .col-xs-12.col-md-2
                h5#userLevelInfo
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 发帖量
              .col-xs-12.col-md-2
                input.form-control#threadCount(type="number" placeholder="默认为0" value=applicant? applicant.threadCount: '')
              .col-xs-12.col-md-2
                h5#threadCountInfo
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 回帖量
              .col-xs-12.col-md-2
                input.form-control#postCount(type="number" placeholder="默认为0" value=applicant ? applicant.postCount : '')
              .col-xs-12.col-md-2
                h5#postCountInfo
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 注册时间（天）
              .col-xs-12.col-md-2
                input.form-control#timeToRegister(type="number" placeholder="默认为0" value=applicant ? applicant.timeToRegister : '')
              .col-xs-12.col-md-2
                h5#regiserTimeInfo
              .col-xs-12.col-md-2
                h5#supportCountInfo
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 申请人身份认证等级
              .col-xs-12.col-md-2
                input.form-control#applicantAuthLevel(type='number' placeholder='默认1' value=applicant.authLevel?applicant.authLevel:'')
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 组员身份认证等级
              .col-xs-12.col-md-2
                input.form-control#memberAuthLevel(type='number' placeholder='默认1' value=member.authLevel?member.authLevel:'')
            //.fund-setting-list
            //  .col-xs-12.col-md-2
            //    h5 申请人身份认证
            //  .col-xs-10.col-md-10
            //    label.checkbox-inline
            //      input.authentication(type='checkbox' name='idCard' checked=applicant ? applicant.idCard : false)
            //      h5 实名认证
            //    label.checkbox-inline
            //      input.authentication(type='checkbox' name='idCardPhotos' checked=applicant ? applicant.idCardPhotos : false)
            //      h5 身份证照片
            //    label.checkbox-inline
            //      input.authentication(type='checkbox' name='lifePhotos' checked=applicant ? applicant.lifePhotos : false)
            //      h5 生活照
            //    label.checkbox-inline
            //      input.authentication(type='checkbox' name='handheldIdCardPhoto' checked=applicant ? applicant.handheldIdCardPhoto : false)
            //      h5 手持身份证照片
            //.fund-setting-list
            //  .col-xs-12.col-md-2
            //    h5 组员身份认证
            //  .col-xs-10.col-md-10
            //    label.checkbox-inline
            //      input.members(type='checkbox' name='idCard' checked=member ? member.idCard : false)
            //      h5 实名认证
            //    label.checkbox-inline
            //      input.members(type='checkbox' name='idCardPhotos' checked=member ? member.idCardPhotos : false)
            //      h5 身份证照片
            //    label.checkbox-inline
            //      input.members(type='checkbox' name='lifePhotos' checked=member ? member.lifePhotos : false)
            //      h5 生活照
            //    label.checkbox-inline
            //      input.members(type='checkbox' name='handheldIdCardPhoto' checked=member ? member.handheldIdCardPhoto : false)
            //      h5 手持身份证照片
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 附带帖子数目
              .col-xs-12.col-md-2
                input.form-control#attachmentsThreads(type="number" placeholder="默认为0" value=thread? thread.count: '')
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 附带论文数目
              .col-xs-12.col-md-2
                input.form-control#attachmentsPapers(type="number" placeholder="默认为0" value=paper? paper.count: '')
              .col-xs-12.col-md-4
                span 是否已通过审核&nbsp;&nbsp;
                label.radio-inline
                  input#passed(type='radio' name='passed' checked=fund? fund.paper.passed: true)
                  h5 是
                label.radio-inline
                  input(type='radio' name='passed' checked=fund? !fund.paper.passed: false)
                  h5 否
            hr
            h4 其他信息
            hr
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 申请方式
              .col-xs-12.col-md-10
                label.checkbox-inline
                  input(type='checkbox' name='applicationMethod' checked=fund? fund.applicationMethod.personal: false)
                  h5 个人申请
                label.checkbox-inline
                  input(type='checkbox' name='applicationMethod' checked=fund? fund.applicationMethod.team: false)
                  h5 团队申请
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 允许退修次数
              .col-xs-12.col-md-2
                input.form-control#modifyCount(type="number" placeholder="默认为3" value=fund? fund.modifyCount: '')
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 好友支持数
              .col-xs-12.col-md-2
                input.form-control#supportCount(type="number" placeholder="默认为0" value=fund ? fund.supportCount : '')
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 示众天数
              .col-xs-12.col-md-2
                input.form-control#timeOfPublicity(type="number" placeholder="默认为0" value=fund? fund.timeOfPublicity: '')
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 年最大申请次数
              .col-xs-12.col-md-2
                input.form-control#applicationCountLimit(type="" placeholder="默认为2" value=fund? fund.applicationCountLimit: '')
            .fund-setting-list
              .col-xs-12.col-md-2
                h5 互斥
              .col-xs-12.col-md-10
                label.checkbox-inline
                  input(type='checkbox' name='conflict' checked=fund ? fund.conflict.self : false)
                  h5 与自己互斥
                label.checkbox-inline
                  input(type='checkbox' name='conflict' checked=fund ? fund.conflict.other : false)
                  h5 与相同设置的基金互斥
            .fund-setting-list
              .col-xs-12.col-md-2.col-md-offset-5
                br
                if fund
                  button.btn.btn-info(style='width: 100%' onclick=`submit("${fund.id}")`) 提交
                else
                  button.btn.btn-info(style='width: 100%' onclick='submit()') 提交

    br
    br
block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_common.js')
  script(src='/interface_fund_setting.js')