extends bootstrap_base
block title
  title= `${data.user.username}的基金申请`
  link(rel='stylesheet' href='/fund.css')
block content
  -const mainContainer1400 = true
  -const {applicationForms} = data;
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-8(style='margin-bottom: 1rem')
        .panel.panel-default
          .panel-body
            .row
              .col-xs-12.col-md-12
                .row
                  .col-xs-12.col-md-12
                    h4.text-center(style='color: #888;') 与我有关的基金申请
                  .col-xs-12.col-md-12
                    ul.nav.nav-tabs
                      -const {type} = data;
                      li(role="presentation" class=type === undefined || type === 'created' ? 'active' : '')
                        a(href="/fund/me") 我创建的
                      li(role="presentation" class=type === 'join' ? 'active' : '')
                        a(href="/fund/me?type=join") 我加入的
                      //li(role="presentation" class=type === undefined? 'active': '')
                      //  a(href="/fund/me") 已完成
                      //li(role="presentation" class=type === 'funding'? 'active': '')
                      //  a(href="/fund/me?type=funding") 资助中
                      //li(role="presentation" class=type === 'auditing' ? 'active' : '')
                      //  a(href="/fund/me?type=auditing") 审核中
                      //li(role="presentation" class=type === 'draft' ? 'active' : '')
                      //  a(href="/fund/me?type=draft") 草稿
                      li(role="presentation" class=type === 'notify'? 'active': '')
                        a(href="/fund/me?type=notify") 通知
                          if data.newNotify > 0
                            span.redFontColor!= `&nbsp;${data.newNotify}`
                  if applicationForms.length === 0
                    .col-xs-12.col-md-12
                      .blank.blank-lg 暂无数据
                  else
                    .col-xs-12.col-md-12
                      mixin status(applicationForm)
                        -const {submitted, usersSupport, projectPassed, adminSupport, remittance, completed, excellent} = applicationForm.status;
                        if !submitted
                          span 未提交
                        else if !usersSupport
                          span 等待网友支持
                        else if projectPassed === null
                          span 等待项目审核
                        else if projectPassed === false
                          span.redFontColor 项目审核不通过
                        else if adminSupport === null
                          span 等待管理员审核
                        else if adminSupport === false
                          span.redFontColor 管理员审核不通过
                        else if !remittance
                          span 等待打款
                        else if !completed
                          span 等待结项
                        else
                          span 已完成
                      .fund-ul
                        -for(let i = 0; i < applicationForms.length; i++)
                          -const a = applicationForms[i];
                          -const {toc, _id, members, applicant, fund} = a;
                          if type === 'notify'
                            span=`来自 `
                            a(href=`/m/${applicant.uid}`)= applicant.user.username
                            span=` 的组队邀请，`
                            a(href=`/fund/a/${a._id}`)= `查看`
                            br
                            span= `状态：`
                            -for(let m of members)
                              if m.uid === data.user.uid
                                if m.agree === true
                                  span.greenFontColor 已同意
                                else if m.agree === null
                                  span 未处理
                                  //a(href=`/fund/a/${_id}`) 查看
                                else
                                  span.redFontColor 已拒绝
                            hr
                          else
                            .fund-li
                              .row
                                .col-xs-12.col-md-12
                                  span.fund-li-time= toc.toLocaleString()
                                .col-xs-12.col-md-11
                                  span= `申请人：`
                                    a(href=`/m/${a.uid}`)= a.applicant.user.username
                                  span &nbsp;&nbsp;
                                  if a.from !== 'personal'
                                    span= `组员：`
                                      -for(let u of a.members)
                                        a(href=`/m/${u.uid}`)= `${u.user.username} `
                                  br
                                  span=`项目名称：${a.project.t}`
                                  br
                                  span= `状态：`
                                  +status(a)
                                .col-xs-12.col-md-1
                                  a(href=`/fund/a/${a._id}`) 查看
                                  br
                                  a(href=`/fund/a/${a._id}/settings`) 编辑

                                //.col-xs-2.col-md-2
                                //  span.h3(style='line-height: 3.4rem;')= fund.name
                                //.col-xs-8.col-md-8
                                //  .row
                                //    .col-xs-12.col-md-12
                                //      span 申请人：
                                //      a(href=`/u/${applicant.user.uid}`)= applicant.user.username
                                //    if members.length !== 0
                                //      .col-xs-12.col-md-12
                                //        span 组员：
                                //        -for(let u of members)
                                //          if u.agree === null
                                //          span(style='margin-right: 0.3rem;')
                                //            a(href=`/u/${u.user.uid}`)= u.user.username
                                //    .col-xs-12.col-md-12
                                //      span 状态：
                                //        if type === 'invitation'
                                //          -for (let u of members)
                                //            if u.uid === user.uid
                                //              -let agree = u.agree;
                                //              if agree === null
                                //                span 暂未处理
                                //              else if agree === true
                                //                span 已同意
                                //              else
                                //                span 已拒绝
                                //.col-xs-2.col-md-2
                                //  .row
                                //    if applicant.uid === user.uid
                                //      .col-xs-12.col-md-12
                                //        span
                                //          a(href=`/fund/a/${_id}/settings`) 查看
                                //      .col-xs-12.col-md-12
                                //        span
                                //          a(href=`javascript: removeApplicationForm(${_id})`) 编辑
                                //    else
                                //      .col-xs-12.col-md-12
                                //        span
                                //          a(href=`/fund/a/${_id}`) 查看
block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_me.js')