extends bootstrap_base
block title
  title 合并设置
  -const mainContainer1400 = true;
  -const forum = data.forum;
  link(rel='stylesheet' href='/jquery/jquery.minicolors.css')
block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-2
        include module_forum_settings
      .col-xs-12.col-md-10
        .panel.panel-default
          .panel-heading
            span 合并设置
          .panel-body
            div.form-horizontal
              .form-group
                label.col-sm-2.control-label 被合并专业选择
                .col-sm-10
                  - data.noShowCategory = true;
                  include forumlist_dropdown
              //- .form-group
              //-   label.col-sm-2.control-label 专业简称
              //-   .col-sm-5
              //-     input.form-control#abbr(type='text' placeholder='请输入专业简称' value=forum.abbr || '')
              //- .form-group
              //-   label.col-sm-2.control-label 专业颜色
              //-   .col-sm-5
              //-     //- input.form-control.demo#color(type='text' value=forum.color || '' data-control='hue')
              //- .form-group
              //-   label.col-sm-2.control-label 专业简介
              //-   .col-sm-5
              //-     textarea.form-control#brief(placeholder='请输入专业简介（15字以内）' rows=2)= forum.brief || ''
              //- .form-group
              //-   label.col-sm-2.control-label 专业介绍
              //-   .col-sm-5
              //-     textarea.form-control#description(placeholder='请输入专业介绍' rows=5)= forum.description || ''
              //- .form-group
              //-   label.col-sm-2.control-label 专业说明
              //-   .col-sm-5
              //-     button.btn.btn-default(onclick=`submit("${data.forum.fid}", toEditor)`) 去编辑器
              //- .form-group
              //-   label.col-sm-2.control-label 专业公告
              //-   .col-sm-5
              //-     input.form-control#noticeThreadsId(placeholder='请输入文号' value=forum.noticeThreadsId?forum.noticeThreadsId.join(','): '')
              //- .form-group
              //-   label.col-sm-2.control-label 快速入门
              //-   .col-sm-5
              //-     input.form-control#basicThreadsId(placeholder='请输入文号' value=forum.basicThreadsId ? forum.basicThreadsId.join(','): '')
              //- .form-group
              //-   label.col-sm-2.control-label 推荐阅读
              //-   .col-sm-5
              //-     input.form-control#valuableThreadsId(placeholder='请输入文号' value=forum.valuableThreadsId ? forum.valuableThreadsId.join(','): '')
              //- .form-group
              //-   label.col-sm-2.control-label 主管专家
              //-   .col-sm-5
              //-     input.form-control#moderators(placeholder='请输入uid' value=forum.moderators? forum.moderators.join(','): '')
              .form-group
                .col-sm-5.col-sm-offset-2
                  button.btn.btn-default(onclick=`submit("${forum.fid}")`) 开始合并
block scripts
  script(src='/jquery/jquery.minicolors.js')
  script(src='/module_forum_settings.js')

  script(src='/interface_common.js')
  script(src='/module_dropdown.js?v=3')
  script(src='/interface_forum_settings_merge.js')