.row

  if data.recentInvolvedThreadResponses
    .col-xs-12.col-sm-6
      h4 最近参与
      
      .list-group
        each p in data.recentInvolvedThreadResponses
          if p.thread
            -var turl = '/t/'+p.tid
            a.list-group-item(href='#{turl}')
              .UserPostTitle
                
                span.reddish #{fromNow(p.thread.lm.tlm)} 
                span #{p.thread.lmuser.username} 
                
                span 回复 
                span.UserPostTitleText #{p.thread.oc.t} : 
              
              -var postContentBrief = digestText(p.thread.lm.c)
              .UserPostContent #{postContentBrief}


  if data.recentReplies
    .col-xs-12.col-sm-6
      h4 最近回复
      
      .list-group
        each p in data.recentReplies
          if p.thread
            -var turl = '/t/'+p.tid
            a.list-group-item(href='#{turl}')
              .UserPostTitle
                span.reddish #{fromNow(p.tlm)} 
                span #{data.thatuser.username} 
                
                span 回复 
                span.UserPostTitleText #{p.thread.oc.t} : 
                
              -var postContentBrief = digestText(p.c)
              .UserPostContent #{postContentBrief}
  
