extends bootstrap_base
block title

  -const fund = data.fund.toObject();
  -const {applicationForm, s} = data;
  -const mainContainer1400 = true
  -const {idCard, lifePhotos, idCardPhotos, handheldIdCardPhoto} = fund.applicant;
  -const {status, members, applicant} = applicationForm;
  -const {chooseType, inputApplicantMessages, inputProjectMessages, ensureUsersMessages, inputProjectContent, submit} = status;
  title= `${fund.name}申请表`
  link(rel='stylesheet' href='/fund.css')
  style.


block content
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-body
            .nav-link.center-block
              ul
                -const arr = [{en: 'chooseType', ch: '1、选择申请方式'},{en: 'inputApplicantMessages', ch: '2、填写身份信息'},{en: 'ensureUsersMessages', ch: '3、申请人员确认'},{en: 'inputProjectMessages', ch: '4、填写项目基本信息'},{en: 'inputProjectContent', ch: '5、填写项目内容'},{en: 'submit', ch: '6、提交申请'}];
                -for (let i = 0; i < arr.length; i++)
                  if i === 0
                    li
                      a(href=`/fund/a/${applicationForm._id}/settings?s=${i+1}` class='active')= arr[i].ch
                  else if status[arr[i-1].en]
                    li
                      a(href=`/fund/a/${applicationForm._id}/settings?s=${i+1}` class='active')= arr[i].ch
                  else
                    li
                      a.disabled= arr[i].ch
            hr
            .fund-apply-head= arr[s-1].ch
            if s === 1
              .row(style='padding: 3rem 0;')
                .col-xs-6.col-md-2.col-md-offset-4
                  .choose-content-div#personal(class=applicationForm.members.length === 0? 'active': '') 个人申请
                .col-xs-6.col-md-2
                  .choose-content-div#team(class=applicationForm.members.length !== 0? 'active': '') 团队申请
              .row#teamDiv
                .col-xs-12.col-md-4.col-md-offset-4
                  .row
                    .col-xs-12.col-md-12
                      #selectedUsersDiv
                        if applicationForm.members.length === 0
                          h4 暂未添加组员
                        else
                          h4 已选择组员：
                          -for(let user of applicationForm.members)
                            span.fund-span.selectedUser.selected(uid=user.uid onclick=`deleteUser(${user.uid})`)= user.user.username
                              span.fund-span.delete.glyphicon.glyphicon-remove
                      hr
                      h4(style='margin-bottom: 0.5rem;') 添加组员:
                      .form
                        input.fund-input#username(style='width: 78%;' type='text' placeholder='输入用户名或uid')
                        input.fund-submit(onclick='getUser()' type='submit' value='搜索')
                      span.fund-span.transparent(onclick=`getSubscribeUsers('${user.uid}')`) 我的关注
                      span.fund-span.transparent(onclick=`getSubscribers('${user.uid}')`) 我的粉丝
                  .row
                    .col-xs-12.col-md-12
                      #usersList
                        .blank 暂无数据
              hr
              .back-next
                .apply-next(onclick=`submit(${applicationForm._id})`) 保存并下一步
            else if s === 2 && chooseType !== null
              -const options = {name: applicant.name, idCardNumber: applicant.idCardNumber, description: applicant.description, mobile: applicant.mobile, members: false, account: applicationForm.account};
              include interface_fund_userMessagesForm
              hr
              .back-next
                .apply-next(onclick=`submitUserMessages(${applicationForm._id})`) 保存并下一步
            else if s === 3 && inputApplicantMessages !== null
              -const agreeIsFalse = [], agreeIsTrue = [], agreeIsNull = [];
              -for(let u of members)
                if u.agree === null
                  -agreeIsNull.push(u);
                else if u.agree === true
                  -agreeIsTrue.push(u);
                else
                  -agreeIsFalse.push(u);
              -let self = false;
              if agreeIsFalse.length === 0 && agreeIsNull.length === 0 && agreeIsTrue.length === 0
                -self = true;
              .row
                .col-xs-12.col-md-4.col-md-offset-4
                  if self
                    br
                    h4 已同意的用户：
                    #usersList
                      span.fund-span=user.username
                  else
                    br
                    h4 未处理的用户：
                    #usersList
                      if agreeIsNull.length === 0
                        .blank 暂无数据
                      else
                        -for(let u of agreeIsNull)
                          span.fund-span.transparent= u.user.username
                    br
                    h4 已同意的用户：
                    #usersList
                      if agreeIsTrue.length === 0
                        .blank 暂无数据
                      else
                        -for(let u of agreeIsTrue)
                          span.fund-span= u.user.username
                    br
                    h4 已拒绝的用户：
                    #usersList
                      if agreeIsFalse.length === 0
                        .blank 暂无数据
                      else
                        -for(let u of agreeIsFalse)
                          span.fund-span.disabled= u.user.username
                    if agreeIsNull.length !== 0 && !self
                      span(style='color: red;') 等待用户确认中，若要关闭页面请点击保存按钮
                    if agreeIsNull.length === 0 && !self
                      span(style='color: red;') 点击下一步将只保留已同意的用户，若要重新添加用户请点击步骤1
              if self
                hr
                .back-next
                  .apply-next(onclick=`submitEnsureUsersMessages(${applicationForm._id})`) 保存并下一步
              else if agreeIsNull.length !== 0
                hr
                .back-next
                  .apply-next(onclick=`submitEnsureUsersMessages()`) 保存
              else if agreeIsNull.length === 0
                hr
                .back-next
                  .apply-next(onclick=`submitEnsureUsersMessages(${applicationForm._id})`) 保存下一步
            else if s === 4 && ensureUsersMessages !== null
              .row
                .col-xs-12.col-md-4.col-md-offset-4

              // -const {authentication} = fund.preconditions;
              // -const arr = [];
              // -for(let key in authentication){if(authentication[key]){arr.push(key)}}
              // mixin toChinese(obj, arr, type)
              //   -const result = [];
              //   -let disabled;
              //   -const {uid, username, info} = obj;
              //   if type === 'other'
              //     span.h4
              //       a(href=`/m/${uid}` target='_blank')= username
              //     span ：
              //     -obj = info
              //   if arr.includes('idCard')
              //     -disabled = '';
              //     if !obj.idCard && (!obj.name || !obj.idCardNumber)
              //       -disabled = 'disabled';
              //       -result.push('实名认证');
              //     span.fund-span(class=disabled) 实名认证
              //   if arr.includes('idCardPhoto')
              //     -disabled = '';
              //     if !obj.idCardPhoto && (!obj.idCardA || !obj.idCardB)
              //       -disabled = 'disabled';
              //       -result.push('身份证照片');
              //     span.fund-span(class=disabled) 身份证照片
              //   if arr.includes('handheldIdCardPhoto')
              //     -disabled = '';
              //     if !obj.handheldIdCardPhoto && !obj.handheldIdCard
              //       -disabled = 'disabled';
              //       -result.push('手持身份证照片');
              //     span.fund-span(class=disabled) 手持身份证照片
              //   if arr.includes('lifePhoto')
              //     -disabled = '';
              //     if !obj.lifePhoto && (!obj.life || obj.life.length === 0)
              //       -disabled = 'disabled';
              //       -result.push('生活照');
              //     span.fund-span(class=disabled) 生活照
              //   if result.length !== 0 && type !== 'fund'
              //     if type === 'me'
              //       p= `您的${result.join('、')}未完善，`
              //         a(href='###' target='_blank' style='cursor: pointer') 去完善
              //     else
              //       p!= `该组员的${result.join('、')}未完善，`
              //         a(href=link target='_blank' style='cursor: pointer') 去通知
              //   if result.length === 0 && type === 'other'
              //     p 该组员信息完善
              // .fund-apply-head 身份信息确认
              // .row
              //   -let agreeFalse, agreeNull, agreeTrue;
              //   -for (let member of members)
              //     if member.agree === false
              //       -agreeFalse = true
              //     if member.agree === true
              //       -agreeTure = true
              //     if member.agree === null
              //       -agreeNull = true
              //   .col-xs-12.col-md-6.col-md-offset-3
              //     .row
              //       .col-xs-12.col-md-12
              //         h3 认证方式
              //         hr
              //         +toChinese(authentication, arr, 'fund')
              //         hr
              //       .col-xs-12.col-md-12
              //         span 我的:
              //         +toChinese(userMessages, arr, 'me')
              //         hr
              //       if agreeTure && members.length !== 0
              //         .col-xs-12.col-md-12
              //           h3 已同意用户
              //           hr
              //           -let n = 0;
              //           -for (let member of members)
              //             if member.agree
              //               -n++;
              //               +toChinese(member, arr, 'other')
              //               hr
              //           if n === 0
              //             div(style='height: 5rem;line-height: 5rem;width: 100%;text-align: center;color: #ddd;font-size: 2rem;') 暂无用户同意
              //             hr
              //       if agreeNull
              //         .col-xs-12.col-md-12
              //           h3 以下用户暂未同意，请耐心等待
              //           hr
              //           -for (let member of members)
              //             if member.agree === null
              //               span.fund-span.transparent= member.username
              //           hr
              //       if agreeFalse
              //         .col-xs-12.col-md-12
              //           h3 以下用户已拒绝您的邀请
              //           hr
              //           -for (let member of members)
              //             if member.agree === false
              //               span.fund-span.disabled= member.username
              //               -break;
              //           hr
              //       if !agreeNull && agreeFalse
              //         .col-xs-12.col-md-12
              //           h4(style='color: #aaa;font-size: 1.5rem') 有用户拒绝了您的邀请，若想要添加用户请点击
              //             a(href='###') 去添加
              //   if !agreeNull
              //     -let flag = true;
              //     -for (let member of members)
              //       -const {info} = member;
              //       -for(let key of arr)
              //         if key === 'idCard' && (!info.name || !info.idCardNumber || !userMessages.name || !userMessages.idCardNumber)
              //           -flag = false
              //         if key === 'idCardPhoto' && (!info.idCardA || !info.idCardB || !userMessages.idCardA || !userMessages.idCardB)
              //           -flag = false
              //         if key === 'handheldIdCardPhoto' && (!info.handheldIdCard || !userMessages.handheldIdCard)
              //           -flag = false
              //         if key === 'lifePhoto' && (!info.life || info.life.length === 0 || !userMessages.life || userMessages.life.length === 0)
              //           -flag = false
              //     if flag
              //       .col-xs-12.col-md-12
              //         hr
              //         .back-next
              //           .apply-next(onclick=`submit(${applicationForm._id})`) 下一步



block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_common.js')
  script(src='/interface_fund_apply.js')