extends bootstrap_base
block title

  -const fund = data.fund;
  -console.log(fund);
  -const photos = data.photos;
  -const {applicationForm} = data;
  -const mainContainer1400 = true
  -const preconditions = fund.preconditions;
  -const authentication = preconditions.authentication;
  -const {idCard, lifePhoto, idCardPhoto, handheldIdCardPhoto} = authentication;
  -const {chooseType, inputUsersMessages, inputProjectMessages, ensureUsersMessages, inputProjectContent, submit} = applicationForm.status;
  title= `${fund.name}申请表`
  link(rel='stylesheet' href='/fund.css')
  style.
    .nav-link{
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
    }
    .nav-link > ul > li{
      float: left;
      list-style: none;
    }
    .choose-content-div{
      text-align: center;
      font-size: 2rem;
    }
    .nav-link > ul{
      padding: 0;
      overflow: hidden;
    }
    .nav-link > ul > li > a{
      color: #fff;
      display: block;
      font-size: 1.5rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      width: 15rem;
      background-color: #aaa;
      margin: 0 0.5rem;
      transition: background-color 0.2s;
    }
    .nav-link > ul > li > a.active{
      background-color: #337ab7aa;
    }
    .nav-link > ul > li > a:hover{
      text-decoration: none;
      background-color: #337ab7aa;
    }

block content
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-body
            .nav-link.center-block
              ul
                li
                  a(href='###' class=chooseType?'active': '') 1、选择申请方式&nbsp;
                li
                  a(href='###' class=inputUsersMessages?'active': '') 2、填写身份信息
                li
                  a(href='###' class=ensureUsersMessages?'active': '') 3、身份信息确认
                li
                  a(href='###' class=inputProjectMessages?'active': '') 4、填写项目基本信息
                li
                  a(href='###' class=inputProjectContent?'active': '') 5、填写项目内容
                li
                  a(href='###' class=submit?'active': '') 6、提交申请
            .row
              .col-xs-12.col-md-6
                ul.nav.nav-pills
                  li(role="presentation" class=applicationForm.members.length === 0? 'active': '')
                    a#personal 个人申请
                  li(role="presentation" class=applicationForm.members.length !== 0? 'active': '')
                    a#team 团队申请
            .row
              .col-xs-12.col-md-2.col-md-offset-4
                .choose-content-div 个人申请
              .col-xs-12.col-md-2
                .choose-content-div 团队申请
            .back-next
              .apply-next 下一步


block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_applicationForm.js')