extends bootstrap_base
block title
  title 权限设置
  -const mainContainer1400 = true;
  -const forum = data.forum;
  -const gradesId = forum.gradesId || [];
  -const rolesId = forum.rolesId || [];
  link(rel='stylesheet' href='/jquery/jquery.minicolors.css')
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_forum_settings
      .col-xs-12.col-md-10
        .panel.panel-default
          .panel-heading
            span 权限设置
          .panel-body
            div.form-horizontal
              .form-group
                label.col-sm-3.control-label 总开关
                .col-sm-5
                  span.fa-switch-icon.fa#accessible(class=forum.accessible?'fa-toggle-on': 'fa-toggle-off')
                  p.text-danger *关闭后该板块、该板块下的所有文章都将无法访问，并且会隐藏导航入口
              .form-group
                label.col-sm-3.control-label 导航可见
                .col-sm-5
                  span.fa-switch-icon.fa#visibility(class=forum.visibility?'fa-toggle-on': 'fa-toggle-off')
                  p.text-danger *关闭后所有用户将不能在导航栏看见该板块的入口
              .form-group
                label.col-sm-3.control-label 无权用户在导航可见
                .col-sm-5
                  span.fa-switch-icon.fa#isVisibleForNCC(class=forum.isVisibleForNCC?'fa-toggle-on': 'fa-toggle-off')
                  p.text-danger *打开后无权限访问该板块的用户将能够在导航栏看见该板块的入口（打开上一选项“导航可见”后该设置有效）
              .form-group
                label.col-sm-3.control-label 在父板块显示
                .col-sm-5
                  span.fa-switch-icon.fa#displayOnParent(class=forum.displayOnParent?'fa-toggle-on': 'fa-toggle-off')
                  p.text-danger *打开后父板块将能够显示该板块的文章
              .form-group
                label.col-sm-3.control-label 用户角色限制
                .col-sm-5
                  h5
                    for role in data.roles
                      .icheckbox(style='display: inline-block;margin-right: 1rem;')
                        span= role.displayName
                        if rolesId.includes(role._id)
                          input(type='checkbox' name='selectRole' checked=true data-id=role._id)
                        else
                          input(type='checkbox' name='selectRole' data-id=role._id)
              .form-group
                label.col-sm-3.control-label 用户等级限制
                .col-sm-5
                  h5
                    for grade in data.grades
                      .icheckbox(style='display: inline-block;margin-right: 1rem;')
                        span= grade.displayName
                        if gradesId.includes(grade._id)
                          input(type='checkbox' name='selectGrade' checked=true data-id=grade._id)
                        else
                          input(type='checkbox' name='selectGrade' data-id=grade._id)

              .form-group
                label.col-sm-3.control-label 角色与等级关系
                .col-sm-5
                  h5
                    .radiobox(style='display: inline-block;margin-right: 1rem;')
                      span 与
                      if forum.relation === 'and'
                        input(type='radio' name='selectRelation' checked=true)
                      else
                        input(type='radio' name='selectRelation' )
                    .radiobox(style='display: inline-block;margin-right: 1rem;')
                      span 或
                      if forum.relation === 'or'
                        input(type='radio' name='selectRelation'  checked=true)
                      else
                        input(type='radio' name='selectRelation' )

              .form-group
                label.col-sm-3.control-label 分享链接访问次数限制
                .col-sm-5
                  input.form-control(id='shareLimitCount' type='number' value=forum.shareLimitCount)
                  p.text-danger *超过访问次数的请求不再赋予token所带的权限

              .form-group
                label.col-sm-3.control-label 分享链接有效时间(小时)
                .col-sm-5
                  input.form-control(id='shareLimitTime' type='number' value=forum.shareLimitTime)
              .form-group
                label.col-sm-3.control-label 主管专家
                .col-sm-5
                  input.form-control#moderators(placeholder='请输入uid' value=forum.moderators ? forum.moderators.join(',') : '')
              .form-group
                label.col-sm-3.control-label 关注类型
                .col-sm-5
                  h5
                    .m-b-1
                      input(type='radio' name='subType' checked=forum.subType==="force")
                      span.m-l-1 强制关注（未关注的可关注，关注后无法取消）
                    .m-b-1
                      input(type='radio' name='subType' checked=forum.subType==="free")
                      span.m-l-1 自由关注（可随意关注或取消关注）
                    .m-b-1
                      input(type='radio' name='subType' checked=forum.subType==="unSub")
                      span.m-l-1 不可关注（不可关注，已关注的可取消关注）
              .form-group
                label.col-sm-3.control-label 发表匿名内容
                .col-sm-5
                  h5
                    .radiobox(style='display: inline-block;margin-right: 1rem;')
                      span 允许
                      input(type='radio' name='sendAnonymousPost' checked=forum.sendAnonymousPost)
                    .radiobox(style='display: inline-block;margin-right: 1rem;')
                      span 禁止
                      input(type='radio' name='sendAnonymousPost'  checked=!forum.sendAnonymousPost)

              .form-group
                .col-sm-5.col-sm-offset-3
                  button.btn.btn-default(onclick=`submit("${forum.fid}")`) 保存
block scripts
  script(src=`/jquery/jquery.minicolors.js?v=${global.NKC.startTime}`)
  script(src=`/icheck/icheck.js?v=${global.NKC.startTime}`)
  script(src=`/module_forum_settings.js?v=${global.NKC.startTime}`)
  script(src=`/module_dropdown.js?v=${global.NKC.startTime}`)
  script(src=`/interface_forum_settings_permission.js?v=${global.NKC.startTime}`)