if applicationForms.length === 0
  .info
    span 暂无数据
else
  table.table.table-striped
    thead
      tr
        th ID
        th 状态
        th 申请时间
        th 基金类型
        th 用户ID
        th 申请金额
        th 项目名称
        th 链接

    tbody
      mixin status(applicationForm)
        -const {lock, status} = applicationForm;
        -const {submitted, usersSupport, projectPassed, adminSupport, remittance, completed, excellent} = status;
        if !lock.submitted
          th 未提交
        else if !usersSupport
          th 等待网友支持
        else if projectPassed === null
          th 等待项目审核
        else if projectPassed === false
          th 项目审核不通过，等待申请人处理
        else if adminSupport === null
          th 等待管理员审核
        else if adminSupport === false
          th 管理员审核不通过，等待申请人处理
        else if remittance === null
          th 等待汇款
        else if remittance === false
          th 汇款失败
        else if !completed
          th 资助中
        else
          th 已完成
        //
        //if excellent
        //  th 优秀项目
        //else if completed
        //  th 已完成
        //else if remittance
        //  th 资助中
        //else if !adminSupport
        //  th 审核中
      -for (let applicationForm of applicationForms)
        -const {toc, name, budgetMoney, applicant, members, _id, project} = applicationForm;
        -let money = fund.money.fixed;
        if !money
          -money = 0;
          if budgetMoney !== null && typeof budgetMoney !== 'string' && budgetMoney.length !== 0
            -for(let b of budgetMoney)
              -money += (b.count*b.money);

        tr
            th= applicationForm.code || '暂无'
            +status(applicationForm)
            th= toc.toLocaleString()
            th= fund.name
            th= applicant.user.username
            th=`${money}元`
            th= project.t
            th
              a(href=`/fund/a/${_id}`) 查看详情
              span &nbsp;
              -const {status} = applicationForm;
              if status.usersSupport && status.projectPassed === null && isCensor
                a(href=`/fund/a/${_id}/audit?type=project`) 项目审核
                span &nbsp;
              if status.adminSupport === null && status.projectPassed && data.userLevel >= 7
                a(href=`/fund/a/${_id}/audit?type=admin`) 管理员审核
                span &nbsp;
              -let needRemittance = false;
              if applicationForm.remittance.length !== 0
                -for(let r of applicationForm.remittance)
                  if !r.status
                    -needRemittance = true;
              if status.adminSupport && (!status.remittance || needRemittance) && data.userLevel >= 7
                a(href=`/fund/a/${_id}/remittance`) 去汇款
                span &nbsp;
