extends bootstrap_base.pug

block title
  title 重置密码 - 科创论坛
  
block content
  
  .container
    .row
      .col-xs-12
        if data.user && data.user.username
          script.
            location.href='/'
        
        if data.mobile && data.mcode && data.nationCode
          h3 重置密码
          input#phone2(type='hidden' value=`${data.mobile}`)
          input#mcode2(type='hidden' value=`${data.mcode}`)
          input#nationCode(type='hidden' value=`${data.nationCode}`)
          h4 手机号码为#{data.mobile}的用户，请重置密码：
          .form-horizontal.f12
            .form-group
              .col-sm-4
                input#password.form-control(type='password' placeholder='输入密码')
            .form-group
              .col-sm-4
                input#password2.form-control(type='password' placeholder='再次输入密码')
            .form-group
              .col-sm-3
                button.btn.btn-primary(onclick='submit2()') 提交
            .form-group
              .col-sm-4
                #error_info_panel2.panel.panel-default(style='display:none;')
                  .panel-body
                    div#error_info2.d-inline.lighttext() 
        
        else
          p 请输入忘记密码的用户名（注意大小写），并填写注册时使用的手机号码。
          .form-horizontal.f12
            .form-group
              .col-sm-4
                input#username.form-control(placeholder='输入用户名')
            .form-group
              .col-sm-4
                -var optionArray=[{num:'86',country:'中国'},{num:'852',country:'中国香港'},{num:'853',country:'中国澳门'},{num:'886',country:'中国台湾'},{num:'81',country:'日本'},{num:'82',country:'韩国'},{num:'65',country:'新加坡'},{num:'66',country:'泰国'},{num:'60',country:'马来西亚'},{num:'1',country:'美国'},{num:'1',country:'加拿大'},{num:'61',country:'澳大利亚'},{num:'44',country:'英国'},{num:'49',country:'德国'},{num:'33',country:'法国'},{num:'7',country:'俄罗斯'},{num:'91',country:'印度'},{num:'64',country:'新西兰'},{num:'39',country:'意大利'},{num:'31',country:'荷兰'},{num:'34',country:'西班牙'},{num:'46',country:'瑞典'},{num:'43',country:'奥地利'},{num:'41',country:'瑞士'},{num:'370',country:'立陶宛'},{num:'63',country:'菲律宾'},{num:'62',country:'印度尼西亚'},{num:'84',country:'越南'},{num:'971',country:'阿联酋'}];
                select.form-control(onchange='chooseCountryNum(this.value)')
                  -for(var i = 0; i < optionArray.length; i++)
                    option #{optionArray[i].num}&nbsp;&nbsp;#{optionArray[i].country}
            .form-group
              .col-sm-4
                input#phone.form-control(type='text' placeholder='输入手机号码')
            .form-group
              .col-sm-2
                input#mcode.form-control(type='text' placeholder='请输入短信验证码') 
              .col-sm-2
                button#getMcode.btn.btn-default(onclick="getMcode()") 获取手机验证码
            //.form-group
            //  .col-sm-2
            //    input#icode.form-control(type='text' placeholder='验证码不分大小写')
            //  .col-sm-3
            //    img#icodeImg(src="/static/captcha/captcha3.svg" style="width:120px;height:40px;"
            //    type="image/svg+xml" title="点击图片可刷新")
            .form-group
              .col-sm-3
                button.btn.btn-primary(onclick='submit()') 提交
          
            .form-group
              .col-sm-4
                #error_info_panel.panel.panel-default(style='display:none;')
                  .panel-body
                    div#error_info.d-inline.lighttext() 
    
  include debug_output.pug
  
block scripts
  script(src='/interface_common.js')
  script(src='/interface_viewForgotPassword2.js')
  
