extends bootstrap_base
block title
  title 简历设置
  -const mainContainer1400 = true
  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/bootstrap/css/bootstrap-chinese-region.min.css' media="screen" rel='stylesheet')
block content
  .container-fluid(style='max-width: 1400px;')
    .row

      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            span 简历设置
          .panel-body
            .form-horizontal

              .form-group
                label.col-sm-2.control-label 真实姓名：
                .col-sm-5
                  input.form-control#name(placeholder='真实姓名' value=data.personalInfo.name)

              .form-group
                label.col-sm-2.control-label 性别：
                .col-sm-5
                  label.radio-inline
                    input(type='radio' name='gender' checked=data.personalInfo.gender === 'men')
                    span 男

                  label.radio-inline
                    input(type='radio' name='gender' checked=data.personalInfo.gender === 'women')
                    span 女
                  label.radio-inline
                    input(type='radio' name='gender' checked=!data.personalInfo.gender)
                    span 保密

              .form-group
                label.col-sm-2.control-label 出生日期：
                .col-sm-5
                  input.form-control.time#birthDate(size="16" type="text" value=data.personalInfo.birthDate?data.personalInfo.birthDate.toLocaleDateString():'')

              .form-group
                label.col-sm-2.control-label 所在地区：
                .col-sm-5
                  .bs-chinese-region.flat.dropdown(data-submit-type="id", data-min-level="1", data-max-level="3")
                    input#location.form-control(type="text", name="address", placeholder="选择你的地区", data-toggle="dropdown", readonly="", data=data.personalInfo.location)
                    .dropdown-menu(role="menu", aria-labelledby="dLabel")
                      div
                        ul.nav.nav-tabs(role="tablist")
                          li.active(role="presentation")
                            a(href="#province", data-next="city", role="tab", data-toggle="tab") 省份
                          li(role="presentation")
                            a(href="#city", data-next="district", role="tab", data-toggle="tab") 城市
                          li(role="presentation")
                            a(href="#district", data-next="street", role="tab", data-toggle="tab") 县区
                        .tab-content
                          #province.tab-pane.active(role="tabpanel") --
                          #city.tab-pane(role="tabpanel") --
                          #district.tab-pane(role="tabpanel") --
              .form-group
                label.col-sm-2.control-label 详细地址：
                .col-sm-5
                  input.form-control#address(placeholder='详细地址' value=data.personalInfo.address)

              .form-group
                label.col-sm-2.control-label 教育背景：
                .col-sm-10
                  #education-div
                  button.btn.btn-primary(onclick='addEdu();') 添加


              .form-group
                label.col-sm-2.control-label 职业信息 ：
                .col-sm-10
                  #industries-div
                  button.btn.btn-primary(onclick='addInd();') 添加



              .form-group
                label.col-sm-2.control-label
                .col-sm-5
                  button.btn.btn-primary#save(onclick=`submit(${data.user.uid})`) 保存
              #data.hidden= JSON.stringify({education: data.education, industries: data.industries})
block scripts
  script(src='/interface_common.js')
  script(src="/bootstrap/js/bootstrap-datetimepicker.min.js" charset="UTF-8")
  script(src="/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8")
  script(src='/bootstrap/js/bootstrap-chinese-region.min.js' charset="UTF-8")
  script(src="/interface_user_settings_resume.js" charset="UTF-8")