extends bootstrap_base.pug

block title
  - var thread = data.thread
  title #{thread.firstPost.t} - 科创论坛
  meta#replytarget(value=`${data.replyTarget}`)
  
  include MathJax.pug
  
  if (thread.firstPost&&thread.firstPost.c)
    -var processed=thread.firstPost.c.replace(/\[.*?]|\#|\n|\<.*?>/gm,'').trim().slice(0,140)
    
    meta(name='description' content=`${processed}`)
    meta(name='keywords' content=`${thread.firstPost.t}`)
    
    meta(property='og:image' content='http://www.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
    meta(property='og:title' content=`${thread.firstPost.t}`)
    meta(property='og:site_name' content='科创论坛')
    meta(property='og:description' content=`${processed}`)
    
    meta(property='article:published_time' content=`${(new Date(thread.firstPost.toc)).toISOString()}`)
    meta(property='article:author' content=`${data.thread.firstPost.user?data.thread.firstPost.user.username:""}`)
  
  
block content
  -var mainContainer1400 = true
  -const moveThread = data.userLevel >= 4
  -const {exactPost} = data

    div.container-fluid(style="max-width:1400px;")
      .row
        .col-sm-12.col-md-9.col-lg-9
          div#fullwidthpanel.ThreadBox.nkcpanel
            - var thread = data.thread
            - var target = thread.fid || thread.toMid || thread.mid
            - var isMyForumMdr = user? data.myForum.moderators.indexOf(user.uid) > -1 : false
            - var isOthersForumMdr = user? data.othersForum? data.othersForum.moderators.indexOf(user.uid) > -1 : false : false

            .ThreadTitle
              .ThreadTitle1(style="display:inline-block;width:69%;")
                - var forum = data.forum
                - var forumname = forum.displayName
                - var parent = null
                - if(data.forumList)data.forumList.map(item=>{if(item.children) item.children.map(f=>{if(f.fid==data.forum.fid){parent=item}})})

                if 0
                  //this part is replaced by the else part
                  div#pagetop
                    if parent
                      a.ThreadTitleForumLink.ThreadTitleForumLinkParent(href=`/f/${parent.fid}`) #{parent.displayName}
                      span  /

                    a.ThreadTitleForumLink(href=`/f/${taget}`) #{forumname}
                else
                  .ForumNavigation1(style='margin-bottom:6px')
                    if parent
                      -var parentcolor = parent.color
                      a.active(href=`/f/${parent.fid}` style=`background-color:${parentcolor}`) #{parent.displayName}
                      //span(style='margin-right:7px') /
                    -var forumcolor = forum.color||parentcolor
                    -var type = thread.fid? 'f' : 'm'
                    a.active(href=`/${type}/${target}` style=`background-color:${forumcolor}`) #{forumname}

                  span.ThreadTitleText(style="margin-right:3%;" href=`/t/${data.thread.tid}`) #{thread.firstPost.t}

                    //span(style='display:inline-block;') #{(thread.count-1)?(thread.count-1)+' 回复 /':''} #{thread.hits} 浏览

                  //br
                  //span(style='display:inline-block;font-size:15px;font-weight:bold;')
                    span #{(thread.count-1)?(thread.count-1)+' 回复 /':''} #{thread.hits} 浏览




                //.ThreadTitleAuxillary.d-inline.lighttext

                .ThreadTitleAuxillaryLink
                  a(href='#bottom') 本页底部

                  if data.userLevel >= 1
                    a(href=`javascript:addColl('${thread.tid}')`) 收藏

                  if data.userLevel >= 6
                    -var isAd = data.ads.includes(thread.tid)
                    a#adBtn(href='javascript:;' onclick=`adSwitch('${thread.tid}')`) #{isAd ? '取消首页置顶' : '首页置顶'}

                  if data.userLevel >= 4
                    if thread.digest
                      a#threadDigest(href=`javascript:setDigest('${data.thread.tid}')`) 撤销精华
                    else
                      a#threadDigest(href=`javascript:setDigest('${data.thread.tid}')`) 设置精华

                  if data.userLevel >= 4
                    if thread.topped
                      a#threadTop(href=`javascript:setTopped('${data.thread.tid}')`) 撤销置顶
                    else
                      a#threadTop(href=`javascript:setTopped('${data.thread.tid}')`) 设置置顶

                  a(href=`/t/${data.thread.tid}`) 本帖地址
                if user
                  - var visibilityMF //MF=my forum
                  - var digestMF
                  - var topMF
                  - var visibilityOF // of=others forum
                  - var digestOF
                  - var topOF
                  if(data.userLevel >= 1 && thread.uid === data.user.uid)

                  if moveThread || (!thread.fid && !thread.toMid && isMyForumMdr)
                    .form-inline(style='margin-bottom: 0.5rem')
                      .form-group.form-group-sm
                        include forumlist_dropdown.pug
                        button.btn.btn-default.btn-sm(onclick=`javascript:moveThreadTo('${thread.tid}')`) #{moveThread? '移动' : '转发'}
                      if moveThread
                        .form-group
                            button#recyclebtn.btn.btn-sm.btn-danger(onclick=`recycleThread('${data.thread.tid}')`) 送回收站
                    if thread.toMid === user.uid || thread.mid === user.uid
                      -var text
                      if data.thread.toMid === data.user.uid && data.thread.hideInToMid || data.thread.mid === data.user.uid && data.thread.hideInMid
                        -text = '恢复专栏显示'
                      else
                        -text = '在专栏隐藏'
                      a#visibility(href='javascript:;' onclick=`switchVInPersonalForum("${data.thread.tid}")` style='color: #CBDCEA') #{text}
                      span &nbsp;&nbsp;

                      -var text2
                      if thread.toMid === user.uid && thread.digestInToMid || thread.mid === user.uid && thread.digestInMid
                        -text2 = '取消专栏加精'
                      else
                        -text2 = '在专栏加精'
                      a#digest(href='javascript:;' onclick=`switchDInPersonalForum("${data.thread.tid}")` style='color: #CBDCEA') #{text2}
                      span &nbsp;&nbsp;

                      -var text3
                      if thread.toppedUsers && thread.toppedUsers.indexOf(user.uid) > -1
                        - text3 = '取消专栏置顶'
                      else
                        - text3 = '在专栏置顶'
                      a#topped(href='javascript:;' onclick=`switchTInPersonalForum("${data.thread.tid}")` style='color: #CBDCEA') #{text3}
                      span &nbsp;&nbsp;

                    else
                      if isMyForumMdr
                        - var displayName = data.myForum.displayName
                        if thread.hideInMid
                          - visibilityMF = '在' + displayName + '显示'
                        else
                          - visibilityMF = '在' + displayName + '隐藏'
                        if thread.digestInMid
                          - digestMF = '在' + displayName + '取消加精'
                        else
                          - digestMF = '在' + displayName + '加精'
                        if thread.toppedUsers && thread.toppedUsers.indexOf(data.myForum._key) > -1
                          - topMF = '在' + displayName + '取消置顶'
                        else
                          - topMF = '在' + displayName + '置顶'
                        a#MFVisibility(href='javascript:;' onclick=`switchVInPersonalForum("${thread.tid}","${displayName}","MF")` style='color: #CBDCEA') #{visibilityMF}
                        span &nbsp;&nbsp;
                        a#MFDigest(href='javascript:;' onclick=`switchDInPersonalForum("${thread.tid}","${displayName}","MF")` style='color: #CBDCEA') #{digestMF}
                        span &nbsp;&nbsp;
                        a#MFTopped(href='javascript:;' onclick=`switchTInPersonalForum("${thread.tid}","${displayName}","MF")` style='color: #CBDCEA') #{topMF}
                        span &nbsp;&nbsp;

                    if isOthersForumMdr
                      - var displayName = data.othersForum.displayName
                      if thread.hideInToMid
                        - visibilityOF = '在' + displayName + '显示'
                      else
                        - visibilityOF = '在' + displayName + '隐藏'
                      if thread.digestInToMid
                        - digestOF = '在' + displayName + '取消加精'
                      else
                        - digestOF = '在' + displayName + '加精'
                      if thread.toppedUsers && thread.toppedUsers.indexOf(data.othersForum.fid) > -1
                        - topOF = '在' + displayName + '取消置顶'
                      else
                        - topOF = '在' + displayName + '置顶'
                      a#OFVisibility(href='javascript:;' onclick=`switchVInPersonalForum("${thread.tid}","${displayName}","OF")` style='color: #CBDCEA') #{visibilityOF}
                      span &nbsp;&nbsp;
                      a#OFDigest(href='javascript:;' onclick=`switchDInPersonalForum("${thread.tid}","${displayName}","OF")` style='color: #CBDCEA') #{digestOF}
                      span &nbsp;&nbsp;
                      a#OFTopped(href='javascript:;' onclick=`switchTInPersonalForum("${thread.tid}","${displayName}","OF")` style='color: #CBDCEA') #{topOF}
                      span &nbsp;&nbsp;
              //- 为了让ThreadTitle2右浮动，将他放在一个具有text-align:right;的div中
              div(style="display:inline-block;width:30%;vertical-align:top;text-align:right;")
                .ThreadTitle2(style="display:inline-block;max-width:100%;vertical-align:top;")
                  .ThreadTitle22(style="border: 1px solid #ddd;border-radius: 10px;overflow: hidden;padding: 3px 3px 0 3px;")
                    div#changeDis(style="max-width: 180px;")
                      p.lighttext#airnum1(style="font-size:21px;text-align:center;margin-top:0px;margin-bottom:0px;") 文 号
                      .hrdiv(style="width:80%;height:1px;background-color:#ddd;margin:0 auto;")
                      -var tpid = thread.firstPost.pid
                      p.lighttext#airnum2(style="font-size:21px;text-align:center;color:#cdf;margin-bottom:0px;margin-top:0px;") #{tpid}
                      .hrdiv(style="width:80%;height:1px;background-color:#ddd;margin:0 auto;")
                      p.lighttext#airnum3(style="text-align:center;") #{(thread.count-1)?(thread.count-1)+' 回复 /':''} #{thread.hits+1} 浏览
                    div#changeDisNone
                      canvas#qrcode
                      // 生成二维码图片
                      //img(src=`/qr/${data.thread.tid}` style='height: 93px; width: 93px;opacity:0.35;filter:Alpha(opacity=35)')

            include interface_navigation_paging.pug
            //hr.ThreadTitleHr
            .ThreadPostList
              each post,index in data.posts
                include interface_thread_singlepost.pug
                if index == data.posts.length-3
                  #bottom

            br
            if(exactPost)
              hr
              div(style='width: 100%; text-align: center;')
                a(href=`/t/${thread.tid}`) 查看更多
              hr
            else
              include interface_navigation_paging.pug

            - var forumname = data.forum.displayName
            - var forumType = data.thread.fid? 'f' : 'm'
            br
            span.lighttext 返回
              a(href=`/${forumType}/${target}`) #{forumname}
              //link back to forum
            br
            span.lighttext#bm 返回
              a(href='javascript:window.scrollTo(0,0);') 本页顶部

            hr.hrNarrowSpace

            -if(data.user)
              - var userCerts = data.user.certs;
              - var hasMobile = false;
              - for(var i =0; i < userCerts.length; i++)
                - if(userCerts[i] === 'mobile')
                  - hasMobile = true;
              if (data.userLevel >= 1 && hasMobile)
                //.form-group
                  //a.f12(href='/editor?target=#{data.replytarget}') 回复（去编辑器）

                .form-group
                  textarea#ReplyContent.form-control(rows='5' placeholder='快速回复（bbcode语法）' style='resize:vertical; ')

                .form-inline
                  .form-group
                    button#ButtonReply.btn.btn-primary(onclick=`submit(${thread.tid})`) 回复

                  .checkbox-inline
                    label
                      input#ParseURL(type='checkbox' checked)
                      |处理URL

                  if 0
                    .form-group
                      button#WiderArea.hidden-xs.btn.btn-default(onclick='widerArea()') 拓展
                  include twemoji.pug
                  .form-group
                    button#GoEditor.btn.btn-default(onclick='goEditor()') 去编辑器

            include exam_notification.pug

            if !data.user
              :markdown
                想参与大家的讨论？现在就 [登陆](/login) 或者 [注册](/register)。


        .col-md-3.col-lg-3.hidden-xs.hidden-sm

          //user_profile section
          -var user = data.thread.firstPost.user
          if user
            include interface_thread_userpatch.pug

          -var skipOtherParent = true
          include interface_forums_list.pug
          -skipOtherParent=false

          //forum profile section
          .nkcpanel
            -var f = data.forum
            -var p = data.forum
            include interface_forumprofile2.pug

          if data.user
            .nkcpanel
              a(href=`/u/${data.user.uid}`) 我的主题
              br
              br
              for thread in data.usersThreads
                include interface_users_latest_threads

          .nkcpanel
            ul.HomeFriendlyLink
              include nkc_footer_links.pug

          .nkcpanel2#topB(style='margin-left: -25px; position: fixed; top: 50%; display: block;')
            button(class="glyphicon glyphicon-chevron-up btn btn-sm btn-default" style="margin-bottom:10px; padding: 10px 3px;" onclick="javascript:window.scrollTo(0,0);")
            br
            button(class="glyphicon glyphicon-chevron-down btn btn-sm btn-default" onclick="location.href='#bm'" style="padding: 10px 3px;")


          //include interface_forums_list.pug

    include debug_output.pug
    
block scripts
  script(src='/qrcode/build/qrcode.js')
  script(src='/interface_common.js')
  script(src='/interface_thread.js')
  script.
    common.backcolorChange("#{(data.user?data.user.color:null)||'#e4e4e4'}");
                
