extends bootstrap_base

block title
  meta(name='description' content=data.serverSettings?data.serverSettings.description:'每天前进一小步 - 发展科技爱好，倡导科学理性, Since 2001.')
  meta(name='keywords' content=data.serverSettings?data.serverSettings.keywords.join(','):'科创论坛，专业创客，极客论坛，创客论坛，创客教育，电磁炮，高斯枪，特斯拉线圈，科技小制作，电子DIY')

  title #{data.site.name} - #{data.site.description}

block content
  -var mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    .row

block scripts
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
