extends bootstrap_base
block title
  title 我的证件
  -const mainContainer1400 = true;
  mixin displaySelect(k)
    select.form-control(id=`${k}Select`)
      option(selected=(data.privacy[k] === 0) data=0) 完全保密
      option(selected=(data.privacy[k] === 1) data=1) 对我信任的人显示
      option(selected=(data.privacy[k] === 2) data=2) 对学者显示
      option(selected=(data.privacy[k] === 3) data=3) 对已登录用户显示
      option(selected=(data.privacy[k] === 4) data=4) 完全公开
block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            span 我的证件
          .panel-body
            h5.text-danger 照片大小不超过20M，并且只能为.jpg、.jpeg、.png格式。
            input.hidden#cert(multiple='multiple' type='file' accept='image/*')
            .form-inline
              +displaySelect('certPhoto')
              button.btn.btn-primary(onclick=`submit(${data.user.uid})`) 保存
            .row
              for photo in data.certsPhotos
                .col-xs-6.col-sm-3.col-md-3(style='margin-top: 1.5rem;')
                  .settings-img-remove.glyphicon.glyphicon-remove(onclick=`removePhoto(${photo._id})`)
                  a(href=`/photo/${photo._id}` target='_blank')
                    img(src=`/photo_small/${photo._id}` style='width: 100%;')
            .form-inline(style='margin-top: 0.5rem;')
              button.btn.btn-primary(onclick='$("#cert").click();') 上传证件照片
              span &nbsp;&nbsp;
              span#photoInfo

block scripts
  script(src='/interface_common.js')
  script(src='/interface_user_settings_cert.js')