

.applicationForm
  .row
    .col-xs-12.col-md-12
      .id.text-center=`科创基金 - ${fund.name} ${applicationForm.code?'- ' + applicationForm.code: ''}`

  hr
  .h4 申请人信息
  if applicationForm.status.projectPassed === false && data.auditComments
    p.redFontColor= `审核意见：${data.auditComments.userInfoAudit.c || '无'}`
  br
  .row
    .col-xs-12.col-md-6
      h5= `申请人ID：`
        a(href=`/m/${applicationForm.applicant.uid}` target="_blank")= applicationForm.applicant.user.username
      h5=`真实姓名：${applicationForm.applicant.name || '暂未输入'}`
      if applicationForm.applicant.idCardNumber
        div(style='border: 1px solid #ddd;padding: 0 0.5rem;background-color: #eee;')
          p.text-center 仅自己和审查员可见
          h5= `身份证号码：${applicationForm.applicant.idCardNumber || '暂未输入'}`
          h5= `联系方式：${applicationForm.applicant.mobile || '暂未输入'}`
          -let paymentType;
          if applicationForm.account.paymentType === 'alipay'
            -paymentType = '支付宝';
          else if applicationForm.account.paymentType === 'bankCard'
            -paymentType = '银行卡';
          else
            -paymentType = '暂未选择';
          h5= `收款方式：${paymentType}`
          if paymentType === '银行卡'
            h5= `银行全称：${applicationForm.account.bankName || '暂未填写'}`
            h5= `户名：${applicationForm.account.name || '暂未填写'}`
          h5= `收款账号：${applicationForm.account.number || '暂未输入'}`
      h5= `自我介绍：${applicationForm.applicant.description || '暂未填写'}`
      if applicationForm.from === 'team'
        h5= `申请方式：团队`
        h5= `组员ID（已确认的）：`
          -for(let m of applicationForm.members)
            if m.agree
              span &nbsp;&nbsp;
              a(href=`/m/${m.uid}` target='_blank')= m.user.username
      else
        h5= `申请方式：个人`
    if applicationForm.applicant.lifePhotos.length === 0
      .col-xs-12.col-md-6
        p 申请人照片
        span 生活照暂未上传
    else if applicationForm.applicant.lifePhotos.length === 1
      .col-xs-12.col-md-6
        p 申请人照片
        a(href=`/photo/${applicationForm.applicant.lifePhotos[0]._id}` target='_blank')
          img(src=`/photo_small/${applicationForm.applicant.lifePhotos[0]._id}`)
    else
      .col-xs-12.col-md-12
        p 申请人照片
        -for (let p of applicationForm.applicant.lifePhotos)
          a(href=`/photo/${p._id}` target='_blank')
            img(src=`/photo_small/${p._id}` style='margin: 0.2rem;')
    .col-xs-12.col-md-12
      if fund.thread.count > 0
        h5= `申请人曾今的技术帖：`
        if applicationForm.threads.applying.length === 0
          span 暂未填写
        else
          .selectedThreads
            -const disagreeUsers = [];
            -const notModifiedUsers = [];
            -for(let u of applicationForm.members)
              if u.agree === false
                -disagreeUsers.push(u.uid);
              if u.agree === null
                -notModifiedUsers.push(u.uid);
            -for(let i = 0; i < applicationForm.threads.applying.length; i++)
              -const thread = applicationForm.threads.applying[i];
              -const firstPost = thread.firstPost;
              -let postString = {tid: firstPost.tid, uid: firstPost.uid, username: firstPost.user.username, t: firstPost.t, toc: firstPost.toc.toLocaleString(), pid: firstPost.pid};
              -postString = JSON.stringify(postString);
              .threadList
                .col-xs-10.col-md-10
                  .displayNone.postString= postString
                  span 文号：
                  span.threadNumber!= `${firstPost.pid}&nbsp;&nbsp;`
                  a(href=`/m/${firstPost.uid}` target="_blank")= firstPost.user.username
                  if notModifiedUsers.includes(thread.uid)
                    span(style='color: #aaa;') （未处理邀请）
                  if disagreeUsers.includes(thread.uid)
                    span.redFontColor （已拒绝邀请）
                  span!= `&nbsp;发表于 ${firstPost.toc.toLocaleString()}`
                  br
                  a(href=`/t/${thread.tid}` target="_blank")= firstPost.t
  hr
  .h4 项目信息
  if applicationForm.status.projectPassed === false && data.auditComments
    p.redFontColor= `审核意见：${data.auditComments.projectAudit.c || '无'}`
  br
  .h3.text-center= applicationForm.project?applicationForm.project.t: '项目标题暂未填写'
  if applicationForm.fund.detailedProject
    br
    p= applicationForm.project?applicationForm.project.abstract: '摘要暂未填写'
    br
  br
  if !applicationForm.project
    h4.text-center= `项目内容暂未填写`
  else
    -applicationForm.project.c = hideContentByUser(applicationForm.project.c, data.user, 'thread');
    div!= experimental_render(applicationForm.project)
  hr
  .h4 其他信息
  if applicationForm.status.projectPassed === false && data.auditComments
    p.redFontColor= `审核意见：${data.auditComments.moneyAudit.c || '无'}`
  br
  h5= `学术分类：${applicationForm.forum? applicationForm.forum.displayName: '暂未选择'}`
  h5= `研究周期：${applicationForm.projectCycle?applicationForm.projectCycle+"天": '暂未填写'}`
  if applicationForm.fixedMoney
    h5= `资金用途：${applicationForm.budgetMoney || '暂未填写'}`
    h5= `申请金额：${applicationForm.fund.money.fixed}元`
  else
    h5= `资金预算：`
    if applicationForm.budgetMoney === null || applicationForm.budgetMoney === ''
      span 暂未填写
    else
      -let aggregate, suggest, fact, used;
      #budgetMoney
        if applicationForm.budgetMoney.length !== 0 && (applicationForm.actualMoney.length !== 0 || applicationForm.status.adminSupport)
          -aggregate=0;
          -suggest=0;
          -fact=0;
          -used=0;
          .fund-money-list.head.adminAudit
            .purpose 用途
            .count 数量
            .money 单价(元)
            .total 合计(元)
            .suggest 专家建议(元)
            .fact 实际批准(元)
          -for(let p of applicationForm.budgetMoney)
            -const total = p.count*p.money;
            -aggregate += total;
            -suggest += p.suggest;
            -fact += p.fact;
            .fund-money-list.adminAudit
              .purpose= p.purpose
              .count= p.count
              .money= p.money
              .total= total
              .suggest= p.suggest?p.suggest: total
              .fact= p.fact?p.fact: total
        else if applicationForm.budgetMoney.length !== 0 && applicationForm.budgetMoney[0].suggest
          -aggregate=0;
          -suggest=0;
          .fund-money-list.head.projectAudit
            .purpose 用途
            .count 数量
            .money 单价(元)
            .total 合计(元)
            .suggest 专家建议(元)
          -for(let p of applicationForm.budgetMoney)
            -const total = p.count*p.money;
            -aggregate += total;
            -suggest += p.suggest;
            .fund-money-list.projectAudit
              .purpose= p.purpose
              .count= p.count
              .money= p.money
              .total= total
              .suggest= p.suggest
        else
          -aggregate=0;
          .fund-money-list.head
            .purpose 用途
            .count 数量
            .money 单价(元)
            .total 合计(元)
          -for(let p of applicationForm.budgetMoney)
            -const total = p.count*p.money;
            -aggregate += total;
            -suggest += p.suggest;
            .fund-money-list
              .purpose= p.purpose
              .count= p.count
              .money= p.money
              .total= total
        -fact = fact || aggregate
        -suggest = suggest || aggregate
      h3.text-right
        if aggregate
          span=`申请金额：${aggregate}元`
        if suggest
          span=`，专家建议：${suggest || aggregate}元`
        if fact
          span=`，实际批准：${fact}元`
      if applicationForm.actualMoney.length !== 0
        h5 实际使用：
          -let actualAggregate = 0;
          .fund-money-list.head
            .purpose 用途
            .count 数量
            .money 单价(元)
            .total 合计(元)
          .list
            -for (let i = 0; i < applicationForm.actualMoney.length; i++)
              -const a = applicationForm.actualMoney[i];
              -const total = a.count*a.money;
              -actualAggregate += total;
              .fund-money-list(num= i)
                .actualPurpose= a.purpose
                .actualCount= a.count
                .actualMoney= a.money
                .actualTotal= total
          h3.text-right(style='margin-left: 0.5rem;')= `实际批准：${fact}元，实际花费：${actualAggregate}元，退还金额：${fact >= actualAggregate ? fact - actualAggregate : 0}元 `



