extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创基金
block content
  -var mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-body
            h1.text-center 科创基金
            hr
            .row
              -for (let fund of data.fundList)
                -const {id, name, color, money} = fund;
                .col-xs-6.col-sm-4.col-md-3.fund-list
                  a(href=`/fund/list/${id}`)
                    .fund-name(style=`background-color: ${color};background-image:${fund && fund.image? `url(/fundBGI_small/${fund._id})`: ''}`)= name
                    .fund-money!= `￥${money.max || money.fixed}&nbsp`
            hr
            h1.text-center 正在申请
            hr
            .row
              .col-xs-12.col-md-12

            hr
            h1.text-center 资助中
            hr
            hr
            h1.text-center 优秀项目
            hr
            hr
            h1.text-center 捐款
            hr
            hr
            h1.text-center 捐款人
            hr

