extends bootstrap_base
block title
  title=`草稿箱`
  -const mainContainer1400 = true
block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-9
        if(data.drafts.length === 0)
          br
          br
          br
          br
          h4.text-center(style='color: #aaaaaa;') 暂无草稿
        for i in data.drafts
          .user-info-list
            span.ForumThreadHasImage(style='background-color: #337ab7')= "标题"
            span.title= i.t
            br
            span.ForumThreadHasImage(style='background-color: #337ab7')= "内容"
            span= delCodeAddShrink(i.c)
            br
            div#draftObjId(style='display: none')= `${i.did}`
            span 修改于&nbsp;
            span.time= fromNow(i.tlm)
            span &nbsp;~~
            a(href=`/editor?type=redit&did=${i.did}`).link 继续创作
            a(style='float:right;' href="javascript:;" onclick=`removedraft("${i.uid}","${i.did}")`).link 舍弃
        include interface_navigation_paging
block scripts
  script(src='/interface_common.js')