//do sth with the post variable here
-const {ensurePermission} = data
-const postTo = ensurePermission('POST', '/f/x')
-const addPostToCart = ensurePermission('POST', '/u/x/cart')
-const addCredit = ensurePermission('PUT', '/p/x/credit')
-const disablePost = ensurePermission('DELETE', '/p/x')

  if (!post.disabled || disablePost)
    //horizontal line
    hr(id=`${post.pid}`).ThreadSinglePostHr
    //meta(id=`${post.pid}'`)
    - var uid = post.uid
    - var user = post.user
    //post itself
    .parent.clearfix(id=`p${post.pid}`)
      .threadOneLine
        div.fixThread
          div(style='float: left;')
            - var title = user && data.user?data.user.navbarDesc.info:''
            a(href=`/u/${uid}` title=`${title}`)
              img.ThreadPostAvatar(src=`/avatar/${post.uid}`)
          div(style='margin-left: 60px;')
            span.ThreadPostTitleMeta
              a.ThreadPostTitleUsername(href=`/u/${uid}`) #{user?user.username:''}

              span.lighttext #{fromNow(post.toc)} -
              span.lighttext #{dateTimeString(post.toc)}
              -var postid = post.pid
              span(style='margin-left:3px;').lighttext #{postid}


            span.ThreadTitleAuxillaryLink.PostTitleAuxillaryLink
              -var recUsers = post.recUsers || []
              if data.user && post.uid != data.user.uid
                if recUsers.indexOf(data.user.uid) > -1
                  a(href='javascript:;' onclick=`recommendPostSwitch(event, '${post.pid}')`) 取消推荐
                else
                  a(href='javascript:;' onclick=`recommendPostSwitch(event, '${post.pid}')`) 推荐(#{recUsers.length})

              - if(postTo)
                a(href=`javascript:quotePost('${post.pid}')`) 引用

              - if(addPostToCart)
                a(href=`javascript:cartPost('${post.pid}')`) 加入管理车

              - if(addCredit)
                a(href=`javascript:addCredit('${post.pid}')`) 评学术分

              - if(disablePost)// || ((!data.thread.fid && data.thread.toMid == data.user.uid) || !data.thread.fid && !data.thread.toMid && data.thread.mid == data.user.uid))
                a(href=`javascript:disablePost('${post.pid}')`) 屏蔽

              - if(post.tlm>post.toc && ensurePermission('GET', '/p/x/history'))
                a(href=`/post_history/${post.pid}`) 历史

              if data.user
                - var user = data.user
                - var ownership = user.uid===uid
                - if(testModifyTimeLimit(data.certificates,ownership,post.toc))
                  a(href=`/editor?target=post/${post.pid}`) 编辑

                - var cc = disablePost;
                - if(cc)
                  - var ipoc = post.iplm || null

                  if ipoc
                    - var queryforip = 'http://ip138.com/ips138.asp?ip='+ipoc.toString()+'&action=2'
                    a.lighttext(href=`${queryforip}`) #{ipoc}

              span.floornum(style='float:right;')
                if data.paging
                  -var floornumber = data.paging.start+index
                  //a(href='/t/#{data.thread._key}#{page?"?&page="+data.paging.page.toString():""}##{post.pid}').lighttext /#{floornumber}
                  a(href=`/t/${data.thread.tid}${page?"?&page="+data.paging.page.toString():""}#${post.pid}`).lighttext #{floornumber}阶
              .clearfix
      if(post.t && post.t != '' && index != 0)
        div.dirt.ThreadPostTitle.ThreadPostBody #{post.t}
      div.ThreadPostBody(style=`${postHeight?'overflow-y:scroll;max-height:'+postHeight:''}`)!= experimental_render(post)
        if post.toc.toLocaleString()!=post.tlm.toLocaleString()
          p.lighttext [修改于 #{fromNow(post.tlm)} - #{dateString(post.tlm)}]
      //span #{post.user?post.user.post_sign:''}
      if post.credits && post.credits.length > 0
        -console.log(post.credits)
        .nkcpanel.ThreadPostCredits
          each c,index in post.credits
            -var username = c.username||c.uid
            -var profile = (c.uid&&c.uid!='0')?'/m/'+c.uid:'/user_activities_byname/'+c.username
            .ThreadPostCreditItem
              span.TPCQ #{(c.q>0?'+':'-')}#{c.q} &nbsp;
              span.TPCType #{creditString(c.type)} &nbsp;&nbsp;
              span.TPCIA
                a(href=`${profile}`)
                  img.TPCIAI(src=`/avatar_small/${c.uid}`)
              span.TPCIssuer #{username} &nbsp;&nbsp;
              span.TPCDate #{dateTimeString(c.toc).split(' ')[0]} &nbsp;&nbsp;
              span.TPCReason #{c.reason}
    if post.disabled && disablePost
      a(href=`javascript:enablePost('${post.pid}')`) [此楼已屏蔽，点击解除]