
div
  - var forumcolor = f.color||p.color||'#eee'

  .HomeForumTitleCircle(style='background-color:#{forumcolor}')
  a.HomeForumTitlePrimary(href='../#{type}/#{f._key}') #{f.display_name}
  if f.count_posts_today
    span.reddish  (今日 #{f.count_posts_today}

  div!=markdown(f.description||'')
