-var page = data.paging.page || 0;
-var pageCount = data.paging.pageCount || 1;
-var min, max;
-var query = '';
if data.type
  -query = `&type=${data.type}`;
if data.sort
  -query += `&sort=${data.sort}`;
if pageCount > 1
  -const arr = [];
  -let n = 7;
  -let reduce1 = page-3;
  -let reduce2 =  page+3;
  if(reduce1 > 0)
    if(reduce2 > pageCount)
      -max = pageCount;
      if(reduce1-(reduce2 - pageCount) < 0)
       -min = 0;
      else
        -min = reduce1-(reduce2 - pageCount);
    else
      -max = reduce2;
      -min = reduce1;
  else
    -min = 0;
    if(reduce2 < pageCount)
      if(pageCount < reduce2 - reduce1)
        -max = pageCount;
      else
        -max = reduce2-reduce1;
    else
      -max = pageCount - 1;
  nav(aria-label='navigation')
    ul.pagination.pagination-sm(style='margin: 0')
      if min !== 0
        li
          a(href=`${url}?page=${0}${skipId || ''}${query}`)= `首`
      -for(let i = 0; i < pageCount; i++)
        if i >= min && i <= max
          -let active = '';
          if(page === i)
            -active = 'active';
          li(class=active)
            a(href=`${url}?page=${i}${skipId || ''}${query}`)= i+1
      if max < pageCount - 1
        li
          a(href=`${url}?page=${pageCount - 1}${skipId || ''}${query}`)= `末`