extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创基金
block content
  -const {applicationForm} = data;
  -const {fund, remittance, status, project, applicant, members, code, _id} = applicationForm;
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-md-10
            h4=`项目ID：`
              a(href=`/fund/a/${code}` target="_blank")= `${code}`
            h4=`项目名称：${project.t}`
            h4=`申请人：`
              a(href=`/m/${applicant.uid}` target="_blank")= `${applicant.user.username}`
            if members.length > 0
              h4=`组员：`
                -for(let aUser of members)
                  a(href=`/m/${aUser.uid}` target="_blank")= `${aUser.user.username}`
                  span &nbsp;&nbsp;
            if applicationForm.account.paymentType === 'alipay'
              h4 收款方式：支付宝
            else if applicationForm.account.paymentType === 'bankCard'
              h4 收款方式：银行卡
            else
              h4= `收款方式错误：${applicationForm.account.paymentType}`
            h4= `户名：${applicationForm.account.name}`
            h4= `收款账号：${applicationForm.account.number}`

            hr
            h3=`总共${remittance.length}期，总金额：${applicationForm.factMoney || applicationForm.money}元`
            table.table
              thead
                tr
                  th #
                  th 金额
                  th 状态
                  th 拨款人ID
                  th 拨款时间
                  th 报告
                  th 操作

              tbody
                -for(let i = 0; i < remittance.length; i++)
                  -const r = remittance[i];
                  tr
                    th= `第${i+1}期`
                    th= r.money + '元'
                    if r.status
                      th= `已拨款`
                    else if r.status === false
                      th.redFontColor= r.description
                    else
                      th= '未拨款'
                    th
                      if r.user
                        a(href=`/m/${r.uid}`)= r.user.username

                    th= r.time?r.time.toLocaleString(): ''
                    if i === 0
                      th= ''
                    else
                      th= r.passed? '已通过': '未通过'
                    th
                      if r.status
                        span 已确认拨款
                      else if r.status === null
                        if applicationForm.account.paymentType === 'alipay'
                          button#remittance(onclick=`ensureRemittance(${applicationForm._id},${i})`)= r.status ? '' : '拨款（支付宝）'
                        else
                          button(onclick=`ensureRemittance(${applicationForm._id},${i})`)= r.status ? '' : '确认已拨款'
                      else if applicationForm.lock.submitted
                        if applicationForm.account.paymentType === 'alipay'
                          button(onclick=`ensureRemittance(${applicationForm._id},${i})`)= r.status ? '' : '重试'
                          if ensureFundOperatorPermission('admin', data.user, applicationForm.fund)
                            if i === 0
                              button(onclick=`withdrawApplicationForm(${applicationForm._id})`)= r.status ? '' : '撤回申请表'
                            button(onclick=`refuseApplicationForm(${applicationForm._id})`)= r.status ? '' : '永久撤回申请表'
                      else
                        span 暂未提交申请表
block scripts
  script(src="/interface_common.js")
  script(src="/interface_fund_remittance.js")