extends bootstrap_base.pug


block title
  - var user = data.user
  title #{user.username} - #{data.site.name}
  meta#replytarget(value=`${data.replyTarget}`)
  style.
    .colorOfNumber{
      color: #555;
      font-weight: 600;
    }
block content
  -var user = data.user;
  .container
    .row
      .col-md-12
        if data.examinated
          p.f12.reddish 如果没猜错的话，你刚刚通过了一次考试，并获得了证书。
        include exam_notification.pug
    .row
      .col-xs-12.col-md-12
        .h4 个人基本信息
        hr
        .rom
          .col-xs-12.col-md-2(style='padding: 0')
            div(style='width: 10rem;margin: auto')
              img.img-rounded(src=`/avatar/${user.uid}`,style='width:100%;')
              .col-xs-12.col-md-12(style='padding: 0')
                  input#select-file(style='height:0;width:0;',type="file",target="avatar",accept="image/*" onchange=`uploadfile_click("${data.user.uid}")`)
                  button#chooseFile.btn.btn-default.center-block(onclick='updateBnt()',style='margin:1em auto;') 修改头像
          .col-xs-12.col-md-3(style='padding: 0')
            //.col-xs-12.col-md-12
            //  div.f12!= data.user.navbarDesc.string.replace(/\n/g, '<br>')
            -var navbarDesc = data.user.navbarDesc;
            .col-xs-12.col-md-12
              h4.text-center(style='margin-top: 0;')= data.user.username
            .col-xs-12.col-md-12
              p(style='font-size:1.5rem').text-center 学术分：
                span.colorOfNumber= navbarDesc.xsf
            .col-xs-12.col-md-12
              p(style='font-size:1.5rem').text-center 科创币：
                span.colorOfNumber= navbarDesc.kcb
            .col-xs-12.col-md-12
              p(style='font-size:1.5rem').text-center
                span.colorOfNumber= navbarDesc.cs
            .col-xs-6.col-md-10.col-md-offset-1
              a.btn.btn-default.center-block(href=`/m/${user.uid}?tab=all`,role="button",style='margin:0.1em auto;') 个人专栏
            .col-xs-6.col-md-10.col-md-offset-1
              a.btn.btn-default.center-block(href=`/u/${user.uid}/collections/unclassified`,role="button",style='margin:0.1em auto;') 个人收藏
      .col-xs-12.col-md-12
        hr
        .h4(style='margin-top:2em;') 账号安全设置
        hr
        .rom(style='margin:1em 0;')
          .col-xs-12.col-md-10(style='padding: 0')
            .col-xs-12.col-md-4
              .form-group
                label(for="name")
                  .h5 旧密码
                input.form-control#oldpassword(type='password', placeholder='请输入旧密码', onclick='select()')
            .col-xs-12.col-md-4
              .form-group
                label(for="name")
                  .h5 新密码
                    span(style='color: #888; font-size: 1.2rem') &nbsp至少8位
                input.form-control#newpassword(type='password', placeholder='请输入新密码', onclick='select()')
            .col-xs-12.col-md-4
              .form-group
                label(for="name")
                  .h5 重复输入新密码
                input.form-control#newpassword2(type='password', placeholder='请输入新密码', onclick='select()')
          .col-xs-12.col-md-2(style='padding: 0')
            .col-xs-12.col-md-5
              .form-group
                .col-xs-12.col-md-12.hidden-label
                    label(for="name")
                      .h5(style='opacity:0;filter:alpha(opacity=0);') hidden
                button.btn.btn-default#submitnewpassword(onclick='submitnewpassword()') 提交
          .col-xs-12.col-md-10(style='padding: 0')
            .col-xs-12.col-md-3
              label(for="name")
                .h5 选择国际区号
              -var optionArray=[{num:'86',country:'中国'},{num:'852',country:'中国香港'},{num:'853',country:'中国澳门'},{num:'886',country:'中国台湾'},{num:'81',country:'日本'},{num:'82',country:'韩国'},{num:'65',country:'新加坡'},{num:'66',country:'泰国'},{num:'60',country:'马来西亚'},{num:'1',country:'美国'},{num:'1',country:'加拿大'},{num:'61',country:'澳大利亚'},{num:'44',country:'英国'},{num:'49',country:'德国'},{num:'33',country:'法国'},{num:'7',country:'俄罗斯'},{num:'91',country:'印度'},{num:'64',country:'新西兰'},{num:'39',country:'意大利'},{num:'31',country:'荷兰'},{num:'34',country:'西班牙'},{num:'46',country:'瑞典'},{num:'43',country:'奥地利'},{num:'41',country:'瑞士'},{num:'370',country:'立陶宛'},{num:'63',country:'菲律宾'},{num:'62',country:'印度尼西亚'},{num:'84',country:'越南'},{num:'971',country:'阿联酋'}];
              include interface_nation_code
            .col-xs-12.col-md-4
              .form-group
                label(for="name")
                  -if(data.user.mobile)
                    .h5 手机号码
                      span(style='color: #888; font-size: 1.2rem') &nbsp已绑定手机号码：+#{data.user.nationCode} #{data.user.mobile}
                  -else
                    .h5 手机号码
                      span(style='color: #888; font-size: 1.2rem') &nbsp未绑定手机号码
                input.form-control#phoneNumber(type='text', placeholder='电话号码', onclick='select()')
            .col-xs-12.col-md-2
              .form-group
                label(for="name")
                  .h5 短息验证码
                input.form-control#mCode(type='text', placeholder='输入验证码', onclick='select()')
            .col-xs-12.col-md-2
              .form-group
                .col-xs-12.col-md-12.hidden-label
                    label(for="name")
                      .h5(style='opacity:0;filter:alpha(opacity=0);') hidden
                button.btn.btn-default#submitSendMcode(onclick='submitSendMcode()') 获取验证码
            .col-xs-12.col-md-1
              .form-group
                  .col-xs-12.col-md-12.hidden-label
                      label(for="name")
                        .h5(style='opacity:0;filter:alpha(opacity=0);') hidden
                  button.btn.btn-default.center-block#submitPhoneNumber(onclick='submitPhoneNumber()') 提交
            .col-xs-12.col-md-12
              h4
                a(href='/set/verify') 点我去身份认证
      .col-xs-12.col-md-12
        hr
        .h4(style='margin-top:2em;') 基本资料修改
        hr
        .rom(style='margin:1em 0;')
          .col-xs-12.col-md-6(style='padding: 0')
            .col-xs-12.col-md-12
              .h5 帖子签名
                span(style='color: #888; font-size: 1.2rem') &nbsp300字节限制
            .col-xs-12.col-md-10
              textarea#post_sign.form-control(style='resize: none;',placeholder='300字节限制',rows="10") #{user.postSign||''}
          .col-xs-12.col-md-6(style='padding: 0')
            .col-xs-12.col-md-12
              .h5 个人简介
                span(style='color: #888; font-size: 1.2rem') &nbsp300字节限制
            .col-xs-12.col-md-10
              textarea#description.form-control(style='resize: none;',placeholder='300字节限制',rows="10") #{user.description||''}
          .col-xs-12.col-md-6(style='padding: 0')
            br
            .col-xs-12.col-md-12
              .h5 页面背景颜色
            .col-xs-12.col-md-5
              .form-group
                input.form-control#color(type='text', placeholder='例如草木绿：#97b45a', name='colorCode', onclick='select()',value=`${user.color||""}`)
          .col-xs-12.col-md-6(style='padding: 0')
            br
            .col-xs-12.col-md-12
              .h5 关注的板块
                span(style='font-size:0.8em;')
            .col-xs-12.col-md-5
              .form-group
                input.form-control#focus_forums(type='text', placeholder='例如：81,373', name='colorCode', onclick='select()',value=`${user.subscribeForums||""}`)
            .col-xs-12.col-md-5
              button.btn.btn-default#changeFocusDiv(onclick='changeFocusDiv()') 板块id示例
                span.caret
          #focusDiv(style='display:none;')
            .col-xs-12.col-md-12(style='padding: 0')
              .col-xs-12.col-md-12
                .h4 板块id示例
                  span(style='color: #888; font-size: 1.2rem') &nbsp点击可自动输入
                -var forumlist = data.forumList;
                -for (var i = 0; i < forumlist.length; i++)
                  .col-xs-12.col-md-12(style='padding: 0')
                    ul.list-inline(style='padding:0;')
                      -if(forumlist[i].length != 0)
                        li(style='list-style:none;font-size:1.2em;padding-bottom:0.5em;') #{forumlist[i].displayName}
                        -if(forumlist[i].children)
                          -for (var j = 0; j < forumlist[i].children.length; j++)
                            li(style='list-style:none;padding-left:0.5em;')
                              a(href='###',onclick=`fillFocusId("${forumlist[i].children[j].fid}")`,style='color:#666;font-size:1em;') #{forumlist[i].children[j].fid + '：' + forumlist[i].children[j].displayName}
          .col-xs-12.col-md-12
            br
            br
            button.btn.btn-default.center-block#submitpersonalsetting(onclick='submitpersonalsetting()') 提交个人资料修改
            br
            br
          .container
            .row
              hr
              .col-xs-12.col-md-6
                -const education = data.personal.education || []
                table.table
                  caption 教育情况
                  thead
                    tr
                      th 学校
                      th 专业
                      th 学历
                      th 毕业时间
                      th 管理
                  tbody
                    for edu in education
                      tr
                        td #{edu.school}
                        td #{edu.major}
                        td #{edu.degree}
                        td #{new Date(edu.graduationDate).toLocaleDateString()}
                        td
                          button.btn.btn-sm.btn-default(type='button' onclick=`delEdu(${edu.id})`) 删除
                form(action='/me/education' method='POST')
                  .form-group
                    label(for='school') 学校
                    input.form-control#school(type='text' name='school' placeholder='学校名称')
                  .form-group
                    label(for='major') 专业
                    input.form-control#major(type='text' name='major' placeholder='专业名称')
                  .form-group
                    label(for='degree') 学历
                    input.form-control#degree(type='text' name='degree' placeholder='学历信息')
                  .form-group
                    label(for='graduationDate') 毕业时间
                    input#graduationDate.form-control(type='date' name='graduationDate')
                  div
                    button.btn.btn-default(type='submit') 增加
              .col-xs-12.col-md-6
                -const industries = data.personal.industries || []
                table.table
                  caption 职业资料
                  thead
                    th 行业
                    th 职务
                    th 组织
                    th 管理
                  tbody
                    for ind in industries
                      tr
                        td #{ind.industry}
                        td #{ind.duty}
                        td #{ind.organization}
                        td
                          button.btn.btn-sm.btn-default(type='button' onclick=`delInd(${ind.id})`) 删除
                form(action='/me/industries' method='POST')
                  .form-group
                    label(for='industry') 行业
                    input#industry.form-control(type='text' name='industry' placeholder='从事行业')
                  .form-group
                    label(for='duty') 职务
                    input#duty.form-control(type='text' name='duty' placeholder='具体职务')
                  .form-group
                    label(for='organization') 组织
                    input#organization.form-control(type='text' name='organization' placeholder='所属单位或公司')
                  div
                    button.btn.btn-default(type='submit') 增加
          .container
            .row
              hr
              .col-xs-12.col-md-6
                -const addresses = data.personal.addresses || []
                table.table
                  caption 地址信息
                  thead
                    th 支付宝
                    th 地址
                    th 管理
                  tbody
                    for addr in addresses
                      tr
                        td #{addr.alipay}
                        td #{addr.address}
                        td
                          button.btn.btn-sm.btn-default(type='button' onclick=`delAddr(${addr.id})`) 删除
                form(action='/me/addresses' method='POST')
                  .form-group
                    label(for='alipay') 支付宝
                    input#alipay.form-control(name='alipay' type='text' placeholder='支付宝帐号')
                  .form-group
                    label(for='address') 地址
                    input#address.form-control(name='address' type='text' placeholder='收货地址')
                  div
                    button.btn.btn-default(type='submit') 添加
          .container
            .row
              hr
              .col-xs-12.col-md-6
                -const personalInfo = data.personal.personalInfo
                form(action='/me/personal_info' method='POST')
                  .form-group
                    label(for='QQ') QQ
                    input#QQ.form-control(name='QQ' type='text' placeholder='QQ号码' value=`${personalInfo.QQ || ''}`)
                  .form-group
                    label(for='wechat') 微信
                    input#wechat.form-control(name='wechat' type='text' placeholder='微信' value=`${personalInfo.wechat || ''}`)
                  .form-group
                    label(for='birthday') 生日
                    input#birthday.form-control(type='date' name='birthday' value=`${personalInfo.birthday || ''}`)
                  div
                    button.btn.btn-default(type='submit') 保存
  include debug_output.pug
    
block scripts
  script(src='/interface_common.js')
  script(src='/interface_uploader_one.js')
  script.
    var interval_time = 59;
    var nationCode = '86';
    function changeFocusDiv() {
      if($('#focusDiv').css('display') == 'none'){
        $('#focusDiv').fadeIn();
        $('#changeFocusDiv').addClass('dropup');
      }else{
        $('#focusDiv').fadeOut();
        $('#changeFocusDiv').removeClass('dropup');
      }
    }
    //选择国际区号
    function chooseCountryNum(num){
      nationCode = parseInt(num);
    }
    //自动填充板块id
    function fillFocusId(num) {
      if($('#focus_forums').val() == ''){
        $('#focus_forums').val(num);
      }else{
        $('#focus_forums').val($('#focus_forums').val() + ',' + num);
        
      }
    }
    //头像上传
    function updateBnt(){
      $('#select-file').click();
    }
    //提交密码
    function submitnewpassword() {
      var passwordObj = {
        oldPassword:geid('oldpassword').value,
        newPassword:geid('newpassword').value,
        newPassword2:geid('newpassword2').value
      };
      if(passwordObj.oldPassword == ''){
        screenTopWarning('旧密码不能为空！');
        return;
      }
      if(passwordObj.newPassword == '' || passwordObj.newPassword2 == ''){
        screenTopWarning('新密码不能为空！');
        return;
      }
      if(passwordObj.newPassword != passwordObj.newPassword2){
        screenTopWarning('两次输入的密码不一致！请重新输入');
        return;
      }
      geid('submitnewpassword').disabled = true;
      nkcAPI('/me/password','PATCH',passwordObj)
      .then(function(){
        screenTopAlert('密码修改成功！');
        geid('oldpassword').value = '';
        geid('newpassword').value = '';
        geid('newpassword2').value = '';
        geid('submitnewpassword').disabled = false;
      })
      .catch(function(data){
        screenTopWarning(data.error);
        geid('submitnewpassword').disabled = false;
      })
    }
    //提交个人信息
    function submitpersonalsetting() {
      var settingObj = {
        post_sign:geid('post_sign').value,
        description:geid('description').value,
        color:geid('color').value,
        focus_forums:geid('focus_forums').value,
      };
      geid('submitpersonalsetting').disabled = true;
      nkcAPI('/me/settings','PATCH',settingObj)
      .then(function(){
        screenTopAlert('个人资料修改成功！');
        geid('submitpersonalsetting').disabled = false;
      })
      .catch(function(data){
        screenTopWarning(data.error);
        geid('submitpersonalsetting').disabled = false;
      })
    }
    //提交手机号码和验证码
    function submitPhoneNumber() {
      var mobileObj={
        mobile:geid('phoneNumber').value,
        code:geid('mCode').value,
        nationCode:nationCode
      };
      if(mobileObj.mobile == ''){
        screenTopWarning('手机号码不能为空！');
        return;
      }
      if(mobileObj.code == ''){
        screenTopWarning('手机短信验证码不能为空！');
        return;
      }
      geid('submitPhoneNumber').disabled = true;
      nkcAPI('/me/mobile', 'post',mobileObj)
      .then(function(){
        geid('submitPhoneNumber').disabled = false;
        geid('submitSendMcode').disabled = false;
        clearTimeout(stopTime);
        geid('submitSendMcode').innerHTML = '获取验证码';
        screenTopAlert('手机号码绑定成功！');
        window.location.reload();
        geid('phoneNumber').value = '';
        geid('mCode').value = '';
      })
      .catch(function(data){
        screenTopWarning(data.error);
        geid('submitPhoneNumber').disabled = false;
      })
    }
    //发送验证码
    function submitSendMcode() {
      var codeObj = {
        mobile:geid('phoneNumber').value,
        nationCode:nationCode
      };
      if(codeObj.mobile == ''){
        screenTopWarning('手机号码不能为空！');
        return;
      }
      geid('submitSendMcode').disabled = true;
      nkcAPI('/sendMessage/bindMobile', 'post',codeObj)
      .then(function(){
        screenTopAlert('短信验证码发送成功。');
        setTimeout(timeOut_60,1000);
      })
      .catch(function(data){
        screenTopWarning(data.error);
        geid('submitSendMcode').disabled = false;
      })
    }
    //定时60
    function timeOut_60() {
      interval_time--;
      if(interval_time > 0) {
        geid('submitSendMcode').innerHTML = '重新发送 ' + interval_time;
        stopTime = setTimeout(timeOut_60,1000);
        return;
      }
      geid('submitSendMcode').innerHTML = '获取验证码';
      interval_time = 59;
      geid('submitSendMcode').disabled = false;
    }
    function delEdu(id) {
      nkcAPI('/me/education/' + id, 'DELETE')
        .then(function () {
          window.location.reload()
        })
        .catch(function (e) {
          screenTopWarning(e.message)
        })
    }
    function delAddr(id) {
      nkcAPI('/me/addresses/' + id, 'DELETE')
        .then(function () {
          window.location.reload()
        })
        .catch(function (e) {
          screenTopWarning(e.message)
        })
    }
    function delInd(id) {
      nkcAPI('/me/industries/' + id, 'DELETE')
        .then(function () {
          window.location.reload()
        })
        .catch(function (e) {
          screenTopWarning(e.message)
        })
    }

  script.
    function upload_success(){
      location.reload();
    }
      
      
