extends bootstrap_base
block title

  -const fund = data.fund.toObject();
  -const {applicationForm, s} = data;
  -const mainContainer1400 = true
  -const {idCard, lifePhotos, idCardPhotos, handheldIdCardPhoto} = fund.applicant;
  -const {status, members, applicant, project, budgetMoney, projectCycle} = applicationForm;
  -const {chooseType, inputApplicantMessages, inputProjectMessages, ensureUsersMessages, inputProjectContent, submit} = status;
  title= `${fund.name}申请表`
  link(rel='stylesheet' href='/fund.css')
  style.


block content
  #applicationFormId(style='display: none')= applicationForm._id
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-body
            .nav-link.center-block
              ul
                -const arr = [{en: 'chooseType', ch: '第1步、选择申请方式'},{en: 'inputApplicantMessages', ch: '第2步、填写身份信息'},{en: 'ensureUsersMessages', ch: '第3步、人员确认'},{en: 'inputProjectContent', ch: '第4步、填写项目内容'},{en: 'inputProjectMessages', ch: '第5步、填写项目其他信息'},{en: 'submit', ch: '第6步、提交申请'}];
                -for (let i = 0; i < arr.length; i++)
                  if i === 0
                    li
                      a(href=`/fund/a/${applicationForm._id}/settings?s=${i+1}` class='active')= arr[i].ch
                  else if status[arr[i-1].en]
                    li
                      a(href=`/fund/a/${applicationForm._id}/settings?s=${i+1}` class='active')= arr[i].ch
                  else
                    li
                      a.disabled= arr[i].ch
            hr
            .fund-apply-head= arr[s-1].ch
            if s === 1
              .row(style='padding: 3rem 0;')
                .col-xs-6.col-md-2.col-md-offset-4
                  .choose-content-div#personal(class=applicationForm.members.length === 0? 'active': '') 个人申请
                .col-xs-6.col-md-2
                  .choose-content-div#team(class=applicationForm.members.length !== 0? 'active': '') 团队申请
              .row#teamDiv
                .col-xs-12.col-md-4.col-md-offset-4
                  .row
                    .col-xs-12.col-md-12
                      #selectedUsersDiv
                        if applicationForm.members.length === 0
                          h4 暂未添加组员
                        else
                          h4 已选择组员：
                          -for(let user of applicationForm.members)
                            span.fund-span.selectedUser.selected(uid=user.uid onclick=`deleteUser(${user.uid})`)= user.user.username
                              span.fund-span.delete.glyphicon.glyphicon-remove
                      hr
                      h4(style='margin-bottom: 0.5rem;') 添加组员:
                      .form
                        input.fund-input#username(style='width: 78%;' type='text' placeholder='输入用户名或uid')
                        input.fund-submit(onclick='getUser()' type='submit' value='搜索')
                      span.fund-span.transparent(onclick=`getSubscribeUsers('${user.uid}')`) 我的关注
                      span.fund-span.transparent(onclick=`getSubscribers('${user.uid}')`) 我的粉丝
                  .row
                    .col-xs-12.col-md-12
                      #usersList
                        .blank 暂无数据
              hr
              .back-next
                .apply-next(onclick=`submit(${applicationForm._id})`) 保存并下一步
            else if s === 2 && chooseType !== null
              -const options = {name: applicant.name, idCardNumber: applicant.idCardNumber, description: applicant.description, mobile: applicant.mobile, members: false, account: applicationForm.account};
              include interface_fund_userMessagesForm
              hr
              .back-next
                .apply-next(onclick=`submitUserMessages(${applicationForm._id})`) 保存并下一步
            else if s === 3 && inputApplicantMessages !== null
              -const agreeIsFalse = [], agreeIsTrue = [], agreeIsNull = [];
              -for(let u of members)
                if u.agree === null
                  -agreeIsNull.push(u);
                else if u.agree === true
                  -agreeIsTrue.push(u);
                else
                  -agreeIsFalse.push(u);
              -let self = false;
              -const nullLength = agreeIsNull.length, trueLength = agreeIsTrue.length, falseLength = agreeIsFalse.length;
              if falseLength === 0 && nullLength === 0 && trueLength === 0
                -self = true;
              .row
                .col-xs-12.col-md-4.col-md-offset-4
                  if self
                    br
                    h4 个人申请：
                    #usersList
                      span.fund-span=user.username
                  else
                    br
                    h4 未处理的用户：
                    #usersList
                      if nullLength === 0
                        .blank 暂无数据
                      else
                        -for(let u of agreeIsNull)
                          span.fund-span.transparent= u.user.username
                    br
                    h4 已同意的用户：
                    #usersList
                      if trueLength === 0
                        .blank 暂无数据
                      else
                        -for(let u of agreeIsTrue)
                          span.fund-span= u.user.username
                    br
                    h4 已拒绝的用户：
                    #usersList
                      if falseLength === 0
                        .blank 暂无数据
                      else
                        -for(let u of agreeIsFalse)
                          span.fund-span.disabled= u.user.username
                    if !self
                      if nullLength !== 0
                        span(style='color: red;') 等待用户确认中，若要关闭页面请点击保存按钮
                      else
                        if trueLength === 0
                          span(style='color: red;') 团队申请必须要有组员，请返回第一步添加组员或更改申请方式
                        else
                          if falseLength !== 0
                            span(style='color: red;') 点击下一步将只保留已同意的用户，若要重新添加用户请点击第1步
              hr
              if self
                .back-next
                  .apply-next(onclick=`submitEnsureUsersMessages(${applicationForm._id})`) 保存并下一步
              else
                if nullLength !== 0
                  .back-next
                    .apply-next(onclick=`submitEnsureUsersMessages()`) 保存
                else
                  if trueLength === 0
                    .back-next
                      .apply-next(onclick=`window.location.href="/fund/a/${applicationForm._id}/settings?s=1"`) 返回第1步
                  else
                    .back-next
                      .apply-next(onclick=`submitEnsureUsersMessages(${applicationForm._id})`) 保存并下一步
            else if s === 4 && ensureUsersMessages !== null
              .row
                .col-xs-12.col-md-6.col-md-offset-3
                  br
                  h4 项目名称
                  -let title = '', content = '';
                  if project
                    -title = project.t;
                    -content = project.c;
                  input#projectTitle.fund-input(style='font-size: 1.8rem;' value=title autofocus=true)
                  h4 项目内容
                  #projectContent.div-textarea(style='min-height: 30rem;' contenteditable=true)= content
                  span.fund-span.transparent(onclick=`saveProject(${applicationForm._id})` style='margin-left: 0;') 保存
                  span.fund-span.transparent(onclick=`toEditor(${applicationForm._id})`) 去强大的编辑器
                  span &nbsp;&nbsp;
                  span.autoSaveTime#saveTime 0秒
                  span.autoSaveTime 后自动保存



              hr
              .back-next
                .apply-next(onclick=`submitProject(${applicationForm._id})`) 下一步
            else if s === 5 && inputProjectContent !== null
              .row
                .col-xs-12.col-md-6.col-md-offset-3
                  br
                  h4 研究周期
                    small （天）
                  input.fund-input#projectCycle(value=projectCycle[0] !== null? projectCycle[0]: '' key=projectCycle.join(','))
                  h4 资金用途
                  if fund.money.fixed !== null
                    span 常用：
                    span.fund-span 购买电子元器件
                    span.fund-span 印电路板
                    textarea.fund-textarea(style='height: 20rem;')
                  else
                    #budgetMoney
                      -let aggregate = 0;
                      .fund-money-list.head
                        .purpose 用途
                        .count 数量
                        .money 单价(元)
                        .total 合计(元)
                      .list
                        if budgetMoney.length === 0
                          .blank(style="color: #ccc;line-height: 4rem;") 暂无数据
                        else
                          -for (let i = 0; i < budgetMoney.length; i++)
                            -let total = (budgetMoney[i].count*budgetMoney[i].money);
                            -aggregate += total;
                            .fund-money-list(num= i)
                              .purpose(contenteditable=true num= i)= budgetMoney[i].purpose
                              .count(contenteditable=true num= i)= budgetMoney[i].count
                              .money(contenteditable=true num= i)= budgetMoney[i].money
                              .total= total
                              .delete.glyphicon.glyphicon-remove.disabled(onclick=`deleteList(${i})`)
                      #aggregate(style='margin-left: 0.5rem;')=budgetMoney.length !== 0? `总计：${aggregate}元`: ''
                    .button
                      span.fund-span.transparent(style='margin-left: 0;' onclick='addList()') 添加
                      span.fund-span.transparent(onclick='editor()') 编辑
                      span.fund-span.transparent(onclick=`saveBudgetMoney(${applicationForm._id})`) 保存








block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_common.js')
  script(src='/interface_fund_apply.js')