// 若是组员需传入参数 members: true;
// options = {
//   name: String,
//   idCardNumber: String,
//   members: Boolean,
//   account: {
//     paymentMethod: String,
//     number: String
//   },
//   description: String
// }
.row(style='padding: 0.5rem 0;')
  .col-xs-12.col-md-4.col-md-offset-4
    .row(style='padding: 3rem 0;')
      .col-xs-12.col-md-12
        span 真实姓名：
        input.fund-input#name(placeholder='请输入您的真实姓名' autofocus='true' value=options.name || '')
      .col-xs-12.col-md-12
        span 身份证号：
        input.fund-input#idCardNumber(placeholder='请输入您的身份证号码' value=options.idCardNumber || '')
      .col-xs-12.col-md-12
        span 联系电话：
        input.fund-input#mobile(placeholder='请输入您的电话号码' value=options.mobile || '')
      if !options.members
        .col-xs-12.col-md-12
          span 收款方式：
          .paymenMethods
            div &nbsp;
            div 微信
              .pay.wechat(class=options.account.paymentMethod === 'wechat'? 'active': '')
            div 支付宝
              .pay.alipay(class=options.account.paymentMethod === 'alipay'? 'active': '')
        .col-xs-12.col-md-12
          span 收款账号：
          input.fund-input#account(placeholder='请输入收款账号' value=options.account.number || '')
      .col-xs-12.col-md-12
        span 自我介绍：
        p.fund-description 1、简要的介绍自己，重点是科技爱好活动的经历。如果您是学生，建议（不是必须）说明您的年级、专业。
        p.fund-description 2、概述您的科技活动，让网友能够增长这方面的知识，并了解来龙去脉。
        textarea.fund-textarea#description(placeholder='介绍一下自己')!= options.description || ''