extends bootstrap_base
block title
  -const mainContainer1400 = true
  -const applicationForm = data.applicationForm;
  -const {remittance, project, code, submittedReport, reportNeedThreads, applicant, status} = applicationForm;
  -const fund = applicationForm.fund;
  title= `申请拨款-${applicationForm.project.t}`
  link(rel='stylesheet' href='/fund.css')
block content
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-6
        -let needRemittance = false;
        -let number;
        -for(let i = 0; i < remittance.length; i++)
          -const r = remittance[i];
          if i === 0 && !r.status
            -break;
          if !r.status && i !== 0
            -needRemittance = true;
            -number = i;
            -break;
        if needRemittance
          .col-xs-12.col-md-12
            .panel.panel-default
              .panel-body
                h3.text-center=`申请第${number + 1}期拨款`

                if remittance[number].passed === true
                  h4.greenFontColor 已通过审核，等待打款。
                else if submittedReport && remittance[number].passed === null
                  h3.greenFontColor.text-center 已提交申请，请等待管理员复核。
                else if submittedReport === false
                  if remittance[number].passed === false
                    h4.redFontColor 审核不通过
                    h4.redFontColor=`原因：${data.reportAudit.c}`
                    h4 请重新提交阶段性报告。
                    hr
                  h4 提交阶段性报告
                  span.redFontColor *提交的内容将会在最新进展中展示
                  textarea.form-control#reportContent(rows=10 placeholder='项目的进展情况')
                  if remittance[0].needThreads
                    br
                    span.redFontColor *管理员要求提交拨款申请必须要附带代表中期报告的帖子
                  h5 已选择帖子的文号：
                  #selectedThread
                    span 暂未选择
                  br
                  .form
                    input.fund-input#searchThread(style='width: 78%;' type='text' placeholder='组员用户名，文号' )
                    input.fund-submit(onclick=`getThreads()` type='submit' value='搜索')
                  span.fund-span.transparent(style='margin-left: 0' onclick=`getThreads(0, true)`) 我的帖子
                  span.fund-span.transparent(style='margin-left: 0' onclick=`clearLog()`) 清空搜索
                  .unselectedThreads
                    .blank(style='color: #aaa;') 暂无数据
                  nav(aria-label='navigation')
                    ul.pagination.pagination-sm.pageList
                  button.btn.btn-default(style='float: right;' onclick=`submitReport(${applicationForm._id})`) 提交
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-body
            h3.text-center= `拨款详情`
            table.table
              thead
                tr
                  th #
                  th 金额
                  th 状态
              tbody
                -for(let i = 0; i < remittance.length; i++)
                  -const r = remittance[i];
                  tr
                    th= `第${i + 1}期`
                    th= `${r.money}元`
                    if r.status
                      th.greenFontColor= `已拨款`
                    else
                      th= `未拨款`
block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_apply_remittance.js')