extends bootstrap_base
block title

  -const fund = data.fund;
  -const photos = data.photos;
  -const {applicationForm} = data;
  -const notAllow = data.notAllow;
  -const mainContainer1400 = true
  title= `科创基金-${fund.name}-条款`
  link(rel='stylesheet' href='/fund.css')

block content
  .container-fluid(style='max-width: 1400px;')
    include interface_fund_nav
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-body
            include interfece_fund_terms
            br
            br
            .row
              .col-xs-12.col-md-12
                label.radio-inline
                  input(type='radio' name='kcFund' checked=false)
                  h5 同意
                label.radio-inline
                  input(type='radio' name='kcFund' checked=true)
                  h5 不同意
            br
            hr
            br
            h2.text-center= `${fund.name}条款`
            div!= markdown_safe(fund.description.terms)
            br
            br
            .row
              .col-xs-12.col-md-12
                label.radio-inline
                  input(type='radio' name='fund' checked=false)
                  h5 同意
                label.radio-inline
                  input(type='radio' name='fund' checked=true)
                  h5 不同意
            br
            hr
            br
            .row
              .col-xs-12.col-md-2.col-md-offset-5
                button.btn.btn-info.btn-block.disabled#submit(onclick=`submit("${fund._id.toLowerCase()}")`) 提交
            //.back-next
            //  .back
            //    a(href=`/fund/list/${fund._id}/add?agree=true`) 同意
            //  .next.disagree
            //    a(href=`/fund/list/${fund._id}`) 不同意


block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_agreement.js')