- var threadlist = threadlist
  .col-md-6.col-sm-6.col-xs-12(style='padding-right: 5px;padding-left: 5px; margin-top: 10px; font-size: 15px;')
    H4 #{listtitle}
    each thread,index in threadlist
      
      .HomeLatestThreadItem
        .HLToc            
          .HLMtext

            if threadlist == data.latestThreads
              //.HLMstat #{fromNowAbbr(thread.tlm)}
              .HLMstat.HLTstat #{thread.count}
              
            if threadlist == data.newestDigestThreads
              //.HLMstat #{fromNowAbbr(thread.toc)}
              .HLMstat.HLTstat #{thread.count}
              
            if threadlist == data.newestThreads
              //.HLMstat #{fromNowAbbr(thread.toc)}
              .HLMstat.HLTstat #{thread.count}
            
            
            if thread.forum && thread.forum.abbr
              span.HLTtitletext
                a(href='f/#{thread.forum._key}' style='color: #969696;') &nbsp;#{thread.forum.abbr}&nbsp;
              
            - var titletext = thread.oc.t
            if thread.digest
              a.HLTtitletext.HomeThreadTextDigest(href='/t/#{thread._key}') #{titletext}
            else
              a.HLTtitletext(href='/t/#{thread._key}') #{titletext}
              
          - var u = thread.ocuser
          a.HUsernameRightAlign.lighttext(href='/m/#{u._key}') #{u.username}