extends bootstrap_base.pug

block title
  title #{data.forum.displayName} - #{data.site.name}
  
  -var forum  = data.forum
  -var mainContainer1400 = true
  if forum.description
    -var processed=forum.description.replace(/\[.*?]|\#|\n|\<.*?>/gm,'').trim().slice(0,140)
  else
    -var processed = forum.displayName
    
  meta(name='description' content=`${processed}`)
  meta(name='keywords' content=`${forum.displayName}`)
  
  //- meta(property='og:image' content='http://www.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  //- meta(property='og:title' content=`${forum.displayName}`)
  //- meta(property='og:site_name' content='科创论坛')
  //- meta(property='og:description' content=`${processed}`)
  
  if data.threads.length>0
    meta(property='article:modified_time' content=`${(new Date(data.threads[0].toc)).toISOString()}`)
  
  style.
    .marginless {
      margin-top:7px;
      margin-bottom:7px;
      margin-right:15px;
    }

block content   
  // -var isModerator = data.userLevel >= 4
  -var forumIsParent = data.forum.type&&data.forum.type=='category'
  -var hasChildren = data.forum.type&&data.forum.type=='category'&&data.forums&&data.forums.length
  
  if (data.user == undefined && data.forum.type == undefined)
    h2(style="margin-left:8%;") 请先登录后查看，谢谢~
  else
    .container-fluid(style='max-width:1400px;')
      .row

        .col-md-9
        
          .panel
            include module_forum_breadcrumb
            include module_forum_single
            .row
              for forum in data.childrenForums
                .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-1
                  include module_children_forum_single
            hr
            .panel
              .row
                .col-xs-12
                  .form(style='margin-top:0px;margin-bottom:0.5rem;')
                    a.btn.btn-primary(href=`/editor?&type=forum&id=${forum.fid}${data.cat? '&cid=' + data.cat: ''}`) 发表文章
                    if data.userLevel > 4 || (data.userLevel === 4 && data.forum.moderators.includes(data.user.uid))
                      button.btn.btn-primary(onclick='enterManagementMode()') 管理
                  .ForumManagement(style='display:none;margin-top:12px;margin-bottom:12px')

                    .form-inline(style='margin-top:10px')

                      .form-group
                        button.btn.btn-sm.btn-default(onclick='selectbtn()') 全选/不选

                      .form-group.form-group-sm
                        include forumlist_dropdown.pug
                        button.btn.btn-default.btn-sm#moveThreadTo(onclick="moveThreads()") 移动

                      .form-group
                        button#recyclebtn.btn.btn-sm.btn-danger(style='margin-left:20px;margin-right:20px;' onclick='moveThreadToRecycle()') 送回收站


                .col-xs-12
                  nav
                    include interface_navigation_paging.pug
                    - var paging = data.paging
                    - var digest = data.digest
                    - var class_str_all = digest?'':'active'
                    - var class_str_digest = digest?'active':''

                    - var cat = data.cat
                    - var sortby = data.sortby
                    - var class_str_sortby_toc = sortby?'active':''
                    - var class_str_sortby_tlm = sortby?'':'active'

                    ul.pagination.NavigationPaging
                      - var page = paging?paging.page:null
                      li(class=`${class_str_all}`)
                        a(href=`${toQueryString({cat})}`) 俱

                      li(class=`${class_str_digest}`)
                        a(href=`${toQueryString({cat, digest: true})}`) 精

                    ul.pagination.NavigationPaging
                      li(class=`${class_str_sortby_tlm}`)
                        a(href=`${toQueryString({cat, digest})}`) 复序
                      li(class=`${class_str_sortby_toc}`)
                        a(href=`${toQueryString({cat, digest, sortby: "toc"})}`) 帖序


                  hr.hrNarrowSpace
              if data.toppedThreads && data.toppedThreads.length > 0 && !data.cat
                .ForumThreadList
                  each thread,index in data.toppedThreads
                    include interface_forum_singlethread.pug
                //hr.hrNarrowSpace
                .ForumToppedSplitter - 以上是置顶 -

              .ForumThreadList
                each thread,index in data.threads
                  if data.toppedThreads && (data.toppedThreads.map(item => item.tid).indexOf(thread.tid) >= 0)
                    //exclude threads that are shown in topped area.
                  else
                    include interface_forum_singlethread.pug

              .row
                .col-md-12
                  nav
                    include interface_navigation_paging.pug

                  if data.replyTarget && !hasChildren
                    a.btn.btn-default(style="margin-top:13px" href=`/editor?type=forum&id=${forum.fid}`) 发表新帖


                
        .col-md-3.hidden-xs.hidden-sm
          .nkcpanel
            include forum_logo_wisdom.pug
          -var user = data.user
          if user
            include interface_thread_userpatch.pug
          //if hasChildren
          //  for forum in data.forums
          //    .nkcpanel
          //      -var f = forum
          //      -var type = 'f'
          //      include interface_forumprofile2.pug
          //      hr.hrNarrowSpace
          //      -var moderators = f.moderatorUsers || []
          //        span 版主:
          //      for moderator in moderators
          //        a(href=`/u/${moderator.uid}`)= moderator.username
          //        span &nbsp;&nbsp;
          if data.user
            .nkcpanel
              a(href=`/m/${data.user.uid}`) 我的主题
              br
              br
              for thread in data.userThreads
                include interface_users_latest_threads

          .nkcpanel
            ul.HomeFriendlyLink
              include nkc_footer_links.pug

          .nkcpanel2#topB(style='margin-left: -25px; position: fixed; top: 50%; display: block;')
            button(class="glyphicon glyphicon-chevron-up btn btn-sm btn-default" style="margin-bottom:10px; padding: 10px 3px;" onclick="javascript:window.scrollTo(0,0);")
            br
            button(class="glyphicon glyphicon-chevron-down btn btn-sm btn-default" onclick="location.href='#bm'" style="padding: 10px 3px;")


          if !forumIsParent
            //include interface_forums_list.pug
            
    include debug_output.pug

block scripts
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/module_dropdown.js?v=${global.NKC.startTime}`)
  //script(src='/interface_collections.js')
  script(src=`/interface_forum.js?v=${global.NKC.startTime}`)
  //script(src='/gallery.js')


  //if isModerator&&!forumIsParent
  //  script.
  //    enterManagementMode()
