extends bootstrap_base.pug

block title
  title 搜索结果 - 科创论坛
  
block content  
  
  - let {type, q = '', _page = 0, result} = data


    .container
      .row
        .col-xs-12
          .form-inline(style='margin-bottom: 0.5rem;')
            .form-group(style='margin-bottom: 0;display: inline-block;')
              form(action=`/search`)
                if data.type
                  input.hidden(value=data.type name='type')
                input#stringToSearch.form-control(type='text' name='q' value=`${q}` style='display: inline-block;')
                input.btn.btn-primary(type='submit' style='display: inline-block;' value='搜索')
          ul(class="nav nav-tabs")
            li(class=`${type === 'content'? 'active': ''}`)
              a(href=`/search?&q=${encodeURI(q)}&type=content&page=${_page}`) 内容
            li(class=`${type === 'user'? 'active': ''}`)
              a(href=`/search?&q=${encodeURI(q)}&type=user&page=${_page}`) 用户
          if(type === 'content')
            for post in result
              if(post)
                .ForumThreadList
                  include interface_search_post

          else if(type === 'user')
            for user in result
              if(user)
                include interface_thread_userpatch
          -q = encodeURI(q);
          include interface_navigation_paging
          br


    include debug_output.pug


block scripts
  script(src='/interface_common.js')
  script.
    (function(){
      function getss(){
        var ss = geid('stringToSearch').value.trim()
        if(ss.length<2){throw 'too short'}
        else
        {return ss}
      }
      // geid('nextPageResult').addEventListener('click',function(){
      //   window.location.href = '/api/operation?operation=viewLocalSearch'
      //   +'&start=#{data.start+data.count}&count=#{data.count}&searchstring='+getss()
      // })
      geid('research').addEventListener('click',function(){
        var q = getss()
        window.location.href = '/search?&q=' + q
      })
      geid('SearchBox').value = getss();

      function onkeypress(){
        e = event ? event :(window.event ? window.event : null);
        if(e.keyCode===13||e.which===13){
          geid('research').click()
        }
      }
      geid('stringToSearch').addEventListener('keypress', onkeypress);
    })()

  script.
    $(document).ready(function(){
      $("#SearchUsersBtn").click(function(){
        var ss = $('#stringToSearch').val().trim();
        window.location.href = '/api/operation?operation=viewLocalSearch'
          +'&users_start=#{data.users_start+data.users_count}&users_count=#{data.users_count}&searchstring='+ss
      });

    })

  //script.
    nkcAPI('localSearch')
    .then(function(a){
      console.log(a)
    })

