extends bootstrap_base.pug

block title
  title=`${data.post.t || data.post.pid} - 科创论坛`
  
block content
  
  .container
    .row
      .col-xs-12
        -var post = data.post
        .panel.panel-default
          .panel-heading
            .f16 #{post.t}
                
            .lighttext
              span= data.post.toc.toLocaleString()
              span &nbsp;
              span by&nbsp;
              a(href=`/m/${post.uid}`) #{post.user.username}
              span &nbsp;
              a(href=`/t/${post.tid}#${post.pid}`) 原文
          .panel-body
            div.ThreadPostBody!= experimental_render(post)
      
    
  
  include debug_output.pug
block scripts
  
  script(src='/interface_common.js')
