extends bootstrap_base
block title
  title 基本资料设置
  -const mainContainer1400 = true
  link(rel='stylesheet' href='/jquery/jquery.minicolors.css')

block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            span 基本资料设置（完全公开）
          .panel-body
            .form-horizontal

              .form-group
                label.col-sm-2.control-label 用户名：
                .col-sm-5
                  h4= data.user.username
                    span &nbsp;&nbsp;
                    button.btn.btn-primary.btn-sm(onclick='changeUsername()') 修改
                  #usernameInput(style='display: none;')
                    .form
                      .col-xs-12.col-md-12
                        if !data.modifyUsernameOperation.kcb.status
                          .form-group
                            input.form-control#username(placeholder='请输入新的用户名')
                          .form-group
                            button.btn.btn-primary(onclick=`saveNewUsername("${data.user.uid}")`) 保存
                        else
                          if data.user.kcb < -1*data.modifyUsernameOperation.kcb.change
                            .form-group
                              span.text-danger=`修改一次用户名将花费${-1*data.modifyUsernameOperation.kcb.change}个科创币，您当前的科创币不足。`
                          else
                            .form-group
                              span.text-danger=`*修改一次用户名将花费${-1*data.modifyUsernameOperation.kcb.change}个科创币`
                              input.form-control#username(placeholder='请输入新的用户名')
                            .form-group
                              button.btn.btn-primary(onclick=`saveNewUsername("${data.user.uid}")`) 保存

              .form-group
                label.col-sm-2.control-label 个人简介：
                .col-sm-5
                  textarea.form-control#description(rows=8 placeholder='请输入个人简介')= data.user.description

              .form-group
                label.col-sm-2.control-label 文章签名：
                .col-sm-5
                  textarea.form-control#postSign(rows=8 placeholder='请输入文章签名')= data.user.postSign

              .form-group
                label.col-sm-2.control-label 文章背景颜色：
                .col-sm-5
                  input.form-control#color(type='text' placeholder='默认：#e4e4e4' value=data.user.color || '' data-control='hue')

              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(onclick=`submit(${data.user.uid})`) 保存
block scripts
  script(src='/jquery/jquery.minicolors.js')
  script(src='/interface_common.js')
  script(src='/interface_user_settings_info.js')
