.row
  .col-xs-12.col-sm-6
    .UserProfileSection1
      include interface_profile_avatar.jade
      -var user = thatuser
      -var uid = thatuser._key
      div(style='display:inline-block;margin-top:8px;')
        //.ForumTitleCircle(style='background-color:#{user.color||"#bbb"}')
        .ForumName #{user.username}&nbsp;&nbsp;&nbsp;
          if(user._key != data.user._key)
            if(data.user.subscribeUsers.indexOf(user._key) > -1)
              a.btn.btn-sm.btn-danger(href='javascript:;' onclick='subscribeUserSwitch("#{uid}")')#subscribeButton 取关
            else
              a.btn.btn-sm.btn-info(href='javascript:;' onclick='subscribeUserSwitch("#{uid}")')#subscribeButton 关注
    include interface_profile_info_section2.jade
          
  .col-xs-12.col-sm-6
    .UserProfileSection1(style='text-align:left')
      h4 个人简介
      //hr
      if user.description && user.description.length>0
        
        div!=markdown_safe(user.description)
        hr
      
      h4 帖子签名
      //hr
      if user.post_sign && user.post_sign.length>0
        
        div!=markdown_safe(user.post_sign)
