extends bootstrap_base
block title
  title 简历设置
  -const mainContainer1400 = true
  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/bootstrap/css/bootstrap-chinese-region.min.css' media="screen" rel='stylesheet')
  mixin displaySelect(k)
    select.form-control(id=`${k}Select`)
      option(selected=(data.privacy[k]===0) data=0) 完全保密
      option(selected=(data.privacy[k]===1) data=1) 对我信任的人显示
      option(selected=(data.privacy[k]===2) data=2) 对学者显示
      option(selected=(data.privacy[k]===3) data=3) 对已登录用户显示
      option(selected=(data.privacy[k]===4) data=4) 完全公开
block content
  .container-fluid.max-width
    .row

      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-default
          .panel-heading
            span 基本信息
          .panel-body
            #data.hidden= JSON.stringify({accounts: data.accounts, education: data.education, industries: data.industries, forumsObj: data.forumsObj})
            .form-horizontal

              .form-group
                label.col-sm-2.control-label 真实姓名：
                .col-sm-5
                  input.form-control#name(placeholder='真实姓名' value=data.personalInfo.name)
                .col-sm-2
                  +displaySelect('name')

              .form-group
                label.col-sm-2.control-label 生物学性别：
                .col-sm-5
                  label.radio-inline
                    input(type='radio' name='gender' checked=data.personalInfo.gender === 'men')
                    span 男
                  label.radio-inline
                    input(type='radio' name='gender' checked=data.personalInfo.gender === 'women')
                    span 女
                .col-sm-2
                  +displaySelect('gender')

              .form-group
                label.col-sm-2.control-label 出生日期：
                .col-sm-5
                  input.form-control.time#birthDate(readonly size="16" type="text" value=data.personalInfo.birthDate?data.personalInfo.birthDate.toLocaleDateString():'')
                .col-sm-2
                  +displaySelect('birthDate')

              .form-group
                label.col-sm-2.control-label 所在地区：
                .col-sm-5
                  .bs-chinese-region.flat.dropdown(data-submit-type="id", data-min-level="0", data-max-level="4")
                    input#location.form-control(type="text", name="address", placeholder="选择你的地区", data-toggle="dropdown", readonly="", data=data.personalInfo.location)
                    .dropdown-menu(role="menu", aria-labelledby="dLabel")
                      div
                        ul.nav.nav-tabs(role="tablist")
                          li#countryLi.active(role="presentation")
                            a(href="#country", data-next="province", role="tab", data-toggle="tab") 国家
                          li(role="presentation")
                            a(href="#province", data-next="city", role="tab", data-toggle="tab") 省份
                          li(role="presentation")
                            a(href="#city", data-next="district", role="tab", data-toggle="tab") 城市
                          li(role="presentation")
                            a(href="#district", data-next="street", role="tab", data-toggle="tab") 县区
                        .tab-content
                          #country.tab-pane.active(role="tabpanel") --
                          #province.tab-pane(role="tabpanel") --
                          #city.tab-pane(role="tabpanel") --
                          #district.tab-pane(role="tabpanel") --
                .col-sm-2
                  +displaySelect('location')
              .form-group
                label.col-sm-2.control-label 详细地址：
                .col-sm-5
                  input.form-control#address(placeholder='详细地址' value=data.personalInfo.address)
                .col-sm-2
                  +displaySelect('address')
        .panel.panel-default
          .panel-heading
            span 我的照片
          .panel-body
            input.hidden#life(type='file' multiple="multiple" accept='image/*')
            .form-inline
              +displaySelect('lifePhoto')
              button.btn.btn-primary(onclick=`submitPhoto(${data.user.uid})`) 保存
            .row
              for photo in data.lifePhotos
                .col-xs-6.col-sm-3.col-md-3(style='margin-top: 1.5rem;')
                  .settings-img-remove.glyphicon.glyphicon-remove(onclick=`removePhoto(${photo._id})`)
                  a(href=`/photo/${photo._id}` target='_blank')
                    img(src=`/photo_small/${photo._id}` style='width: 100%;')
            .form-inline(style='margin-top: 0.5rem;')
              h5.text-danger 照片大小不超过20M，并且只能为.jpg、.jpeg、.png格式。
              button.btn.btn-primary(onclick='$("#life").click();') 上传照片
              span &nbsp;&nbsp;
              span#photoInfo
        .panel.panel-default
          .panel-heading
            span 我的证件
          .panel-body
            input.hidden#cert(multiple='multiple' type='file' accept='image/*')
            .form-inline
              +displaySelect('certPhoto')
              button.btn.btn-primary(onclick=`submitCert(${data.user.uid})`) 保存
            .row
              for photo in data.certsPhotos
                .col-xs-6.col-sm-3.col-md-3(style='margin-top: 1.5rem;')
                  .settings-img-remove.glyphicon.glyphicon-remove(onclick=`removePhoto(${photo._id})`)
                  a(href=`/photo/${photo._id}` target='_blank')
                    img(src=`/photo_small/${photo._id}` style='width: 100%;')
            .form-inline(style='margin-top: 0.5rem;')
              h5.text-danger 照片大小不超过20M，并且只能为.jpg、.jpeg、.png格式。
              button.btn.btn-primary(onclick='$("#cert").click();') 上传证件照片
              span &nbsp;&nbsp;
              span#certPhotoInfo
        .panel.panel-default
          .panel-heading
            span 社交账号
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 微信：
                .col-sm-4
                  input.form-control#wechat(type='text' placeholder='请输入微信账号')
              .form-group
                label.col-sm-2.control-label QQ：
                .col-sm-4
                  input.form-control#QQ(type='text' placeholder='请输入QQ账号')
              .form-group
                label.col-sm-2.control-label Google：
                .col-sm-4
                  input.form-control#google(type='text' placeholder='请输入Google账号')
              .form-group
                label.col-sm-2.control-label 其他：
                .col-sm-10
                  .row#account-div
                  button.btn.btn-primary(onclick='addAccount()') 添加
              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(onclick=`submitSocial(${data.user.uid})`) 保存

        .panel.panel-default
          .panel-heading
            span 简历
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 教育背景：
                .col-sm-10(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-3
                      +displaySelect('education')
                .col-sm-10.col-sm-offset-2
                  #education-div
                  button.btn.btn-primary(onclick='addEdu();') 添加


              .form-group
                label.col-sm-2.control-label 职业信息 ：
                .col-sm-10(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-3
                      +displaySelect('industry')
                .col-sm-10.col-sm-offset-2
                  #industries-div
                  button.btn.btn-primary(onclick='addInd();') 添加



              .form-group
                label.col-sm-2.control-label
                .col-sm-5
                  button.btn.btn-primary#save(onclick=`submit(${data.user.uid})`) 保存

block scripts
  script(src="/bootstrap/js/bootstrap-datetimepicker.min.js" charset="UTF-8")
  script(src="/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8")
  script(src='/bootstrap/js/bootstrap-chinese-region.min.js' charset="UTF-8")
  script(src="/interface_user_settings_resume.js" charset="UTF-8")