extends bootstrap_base
block title
  title=`草稿箱`
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-9
        .paging-button 
          a.button(style="cursor:pointer" onclick=`removedraft("${data.user.uid}","all")`) 舍弃全部草稿
      .col-xs-12.col-md-9#draftList
        if(data.drafts.length === 0)
          br
          br
          br
          br
          h4.text-center(style='color: #aaaaaa;') 暂无草稿
        for i in data.drafts
          .user-info-list(id=`draft${i.did}`)
            span.ForumThreadHasImage(style='background-color: #337ab7')= "标题"
            span.title= i.t
            br
            span.ForumThreadHasImage(style='background-color: #337ab7')= "内容"
            span(style="overflow-wrap: break-word;")= delCodeAddShrink(i.c)
            br
            div#draftObjId(style='display: none')= `${i.did}`
            span 修改于&nbsp;
            span.time= fromNow(i.tlm)
            span &nbsp;~~
            a(href=`/editor?type=redit&id=${i.did}`).link 继续创作
            a(style='float:right;' onclick=`removedraft("${i.uid}","${i.did}")`) 舍弃
        include interface_navigation_paging
block scripts
  script(src='/interface_common.js')