.applicationForm
  .row.m-b-4.m-t-1
    .col-xs-12.col-md-12
      .id.text-center
        a(href="/fund") 科创基金
        |&nbsp;/&nbsp;
        a(href=`/fund/list/${fund._id}`)=fund.name
        if applicationForm.code
          |&nbsp;/&nbsp;
          a(href=`/fund/a/${applicationForm._id}`)=applicationForm.code
  .row.m-b-4
    .col-xs-12.col-md-12
      .applicationForm-header 申请人信息
      if applicationForm.status.projectPassed === false && data.auditComments
        -let replaceContent = data.auditComments.userInfoAudit.c;
        if replaceContent
          -replaceContent = replaceContent.replace(/\n/g, '<br/>');
          -replaceContent = replaceContent.replace(/\s/g, '&nbsp;');
        p.redFontColor!= `审核意见：${replaceContent || '无'}`
    .col-xs-12.col-md-6
      h5= `申请人ID：`
        a(href=`/u/${applicationForm.applicant.uid}` target="_blank")= applicationForm.applicant.user.username
      h5=`真实姓名：${applicationForm.applicant.name || '暂未输入'}`
      if applicationForm.applicant.idCardNumber
        div(style='border: 1px solid #ddd;padding: 0 0.5rem;background-color: #eee;')
          p.text-center 仅自己和审查员可见
          h5= `身份证号码：${applicationForm.applicant.idCardNumber || '暂未输入'}`
          h5= `联系方式：${applicationForm.applicant.mobile || '暂未输入'}`
          -let paymentType;
          if applicationForm.account.paymentType === 'alipay'
            -paymentType = '支付宝';
          else if applicationForm.account.paymentType === 'bankCard'
            -paymentType = '银行卡';
          else
            -paymentType = '暂未选择';
          h5= `收款方式：${paymentType}`
          if paymentType === '银行卡'
            h5= `银行全称：${applicationForm.account.bankName || '暂未填写'}`
            h5= `户名：${applicationForm.account.name || '暂未填写'}`
          h5= `收款账号：${applicationForm.account.number || '暂未输入'}`
      h5= `自我介绍：${applicationForm.applicant.description || '暂未填写'}`
      if applicationForm.from === 'team'
        h5= `申请方式：团队`
        h5= `组员ID（已确认的）：`
          -for(let m of applicationForm.members)
            if m.agree
              span &nbsp;&nbsp;
              a(href=`/u/${m.uid}` target='_blank')= m.user.username
      else
        h5= `申请方式：个人`
    if applicationForm.applicant.lifePhotos.length === 0
      .col-xs-12.col-md-6
        p 申请人照片
        span 生活照暂未上传
    else if applicationForm.applicant.lifePhotos.length === 1
      .col-xs-12.col-md-6
        p 申请人照片
        a(href=`/photo/${applicationForm.applicant.lifePhotos[0]._id}` target='_blank')
          img(src=`/photo_small/${applicationForm.applicant.lifePhotos[0]._id}`)
    else
      .col-xs-12.col-md-12
        p 申请人照片
        -for (let p of applicationForm.applicant.lifePhotos)
          a(href=`/photo/${p._id}` target='_blank')
            img(src=`/photo_small/${p._id}` style='margin: 0.2rem;')
    .col-xs-12.col-md-12
      if fund.thread.count > 0
        h5= `申请人曾经的技术文章：`
        if applicationForm.threads.applying.length === 0
          span 暂未填写
        else
          .selectedThreads
            -const disagreeUsers = [];
            -const notModifiedUsers = [];
            -for(let u of applicationForm.members)
              if u.agree === false
                -disagreeUsers.push(u.uid);
              if u.agree === null
                -notModifiedUsers.push(u.uid);
            -for(let i = 0; i < applicationForm.threads.applying.length; i++)
              -const thread = applicationForm.threads.applying[i];
              -const firstPost = thread.firstPost;
              -let postString = {tid: firstPost.tid, uid: firstPost.uid, username: firstPost.user.username, t: firstPost.t, toc: firstPost.toc.toLocaleString(), pid: firstPost.pid};
              -postString = JSON.stringify(postString);
              .threadList
                .col-xs-10.col-md-10
                  .displayNone.postString= postString
                  span 文号：
                  span.threadNumber!= `${firstPost.pid}&nbsp;&nbsp;`
                  a(href=`/u/${firstPost.uid}` target="_blank")= firstPost.user.username
                  if notModifiedUsers.includes(thread.uid)
                    span(style='color: #aaa;') （未处理邀请）
                  if disagreeUsers.includes(thread.uid)
                    span.redFontColor （已拒绝邀请）
                  span!= `&nbsp;发表于 ${firstPost.toc.toLocaleString()}`
                  br
                  a(href=`/t/${thread.tid}` target="_blank")= firstPost.t
  .row.m-b-5
    .col-xs-12.col-md-12
      .applicationForm-header 项目信息
      if applicationForm.status.projectPassed === false && data.auditComments
        -let replaceContent = data.auditComments.projectAudit.c;
        -replaceContent = replaceContent.replace(/\n/g, '<br/>');
        -replaceContent = replaceContent.replace(/\s/g, '&nbsp;');
        p.redFontColor!= `审核意见：${replaceContent || '无'}`
      if !applicationForm.project
        .text-danger 项目信息暂未填写
      else
        h3.applicationForm-title= applicationForm.project.t
        if applicationForm.project.abstractCn
          .applicationForm-abstract
            .applicationForm-abstract-header 中文摘要
            .applicationForm-abstract-content!=LineFeedConversion(applicationForm.project.abstractCn)
        if applicationForm.project.abstractEn
          .applicationForm-abstract
            .applicationForm-abstract-header Abstract
            .applicationForm-abstract-content!=LineFeedConversion(applicationForm.project.abstractEn)
        if applicationForm.project.keyWordsCn.length !== 0 || applicationForm.project.keyWordsEn.length !== 0
          .applicationForm-abstract
            .applicationForm-abstract-header 关键词
            .applicationForm-abstract-content
              if applicationForm.project.keyWordsCn.length !== 0
                div
                  each k in applicationForm.project.keyWordsCn
                    a.applicationForm-keyword(href=`/search?c=${k}`)=k
              if applicationForm.project.keyWordsCn.length !== 0
                div
                  each k in applicationForm.project.keyWordsEn
                    a.applicationForm-keyword.en(href=`/search?c=${k}`)=k
        -applicationForm.project.c = hideContentByUser(applicationForm.project.c, data.user, 'thread');
        div!= experimental_render(applicationForm.project)
  .row
    .col-xs-12.col-md-12
      .applicationForm-header 其他信息
      if applicationForm.status.projectPassed === false && data.auditComments
        -let replaceContent = data.auditComments.moneyAudit.c;
        -replaceContent = replaceContent.replace(/\n/g, '<br/>');
        -replaceContent = replaceContent.replace(/\s/g, '&nbsp;');
        p.redFontColor!= `审核意见：${replaceContent || '无'}`
      .p-t-1
        h5 学科分类：
          if applicationForm.forum
            a(href=`/f/${applicationForm.forum.fid}` target="_blank")=applicationForm.forum.displayName
          else
            span 暂未选择
        h5= `研究周期：${applicationForm.projectCycle?applicationForm.projectCycle+"天": '暂未填写'}`
      if applicationForm.fixedMoney
        h5= `资金用途：${applicationForm.budgetMoney || '暂未填写'}`
        h5= `申请金额：${applicationForm.fund.money.fixed}元`
      else
        h5= `资金预算：`
        if applicationForm.budgetMoney === null || applicationForm.budgetMoney === ''
          span 暂未填写
        else
          -let aggregate, suggest, fact, used, displaySuggest, displayFact;
          #budgetMoney
            if applicationForm.budgetMoney.length !== 0 && (applicationForm.actualMoney.length !== 0 || applicationForm.status.adminSupport)
              -aggregate=0;
              -suggest=0;
              -fact=0;
              -used=0;
              -displaySuggest = true;
              -displayFact = true;
              table.table.table-striped.applicationForm-table
                thead
                  tr
                    th 用途
                    th 数量
                    th 单价（元）
                    th 合计（元）
                    th 专家建议（元）
                    th 实际批准（元）
                tbody
                  for p in applicationForm.budgetMoney
                    -const total = p.count*p.money;
                    -aggregate += total;
                    -suggest += p.suggest;
                    -fact += p.fact;
                    tr
                      th=p.purpose
                      th=p.count
                      th=p.money
                      th=total
                      th=p.suggest?p.suggest: total
                      th=p.fact?p.fact:total
              //-
                .fund-money-list.head.adminAudit
                  .purpose 用途
                  .count 数量
                  .money 单价(元)
                  .total 合计(元)
                  .suggest 专家建议(元)
                  .fact 实际批准(元)
                -for(let p of applicationForm.budgetMoney)
                  -const total = p.count*p.money;
                  -aggregate += total;
                  -suggest += p.suggest;
                  -fact += p.fact;
                  .fund-money-list.adminAudit
                    .purpose= p.purpose
                    .count= p.count
                    .money= p.money
                    .total= total
                    .suggest= p.suggest?p.suggest: total
                    .fact= p.fact?p.fact: total
            else if applicationForm.budgetMoney.length !== 0 && applicationForm.budgetMoney[0].suggest
              -aggregate=0;
              -suggest=0;
              -displaySuggest = true;
              table.table.table-striped.applicationForm-table
                thead
                  tr
                    th 用途
                    th 数量
                    th 单价（元）
                    th 合计（元）
                    th 专家建议（元）
                tbody
                  for p in applicationForm.budgetMoney
                    -const total = p.count*p.money;
                    -aggregate += total;
                    -suggest += p.suggest;
                    tr
                      th=p.purpose
                      th=p.count
                      th=p.money
                      th=total
                      th=p.suggest
              //-
                .fund-money-list.head.projectAudit
                  .purpose 用途
                  .count 数量
                  .money 单价(元)
                  .total 合计(元)
                  .suggest 专家建议(元)
                -for(let p of applicationForm.budgetMoney)
                  -const total = p.count*p.money;
                  -aggregate += total;
                  -suggest += p.suggest;
                  .fund-money-list.projectAudit
                    .purpose= p.purpose
                    .count= p.count
                    .money= p.money
                    .total= total
                    .suggest= p.suggest
            else
              -aggregate=0;
              table.table.table-striped.applicationForm-table
                thead
                  tr
                    th 用途
                    th 数量
                    th 单价（元）
                    th 合计（元）
                tbody
                  for p in applicationForm.budgetMoney
                    -const total = p.count*p.money;
                    -aggregate += total;
                    -suggest += p.suggest;
                    tr
                      th=p.purpose
                      th=p.count
                      th=p.money
                      th=total
              //-
                .fund-money-list.head
                  .purpose 用途
                  .count 数量
                  .money 单价(元)
                  .total 合计(元)
                -for(let p of applicationForm.budgetMoney)
                  -const total = p.count*p.money;
                  -aggregate += total;
                  -suggest += p.suggest;
                  .fund-money-list
                    .purpose= p.purpose
                    .count= p.count
                    .money= p.money
                    .total= total
            -fact = fact || aggregate
            -suggest = suggest || aggregate
          .budgetMoney-total
            if aggregate
              span=`申请金额：${aggregate}元`
            if displaySuggest
              span=`，专家建议：${suggest || aggregate}元`
            if displayFact
              span=`，实际批准：${fact}元`
          if applicationForm.actualMoney.length !== 0
            h5 实际使用：
            -let actualAggregate = 0;
            table.table.table-striped.applicationForm-table
              thead
                tr
                  th 用途
                  th 数量
                  th 单价（元）
                  th 合计（元）
              tbody
                for a in applicationForm.actualMoney
                  -const total = a.count*a.money;
                  -actualAggregate += total;
                  tr
                    th=a.purpose
                    th=a.count
                    th=a.money
                    th=total
            //-
              .fund-money-list.head
                .purpose 用途
                .count 数量
                .money 单价(元)
                .total 合计(元)
              .list
                -for (let i = 0; i < applicationForm.actualMoney.length; i++)
                  -const a = applicationForm.actualMoney[i];
                  -const total = a.count*a.money;
                  -actualAggregate += total;
                  .fund-money-list(num= i)
                    .actualPurpose= a.purpose
                    .actualCount= a.count
                    .actualMoney= a.money
                    .actualTotal= total
            .budgetMoney-total= `实际批准：${fact}元，实际花费：${actualAggregate}元，退还金额：${fact >= actualAggregate ? fact - actualAggregate : 0}元 `



