.UserProfileSection2
    a(href=`/m/${user.uid}`) 专栏
    a(href=`/u/${user.uid}/collections/unclassified`) 收藏夹
    a(href=`/message?uid=${user.uid}`) 发私信

    if(data.userOperationsId.includes('bannedUser') && !user.certs.includes('banned'))
      a(href='javascript:void(0)' onclick=`bannedUser("${user.uid}", true)`) 封禁此人
    if(data.userOperationsId.includes('unBannedUser') && user.certs.includes('banned'))
      a(href='javascript:void(0)' onclick=`bannedUser("${user.uid}", false)`) 解除封禁

    br
    span 学术分 #{user.xsf||0}
    span 科创币 #{user.kcb||0}


    span 总主题 #{user.threadCount||0} 帖
    span 总回复 #{user.postCount||0} 楼

    -var listCertText = user.navbarDesc.cs
    span 拥有证书：#{listCertText}
    br
    span 注册于 #{dateTimeString(user.toc)}
    span 最后登录 #{dateTimeString(user.tlv||user.toc)}
