extends bootstrap_base
block title
  title 账号安全
block content
  #data.hidden=objToStr({user: data.user, email: data.userEmail, mobile: data.mobile, unverifiedEmail: data.unverifiedEmail, unverifiedMobile:data.unverifiedMobile, nationCode: data.nationCode})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-default
          .panel-heading
            span 修改密码
          .panel-body
            .form-horizontal
              if data.havePassword
                .form-group
                  label.col-sm-2.control-label 旧密码：
                  .col-sm-4
                    input.form-control#oldPassword(type='password' placeholder='请输入旧密码')

              .form-group
                label.col-sm-2.control-label 新密码：
                .col-sm-4
                  input.form-control#password(type='password' placeholder='请输入新密码')

              .form-group
                label.col-sm-2.control-label 重复新密码：
                .col-sm-4
                  input.form-control#password2(type='password' placeholder='请输入新密码')

              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(onclick=`submitPassword(${data.user.uid})`) 提交
        //-.panel.panel-default
          .panel-heading
            span 绑定手机
          .panel-body
            .form-horizontal
              if data.mobile
                .form-group
                  label.col-sm-2.control-label 已绑定手机号：
                  .col-sm-4
                    h4=`+${data.nationCode} ${data.mobile}`
                #inputDiv(style='display: none;')
                  .form-group
                    label.col-sm-2.control-label 旧手机验证码：
                    .col-sm-2
                      input.form-control#oldCode(type='text' placeholder='请输入验证码')
                    .col-sm-5
                      button.btn.btn-primary(onclick=`sendMessage()`) 获取验证码
                  .form-group
                    label.col-sm-2.control-label 新手机国际区号：
                    .col-sm-4
                      include interface_nation_code
                  .form-group
                    label.col-sm-2.control-label 新手机号码：
                    .col-sm-4
                      input.form-control#mobile(type='text' placeholder='请输入验证码')

                  .form-group
                    label.col-sm-2.control-label 新手机验证码：
                    .col-sm-2
                      input.form-control#code(type='text' placeholder='请输入验证码')
                    .col-sm-5
                      button.btn.btn-primary(onclick=`sendMessage(true)`) 获取验证码

                  .form-group
                    .col-sm-4.col-sm-offset-2
                      button.btn.btn-primary(onclick=`submitChangeMobile(${data.user.uid})`) 提交

                .form-group#btnChangeNumber
                  .col-sm-4.col-sm-offset-2
                    button.btn.btn-primary(onclick=`changeNumber()`) 更换手机
              else
                .form-group
                  label.col-sm-2.control-label 国际区号：
                  .col-sm-4
                    include interface_nation_code

                .form-group
                  label.col-sm-2.control-label 手机号码：
                  .col-sm-4
                    input.form-control#mobile(type='text' placeholder='请输入手机号码')

                .form-group
                  label.col-sm-2.control-label 手机验证码：
                  .col-sm-2
                    input.form-control#code(type='text' placeholder='请输入验证码')
                  .col-sm-5
                    button.btn.btn-primary(onclick=`bindMobileMessage()`) 获取验证码

                .form-group
                  .col-sm-4.col-sm-offset-2
                    button.btn.btn-primary(onclick=`submitBindMobile(${data.user.uid})`) 提交
        .panel.panel-default
          .panel-heading
            span 绑定手机
          .panel-body#mobileApp(v-cloak)
            .form-horizontal(v-if="mobile")
              .form-group
                label.col-sm-2.control-label 已绑定手机号：
                .col-sm-4
                  h4=`+${data.nationCode} ${data.mobile}`
              .form-group(v-if="!formType")
                label.col-sm-2.control-label
                .col-sm-4
                  button.btn.btn-primary(@click="formType = 'changeMobile'") 更换手机
                  button.btn.btn-default(@click="formType = 'unbindMobile'") 解绑
                  if data.needPhoneVerify
                    button.btn.btn-danger(@click="formType = 'phoneVerify'") 需要验证手机号
            .form-horizontal(v-if="formType === 'bind'")
              .form-group
                label.col-sm-2.control-label 国际区号：
                .col-sm-4
                  select.form-control(v-model="newNationCode")
                    option(v-for="n in nationCodes" :value="n.code") +{{n.code}} {{n.chineseName}}
              .form-group
                label.col-sm-2.control-label 手机号
                .col-sm-4
                  input.form-control(type='text' placeholder='请输入手机号码' v-model="newMobile")
              .form-group
                label.col-sm-2.control-label 手机验证码：
                .col-sm-2
                  input.form-control(type='text' placeholder='请输入验证码' v-model="newCode")
                .col-sm-5
                  button.btn.btn-primary(@click=`bindMobileMessage` v-if="newTime <= 0") 获取验证码
                  button.btn.btn-primary(v-else disabled) 获取验证码({{newTime}})
              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(@click=`submitBindMobile`) 提交
            .form-horizontal(v-else-if="formType === 'changeMobile'")
              .form-group
                label.col-sm-2.control-label 旧手机验证码：
                .col-sm-2
                  input.form-control(type='text' placeholder='请输入验证码' v-model="oldCode")
                .col-sm-5
                  button.btn.btn-primary(@click=`sendMessage(false)` v-if="oldTime <= 0") 获取验证码
                  button.btn.btn-primary(v-else disabled) 获取验证码({{oldTime}})
              .form-group
                label.col-sm-2.control-label 新手机国际区号：
                .col-sm-4
                  select.form-control(v-model="newNationCode")
                    option(v-for="n in nationCodes" :value="n.code") +{{n.code}} {{n.chineseName}}
              .form-group
                label.col-sm-2.control-label 新手机号
                .col-sm-4
                  input.form-control(type='text' placeholder='请输入手机号码' v-model="newMobile")
              .form-group
                label.col-sm-2.control-label 新手机验证码：
                .col-sm-2
                  input.form-control(type='text' placeholder='请输入验证码' v-model="newCode")
                .col-sm-5
                  button.btn.btn-primary(@click=`sendMessage(true)` v-if="newTime <= 0") 获取验证码
                  button.btn.btn-primary(v-else disabled) 获取验证码({{newTime}})
              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(@click=`submitChangeMobile`) 提交
                  button.btn.btn-default(@click=`formType = ''`) 取消
            .form-horizontal(v-else-if="formType === 'unbindMobile'")
              .form-group
                label.col-sm-2.control-label 手机验证码：
                .col-sm-2
                  input.form-control(type='text' placeholder='请输入验证码' v-model="oldCode")
                .col-sm-5
                  button.btn.btn-primary(@click=`unbindMobileMessage` v-if="oldTime <= 0") 获取验证码
                  button.btn.btn-primary(v-else disabled) 获取验证码({{oldTime}})
              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(@click=`submitUnbindMobile`) 提交
                  button.btn.btn-default(@click=`formType = ''`) 取消
            .form-horizontal(v-else-if="formType === 'phoneVerify'")
              .form-group
                label.col-sm-2.control-label 验证码：
                .col-sm-2
                  input.form-control(type='text' placeholder='请输入验证码' v-model="phoneVerify.code")
                .col-sm-5
                  button.btn.btn-primary(@click="sendPhoneVerifySmsCode()" :disabled="phoneVerify.statu !== 'wait' || phoneVerify.complete") {{phoneVerify.statu !== "countdown"? "获取验证码" : phoneVerify.time + "秒后再次发送"}}
              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(@click="submitPhoneVerify()" :disabled="phoneVerify.complete") 提交
        .panel.panel-default
          .panel-heading
            span 绑定邮箱
          .panel-body
            #app(v-cloak)
              .form-horizontal(v-if="type === 'bindEmail'")
                .form-group
                  label.col-sm-2.control-label 邮箱：
                  .col-sm-4
                    input.form-control(type='text' placeholder='请输入邮箱' v-model="newEmail")
                .form-group
                  label.col-sm-2.control-label 邮件验证码：
                  .col-sm-2
                    input.form-control(type='text' placeholder='请输入验证码' v-model="newEmailCode")
                  .col-sm-5
                    button.btn.btn-primary(@click=`getBindEmailCode` v-if="newTime <= 0") 获取验证码
                    button.btn.btn-primary(v-else disabled) 获取验证码({{newTime}})
                .form-group
                  .col-sm-4.col-sm-offset-2
                    button.btn.btn-primary(@click=`submitBindEmail`) 提交
              .form-horizontal(v-else-if="type === 'showEmail'")
                .form-group
                  label.col-sm-2.control-label 已绑定邮箱：
                  .col-sm-10
                    h4 {{email}}
                    button.btn.btn-primary(v-if="!formType" @click="formType = 'changeEmail'") 更换邮箱
                    button.btn.btn-default(v-if="!formType" @click="formType = 'unbindEmail'") 解绑
                div(v-if="formType === 'changeEmail'")
                  .form-group
                    label.col-sm-2.control-label 旧邮箱验证码：
                    .col-sm-2
                      input.form-control(type='text' placeholder='请输入验证码' v-model="oldEmailCode")
                    .col-sm-5
                      button.btn.btn-primary(@click=`getOldEmailCode` v-if="oldTime <= 0") 获取验证码
                      button.btn.btn-primary(v-else disabled) 获取验证码({{oldTime}})
                  .form-group
                    label.col-sm-2.control-label 新邮箱：
                    .col-sm-4
                      input.form-control#oldCode(type='text' placeholder='请输入新邮箱' v-model="newEmail")
                  .form-group
                    label.col-sm-2.control-label 新邮箱验证码：
                    .col-sm-2
                      input.form-control(type='text' placeholder='请输入验证码' v-model="newEmailCode")
                    .col-sm-5
                      button.btn.btn-primary(@click=`getNewEmailCode` v-if="newTime <= 0") 获取验证码
                      button.btn.btn-primary(v-else disabled) 获取验证码({{newTime}})
                  .form-group
                    .col-sm-4.col-sm-offset-2
                      button.btn.btn-primary(@click=`submitChangeEmail`) 提交
                      button.btn.btn-default(@click=`formType = ''`) 取消
                div(v-else-if="formType === 'unbindEmail'")
                  .form-group
                    label.col-sm-2.control-label 邮箱验证码:
                    .col-sm-2
                      input.form-control(type="text" placeholder="请输入验证码" v-model="oldEmailCode")
                    .col-sm-5
                      button.btn.btn-primary(@click="getEmailCode('unbindEmail')" v-if="oldTime <= 0") 获取验证码
                      button.btn.btn-primary(v-else disabled) 获取验证码({{oldTime}})
                  .form-group
                    .col-sm-4.col-sm-offset-2
                      button.btn.btn-primary(@click=`submitUnbindEmail`) 提交
                      button.btn.btn-default(@click=`formType = ''`) 取消
                  //
                    h5.text-info 更换绑定邮箱需要验证旧邮箱，请点击发送按钮发送验证邮件。
                    button.btn.btn-primary(@click="sendVerifyEmail") 发送验证邮件
        .text-right
          a.text-danger(href=`/u/${data.user.uid}/destroy`) 账号注销

block scripts
  +includeJS("/nationCodes/nationCodes.js")
  +includeJS("/interface_user_settings_security.js")
