extends bootstrap_base
block title
  title 偏好设置
  style.
    .watermark-body{
      overflow: hidden;
      position: relative;
    }
    .watermark-body .bg{
      width: 100%;
    }
    .watermark-body .watermark{
      z-index: 100;
      position: absolute;
      height: 3rem;
      line-height: 3rem;
    }
    .watermark-body .wt{
      max-height: 100%;
    }
    .watermark-body .watermark.small{
      height: 1.4rem;
      line-height: 1.4rem;
    }
    .watermark span{
      color: #fff;
      vertical-align: middle;
      margin-left: 0.2rem;
    }
    .southeast{
      right: 1rem;
      bottom: 1rem;
    }
    .northeast{
      right: 1rem;
      top: 1rem;
    }
    .southwest{
      bottom: 1rem;
      left: 1rem;
    }
    .northwest{
      top: 1rem;
      left: 1rem;
    }
    .center{
      top: 0;
      left: 0;
      right:0;
      bottom: 0;
      margin: auto;
      text-align: center;
    }
block content
  #data.hidden=objToStr({columnName: data.columnName, user: data.user, waterSetting: data.waterSetting, noWatermark: data.noWatermark})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        //-.panel.panel-default
          .panel-heading
            span 首页默认内容
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 首页内容：
                .col-sm-10
                  .radio
                    label
                      input(type="radio" name='homeThreadList' checked=data.user.generalSettings.displaySettings.homeThreadList === "home")
                      span.m-r-1 主页
                    label
                      input(type='radio' name='homeThreadList' checked=data.user.generalSettings.displaySettings.homeThreadList === "latest")
                      span.m-r-1 最新
                    label
                      input(type="radio" name='homeThreadList' checked=data.user.generalSettings.displaySettings.homeThreadList==="subscribe")
                      span.m-r-1 我关注的
              .form-group
                label.col-sm-2.control-label
                .col-sm-9
                  button.btn.btn-primary.btn-sm(onclick="saveAppInfo()") 保存
        .panel.panel-default
          .panel-heading
            span 关注设置
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 关注时选择分类：
                .col-sm-10
                  .radio
                    label
                      input(type="radio" name='selectTypes' checked=data.user.generalSettings.subscribeSettings.selectTypesWhenSubscribe)
                      span.m-r-1 开启
                    label
                      input(type='radio' name='selectTypes' checked=!data.user.generalSettings.subscribeSettings.selectTypesWhenSubscribe)
                      span 关闭
                  h5.text-info 开启后，每次关注弹出自定义分类选项；关闭后，新关注的内容在未分类中。
              .form-group
                label.col-sm-2.control-label
                .col-sm-9
                  button.btn.btn-primary.btn-sm(onclick="saveAppInfo()") 保存
        .panel.panel-default
          .panel-heading
            span 阅读文章
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 文章背景颜色
                .col-sm-4
                  input.form-control(data-control="selectColor" value=data.user.color)
              .form-group
                label.col-sm-2.control-label
                .col-sm-9
                  button.btn.btn-primary.btn-sm(onclick="saveAppInfo()") 保存
        .panel.panel-default
          .panel-heading
            span 奖励设置
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 随机红包：
                .col-sm-10
                  .radio
                    label
                      input(type="radio" name='envelope' checked=!data.user.generalSettings.lotterySettings.close)
                      span.m-r-1 显示
                    label
                      input(type='radio' name='envelope' checked=data.user.generalSettings.lotterySettings.close)
                      span 不显示
                  h5.text-info 每天第一次发表可能获得拆红包机会，选择不显示，则放弃拆红包机会。
              .form-group
                label.col-sm-2.control-label
                .col-sm-9
                  button.btn.btn-primary.btn-sm(onclick="saveAppInfo()") 保存
        .panel.panel-default
          .panel-heading
            span 水印风格
          .panel-body#watermarkApp(v-cloak)
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 是否添加水印：
                .col-sm-9
                  label.radio-inline
                    input(type='radio' name='isWater' id='radio1' value="yes" checked=data.waterSetting.waterAdd === true)
                    span 添加水印
                  label.radio-inline#isPay(data=`${data.waterSetting.waterPayInfo}`)
                    input(type='radio' name='isWater' id='radio2' value="no" checked=data.waterSetting.waterAdd === false onClick=`isAlreadyPay(${data.waterSetting.waterPayInfo})`)
                    span 不添加水印
              .form-group#payForWater(style="display:none")
                label.col-sm-2.control-label
                .col-sm-9
                  h5.text-danger=`隐藏水印功能需要花费${data.noWatermark.number/100}${data.noWatermark.name}，是否继续?`
                .col-sm-2
                .col-sm-9
                  button.btn.btn-primary.btn-sm(onclick=`yesPayForWater(${data.user.uid})`) 继续
                  button.btn.btn-default.btn-sm(onclick=`hideButton()`) 取消
              h4 图片水印
              .form-group
                label.col-sm-2.control-label 水印类型：
                .col-sm-9(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-4
                      select.form-control#pictureWaterStyle(onChange=`turnPictureImg()`)
                        option(selected=(data.waterSetting.picture.waterStyle === "siteLogo") data="siteLogo" value="siteLogo") 网站LOGO
                        option(selected=(data.waterSetting.picture.waterStyle === "singleLogo") data="singleLogo" value="singleLogo") LOGO(小)
                        option(selected=(data.waterSetting.picture.waterStyle === "userLogo") data="userLogo" value="userLogo") LOGO(小)+用户名
                        if data.hasColumn
                          option(selected=(data.waterSetting.picture.waterStyle === "coluLogo") data="coluLogo" value="coluLogo") LOGO(小)+专栏名
              .form-group
                label.col-sm-2.control-label 水印位置：
                .col-sm-9(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-4
                      select.form-control#pictureWaterGravity(onChange="turnPictureImg()")
                        option(selected=(data.waterSetting.picture.waterGravity === "southeast") data="southeast" value="southeast") Southeast(右下角)
                        option(selected=(data.waterSetting.picture.waterGravity === "northeast") data="northeast" value="northeast") Northeast(右上角)
                        option(selected=(data.waterSetting.picture.waterGravity === "southwest") data="southwest" value="southwest") Southwest(左下角)
                        option(selected=(data.waterSetting.picture.waterGravity === "northwest") data="northwest" value="northwest") Northwest(左上角)
                        option(selected=(data.waterSetting.picture.waterGravity === "center") data="center" value="center") Center(正中间)
              //-.form-group
                label.col-sm-2.control-label 参考：
                .col-sm-9.col-md-5
                  .row
                    .col-xs-12.col-md-12.user-settings-img-dev#exampleImg
                      -var sty = data.waterSetting.waterStyle?data.waterSetting.waterStyle:"siteLogo";
                      -var gra = data.waterSetting.waterGravity?data.waterSetting.waterGravity:"southeast";
                      -var imageName = sty + gra;
                      img#newImg(src=`/default/${imageName}.jpg` style='width: 100%;')
              .form-group
                label.col-sm-2.control-label 参考：
                .col-sm-12.col-md-5
                  .watermark-body
                    img.bg(src=tools.getUrl('defaultFile', 'watermark_background.jpg'))
                    .watermark(:class="waterSetting.picture.waterGravity + ' ' + pictureWatermarkFile.size" style=`opacity: ${1-(data.noWatermark.file.transparency/100)}`)
                      img.wt(:src="getAppsWatermark('picture')")
                      //img.wt(:src="pictureWatermarkFile.url")
                      //span(v-if='pictureWatermarkName') {{pictureWatermarkName}}
                .col-sm-12.col-md-10.col-md-offset-2
                  h5.text-info=`宽度小于${data.noWatermark.size.pictureMinWidth}px或高度小于${data.noWatermark.size.pictureMinHeight}px的图片不会添加水印`

              h4 视频水印
              .form-group
                label.col-sm-2.control-label 水印类型：
                .col-sm-9(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-4
                      select.form-control#videoWaterStyle(onChange=`turnVideoImg()`)
                        option(selected=(data.waterSetting.video.waterStyle === "siteLogo") data="siteLogo" value="siteLogo") 网站LOGO
                        option(selected=(data.waterSetting.video.waterStyle === "singleLogo") data="singleLogo" value="singleLogo") LOGO(小)
                        option(selected=(data.waterSetting.video.waterStyle === "userLogo") data="userLogo" value="userLogo") LOGO(小)+用户名
                        if data.hasColumn
                          option(selected=(data.waterSetting.video.waterStyle === "coluLogo") data="coluLogo" value="coluLogo") LOGO(小)+专栏名
              .form-group
                label.col-sm-2.control-label 水印位置：
                .col-sm-9(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-4
                      select.form-control#videoWaterGravity(onChange="turnVideoImg()")
                        option(selected=(data.waterSetting.video.waterGravity === "southeast") data="southeast" value="southeast") Southeast(右下角)
                        option(selected=(data.waterSetting.video.waterGravity === "northeast") data="northeast" value="northeast") Northeast(右上角)
                        option(selected=(data.waterSetting.video.waterGravity === "southwest") data="southwest" value="southwest") Southwest(左下角)
                        option(selected=(data.waterSetting.video.waterGravity === "northwest") data="northwest" value="northwest") Northwest(左上角)
                        option(selected=(data.waterSetting.video.waterGravity === "center") data="center" value="center") Center(正中间)
              //-.form-group
                label.col-sm-2.control-label 参考：
                .col-sm-9.col-md-5
                  .row
                    .col-xs-12.col-md-12.user-settings-img-dev#exampleImg
                      -var sty = data.waterSetting.waterStyle?data.waterSetting.waterStyle:"siteLogo";
                      -var gra = data.waterSetting.waterGravity?data.waterSetting.waterGravity:"southeast";
                      -var imageName = sty + gra;
                      img#newImg(src=`/default/${imageName}.jpg` style='width: 100%;')
              .form-group
                label.col-sm-2.control-label 参考：
                .col-sm-12.col-md-5
                  .watermark-body
                    img.bg(src=tools.getUrl('defaultFile', 'watermark_background.jpg'))
                    .watermark(:class="waterSetting.video.waterGravity + ' ' + videoWatermarkFile.size" style=`opacity: ${1 - (data.noWatermark.file.transparency / 100)}`)
                      img.wt(:src="getAppsWatermark('video')")
                      //img.wt(:src="videoWatermarkFile.url")
                      //span(v-if='videoWatermarkName') {{videoWatermarkName}}
                .col-sm-12.col-md-10.col-md-offset-2
                  h5.text-info=`宽度小于${data.noWatermark.size.videoMinWidth}px或高度小于${data.noWatermark.size.videoMinHeight}px的图片不会添加水印`
              .form-group
                label.col-sm-2.control-label
                .col-sm-5
                  button.btn.btn-primary.btn-sm#save(onclick=`submit(${data.user.uid})`) 保存



block scripts
  include ./publicModules/selectColor
  +includeJS('/interface_user_settings_apps.js')
