-var defaultColor = 'grey'
-var length = Math.ceil(forums.length / 2)
-var forums1 = forums.splice(0, length)
-var forums2 = forums
.nkc-transform-box
  .nkc-inline-table
    for forum in forums1
      .nkc-table-row
        div(style='display: table-cell; width: 110px;')
          div(style='display: inline-block; width: 22px; height: 22px; border-radius: 11px; margin-bottom: -4px; overflow: hidden;')
            if forum.icon_filename
              img(src='/resources/site_specific/forum_icon/#{forum.icon_filename}.png' width='100%')
            else
              div(style='width: 100%; height: 100%; background-color: #{forum.color? forum.color: defaultColor}')
          a(href='/f/#{forum._key}' title='#{forum.description}' style='font-size: 18px; color: black;') &nbsp;#{forum.display_name}
        div(style='display: table-cell;')
          for cForum in forum.children
            a.ForumThreadHasImage(href='/f/#{cForum._key}' title='#{cForum.description}' style='color: black;background-color: white; font-size: 14px; margin-top: -6px;')
              span.nkc-bubble(style='background-color: #{cForum.color? cForum.color: defaultColor}') &nbsp;#{cForum.count_posts_today}&nbsp;
              span #{cForum.display_name}

.nkc-transform-box
  .nkc-inline-table
    for forum in forums2
      .nkc-table-row
        div(style='display: table-cell; width: 110px;')
          div(style='display: inline-block; width: 22px; height: 22px; border-radius: 11px; margin-bottom: -4px; overflow: hidden;')
            if forum.icon_filename
              img(src='/resources/site_specific/forum_icon/#{forum.icon_filename}.png' width='100%')
            else
              div(style='width: 100%; height: 100%; background-color: #{forum.color ? forum.color : defaultColor}')
          a(href='/f/#{forum._key}' title='#{forum.description}' style='font-size: 18px; color: black;') &nbsp;#{forum.display_name}
        div(style='display: table-cell;')
          for cForum in forum.children
            a.ForumThreadHasImage(href='/f/#{cForum._key}' title='#{cForum.description}' style='color: black; background-color: white; font-size: 14px; margin-top: -6px;')
              span.nkc-bubble(style='background-color: #{cForum.color? cForum.color: defaultColor}') &nbsp;#{cForum.count_posts_today}&nbsp;
              span #{cForum.display_name}