.row.children-forum-panel
  .col-xs-12.col-sm-6.col-md-6(style='min-height: 2rem;')
    .media
      .media-left
        if forum.iconFileName
          img.media-object(src=`/forum_avatar/${forum.fid}` style=`height: 2.5rem;width: 2.5rem;border-radius: 50%;`)
        else
          .media-object(style=`height: 2.5rem;width: 2.5rem;border-radius: 50%;background-color: ${forum.color}`)
      .media-body
        a(href=`/f/${forum.fid}`).forum-title
          h4.media-heading(style='margin-top: 2px;')= forum.displayName
            span &nbsp;&nbsp;
            small= forum.description
        div(style='color: #777777;')
          for f in forum.childrenForums
            a(href=`/f/${f.fid}` style='display:inline-block;text-decoration: none;height: 2rem;line-height:2rem;' title=f.description)
              img(src=`/forum_avatar/${f.fid}` style=`border-radius: 50%;height:1.2em;width:1.2em;margin-right: 0.3rem;background-color: ${f.color}`)
              span=f.displayName
            span &nbsp;&nbsp;

  .col-xs-12.col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1.hidden-xs
    .row.text-center(style='padding-top: 0.3rem;')
      .col-xs-3.col-sm-3.col-md-3.post-count
        span= forum.countThreads
        p 文章
      .col-xs-3.col-sm-3.col-md-3.post-count
        span= forum.countPosts
        p 回复
      .col-xs-1.col-sm-1.col-md-1.post-count(style=`border-right: 3px solid ${forum.color}`)
        span &nbsp;
        p &nbsp;
      .col-xs-4.col-sm-4.col-md-4.post-count
        span= forum.countPostsToday
        p 今日回复