-const {username, uid, description, postCount, threadCount, kcb, xsf, navbarDesc} = targetUser;
.row
  .col-xs-12.col-md-12
    .media.user-info-list.forum-list
      .media-left
        a(href=`/u/${uid}`)
          img.media-object(src=`/avatar/${uid}` style='width: 80px;height: 80px;border-radius: 7px;')
      .media-body
        .displayName
          h4(style='margin: 0.2rem 0;')
            a(href=`/u/${uid}` title=description style='text-decoration: none;')
              span= username
            if data.user && uid !== data.user.uid
              if data.userSubscribe.subscribeUsers.includes(uid)
                button.btn.btn-sm.cancel-subscribe-btn(style='padding: 0 10px;float: right;' onclick=`subscribeUser(${uid}, false)`) 取关
              else
                button.btn.btn-sm.subscribe-btn(style='padding: 0 10px;float: right;' onclick=`subscribeUser(${uid}, true)`) 关注
        .info
          span= `证书：${navbarDesc.cs}`
          br
          span= `文章：${threadCount} 回复：${postCount}`
        .description
          p= description || '暂未填写个人简介'

      //.user-info-list.forum-list(style=`min-height: 10em;padding-top: 0.5rem;${data.user && uid === data.user.uid?'border: 1px solid #337ab7': ''}`)
      //  .displayName
      //    h4(style='margin: 0.5rem 0;')
      //      a(href=`/u/${uid}` title=description style='text-decoration: none;')
      //        img(src=`/avatar/${uid}` style='width: 3rem;height: 3rem;border-radius: 50%;')
      //        span &nbsp;
      //        span= username
      //      if data.user && uid !== data.user.uid
      //        if data.userSubscribe.subscribeUsers.includes(uid)
      //          button.btn.btn-sm.cancel-subscribe-btn(style='float: right;' onclick=`subscribeUser(${uid}, false)`) 取关
      //        else
      //          button.btn.btn-sm.subscribe-btn(style='float: right;' onclick=`subscribeUser(${uid}, true)`) 关注
      //  .info
      //    span= navbarDesc.cs
      //    p!=`回复:${postCount}&nbsp;&nbsp;文章:${threadCount}`
      //    p!=`学术分:${xsf}&nbsp;科创币:${kcb}`
      //  .description
      //    p= description || '暂未填写个人简介'