-const {username, uid, description, postCount, threadCount, kcb, xsf, navbarDesc} = targetUser;
.row
  .col-xs-12.col-md-12
    .media.user-info-list.forum-list
      .media-left
        a(href=`/u/${uid}`)
          img.media-object(src=`/avatar/${uid}` style='width: 80px;height: 80px;border-radius: 7px;')
      .media-body
        .displayName
          h4(style='margin: 0.2rem 0;')
            a(href=`/u/${uid}` title=description style='text-decoration: none;')
              span= username
            if data.user && uid !== data.user.uid
              if data.userSubscribe.subscribeUsers.includes(uid)
                button.btn.btn-sm.cancel-subscribe-btn(style='padding: 0 10px;float: right;' onclick=`subscribeUser(${uid}, false)`) 取关
              else
                button.btn.btn-sm.subscribe-btn(style='padding: 0 10px;float: right;' onclick=`subscribeUser(${uid}, true)`) 关注
        .info
          span= `证书：${navbarDesc.cs}`
          br
          span= `文章：${threadCount} 回复：${postCount}`
        .description
          p(style='margin-top: 0;')= description || '暂未填写个人简介'