- data.forumList = data.forums
- data.disabledCategory = true;
include forumlist_dropdown
.panel.panel-default
  .panel-heading
    span= data.forum.displayName
    span &nbsp;&nbsp;&nbsp;
    a(href=`/f/${data.forum.fid}` style='text-decoration: none;') 查看专业

  .list-group
    a.list-group-item(href=`/f/${data.forum.fid}/settings/image`)
      span.fa.fa-user-circle &nbsp;&nbsp;
      span 图片设置
    a.list-group-item(href=`/f/${data.forum.fid}/settings/info`)
      span.fa.fa-user-circle &nbsp;&nbsp;
      span 基本信息设置
    a.list-group-item(href=`/f/${data.forum.fid}/settings/category`)
      span.fa.fa-user-circle &nbsp;&nbsp;
      span 分类设置
    a.list-group-item(href=`/f/${data.forum.fid}/settings/permission`)
      span.fa.fa-user-circle &nbsp;&nbsp;
      span 权限设置
button.btn.btn-primary.btn-block(onclick='newForum()') 添加专业
button.btn.btn-danger.btn-block(onclick=`deleteForum("${data.forum.fid}")`) 删除当前专业