hr
-var classString = mainContainer1400?'container-fluid':'container'
-var styleString = mainContainer1400?'max-width:1400px;':''
div(class=`${classString}` style=`${styleString}`)
  .row
    .col-md-12
      ul.HomeFriendlyLink
        include nkc_footer_links.pug
        include nkc_friendlies.pug
      //hr.hrNarrowSpace
      p #{server.name}
        a(href=`${server.github}`) #{server.github}
      p #{data?data.site?data.site.copyright:'':''} 
      p.lighttext 蜀ICP备11004945号-2 川公网安备51010802000058号
      br
