//nav.navbar.navbar-default
- var navbar = data.navbar || {}
if data.user
  -var newMessage = data.user.newMessage;
  -var messageSum = (newMessage.message || 0) + (newMessage.system || 0) + (newMessage.at || 0) + (newMessage.replies || 0);
nav.navbar.navbar-default.nkcshade(style='background-color:#f3f3f3;line-height: 0;')
  .container-fluid(style='max-width: 1400px')
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        if messageSum > 0
          span(style="position: absolute;top: 0px; right: 0px;height: 0.5rem;width: 0.5rem;border-radius: 0.25rem;background-color: red")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/" style='color: #337ab7; font-size: 2.2rem')!= `${data.site?data.site.name: '科创论坛'}`
      -var navbar_highlight = data.navbar_highlight||navbar.highlight
      -var isActive = function(label){return (navbar_highlight==label)?'background-color: #337ab7;color: #fff;':''}
      ul.pagination.nav.navbar-nav.navbar-left.nav-btn(style='padding:0 0 0 2rem')
        li
          a(href='/' title='扫一眼' style=`${isActive('latest')}`) 最新
        li
          a(href=`/f` title='最新内容' style=`${isActive('forums')}`) 分类
        if(data.user)
          li
            a(href=`/u/${data.user.uid}/activities` title='板块学院' style=`${isActive('activities')}`) 我的
        li
          a(href=`/fund` title='科创基金' style=`${isActive('fund')}`) 基金
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      form.navbar-form.navbar-left(style='border: none;' action='/search' method='GET')
        .form-group(style='overflow: hidden;width: 100%')
          input.form-control(type="text" placeholder="关键词、文号、用户" style='width: 75%; float: left; border-top-right-radius: 0;border-bottom-right-radius: 0; border-right: none' name='q')
          button.btn.btn-default(type="submit" style='width: 25%; float: left;border-top-left-radius: 0; border-bottom-left-radius: 0') 搜索
      ul.nav.navbar-nav.navbar-right.nav-font-color
        if !data.user
          li
            a(style='color: #337ab7;padding-right: 0.1rem' href='/login' title='还记得密码吗？') 登录
          li
            a(style='color: #337ab7;padding-right: 0.1rem' href='/register/mobile' title='恭喜！\n你发现了世界上\n最难注册的论坛') 注册
        else
          li
            - var user = data.user
            - var navbarDesc = user.navbarDesc;
            - var title = `${navbarDesc.username}\n`+`学术分 ${navbarDesc.xsf}\n`+`科创币 ${navbarDesc.kcb}\n`+`${navbarDesc.cs}`;
            a(style='color: #337ab7;padding-right: 0.1rem' href='/me' title=`${title}`)= user.username
          li

            a(style='color: #337ab7;padding-right: 0.1rem' href='/sms') 信
              if(messageSum > 0)
                -if(messageSum >= 100){messageSum='99+'}
                  span.messageNumber #{messageSum}
          if data.userLevel >= 4
            li
              a(style='color: #337ab7;padding-right: 0.1rem' href='/e' title='管理界面') 管
          li
            a(style='color: #337ab7;padding-right: 0.1rem' href=`/u/${data.user.uid}/collections/unclassified` title='我的收藏') 藏
          li
            a(style='color: #337ab7;padding-right: 0.1rem' href=`/logout` title='不，不要走！') 退
