mixin app
  .col-xs-12.col-md-4
    div.text-center(style="width: 114px;height:150px;")
      canvas#androidQrcode
      a(href='/app' style='font-size: 1rem;color: #555555;margin-top: 0.3rem;') 安卓客户端
if !hiddenFooter
  if homeFooter
    .container-fluid(style='max-width: 1400px;')
      .row(style='margin: 1rem 0;')
        .col-xs-12.col-md-6.col-md-offset-2
          ul.HomeFriendlyLink
            include nkc_footer_links.pug
            if data.navbar && data.navbar.highlight === 'latest'
              include nkc_friendlies.pug
          //hr.hrNarrowSpace
          //p #{data.serverSettings.serverName} &nbsp
          p Github &nbsp
            a(href=`${data.serverSettings.github}` target='_blank') #{data.serverSettings.github}
          p #{data.serverSettings.copyright}
          p.lighttext= data.serverSettings.record
        +app

  else
    -var classString = mainContainer1400?'container-fluid':'container'
    -var styleString = mainContainer1400?'max-width:1400px;':'';
    .container-fluid(style='background-color: #f6f6f6;padding-top: 2rem;border-top: 1px solid #dddddd;margin-top: 3rem;')
      //- div(class=`${classString}` style=`${styleString}`)
      div.container-fluid.max-width
        .row
          .col-md-8
            ul.HomeFriendlyLink
              include nkc_footer_links.pug
              if data.navbar && data.navbar.highlight === 'latest'
                include nkc_friendlies.pug
            //hr.hrNarrowSpace
            p Github &nbsp
              a(href=`${data.serverSettings.github}` target='_blank') #{data.serverSettings.github}
            p #{data.serverSettings.copyright}
            p.lighttext= data.serverSettings.record
            br
          +app