mixin renderHome(homeBlock)
  -var hasPermission = permission('nkcManagementHome');
  mixin homeBlockHeader(name, _id, hideHeader, showOptions)
    .panel-header(class=hideHeader? 'move-handle': '')
      if hasPermission
        span.home-forums-list-icon.fa.fa-bars.move-handle.m-r-1
      span=name
      if hasPermission && showOptions
        .home-forums-list-options.move-handle
          button.home-title-r.btn-primary.btn.btn-xs(onclick=`editorBlock()`) 编辑
          button.home-title-r.btn-danger.btn.btn-xs(onclick=`del()`) 删除
          button.home-title-r.btn-warning.btn.btn-xs(onclick='disabled()') 屏蔽
  if homeBlock._id === 'recommendThreadsMovable'
    //轮播图
    .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
      +homeBlockHeader('轮播图', homeBlock._id, true)
      .home-swipers(style='height:220px')
        .swiper-container.swiper-home
          .swiper-wrapper
            for thread in homeBlock.data
              a.swiper-slide(href=`/t/${thread.tid}` target="_blank" style={
                'background-image': `url(${tools.getUrl('recommendThreadCover', thread.cover)})`
              })
                .swiper-title= `${thread.title}`
          .swiper-pagination
          .swiper-button-next.swiper-button(style='background-image: none;')
            .fa.fa-angle-right
          .swiper-button-prev.swiper-button(style='background-image: none;')
            .fa.fa-angle-left
  else if homeBlock._id === 'recommendThreadsFixed'
    //右侧小图
    .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
      .home-title-box
        .home-title-l
          span.fa.fa-bars.move-handle.m-r-1
      .home-swipers(style='height:auto')
        .home-covers-sm
          for thread, index in homeBlock.data
            .home-cover-sm
              a(href=`/t/${thread.tid}` target="_blank" title=thread.title
                class=index > 2 ? 'm-b-0' : ''
              )
                .home-covers-sm-img(style=`background-image:url(${tools.getUrl('recommendThreadCover', thread.cover)})`)
                .home-covers-sm-title=thread.title
  else if homeBlock._id === 'toppedThreads'
    //首页顶置
    if homeBlock.data.length
      .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
        +homeBlockHeader('首页置顶', homeBlock._id)
        .home-threads
          for thread in homeBlock.data
            include ../publicModules/thread_panel/thread_panel
  else if homeBlock._id === 'goods'
    //热销商品
    if homeBlock.data.length
      .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
        span.fa.fa-bars.move-handle.m-r-1
        span.panel-header.m-b-0.home-title 热销商品
        .home-goods
          for goods in homeBlock.data
            .home-goods-content
              .home-goods-avatar
                div(style=`background-image: url(/r/${goods.imgMaster})`)
              .home-goods-info
                a(href=`/t/${goods.tid}` title=goods.name).home-goods-name=goods.name
                .home-goods-description=goods.abstract
                .home-goods-other
                  a.home-goods-user(href=`/u/${goods.user.uid}`)
                    img(src=tools.getUrl("userAvatar", goods.user.avatar) data-float-uid=goods.user.uid)
                    span=goods.user.username
                  .home-goods-price
                  if !goods.productSettings.priceShowToVisit && !data.user
                    .home-goods-price 登录可见
                  else
                    -let minPrice, maxPrice;
                    for p in goods.productParams
                      -const price = p.price;
                      if minPrice === undefined || minPrice > price
                        -minPrice = price;
                      if maxPrice === undefined || maxPrice < price
                        -maxPrice = price;
                    if minPrice === maxPrice
                      .home-goods-price=`￥${minPrice / 100}`
                    else
                      .home-goods-price=`￥${minPrice / 100} - ￥${maxPrice / 100}`
        .home-goods-forums 更多请访问：
          for f in data.goodsForums
            a(href=`/f/${f.fid}` data-float-fid=f.fid)
              if f.logo
                img.home-goods-forum-icon(src=tools.getUrl("forumLogo", f.logo))
              else
                .home-goods-forum-icon(style=`background-color: ${f.color}`)
              span=f.displayName
  else if homeBlock._id === 'hotColumns'
    //热门专栏
    .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
      span.fa.fa-bars.move-handle.m-r-1
      span.panel-header.m-b-0.home-title 热门专栏
      //-.home-header
        //- fa.fa-flask
        .header-name 热门专栏
        //.header-description 关注最新学科，足不出户便能游遍世界~
      .home-columns
        for column in homeBlock.data
          a(href=`/m/${column._id}` target="_blank").home-column
            .home-column-avatar
              img(src=tools.getUrl("columnAvatar", column.avatar))
            .home-column-info
              .home-column-title= column.name
              .home-column-description= column.abbr || "无简介"
              .home-column-statics
                span=tools.briefTime(column.tlm) + "更新 "
                span= "共" + column.postCount + "篇文章"
      .m-t-05
        a.home-threads-more-link(href=`/m`) 查看更多
    if !state.userColumn && data.user && state.columnPermission
      .home-columns-link.m-b-1
        a(href=`/column/apply` target="_blank") 开设专栏
        .home-columns-link-info 你的账号已满足开设专栏所需要的所有条件，点击按钮即可开设个人专栏。
  else if homeBlock._id === 'toppedColumns'
    //置顶专栏
    if homeBlock.data && homeBlock.data.length > 0
      mixin columnPanel(column, klass)
        .home-main-column.row
          .col-xs-12.col-md-6
            .home-main-column-left
              .home-main-column-avatar
                img(src=tools.getUrl('columnAvatar', column.avatar))
              .home-main-column-info
                a(href=tools.getUrl('columnHome', column._id) target="_blank").home-main-column-name=column.name
                .home-main-column-desc(title=column.abbr)=column.abbr || '暂无简介'
          .col-xs-12.col-md-6
            .home-main-column-right(class=klass || '')
              .home-main-column-posts(style=`border-left: 3px solid ${0 || '#ccc'};`)
                for p, index in column.posts
                  .home-main-column-post
                    .latest-thread-point
                    a(href=`/t/${p.tid}` target="_blank" title=p.t)=p.t
                    .home-main-column-post-time
                      +fromNow(p.toc)
      .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
        span.fa.fa-bars.move-handle.m-r-1
        span.panel-header.m-b-0.home-title 置顶专栏
        .home-main-columns
          for column, index in homeBlock.data
            -var klass = index === data.toppedColumns.length - 1 ? 'm-b-0' : ''
            +columnPanel(column, klass)
  else if homeBlock._id === 'forums'
    .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
      span.panel-header.m-b-0.home-title 专业导航
      for cf in data.categoryForums
        .m-b-1.category-forums
          .home-forums-parent-name=cf.name
          for f in cf.forums
            .home-forums-brief
              a.home-forums-parent(href=`/f/${f.fid}` data-float-fid=f.fid)=f.displayName
              if f.childrenForums && f.childrenForums.length
                span ：
                for cf, index in f.childrenForums
                  if index !== 0
                    span |
                  a.home-forums-child(href=`/f/${cf.fid}` data-float-fid=cf.fid style=`background-color: ${hexToRgba(f.color, 0.1)}`)=cf.displayName
  else if homeBlock._id === 'management'
    .home-forums-list.m-b-1.home-category-master-handle(id=`dom-${homeBlock._id}` data-cid=`${homeBlock._id}`)
      include ../publicModules/management/management
mixin hidForm
  div.hidden#hiddenForm
    form.newBlock.form-horizontal(:model="form")
      .form-group
        label.col-sm-3.control-label 模块名称
        .col-sm-9
          input.form-control(placeholder="请输入模块名称" value="" v-model="form.name")
      .form-group
        label.col-sm-3.control-label 专业分类：
        .col-sm-9
          button(type="button" @click="selectForums()") 选择专业
          div.selectedForums(v-if="selectedForums.length")
            span 已选专业：
            span(v-for="(forum) in selectedForums" :style=`'background-color:'+forum.color`) {{forum.fName}}
              span.fa.fa-close.removeF(@click="removeForum(forum.fid)")
      .form-group
        label.col-sm-3.control-label 文章属性：
        .col-sm-9
          thread-category-list(:categories="threadCategories" :tcid='selectedHomeCategoriesId' ref='homeCategoryList')
      .form-group
        label.col-sm-3.control-label 是否为精选文章
        .col-sm-9
          .radio
            label.radio-inline
              input(type="radio" v-model="form.digest" name="digest" value="0")
              | 是
            label.radio-inline
              input(type="radio" v-model="form.digest" name="digest" value="1")
              | 否
      .form-group
        label.col-sm-3.control-label 是否为原创文章
        .col-sm-9
          .radio
            label.radio-inline
              input(type="radio" v-model="form.origin" name="origin" value="0")
              | 是
            label.radio-inline
              input(type="radio" v-model="form.origin" name="origin" value="1")
              | 否
      .form-group
        label.col-sm-3.control-label 回复数最小值
        .col-sm-9
          input.form-control(placeholder="请输入回复数最小值" v-model="form.postCountMin")
      .form-group
        label.col-sm-3.control-label 点赞最小数值
        .col-sm-9
          input.form-control(placeholder="请输入点赞最小数值" v-model="form.voteUpMin")
      .form-group
        label.col-sm-3.control-label 文章加所有回复的点赞数的最小值
        .col-sm-9
          input.form-control(placeholder="请输入文章点赞数的最小值" v-model="form.voteUpTotalMin")
      .form-group
        label.col-sm-3.control-label 最大点踩数
        .col-sm-9
          input.form-control(placeholder="请输入最大点踩数" v-model="form.voteDownMax")
      .form-group
        label.col-sm-3.control-label 更新间隔时间/小时
        .col-sm-9
          input.form-control(placeholder="请输入更新间隔时间" v-model="form.updateInterval")
      .form-group
        label.col-sm-3.control-label 发表时间距离当前最小值/天
        .col-sm-9
          input.form-control(placeholder="请输入发表时间距离" v-model="form.timeOfPostMin")
      .form-group
        label.col-sm-3.control-label 发表时间距离当前最大值/天
        .col-sm-9
          input.form-control(placeholder="请输入发表时间距离" v-model="form.timeOfPostMax")
      .form-group
        label.col-sm-3.control-label 文章列表风格
        .col-sm-9
          input.form-control(placeholder="请输入发表时间距离" v-model="form.threadStyle")
      .form-group
        label.col-sm-3.control-label 文章列表css样式
        .col-sm-9
          input.form-control(placeholder="请输入发表时间距离" v-model="form.blockStyle")
      .form-group
        label.col-sm-3.control-label 文章封面图位置
        .col-sm-9
          input.form-control(placeholder="请输入发表时间距离" v-model="form.coverPosition")
      .form-group
        label.col-sm-3.control-label 文章篇数
        .col-sm-9
          input.form-control(placeholder="请输入文章篇数" v-model="form.threadCount")
      .form-group
        label.col-sm-3.control-label 屏蔽
        .col-sm-9
          .radio
            label.radio-inline
              input(type="radio" v-model="form.disabled" name="disabled" value="0")
              | 是
            label.radio-inline
              input(type="radio" v-model="form.disabled" name="disabled" value="1")
              | 否
      .form-group
        label.col-sm-3.control-label 手动推送文章显示条数
        .col-sm-9
          input.form-control(placeholder="请输入手动推送文章显示条数" v-model="form.fixedThreadCount")
      .form-group
        label.col-sm-3.control-label 自动推送文章入选条数
        .col-sm-9
          input.form-control(placeholder="请输入自动推送文章入选条数" v-model="form.autoThreadCount")
      .form-group
        label.col-sm-3.control-label 自动选择的文章 ID
        .col-sm-9
          input.form-control(placeholder="请输入自动选择的文章 ID" v-model="form.autoThreadsId")
      .form-group
        label.col-sm-3.control-label 手动选择的文章 ID
        .col-sm-9
          input.form-control(placeholder="请输入手动选择的文章 ID" v-model="form.fixedThreadsId")
      .form-group
        label.col-sm-3.control-label 显示时的排序
        .col-sm-9
          input.form-control(placeholder="请输入显示时的排序" v-model="form.sort")
