extend ../bootstrap_base
block title
  include ../publicModules/web_header
  +includeCSS("/home/home_all.css")
  +includeCSS("/swiper/dist/css/swiper.css")
block content
  mixin forumList(f)
    .home-forums-body
      .home-forum-parent
        a(href=`/f/${f.fid}` data-float-fid=f.fid).home-forum-panel
          if f.logo
            img.home-forum-panel-icon(src=tools.getUrl('forumLogo', f.logo))
          else
            .home-forum-panel-icon(style=`background-color: ${f.color}`)
          .home-forum-panel-name
            div
              span=f.displayName
      .home-forum-child
        for cf in f.childrenForums || []
          a(href=`/f/${cf.fid}` data-float-fid=cf.fid).home-forum-panel
            if cf.logo
              img.home-forum-panel-icon(src=tools.getUrl('forumLogo', cf.logo))
            else
              .home-forum-panel-icon(style=`background-color: ${cf.color}`)
            .home-forum-panel-name
              div
                span=cf.displayName
  mixin detailedForumList(f, disableChild)
    -f.childrenForums = f.childrenForums || [];
    .detailed-forums-body
      .detailed-forum
        .row.detailed-forum-body(class=disableChild?'':'m-b-1')
          div(class=f.childrenForums.length ? 'col-md-12': 'col-md-6').col-xs-12
            .detailed-forum-panel
              if disableChild
                if f.logo
                  img.detailed-forum-panel-icon(src=tools.getUrl('forumLogo', f.logo) data-float-fid=f.fid data-float-position="right")
                else
                  .detailed-forum-panel-icon(style=`background-color: ${f.color}` data-float-fid=f.fid data-float-position="right")
              .detailed-forum-panel-info(class=disableChild?'':'p-l-0')
                .detailed-forum-panel-name
                  a(href=`/f/${f.fid}` data-float-fid=f.fid data-float-position="right")=f.displayName
                .detailed-forum-panel-description(title=f.description class=disableChild? '':'parent')
                  span=f.description || '暂无简介'
          if f.latestThreads && f.latestThreads.length
            .col-xs-12.col-md-6
              .detailed-forum-latest-threads(style=`border-left-color: ${f.color}`)
                for thread, index in f.latestThreads
                  .detailed-forum-latest-thread
                    .latest-thread-point
                    a(href=`/t/${thread.tid}` title=thread.post.t)=thread.post.t
                    span.time=fromNow(thread.tlm)
          if f.childrenForums.length && !disableChild
            .col-xs-12.col-md-12.detailed-forums-padding-left
              for ff in f.childrenForums
                +detailedForumList(ff, true)
  mixin normalForumList(f, disableChild)
    -f.childrenForums = f.childrenForums || [];
    .detailed-forums-body
      .detailed-forum
        .row.detailed-forum-body(class=disableChild?'':'m-b-1')
          div.col-xs-12.col-md-12
            .detailed-forum-panel
              if disableChild
                if f.logo
                  img.detailed-forum-panel-icon(src=tools.getUrl('forumLogo', f.logo) data-float-fid=f.fid data-float-position="right")
                else
                  .detailed-forum-panel-icon(style=`background-color: ${f.color}` data-float-fid=f.fid data-float-position="right")
              .detailed-forum-panel-info(class=disableChild?'':'p-l-0')
                .detailed-forum-panel-name
                  a(href=`/f/${f.fid}` data-float-fid=f.fid data-float-position="right")=f.displayName
                .detailed-forum-panel-description(title=f.description class=disableChild? '':'parent')
                  span=f.description || '暂无简介'
          if f.childrenForums.length && !disableChild
            //.detailed-forums-padding-left
            for ff in f.childrenForums
              .col-xs-12.col-md-6.detailed-forums-padding-left
                +normalForumList(ff, true)


  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.box-shadow-panel
        //- 只有封面图的文章入口 轮播
        .home-top
          .home-covers
            .row
              .col-xs-12.col-md-6.home-covers-md
                .swiper-container.swiper-home
                  .swiper-wrapper
                    for thread in data.ads.movable
                      a.swiper-slide(href=`/t/${thread.tid}` target="_blank" style={
                        'background-image': `url(${tools.getUrl('recommendThreadCover', thread.cover)})`
                      })
                        .swiper-title= `${thread.title}`
                  .swiper-pagination
                  .swiper-button-next.swiper-button(style='background-image: none;')
                    .fa.fa-angle-right
                  .swiper-button-prev.swiper-button(style='background-image: none;')
                    .fa.fa-angle-left
              .col-xs-12.col-md-6.hidden-xs.hidden-sm
                .row.home-covers-sm
                  for thread in data.ads.fixed
                    .home-cover-sm
                      a(href=`/t/${thread.tid}` target="_blank" title=thread.title)
                        .home-covers-sm-img(style=`background-image:url(${tools.getUrl('recommendThreadCover', thread.cover)})`)
                        .home-covers-sm-title=thread.title
            .hidden-md.hidden-lg.hidden-sm.home-buttons
              .col-xs-4
                a(href=`/?t=latest`) 最新
              .col-xs-4
                if data.user
                  a(href=`/?t=subscribe`) 关注
                else
                  a(onclick=`Login.open()`) 关注
              .col-xs-4
                if data.user
                  a(href=`/u/${data.user.uid}/profile`) 我的
                else
                  a(onclick=`Login.open()`) 我的
      //- 专业地图
      .col-xs-12.col-md-8.home-forums.box-shadow-panel

        if data.toppedThreads.length
          .home-forums-list.m-b-1
            .home-header
              //-.fa.fa-tags
              .header-name 置顶
            .home-threads.p-t-05
              for thread in data.toppedThreads
                include ../publicModules/thread_panel/thread_panel

        if data.columns.length
          .home-forums-list.m-b-1
            .home-header
              //- fa.fa-flask
              .header-name 热门专栏
              //.header-description 关注最新学科，足不出户便能游遍世界~
            .home-columns
              for column in data.columns
                a(href=`/m/${column._id}`).home-column
                  .home-column-avatar
                    img(src=tools.getUrl("columnAvatar", column.avatar))
                  .home-column-name=column.name
            if !state.userColumn && data.user && state.columnPermission
              .home-columns-link
                a(href=`/column/apply`) 开设专栏
                .home-columns-link-info 你的账号已满足开设专栏所需要的所有条件，点击按钮即可开设个人专栏。

        if data.originalThreads.length
          .home-forums-list.m-b-1
            .home-header
              //-.fa.fa-tags
              .header-name 最新原创
            .home-threads.p-t-05
              if !data.originalThreadDisplayMode || data.originalThreadDisplayMode === "simple"
                for thread in data.originalThreads
                  include ../publicModules/thread_panel/thread_panel_simple
              if data.originalThreadDisplayMode === "full"
                for thread in data.originalThreads
                  include ../publicModules/thread_panel/thread_panel
              a.home-threads-more-link(href=`/?t=latest`) 查看全部新讨论

        for cf in data.categoryForums
          .home-forums-list.m-b-1
            .home-header
              .header-name(title=cf.description)=cf.name
            for f in cf.forums
              if cf.displayStyle === 'simple'
                +forumList(f, cf.displayStyle)
              else if cf.displayStyle === 'detailed'
                +detailedForumList(f)
              else
                +normalForumList(f)

        //.home-forums-list.m-b-1
        //  .home-header
        //    //-.fa.fa-tags
        //    .header-name 话题
        //  for f in data.forumsTree
        //    if f.forumType === "topic"
        //      +forumList(f)
        //.home-forums-list.m-b-1
        //  .home-header
        //    //- fa.fa-flask
        //    .header-name 学科
        //  for f in data.forumsTree
        //    if f.forumType === "discipline"
        //      +forumList(f)
        if data.goodsForums.length && data.showShopGoods
          .home-forum-list.m-b-1
            .home-header
              .header-name 热销商品
            .home-goods
              for goods in data.goods
                .home-goods-content
                  .home-goods-avatar
                    div(style=`background-image: url(/r/${goods.imgMaster})`)
                  .home-goods-info
                    a(href=`/t/${goods.tid}` title=goods.name).home-goods-name=goods.name
                    .home-goods-description=goods.abstract
                    .home-goods-other
                      a.home-goods-user(href=`/u/${goods.user.uid}`)
                        img(src=tools.getUrl("userAvatar", goods.user.avatar) data-float-uid=goods.user.uid)
                        span=goods.user.username
                      .home-goods-price
                      if !goods.productSettings.priceShowToVisit && !data.user
                        .home-goods-price 登录可见
                      else
                        -let minPrice, maxPrice;
                        for p in goods.productParams
                          -const price = p.price;
                          if minPrice === undefined || minPrice > price
                            -minPrice = price;
                          if maxPrice === undefined || maxPrice < price
                            -maxPrice = price;
                        if minPrice === maxPrice
                          .home-goods-price=`￥${minPrice/100}`
                        else
                          .home-goods-price=`￥${minPrice/100} - ￥${maxPrice/100}`
            .home-goods-forums 更多请访问：
              for f in data.goodsForums
                a(href=`/f/${f.fid}` data-float-fid=f.fid)
                  if f.logo
                    img.home-goods-forum-icon(src=tools.getUrl("forumLogo", f.logo))
                  else
                    .home-goods-forum-icon(style=`background-color: ${f.color}`)
                  span=f.displayName

      .col-xs-12.col-md-4.box-shadow-panel.p-l-0
        if data.user && data.subForums.length
          .home-forums-list.m-b-1
            .home-header
              //.fa.fa-tags
              .header-name 关注的专业
              //.header-description 关注最新话题，足不出户便能游遍世界~
            .home-subscribes
              if data.subscribesDisplayMode === "column"
                for forum in data.subForums
                  include ./subscribes_column
              if data.subscribesDisplayMode === "row" || !data.subscribesDisplayMode
                for forum in data.subForums
                  a(href=`/f/${forum.fid}` data-float-fid=forum.fid).home-subscribe-forum
                    .home-subscribe-forum-avatar
                      if forum.logo
                        img(src=tools.getUrl("forumLogo", forum.logo))
                      else
                        div(style=`background-color: ${forum.color}`)
                    .home-subscribe-forum-info=forum.displayName

        .m-b-1
          include ../publicModules/canvas_logo
        include ../publicModules/improveUserInfo
        .home-forums-other.m-b-1
          .home-header
            .header-name 公告通知
          .home-notices
            for thread in data.notices
              .home-notice
                a(href=`/t/${thread.tid}`)= thread.firstPost.t
        if permissionsOr(["visitExperimentalStatus", "complaintGet", "review", "visitProblemList", "getLibraryLogs", "nkcManagement"])
          .home-forums-other.m-b-1
            .home-header
              .header-name 网站管理
            .home-managements
              if permission("nkcManagement")
                a.home-management(href="/nkc")
                  .fa.fa-cogs
                  span &nbsp;前台管理
              if permission("visitExperimentalStatus")
                a.home-management(href="/e")
                  .fa.fa-cogs
                  span &nbsp;后台管理
              if permission("review")
                a.home-management(href="/review")
                  .fa.fa-shield
                  span &nbsp;审核内容
                  if data.unReviewedCount
                    .count=data.unReviewedCount
              if permission("complaintGet")
                a.home-management(href="/complaint")
                  .fa.fa-minus-circle
                  span &nbsp;投诉列表
                  if data.unResolvedComplaintCount
                    .count=data.unResolvedComplaintCount
              if permission("visitProblemList")
                a.home-management(href="/problem/list")
                  .fa.fa-exclamation-circle
                  span &nbsp;问题列表
                  if data.unResolvedProblemCount
                    .count=data.unResolvedProblemCount
              if permission("getLibraryLogs")
                a.home-management(href="/libraries/logs")
                  .fa.fa-book
                  span &nbsp;文库记录
        .home-forums-other.m-b-1.m-t-1
          .home-header
            .header-name 应用
          .home-apps
            if data.enableFund
              a.home-app(href=`/fund`)
                .home-app-img
                  img(src=`/statics/apps/fund.png`)
                .home-app-name= data.fundName || "基金"
            a.home-app(href=`/exam`)
              .home-app-img
                img(src=`/statics/apps/exam.png`)
              .home-app-name 考试系统
            if data.showActivityEnter
              a.home-app(href=`/activity`)
                .home-app-img
                  img(src=`/statics/apps/activity.png`)
                .home-app-name 活动
            if data.siteToolEnabled
              a.home-app(href=`/tools`)
                .home-app-img
                  img(src=`/statics/apps/tools.png`)
                .home-app-name 计算工具
        if data.enableFund
          .home-forums-other.m-b-1
            .home-header
              .header-name 最新基金申请
            .home-funds
              for form in data.fundApplicationForms
                .home-fund
                  a.home-fund-name(href=`/fund/a/${form._id}`)=form.project.t
                  .home-fund-info
                    .home-fund-code=form.code
                    a(href=`/fund/list/${form.fund._id}`).home-fund-link.fund-name=form.fund.name
                    a(href=`/u/${form.uid}`).home-fund-user
                      img(src=tools.getUrl("userAvatar", form.applicant.user.avatar) data-float-uid=form.uid)
                      span=form.applicant.user.username

              a.home-fund-donation(href=`/fund/donation`)= `赞助${data.fundName}`
        //- 最新回复
        .home-forums-other.m-b-1
          .home-header
            .header-name 最新回复
          .home-posts
            for post in data.latestPosts
              .home-post
                .home-post-time=fromNow(post.toc)
                if !post.user
                  span 匿名用户
                else
                  a.home-post-user(href=`/u/${post.user.uid}`)
                    img(src=tools.getUrl("userAvatar", post.user.avatar) data-float-uid=post.user.uid)
                    span=post.user.username
                if post.type === "reply"
                  span 回复
                else
                  span 评论
                if !post.targetUser
                  span 匿名用户
                else
                  a.home-post-user(href=`/u/${post.targetUser.uid}`)
                    img(src=tools.getUrl("userAvatar", post.targetUser.avatar) data-float-uid=post.targetUser.uid)
                    span=post.targetUser.username
                span ：
                a.home-post-content(href=post.url)
                  div=post.c

        //- 推荐阅读
        .home-forums-other.m-b-1
          .home-header
            .header-name 推荐阅读
          .home-threads
            for thread in data.featuredThreads
              .home-thread
                a(href=`/t/${thread.tid}`).home-thread-title=thread.firstPost.t
                if thread.firstPost.cover
                  .home-thread-cover
                    img(src=tools.getUrl("postCover", thread.firstPost.cover))
                .home-thread-content
                  .home-thread-abstract=thread.firstPost.abstractCn || thread.firstPost.c
                  .home-thread-info
                    if thread.firstPost.anonymous
                      a.home-thread-user
                        img(src=anonymousInfo.avatar)
                        span=anonymousInfo.username
                    else
                      a(href=`/u/${thread.firstPost.uid}`).home-thread-user
                        img(src=tools.getUrl("userAvatar", thread.firstPost.user.avatar) data-float-uid=thread.firstPost.uid)
                        span=thread.firstPost.user.username
                    a(href=`/f/${thread.forums[0].fid}` data-float-fid=thread.forums[0].fid).home-thread-forum=thread.forums[0].displayName
        .home-forums-other.m-b-1
          .home-header
            //- fa.fa-flask
            .header-name 活跃用户
            //.header-description 关注最新学科，足不出户便能游遍世界~
          .home-users
            for u in data.activeUsers
              a(href=`/u/${u.uid}` data-float-uid=u.uid).home-user
                .home-user-avatar
                  img(src=tools.getUrl("userAvatar", u.avatar))
                .home-user-name=u.username
block scripts
  include ../publicModules/subscribeTypes/subscribeTypes
  include ../publicModules/floatForumPanel/floatForumPanel
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  // 23
  +includeJS("/swiper/dist/js/swiper.js")
  +includeJS("/home/home_all.js")
