extend ../bootstrap_base
block title
  include ../publicModules/web_header
  +includeCSS("/css/home/home_all.css")
  +includeCSS("/swiper/dist/css/swiper.css")
block content  
  mixin forumList(f)
    .home-forums-body
      .home-forum-parent
        a(href=`/f/${f.fid}`).home-forum-panel
          if f.iconFileName
            img.home-forum-panel-icon(src=`/forum_avatar/${f.fid}`)
          else
            .home-forum-panel-icon(style=`background-color: ${f.color}`)
          .home-forum-panel-name
            div
              span=f.displayName
      .home-forum-child
        for cf in f.childrenForums || []
          a(href=`/f/${cf.fid}`).home-forum-panel
            if cf.iconFileName
              img.home-forum-panel-icon(src=`/forum_avatar/${cf.fid}`)
            else
              .home-forum-panel-icon(style=`background-color: ${cf.color}`)
            .home-forum-panel-name
              div
                span=cf.displayName

  .home-top
    .container-fluid.max-width
      //- 只有封面图的文章入口 轮播
      .col-xs-12.col-md-12.home-covers
        .row
          .col-xs-12.col-md-6.home-covers-md.m-b-1.m-t-1
            .swiper-container.swiper-home
              .swiper-wrapper
                for thread in data.ads
                  a.swiper-slide(href=`/t/${thread.tid}` target="_blank" style={
                    'background-image': `url(${tools.getUrl('postCover', thread.cover)})`
                  })
                    .swiper-title= `${thread.title}`
              .swiper-pagination
              .swiper-button-next.swiper-button(style='background-image: none;')
                .fa.fa-angle-right
              .swiper-button-prev.swiper-button(style='background-image: none;')
                .fa.fa-angle-left
          .col-xs-12.col-md-6
            .row
              for thread in data.ads
                .col-xs-6.col-md-4.m-b-1.m-t-1
                  a(href=`/t/${thread.tid}` target="_blank" title=thread.title).home-covers-sm
                    .home-covers-sm-img(style=`background-image:url(${tools.getUrl('postCover', thread.cover)})`)
                    .home-covers-sm-title=thread.title
        .row
          if data.user
            .col-xs-12.col-md-8
              .home-forums-list
                .home-header
                  //.fa.fa-tags
                  .header-name 关注的专业
                  .header-description 关注最新话题，足不出户便能游遍世界~
                .home-subscribes
                  for forum in data.subForums
                    a(href=`/f/${forum.fid}`).home-subscribe-forum
                      .home-subscribe-forum-avatar(title=forum.description)
                        if forum.iconFileName
                          img(src=tools.getUrl("forumAvatar", forum.fid))
                        else
                          div(style=`background-color: ${forum.color}`)
                      .home-subscribe-forum-info(title=forum.displayName)=forum.displayName
          .col-xs-12(class=data.user?"col-md-4":"col-md-12")
            .home-forums-list
              .home-header
                //.fa.fa-tags
                .header-name 推荐专业
                .header-description 热门专业推荐
              .home-subscribes
                for forum, index in data.subForums
                  if index > 3
                    -continue;
                  a(href=`/f/${forum.fid}` title=forum.description).home-subscribe-forum
                    .home-subscribe-forum-avatar
                      if forum.iconFileName
                        img(src=tools.getUrl("forumAvatar", forum.fid))
                      else
                        div(style=`background-color: ${forum.color}`)
                    .home-subscribe-forum-info=forum.displayName

  .container-fluid.max-width
    .row
      //- 专业地图
      .col-xs-12.col-md-8.home-forums.box-shadow-panel
        .home-forums-list.m-b-1
          .home-header
            .header-name 最近访问
        .home-forums-list.m-b-1
          .home-header
            //-.fa.fa-tags
            .header-name 话题
            .header-description 关注最新话题，足不出户便能游遍世界~
          for f in state.forumsTree
            if f.forumType === "topic"
              +forumList(f)
        .home-forums-list.m-b-1
          .home-header
            //- fa.fa-flask
            .header-name 学科
            .header-description 关注最新学科，足不出户便能游遍世界~
          for f in state.forumsTree
            if f.forumType === "discipline"
              +forumList(f)
        .home-forums-list.m-b-1
          .home-header
            //- fa.fa-flask
            .header-name 热门专栏
            //.header-description 关注最新学科，足不出户便能游遍世界~
          .home-columns
            for column in data.columns
              a(href=`/m/${column._id}`).home-column
                .home-column-avatar
                  img(src=tools.getUrl("columnAvatar", column.avatar))
                .home-column-name=column.name
        .home-forum-list.m-b-1
          .home-header
            .header-name 热销商品
          if data.goodsForums.length
            .home-goods-forums 交易区：
              for f in data.goodsForums
                a(href=`/f/${f.fid}`)
                  if f.iconFileName
                    img.home-goods-forum-icon(src=tools.getUrl("forumAvatar", f.fid))
                  else
                    .home-goods-forum-icon(style=`background-color: ${f.color}`)
                  span=f.displayName
          .home-goods
            for goods in data.goods
              .home-goods-content
                .home-goods-avatar
                  div(style=`background-image: url(/r/${goods.imgMaster})`)
                .home-goods-info
                  a(href=`/t/${goods.tid}` title=goods.name).home-goods-name=goods.name
                  .home-goods-description=goods.abstract
                  .home-goods-other
                    a.home-goods-user(href=`/u/${goods.user.uid}`)
                      img(src=tools.getUrl("userAvatar", goods.user.avatar) onmouseover=tools.floatUserInfo(goods.user.uid))
                      span=goods.user.username
                    .home-goods-price
                    .home-goods-price=`￥ ${goods.productParams[0].originPrice/100}`


        .home-forums-list.m-b-1
          .home-header
            .header-name 科创基金

        .home-forums-list.m-b-1
          .home-header
            //- fa.fa-flask
            .header-name 活跃用户
            //.header-description 关注最新学科，足不出户便能游遍世界~
          .home-users
            for u in data.activeUsers
              a(href=`/u/${u.uid}` onmouseover=tools.floatUserInfo(u.uid)).home-user
                .home-user-avatar
                  img(src=tools.getUrl("userAvatar", u.avatar))
                .home-user-name=u.username

                
      .col-xs-12.col-md-4.box-shadow-panel.p-l-0
        .m-b-1
          include ../publicModules/canvas_logo

        if permissionsOr(["visitExperimentalStatus", "complaintGet", "review", "visitProblemList", "getLibraryLogs"])
          .home-forums-other.m-b-1
            .home-header
              .header-name 网站管理
            .home-managements
              if permission("visitExperimentalStatus")
                a.home-management(href="/e")
                  .fa.fa-cogs
                  span &nbsp;后台管理
              if permission("review")
                a.home-management(href="/review")
                  .fa.fa-shield
                  span &nbsp;审核内容
                  if data.unReviewedCount
                    .count=data.unReviewedCount
              if permission("complaintGet")
                a.home-management(href="/complaint")
                  .fa.fa-minus-circle
                  span &nbsp;投诉列表
                  if data.unResolvedComplaintCount
                    .count=data.unResolvedComplaintCount
              if permission("visitProblemList")
                a.home-management(href="/problem/list")
                  .fa.fa-exclamation-circle
                  span &nbsp;问题列表
                  if data.unResolvedProblemCount
                    .count=data.unResolvedProblemCount
              if permission("getLibraryLogs")
                a.home-management(href="/libraries/logs")
                  .fa.fa-book
                  span &nbsp;文库记录
        .home-forums-other.m-b-1.m-t-1
          .home-header
            .header-name 应用
          .home-apps
            a.home-app(href=`/fund`)
              .home-app-img
                img(src=`/statics/apps/fund.png`)
              .home-app-name 科创基金
            a.home-app(href=`/exam`)
              .home-app-img
                img(src=`/statics/apps/exam.png`)
              .home-app-name 考试系统
            a.home-app(href=`/activity`)
              .home-app-img
                img(src=`/statics/apps/activity.png`)
              .home-app-name 活动
            a.home-app(href=`/tools`)
              .home-app-img
                img(src=`/statics/apps/tools.png`)
              .home-app-name 计算工具
        .home-forums-other.m-b-1
          .home-header
            .header-name 最近活跃用户
          .home-active-users
            for u in data.activeUsers
              a(href=`/u/${u.uid}` target="_blank" onmouseover=`floatUserPanel.open(this, '${u.uid}')`).home-active-user
                img(src=`/avatar/${u.avatar}`)

block scripts
  include ../publicModules/floatUserPanel/floatUserPanel
  +includeJS("/swiper/dist/js/swiper.js")
  +includeJS("/js/home/home_all.js")