extends ../bootstrap_base
block title
  meta(name='description' content=data.serverSettings ? data.serverSettings.description: '每天前进一小步 - 发展科技爱好，倡导科学理性, Since 2001.')
  meta(name='keywords' content=data.serverSettings ? data.serverSettings.keywords.join(','): '科创论坛，专业创客，极客论坛，创客论坛，创客教育，电磁炮，高斯枪，特斯拉线圈，科技小制作，电子DIY')
  title=`${data.serverSettings.websiteName} - ${data.serverSettings.brief}`
  link(rel='stylesheet' href='/swiper/dist/css/swiper.css')
  link(rel='stylesheet' href=`/jscrollpane/style/jquery.jscrollpane.css?v=${global.NKC.startTime}`)
block content
  mixin createNotice(arr)
    div(style='background-color: #eeeeee;padding: 0.5rem;')
      h5.text-center 网站公告
      for thread, index in arr
        div(style='margin: 0.5rem 0;')
          a(href=`/t/${thread.tid}` target='_blank' style='color: #888888;')= `${index+1}. ${thread.firstPost.t}`
  mixin createTopicList(arr)
    .list-group(style='margin-bottom: 0')
      for forum in arr
        if forum.forumType === 'topic'            
          a(href=`/f/${forum.fid}`).home-topic-list-li
            if forum.iconFileName
              img(src=`/forum_avatar/${forum.fid}` style='width: 2rem;height: 2rem;border-radius: 50%; margin-right: 0.5rem;')
            else
              img(style=`width: 2rem;height: 2rem;border-radius: 50%;margin-right: 0.5rem;display:inline-block;background-color: ${forum.color}`)
            span= forum.displayName  
          if forum.childrenForums && forum.childrenForums.length !== 0
            .col-xs-12.col-md-12(class=`f${forum.fid}` style='display: none;')
              .row
                +createTopicList(forum.childrenForums)          
  mixin createForumList(arr)
    .list-group(style='margin-bottom: 0')
      for forum in arr
        if forum.forumType !== 'topic'
          div(class=`forumLi${forum.fid}`)
            li.list-group-item.home-forum-list-li(style=`position: relative;overflow: hidden;`)
              .row
                .col-xs-12.col-md-12
                  div
                    div(style='width: 75%;float: left;line-height: 24px;')
                      if forum.iconFileName
                        img(src=`/forum_avatar/${forum.fid}` style='width: 2rem;height: 2rem;border-radius: 50%; margin-right: 0.5rem;')
                      else
                        img(style=`width: 2rem;height: 2rem;border-radius: 50%;margin-right: 0.5rem;display:inline-block;background-color: ${forum.color}`)
                      a(href=`/f/${forum.fid}` target='_blank')= forum.displayName
                    if forum.childrenForums && forum.childrenForums.length !== 0
                      div(style='width: 20%;float:right;line-height: 24px;cursor: pointer;' onclick=`showChildrenForums("${forum.fid}", "${forum.color}")`).text-right
                        span.fa.fa-caret-right(class=`span${forum.fid}` style='font-size: 2rem;color: #555555;')
            if forum.childrenForums && forum.childrenForums.length !== 0
              .col-xs-12.col-md-12(class=`f${forum.fid}` style='display: none;')
                .row
                  +createTopicList(forum.childrenForums)
                  +createForumList(forum.childrenForums)
  mixin createAds(arr)
    .swiper-container.swiper-home
      .swiper-wrapper
        for thread in arr
          a.swiper-slide(href=`/t/${thread.tid}` target="_blank" style='position: relative;')
            div.swiper-title= `${thread.firstPost.t}`
            //.text-right= thread.firstPost.user.username
            img(src=`/cover/${thread.tid}` style='width: 100%;')
      .swiper-pagination
      .swiper-button-next.swiper-button(style='background-image: none;')
        span.fa.fa-angle-right
      .swiper-button-prev.swiper-button(style='background-image: none;')
        span.fa.fa-angle-left
  mixin createDigestThreadsList(arr)
    div(style='border: 1px solid #eeeeee;overflow:hidden;padding: 0.5rem;')
      h4.text-center 精选文章
      for thread in arr
        include ../module_aside_forums_li
  -const homeFooter = true
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-2#navDiv
        .row
          if data.ads.length !== 0
            .col-xs-12.visible-xs-block.visible-sm-block(style='margin-bottom: 0.5rem;' class=data.paging.page!==0?'hiddenInMobile': '')
              +createAds(data.ads)
          .col-xs-12.col-md-12.text-center(style='margin-bottom: 1rem;')
            //div(style='margin: 0.5rem 0;')
            //  if data.homeSettings.logo
            //    img(src=`/logo/${data.homeSettings.logo}` style='height: 10rem;width: 10rem;border-radius: 50%;')
            div.home-post-button
              a.btn-lg.btn-block(href=data.user?`/editor`: '/login' style=`margin-bottom: 0.5rem;`)
                if data.user
                  span.fa.fa-edit &nbsp;发表文章
                else
                  span.fa.fa-login &nbsp;登录
              button.btn.btn-default.btn-block.btn-lg(onclick='showForumsDiv()' style='border: 1px solid #eeeeee;').visible-xs-block.visible-sm-block
                span 专业分类&nbsp;&nbsp;
                span.fa.fa-caret-down#forumsDidButtonSpan
          .col-xs-12.col-md-12(id='forumsDiv')
            +createTopicList(data.forums)
            +createForumList(data.forums)
          if data.noticeThreads.length !== 0
            .col-xs-12.col-md-12(style='margin: 1rem 0;' class=data.paging.page!==0?'hiddenInMobile':'')
              +createNotice(data.noticeThreads)
      .col-xs-12.col-md-7
        .row
          .col-xs-12.col-md-12
            nav.hidden-sm.hidden-xs
              include ../interface_navigation_paging
              ul.pagination.NavigationPaging
                li(class=!data.digest ? 'active' : '')
                  a(href=`/${data.sortby === 'toc' ? `?sortby=${data.sortby}` : ''}`) 全部
                li(class=data.digest ? 'active' : '')
                  a(href=`/?digest=true${data.sortby === 'toc' ? `&sortby=${data.sortby}` : ''}`) 精选
              ul.pagination.NavigationPaging
                li(class=!data.sortby? 'active' : '')
                  a(href=`/${data.digest?`?digest=true` : ''}`) 最新回复
                li(class=data.sortby?'active' : '')
                  a(href=`/?sortby=toc${data.digest?`&digest=true` : ''}`) 最新发表
          .col-xs-12.col-md-12#newContentDiv
            for thread, index in data.threads
              include ../interface_forum_singlethread
              //-
                if index+1 > data.pageSettings.homeThreadsFirstLoad && data.paging.page === 0
                  div.hiddenThread
                    include ../interface_forum_singlethread
                else
                  include ../interface_forum_singlethread
                if index+1 > data.pageSettings.homeThreadsFirstLoad && data.paging.page === 0
                  div.text-center#loadThreads(style='display: none;' data-number=data.pageSettings.homeThreadsFirstLoad)
                    button.btn.btn-default.btn-block(onclick='loadThreads()') 查看更多
          //-.col-xs-12.col-md-12(style='margin-top: 1rem;' class=data.paging.page!==0?'':'hiddenInMobile')#page
          .col-xs-12.col-md-12(style='margin-top: 1rem;')
            include ../interface_navigation_paging
      .col-xs-12.col-md-3#rightDiv
        .row
          .col-xs-12.col-md-12.hidden-sm.hidden-xs
            .nkcpanel
              include ../forum_logo_wisdom
          if data.user
            .col-xs-12.col-md-12
              include ../question/module_exam_link
          if data.ads.length !== 0
            .col-xs-12.col-md-12.hidden-sm.hidden-xs#adsDiv
              +createAds(data.ads)
          .col-xs-12.col-md-12(style='margin-top: 1.5rem;')#digestThreadsListDiv
            +createDigestThreadsList(data.digestThreads)
          .col-xs-12.col-md-12(style='margin-top: 1.5rem;' class=data.paging.page!==0?'hiddenInMobile':'')
            include ../interface_active_users
        include ../module_scrollTo
block scripts
  script(src=`/jscrollpane/script/jquery.mousewheel.js?v=${global.NKC.startTime}`)
  script(src=`/jscrollpane/script/jquery.jscrollpane.js?v=${global.NKC.startTime}`)
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/swiper/dist/js/swiper.js?v=${global.NKC.startTime}`)
  script(src=`/home/index.js?v=${global.NKC.startTime}`)
