extends ../bootstrap_base
block title
  title=`${data.serverSettings.websiteName} - ${data.serverSettings.brief}`
  +includeCSS("/swiper/dist/css/swiper.css")
  +includeCSS("/home/subscription.css")

block content
  //-div(style="width: 300px;height: 300px;background-color: red;position: fixed;top: 0;left: 0;")
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2.hidden-xs.hidden-sm#leftDom
        include ../publicModules/post_button
        include ../publicModules/management/management
        include ../publicModules/apps/apps
        include ../publicModules/forums_nav/forums_tree
      .col-xs-12.col-md-7
        .row
          .col-xs-12.col-md-12
            .m-b-1
              include ../publicModules/mobile_drawer/right_drawer
              -let showPagingSortButton = true;
              -let showHomeButton = true;
              include ../publicModules/paging/paging

            for thread in data.threads
              include ../publicModules/thread_panel/thread_panel
            -showPagingSortButton = false;
            -showHomeButton = false;
            include ../publicModules/paging/paging_input
      .col-xs-12.col-md-3
        .hidden-xs.hidden-sm#rightDom
          .hidden-xs.hidden-sm
            include ../publicModules/canvas_logo
            .swiper-container.swiper-home
              .swiper-wrapper
                for thread in data.ads
                  a.swiper-slide(href=`/t/${thread.tid}` target="_blank" style={
                    'background-image': `url(/cover/${thread.tid})`
                  })
                    .swiper-title= `${thread.firstPost.t}`
              .swiper-pagination
              .swiper-button-next.swiper-button(style='background-image: none;')
                .fa.fa-angle-right
              .swiper-button-prev.swiper-button(style='background-image: none;')
                .fa.fa-angle-left
          if data.noticeThreads && data.noticeThreads.length > 0
            .m-t-1
              -let sideThreads = data.noticeThreads
              -let sideThreadsHideInfo = true;
              -let sideThreadsHeader= "公告通知"
              include ../publicModules/side_thread_list
          if data.featuredThreads && data.featuredThreads.length > 0
            .m-t-1
              -let sideThreads = data.featuredThreads
              -let sideThreadsHideInfo = false;
              -let sideThreadsHeader= "精选文章"
              include ../publicModules/side_thread_list
          if data.subscribeThreads && data.subscribeThreads.length > 0
            .m-t-1
              -let sideThreads = data.subscribeThreads
              -let sideThreadsHideInfo = false;
              -let sideThreadsHeader= "我关注的"
              include ../publicModules/side_thread_list
          if data.latestThreads && data.latestThreads.length > 0
            .m-t-1
              -let sideThreads = data.latestThreads
              -let sideThreadsHideInfo = false;
              -let sideThreadsHeader= "最新文章"
              include ../publicModules/side_thread_list
          if data.recommendThreads && data.recommendThreads.length > 0
            .m-t-1
              -let sideThreads = data.recommendThreads
              -let sideThreadsHideInfo = false;
              -let sideThreadsHeader= "推荐文章"
              include ../publicModules/side_thread_list
          include ../publicModules/active_users
          //-include ../publicModules/management/common
        //-include ../publicModules/web_info_side.pug
        include ../module_scrollTo
block footer
  include ../publicModules/footer/footer
block scripts
  +includeJS("/swiper/dist/js/swiper.js")
  +includeJS("/home/newHome.js")
  include ../publicModules/vue_user_panel/vue_user_panel_float
  //- +includeJS("/socket/homeSocket.js")

