if !isIncluded('postActivity')
  +includeCSS('/subscribe/postActivity.css')
  mixin postlatest(props)
    -var {from, user, quote, title, content, toc, cover, url, type, parentPost, parentPostId, tid, pid} = props;
    mixin postActivityHeader(headerData)
      -var {toc, parentPost, showFrom, user, tid, pid, type} = headerData;
      .post-activity-header(class=headerData.from?'post-activity-main-header':'')
        if canManagement
          .checkbox.thread-checkbox
            label
              input(
                type="checkbox"
                data-thread-id=tid
                data-post-id=pid
              )
        .post-activity-avatar
          if headerData.user.avatar
            img(src=headerData.user.avatar
              data-global-mouseover="showUserPanel"
              data-global-mouseout="hideUserPanel"
              data-global-data=objToStr({uid: headerData.user.uid || undefined})
              style="cursor: pointer")
          else
            div(style=`background-color: ${headerData.user.color}`)
        .post-activity-user
          if headerData.user.uid
            a(
              href=user.homeUrl target="_blank"
              data-global-mouseover="showUserPanel"
              data-global-mouseout="hideUserPanel"
              data-global-data=objToStr({uid: headerData.user.uid || undefined})
            ).post-activity-username=headerData.user.username
          else
            .post-activity-username=headerData.user.username
          if showFrom
            if !headerData.parentPostId && type === 'post'
              span.post-activity-from=`发表回复`
            else if headerData.parentPostId && type === 'post'
              span.post-activity-from=`发表评论`
            else
              span.post-activity-from=`发表文章`
            span &nbsp;
            +fromNow(toc)

    mixin postActivityContent(contentData)
      -var {cover, title, content, url, type} = contentData;
      .post-activity-content
        if title
          a(href=url target="_blank").post-activity-title=title
        .post-activity-content-container(class=cover? 'cover':'')
          if content
            a(href=url target="_blank").post-post-abstract=content
          if cover
            .post-activity-cover(style=`background-image: url(${cover})`)
    mixin postPostsContent(contentData, parentPost)
      -var {cover, title, content, url} = contentData;
      .post-activity-content
        .post-activity-content-container
          if parentPost
            div
              a(href=parentPost.url target="_blank").post-post-abstract=parentPost.content
          if title
            div
              a(href=url target="_blank").post-post-title=`《${title}》`
          //if cover
          //  .post-activity-cover(style=`background-image: url(${cover})`)
    .post-activity
      .post-activity-content
        +postActivityHeader({type, user, toc, parentPost, showFrom: true, parentPostId, tid, pid})
        +postActivityContent({title, content, cover, url, type})
      if quote
        .post-activity-content.post-activity-quote
          if parentPost
            +postActivityHeader({user: parentPost.user, toc: parentPost.toc, parentPostId})
            +postPostsContent(quote, parentPost)
          else
            //+postActivityHeader({...quote, parentPostId})
            +postPostsContent(quote, '')
