extends ../publicModules/mdui_base
block title
  title 首页测试
  link(rel='stylesheet' href='/swiper/dist/css/swiper.css')
  link(rel='stylesheet' href=`/home/subscription.css?v=${global.NKC.startTime}`)
block content
  .mdui-container
    .mdui-row
      .mdui-col-md-2
        .mdui-m-t-2.mdui-hidden-sm-down
          a(href='/editor').mdui-btn.mdui-btn-block.mdui-color-blue-grey 发表文章
        include ../publicModules/forums_nav
      .mdui-col-md-7.mdui-m-t-2
        .swiper-container.swiper-home
          .swiper-wrapper
            for thread in data.ads
              a.swiper-slide(href=`/t/${thread.tid}` target="_blank" style={
                'background-image': `url(/cover/${thread.tid})`
              })
                .swiper-title= `${thread.firstPost.t}`
          .swiper-pagination
          .swiper-button-next.swiper-button(style='background-image: none;')
            <i class="mdui-icon material-icons">&#xe315;</i>
          .swiper-button-prev.swiper-button(style='background-image: none;')
            <i class="mdui-icon material-icons">&#xe314;</i>
        .thread-list.mdui-m-t-2
          for thread in data.threads
            include ../publicModules/thread_panel
          #app
        include ../interface_navigation_paging
      .mdui-col-md-3
        include ../publicModules/canvas_logo
        include ../publicModules/notice
        include ../publicModules/active_users
        include ../publicModules/web_info_side.pug
block scripts
  script(src=`/swiper/dist/js/swiper.js?v=${global.NKC.startTime}`)
  script(src=`/home/subscription.js?v=${global.NKC.startTime}`)