extends ../bootstrap_base
block title
  -const problem = data.problem;
  title= problem.t
  -const mainContainer1400 = true;
  style.
    pre{
      padding: 1rem;
      background-color: #fff;
    }
block content
  .container-fluid(style='max-width: 1400px')
    .row
      .hidden#data= JSON.stringify({id: data.problem._id})
      .col-xs-12.col-md-12
        a.btn.btn-default.btn-sm(href='/problem/list') << 返回列表
      .col-xs-12.col-md-7
        h4(style='color: #aaa;')
          if problem.user
            a(href=`/u/${problem.user.uid}` target='_blank')
              img(src=`/avatar_small/${problem.user.uid}` style='height: 25px;width: 25px;border-radius: 50%;margin-right: 0.2rem;')
              span= problem.user.username
          else
            span 匿名用户
          span &nbsp;&nbsp;上报于&nbsp;&nbsp;
          span=problem.toc.toLocaleString()
          span &nbsp;&nbsp;
          if problem.resolved
            span.label.label-success 已解决
          else
            span.label.label-danger 未解决
        .h2.text-center#titleH2= problem.t
        #contentDiv= problem.c
        h5#QQDiv=`QQ：${problem.QQ || '暂未填写'}`
        h5#emailDiv=`邮箱地址：${problem.email || '暂未填写'}`
        hr
        h2.text-center 分析
        #reasonDiv= problem.reason || '暂无'
        h2.text-center 总结
        #solutionDiv= problem.solution || '暂无'
        if problem.restorer && problem.resolveTime
          h4.text-right(style='color: #aaa;padding-top:2rem;')
            span(style='margin-right: 0.5rem;')= problem.resolveTime.toLocaleString()
            a(href=`/u/${problem.restorer.uid}`)
              img(src=`/avatar_small/${problem.restorer.uid}` style='height: 25px;width: 25px;border-radius: 50%;margin-right: 0.2rem;')
              span= problem.restorer.username


      .col-xs-12.col-md-5
        .text-right
          button.btn.btn-danger.btn-sm(onclick=`deleteProblem(${problem._id})`) 删除问题
        .form
          .form-group
            label 标题
            input.form-control#title(type='text' value=problem.t)
          .form-group
            label 详细内容
            textarea.form-control#content(rows=6)= problem.c
          .form-group
            label 分析
            textarea.form-control#reason(rows=15)= problem.reason
          .form-group
            label 总结
              span.text-danger （填写了内容视为已解决）
            textarea.form-control#solution(rows=3)= problem.solution
          .form-group
            label QQ
            input.form-control#QQ(type='number' value=problem.QQ)
          .form-group
            label 邮箱
            input.form-control#email(type='email' value=problem.email)
          button.btn.btn-primary.btn-block(onclick=`submit(${problem._id})`) 保存



block scripts
  script(src='/interface_common.js')
  script(src='/markdown-it/dist/markdown-it.js')
  script(src='/problem/problem.js')
