extends ../bootstrap_base
block title
  -const problem = data.problem;
  title= problem.t
  -const mainContainer1400 = true;
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
  style.
    pre{
      padding: 1rem;
      background-color: #fff;
    }
block content
  .container-fluid(style='max-width: 1400px')
    .row
      .hidden#data= JSON.stringify({id: data.problem._id})
      .col-xs-12.col-md-12.form-inline
        a.btn.btn-default.btn-sm(href='/problem/list') << 返回列表
        span &nbsp;&nbsp;&nbsp;移动到
        select.form-control.btn-sm#typeId
          for type in data.problemsTypes
            if type._id === data.problem.typeId
              option(selected=true)= type.name
            else
              option= type.name
        button.btn.btn-default.btn-sm(onclick=`changeType(${problem._id})`) 移动
        button.btn.btn-danger.btn-sm(onclick=`deleteProblem(${problem._id})`) 删除问题
      .col-xs-12.col-md-7
        h4(style='color: #aaa;')
          if problem.user
            a(href=`/u/${problem.user.uid}` target='_blank')
              img(src=`/avatar/${problem.user.avatar}?t=sm` style='height: 25px;width: 25px;border-radius: 50%;margin-right: 0.2rem;')
              span= problem.user.username
          else
            span 匿名用户
          span &nbsp;&nbsp;上报于&nbsp;&nbsp;
          span=problem.toc.toLocaleString()
          span &nbsp;&nbsp;
          if problem.resolved
            span.label.label-success 已完成
          else
            span.label.label-danger 未完成
        .h2.text-center#titleH2
        #contentDiv
        if problem.QQ
          h5#QQDiv=`QQ：${problem.QQ || '暂未填写'}`
        if problem.email
          h5#emailDiv=`邮箱地址：${problem.email || '暂未填写'}`
        //if problem.restorer && problem.resolveTime
          h4.text-right(style='color: #aaa;padding-top:2rem;')
            span(style='margin-right: 0.5rem;')= problem.resolveTime.toLocaleString()
            a(href=`/u/${problem.restorer.uid}`)
              img(src=`/avatar_small/${problem.restorer.uid}` style='height: 25px;width: 25px;border-radius: 50%;margin-right: 0.2rem;')
              span= problem.restorer.username


      .col-xs-12.col-md-5
        .form
          .form-group
            label 标题
            input.form-control#title(type='text' value=problem.t)
          .form-group
            label 详细内容
            textarea.form-control#content(rows=23)= problem.c
          .form-group
            .icheckbox
              span 标记为已完成
              input(type='checkbox' name='select' checked=problem.resolved)

          button.btn.btn-primary.btn-block(onclick=`submit(${problem._id})`) 保存



block scripts
  include ../publicModules/highlight/highlight
  include ../publicModules/mdToHtml
  script(src=`/icheck/icheck.js?v=${startTime}`)
  script(src=`/problem/problem.js?v=${startTime}`)
