extends ../../experimental
block eTitle
  title 证书设置
block eContent
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-7.col-md-offset-2
        div#app(v-cloak)
          button.btn.btn-default.btn-sm.m-b-1(@click='add = !add') 新建证书&nbsp;
            span.caret
          div(v-if='add')
            h3 新建证书
            hr  
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 证书ID
                .col-sm-10
                  input.form-control(v-model.trim='roleId' placeholder='请输入证书ID，20个字节以内')
                  h5.text-danger 唯一，由英文大小写字母组成。
              .form-group
                label.col-sm-2.control-label 证书名称
                .col-sm-10
                  input.form-control(v-model.trim='displayName' placeholder='请输入证书名称，20个字节以内')    
                  h5.text-danger 会在用户信息面板中显示，请尽量精简。
              .form-group
                label.col-sm-2.control-label 证书简介
                .col-sm-10
                  textarea.form-control(v-model.trim='description' placeholder='请输入证书简介，200个字节以内' rows=4)
              .form-group
                label.col-sm-2.control-label 颁发方式
                .col-sm-10
                  <label class="radio-inline">
                  <input type="radio" :value="false" v-model='auto'> 手动
                  </label>
                  <label class="radio-inline">
                  <input type="radio" :value="true" v-model='auto'> 手动+自动
                  </label>
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  h5.text-danger(v-if='error') {{error}}
                  button.btn.btn-primary.btn-block(@click='save') 提交
        .table-responsive
          table.table.table-bordered.table-striped
            thead
              tr
                th ID
                th 名称
                th 颁发
                th 用户数
                th 其他
            tbody
              for role in data.roles
                tr
                  th=role._id
                  th=`${role.defaultRole? '【默认证书】': ''}${role.displayName}`
                  th=role.auto? '手动, 自动': "手动"
                  th=role.userCount
                  th
                    a.m-r-1(href=`/e/settings/role/${role._id}`) 编辑
                    a.m-r-1(href=`/e/settings/role/${role._id}#permission`) 权限设置
                    if role._id !== 'visitor'
                      a.m-r-1(href=`/e/settings/role/${role._id}#user`) 用户

block scripts
  +includeJS('/experimental/settings/role/roles.js')                          