extends ../../experimental
block eTitle
  title 证书设置
block eContent
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-7.col-md-offset-2
        div#app(v-cloak)
          button.btn.btn-default.btn-sm(@click='add = !add') 新建证书&nbsp;
            span.caret
          div(v-if='add')
            h3 新建证书
            hr  
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 证书ID
                .col-sm-10
                  input.form-control(v-model.trim='roleId' placeholder='请输入证书ID，20个字节以内')
                  h5.text-danger 唯一，由英文大小写字母组成。
              .form-group
                label.col-sm-2.control-label 证书类型
                .col-sm-10
                  <label class="radio-inline">
                    <input type="radio" value="common" v-model='type'> 普通
                  </label>  
                  <label class="radio-inline">
                    <input type="radio" value="management" v-model='type'> 管理类
                  </label>    
                  h5.text-danger 普通证书允许系统自动颁发（考试奖励等），管理类证书只能由管理员手动颁发。
              .form-group
                label.col-sm-2.control-label 证书名称
                .col-sm-10
                  input.form-control(v-model.trim='displayName' placeholder='请输入证书名称，20个字节以内')    
                  h5.text-danger 会在用户信息面板中显示，请尽量精简。
              .form-group
                label.col-sm-2.control-label 证书简介
                .col-sm-10
                  textarea.form-control(v-model.trim='description' placeholder='请输入证书简介，200个字节以内' rows=4)
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  h5.text-danger(v-if='error') {{error}}
                  button.btn.btn-primary.btn-block(@click='save') 提交
        h3 系统类证书
        hr
        .form-horizontal
          .form-group
            label.col-sm-1.control-label 
            .col-sm-11
              table.table.table-bordered
                thead
                  tr
                    th 证书ID
                    th 证书名称
                    th 用户数量
                    th 其他
                tbody 
                  for role, index in data.roles
                    if role.type === 'system'
                      tr     
                        th= role._id
                        th= role.displayName
                        th= role.userCount
                        th
                          a.m-r-1(href=`/e/settings/role/${role._id}`) 编辑
                          a.m-r-1(href=`/e/settings/role/${role._id}#permission`) 权限设置
                          if role._id !== 'visitor'
                            a.m-r-1(href=`/e/settings/role/${role._id}#user`) 用户
        h3 管理类证书
        hr
        .form-horizontal
          .form-group
            label.col-sm-1.control-label 
            .col-sm-11
              table.table.table-bordered
                thead
                  tr
                    th 证书ID
                    th 证书名称
                    th 用户数量
                    th 其他
                tbody 
                  for role, index in data.roles
                    if role.type === 'management'
                      tr     
                        th= role._id
                        th= role.displayName
                        th= role.userCount
                        th
                          a.m-r-1(href=`/e/settings/role/${role._id}`) 编辑
                          a.m-r-1(href=`/e/settings/role/${role._id}#permission`) 权限设置
                          a.m-r-1(href=`/e/settings/role/${role._id}#user`) 用户
        h3 普通证书
        hr
        .form-horizontal
          .form-group
            label.col-sm-1.control-label 
            .col-sm-11
              table.table.table-bordered
                thead
                  tr
                    th 证书ID
                    th 证书名称
                    th 用户数量
                    th 其他
                tbody 
                  for role, index in data.roles
                    if role.type === 'common'
                      tr     
                        th= role._id
                        th= role.displayName
                        th= role.userCount
                        th
                          a.m-r-1(href=`/e/settings/role/${role._id}`) 编辑
                          a.m-r-1(href=`/e/settings/role/${role._id}#permission`) 权限设置
                          a.m-r-1(href=`/e/settings/role/${role._id}#user`) 用户                                    
block scripts
  +includeJS('/experimental/settings/role/roles.js')                          