//- include ./nav
div
  include ../../../publicModules/paging/paging
  .account-followers.account-forums
    if !data.subscribes.length
      .null 空空如也~
    for subscribe in data.subscribes
      .account-follower
        .account-follower-avatar
          img.img(src=tools.getUrl("columnAvatar", subscribe.column._id, "sm"))
        .account-follower-content
          .account-follower-name
            .account-follower-buttons(data-column=subscribe.column._id class=data.subColumnsId.includes(subscribe.column._id)?"active":"")
              //- button.category(onclick=`user.moveSub("${subscribe.column._id}")`) 分类
              button.subscribe(onclick=`user.subscribe("${subscribe.column._id}", "column")`)
            a(href=`/f/${subscribe.column._id}`)=subscribe.column.name
          .account-follower-description=subscribe.column.description || "暂无简介"
  if data.paging.pageCount > 1
    include ../../../publicModules/paging/paging_input