div
  .subscribe-types
    .subscribe-type-edit(onclick="user.editType()") 管理分类
    div 主分类：
      a.subscribe-type(href=`/u/${data.targetUser.uid}/profile/${data.type}` class=!data.parentType?"active":"") 全部
      for t in data.subscribeTypes
        a.subscribe-type(href=`/u/${data.targetUser.uid}/profile/${data.type}?t=${t._id}` class=data.parentType && data.parentType._id === t._id?"active":"")=`${t.name}`
    if data.parentType && data.parentType.childTypes.length
      div.m-t-05 子分类：
        for t in data.parentType.childTypes
          a.subscribe-type(href=`/u/${data.targetUser.uid}/profile/${data.type}?t=${t._id}` class=data.childType && data.childType._id === t._id?"active":"")=`${t.name}`