//- 用户悬浮面板
    在 block scripts 下引入
    在需要显示面板的dom上添加如下两个属性
      onmouseover=`floatUserPanel.open('${objToStr(userObj)}')`
      onmouseleave="floatUserPanel.close()"
    @author pengxiguaa 2019-5-6

+includeCSS("/publicModules/floatUserPanel/floatUserPanel.css")
//-@mouseenter="onPanel"
  @mouseleave="outPanel"
#floatUserPanel(v-cloak
  data-sub-uid=objToStr({subUid: data.user?data.user.subUid:[]})
)
  transition(name="fade")
    div.content(v-if="show && user && user.uid" :style="'top: ' + top+'px;left: ' + left + 'px;'")
      .user_base
        .user_banner(:style="'background-image: url(/banner/' + user.banner + ')'")
        .user_mask
        .user-button
          .fa.fa-remove(@click="outPanel")
        .user_avatar
          .user_avatar_div
            a(:href="'/avatar/' + user.avatar + '?t=lg'" target="_blank")
              img(:src="'/avatar/' + user.avatar")
            //-if data.user
              span(v-if=`${data.user?"true":"false"} && user.uid !== '${data.user.uid}'`)
                .user_sub_btn(v-if="subUid.indexOf(user.uid) === -1" :onclick="'subscribeUser(\"'+user.uid+'\", true)'") 关注
                .user_sub_btn.subscribed(v-else :onclick="'subscribeUser(\"'+user.uid+'\", false)'") 取关
          .user_id ID：{{user.uid}}
        .user_div
          a(:href="'/u/' + user.uid" target="_blank").user_name {{user.username}}
          .user_cert {{user.info.certsName}}
          .user_description {{user.description}}
          .user_register {{format("YYYY/MM/DD", user.toc)}}注册，{{fromNow(user.tlv)}}活动
          if data.user
            .user_sub
              span(v-if=`${data.user?"true":"false"} && user.uid !== '${data.user.uid}'`)
                a.user_sub_btn.btn.btn-xs.btn-default.m-r-05(v-if="user.column" :href="'/m/' + user.column._id" target="_blank") 专栏
                a.user_sub_btn.btn.btn-xs.btn-default.m-r-05(:href="'/message?uid=' + user.uid" target="_blank") 私信
                button.user_sub_btn.btn.btn-xs.btn-default(v-if="subUid.indexOf(user.uid) === -1" :onclick="'SubscribeTypes.subscribeUser(\"'+user.uid+'\", true)'") 关注
                button.user_sub_btn.btn.btn-xs.btn-default(v-else :onclick="'SubscribeTypes.subscribeUser(\"'+user.uid+'\", false)'") 取关
      .user_info
        a.clear-a-style(:href="'/u/' + user.uid + '?t=thread'").col-xs-3
          .user_info_count {{user.threadCount}}
          .user_info_title 文章
        a.clear-a-style(:href="'/u/' + user.uid").col-xs-3
          .user_info_count {{user.postCount}}
          .user_info_title 回复
        .col-xs-3
          .user_info_count {{user.xsf}}
          .user_info_title 学术分
        .col-xs-3
          .user_info_count {{user.kcb/100}}
          .user_info_title 科创币
include ../moment
+includeJS("/publicModules/floatUserPanel/floatUserPanel.js")