extends ../bootstrap_base
block title
  meta(name='description' content=`${data.forum.description}` || '暂无专业介绍')
  title=`${data.forum.displayName} - ${state.serverSettings.websiteName}`
  +includeCSS("/forum/forum.css")
  if data.type === "home"
    include ../publicModules/plyr/plyr.css.pug
block content
  //- 判断用户是否有权限管理专业内的文章
  -let canManagement = false;
  if data.isModerator
    -canManagement = true;

  mixin forumPanel(header, forums)
    .forum-panel.m-b-1
      .panel-header=header
      .forums-nav-header
      .home-topic-item-div
        -const length = forums.length;
        for forumData, index in forums
          if index < 20
            include ../publicModules/forums_nav/forum_block
        if length >= 20
          .text-center
            a(
              href=`/f`
              style=`color: #aaa`
              title='查看更多'
            )
              span 查看更多
  mixin moderator(users)
    .forum-user-panel
      .forums-user-header
        h5 主管专家
      .forum-user-panel-body
        for targetUser in users
          include ../publicModules/user_panel/user_panel
  .hidden#forumInfo=objToStr({fid: data.forum.fid, page: data.paging?data.paging.page:{}, digest: !!data.d, sort: data.s === 'toc'? 'toc': 'tlm'})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2.hidden-sm.hidden-xs.box-shadow-panel.p-r-0
        include ../publicModules/forums_nav/forums_tree
      .col-xs-12.col-md-7.box-shadow-panel.p-r-0
        .forum-info-panel.m-b-1
          .forum-banner
            .forum-banner-cover
            if !data.forum.banner
              .forum-banner-img(style=`background-image: url(${tools.getUrl('defaultFile', 'forum_banner.jpg')})`)
            else
              .forum-banner-img(style=`background-image: url(${tools.getUrl('forumBanner', data.forum.banner)})`)
          .forum-info-body
            .forum-avatar
              if data.forum.logo
                img.forum-avatar-icon(src=tools.getUrl('forumLogo', data.forum.logo))
              else
                .forum-avatar-icon(style=`background-color: ${data.forum.color}`)
            .forum-info
              .forum-name=data.forum.displayName
                if data.isPreparationForum
                  span.forum-preparation 筹备
              .forum-abbr=data.forum.brief || "暂无专业简介"
              .forum-post-count
                .count-group
                  .count=data.forum.countThreads
                  .name 篇文章，
                .count-group
                  .count=data.forum.countPosts
                  .name 条回复
                    if data.forum.countPostsToday
                      | ，
                //-.count-group
                  .name 关注
                  .count=data.subUsersCount
                if data.forum.countPostsToday
                  .count-group.hidden-xs
                    .count=data.forum.countPostsToday
                    .name 条更新
            .forum-buttons
              if permission('visitForumInfoSettings')
                a(href=`/f/${data.forum.fid}/settings`).btn-sm.forum-sub-btn.btn 设置
              if !data.forum.childrenForums || data.forum.childrenForums.length === 0
                if data.user
                  if data.subscribed
                    button.btn-sm.forum-sub-btn.btn(
                      onclick=`SubscribeTypes.subscribeForum("${data.forum.fid}", false)`
                    ) 取关
                  else
                    button.btn-sm.forum-sub-btn.btn.success(
                      onclick=`SubscribeTypes.subscribeForum("${data.forum.fid}", true)`
                    ) 关注

          .forum-nav
            .thread-nav
              .thread-nav-left
                a.nav-link(href='/?t=home' title=state.serverSettings.brief) 主页
                for n in data.forumNav
                  -const {fid, name, cid} = n;
                  span.nav-delimiter >
                  a.nav-link(href=`/f/${fid}${cid !== undefined ? `?cat=${cid}` : ''}` data-float-fid=fid)= name
              .thread-nav-right
                if !data.forum.childrenForums || !data.forum.childrenForums.length
                  if !data.user
                    button.forum-post-button.btn.btn-default.btn-xs(onclick='NKC.methods.toLogin()')
                      .fa.fa-pencil-square-o
                      | &nbsp;发表文章
                  else if state.isApp
                    button.forum-post-button.btn.btn-default.btn-xs(onclick=`openEditSite()`)
                      .fa.fa-pencil-square-o
                      | &nbsp;发表文章
                  else
                    a.forum-post-button.btn.btn-default.btn-xs(href=`/editor?type=forum&id=${data.forum.fid}` target="_blank")
                      .fa.fa-pencil-square-o
                      | &nbsp;发表文章
                else
                  span 细分专业：
                  for f in data.forum.childrenForums
                    a.child-forum-panel(href=`/f/${f.fid}` data-float-fid=f.fid style=`background-color: ${f.color}`)= f.displayName
        //-if data.forum.childrenForums && data.forum.childrenForums.length
          .m-b-1
            .panel-header 细分专业
            //span 细分专业：
            for f in data.forum.childrenForums
              .child-forum-panel
                if f.logo
                  img.child-forum-avatar(src=tools.getUrl('forumLogo', f.logo))
                else
                  .child-forum-avatar(style=`background-color: ${f.color}`)
                a.m-r-05(href=`/f/${f.fid}` data-float-fid=f.fid)= f.displayName
        if data.type === "latest"
          div
            .m-b-1
              //- 手机导航 其他文章链接
              if !(state.isApp && state.platform === 'reactNative')
                include ../publicModules/mobile_drawer/right_drawer
              include ../publicModules/paging/forum_nav
            if data.forum.latestBlockNotice && data.paging.page === 0
              div.forum-declare.m-b-1!= data.forum.latestBlockNotice

            if data.threadTypes.length
              .forum-category
                a(class=!data.cat ? "active" : "" href=`/f/${data.forum.fid}`) 全部
                for threadType in data.threadTypes
                  a(class=`${data.cat === threadType.cid ? 'active' : ''}` href=`/f/${data.forum.fid}?cat=${threadType.cid}`)= threadType.name
            div
              -let showPagingSortButton = true;
              -let showPagingDigestButton = true;
              if canManagement
                .paging-button
                  a.button.radius-left.radius-right(onclick="managementThreads()") 管理
                .paging-button.management-thread-panel
                  a.button.radius-left(onclick="selectAll()") 全选
                  a.button(onclick="moveSelectedThreads()") 移动
                  a.button.radius-right(onclick="disabledSelectedPosts()") 删除或退修
              span.m-r-05
                include ../publicModules/paging/paging
              .paging-button
                a.radius-left.radius-right.button.button-checkbox(title='在新窗口打开文章') 新窗
                  input#threadUrlSwitch(type='checkbox' style='margin-top: 0.4rem;vertical-align: top;')
            if data.paging.page === 0 && data.toppedThreads.length > 0
              -const defaultThreadListStyle = {type: 'minimalist'}
              for thread in data.toppedThreads
                include ../publicModules/thread_panel/thread_panel
              div.topped-thread-header - 以上是置顶 -
            div.normal-thread-list
              for thread in data.threads
                include ../publicModules/thread_panel/thread_panel
            if canManagement
              .paging-button
                a.button.radius-left.radius-right(onclick="managementThreads()") 管理
              .paging-button.management-thread-panel
                a.button.radius-left(onclick="selectAll()") 全选
                a.button(onclick="moveSelectedThreads()") 移动
                a.button.radius-right(onclick="disabledSelectedPosts()") 删除或退修
            -showPagingSortButton = false;
            -showPagingDigestButton = false;
            include ../publicModules/paging/paging_input
        else if data.type === "home"
          div
            .m-b-1
              include ../publicModules/paging/forum_nav
            if data.forum.declare
              div.forum-declare!= data.forum.declare
            if data.forum.basicThreads.length > 0
              +listHeader("快速入门")
              for thread in data.forum.basicThreads
                include ../publicModules/thread_panel/thread_panel
            if data.forum.valuableThreads.length > 0
              +listHeader("推荐阅读")
              for thread in data.forum.valuableThreads
                include ../publicModules/thread_panel/thread_panel
        else if data.type === "followers"
          div
            .m-b-1
              include ../publicModules/paging/forum_nav
            .m-b-1
              include ../publicModules/paging/paging
            .row
              for targetUser in data.followers
                .col-xs-12.col-md-6
                  include ../publicModules/user_panel/user_panel_md
            .m-t-1
              include ../publicModules/paging/paging

        else if data.type === "visitors"
          div
            .m-b-1
              include ../publicModules/paging/forum_nav
            .m-b-1
              include ../publicModules/paging/paging
            .row
              for targetUser in data.visitors
                .col-xs-12.col-md-6
                  include ../publicModules/user_panel/user_panel_md
            .m-t-1
              include ../publicModules/paging/paging
        else if data.type === "library"
          div
            div
              include ../publicModules/paging/forum_nav
            .m-t-05
              if data.forum.lid
                if data.libraryClosed
                  .warning-panel
                    .fa.fa-exclamation
                    span &nbsp;当前文库已被关闭。
                if !data.libraryClosed || permission("modifyAllResource")
                  include ../publicModules/library/library
      .col-xs-12.col-md-3.hidden-xs.hidden-sm#rightDom.box-shadow-panel
        if data.isPreparationForum
          .m-b-1
            .panel-header 专业创始人
            ul.forum-founder-list
              for founder in data.founderList
                li.forum-founder-item
                  .forum-founder-avatar(style=`background-image: url(${tools.getUrl("userAvatar", founder.avatar)})`)
                  a.fouum-founder-username(href=tools.getUrl("userHome", founder.uid) target="_blank" data-float-uid=founder.uid)= founder.username
        .m-b-1
          .panel-header 专业介绍
          .forum-description!= nkcRender.htmlFilter(data.forum.description) || "暂无专业介绍"
        if permission('visitForumInfoSettings') && data.isModerator
          .m-b-1
            .panel-header 专业设置
            .forum-links
              a.forum-link(href=`/f/${data.forum.fid}/settings/info`) 基本信息
              a.forum-link(href=`/f/${data.forum.fid}/settings/category`) 分类
              if permission('forumScoreSettings')
                a.forum-link(href=`/f/${data.forum.fid}/settings/score`) 积分策略
              if permission('visitForumPermissionSettings')
                a.forum-link(href=`/f/${data.forum.fid}/settings/permission`) 权限
        if data.moderators && data.moderators.length
          .m-b-1
            //- 关注人数 data.subUsersCount, 今日更新 data.forum.countPostsToday
            .panel-header 主管专家
            .forum-moderators
              for u in data.moderators
                a.forum-moderator(href=`/u/${u.uid}` target="_blank")
                  .forum-moderator-avatar
                    img(src=tools.getUrl("userAvatar", u.avatar) data-float-uid=u.uid)
                  .forum-moderator-info
                    .forum-moderator-name
                      span(data-float-uid=u.uid)=u.username
                    .forum-moderator-description=u.description || "暂无简介"
        //-if data.forum.parentForums && data.forum.parentForums.length > 0
          +forumPanel("上级专业", data.forum.parentForums)
        //-if data.forum.childrenForums && data.forum.childrenForums.length > 0
          +forumPanel("细分专业", data.forum.childrenForums)
        //-if data.forum.parentsId.length && data.sameLevelForums && data.sameLevelForums.length > 0
          +forumPanel("同级专业", data.sameLevelForums, true)
        if data.forum.noticeThreads.length > 0
          -let sideThreads = data.forum.noticeThreads;
          -let sideThreadsHeader = "专业公告"
          include ../publicModules/side_thread_list
        .m-b-1
          .panel-header 分享
          include ../publicModules/share/forum
        -let sideThreads = data.featuredThreads;
        -let sideThreadsHeader = "精选文章"
        include ../publicModules/side_thread_list
        -sideThreads = data.latestThreads;
        -sideThreadsHeader = "最新文章"
        include ../publicModules/side_thread_list
        if data.recommendThreads && data.recommendThreads.length > 0
          -let sideThreads = data.recommendThreads;
          -let sideThreadsHeader = "推荐文章"
          include ../publicModules/side_thread_list
        if data.user
          if data.subThreads && data.subThreads.length > 0
            -let sideThreads = data.subThreads;
            -let sideThreadsHeader = "关注的文章"
            include ../publicModules/side_thread_list
          if data.userThreads && data.userThreads.length > 0
            -let sideThreads = data.userThreads;
            -let sideThreadsHeader = "我的文章"
            include ../publicModules/side_thread_list
        if data.subUsers && data.subUsers.length > 0
          .m-t-1
            .panel-header 关注者
            -let sideUsers = data.subUsers;
            include ../publicModules/side_users_list
            if data.subUsers.length > 8
              a.side-link(href=`/f/${data.forum.fid}/followers`) 查看更多
        if data.users && data.users.length > 0
          .m-t-1
            .panel-header 今日来访
            -let sideUsers = data.users;
            include ../publicModules/side_users_list
            if data.users.length > 8
              a.side-link(href=`/f/${data.forum.fid}/visitors`) 查看更多
        include ../publicModules/scrollTo

block scripts
  //- 通用socket
  if data.user
    include ../publicModules/socket/socket
  include ../publicModules/subscribeTypes/subscribeTypes
  if data.type === "home"
    include ../publicModules/nkcSource
  //-include ../publicModules/toTop
  include ../publicModules/moveThread/moveThread
  include ../publicModules/md5
  include ../publicModules/disabledPost/disabledPost
  include ../publicModules/resourceInfo/resourceInfo
  include ../publicModules/downloadResource/downloadResource
  if data.type === "library" && data.forum.lid && (!data.libraryClosed || permission("modifyAllResource"))
    include ../publicModules/commonModal/commonModal
    include ../publicModules/moment
    include ../publicModules/selectResource/selectResource
    include ../publicModules/library/libraryPath
    include ../publicModules/library/library.js.pug
    script=`NKC.configs.lid = ${data.forum.lid};`
    if data.folderId
      script=`NKC.configs.folderId = ${data.folderId};`
    if data.tLid
      script=`NKC.configs.tLid = ${data.tLid};`
    if data.libraryClosed
      script=`NKC.configs.closed = ${!!data.libraryClosed};`
    if data.uploadResourcesId
      script=`NKC.configs.uploadResourcesId = '${data.uploadResourcesId.join("-")}';`
  +includeJS("/forum/forum.js")
  +includeJS("/publicModules/thread_panel/management.js")
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../publicModules/floatForumPanel/floatForumPanel
  include ../publicModules/nkcSource
