style.
  [v-vloak]{display:none}
style.
  .pastearea {
    border-color: #ACC585;
    border-width: 2px;
    border-style: dashed;
    background-color: #ECF3E2;
    //height: 60px;
    //margin-top:10px;
    //margin-bottom:-15px;
  }
  .uploadFileFail {
    color: red;
  }
  .mdui-table td,.mdui-table th {
    padding: 0;
  }
  .mdui-table td:first-child, .mdui-table th:first-child {
    padding: 0;
  }
  .mdui-btn {
    height: 32px;
    min-width: 1px;
    padding: 0 5px;
  }
.hidden#forumType= data.forumType
.hidden#allForumListData= JSON.stringify(data.forumList)
.hidden#cidArr= JSON.stringify(data.forumsThreadTypes)
.hidden#disciplineDom= JSON.stringify(data.subscribeDisciplines)
.hidden#topicDom= JSON.stringify(data.subscribeTopics)
.panel.panel-default
  div#allForumChoice(style="display:none")
    .mdui-row
      .mdui-col-xs-12
        .mdui-col-xs-1
          button.btn.btn-primary(onclick="selectNewOption()") 确定新增
        .mdui-col-xs-11
          #forumListData1.hidden= JSON.stringify({forumList: data.forumList, forumsThreadTypes: data.forumsThreadTypes, selectedArr: data.selectedArr, cat: data.cat, disabledCategory: data.disabledCategory})
          #dropdownDiv1.form-group
  div#forumChoice(v-cloak)
    .mdui-row
      .mdui-col-xs-6      
        .mdui-col-xs-12
          .mdui-col-xs-1
            span 选择学科
          .mdui-col-xs-11
            button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-ripple(v-for="(discipline, index) in disciplineArr" style=`border-radius:0px;margin-bottom:1px;margin-right:1px` @click=`selectDiscipline(discipline.fid)` v-bind:id="'disForumId'+discipline.fid") {{discipline.displayName}}
            button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-ripple.mdui-color-green-200(onclick="moreForum()") 新增
        .mdui-col-xs-12
          .mdui-col-xs-1
            span 
          .mdui-col-xs-11
            .mdui-chip(v-for='(cat, index) in disciplineCategorys' @click="selectDisciplineCate(cat.cid)" v-bind:id="'disCateId'+cat.cid")
              span.mdui-chip-title {{cat.name}}
      .mdui-col-xs-6
        .mdui-col-xs-12
          .mdui-col-xs-1
            span 选择话题
          .mdui-col-xs-11
            button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-ripple(v-for="(topic, index) in topicArr" style=`border-radius:0px;margin-bottom:1px;margin-right:1px` @click=`selectTopic(topic.fid)` v-bind:id="'topForumId'+topic.fid") {{topic.displayName}}
            button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-ripple.mdui-color-green-200(onclick="moreForum()") 新增
              //- span.mdui-chip-title {{topic.displayName}}
        .mdui-col-xs-12
          .mdui-col-xs-1
            span 
          .mdui-col-xs-11
            .mdui-chip(v-for='(cat, index) in topicCategorys' @click="selectTopicCate(cat.cid)"  v-bind:id="'topCateId'+cat.cid")
              span.mdui-chip-title {{cat.name}}
      .mdui-col-xs-12#allForum

      //- .mdui-col-xs-12#allForums1
      //-   .mdui-panel(mdui-panel)
      //-     .mdui-panel-item
      //-       .mdui-panel-item-header
      //-         .mdui-panel-item-title asd
      //-         .mdui-panel-item-summary 123
      //-         i.mdui-panel-item-arrow.mdui-icon.material-icons 123
      //-       .mdui-panel-item-body
      //-         p 1
      //-         p 2
      //-         p 3
      //-         p 4
      //-         p 5
      //-         p 6