extends ../bootstrap_base
block title
  title=`${data.forum.displayName} - ${data.serverSettings.websiteName}`
  +includeCSS("/publicModules/thread_panel/thread_panel.css")
  include ../publicModules/vue_forums_nav/vue_forums_nav_css
  +includeCSS("/publicModules/vue_user_panel/vue_user_panel_float.css")
  +includeCSS("/forum/forum.css")
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include ../publicModules/post_button
      .col-xs-12.col-md-7
        .row
          .col-xs-12.col-md-12
            .forum-info-panel
              .forum-banner
                .forum-banner-cover
                .forum-banner-img(style=`background-image: url(/f/${data.forum.fid}/banner)`)
              .forum-info-body
                .forum-avatar
                  if data.forum.iconFileName
                    img(src=`/forum_avatar/${data.forum.fid}`)
                  else
                    img(style=`background-color: ${data.forum.color}`)
                .forum-info
                  .forum-name=data.forum.displayName
                    if data.subscribed
                      button.btn-sm.forum-sub-btn.btn(
                        onclick=`subscribeForum("${data.forum.fid}", false)`
                      ) 已关注
                    else
                      button.btn-sm.forum-sub-btn.btn.success(
                        onclick=`subscribeForum("${data.forum.fid}", true)`
                      ) 关注
                    .forum-abbr=data.forum.abbr
          .col-xs-12.col-md-12.m-t-1
            if data.threadTypes.length > 0
              //-.forum-category.m-b-2
                a(class=!data.cat?"active":"" href=`/f/${data.forum.fid}`) 全部
                for threadType in data.threadTypes
                  a(class=`${data.cat === threadType.cid ? 'active' : ''}` href=`/f/${data.forum.fid}/latest?cat=${threadType.cid}`)= threadType.name
            .hidden-xs.hidden-sm
              include ../publicModules/paging/paging
            if data.paging.page === 0 && data.toppedThreads.length > 0
              for thread in data.toppedThreads
                include ../publicModules/thread_panel/thread_panel
              div.topped-thread-header - 以上是置顶 -
            for thread in data.threads
              include ../publicModules/thread_panel/thread_panel
            include ../publicModules/paging/paging
      .col-xs-12.col-md-3
        -let sideThreads = data.featuredThreads;
        -let sideThreadsHeader = "精选文章"
        include ../publicModules/side_thread_list
        .m-t-1
          -sideThreads = data.latestThreads;
          -sideThreadsHeader = "最新文章"
          include ../publicModules/side_thread_list



block scripts
  include ../publicModules/vue_forums_nav/vue_forums_nav_js
  +includeJS("/forum/forum.js")
  include ../publicModules/vue_user_panel/vue_user_panel_float_js

