style.
  [v-vloak]{display:none}
style.
  .pastearea {
    border-color: #ACC585;
    border-width: 2px;
    border-style: dashed;
    background-color: #ECF3E2;
    //height: 60px;
    //margin-top:10px;
    //margin-bottom:-15px;
  }
  .uploadFileFail {
    color: red;
  }
  .mdui-table td,.mdui-table th {
    padding: 0;
  }
  .mdui-table td:first-child, .mdui-table th:first-child {
    padding: 0;
  }
  .mdui-btn {
    height: 32px;
    min-width: 1px;
  }
//- .form-group#cidArr= JSON.stringify(data.forumsThreadTypes)
.panel.panel-default#forumChoice
  .mdui-row
    .mdui-col-xs-6
      .mdui-col-xs-12
        .mdui-col-xs-1
          span 当前专业
        .mdui-col-xs-11
          -for(let discipline of data.subscribeDisciplines)
            .mdui-chip(style=`border-radius:0px;background-color:${discipline.color}` onclick=`selectForum("${discipline.fid}")`)
              span.mdui-chip-title!=discipline.displayName
              span.mdui-chip-delete
                i.mdui-icon.material-icons cancel   
      .mdui-col-xs-12
        .mdui-col-xs-1
          span 分类
        .mdui-col-xs-11
          .mdui-chip
            span.mdui-chip-title 不分类
          .mdui-chip(v-for='(cat, index) in categorys')
            span.mdui-chip-title {{cat.name}}
      .mdui-col-xs-12
        include ../forumlist_dropdown
    .mdui-col-xs-6
      -for(let topic of data.subscribeTopics)
        .mdui-chip(style=`border-radius:0px;background-color:${topic.color}`)
          span.mdui-chip-title!=topic.displayName
          span.mdui-chip-delete
            i.mdui-icon.material-icons cancel 