
+includeCSS('/thread/editOrder/editOrder.css')
a.editOrder(href=`/t/${data.thread.tid}?e=true#post-top`)
  if(!data.e)
    div 调整复序
if data.e
  button.admin-finished.saveButton(onclick=`finishedEditPostOrder('${data.thread.mainForumsId}','${data.thread.tid}')`) 保存复序
  button.fixedButton(onclick=`finishedEditPostOrder('${data.thread.mainForumsId}','${data.thread.tid}')`)
    span 保存
    br
    span 复序


