
+includeCSS('/thread/editOrder/editOrder.css')
if(!data.isEditMode)
  a.editOrder(href=`/t/${data.thread.tid}?e=true#post-top`)
    button 调整复序
if data.isEditMode
  button.admin-finished.saveButton(onclick=`finishedEditPostOrderDebounce('${data.thread.mainForumsId}','${data.thread.tid}')`) 保存复序
  button.fixedButton(onclick=`finishedEditPostOrderDebounce('${data.thread.mainForumsId}','${data.thread.tid}')`)
    span 保存
    br
    span 复序
if(data.orderChangeStatus !== 'noChangeByAnyone')
  button.btn.btn-xs.btn-danger(style='float:right')
    if(data.orderChangeStatus === 'modifiedByAdmin')
      span 管理员已更改文章回复顺序
    if(data.orderChangeStatus === 'modifiedByAuthor')
      span 文章作者已更改文章回复顺序

