extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
  link(href='/experimental/index.css' rel='stylesheet')
  title 操作设置
block content
  .hidden#data=objToStr({t: data.t, c: data.c})
  .container-fluid.max-width
    .row
      include ../nav
      .col-xs-12.col-md-12
        .row
          .col-xs-12.col-md-12
            .row
              .col-xs-12.col-md-12#app(v-cloak)
                .form-inline(style='margin-bottom: 1rem;')
                  .form-group
                    select.form-control(v-model='searchType')
                      option(value='username') 用户名
                      option(value='uid') UID
                      option(value='ip') IP
                  .form-group
                    input.form-control(placeholder='请输入内容' v-model='searchText' @keyup.enter='searchUser')
                  .form-group
                    button.btn.btn-primary(type='submit' @click='searchUser') 搜索
                    span &nbsp;
                    a.btn.btn-default(type='submit' href='/e/log/kcb') 全部
                  .text-danger= data.info
              .col-xs-12.col-md-12
                include ../../publicModules/paging/paging
                .table-responsive
                  table.table.table-bordered
                    thead
                      tr
                        th 时间
                        th 用户
                        th 操作名
                        th 目标ID
                        th IP
                    tbody
                      for behavior in data.results
                        tr
                          th= format("YYYY/MM/DD HH:mm:ss", behavior.timeStamp)
                          th
                            if behavior.user
                              a(href=`/u/${behavior.user.uid}` target="_blank")=behavior.user.username
                            else
                              span 游客
                          th= lang("operations", behavior.operationId || behavior.operation)
                          th
                            if behavior.tid
                              div
                                |tid：
                                a(href=`/t/${behavior.tid}` target="_blank")=behavior.tid
                            if behavior.fid
                              div
                                | fid：
                                a(href=`/f/${behavior.fid}` target="_blank")=behavior.fid
                            if behavior.pid
                              div
                                | pid：
                                a(href=`/p/${behavior.pid}` target="_blank")=behavior.pid
                            if behavior.toUid
                              div
                                | uid：
                                a(href=`/u/${behavior.toUid}` target="_blank")=behavior.toUid
                          th
                            a(href=ipUrl(behavior.ip))=`${behavior.ip}: ${behavior.port}`
                .m-t-05
                  include ../../publicModules/paging/paging_input

block scripts

  script.
    var data = NKC.methods.getDataById("data");
    var app = new Vue({
      el: '#app',
      data: {
        searchType: data.t || "username",
        searchText: data.c || ""
      },
      methods: {
        searchUser: function () {
          if (!this.searchText) return screenTopWarning('输入不能为空');
          openToNewLocation('/e/log/behavior?t=' + this.searchType + '&c=' + this.searchText);
        }
      }
    });



