extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  title 科创币交易记录
  style.
    tbody tr th {
      max-width: 12rem;
    }
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      include ../nav
      #app(v-cloak)
        .col-xs-12.col-md-12
          h2 科创人民银行
            span.h4!= ` 科创币剩余 <strong style="color: #ffa100;font-size: 2rem;text-decoration: underline;">${data.kcbSettings.totalMoney/100}</strong> 个`
        .col-xs-12.col-md-12
          .hidden(ref='data')= JSON.stringify({kcbsRecords: data.kcbsRecords, content: data.content, t: data.t})
          h4 按条件查询记录
        .col-xs-12.col-md-12
          .form-inline(style='margin-bottom: 1rem;')
            .form-group
              select.form-control(v-model='searchType')
                option(value='username') 用户名
                option(value='uid') UID
                option(value='ip') IP
            .form-group
              input.form-control(placeholder='请输入内容' v-model='searchText' @keyup.enter='searchUser')
            .form-group
              button.btn.btn-primary(type='submit' @click='searchUser') 搜索
              span &nbsp;
              a.btn.btn-default(type='submit' href='/e/log/kcb') 全部
            .text-danger= data.info
        .col-xs-12.col-md-12.table-responsive
          include ../../interface_navigation_paging
          table.table.table-bordered(style='font-size:1rem;')
            thead
              tr
                th 时间
                th 操作名
                th 支出者
                th 收入者
                th 数目
                th 说明
                th 文号
                th IP
            tbody
              tr(v-for='(record, index) of kcbsRecords')
                th {{format('YYYY/MM/DD HH:mm:ss', record.toc)}}
                th {{record.typeInfo}}

                th
                  span(v-if='record.from === "bank"') 科创人民很行
                  a(:href="'/u/' + record.fromUser.uid" v-else target='_blank' :title='"科创币：" + record.fromUser.kcb/100') {{record.fromUser.username}}
                th
                  span(v-if='record.to === "bank"') 科创人民很行
                  a(:href="'/u/' + record.toUser.uid" v-else target='_blank' :title='"科创币：" + record.toUser.kcb/100') {{record.toUser.username}}
                th {{record.num>0?'+':''}}{{record.num/100}}
                th {{record.description}}
                th
                  a(v-if="record.pid" :href="'/p/' + record.pid") {{record.pid}}
                th {{record.ip}}:{{record.port}}
          include ../../interface_navigation_paging
block scripts
  script(src=`/moment/moment.js?v=${global.NKC.startTime}`)
  script(src=`/moment/locale/zh-cn.js?v=${global.NKC.startTime}`)
  script(src=`/experimental/log/kcb.js?v=${global.NKC.startTime}`)