extends ../../bootstrap_base

block title
  +includeCSS('/experimental/index.css')
  title 操作设置
block content

  .container-fluid.max-width
    .row
      include ../nav
      .col-xs-12.col-md-12
        .row
          .col-xs-12.col-md-12
            ul.nav.nav-tabs.m-b-2#dataT(data-t=data.t)
              li(class=!data.t?"active":"")
                a(href=`/e/log/public`) 用户
              li(class=data.t === "visitor"?"active":"")
                a(href=`/e/log/public?t=visitor`) 游客
          .col-xs-12.col-md-12
            .form.form-inline
              .form-group
                label 开始时间
                input.form-control#startTime(req="true" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value=`${data.searchMap.sTime||""}`)
              .form-group
                label 结束时间  
                input.form-control#endTime(req="true" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value=`${data.searchMap.eTime||""}`)
            .form.form-inline.m-t-1
              .form-group
                label 用户ID
                input.form-control#userId(value=`${data.searchMap.uid||''}`)
              .form-group
                label IP
                input.form-control#ipAdress(value=`${data.searchMap.ip||''}`)
            .form.form-inline.m-t-1.m-b-2
              .form-group
                label 操作ID
                input.form-control#operationId(value=`${data.searchMap.operationId || ""}`)
              .form-group
                button.btn.btn-primary.btn-block(onclick='searchLogs()') 查询
          .col-xs-12.col-md-12
            include ../../publicModules/paging/paging
            .table-responsive
              table.table.table-bordered
                thead
                  tr
                    th 时间
                    th 用户
                    th 操作名（操作ID）
                    th URL
                    th 方法
                    th 状态
                    th IP
                    th 来源
                    th 客户端（点击查看详情）
                tbody
                  for log, index in data.result
                    tr
                      th= format("YYYY/MM/DD HH:mm:ss", log.reqTime)
                      th
                        if log.user
                          a(href=`/u/${log.uid}` target="_blank")=log.user.username
                        else
                          |游客
                      th= `${lang("operations", log.operationId)}（${log.operationId}）`
                      th= log.path
                      th= log.method
                      th= log.status
                      th
                        a(href=ipUrl(log.ip) target="_blank")=log.ip
                      th
                        .referer
                          a(href=log.referer target="_blank")=log.referer
                      th
                        .user-agent(onclick=`sweetAlert('${log.userAgent}')`)=log.userAgent
            include ../../publicModules/paging/paging_input


block scripts

  +includeJS('/interface_common.js')
  +includeJS('/experimental/settings/operation.js')
  +includeJS('/experimental/log/public.js')
  +includeJS('/laydate/laydate.dev.js')



