extends ../experimental
block eTitle
  title 隐私修改
block eContent
  .hidden#data=objToStr({c: data.c, t: data.t})
  .container-fluid.max-width#app(v-cloak)
    .row
      .col-xs-12.col-md-12
        .form.form-inline
          .form-group
            select.form-control(v-model="t")
              option(value="username") 用户名
              option(value="uid") 用户ID
              option(value="email") 邮箱
              option(value="mobile") 手机号
              option(value="ip") IP
            input.form-control(v-model="c" @keyup.enter="search")
          .form-group
            button.btn.btn-primary(@click="search") 搜索
            button.btn.btn-default(@click="reset") 重置
      .col-xs-12.col-md-12.m-t-1
        include ../../publicModules/paging/paging
      .col-xs-12.col-md-12
        table.table
          thead
            tr
              th 时间
              th 用户
              th 类型
              th 改前
              th 改后
              th IP
              th 操作
          tbody
            for secret in data.secrets
              tr
                th= fromNow(secret.toc)
                th
                  a(href=`/u/${secret.uid}` target="_blank" onmouseover=tools.floatUserInfo(secret.uid))= secret.user.username
                th= lang("secretBehaviors", secret.type)
                if !["restoreAccount", "destroy"].includes(secret.type)
                  th= secret.beforeData || "无"
                  th= secret.afterData || "无"
                else
                  th(style="vertical-align: top")
                    div=`用户名：${secret.oldUsername}`
                    div=`国际区号：${secret.oldNationCode || '无'}`
                    div=`手机号：${secret.oldMobile || '无'}`
                    div=`邮箱：${secret.oldEmail || '无'}`
                    div=`头像：`
                      if secret.oldAvatar
                        a(href=tools.getUrl("userAvatar", secret.oldAvatar) target="_blank") 点击查看
                      else
                        | 无
                    div=`背景：`
                      if secret.oldBanner
                        a(href=tools.getUrl("userBanner", secret.oldBanner) target="_blank") 点击查看
                      else
                        | 无
                    div=`简介：${secret.oldDescription || "无"}`
                  th(style="vertical-align: top")
                    div=`用户名：${secret.newUsername}`
                    div=`国际区号：${secret.newNationCode || '无'}`
                    div=`手机号：${secret.newMobile || '无'}`
                    div=`邮箱：${secret.newEmail || '无'}`
                    div=`头像：`
                      if secret.newAvatar
                        a(href=tools.getUrl("userAvatar", secret.newAvatar) target="_blank") 点击查看
                      else
                        | 无
                    div=`背景：`
                      if secret.newBanner
                        a(href=tools.getUrl("userBanner", secret.newBanner) target="_blank") 点击查看
                      else
                        | 无
                    div=`简介：${secret.newDescription || "无"}`
                th= secret.ip
                th
                  if ["destroy"].includes(secret.type)
                    if secret.user.destroyed
                      button.btn.btn-default.btn-sm(onclick=`restore('${secret._id}')`) 恢复
                    else
                      span 已恢复
      .col-xs-12.col-md-12
        include ../../publicModules/paging/paging_input
block scripts
  include ../../publicModules/floatUserPanel/floatUserPanel
  +includeJS("/experimental/log/secret.js")
