extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
  link(href='/experimental/index.css' rel='stylesheet')
  title 操作设置
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      include ../nav
      .col-xs-12.col-md-10
        .row
          .col-xs-12.col-md-12
            ul.nav.nav-pills
              li(role='presentation' class='active')
                a(href=`/e/log/secret?searchType=email`) 邮箱修改
              li(role='presentation' class='active')
                a(href=`/e/log/secret?searchType=password`) 密码修改
              li(role='presentation' class='active')
                a(href=`/e/log/secret?searchType=mobile`) 手机修改
              li(role='presentation' class='active')
                a(href=`/e/log/secret?searchType=username`) 用户名修改
          .form-group
            .col-sm-5
              input.form-control#startTime(placeholder="开始时间" req="true" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})")
              input.form-control#endTime(placeholder="结束时间" req="true" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})")
          .form-group
          if data.searchType === "email"
            .col-xs-12.col-md-12
              table.table.table-hover
                thead
                  tr
                    th 类型
                    th 用户
                    th 时间
                    th 当前邮箱
                    th 旧邮箱
                tbody
                  for email in data.result
                    tr
                      -const operationName = email.operationId==="bindEmail"?"绑定邮箱" : "更改邮箱"
                      th= operationName
                      th= email.uid
                      th= fromNow(email.toc)
                      -const newEmail = email.newEmail?email.newEmail : email.email 
                      th= newEmail
                      -const oldEmail = email.oldEmail?email.oldEmail : ''
                      th= oldEmail
          else if data.searchType === "mobile"
            .col-xs-12.col-md-12
              table.table.table-hover
                thead
                  tr
                    th 类型
                    th 用户
                    th 时间
                    th 当前手机
                    th 旧手机
                tbody
                  for mobile in data.result
                    tr
                      -const operationName = mobile.operationId==="bindMobile"?"绑定手机" : "更改手机"
                      th= operationName
                      th= mobile.uid
                      th= fromNow(mobile.toc)
                      -const newMobile = mobile.newMobile?mobile.newMobile : mobile.mobile 
                      th= newMobile
                      -const oldMobile = mobile.oldMobile?mobile.oldMobile : ''
                      th= oldMobile
          else if data.searchType === "username"
            .col-xs-12.col-md-12
              table.table.table-hover
                thead
                  tr
                    th 类型
                    th 用户
                    th 时间
                    th 新用户名
                    th 旧用户名
                tbody
                  for name in data.result
                    tr
                      -const operationName = mobile.operationId==="modifyUsername"?"修改用户名" : ""
                      th= operationName
                      th= mobile.uid
                      th= fromNow(mobile.toc)
                      -const newMobile = mobile.newMobile?mobile.newMobile : mobile.mobile 
                      th= newMobile
                      -const oldMobile = mobile.oldMobile?mobile.oldMobile : ''
                      th= oldMobile
            -console.log("other")


block scripts

  script(src='/icheck/icheck.js')
  script(src='/interface_common.js')
  script(src='/experimental/settings/operation.js')
  script(src='/laydate/laydate.dev.js')



