extends ../experimental
block eTitle
  title 隐私修改
block eContent
  .hidden#data=objToStr({c: data.c, t: data.t})
  .container-fluid.max-width#app(v-cloak)
    .row
      .col-xs-12.col-md-12
        .form.form-inline
          .form-group
            select.form-control(v-model="t")
              option(value="username") 用户名
              option(value="uid") 用户ID
              option(value="ip") IP
            input.form-control(v-model="c" @keyup.enter="search")
          .form-group
            button.btn.btn-primary(@click="search") 搜索
            button.btn.btn-default(@click="reset") 重置
      .col-xs-12.col-md-12.m-t-1
        include ../../publicModules/paging/paging
      .col-xs-12.col-md-12
        table.table
          thead
            tr
              th 时间
              th 用户
              th 类型
              th 改前
              th 改后
              th IP
              th 操作
          tbody
            for secret in data.secrets
              tr
                th= fromNow(secret.toc)
                th
                  a(href=`/u/${secret.uid}` target="_blank" onmouseover=tools.floatUserInfo(secret.uid))= secret.user.username
                th= lang("secretBehaviors", secret.type)
                th= secret.beforeData
                th= secret.afterData
                th= secret.ip
                th
                  if secret.type === "destroy"
                    button.btn.btn-default.btn-sm 恢复
      .col-xs-12.col-md-12
        include ../../publicModules/paging/paging_input
block scripts
  include ../../publicModules/floatUserPanel/floatUserPanel
  +includeJS("/experimental/log/secret.js")
