extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
  link(href='/experimental/index.css' rel='stylesheet')
  title 操作设置
block content

  .container-fluid.max-width
    .row
      include ../nav
      .col-xs-12.col-md-12
        .row
          .col-xs-12.col-md-12
            .row
              .col-xs-12.col-md-12
                ul.nav.nav-pills(style='padding-bottom: 10px;')
                  li(role='presentation' class=!data.type?'active':'')
                    a(href=`/e/log/secret`) 全部
                  li(role='presentation' class=data.type==='email'?'active':'')
                    a(href=`/e/log/secret?type=email`) 邮箱修改
                  li(role='presentation' class=data.type==='password'?'active':'')
                    a(href=`/e/log/secret?type=password`) 密码修改
                  li(role='presentation' class=data.type==='mobile'?'active':'')
                    a(href=`/e/log/secret?type=mobile`) 手机修改
                  li(role='presentation' class=data.type==='username'?'active':'')
                    a(href=`/e/log/secret?type=username`) 用户名修改
              .col-xs-12.col-md-12
                -const type = data.type?data.type:'all'
                include ../../interface_navigation_paging
                if type === "all"
                  .col-xs-12.col-md-12
                    table.table.table-hover
                      thead
                        tr
                          th 类型
                          th 操作者
                          th 时间
                          th 更改前
                          th 更改后
                          th IP
                      tbody
                        for all in data.result
                          tr
                            -const operationName = all.operationData?all.operationData.description : ""
                            th= operationName
                            th
                              a(href=`/u/${all.uid}` target="_blank")
                                span= all.user.username
                            th= fromNow(all.toc)
                            -let beforeData = all.email?all.email:'';
                            -beforeData = all.mobile?all.mobile:beforeData;
                            -beforeData = all.newEmail?all.newEmail:beforeData;
                            -beforeData = all.newUsername?all.newUsername:beforeData;
                            -beforeData = all.newMobile?all.newMobile:beforeData;
                            
                            -let afterData = all.oldEmail?all.oldEmail:'';
                            -afterData = all.oldUsername?all.oldUsername:afterData;
                            -afterData = all.oldMobile?all.oldMobile:afterData;
                            th= afterData
                            th= beforeData
                            th= all.ip
                if data.type === "email"
                  .col-xs-12.col-md-12
                    table.table.table-hover
                      thead
                        tr
                          th 类型
                          th 操作者
                          th 用户名称
                          th 时间
                          th 当前邮箱
                          th 旧邮箱
                      tbody
                        for email in data.result
                          tr
                            -const operationName = email.operationId==="bindEmail"?"绑定邮箱" : "更改邮箱"
                            th= operationName
                            th
                              a(href=`/u/${email.uid}` target="_blank")
                            -const username = email.user?email.user.username : ''
                            th= username
                            th= fromNow(email.toc)
                            -const newEmail = email.newEmail?email.newEmail : email.email 
                            th= newEmail
                            -const oldEmail = email.oldEmail?email.oldEmail : ''
                            th= oldEmail
                else if data.type === "mobile"
                  .col-xs-12.col-md-12
                    table.table.table-hover
                      thead
                        tr
                          th 类型
                          th 用户id
                          th 用户名称
                          th 时间
                          th 当前手机
                          th 旧手机
                      tbody
                        for mobile in data.result
                          tr
                            -const operationName = mobile.operationId==="bindMobile"?"绑定手机" : "更改手机"
                            th= operationName
                            th= mobile.uid
                            -const username = mobile.user?mobile.user.username : ''
                            th= username
                            th= fromNow(mobile.toc)
                            -const newMobile = mobile.newMobile?mobile.newMobile : mobile.mobile 
                            th= newMobile
                            -const oldMobile = mobile.oldMobile?mobile.oldMobile : ''
                            th= oldMobile
                else if data.type === "username"
                  .col-xs-12.col-md-12
                    table.table.table-hover
                      thead
                        tr
                          th 类型
                          th 用户
                          th 时间
                          th 新用户名
                          th 旧用户名
                      tbody
                        for name in data.result
                          tr
                            -const operationName = name.operationId==="modifyUsername"?"修改用户名" : ""
                            th= operationName
                            th= name.uid
                            th= fromNow(name.toc)
                            -const newName = name.newUsername?name.newUsername : ''
                            th= newName
                            -const oldName = name.oldUsername?name.oldUsername : ''
                            th= oldName
                else if data.type === "password"
                  .col-xs-12.col-md-12
                    table.table.table-hover
                      thead
                        tr
                          th 类型
                          th 操作者
                          th 时间
                          th 新密码
                          th 旧密码
                      tbody
                        for pass in data.result
                          tr
                            -const operationName = pass.operationId==="modifyPassword"?"修改密码" : ""
                            th= operationName
                            th
                              a(href=`/u/${pass.uid}` target="_blank")
                                span= pass.user?pass.user.username : ''
                            th= fromNow(pass.toc)
                            th= "newName"
                            th= "oldName"


block scripts

  script(src='/icheck/icheck.js')
  script(src='/interface_common.js')
  script(src='/experimental/settings/operation.js')
  script(src='/laydate/laydate.dev.js')



