extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  +includeCSS('/experimental/index.css')
  title 分享操作日志
block content

  .container-fluid.max-width
    .row
      include ../nav
    .col-xs-12.col-md-12
      .form-inline(style='margin-bottom: 1rem;')
        .form-group
          input.form-control#codeInp(placeholder='请输入分享码')
        .form-group
          button.btn.btn-primary(type='submit' onClick='searchCode()') 搜索分享码
          span &nbsp;
          a.btn.btn-default(href='/e/log/share') 全部
    .col-xs-12.col-md-12.table-responsive
      -const type = data.type
      include ../../interface_navigation_paging
      table.table.table-bordered(style='font-size: 1rem;')
        thead
          tr
            th 时间
            th 类型
            th 点击者
            th 分享者
            th 分享码
            th 原始Url
            th 分享者获得科创币
            th ip
            th 来源
            th 设备信息
        tbody
          for log in data.result
            tr
              th=log.toc.toLocaleString()
              th 
                span=log.type==="cli"?"点击":"发起"
              th
                if log.type === "cli"
                  if !log.user
                    span 游客
                  else
                    span
                      a(href=`/u/${log.uid}` target="_blank")=log.user.username
              th
                if !log.shareUser
                  span 游客
                else
                  span
                    a(href=`/u/${log.shareUid}` target="_blank")=log.shareUser.username
              th
                span=log.code
              th
                a(href=`${log.originUrl}`)=log.originUrl
              th
                span=log.kcb/100
              th
                a(href=ipUrl(log.ip) target="_blank")=`${log.ip}:${log.port}`
              th
                .referer
                  a(href=log.referer target="_blank")=log.referer
              th
                .user-agent(onclick=`sweetAlert('${log.machine}')`)=log.machine


      include ../../interface_navigation_paging
block scripts
  +includeJS('/experimental/log/share.js')