extends ../bootstrap_base
block title
  title 试题审核
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width
    include ./nav
    .row
      .col-xs-12.col-md-6.m-t-1
        if data.questions.length === 0
          h4 没有需要被审核的试题
        else
          ul.media-list
            for question in data.questions
              li.media
                .media-left
                  a(href=`/u/${question.uid}` target='_blank')
                    img.media-object(src=tools.getUrl('userAvatar', question.user.avatar) style='width: 3rem; height: 3rem;')
                .media-body
                  h5.media-heading=`${question.user.username} ${format('YYYY/MM/DD HH:mm:ss', question.toc)}`
                  div!=markdown(question.content)
                span 快速审核
                a(href=`/exam/editor?qid=${question._id}` target='_blank') 去编辑器处理


block scripts
  include ../publicModules/mdToHtml
  include ../publicModules/xss
  include ../publicModules/moment
  include ../MathJax
  //-+includeJS('/exam/auth.js')
