extends ../../../../bootstrap_base
block title
  title 未验证的手机号
  +includeCSS('/experimental/index.css')
  +includeCSS("/experimental/settings/safe/unverifiedPhone/unverifiedPhone.css")
  
block content
  .container-fluid.max-width
    #app.row(v-cloak)
      include ../../../nav
      .col-xs-12.col-md-12
        h4 未验证的手机号
        p.text-danger 未绑定手机号和验证仍在有效期内的用户不在此列表中
      .col-xs-12.col-md-12
        .form-inline(style='margin-bottom: 1rem;')
          .form-group
            select.form-control(v-model="type")
              option(value='username') 用户名
              option(value='uid') UID
              option(value='phone') 手机号
          .form-group
            input.form-control(placeholder='请输入内容' v-model="content")
          .form-group
            button.btn.btn-primary(type='submit' @click="search()") 搜索
            span &nbsp;
            a.btn.btn-default(type='submit' href='./unverifiedPhone') 全部
          .text-danger= data.info
      .col-xs-12.col-md-12
        include ../../../../publicModules/paging/paging
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th 用户
                th 手机号
                th 最近一次验证时间
                th 多长时间未验证了
            tbody
              if data.list.length
                for person in data.list
                  tr
                    td
                      .user
                        .user-avatar(style=`background-image: url(${tools.getUrl("userAvatar", person.userinfo.avatar)})`)
                        a.username(href=tools.getUrl("userHome", person.uid) data-float-uid=person.uid)= person.userinfo.username
                    td= person.mobile? person.mobile : "未绑定" 
                    td= person.lastVerifyPhoneNumberTime? format("YYYY/MM/DD HH:mm:ss", person.lastVerifyPhoneNumberTime) : "无记录"
                    td= person.timeout? person.timeout.toFixed(2) + "小时" : "无法计算"
              else
                tr
                  td(colspan="4")
                    center 无


block scripts
  +includeJS("/experimental/settings/safe/unverifiedPhone/unverifiedPhone.js")
  include ../../../../publicModules/subscribeTypes/subscribeTypes.pug
  include ../../../../publicModules/floatUserPanel/floatUserPanel.2.pug