extends ../settings/settings.pug
block settingsTitle
  title 数据统计
block settingsContent
  .column-status
    h2 数据统计
    hr
    h4 总览
    .m-b-4
      .row
        .col-xs-6.col-md-3
          .status-number
            span 订阅数
            .number=tools.briefNumber(data.column.subCount)
        .col-xs-6.col-md-3
          .status-number
            span 阅读数
            .number=tools.briefNumber(data.column.postHits)
        .col-xs-6.col-md-3
          .status-number
            span 点赞数
            .number=tools.briefNumber(data.column.postVoteUp)
        .col-xs-6.col-md-3
          .status-number
            span 分享数
            .number=data.column.subCount
    .m-b-1
      h4 订阅趋势
      #subscriptionDom
    .m-b-1
      h4 阅读趋势
       small （仅包含注册用户）
      #hitDom
    .m-b-1
      h4 点赞趋势
      #voteUpDom
    .m-b-1
      h4 分享趋势
      #shareDom
    .m-b-1
      h4 最热文章
      #threadList(v-cloak).column-status-threads
        ul.nav.nav-tabs.column-status-threads-nav.m-b-05
          li(v-for='n in nav' :class="{'active': n.type === sort}" @click='switchSort(n.type)')
            a {{n.name}}
        mixin pageButton
          .paging-button(v-if='paging.buttonValue.length').m-t-05
            a.button.pointer(v-for="b, index in paging.buttonValue"
              :class="{'active':b.type==='active', 'radius-left': index===0, 'radius-right': index+1 === paging.buttonValue.length}"
              @click="selectPage(b.type, b.num)"
            ) {{b.num>=0?b.num+1:"..."}}
        .column-status-threads-container
          +pageButton
          .column-status-thread(v-for='p in columnPosts')
            span.column-status-number(v-if='sort === "hit"') {{briefNumber(p.hits)}}
            span.column-status-number(v-else-if='sort === "postCount"') {{briefNumber(p.postCount)}}
            span.column-status-number(v-else) {{briefNumber(p.voteUp)}}
            a.column-status-title(:href="p.url" target="_blank") {{p.title}}
          +pageButton
  .hidden#data=objToStr({column: data.column, times: data.times, subscriptions: data.subscriptions, hits: data.hits, voteUp: data.voteUp, share: data.share})
block settingsScripts
  +includeJS("/echarts/dist/echarts.min.js")
  +includeJS('/columns/status/status.js')