extends ../fundContainer
block fundTitle
  title= `基金账单`
block fundContent
  -var {fundSettings} = data;
  -var displayBalance = [undefined, 'fundPool'].includes(data.type);
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.box-shadow-panel
        div
          if displayBalance
            ul.nav.nav-tabs
              li(role="presentation" class= data.type === undefined ? 'active' : '')
                a(href=`/fund/bills${data.paging.page > 0 ? `?page=${data.paging.page}` : ''}`) 全部账单
              li(role="presentation" class= data.type === 'fundPool'? 'active' : '')
                a(href=`/fund/bills?type=fundPool${data.paging.page > 0 ?`&page=${data.paging.page}`:''}`) 资金池
          if data.bills.length === 0
            .blank 暂无数据
          else
            if displayBalance
              if data.type !== 'fundPool'
                h4(style='color:#ff7979;')= `总资金(资金池+所有基金项目)剩余：${data.balance.toFixed(1)}元`
              else
                h5=`资金池介绍：${data.fundSettings.fundPoolDescription}`
                h4(style='color:#ff7979;')= `资金池剩余：${data.balance.toFixed(1)}元`
            else
              h4= `所有赞助记录：`
            -var url = `/fund/bills`;
            include ../page
            .table-responsive
              include ./billList
            include ../page

block scripts
  +includeJS('/fund/bills/bills.js')
