extends ../account/shopAccountBase
block shopAccountTitle
  title=`我的订单 | 科创商城`
block shopAccountContent
  .row
    //- .col-md-12.col-sm-12.col-xs-12
    //-   button.btn.btn-primary(onclick=`addClassify()`) 添加分类
    .col-md-12.col-sm-12.col-xs-12(style="margin-bottom:20px")
      ul.nav.nav-pills(style="border:1px solid #ddd")
        li(class=!data.orderStatus || data.orderStatus == "all"?"active":"")
          a(href=`/shop/order?orderStatus=all`, data-toggle='url') 全部订单
        li(class=data.orderStatus == "unCost"?"active":"")
          a(href=`/shop/order?orderStatus=unCost`, data-toggle='url') 待付款
        li(class=data.orderStatus == "unShip"?"active":"")
          a(href=`/shop/order?orderStatus=unShip`, data-toggle='url') 待发货
        li(class=data.orderStatus == "unSign"?"active":"")
          a(href=`/shop/order?orderStatus=unSign`, data-toggle='url') 待收货
        li(class=data.orderStatus == "finish"?"active":"")
          a(href=`/shop/order?orderStatus=finish`, data-toggle='url') 完成的订单
        li(class=data.orderStatus == "close"?"active":"") 
          a(href=`/shop/order?orderStatus=close`, data-toggle="url") 关闭的订单
        li(class=data.orderStatus == "refunding"?"active":"")
          a(href=`/shop/order?orderStatus=refunding`, data-toggle='url') 退款中的订单
    .col-md-12.col-sm-12.col-xs-12(style="text-align:end")
      include ../../interface_navigation_paging
    .col-md-12.col-sm-12.col-xs-12  
      table.table.table-bordered
        thead
          tr(style="background-color:silver")
            th(style="width:200px") 商品名称
            th 属性
            th 商品单价
            th 数量
            th 实际付款
            th 交易状态
            th 交易操作
        tbody
          for order in data.orders
            tr(style="background-color: #d3f2ff;border-top:2px solid black;") 
              td(colspan="11") 
                p
                  span(style="font-weight:800") 订单号:&nbsp;
                  span=order.orderId
                  span(style="margin-left:20px;font-weight:800") 创建时间:&nbsp;
                  span=order.orderToc.toLocaleString()
                  span(style="margin-left:20px;font-weight:800") 卖家：&nbsp;
                  span
                    a(href=`/u/${order.sellUid}`)!=`${order.sellUser.username}`
            for para,key in order.params
              tr(style="min-height:100px")
                td
                  div(style="float:left")
                    img(src=`/r/${para.product.imgMaster}` style="width:60px;height:60px")
                  div
                    a(href=`/shop/product/${para.product.productId}` target="_blank")=para.product.name
                td=para.productParam.name
                td #{numToFloatTwo(para.productParam.price)}
                td=para.count
                if key == 0
                  td(rowspan=`${order.params.length}`) #{numToFloatTwo(order.orderPrice + order.orderFreightPrice)}
                  td(rowspan=`${order.params.length}`)= order.status
                    | &nbsp;  
                    a(href=`/shop/order/${order.orderId}/detail` target="_blank") 订单详情
                  //- td #{numToFloatTwo(calculateFreightPrice(order.product.freightPrice,order.count,order.product.isFreePost))}
                  td(rowspan=`${order.params.length}`) 
                    if order.orderStatus !== "finish" && order.closeStatus !== true
                      if order.orderStatus === "unCost"
                        a(href=`/shop/order/${order.orderId}/refund`) 取消订单
                      else 
                        a(href=`/shop/order/${order.orderId}/refund`) 申请退款
                    if order.orderStatus == "unCost"&& order.closeStatus !== true
                      p
                        a(href=`/shop/pay?ordersId=${order.orderId}`) 立即付款
                    if order.orderStatus == "unSign" || order.orderStatus == "finish"
                      p
                        button(onclick=`visitLogisticsInfo(${order.orderId})`) 查看物流
                    if order.refundStatus == "ing"
                      p
                        a(href=`/shop/order/${order.orderId}/refund`) 退款详情
                    if order.orderStatus == "unSign" && order.closeStatus !== true
                      p
                        button(onclick=`comfirmReceipt(${order.orderId})`) 确认收货
                    if order.orderStatus == "finish"
                      p
                        //- button(onclick=`joinToDiscuss(${order.product.tid})`) 参与讨论
            if order.buyMessage
              tr
                td(style="font-size: 12px;background-color: cornsilk;color: tomato;text-align:right" colspan="7")!=`我的留言： ${order.buyMessage}`
    .col-md-12.col-sm-12.col-xs-12(style="text-align:end")
      include ../../interface_navigation_paging
block shopScripts
  +includeJS('/shop/cart/cart.js')
  +includeJS('/shop/order/order.js')
