extends ../shop
block shopTitle
  title 我的订单
block shopContent
  div
    .order-navs
      a(class=!data.t || data.orderStatus === "all"?"active":"" href=`/shop/order`).order-nav 全部
      a(class=data.t === "unCost"?"active":"" href=`/shop/order?t=unCost`).order-nav 待付款
      a(class=data.t === "unShip"?"active":"" href=`/shop/order?t=unShip`).order-nav 待发货
      a(class=data.t === "unSign"?"active":"" href=`/shop/order?t=unSign`).order-nav 待收货
      a(class=data.t === "finish"?"active":"" href=`/shop/order?t=finish`).order-nav 已完成
      a(class=data.t === "close"?"active":"" href=`/shop/order?t=close`).order-nav 已关闭
      a(class=data.t === "refunding"?"active":"" href=`/shop/order?t=refunding`).order-nav 正在退款
  div
    include ../../publicModules/paging/paging
    if !data.orders.length
      .null 空空如也~
    else
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th 商品名称
              //th 规格
              th.text-center 商品单价
              th.text-center 数量
              th.text-center 实际付款
              th.text-center 交易状态
              th.text-center 其他
          tbody
            for order in data.orders
              tr
                td(colspan="11").order-infos
                  .order-info
                    .value.time=format("YYYY/MM/DD HH:mm:ss", order.orderToc)
                  .order-info
                    .name 订单号：
                    .value=order.orderId

                  .order-info
                    .name 卖家：
                    a.value(href=`/u/${order.sellUid}` onmouseover=tools.floatUserInfo(order.sellUid))=order.sellUser.username
                    a.value(href=`/message?uid=${order.sellUid}` title=`联系卖家(${order.sellUser.online?"在线":"离线"})` target="_blank")
                      .fa.fa-commenting-o(class=order.sellUser.online?"active":"")
              for param,key in order.params
                tr
                  td
                    div.order-name-info
                      .order-cover
                        img(src=`/r/${param.product.imgMaster}`)
                      .order-name
                        a(href=`/shop/product/${param.product.productId}` title=param.product.name)=param.product.name
                        .order-param(title=param.productParam.name)=`规格：${param.productParam.name}`
                  //-td
                    div.order-param=param.productParam.name
                  td
                    div.order-price
                      .number=`￥${numToFloatTwo(param.singlePrice)}`
                  td
                    div.order-count=param.count
                  if !key
                    -const paramsCount = order.params.length;
                    td(rowspan=paramsCount).order-price-total
                      .order-price
                        .number=`￥${numToFloatTwo(order.orderPrice + order.orderFreightPrice)}`
                    td.order-status(rowspan=paramsCount)= order.status
                    td(rowspan=paramsCount).order-links
                      a(href=`/shop/order/${order.orderId}/detail`) 订单详情
                      if !order.closeStatus
                        if order.orderStatus !== "finish"
                          //- 订单未完成且未关闭
                          if order.orderStatus === "unCost"
                            //- 未付款 可取消订单
                            a(href=`/shop/order/${order.orderId}/refund`) 取消订单
                          else
                            //- 已付款 只能申请退款
                            a(href=`/shop/order/${order.orderId}/refund`) 申请退款
                        if order.orderStatus === "unCost"
                          a(href=`/shop/pay?ordersId=${order.orderId}`) 立即付款
                      if order.orderStatus === "unSign" || order.orderStatus === "finish"
                        //- 待收货或已完成的订单可查看物流
                        if !order.trackNumber || order.trackNumber === "no"
                          a 无物流配送
                        else
                          a(href=`/shop/order/${order.orderId}/logistics`) 查看物流
                      if order.refundStatus === "ing"
                        a(href=`/shop/order/${order.orderId}/refund`) 退款详情
                      if order.orderStatus === "unSign" && !order.closeStatus
                        button(onclick=`comfirmReceipt(${order.orderId})`) 确认收货
              if order.buyMessage
                tr
                  td(colspan="6").order-message
                    .name 我的留言：
                    span=`${order.buyMessage}`
    include ../../publicModules/paging/paging_input
block shopScripts
  include ../../publicModules/floatUserPanel/floatUserPanel
  +includeJS("/js/shop/order.js")