extends ../columnBase
block columnTitle
  title 投稿
  style.
    body{
        background-color: #fff;
    }
block content
  #data.hidden=objToStr({user: data.user, column: data.column, mainCategories: data.mainCategories, minorCategories: data.minorCategories})
  .container-fluid.max-width#app(v-cloak)
    .row
      .col-xs-12.col-md-8.col-md-offset-2(v-if="succeed")
        .m-t-5
          .text-center
            include ../../publicModules/icon-success
            h3 投稿成功
            p 等待专栏主审核，审核通过后文章可在专栏显示。
            a(href=`/m/${data.column._id}`) 返回专栏

      .col-xs-12.col-md-8.col-md-offset-2(v-else)
        h4
          b 投稿说明
        p!=LineFeedConversion(data.columnSettings.contributeInfo)
        hr
        h4
          b 目标专栏
        .contribute-column.m-b-4
          img(src=tools.getUrl('columnAvatar', data.column.avatar, 'sm'))
          .contribute-column-info
            a(href=`/m/${data.column._id}` target="_blank").name=data.column.name
            .description=data.column.abbr
        .row
          .col-xs-12.col-md-12
            .form
              .form-group
                h5
                  b 已选择的文章
                .m-b-3.text-center(v-if="selectedThreads.length === 0") 暂无数据
                div(v-else)
                  .contribute-thread(v-for="thread, index in selectedThreads")
                    .checkbox
                      button.m-r-05.btn.btn-danger.btn-xs(@click="remove(index)") 删除
                      a(:href="thread.url" target="_blank") {{thread.t}}
              .form-group
                article-selector-dialog(
                  ref="articleSelectorDialog"
                )
                h5
                  b 我的文章&nbsp;
                    small 请勾选需要投稿的文章
                button.btn.btn-primary.btn-sm(@click="openSelector()") 选择
              .form-group.m-t-2
                h5
                  b 选择文章分类
                .row
                  .col-xs-12.col-md-6
                    strong.category-type 主分类
                    .checkbox(v-for="c in mainCategories")
                      label
                        span(v-for="index in c.level") &nbsp;&nbsp;&nbsp;&nbsp;
                        input(type="checkbox" :value="c._id" v-model="mainCategoriesId")
                        span {{c.name}}
                  .col-xs-12.col-md-6
                    strong.category-type 辅分类
                    .checkbox(v-for="c in minorCategories")
                      label
                        span(v-for="index in c.level") &nbsp;&nbsp;&nbsp;&nbsp;
                        input(type="checkbox" :value="c._id" v-model="minorCategoriesId")
                        span {{c.name}}
              .form-group
                h5
                  b 补充说明（选填）
                textarea.form-control(rows=6 v-model="description")
              .form-group
                h5.text-danger(v-if="error") {{error}}
                button.btn.btn-primary.btn-sm(@click="submit") 提交
          .col-xs-12.col-md-6

block scripts
  +includeJS("/tools.js")
  +includeJS("/columns/contribute/contribute.js")



