extends ../bootstrap_base
block title
  title=`社区 - ${state.serverSettings.websiteName}`
  +includeCSS('/community/community.css')
block content
  include ./homeForumList
  include ../publicModules/adPanel/adPanel

  -
    var movableThreads = data.ads.movable.map(thread => {
      return {
        url: `/t/${thread.tid}`,
        coverUrl: tools.getUrl('recommendThreadCover', thread.cover),
        title: thread.title,
      }
    });

    var fixedThreads = data.ads.fixed.map(thread => {
      return {
        url: `/t/${thread.tid}`,
        coverUrl: tools.getUrl('recommendThreadCover', thread.cover),
        title: thread.title,
      };
    });

    var showVisitedForum = data.user && data.visitedForums && data.visitedForums.length > 0

  mixin threadTitleList(title, threads, url)
    .thread-title-list
      .thread-title-list-header=title
        if url
          a(href=url) 查看更多
      for thread in threads
        .thread-title-list-item
          img(
            src=thread.avatarUrl
            data-global-mouseover="showUserPanel"
            data-global-mouseout="hideUserPanel"
            data-global-data=objToStr({ uid: thread.uid })
            )
          a(
            href=thread.url
            class=thread.digest? 'digest': ''
            title=thread.title
            target="_blank"
            )=thread.title
  mixin subscribeForumList(title, forums)
    .box-shadow-header=title
    .community-new-container
      for forum in forums
        .community-forum-item(
          data-global-mouseover="showForumPanel"
          data-global-mouseout="hideForumPanel"
          data-global-data=objToStr({ fid: forum.fid })
        )
          .community-forum-item-avatar
            if forum.logoUrl
              img(src=forum.logoUrl)
            else
              div(style=`background-color: ${forum.color};`)
          a.community-forum-item-name(href=forum.url)=forum.name

  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        include ./communityTab
        +renderCommunityTab(state.isApp,data.activeTab,data.communityTab,data.user)
      .col-xs-12.col-md-12
        if !state.isApp
          .row
            //- 首页推荐
            .col-xs-12.col-md-4.m-b-1.min-md-p-r-0.max-sm-p-a-0.min-md-p-r-0
              +movableAD(movableThreads)
            .col-xs-12.col-md-8.max-sm-p-a-0
              .col-xs-12.col-md-4.m-b-1
                .row.p-r-05.max-sm-p-a-0
                  +threadTitleList('最新发表', data.latestThreads, '/c/new?t=thread&s=toc')
              .col-xs-12.col-md-4.m-b-1
                .row.p-r-05.max-sm-p-a-0
                  +threadTitleList('最近回复', data.latestPostThreads, '/c/new?t=thread')
              .col-xs-12.col-md-4.m-b-1
                .row
                  +threadTitleList('精选', data.digestThreads, '/c/new?t=digest')

      .col-xs-12.col-md-9.min-md-p-r-0

        if data.communityToppedThreads && data.communityToppedThreads.length
          .m-b-1.box-shadow
            .box-shadow-header 置顶
            .home-threads
              for thread in data.communityToppedThreads
                include ../publicModules/thread_panel/thread_panel
        div
          .row
            if !state.isApp
              .col-xs-12(class=showVisitedForum? 'col-md-6 min-md-p-r-0': '')
                .box-shadow.m-b-1
                  .box-shadow-header 总览
                  .community-new-container
                    .row
                      .col-xs-6
                        a.community-new-title(href='/c/new')=`快捷总版`
                        span(title='更新/文章/回复')
                          span  (
                          if data.communityContentCount.postCountToday > 0
                            span.text-danger
                              strong=data.communityContentCount.postCountToday
                            span /
                          span=data.communityContentCount.threadCount
                          span /
                          span=data.communityContentCount.postCount
                          span )
                        .community-new-desc 论坛最新帖子、精选帖子
                      if data.user
                        .col-xs-6
                          a.community-new-title(href='/c/sub')=`我的关注`
                          .community-new-desc 已关注专业下的最新帖子
            if showVisitedForum
              .col-xs-12.col-md-6
                .box-shadow.m-b-1
                  +subscribeForumList('快捷入口', data.visitedForums)
        for cf in data.categoryForums
          .home-forums-list.m-b-1.category-forums.box-shadow
            .box-shadow-header=cf.name
            for f in cf.forums
              if cf.displayStyle === 'simple'
                +forumList(f, cf.displayStyle)
              else if cf.displayStyle === 'detailed'
                +detailedForumList(f)
              else
                +normalForumList(f)

      .col-xs-12.col-md-3
        include ./communitySide
        -
          var communitySideProps = {
            homeBigLogo: data.homeBigLogo,
            improveUserInfo: data.improveUserInfo,
            notices: data.notices,
            managementData: data.managementData,
            appsData: data.appsData,
            academicThreads: data.academicThreads,
            featuredThreads: data.featuredThreads,
            enableFund: data.enableFund,
            fundApplicationForms: data.fundApplicationForms,
            activeUsers: data.activeUsers,
            fundName: data.fundName,
          }
        +communitySide(communitySideProps)
