+includeCSS("/publicModules/survey/form.css")
#moduleSurveyEdit(v-cloak)
  .survey-edit-header {{formName}}
  .survey-edit-body(v-if="survey && roles.length")
    .form.form-horizontal
      .form-group
        label.col-sm-2.control-label 类别
        .col-sm-10
          .survey-type(@click="selectType('vote')")
            .fa.fa-check-circle(v-if="survey.type === 'vote'")
            .fa.fa-circle-o(v-else)
            span 投票
          .survey-type(@click="selectType('score')")
            .fa.fa-check-circle(v-if="survey.type === 'score'")
            .fa.fa-circle-o(v-else)
            span 评分
          .survey-type(@click="selectType('survey')")
            .fa.fa-check-circle(v-if="survey.type === 'survey'")
            .fa.fa-circle-o(v-else)
            span 问卷调查
      .form-group
        label.col-sm-2.control-label 说明
        .col-sm-9
          textarea.form-control(v-model="survey.description" rows=4 placeholder="请输入说明")
      .form-group
        label.col-sm-2.control-label 选项
        .col-sm-9
          .survey-options.m-b-05
            .survey-option(v-for="o, index in survey.options")
              .option-index 选项{{index+1}}
                .pull-right
                  button.btn.btn-xs.btn-default(@click="moveOption('up', o)") 上移
                  button.btn.btn-xs.btn-default(@click="moveOption('down', o)") 下移
                  button.btn.btn-xs.btn-default(@click="removeOption(index)") 删除
              input.m-b-05.form-control(type="text" v-model="o.content" placeholder="选项标题")
              textarea.form-control(v-model="o.description" placeholder="选项说明")
              .row.option-links.m-t-05(v-if="o.links && o.links.length")
                .option-link.m-b-05(v-for="link, index in o.links")
                  .col-xs-12.col-md-8
                    input.form-control(type="text" v-model="link.link" placeholder="选项链接" @change="checkHttp(link)")
                  .col-xs-12.col-md-4
                    button.btn.btn-default(@click="removeLink(o, index)") 删除
              .option-resources
                .option-resource(v-for="r, index in o.resourcesId")
                  .option-resource-img(:style="'background-image:url(/rt/'+r+')'" @click="visitUrl('/r/' + r)")
                  .fa.fa-remove(@click="removeResourceId(o, index)")
              .survey-option-buttons.m-t-05.m-b-05
                button.btn.btn-default.btn-xs(@click="addLink(o)") 添加链接
                button.btn.btn-default.btn-xs(@click="addResource(o)") 添加图片
              .option-answers(v-if="o.answers && o.answers.length && survey.type === 'survey'")
                .survey-answer(v-for="a, index in o.answers")
                  .m-b-05.option-index 答案{{index+1}}
                    .pull-right
                      button.btn.btn-xs.btn-default(@click="removeAnswer(o, index)") 删除

                  input.form-control.m-b-05(placeholder="答案内容" v-model="a.content")
                  .row.option-links.m-t-05(v-if="a.links && a.links.length")
                    .option-link.m-b-05(v-for="link, index in a.links")
                      .col-xs-12.col-md-8
                        input.form-control(type="text" v-model="link.link" placeholder="选项链接" @change="checkHttp(link)")
                      .col-xs-12.col-md-4
                        button.btn.btn-default(@click="removeLink(a, index)") 删除
                  .option-resources
                    .option-resource(v-for="r, index in a.resourcesId")
                      .option-resource-img(:style="'background-image:url(/rt/'+r+')'" @click="visitUrl('/r/' + r)")
                      .fa.fa-remove(@click="removeResourceId(a, index)")
                  button.btn.btn-default.btn-xs(@click="addLink(a)") 添加链接
                  button.btn.btn-default.btn-xs(@click="addResource(a)") 添加图片
              .survey-option-buttons.m-t-05(v-if="survey.type === 'survey'")
                button.btn.btn-default.btn-xs(@click="addAnswer(o)") 添加答案
              .survey-scores(v-if="survey.type === 'score'").form-inline
                h5
                  b 打分范围：
                  | 最小
                  input(type="text" v-model.number="o.minScore" @change="toInt")
                  | &nbsp;最大
                  input(type="text" v-model.number="o.maxScore" @change="toInt")
          button.btn.btn-default.btn-sm(@click="addOption")
            .fa.fa-plus.add-option-button &nbsp;添加选项
      .form-group(v-if="survey.type === 'vote'")
        label.col-sm-2.control-label 选择数量
        .col-sm-9.form-inline
            select.form-control(v-model="survey.voteCount")
              option(v-for="v in voteCount" :value="v") {{v}}
        //.col-sm-9(v-else-if="survey.type === 'survey'")
          h5 设置答案
          .survey-answers(v-if="survey.answers.length")
            .survey-answer(v-for="a, index in survey.answers")
              .m-b-05.option-index 答案{{index+1}}
                .pull-right
                  button.btn.btn-xs.btn-default(@click="removeAnswer(index)") 删除
              input.form-control.m-b-05(placeholder="答案内容")
              textarea.form-control.m-b-05(placeholder="答案介绍")

          button.btn.btn-default.btn-sm(@click="addOptionAnswer")
            .fa.fa-plus.add-option-button &nbsp;添加答案
      .form-group
        label.col-sm-2.control-label 奖励
        .col-sm-9
          .radio
            label.m-r-1
              input(type="radio" v-model="survey.reward.status" :value="false")
              span 关闭
            label
              input(type="radio" v-model="survey.reward.status" :value="true")
              span 开启
          .survey-scores(v-if="survey.reward.status")
            h5 单次奖励
              input(type="text" v-model.number="survey.reward.onceKcb" @change="toInt")
              | &nbsp;科创币，
              | 总奖励次数
              input(type="text" v-model.number="survey.reward.rewardCount" @change="toInt")
      .form-group
        label.col-sm-2.control-label 权限
        .col-sm-9.m-t-05.survey-scores
          .form.col-sm-12
            .form-group
              label 注册天数：
              input(type="text" v-model.number="survey.permission.registerTime" @change="toInt")
          .form.col-sm-12
            .form-group
              label 精选文章数：
              input(type="text" v-model.number="survey.permission.digestThreadCount" @change="toInt")
          .form.col-sm-12
            .form-group
              label 文章总数：
              input(type="text" v-model.number="survey.permission.threadCount" @change="toInt")
          .form.col-sm-12
            .form-group
              label 回复总数：
              input(type="text" v-model.number="survey.permission.postCount" @change="toInt")
          .form.col-sm-12
            .form-group
              label 点赞数：
              input(type="text" v-model.number="survey.permission.voteUpCount" @change="toInt")
          .form.col-sm-12
            .form-group
              label 最小用户等级：
              .radio
                label.m-r-1(v-for="g in grades")
                  input(type="radio" v-model="survey.permission.minGradeId" :value="g._id")
                  span {{g.displayName}}
          .form.col-sm-12
            .form-group
              label 用户证书
              .checkbox
                label.m-r-1(v-for="r in roles")
                  input(type="checkbox" v-model="survey.permission.certsId" :value="r._id")
                  span {{r.displayName}}
      .form-group
        label.col-sm-2.control-label 时间
        .col-sm-9.m-t-05
          .col-sm-12.form
            .form-group
              label 开始时间：
              select(v-model="timeStart.year")
                option(value=(new Date()).getFullYear())=(new Date()).getFullYear()
                //-for(var i = new Date().getFullYear(); i < 2030; i++)
                  option(value=i)=i
              | &nbsp;年
              select(v-model="timeStart.month")
                -for(var i = 1; i < 13; i++)
                  option(value=i)=i
              | &nbsp;月
              select(v-model="timeStart.day")
                option(v-for="i in timeStartDay" :value="i") {{i}}
              | &nbsp;日&nbsp;
              select(v-model="timeStart.hour")
                -for(var i = 0; i < 24; i++)
                  option(value=i)=i
              | &nbsp;时
              select(v-model="timeStart.minute")
                -for(var i = 0; i < 60; i++)
                  option(value=i)=i
              | &nbsp;分
            .form-group
              label 结束时间：
              select(v-model="timeEnd.year")
                -for(var i = (new Date().getFullYear()); i < 2030; i++)
                  option(value=i)=i
              | &nbsp;年
              select(v-model="timeEnd.month")
                -for(var i = 1; i < 13; i++)
                  option(value=i)=i
              | &nbsp;月
              select(v-model="timeEnd.day")
                option(v-for="i in timeEndDay" :value="i") {{i}}
              | &nbsp;日&nbsp;
              select(v-model="timeEnd.hour")
                -for(var i = 0; i < 24; i++)
                  option(value=i)=i
              | &nbsp;时
              select(v-model="timeEnd.minute")
                -for(var i = 0; i < 60; i++)
                  option(value=i)=i
              | &nbsp;分
      //-.form-group
        label.col-sm-2.control-label
        .col-sm-9
          h5.text-danger(v-if="error") {{error}}
          button.btn.btn-primary(@click="submit") 提交
